Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

fix(xfeemngr): fix wei to gwei conversion in monitor info log (#2097)
  monitor/xfeemngr/contract/bound.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): upgrade express
  docs/website/pnpm-lock.yaml
Due: none

chore(ci): add npm dependabot config
  .github/dependabot.yml
Due: none

chore(static): update media files (#2095)
  static/omni-symbol.png
  static/omni_banner.png
Due: none

ci(staging): enable genesis upgrade
  e2e/manifests/staging.toml
Due: none

ci(staging): enable genesis upgrade (#2103)
  e2e/manifests/staging.toml
Due: none

feat(halo/app): add ready endpoint (#2035)
  cli/README.md
  halo/app/monitor.go
  halo/app/ready.go
  halo/app/ready_internal_test.go
  halo/app/start.go
  halo/app/start_test.go
Due: run-go-tests, run-regexp, run-goversion

add spearbit solidity review
  docs/content/learn/5-resources.md
  docs/website/static/spearbit-solidity.pdf
Due: none

chore(docs): add spearbit solidity review (#2105)
  docs/content/learn/5-resources.md
  docs/website/static/spearbit-solidity.pdf
Due: none

chore(docs): upgrade express dependencies (#2100)
  docs/website/pnpm-lock.yaml
Due: none

chore(ci): add npm dependabot config (#2101)
  .github/dependabot.yml
Due: none

fix(octane/keeper): retry fecthing evm event logs
  octane/evmengine/keeper/evmmsgs.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  octane/evmengine/keeper/evmmsgs.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  docs/content/README.md
  docs/content/operate/1-run-full-node.md
  docs/content/operate/2-validator.md
  docs/content/operate/5-faq.md
  docs/content/operate/6-config.md
  docs/website/sidebars.ts
  e2e/app/geth/config_internal_test.go
  e2e/app/geth/testdata/default_config.toml
  e2e/app/setup.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/cometconfig.go
  halo/cmd/init.go
  halo/cmd/testdata/default_config.toml
  halo/config/config_test.go
  halo/config/testdata/test_halo.toml
  halo/evmslashing/evmslashing.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/evmmsgs.go
  octane/evmengine/keeper/helpers.go
  octane/evmengine/keeper/msg_server.go
  octane/evmengine/keeper/proposal_server.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  octane/evmengine/keeper/abci.go
Due: run-go-tests, run-regexp, run-goversion

fix(octane/keeper): retry fecthing evm event logs (#2117)
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/evmmsgs.go
  octane/evmengine/keeper/helpers.go
  octane/evmengine/keeper/msg_server.go
  octane/evmengine/keeper/proposal_server.go
Due: run-go-tests, run-regexp, run-goversion

docs(halo): add configure a full node (#2116)
  docs/content/README.md
  docs/content/operate/1-run-full-node.md
  docs/content/operate/2-validator.md
  docs/content/operate/5-faq.md
  docs/content/operate/6-config.md
  docs/website/sidebars.ts
  e2e/app/geth/config_internal_test.go
  e2e/app/geth/testdata/default_config.toml
  e2e/app/setup.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/cometconfig.go
  halo/cmd/init.go
  halo/cmd/testdata/default_config.toml
  halo/config/config_test.go
  halo/config/testdata/test_halo.toml
  halo/evmslashing/evmslashing.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo/cmd): fix test race
  go.mod
  halo/cmd/cometconfig.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  halo/cmd/cmd_internal_test.go
  halo/cmd/cometconfig.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  go.mod
Due: none

chore(halo/cmd): fix test race (#2119)
  halo/cmd/cmd_internal_test.go
Due: run-go-tests, run-goversion

refactor(e2e/eoa): update mainnet vaults
  e2e/app/eoa/static.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e/eoa): add test for mainnet vaults
  e2e/app/eoa/static_test.go
Due: run-go-tests, run-goversion

fix: potential nil pointer dereference
  lib/cchain/provider/xblock.go
  lib/cchain/provider/xblock_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(e2e): rename owner to manager
  e2e/app/admin/common.go
  e2e/app/admin/pausebridge.go
  e2e/app/admin/pauseportal.go
  e2e/app/admin/pausexcall.go
  e2e/app/admin/pausexsubmit.go
Due: run-go-tests, run-regexp, run-goversion

fix: check length of publickey after unmarshal
  lib/cchain/types.go
Due: run-go-tests, run-regexp, run-goversion

refactor(e2e): rename to manager
  cli/cmd/register_test.go
  contracts/bindings/omnigaspump.go
  e2e/app/admin/common.go
  e2e/app/eoa/static.go
  e2e/app/portalregistry.go
  e2e/app/tokenbridge.go
  lib/contracts/feeoraclev1/deploy.go
  lib/contracts/gaspump/deploy.go
  lib/contracts/gasstation/deploy.go
  lib/contracts/l1bridge/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/testdata/TestContractAddressReference.golden
Due: run-go-tests, run-regexp, run-goversion

feat(scripts): support other repo issues
  scripts/verifypr/verify.go
  scripts/verifypr/verify_internal_test.go
Due: run-go-tests, run-goversion

feat(scripts): support other repo issues (#2124)
  scripts/verifypr/verify.go
  scripts/verifypr/verify_internal_test.go
Due: run-go-tests, run-goversion

refactor(proto): make all module query array non-nullable
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/keeper_test.go
  halo/attest/keeper/valaddr.go
  halo/attest/voter/voter_test.go
  halo/evmslashing/evmslashing.go
  halo/evmstaking/evmstaking.go
  halo/evmupgrade/evmupgrade.go
  halo/portal/keeper/query.go
  halo/portal/types/query.pb.go
  halo/portal/types/query.proto
  halo/registry/keeper/logeventproc.go
  halo/registry/keeper/query.go
  halo/registry/types/query.pb.go
  halo/registry/types/query.proto
  halo/valsync/keeper/query.go
  halo/valsync/keeper/query_internal_test.go
  halo/valsync/types/query.pb.go
  halo/valsync/types/query.proto
  lib/cchain/provider.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/testdata/TestXBlock.golden
  lib/cchain/provider/xblock.go
  lib/cchain/provider/xblock_internal_test.go
  lib/netconf/provider.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/evmmsgs.go
  octane/evmengine/keeper/msg_server.go
  octane/evmengine/keeper/proposal_server.go
  octane/evmengine/types/cpayload.go
  octane/evmengine/types/tx.pb.go
  octane/evmengine/types/tx.proto
Due: run-buf, run-go-tests, run-regexp, run-goversion

refactor(proto): non-nullable proto arrays (#2130)
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/keeper_test.go
  halo/attest/keeper/valaddr.go
  halo/attest/voter/voter_test.go
  halo/evmslashing/evmslashing.go
  halo/evmstaking/evmstaking.go
  halo/evmupgrade/evmupgrade.go
  halo/portal/keeper/query.go
  halo/portal/types/query.pb.go
  halo/portal/types/query.proto
  halo/registry/keeper/logeventproc.go
  halo/registry/keeper/query.go
  halo/registry/types/query.pb.go
  halo/registry/types/query.proto
  halo/valsync/keeper/query.go
  halo/valsync/keeper/query_internal_test.go
  halo/valsync/types/query.pb.go
  halo/valsync/types/query.proto
  lib/cchain/provider.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/testdata/TestXBlock.golden
  lib/cchain/provider/xblock.go
  lib/cchain/provider/xblock_internal_test.go
  lib/netconf/provider.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/evmmsgs.go
  octane/evmengine/keeper/msg_server.go
  octane/evmengine/keeper/proposal_server.go
  octane/evmengine/types/cpayload.go
  octane/evmengine/types/tx.pb.go
  octane/evmengine/types/tx.proto
Due: run-buf, run-go-tests, run-regexp, run-goversion
