Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(solver/app): tiny cleanups (#3677)
  solver/app/helpers.go
  solver/app/procdeps.go
  solver/app/reject.go
  solver/app/reject_internal_test.go
  solver/app/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix typos
  sdk/packages/react-next/README.md
  sdk/packages/react/README.md
Due: none

fix build
  docs/docs/concepts/the-solution.md
Due: none

try out vocs
  docs/docs/pages/guides/basic-deposit.md
  docs/docs/pages/guides/contracts-without-onbehalfof.mdx
  docs/docs/pages/guides/demos/eigenlayer.mdx
  docs/docs/pages/guides/demos/rocketpool.md
  docs/docs/pages/guides/demos/rocketpool.mdx
  docs/docs/pages/guides/demos/symbiotic.mdx
  docs/docs/pages/introduction/what-is-solvernet.md
  docs/docs/pages/sdk/getting-started.mdx
  docs/docs/pages/sdk/supported-assets.md
  docs/docs/pages/sdk/supported-assets.mdx
  docs/vocs.config.ts
Due: none

fix banner
  README.md
Due: none

chore(lib/txmgr): handle nonce too high
  lib/txmgr/txmgr.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  lib/txmgr/txmgr.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): debug reverted txs
  lib/contracts/solvernet/bindings.go
  lib/ethclient/ethbackend/backend.go
  relayer/app/sender.go
  solver/app/app.go
  solver/app/helpers.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/worker.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/txmgr): handle nonce too high (#3683)
  lib/txmgr/txmgr.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  solver/app/worker.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(halo): withdrawals (#3676)
  e2e/test/cli_test.go
  lib/ethclient/enginemock.go
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/keeper_internal_test.go
  octane/evmengine/keeper/msg_server.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add key to backend
  e2e/test/cli_test.go
Due: run-go-tests, run-golint, run-goversion

f Update .gitignore
  .gitignore
Due: none

f Update docusaurus.config.ts
  docs/docusaurus.config.ts
Due: none

unit tests
  halo/evmstaking/keeper/keeper_internal_test.go
  halo/withdraw/wrapper_internal_test.go
  lib/ethclient/enginemock.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(readme): fix banner (#3682)
  README.md
Due: none

chore(sdk): fix typos (#3679)
  sdk/packages/react-next/README.md
  sdk/packages/react/README.md
Due: none

chore(solver/app): debug reverted txs (#3684)
  lib/contracts/solvernet/bindings.go
  lib/ethclient/ethbackend/backend.go
  relayer/app/sender.go
  solver/app/app.go
  solver/app/helpers.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/worker.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(ethclient/headerdb): prevent deadlock
  lib/ethclient/headerdb/headerdb.go
  lib/ethclient/headerdb/headerdb_internal_test.go
  lib/ethclient/headerdb/headerdb_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(ethclient/headerdb): prevent deadlock (#3687)
  lib/ethclient/headerdb/headerdb.go
  lib/ethclient/headerdb/headerdb_internal_test.go
  lib/ethclient/headerdb/headerdb_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Add useGetOrderStatus hook to react-next
  sdk/packages/core/src/contracts/didFillOutbox.ts
  sdk/packages/react-next/src/hooks/useGetOrderStatus.test-d.ts
  sdk/packages/react-next/src/hooks/useGetOrderStatus.test.ts
  sdk/packages/react-next/src/hooks/useGetOrderStatus.ts
Due: none

chore(lib/ethclient): add http timeout
  lib/ethclient/ethclient.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/ethclient): add http timeout (#3688)
  lib/ethclient/ethclient.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(halo/attest): debug devnet stuck attestations
  e2e/test/portals_test.go
  halo/attest/voter/voter.go
  halo/attest/voter/voter_test.go
  lib/xchain/provider/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

review
  halo/evmstaking/keeper/keeper.go
  halo/withdraw/types.go
  halo/withdraw/wrapper.go
  halo/withdraw/wrapper_internal_test.go
  lib/ethclient/enginemock.go
  lib/netconf/static.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/ethclient): close idle connections periodically (#3590)
  cli/cmd/devnet.go
  cli/cmd/staking.go
  e2e/anvilproxy/app/anvil.go
  e2e/anvilproxy/app/xmsg.go
  e2e/app/admin/bridgespec.go
  e2e/app/admin/portalspec.go
  e2e/app/admin/solvernetspec.go
  e2e/app/admin/upgrade.go
  e2e/app/definition.go
  e2e/app/valupdates.go
  e2e/cmd/util.go
  e2e/solve/test.go
  e2e/xbridge/test.go
  halo/app/lazyvoter.go
  halo/app/monitor.go
  lib/anvil/anvil.go
  lib/contracts/address.go
  lib/ethclient/ethbackend/backends.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  lib/ethclient/mock/mock_interfaces.go
  lib/xchain/connect/connect.go
  monitor/app/app.go
  monitor/app/public_rpc.go
  monitor/flowgen/flowgen.go
  monitor/loadgen/loadgen.go
  monitor/xfeemngr/xfeemngr.go
  relayer/app/app.go
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

manual cherry-pick of 6e84094
  lib/ethclient/ethclient.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(halo/attest): debug devnet stuck attestations (#3690)
  e2e/test/portals_test.go
  halo/attest/voter/voter.go
  halo/attest/voter/voter_test.go
  lib/xchain/provider/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/ethclient): add http timeout (#3689)
  cli/cmd/devnet.go
  cli/cmd/staking.go
  e2e/anvilproxy/app/anvil.go
  e2e/anvilproxy/app/xmsg.go
  e2e/app/admin/bridgespec.go
  e2e/app/admin/portalspec.go
  e2e/app/admin/solvernetspec.go
  e2e/app/admin/upgrade.go
  e2e/app/definition.go
  e2e/app/valupdates.go
  e2e/cmd/util.go
  e2e/solve/test.go
  e2e/xbridge/test.go
  halo/app/lazyvoter.go
  halo/app/monitor.go
  lib/anvil/anvil.go
  lib/contracts/address.go
  lib/ethclient/ethbackend/backends.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  lib/ethclient/mock/mock_interfaces.go
  lib/xchain/connect/connect.go
  monitor/app/app.go
  monitor/app/public_rpc.go
  monitor/flowgen/flowgen.go
  monitor/loadgen/loadgen.go
  monitor/xfeemngr/xfeemngr.go
  relayer/app/app.go
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(lib/cctp): support usdc send (#3673)
  lib/cast/cast.go
  lib/cctp/addrs.go
  lib/cctp/api.go
  lib/cctp/bridge.go
  lib/cctp/db.go
  lib/umath/umath.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Add openOrder() to core
  sdk/packages/core/src/contracts/didFillOutbox.ts
  sdk/packages/core/src/contracts/getOrder.ts
  sdk/packages/core/src/contracts/openOrder.ts
  sdk/packages/core/src/errors/base.ts
  sdk/packages/core/src/index.ts
  sdk/packages/react-next/src/errors.ts
  sdk/packages/react-next/src/hooks/useOrder.test-d.ts
  sdk/packages/react-next/src/hooks/useOrder.ts
Due: none

omega to hotfix
  e2e/manifests/omega.toml
Due: none

ci(e2e): upgrade omega (#3691)
  e2e/manifests/omega.toml
Due: none

fix links
  docs/docs/pages/concepts/single-chain-deployment.md
  docs/docs/pages/concepts/the-problem.md
  docs/docs/pages/guides/basic-deposit.md
  docs/docs/pages/guides/contracts-without-onbehalfof.mdx
  docs/docs/pages/introduction/what-is-solvernet.md
  docs/docs/pages/sdk/hooks/useOrder.md
  docs/docs/pages/sdk/hooks/useQuote.md
  docs/docs/pages/sdk/supported-assets.mdx
  docs/pnpm-lock.yaml
  docs/vocs.config.mts
Due: none

rm hooks and util language
  docs/docs/pages/guides/examples/eigenlayer.mdx
  docs/docs/pages/guides/examples/rocketpool.mdx
  docs/docs/pages/guides/examples/symbiotic.mdx
  docs/vocs.config.mts
Due: none

rm hooks and util language
  docs/docs/pages/guides/examples/symbiotic.mdx
  docs/docs/pages/introduction/what-is-solvernet.md
Due: none

Update docs/docs/pages/sdk/utils/withExecAndTransfer.md
  docs/docs/pages/sdk/utils/withExecAndTransfer.md
Due: none
