Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

chore(docs): add bridge to docs (#2716)
  docs/content/core/mainnet.md
Due: none

chore(contracts/solve): refactor order state
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
Due: none

chore(contracts/solve): refactor order state (#2719)
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
Due: none

add xcaller config fields to the manifest
  e2e/app/setup.go
  e2e/types/manifest.go
  monitor/app/config.toml.tpl
  monitor/app/testdata/default_monitor.toml
  monitor/loadgen/loadgen.go
  monitor/loadgen/xcall.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Update README.md
  README.md
Due: none

chore(cli): add prefix to avs commands
  cli/cmd/avs_register.go
  cli/cmd/avs_register_test.go
  cli/cmd/cmd.go
  docs/content/operate/faq.md
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts/solve): some erc76823 refactoring
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNet.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetOutbox.sol
Due: none

chore(cli): add prefix to avs commands (#2722)
  cli/cmd/avs_register.go
  cli/cmd/avs_register_test.go
  cli/cmd/cmd.go
  docs/content/operate/faq.md
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix devnet rpc endpoints
  e2e/manifests/devnet1.toml
  lib/netconf/static.go
  monitor/app/app.go
  monitor/loadgen/loadgen.go
  monitor/loadgen/xcall.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts/solve): prefer filled over fulfilled
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNet.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetOutbox.sol
Due: none

chore(contracts/solve): prefer filled over fulfilled (#2724)
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNet.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetOutbox.sol
Due: none

chore(contracts/solve): refactor fill and order data
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNet.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetOutbox.sol
Due: none

add V0 draft of Tag contracts
  contracts/misc/package.json
  contracts/misc/pnpm-lock.yaml
  contracts/misc/src/tag/Tag.sol
Due: none

chore(docs): use brand colors in badges (#2721)
  README.md
Due: none

chore(monitor/xfeemngr): add high end tiers
  monitor/xfeemngr/gasprice/tiers.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/xfeemngr): add high end tiers (#2727)
  monitor/xfeemngr/gasprice/tiers.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts/solve): refactor fill and order data (#2725)
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNet.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetOutbox.sol
Due: none

remove static dir
  static/avs-metadata.json
  static/omni-symbol.png
Due: none

chore(*): remove static dir (#2729)
  static/avs-metadata.json
  static/omni-symbol.png
Due: none

iterate through tagQueue using cursor instead of removing stale values
  contracts/misc/src/tag/Tag.sol
Due: none

migrate recent tag timestamp to NFT and initiate tags from NFTs
  contracts/misc/src/tag/Tag.sol
Due: none

update Solady to 0.0.287
  contracts/bindings/admin.go
  contracts/bindings/mockvault.go
  contracts/bindings/solveinbox.go
  contracts/bindings/solveoutbox.go
  contracts/core/package.json
  contracts/core/pnpm-lock.yaml
  contracts/solve/package.json
  contracts/solve/pnpm-lock.yaml
Due: run-go-tests, run-golint, run-goversion

chore(contracts): update Solady (#2732)
  contracts/bindings/admin.go
  contracts/bindings/mockvault.go
  contracts/bindings/solveinbox.go
  contracts/bindings/solveoutbox.go
  contracts/core/package.json
  contracts/core/pnpm-lock.yaml
  contracts/solve/package.json
  contracts/solve/pnpm-lock.yaml
Due: run-go-tests, run-golint, run-goversion

adjusted extraData packing so points can accrue
  contracts/misc/src/tag/Tag.sol
Due: none

cleanup, fixed gas concerns, implemented more control logic
  contracts/misc/src/tag/Tag.sol
Due: none

added crosschain mint support
  contracts/misc/src/tag/Tag.sol
Due: none

add support for airdropping OMNI to recipient for crosschain mints, extra events
  contracts/misc/src/tag/Tag.sol
Due: none

condensed reused logic
  contracts/misc/src/tag/Tag.sol
Due: none

crosschain whitelist mint bug fixes
  contracts/misc/src/tag/Tag.sol
Due: none

typo staking.go
  cli/cmd/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

typo Utils.sol
  contracts/avs/test/common/Utils.sol
Due: none

typo slashing.go
  contracts/bindings/slashing.go
Due: run-go-tests, run-golint, run-goversion

typo Staking.sol
  contracts/core/src/octane/Staking.sol
Due: none

typo Upgrade.sol
  contracts/core/src/octane/Upgrade.sol
Due: none

typo OmniBridgeNative.sol
  contracts/core/src/token/OmniBridgeNative.sol
Due: none

typo validator.md
  docs/content/operate/validator.md
Due: none

typo key.go
  e2e/app/key/key.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Update docs/content/operate/validator.md
  docs/content/operate/validator.md
Due: none

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
