Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

fix map race
  relayer/app/state.go
  relayer/app/worker_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): add create3 factory
  contracts/package.json
  contracts/pnpm-lock.yaml
  contracts/src/deploy/Create3.sol
Due: none

test(cli): add cli registration to avs test
  .secrets.baseline
  Makefile
  cli/cmd/cmd.go
  cli/cmd/devnet.go
  cli/cmd/register.go
  halo/cmd/cmd.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/deregister_from_avs.go
  halo/cmd/flags.go
  halo/cmd/operator.go
  halo/cmd/register_to_avs.go
  halo/cmd/testdata/TestCLIReference_halo.golden
  halo/cmd/testdata/TestCLIReference_operator.golden
  halo/cmd/testdata/TestCLIReference_operator_deregister.golden
  halo/cmd/testdata/TestCLIReference_operator_register.golden
  lib/avs/avs_test.go
  lib/avs/eigen.go
  lib/ethclient/engineclient.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  test/e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): add create3 factory (#489)
  contracts/package.json
  contracts/pnpm-lock.yaml
  contracts/src/deploy/Create3.sol
Due: none

test(cli): add cli registration to avs test (#485)
  .secrets.baseline
  Makefile
  cli/cmd/cmd.go
  cli/cmd/devnet.go
  cli/cmd/register.go
  halo/cmd/cmd.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/deregister_from_avs.go
  halo/cmd/flags.go
  halo/cmd/operator.go
  halo/cmd/register_to_avs.go
  halo/cmd/testdata/TestCLIReference_halo.golden
  halo/cmd/testdata/TestCLIReference_operator.golden
  halo/cmd/testdata/TestCLIReference_operator_deregister.golden
  halo/cmd/testdata/TestCLIReference_operator_register.golden
  lib/avs/avs_test.go
  lib/avs/eigen.go
  lib/ethclient/engineclient.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  test/e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

test(contracts): add IServiceManager avs tests
  contracts/.gas-snapshot
  contracts/bindings/avsdirectory.go
  contracts/bindings/delegationmanager.go
  contracts/bindings/feeoraclev1.go
  contracts/bindings/mockerc20.go
  contracts/bindings/omniavs.go
  contracts/bindings/omniportal.go
  contracts/bindings/proxyadmin.go
  contracts/bindings/strategybase.go
  contracts/bindings/strategymanager.go
  contracts/bindings/transparentupgradeableproxy.go
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/OmniAVS_serviceManager.t.sol
  contracts/test/avs/common/Fixtures.sol
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): enforce abigen version
  contracts/Makefile
Due: none

test(contracts): test setMetadataURI
  contracts/.gas-snapshot
  contracts/test/avs/OmniAVS_admin.t.sol
Due: none

chore(contracts): enforce abigen version (#491)
  contracts/Makefile
Due: none

chore(contracts): mark phony make targets
  contracts/Makefile
Due: none

test(contracts): test setMetadataURI (#492)
  contracts/.gas-snapshot
  contracts/test/avs/OmniAVS_admin.t.sol
Due: none

test(contracts): add IServiceManager avs tests (#490)
  contracts/.gas-snapshot
  contracts/bindings/avsdirectory.go
  contracts/bindings/delegationmanager.go
  contracts/bindings/feeoraclev1.go
  contracts/bindings/mockerc20.go
  contracts/bindings/omniavs.go
  contracts/bindings/omniportal.go
  contracts/bindings/proxyadmin.go
  contracts/bindings/strategybase.go
  contracts/bindings/strategymanager.go
  contracts/bindings/transparentupgradeableproxy.go
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/OmniAVS_serviceManager.t.sol
  contracts/test/avs/common/Fixtures.sol
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): mark phony make targets (#493)
  contracts/Makefile
Due: none

test(contracts): add avs admin tests.
  contracts/.gas-snapshot
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/OmniAVS_admin.t.sol
  contracts/test/avs/OmniAVS_allowlist.t.sol
Due: none

test(contracts): add avs admin tests (#494)
  contracts/.gas-snapshot
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/OmniAVS_admin.t.sol
  contracts/test/avs/OmniAVS_allowlist.t.sol
Due: none

cleanup and pr comments
  relayer/app/app.go
  relayer/app/relayer.go
  relayer/app/relayer_test.go
  relayer/app/worker.go
  relayer/app/worker_test.go
Due: run-go-tests, run-regexp, run-goversion

omnicli -> omni
  Makefile
  cli/cmd/cmd.go
  cli/cmd/devnet.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): allow owner to disable allowlist
  contracts/.gas-snapshot
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/src/protocol/OmniAVSStorage.sol
  contracts/test/avs/OmniAVS_allowlist.t.sol
  contracts/test/avs/common/Utils.sol
Due: none

remove unused util
  contracts/test/avs/common/Utils.sol
Due: none

regen bindings
  contracts/bindings/omniavs.go
Due: run-go-tests, run-regexp, run-goversion

add allowlistEnabled initialize check
  contracts/.gas-snapshot
  contracts/test/avs/OmniAVS_initialize.t.sol
Due: none

chore(cli): use omni for cli (#496)
  Makefile
  cli/cmd/cmd.go
  cli/cmd/devnet.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): allow owner to disable allowlist (#497)
  contracts/.gas-snapshot
  contracts/bindings/omniavs.go
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/src/protocol/OmniAVSStorage.sol
  contracts/test/avs/OmniAVS_allowlist.t.sol
  contracts/test/avs/OmniAVS_initialize.t.sol
  contracts/test/avs/common/Utils.sol
Due: run-go-tests, run-regexp, run-goversion

add type builders to avoid duplication
  halo/attest/keeper/keeper_internal_test.go
Due: run-go-tests, run-goversion

test(halo/attest): add type builders to avoid duplication (#499)
  halo/attest/keeper/keeper_internal_test.go
Due: run-go-tests, run-goversion

cleanup
  relayer/app/app.go
  relayer/app/relayer.go
  relayer/app/relayer_test.go
  relayer/app/state.go
  relayer/app/state_internal_test.go
  relayer/app/worker.go
  relayer/app/worker_test.go
Due: run-go-tests, run-regexp, run-goversion

lint free
  relayer/app/state.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/ethbackend): move backends out of test
  .secrets.baseline
  cli/cmd/devnet.go
  cli/cmd/register.go
  lib/avs/avs.go
  lib/avs/avs_test.go
  lib/avs/deployer.go
  lib/avs/eigen.go
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/ethbackend/backend_internal_test.go
  lib/ethclient/ethbackend/backends.go
  lib/ethclient/ethbackend/wait.go
  test/e2e/app/contract.go
  test/e2e/app/definition.go
  test/e2e/netman/avs/xdapp.go
  test/e2e/netman/helpers.go
  test/e2e/netman/manager.go
  test/e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/ethbackend): move backends out of test (#502)
  .secrets.baseline
  cli/cmd/devnet.go
  cli/cmd/register.go
  lib/avs/avs.go
  lib/avs/avs_test.go
  lib/avs/deployer.go
  lib/avs/eigen.go
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/ethbackend/backend_internal_test.go
  lib/ethclient/ethbackend/backends.go
  lib/ethclient/ethbackend/wait.go
  test/e2e/app/contract.go
  test/e2e/app/definition.go
  test/e2e/netman/avs/xdapp.go
  test/e2e/netman/helpers.go
  test/e2e/netman/manager.go
  test/e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

pr comments
  relayer/app/state.go
  relayer/app/state_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(cli): use flags and add version
  .goreleaser.yaml
  Makefile
  cli/cmd/cmd.go
  cli/cmd/devnet.go
  cli/cmd/flags.go
  cli/cmd/omni/main.go
  cli/cmd/register.go
  explorer/graphql/app/app.go
  explorer/indexer/app/app.go
  halo/app/start.go
  halo/cmd/cmd.go
  halo/cmd/testdata/TestCLIReference_halo.golden
  lib/avs/anvil/anvil.go
  lib/avs/avs_test.go
  lib/buildinfo/buildinfo.go
  lib/buildinfo/metrics.go
  lib/gitinfo/gitinfo.go
  relayer/app/app.go
  relayer/cmd/cmd.go
  test/e2e/app/avs.go
  test/e2e/netman/avs/types.go
  test/e2e/netman/avs/xdapp.go
Due: run-go-tests, run-regexp, run-goversion

refactor(cli): use flags and add version (#501)
  .goreleaser.yaml
  Makefile
  cli/cmd/cmd.go
  cli/cmd/devnet.go
  cli/cmd/flags.go
  cli/cmd/omni/main.go
  cli/cmd/register.go
  explorer/graphql/app/app.go
  explorer/indexer/app/app.go
  halo/app/start.go
  halo/cmd/cmd.go
  halo/cmd/testdata/TestCLIReference_halo.golden
  lib/avs/anvil/anvil.go
  lib/avs/avs_test.go
  lib/buildinfo/buildinfo.go
  lib/buildinfo/metrics.go
  lib/gitinfo/gitinfo.go
  relayer/app/app.go
  relayer/cmd/cmd.go
  test/e2e/app/avs.go
  test/e2e/netman/avs/types.go
  test/e2e/netman/avs/xdapp.go
Due: run-go-tests, run-regexp, run-goversion

feat(relayer/app): stateful relayer (#484)
  .secrets.baseline
  relayer/app/app.go
  relayer/app/config.go
  relayer/app/config.toml.tmpl
  relayer/app/relayer.go
  relayer/app/relayer_test.go
  relayer/app/state.go
  relayer/app/state_internal_test.go
  relayer/app/testdata/default_relayer.toml
  relayer/app/worker.go
  relayer/app/worker_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): fix link
  docs/site/docs/home.md
Due: none

chore(docs): add testnet operate file
  docs/site/docs/operate/testnet.md
Due: none

chore(docs): operate docs
  docs/site/docs/operate/introduction.md
  docs/site/docs/operate/introduction/introduction.md
  docs/site/docs/operate/introduction/requirements.md
  docs/site/docs/operate/testnet.md
  docs/site/docs/operate/testnet/client.md
  docs/site/docs/operate/testnet/install.md
  docs/site/docs/operate/testnet/introduction.md
  docs/site/docs/operate/testnet/register.md
  docs/site/sidebars.ts
Due: none

chore(docs): expand sidebars
  docs/site/sidebars.ts
Due: none

chore(docs): uncollapse folder
  docs/site/sidebars.ts
Due: none

chore(docs): CLI install commands
  docs/site/docs/operate/introduction/introduction.md
  docs/site/docs/operate/testnet/install.md
Due: none

chore(docs): CLI install commands
  docs/site/docs/operate/testnet/install.md
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-regexp: any of: \.go$, but not: _test.go
  run-goversion: any of: \.go$
