Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

adjust setting provider and add getRoutes test
  e2e/solve/routing.go
  e2e/solve/routing_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

rename routing test filename
  e2e/solve/routing_internal_test.go
Due: run-go-tests, run-golint, run-goversion

feat(sdk): safe request functions
  sdk/packages/core/src/api/getContracts.test.ts
  sdk/packages/core/src/api/getContracts.ts
  sdk/packages/core/src/api/getQuote.test.ts
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/core/src/internal/api.ts
  sdk/packages/core/src/internal/validation.ts
  sdk/packages/core/src/types/contracts.ts
  sdk/packages/core/src/types/primitives.ts
  sdk/packages/core/src/types/quote.ts
  sdk/packages/react/src/utils/getContracts.ts
Due: none

fix integration tests
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/test-utils.tsx
Due: none

docs(sdk): add docs for core (#3899)
  docs/README.md
  docs/docs/pages/sdk/core/generateOrder.md
  docs/docs/pages/sdk/core/getContracts.md
  docs/docs/pages/sdk/core/getQuote.md
  docs/docs/pages/sdk/core/openOrder.md
  docs/docs/pages/sdk/core/sendOrder.mdx
  docs/docs/pages/sdk/core/validateOrder.md
  docs/docs/pages/sdk/core/waitForOrderClose.md
  docs/docs/pages/sdk/core/waitForOrderOpen.md
  docs/docs/pages/sdk/getting-started.mdx
  docs/docs/pages/sdk/getting-started/core.mdx
  docs/docs/pages/sdk/getting-started/react.mdx
  docs/docs/pages/sdk/utils/withExecAndTransfer.mdx
  docs/vocs.config.tsx
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/core/src/api/getContracts.test.ts
  sdk/packages/core/src/api/getContracts.ts
  sdk/packages/core/src/api/getQuote.test.ts
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/core/src/api/validateOrder.test.ts
  sdk/packages/core/src/api/validateOrder.ts
  sdk/packages/core/src/contracts/didFill.ts
  sdk/packages/core/src/flows/generateOrder.ts
  sdk/packages/core/src/flows/openOrder.ts
  sdk/packages/core/src/utils/withExecAndTransfer.ts
  sdk/packages/react/src/hooks/useQuote.ts
  sdk/packages/react/src/hooks/useValidateOrder.ts
  sdk/packages/react/src/utils/getContracts.ts
Due: none

feat(solver/rebalance): usd deficit and surplus utils
  lib/cctp/util.go
  solver/rebalance/deficit.go
  solver/rebalance/rebalance.go
  solver/rebalance/surplus.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver/rebalance): usd deficit and surplus utils (#3920)
  lib/cctp/util.go
  solver/rebalance/deficit.go
  solver/rebalance/rebalance.go
  solver/rebalance/surplus.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(sdk): minting Omni in integration tests
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/test-utils/src/clients.ts
Due: none

fix(e2e): skip invalid routes (#3915)
  e2e/solve/routing.go
  e2e/solve/routing_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): fix rebalance integration test
  solver/rebalance/integration_test.go
Due: run-go-tests, run-golint, run-goversion

chore(solver/rebalance): fix rebalance integration test (#3922)
  solver/rebalance/integration_test.go
Due: run-go-tests, run-golint, run-goversion

feat(sdk): watch did fill api and hook returning dest tx hash
  sdk/packages/core/src/contracts/watchDidFill.ts
  sdk/packages/core/src/index.ts
  sdk/packages/react/src/hooks/useWatchDidFill.ts
Due: none

chore(sdk): export useWatchDidFill
  sdk/packages/react/src/index.ts
Due: none

chore(sdk): outbox event to abi
  sdk/packages/core/src/constants/abis.ts
Due: none

test(sdk): index test
  sdk/packages/react/src/index.test.ts
Due: none

test(sdk): fix export test
  sdk/packages/react/src/index.test.ts
Due: none

test(sdk): units for watchDidFill
  sdk/packages/core/src/contracts/waitForOrderClose.ts
  sdk/packages/core/src/contracts/watchDidFill.test.ts
  sdk/packages/react/src/hooks/useOrder.test.ts
  sdk/packages/react/src/hooks/useValidateOrder.test.ts
  sdk/packages/react/src/hooks/useWatchDidFill.test-d.ts
  sdk/packages/react/src/hooks/useWatchDidFill.test.ts
  sdk/packages/react/src/hooks/useWatchDidFill.ts
Due: none

feat(sdk): watch did fill api and hook returning dest tx hash (#3903)
  sdk/packages/core/src/constants/abis.ts
  sdk/packages/core/src/contracts/waitForOrderClose.ts
  sdk/packages/core/src/contracts/watchDidFill.test.ts
  sdk/packages/core/src/contracts/watchDidFill.ts
  sdk/packages/core/src/index.ts
  sdk/packages/react/src/hooks/useOrder.test.ts
  sdk/packages/react/src/hooks/useValidateOrder.test.ts
  sdk/packages/react/src/hooks/useWatchDidFill.test-d.ts
  sdk/packages/react/src/hooks/useWatchDidFill.test.ts
  sdk/packages/react/src/hooks/useWatchDidFill.ts
  sdk/packages/react/src/index.test.ts
  sdk/packages/react/src/index.ts
Due: none

chore(e2e): fix and refactor solvernet routing
  e2e/app/chains.go
  e2e/app/fund.go
  e2e/solve/routing.go
  e2e/solve/routing_internal_test.go
  lib/contracts/solvernet/chains.go
  lib/contracts/solvernet/config.go
  lib/contracts/solvernet/outbox/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): fix and refactor solvernet routing (#3924)
  e2e/app/chains.go
  e2e/app/fund.go
  e2e/solve/routing.go
  e2e/solve/routing_internal_test.go
  lib/contracts/solvernet/chains.go
  lib/contracts/solvernet/config.go
  lib/contracts/solvernet/outbox/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): add react example to package (#3906)
  sdk/examples/react/.gitignore
  sdk/examples/react/README.md
  sdk/examples/react/index.html
  sdk/examples/react/package.json
  sdk/examples/react/src/App.tsx
  sdk/examples/react/src/index.css
  sdk/examples/react/src/main.tsx
  sdk/examples/react/src/providers.tsx
  sdk/examples/react/src/vite-env.d.ts
  sdk/examples/react/tsconfig.json
  sdk/examples/react/tsconfig.node.json
  sdk/examples/react/vite.config.ts
  sdk/integration-tests/README.md
  sdk/pnpm-lock.yaml
Due: none

expand upgrade coverage to hyperlane chains
  e2e/app/admin/common.go
  e2e/app/admin/upgrade.go
  e2e/app/chains.go
  e2e/app/fund.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

rebase
  e2e/app/admin/common.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

expand relevant existing monitoring to hyperlane chains
  monitor/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): add useQuote to example app
  sdk/examples/react/src/App.tsx
Due: none

chore(sdk): bump versions
  sdk/packages/core/package.json
  sdk/packages/react/package.json
Due: none

chore(docs): sidebar
  docs/docs/pages/sdk/core/watchDidFill.md
  docs/vocs.config.tsx
Due: none

chore(sdk): bump versions (#3928)
  sdk/packages/core/package.json
  sdk/packages/react/package.json
Due: none

chore(docs): fix param
  docs/docs/pages/sdk/core/watchDidFill.md
Due: none

chore(docs): fix casing
  docs/docs/pages/sdk/core/watchDidFill.md
Due: none

chore(sdk): fix example issues
  sdk/examples/react/src/App.tsx
Due: none

chore(sdk): 0.1.1 changelog
  sdk/packages/core/CHANGELOG.md
  sdk/packages/react/CHANGELOG.md
Due: none

remove pointer
  e2e/app/admin/common.go
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): getting started tweaks
  docs/docs/pages/sdk/getting-started/basic-deposit.md
  docs/docs/pages/sdk/getting-started/template.mdx
  docs/vocs.config.tsx
Due: none

chore(docs): fix link
  docs/docs/pages/introduction/what-is-solvernet.md
Due: none

feat(e2e): upgrade contracts on hyperlane chains (#3926)
  e2e/app/admin/common.go
  e2e/app/admin/upgrade.go
  e2e/app/chains.go
  e2e/app/fund.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver/rebalance): send by deficits
  solver/rebalance/deficit.go
  solver/rebalance/rebalance.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): add useQuote to example app (#3927)
  sdk/examples/react/src/App.tsx
Due: none

fix(sdk): minting Omni in integration tests (#3921)
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/test-utils/src/clients.ts
Due: none
