Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(docs): search styling
  docs/website/src/css/custom.css
Due: none

chore(docs): search styling (#1765)
  docs/website/src/css/custom.css
Due: none

chore(docs): Link to faucent
  docs/content/build-xdapp/testnet-omega.md
Due: none

chore(docs): fix xstake link
  docs/content/build-xdapp/showcase-dapps.md
Due: none

chore(docs): fix xstake link (#1772)
  docs/content/build-xdapp/showcase-dapps.md
Due: none

chore(github): build and push halovisor on release (#1764)
  .github/workflows/release-official.yml
Due: none

chore(docs): link to faucet (#1766)
  docs/content/build-xdapp/testnet-omega.md
Due: none

chore(halo/attest): instrument validator votes
  halo/attest/keeper/common_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/keeper/metrics.go
  halo/attest/testutil/mock_interfaces.go
  halo/valsync/types/types.go
Due: run-go-tests, run-regexp, run-goversion

feat(cli): add operator commands
  cli/cmd/cmd.go
  cli/cmd/compose.yml.tpl
  cli/cmd/flags.go
  cli/cmd/key.go
  cli/cmd/staking.go
  e2e/app/portalregistry.go
  e2e/app/run.go
  halo/app/privkey.go
  halo/cmd/cmd.go
  halo/cmd/testdata/TestCLIReference_halo.golden
  halo/cmd/testdata/TestCLIReference_init.golden
  halo/cmd/testdata/TestCLIReference_rollback.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/genutil/evm/evm.go
  lib/netconf/flag.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): rewrite build docs
  docs/content/.gitignore
  docs/content/build-xdapp/quickstart.md
  docs/content/build-xdapp/showcase-dapps.md
  docs/content/build-xdapp/walkthrough.md
  docs/content/build/_category_.json
  docs/content/build/omega.md
  docs/content/build/quickstart.md
  docs/content/build/walkthrough.md
  docs/website/sidebars.ts
Due: none

chore(docs): rewrite build docs (#1773)
  docs/content/.gitignore
  docs/content/build-xdapp/quickstart.md
  docs/content/build-xdapp/showcase-dapps.md
  docs/content/build-xdapp/walkthrough.md
  docs/content/build/_category_.json
  docs/content/build/omega.md
  docs/content/build/quickstart.md
  docs/content/build/walkthrough.md
  docs/website/sidebars.ts
Due: none

chore(halo/attest): instrument validator votes (#1776)
  halo/attest/keeper/common_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/keeper/metrics.go
  halo/attest/testutil/mock_interfaces.go
  halo/valsync/types/types.go
Due: run-go-tests, run-regexp, run-goversion

feat(cli): add operator commands (#1774)
  cli/cmd/cmd.go
  cli/cmd/compose.yml.tpl
  cli/cmd/flags.go
  cli/cmd/key.go
  cli/cmd/staking.go
  e2e/app/portalregistry.go
  e2e/app/run.go
  halo/app/privkey.go
  halo/cmd/cmd.go
  halo/cmd/testdata/TestCLIReference_halo.golden
  halo/cmd/testdata/TestCLIReference_init.golden
  halo/cmd/testdata/TestCLIReference_rollback.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/genutil/evm/evm.go
  lib/netconf/flag.go
Due: run-go-tests, run-regexp, run-goversion

chore(monitor/routerecon): improve routerecon
  monitor/routerecon/recon.go
  monitor/routerecon/routescan.go
  monitor/routerecon/types.go
Due: run-go-tests, run-regexp, run-goversion

chore(cli): fix init-nodes command
  cli/cmd/compose.yml.tpl
  cli/cmd/operator.go
Due: run-go-tests, run-regexp, run-goversion

chore(monitor/routerecon): improve routerecon (#1777)
  monitor/routerecon/recon.go
  monitor/routerecon/routescan.go
  monitor/routerecon/types.go
Due: run-go-tests, run-regexp, run-goversion

chore(cli): fix init-nodes command (#1778)
  cli/cmd/compose.yml.tpl
  cli/cmd/operator.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): enable geth trace logs on staging
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): enable geth trace logs on staging (#1779)
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
Due: run-go-tests, run-regexp, run-goversion

fix(halo/attest): skip vote tracking for overridden attestations
  halo/attest/keeper/keeper.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo/attest): skip vote tracking for overridden attestations (#1780)
  halo/attest/keeper/keeper.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e/anvilproxy): fix fuzzy detect logic
  e2e/anvilproxy/app/xmsg.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): also init fee oracle posts to chains
  e2e/netman/manager.go
  lib/contracts/feeoraclev1/feeparams.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): also init fee oracle posts to chains (#1782)
  e2e/netman/manager.go
  lib/contracts/feeoraclev1/feeparams.go
Due: run-go-tests, run-regexp, run-goversion

rebrand fund to gas station
  contracts/core/src/token/OmniGasPump.sol
  contracts/core/src/token/OmniGasStation.sol
  contracts/core/src/token/OmniXFund.sol
Due: none

feat(contracts): allow xapps to swap eth for gas on omni
  contracts/core/src/examples/Funder.sol
  contracts/core/src/pkg/XGasPump.sol
  contracts/core/src/token/OmniGasPump.sol
  contracts/core/src/token/OmniXFund.sol
Due: none

feat(contracts): allow xapps to swap eth for gas on omni (#1756)
  contracts/core/src/examples/Funder.sol
  contracts/core/src/pkg/XGasPump.sol
  contracts/core/src/token/OmniGasPump.sol
  contracts/core/src/token/OmniGasStation.sol
Due: none

chore(e2e/anvilproxy): fix fuzzy detect logic (#1781)
  e2e/anvilproxy/app/xmsg.go
Due: run-go-tests, run-regexp, run-goversion

feat(cli): support archive in init-nodes
  cli/cmd/compose.yml.tpl
  cli/cmd/flags.go
  cli/cmd/operator.go
  e2e/app/setup.go
  lib/log/config.go
Due: run-go-tests, run-regexp, run-goversion

feat(cli): support archive in init-nodes (#1788)
  cli/cmd/compose.yml.tpl
  cli/cmd/flags.go
  cli/cmd/operator.go
  e2e/app/setup.go
  lib/log/config.go
Due: run-go-tests, run-regexp, run-goversion

test(contracts): OmniGasStation tests
  contracts/core/.gas-snapshot
  contracts/core/src/token/OmniGasStation.sol
  contracts/core/test/token/OmniGasStation.t.sol
Due: none

test(contracts): add gas station tests (#1789)
  contracts/core/.gas-snapshot
  contracts/core/src/token/OmniGasStation.sol
  contracts/core/test/token/OmniGasStation.t.sol
Due: none

feat(cli): add operator unjail command
  cli/cmd/cmd.go
  cli/cmd/flags.go
  cli/cmd/initnodes.go
  cli/cmd/key.go
  cli/cmd/staking.go
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
Due: run-go-tests, run-regexp, run-goversion

feat(cli): add operator unjail command (#1790)
  cli/cmd/cmd.go
  cli/cmd/flags.go
  cli/cmd/initnodes.go
  cli/cmd/key.go
  cli/cmd/staking.go
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
Due: run-go-tests, run-regexp, run-goversion

test(contracts): test gas pump
  contracts/bindings/feeoraclev1.go
  contracts/core/.gas-snapshot
  contracts/core/src/interfaces/IConversionRateOracle.sol
  contracts/core/src/interfaces/IFeeOracleV1.sol
  contracts/core/src/token/OmniGasPump.sol
  contracts/core/test/token/OmniGasPump.t.sol
  contracts/core/test/token/OmniGasStation.t.sol
Due: run-go-tests, run-goversion

Fix footer links
  docs/website/docusaurus.config.ts
Due: none

Update tg link
  docs/content/build/omega.md
Due: none

chore(docs): update token docs
  docs/content/learn/token.md
Due: none
