Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

docs(protocol): fix lifecycle info and add consensus view
  docs/site/docs/protocol/evmengine/lifecycle.md
  docs/site/static/img/consensus.png
Due: none

nits
  explorer/ui/app/entry.server.tsx
Due: none

precommit exclude icons config.json
  .pre-commit-config.yaml
  explorer/ui/app/assets/icons/config.json
  explorer/ui/app/graphql/fragment-masking.ts
  explorer/ui/app/graphql/gql.ts
  explorer/ui/app/graphql/graphql.ts
  explorer/ui/app/graphql/index.ts
Due: none

nits
  explorer/ui/app/assets/icons/css/omni-embedded.css
  explorer/ui/app/components/shared/simpleTable.tsx
  explorer/ui/app/tailwind.css
Due: none

works with some odd test functionality
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/block_provider.go
  explorer/graphql/data/message_provider.go
  explorer/graphql/data/provider_helpers.go
  explorer/graphql/data/receipt_provider.go
  explorer/graphql/resolvers/messages.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/root.go
  explorer/graphql/resolvers/types.go
  explorer/graphql/utils/hexHelper.go
Due: run-go-tests, run-regexp, run-goversion

nits
  explorer/graphql/data/message_provider.go
  explorer/graphql/resolvers/messages_test.go
Due: run-go-tests, run-regexp, run-goversion

nits
  explorer/graphql/app/schema.graphql
  explorer/graphql/resolvers/messages_test.go
Due: run-go-tests, run-goversion

chore(gomod): bump eigenlayer-cli version
  cli/cmd/register.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-goversion

docs(protocol): update relayer and portal docs (#879)
  docs/site/docs/protocol/introduction/components.md
  docs/site/docs/protocol/xmessages/components/portal-receive.md
  docs/site/docs/protocol/xmessages/components/portal-send.md
  docs/site/docs/protocol/xmessages/components/portals.md
  docs/site/docs/protocol/xmessages/components/relayer.md
  docs/site/sidebars.ts
Due: none

chore(halo/evm): testnet balance user (#872)
  halo/genutil/evm/evm.go
Due: run-go-tests, run-regexp, run-goversion

chore(gomod): bump eigenlayer-cli version (#885)
  cli/cmd/register.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-goversion

cleanup
  .pre-commit-config.yaml
  .pre-commit/run_regexp.sh
  .secrets.baseline
  cli/cmd/devnet.go
  e2e/app/definition.go
  e2e/app/monitor.go
  e2e/app/setup.go
  e2e/cmd/cmd.go
  e2e/manifests/devnet0.toml
  e2e/manifests/devnet1.toml
  e2e/manifests/static.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo/evm): testnet address update
  halo/genutil/evm/evm.go
Due: run-go-tests, run-regexp, run-goversion

pr comments
  e2e/app/eoa/addrs.go
  e2e/app/eoa/eoa.go
  e2e/app/eoa/static.go
  lib/contracts/address.go
  lib/contracts/avs/deploy.go
  lib/contracts/create3/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/contracts/proxyadmin/deploy.go
  lib/contracts/proxyadmin/deploy_test.go
Due: run-go-tests, run-regexp, run-goversion

cleanup balances
  e2e/app/eoa/eoa.go
  e2e/app/eoa/static.go
Due: run-go-tests, run-regexp, run-goversion

Finalized styling for xmsgs table and landing page
  explorer/ui/app/components/home/chainDropdown.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/shared/button.tsx
  explorer/ui/app/components/shared/filterOptions.tsx
  explorer/ui/app/components/shared/footer.tsx
  explorer/ui/app/components/shared/navbar.tsx
  explorer/ui/app/components/shared/rollupIcon.tsx
  explorer/ui/app/components/shared/simpleTable.tsx
  explorer/ui/app/components/shared/tag.tsx
  explorer/ui/app/components/shared/themebutton.tsx
  explorer/ui/app/graphql/fragment-masking.ts
  explorer/ui/app/graphql/gql.ts
  explorer/ui/app/graphql/graphql.ts
  explorer/ui/app/graphql/index.ts
  explorer/ui/app/lib/sourceChains.tsx
  explorer/ui/app/root.tsx
  explorer/ui/app/routes/_index.tsx
  explorer/ui/app/tailwind.css
  explorer/ui/pnpm-lock.yaml
  explorer/ui/tailwind.config.ts
Due: none

cleanup eoa address - add more roles - remove unused fcns
  e2e/app/eoa/addrs.go
  e2e/app/eoa/eoa.go
  e2e/app/eoa/static.go
  e2e/app/fund.go
  lib/contracts/address.go
  lib/contracts/avs/avs_test.go
  lib/contracts/avs/deploy.go
  lib/contracts/create3/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/contracts/proxyadmin/deploy.go
  lib/contracts/proxyadmin/deploy_test.go
  lib/create3/create3_test.go
  monitor/account/account.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  e2e/app/eoa/addrs.go
  e2e/app/eoa/eoa.go
  e2e/app/fund.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  .secrets.baseline
  e2e/app/eoa/eoa.go
Due: run-go-tests, run-regexp, run-goversion

fix(cli): set network name in devnet start
  cli/cmd/devnet.go
Due: run-go-tests, run-regexp, run-goversion

Preparation for filtering
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/home/overview.tsx
  explorer/ui/app/components/shared/search.tsx
  explorer/ui/app/routes/_index.tsx
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
Due: none

Search params updating based on filter criteria
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/shared/search.tsx
Due: none

additional checks in cmd
  e2e/app/eoa/eoa.go
  e2e/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion

adds allRoles as per @corverroos comment
  e2e/app/eoa/eoa.go
  e2e/app/fund.go
Due: run-go-tests, run-regexp, run-goversion

chore(eoa): refactor accounts (#873)
  .secrets.baseline
  e2e/app/eoa/addrs.go
  e2e/app/eoa/eoa.go
  e2e/app/eoa/static.go
  e2e/app/fund.go
  e2e/app/setup.go
  e2e/cmd/cmd.go
  halo/genutil/evm/evm.go
  halo/genutil/evm/predeploys/predeploys.go
  lib/contracts/address.go
  lib/contracts/addrs.go
  lib/contracts/avs/avs_test.go
  lib/contracts/avs/deploy.go
  lib/contracts/create3/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/contracts/proxyadmin/deploy.go
  lib/contracts/proxyadmin/deploy_test.go
  lib/create3/create3_test.go
  monitor/account/account.go
Due: run-go-tests, run-regexp, run-goversion

chore(*): tiny logging improvements
  halo/app/cmtlog.go
  halo/app/sdklog.go
  lib/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

docs(protocol): future work update (#871)
  docs/site/docs/protocol/future.md
Due: none

feat(explorer/graphql): message pagination (#884)
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/block_provider.go
  explorer/graphql/data/message_provider.go
  explorer/graphql/data/provider_helpers.go
  explorer/graphql/data/receipt_provider.go
  explorer/graphql/resolvers/messages.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/root.go
  explorer/graphql/resolvers/types.go
  explorer/graphql/utils/hexHelper.go
Due: run-go-tests, run-regexp, run-goversion

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Added sender address to table
  explorer/ui/app/components/home/messageDataTable.tsx
Due: none

Removed logs
  explorer/ui/app/components/home/messageDataTable.tsx
Due: none

Fixed newline issues
  explorer/ui/app/graphql/gql.ts
  explorer/ui/app/graphql/graphql.ts
  explorer/ui/app/graphql/index.ts
Due: none

pre-commit issues fixed
  explorer/ui/app/routes/_index.tsx
Due: none

change holesky rpc to infura
  contracts/Makefile
Due: none

update license
  COPYING
  LICENSE
Due: none

chore(*): use business license (#891)
  COPYING
  LICENSE
Due: none

chore(contracts): change holesky rpc to infura (#893)
  contracts/Makefile
Due: none

adding status, block hash, height, timestamp to msg
  explorer/db/ent/entql.go
  explorer/db/ent/internal/schema.go
  explorer/db/ent/migrate/schema.go
  explorer/db/ent/msg.go
  explorer/db/ent/msg/msg.go
  explorer/db/ent/msg/where.go
  explorer/db/ent/msg_create.go
  explorer/db/ent/msg_update.go
  explorer/db/ent/mutation.go
  explorer/db/ent/runtime/runtime.go
  explorer/db/ent/schema/msg.go
  explorer/db/ent/schema/receipt.go
  explorer/indexer/app/db.go
Due: run-go-tests, run-regexp, run-goversion

Path conditions:
  run-go-tests: any of: \.go$
  run-regexp: any of: \.go$, but not: _test.go
  run-goversion: any of: \.go$
