Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

feat(lib): support Sepolia ETH in solver (#3970)
  lib/tokens/tokens.json
  lib/tokens/tokens_test.go
  solver/app/testdata/TestClaimants.golden
  solver/app/testdata/TestTokens.golden
Due: run-go-tests, run-golint, run-goversion

fix bindings
  contracts/bindings/admin.go
  contracts/bindings/solvernetoutbox.go
Due: run-go-tests, run-golint, run-goversion

test(sdk): add integration test for using ethers
  sdk/integration-tests/ethers.ts
  sdk/integration-tests/package.json
  sdk/integration-tests/suites/flows.tsx
  sdk/pnpm-lock.yaml
Due: none

chore(anchor/inbox): add token transfers
  anchor/Cargo.lock
  anchor/anchorinbox/accounts.go
  anchor/anchorinbox/addresses.go
  anchor/anchorinbox/claim.go
  anchor/anchorinbox/claim_test.go
  anchor/anchorinbox/errors.go
  anchor/anchorinbox/events.go
  anchor/anchorinbox/helper.go
  anchor/anchorinbox/helper_test.go
  anchor/anchorinbox/init.go
  anchor/anchorinbox/instructions.go
  anchor/anchorinbox/markfilled.go
  anchor/anchorinbox/open.go
  anchor/anchorinbox/types.go
  anchor/localnet/solver_inbox.json
  anchor/localnet/solver_inbox.so
  anchor/programs/solver-inbox/Cargo.toml
  anchor/programs/solver-inbox/src/error.rs
  anchor/programs/solver-inbox/src/event.rs
  anchor/programs/solver-inbox/src/lib.rs
  anchor/programs/solver-inbox/src/types.rs
  solver/solana/compose.go
  solver/solana/compose_test.go
  solver/solana/helpers.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  anchor/Cargo.lock
  anchor/localnet/solver_inbox.so
  anchor/programs/solver-inbox/Cargo.toml
Due: none

cleanup
  .pre-commit-config.yaml
Due: none

cleanup
  .pre-commit-config.yaml
  .pre-commit/run_rust_checks.sh
  anchor/programs/solver-inbox/src/lib.rs
  anchor/programs/solver-inbox/src/types.rs
Due: none

cleanup
  solver/solana/helpers.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  .github/workflows/pre-commit.yaml
Due: none

chore(*): init changeset and workflow (#3966)
  .github/workflows/changeset.yaml
  .github/workflows/ci-main.yaml
  sdk/.changeset/README.md
  sdk/.changeset/config.json
  sdk/package.json
  sdk/packages/core/package.json
  sdk/packages/react/package.json
  sdk/pnpm-lock.yaml
Due: none

chore(*): set pnpm version for changeset workflow
  .github/workflows/changeset.yaml
Due: none

chore(*): set pnpm version for changeset workflow (#3975)
  .github/workflows/changeset.yaml
Due: none

chore(solver): deprecate steth (#3962)
  docs/docs/pages/guides/examples/eigenlayer.mdx
  docs/docs/pages/introduction/what-is-solvernet.md
  docs/docs/pages/sdk/assets/mainnet.mdx
  docs/docs/pages/sdk/assets/testnet.mdx
  e2e/app/eoa/solver.go
  e2e/app/eoa/testdata/solver_reference.json
  solver/app/quote.go
  solver/app/testdata/TestTokens.golden
  solver/app/testdata/TestTokens/tokens_response.json
  solver/app/testutils_internal_test.go
  solver/app/tokens.go
  solver/rebalance/integration_test.go
  solver/rebalance/start.go
  solver/rebalance/wsteth-abi.json
  solver/rebalance/wsteth.go
  solver/rebalance/wsteth_bindings.go
  solver/rebalance/wsteth_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(ci): skip rebalance tests if no secrets
  .github/workflows/rebalance-test.yaml
Due: none

send hyperlane refund to solver
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/ext/MailboxClient.sol
Due: run-go-tests, run-golint, run-goversion

chore(solver/rebalance): increase test deficit target
  solver/rebalance/integration_test.go
Due: run-go-tests, run-golint, run-goversion

cleanup
  .pre-commit/run_rust_checks.sh
  anchor/anchorinbox/accounts.go
  anchor/anchorinbox/close.go
  anchor/anchorinbox/close_test.go
  anchor/anchorinbox/errors.go
  anchor/anchorinbox/events.go
  anchor/anchorinbox/helper.go
  anchor/anchorinbox/init.go
  anchor/anchorinbox/instructions.go
  anchor/anchorinbox/open.go
  anchor/anchorinbox/types.go
  anchor/localnet/solver_inbox.json
  anchor/localnet/solver_inbox.so
  anchor/programs/solver-inbox/src/error.rs
  anchor/programs/solver-inbox/src/event.rs
  anchor/programs/solver-inbox/src/lib.rs
  anchor/programs/solver-inbox/src/types.rs
  solver/solana/compose_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): forward non-core rpc endpoints
  e2e/app/setup.go
  solver/app/app.go
  solver/app/chains.go
  solver/app/config.go
  solver/cmd/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): increase test deficit target (#3980)
  solver/rebalance/integration_test.go
Due: run-go-tests, run-golint, run-goversion

chore(ci): skip rebalance tests without secrets
  .github/workflows/rebalance-test.yaml
Due: none

chore(solver): forward non-core rpc endpoints (#3981)
  e2e/app/setup.go
  solver/app/app.go
  solver/app/chains.go
  solver/app/config.go
  solver/cmd/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

filter out applied routes
  e2e/solve/routing.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

prep monitor for hyperlane chains
  e2e/app/setup.go
  lib/contracts/solvernet/config.go
  monitor/app/app.go
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/solve): send hyperlane refund to solver (#3977)
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/ext/MailboxClient.sol
Due: run-go-tests, run-golint, run-goversion

optimized outbox
  contracts/bindings/admin.go
  contracts/bindings/mockerc20.go
  contracts/bindings/mockvault.go
  contracts/bindings/solvernetexecutor.go
  contracts/bindings/solvernetmiddleman.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/solve/.gas-snapshot
  contracts/solve/package.json
  contracts/solve/pnpm-lock.yaml
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/lib/XAppBase.sol
  contracts/solve/test/TestBase.sol
  e2e/app/admin/upgrade.go
  e2e/solve/deploy.go
  lib/contracts/solvernet/outbox/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix xrecv when theres no portal
  contracts/solve/src/lib/XAppBase.sol
Due: none

chore(ci): skip rebalance tests without secrets (#3979)
  .github/workflows/rebalance-test.yaml
Due: none

rebase and trip XAppBase further
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/lib/XAppBase.sol
Due: run-go-tests, run-golint, run-goversion

feat(monitor): prep monitor for hyperlane chains (#3983)
  e2e/app/setup.go
  lib/contracts/solvernet/config.go
  monitor/app/app.go
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/solve): optimized outbox (#3963)
  contracts/bindings/admin.go
  contracts/bindings/mockerc20.go
  contracts/bindings/mockvault.go
  contracts/bindings/solvernetexecutor.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetmiddleman.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/solve/.gas-snapshot
  contracts/solve/package.json
  contracts/solve/pnpm-lock.yaml
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/lib/XAppBase.sol
  contracts/solve/test/TestBase.sol
  e2e/app/admin/upgrade.go
  e2e/solve/deploy.go
  lib/contracts/solvernet/outbox/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

optimized outbox
  contracts/solve/.gas-snapshot
Due: none

optimized inbox
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/script/manual/genesis-staking/MainnetGenesisStake.s.sol
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/test/TestBase.sol
  e2e/app/admin/upgrade.go
  lib/contracts/solvernet/inbox/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

rebase
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/core/.gas-snapshot
  contracts/solve/.gas-snapshot
Due: run-go-tests, run-golint, run-goversion

clarified route var names
  e2e/solve/routing.go
  e2e/solve/routing_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/solve): optimized inbox (#3964)
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/script/manual/genesis-staking/MainnetGenesisStake.s.sol
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/test/TestBase.sol
  e2e/app/admin/upgrade.go
  lib/contracts/solvernet/inbox/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(e2e/solve): filter out applied routes (#3982)
  e2e/solve/routing.go
  e2e/solve/routing_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

disable sepolia hyperlane chain
  lib/contracts/solvernet/chains.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix routing test
  e2e/solve/routing_internal_test.go
Due: run-go-tests, run-golint, run-goversion

chore(e2e/manifests): bump solver pin
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none
