Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(sdk): release new version
  sdk/.changeset/grumpy-bars-leave.md
  sdk/.changeset/ready-clowns-join.md
  sdk/packages/core/CHANGELOG.md
  sdk/packages/core/package.json
  sdk/packages/core/src/version.ts
  sdk/packages/react/CHANGELOG.md
  sdk/packages/react/package.json
  sdk/packages/react/src/version.ts
Due: none

chore(halo/app): proxy evm requests
  e2e/app/setup.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/vmcompose/provider.go
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
  halo/app/proxy.go
  halo/app/start.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestCLIReference_rollback.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/config/config.go
  halo/config/config.toml.tmpl
  halo/config/config_test.go
  halo/config/testdata/default_halo.toml
  halo/config/testdata/test_halo.toml
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  lib/svmutil/compose.go
  lib/svmutil/helpers.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(halo/app): proxy evm requests (#4251)
  e2e/app/setup.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/vmcompose/provider.go
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
  halo/app/proxy.go
  halo/app/start.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestCLIReference_rollback.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/config/config.go
  halo/config/config.toml.tmpl
  halo/config/config_test.go
  halo/config/testdata/default_halo.toml
  halo/config/testdata/test_halo.toml
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  lib/svmutil/compose.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): release new version (#4250)
  sdk/.changeset/grumpy-bars-leave.md
  sdk/.changeset/ready-clowns-join.md
  sdk/packages/core/CHANGELOG.md
  sdk/packages/core/package.json
  sdk/packages/core/src/version.ts
  sdk/packages/react/CHANGELOG.md
  sdk/packages/react/package.json
  sdk/packages/react/src/version.ts
Due: none

test
  lib/svmutil/compose.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/svmutil): proper program deploys (#4247)
  e2e/app/svm.go
  lib/svmutil/.gitignore
  lib/svmutil/compose.go
  lib/svmutil/compose_test.go
  lib/svmutil/helpers.go
  lib/svmutil/localsvm/main.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/svmutil): support redeploying programs
  anchor/localnet/dummy-keypair.json
  anchor/localnet/dummy.so
  anchor/localnet/static.go
  e2e/app/setup.go
  lib/svmutil/compose.go
  lib/svmutil/compose_test.go
  lib/svmutil/localsvm/main.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  e2e/app/setup.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(halo/app): 10s proxy timeout
  halo/app/proxy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(halo/app): proxy timeout (#4255)
  halo/app/proxy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  e2e/app/svm.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  e2e/app/setup.go
  e2e/app/svm.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifest): bump protected halos
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(lib/svmutil): support redeploying programs (#4254)
  anchor/localnet/dummy-keypair.json
  anchor/localnet/dummy.so
  anchor/localnet/static.go
  e2e/app/setup.go
  e2e/app/svm.go
  lib/svmutil/compose.go
  lib/svmutil/compose_test.go
  lib/svmutil/localsvm/main.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifest): bump protected halos (#4256)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(solver/ts): example go-ts integration
  solver/ts/.gitignore
  solver/ts/Dockerfile
  solver/ts/app.ts
  solver/ts/compose.yml
  solver/ts/package-lock.json
  solver/ts/package.json
  solver/ts/ts_test.go
  solver/ts/tsconfig.json
Due: run-go-tests, run-golint, run-goversion

do
  solver/ts/.gitignore
  solver/ts/Dockerfile
  solver/ts/app.ts
  solver/ts/compose.yml
  solver/ts/package-lock.json
  solver/ts/package.json
  solver/ts/ts_test.go
  solver/ts/tsconfig.json
Due: run-go-tests, run-golint, run-goversion

add faq on fees
  docs/docs/pages/sdk/faq.mdx
Due: none

chore(docs): add faq on fees (#4260)
  docs/docs/pages/sdk/faq.mdx
Due: none

chore(solver/ts): example go-ts integration (#4258)
  solver/ts/.gitignore
  solver/ts/Dockerfile
  solver/ts/app.ts
  solver/ts/compose.yml
  solver/ts/package-lock.json
  solver/ts/package.json
  solver/ts/ts_test.go
  solver/ts/tsconfig.json
Due: run-go-tests, run-golint, run-goversion

Update Octane README: replace outdated introduction link with official Octane announcement blog post
  octane/README.md
Due: none

chore(scripts/trade): implement poc
  go.mod
  go.sum
  lib/umath/umath.go
  lib/uni/helpers.go
  scripts/postgres/postgres.go
  scripts/trade/.goreleaser-snapshot.yaml
  scripts/trade/Dockerfile
  scripts/trade/Makefile
  scripts/trade/app/app.go
  scripts/trade/app/app_test.go
  scripts/trade/cmd/cmd.go
  scripts/trade/cmd/flags.go
  scripts/trade/compose.yaml
  scripts/trade/config/config.go
  scripts/trade/config/config.toml.tpl
  scripts/trade/config/config_test.go
  scripts/trade/config/testdata/default_trade.toml
  scripts/trade/main.go
  scripts/trade/rpc/error.go
  scripts/trade/rpc/handler.go
  scripts/trade/rpc/metrics.go
  scripts/trade/rpc/server.go
  scripts/trade/sqlc.yaml
  scripts/trade/users/api.go
  scripts/trade/users/client/client.go
  scripts/trade/users/db/db.go
  scripts/trade/users/db/models.go
  scripts/trade/users/db/queries.sql
  scripts/trade/users/db/queries.sql.go
  scripts/trade/users/db/schema.go
  scripts/trade/users/db/schema.sql
  scripts/trade/users/service/helpers.go
  scripts/trade/users/service/rpc.go
  scripts/trade/users/service/service.go
  scripts/trade/users/validate.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  scripts/postgres/postgres.go
  scripts/trade/Makefile
Due: run-go-tests, run-golint, run-goversion

cleanup
  scripts/trade/app/app.go
Due: run-go-tests, run-golint, run-goversion

add DeepWiki badge
  README.md
Due: none

chore(scripts/trade): implement poc (#4262)
  go.mod
  go.sum
  lib/umath/umath.go
  lib/uni/helpers.go
  scripts/postgres/postgres.go
  scripts/trade/.goreleaser-snapshot.yaml
  scripts/trade/Dockerfile
  scripts/trade/Makefile
  scripts/trade/app/app.go
  scripts/trade/app/app_test.go
  scripts/trade/cmd/cmd.go
  scripts/trade/cmd/flags.go
  scripts/trade/compose.yaml
  scripts/trade/config/config.go
  scripts/trade/config/config.toml.tpl
  scripts/trade/config/config_test.go
  scripts/trade/config/testdata/default_trade.toml
  scripts/trade/main.go
  scripts/trade/rpc/error.go
  scripts/trade/rpc/handler.go
  scripts/trade/rpc/metrics.go
  scripts/trade/rpc/server.go
  scripts/trade/sqlc.yaml
  scripts/trade/users/api.go
  scripts/trade/users/client/client.go
  scripts/trade/users/db/db.go
  scripts/trade/users/db/models.go
  scripts/trade/users/db/queries.sql
  scripts/trade/users/db/queries.sql.go
  scripts/trade/users/db/schema.go
  scripts/trade/users/db/schema.sql
  scripts/trade/users/service/helpers.go
  scripts/trade/users/service/rpc.go
  scripts/trade/users/service/service.go
  scripts/trade/users/validate.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/coingecko): add all tokens endpoint
  lib/svmutil/stream.go
  lib/tokenpricer/coingecko/coingecko.go
  lib/tokenpricer/coingecko/tokens.go
  lib/uni/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/coingecko): add all tokens endpoint (#4271)
  lib/svmutil/stream.go
  lib/tokenpricer/coingecko/coingecko.go
  lib/tokenpricer/coingecko/tokens.go
  lib/uni/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(scripts/trade): remove trade poc
  scripts/postgres/postgres.go
  scripts/trade/.goreleaser-snapshot.yaml
  scripts/trade/Dockerfile
  scripts/trade/Makefile
  scripts/trade/app/app.go
  scripts/trade/app/app_test.go
  scripts/trade/cmd/cmd.go
  scripts/trade/cmd/flags.go
  scripts/trade/compose.yaml
  scripts/trade/config/config.go
  scripts/trade/config/config.toml.tpl
  scripts/trade/config/config_test.go
  scripts/trade/config/testdata/default_trade.toml
  scripts/trade/main.go
  scripts/trade/rpc/error.go
  scripts/trade/rpc/handler.go
  scripts/trade/rpc/metrics.go
  scripts/trade/rpc/server.go
  scripts/trade/sqlc.yaml
  scripts/trade/users/api.go
  scripts/trade/users/client/client.go
  scripts/trade/users/db/db.go
  scripts/trade/users/db/models.go
  scripts/trade/users/db/queries.sql
  scripts/trade/users/db/queries.sql.go
  scripts/trade/users/db/schema.go
  scripts/trade/users/db/schema.sql
  scripts/trade/users/service/helpers.go
  scripts/trade/users/service/rpc.go
  scripts/trade/users/service/service.go
  scripts/trade/users/validate.go
Due: run-go-tests, run-golint, run-goversion

chore(scripts/trade): remove trade poc (#4272)
  scripts/postgres/postgres.go
  scripts/trade/.goreleaser-snapshot.yaml
  scripts/trade/Dockerfile
  scripts/trade/Makefile
  scripts/trade/app/app.go
  scripts/trade/app/app_test.go
  scripts/trade/cmd/cmd.go
  scripts/trade/cmd/flags.go
  scripts/trade/compose.yaml
  scripts/trade/config/config.go
  scripts/trade/config/config.toml.tpl
  scripts/trade/config/config_test.go
  scripts/trade/config/testdata/default_trade.toml
  scripts/trade/main.go
  scripts/trade/rpc/error.go
  scripts/trade/rpc/handler.go
  scripts/trade/rpc/metrics.go
  scripts/trade/rpc/server.go
  scripts/trade/sqlc.yaml
  scripts/trade/users/api.go
  scripts/trade/users/client/client.go
  scripts/trade/users/db/db.go
  scripts/trade/users/db/models.go
  scripts/trade/users/db/queries.sql
  scripts/trade/users/db/queries.sql.go
  scripts/trade/users/db/schema.go
  scripts/trade/users/db/schema.sql
  scripts/trade/users/service/helpers.go
  scripts/trade/users/service/rpc.go
  scripts/trade/users/service/service.go
  scripts/trade/users/validate.go
Due: run-go-tests, run-golint, run-goversion

chore(gomod): tidy
  go.mod
  go.sum
Due: none

chore(gomod): tidy (#4273)
  go.mod
  go.sum
Due: none

chore(lib/log): add optional log writer
  lib/log/config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/log): add optional log writer (#4274)
  lib/log/config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifest): fix staging
  e2e/manifests/staging.toml
Due: none
