Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

use -> protocol
  docs/site/README.md
  docs/site/docs/home.md
  docs/site/docs/learn/building.md
  docs/site/docs/protocol/architecture.md
  docs/site/docs/protocol/future.md
  docs/site/docs/protocol/overview.md
  docs/site/docs/protocol/restaking.md
  docs/site/docusaurus.config.ts
  docs/site/sidebars.ts
Due: none

fix links
  docs/site/docs/develop/contracts.md
  docs/site/docs/develop/introduction.md
  docs/site/docs/learn/building.md
  docs/site/docs/learn/introduction.md
  docs/site/docs/protocol/architecture.md
  docs/site/docs/protocol/overview.md
  docs/site/docs/use/overview.md
  docs/site/docs/use/protocol.md
Due: none

docs(protocol): change use to protocol (#388)
  docs/site/README.md
  docs/site/docs/develop/contracts.md
  docs/site/docs/develop/introduction.md
  docs/site/docs/home.md
  docs/site/docs/learn/building.md
  docs/site/docs/learn/introduction.md
  docs/site/docs/protocol/architecture.md
  docs/site/docs/protocol/future.md
  docs/site/docs/protocol/overview.md
  docs/site/docs/protocol/restaking.md
  docs/site/docusaurus.config.ts
  docs/site/sidebars.ts
Due: none

chore(contracts): simplify & test xapp
  contracts/bindings/examples/pingpong.go
  contracts/bindings/omniavs.go
  contracts/src/examples/PingPong.sol
  contracts/src/pkg/XApp.sol
Due: run-go-tests, run-regexp, run-goversion

bump versions
  contracts/package.json
Due: none

chore(contracts): simplify and test xapp (#389)
  contracts/bindings/examples/pingpong.go
  contracts/bindings/omniavs.go
  contracts/package.json
  contracts/src/examples/PingPong.sol
  contracts/src/pkg/XApp.sol
Due: run-go-tests, run-regexp, run-goversion

docs(develop): update developer documentation
  docs/site/README.md
  docs/site/docs/develop/contracts.md
  docs/site/docs/develop/example.md
  docs/site/docs/develop/introduction.md
  docs/site/docs/develop/xapp.md
  docs/site/docusaurus.config.ts
Due: none

update comments in snippet
  docs/site/docs/develop/xapp.md
Due: none

saving progress
  docs/site/docs/develop/xapp.md
Due: none

cleanup, add fees and gaslimt docs
  docs/site/docs/develop/xapp.md
Due: none

fix
  docs/site/docs/develop/xapp.md
Due: none

docs(develop): update developer documentation (#387)
  docs/site/README.md
  docs/site/docs/develop/contracts.md
  docs/site/docs/develop/example.md
  docs/site/docs/develop/introduction.md
  docs/site/docs/develop/xapp.md
  docs/site/docusaurus.config.ts
Due: none

chore(docs): add algolia search index
  docs/site/docs/home.md
  docs/site/docusaurus.config.ts
  docs/site/static/img/omni-banner.png
Due: none

small touchup
  .secrets.baseline
  test/e2e/app/run.go
  test/e2e/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): add algolia search index (#390)
  docs/site/docs/home.md
  docs/site/docusaurus.config.ts
  docs/site/static/img/omni-banner.png
Due: none

chore(e2e): moving pingpong trigger to deploy config (#377)
  .secrets.baseline
  test/e2e/app/run.go
  test/e2e/cmd/cmd.go
  test/e2e/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

fix(docs): fix search
  docs/site/docusaurus.config.ts
Due: none

chore(docs): fix navbar modal color
  docs/site/src/css/custom.css
Due: none

fix(docs): search (#392)
  docs/site/docusaurus.config.ts
  docs/site/src/css/custom.css
Due: none

refactor(e2e/send): rename sender to backends
  .secrets.baseline
  relayer/app/worker_test.go
  test/e2e/app/avs.go
  test/e2e/app/contract.go
  test/e2e/app/definition.go
  test/e2e/app/run.go
  test/e2e/backend/backend.go
  test/e2e/backend/backends.go
  test/e2e/backend/wait.go
  test/e2e/netman/avs/xdapp.go
  test/e2e/netman/helpers.go
  test/e2e/netman/manager.go
  test/e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

refactor(e2e/send): rename sender to backends (#391)
  .secrets.baseline
  relayer/app/worker_test.go
  test/e2e/app/avs.go
  test/e2e/app/contract.go
  test/e2e/app/definition.go
  test/e2e/app/run.go
  test/e2e/backend/backend.go
  test/e2e/backend/backends.go
  test/e2e/backend/wait.go
  test/e2e/netman/avs/xdapp.go
  test/e2e/netman/helpers.go
  test/e2e/netman/manager.go
  test/e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): escape dollar signs
  docs/site/docs/resources/glossary.md
Due: none

chore(docs): fix broken anchors
  docs/site/docs/protocol/architecture.md
  docs/site/docs/protocol/overview.md
Due: none

chore(docs): escape other dollar signs in docs
  docs/site/docs/archive/programmability.md
  docs/site/docs/archive/restaking.md
  docs/site/docs/learn/building.md
  docs/site/docs/protocol/overview.md
Due: none

chore(docs): add space to escaped signs
  docs/site/docs/archive/programmability.md
  docs/site/docs/archive/restaking.md
  docs/site/docs/learn/building.md
  docs/site/docs/protocol/overview.md
  docs/site/docs/resources/glossary.md
Due: none

chore(docs): fix unescaped dollar signs and anchors (#393)
  docs/site/docs/archive/programmability.md
  docs/site/docs/archive/restaking.md
  docs/site/docs/learn/building.md
  docs/site/docs/protocol/architecture.md
  docs/site/docs/protocol/overview.md
  docs/site/docs/resources/glossary.md
Due: none

adds more tests
  halo/evmengine/keeper/abci_internal_test.go
Due: run-go-tests, run-goversion

more tests
  halo/evmengine/keeper/abci_internal_test.go
Due: run-go-tests, run-goversion

check if tx is pending first
  lib/txmgr/txmgr.go
  lib/txmgr/txmgr_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/ethclient): implement ethclient interface and wrapper
  explorer/indexer/app/app.go
  go.mod
  halo/app/start.go
  lib/engine/client.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  lib/ethclient/metrics.go
  lib/netconf/netconf.go
  lib/txmgr/config.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/provider.go
  relayer/app/app.go
  relayer/app/monitor.go
  relayer/app/opsender.go
  test/e2e/backend/backend.go
  test/e2e/backend/backends.go
  test/e2e/tests/e2e_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/ethclient): implement ethclient interface and wrapper (#395)
  explorer/indexer/app/app.go
  go.mod
  halo/app/start.go
  lib/engine/client.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  lib/ethclient/metrics.go
  lib/netconf/netconf.go
  lib/txmgr/config.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/provider.go
  relayer/app/app.go
  relayer/app/monitor.go
  relayer/app/opsender.go
  test/e2e/backend/backend.go
  test/e2e/backend/backends.go
  test/e2e/tests/e2e_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/engine): move authclient to ethclient package
  .secrets.baseline
  halo/app/app.go
  halo/app/start.go
  halo/attest/keeper/keeper.go
  halo/attest/module/module.go
  halo/evmengine/keeper/abci.go
  halo/evmengine/keeper/keeper.go
  halo/evmengine/keeper/msg_server.go
  halo/evmengine/keeper/proposal_server.go
  halo/evmengine/module/module.go
  lib/engine/client.go
  lib/engine/interface.go
  lib/engine/methods.go
  lib/ethclient/client_test.go
  lib/ethclient/engineclient.go
  lib/ethclient/enginemock.go
  lib/ethclient/ethclient.go
  lib/ethclient/fuzz.go
  lib/ethclient/fuzz_test.go
  lib/ethclient/jwt.go
  scripts/gethdevnet/gethdevnet.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/engine): move engine API to ethclient package (#396)
  .secrets.baseline
  halo/app/app.go
  halo/app/start.go
  halo/attest/keeper/keeper.go
  halo/attest/module/module.go
  halo/evmengine/keeper/abci.go
  halo/evmengine/keeper/keeper.go
  halo/evmengine/keeper/msg_server.go
  halo/evmengine/keeper/proposal_server.go
  halo/evmengine/module/module.go
  lib/engine/client.go
  lib/engine/interface.go
  lib/engine/methods.go
  lib/ethclient/client_test.go
  lib/ethclient/engineclient.go
  lib/ethclient/enginemock.go
  lib/ethclient/ethclient.go
  lib/ethclient/fuzz.go
  lib/ethclient/fuzz_test.go
  lib/ethclient/jwt.go
  scripts/gethdevnet/gethdevnet.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo): describe basic consensus flow
  halo/README.md
Due: none

chore(halo): describe basic consensus flow (#397)
  halo/README.md
Due: none

test(e2e): add ci manifest with catchup node
  .golangci.yml
  Makefile
  test/e2e/app/rpc.go
  test/e2e/app/run.go
  test/e2e/app/start.go
  test/e2e/manifests/ci.toml
Due: run-go-tests, run-regexp, run-goversion

test(e2e): add ci manifest with catchup node (#398)
  .golangci.yml
  Makefile
  test/e2e/app/rpc.go
  test/e2e/app/run.go
  test/e2e/app/start.go
  test/e2e/manifests/ci.toml
Due: run-go-tests, run-regexp, run-goversion

chore(relayer): monitor attested height from relayer
  halo/app/start_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/query.go
  halo/attest/types/query.pb.go
  halo/attest/types/query.proto
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/provider_test.go
  relayer/app/app.go
  relayer/app/metrics.go
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): rename xfunc to xrecv
  contracts/package.json
  contracts/src/examples/PingPong.sol
  contracts/src/pkg/XApp.sol
Due: none

update docs
  docs/site/docs/develop/xapp.md
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-regexp: any of: \.go$, but not: _test.go
  run-goversion: any of: \.go$
