Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

fix(relayer): use latest ref (#2436)
  relayer/app/cursors.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(halo/voter): improve errors and logs
  halo/app/lazyvoter.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/msg_server.go
  halo/attest/keeper/proposal_server.go
  halo/attest/testutil/mock_interfaces.go
  halo/attest/types/helper.go
  halo/attest/types/interface.go
  halo/attest/voter/voter.go
  halo/attest/voter/voter_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(lib/k1util): prevent ECDSA malleability
  lib/k1util/k1util.go
  lib/k1util/k1util_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(lib/k1util): always verify pubkeys
  lib/k1util/k1util.go
  lib/k1util/k1util_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): implement new structure
  docs/content/README.md
  docs/content/build/_category_.json
  docs/content/build/faq.md
  docs/content/build/quickstart.md
  docs/content/build/walkthrough.md
  docs/content/learn/what-is-omni.md
  docs/content/operate/validator.md
  docs/content/resources/mainnet.md
  docs/content/resources/omega.md
  docs/website/sidebars.ts
Due: none

chore(halo/voter): improve errors and logs (#2437)
  halo/app/lazyvoter.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/msg_server.go
  halo/attest/keeper/proposal_server.go
  halo/attest/testutil/mock_interfaces.go
  halo/attest/types/helper.go
  halo/attest/types/interface.go
  halo/attest/voter/voter.go
  halo/attest/voter/voter_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(e2e): deploy solve contracts
  e2e/app/eoa/eoa.go
  e2e/app/eoa/static.go
  e2e/app/run.go
  e2e/manifests/devnetsolve.toml
  e2e/solve/deploy.go
  e2e/types/manifest.go
  lib/contracts/address.go
  lib/contracts/address_test.go
  lib/contracts/solveinbox/deploy.go
  lib/contracts/solveoutbox/deploy.go
  lib/contracts/testdata/TestContractAddressReference.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(e2e): solve devnet (#2434)
  e2e/app/eoa/eoa.go
  e2e/app/eoa/static.go
  e2e/app/run.go
  e2e/manifests/devnetsolve.toml
  e2e/solve/deploy.go
  e2e/types/manifest.go
  lib/contracts/address.go
  lib/contracts/address_test.go
  lib/contracts/solveinbox/deploy.go
  lib/contracts/solveoutbox/deploy.go
  lib/contracts/testdata/TestContractAddressReference.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(lib/k1util): always verify pubkeys (#2439)
  lib/k1util/k1util.go
  lib/k1util/k1util_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(lib/k1util): prevent ECDSA malleability (#2438)
  lib/k1util/k1util.go
  lib/k1util/k1util_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts/solve): add tests and refactor
  contracts/bindings/admin.go
  contracts/bindings/solveinbox.go
  contracts/bindings/solveoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/test/utils/MockPortal.sol
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolveInbox.sol
  contracts/solve/src/SolveOutbox.sol
  contracts/solve/src/interfaces/ISolveInbox.sol
  contracts/solve/test/InboxBase.sol
  contracts/solve/test/Inbox_accept.t.sol
  contracts/solve/test/Inbox_cancel.t.sol
  contracts/solve/test/Inbox_markFulfilled.t.sol
  contracts/solve/test/Inbox_reject.t.sol
  contracts/solve/test/Inbox_request.t.sol
  solver/app/deps.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts/solve): add tests and refactor (#2453)
  contracts/bindings/admin.go
  contracts/bindings/solveinbox.go
  contracts/bindings/solveoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/test/utils/MockPortal.sol
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolveInbox.sol
  contracts/solve/src/SolveOutbox.sol
  contracts/solve/src/interfaces/ISolveInbox.sol
  contracts/solve/test/InboxBase.sol
  contracts/solve/test/Inbox_accept.t.sol
  contracts/solve/test/Inbox_cancel.t.sol
  contracts/solve/test/Inbox_markFulfilled.t.sol
  contracts/solve/test/Inbox_reject.t.sol
  contracts/solve/test/Inbox_request.t.sol
  solver/app/deps.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

rebase and update bindings
  contracts/bindings/admin.go
Due: run-go-tests, run-golint, run-goversion

feat(relayer): relayer bootstrap from indexed cursors
  relayer/app/cursors/cursor.go
  relayer/app/cursors/cursors.cosmos_orm.go
  relayer/app/cursors/cursors.pb.go
  relayer/app/cursors/cursors.proto
  relayer/app/cursors/watcher.go
  relayer/app/cursors/watcher_test.go
  relayer/app/relayer.cosmos_orm.go
  relayer/app/relayer.pb.go
  relayer/app/relayer.proto
  scripts/buf_generate.sh
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/solve): support claim to any address
  contracts/bindings/solveinbox.go
  contracts/bindings/solveoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolveInbox.sol
  contracts/solve/src/interfaces/ISolveInbox.sol
  contracts/solve/test/Inbox_claim.t.sol
  solver/app/deps.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/solve): support claim to any address (#2454)
  contracts/bindings/solveinbox.go
  contracts/bindings/solveoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolveInbox.sol
  contracts/solve/src/interfaces/ISolveInbox.sol
  contracts/solve/test/Inbox_claim.t.sol
  solver/app/deps.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(contracts/solve): outbox fulfill tests
  contracts/bindings/solveoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolveOutbox.sol
  contracts/solve/test/Outbox_fulfill.t.sol
  contracts/solve/test/utils/MockVault.sol
Due: run-go-tests, run-golint, run-goversion

typo
  docs/content/learn/resources.md
  docs/content/resources/omega.md
Due: none

chore(docs): implement new structure (#2440)
  docs/content/README.md
  docs/content/build/_category_.json
  docs/content/build/faq.md
  docs/content/build/quickstart.md
  docs/content/build/walkthrough.md
  docs/content/learn/resources.md
  docs/content/learn/what-is-omni.md
  docs/content/operate/validator.md
  docs/content/resources/mainnet.md
  docs/content/resources/omega.md
  docs/website/sidebars.ts
Due: none

chore(halo/voter): improve voter logs
  halo/attest/keeper/keeper.go
  halo/attest/types/helper.go
  halo/attest/voter/voter.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(halo/voter): improve voter logs (#2446)
  halo/attest/keeper/keeper.go
  halo/attest/types/helper.go
  halo/attest/voter/voter.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): support canary upgrade regex
  e2e/types/infra.go
  e2e/types/infra_test.go
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): support canary upgrade regex (#2456)
  e2e/types/infra.go
  e2e/types/infra_test.go
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(contracts/solve): outbox fulfill tests (#2455)
  contracts/bindings/solveoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolveOutbox.sol
  contracts/solve/test/Outbox_fulfill.t.sol
  contracts/solve/test/utils/MockVault.sol
Due: run-go-tests, run-golint, run-goversion

fix uninitialized destination
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/BridgeNativePostUpgradeTest.sol
Due: run-go-tests, run-golint, run-goversion

add syncing duration explanation
  docs/content/operate/faq.md
Due: none

pre-initialize L1 bridge values
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/BridgeNativePostUpgradeTest.sol
Due: run-go-tests, run-golint, run-goversion

chore(contracts/core): fix uninitialized destination (#2458)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/BridgeNativePostUpgradeTest.sol
Due: run-go-tests, run-golint, run-goversion

chore(e2e): increase admin fb signing timeout
  e2e/app/admin/common.go
  e2e/fbproxy/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): increase admin fb signing timeout (#2464)
  e2e/app/admin/common.go
  e2e/fbproxy/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add new initializer to upgrade flow and add staking upgrade tests
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/script/admin/StakingPostUpgradeTest.sol
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

clean up go
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(multi): use staking reinitializer and add upgrade tests (#2465)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/script/admin/StakingPostUpgradeTest.sol
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

generate signatures instead of using precomputed ones, as digest changes due to different chainIds
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/StakingPostUpgradeTest.sol
  contracts/core/test/octane/Staking.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(relayer): relayer bootstrap from indexed cursors
  relayer/app/app.go
  relayer/app/config.go
  relayer/app/cursor/cursor.go
  relayer/app/cursor/cursors.cosmos_orm.go
  relayer/app/cursor/cursors.go
  relayer/app/cursor/cursors.pb.go
  relayer/app/cursor/cursors.proto
  relayer/app/cursor/cursors_test.go
  relayer/app/cursor/stream.go
  relayer/app/cursors.go
  relayer/app/cursors/cursor.go
  relayer/app/cursors/cursors.pb.go
  relayer/app/cursors/watcher.go
  relayer/app/worker.go
  relayer/app/worker_internal_test.go
  relayer/cmd/flags.go
  scripts/buf_generate.sh
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion
