Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

fix(contracts/core): reduce multiplication in feeFor calc (#1878)
  contracts/bindings/feeoraclev1.go
  contracts/core/.gas-snapshot
  contracts/core/src/xchain/FeeOracleV1.sol
Due: run-go-tests, run-goversion

fix(contracts/core): read xheader from calldata (#1880)
  contracts/bindings/admin.go
  contracts/bindings/omniportal.go
  contracts/core/.gas-snapshot
  contracts/core/src/xchain/OmniPortal.sol
Due: run-go-tests, run-goversion

fix(contracts/core): avoid division in quorum check (#1877)
  contracts/bindings/admin.go
  contracts/bindings/omniportal.go
  contracts/core/.gas-snapshot
  contracts/core/src/libraries/Quorum.sol
Due: run-go-tests, run-goversion

fix(contracts/core): avoid var name shadowing (#1879)
  contracts/bindings/admin.go
  contracts/bindings/omniportal.go
  contracts/core/src/xchain/OmniPortal.sol
Due: run-go-tests, run-goversion

fix(contracts/core): emit cchain offset events on initialize (#1884)
  contracts/bindings/admin.go
  contracts/bindings/omniportal.go
  contracts/core/.gas-snapshot
  contracts/core/src/xchain/OmniPortal.sol
Due: run-go-tests, run-goversion

fix(contracts/core): require non zero gas price
  contracts/bindings/feeoraclev1.go
  contracts/core/.gas-snapshot
  contracts/core/src/xchain/FeeOracleV1.sol
Due: run-go-tests, run-goversion

fix(contracts/core): reduce bitshit in ispredeploy check (#1888)
  contracts/core/src/libraries/Predeploys.sol
Due: none

ci(goreleaser): fix monitor version
  .goreleaser.yaml
Due: none

chore(e2e/admin): add rhino to staking allow list
  e2e/app/admin/allowoperator.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e/admin): add rhino to staking allow list (#1901)
  e2e/app/admin/allowoperator.go
Due: run-go-tests, run-regexp, run-goversion

ci(goreleaser): fix monitor version (#1897)
  .goreleaser.yaml
Due: none

feat(e2e): add contracts to fund cmd
  e2e/app/fund.go
  e2e/cmd/cmd.go
  lib/contracts/fund.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/contracts): add devnet addrs to golden
  lib/contracts/address_test.go
  lib/contracts/testdata/TestContractAddressReference.golden
Due: run-go-tests, run-goversion

fix(contracts/core): make xgaspump importable
  contracts/core/.gas-snapshot
  contracts/core/src/interfaces/IOmniGasPump.sol
  contracts/core/src/pkg/XGasPump.sol
  contracts/core/src/token/OmniGasPump.sol
Due: none

fix(contracts/core): make xgaspump importable
  contracts/bindings/omnigaspump.go
  contracts/core/src/pkg/XGasPump.sol
Due: run-go-tests, run-goversion

fix(contracts/core): make xgaspump importable (#1904)
  contracts/bindings/omnigaspump.go
  contracts/core/.gas-snapshot
  contracts/core/src/interfaces/IOmniGasPump.sol
  contracts/core/src/pkg/XGasPump.sol
  contracts/core/src/token/OmniGasPump.sol
Due: run-go-tests, run-goversion

only unmarshal req on post
  e2e/anvilproxy/app/proxy.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e/anvilproxy): copy response headers
  e2e/anvilproxy/app/proxy.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo): support cosmos grpc and api
  cli/cmd/compose.yml.tpl
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
  halo/app/app.go
  halo/app/start.go
  halo/app/start_test.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestCLIReference_rollback.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/cmd/testinput/input1/config/halo.toml
  halo/cmd/testinput/input2/config/halo.json
  halo/config/config.go
  halo/config/config.toml.tmpl
  halo/config/testdata/default_halo.toml
  lib/cchain/grpc/client.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  halo/app/start_test.go
Due: run-go-tests, run-goversion

chore(lib/contracts): add devnet addrs to golden (#1903)
  lib/contracts/address_test.go
  lib/contracts/testdata/TestContractAddressReference.golden
Due: run-go-tests, run-goversion

feat(e2e): add contracts to fund cmd (#1902)
  e2e/app/fund.go
  e2e/cmd/cmd.go
  lib/contracts/fund.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e/anvilproxy): copy response headers (#1906)
  e2e/anvilproxy/app/proxy.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo): support cosmos grpc and api (#1907)
  cli/cmd/compose.yml.tpl
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
  halo/app/app.go
  halo/app/start.go
  halo/app/start_test.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestCLIReference_rollback.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/cmd/testinput/input1/config/halo.toml
  halo/cmd/testinput/input2/config/halo.json
  halo/config/config.go
  halo/config/config.toml.tmpl
  halo/config/testdata/default_halo.toml
  lib/cchain/grpc/client.go
Due: run-go-tests, run-regexp, run-goversion

chore(*): few tweaks
  halo/attest/keeper/keeper.go
  halo/attest/types/tx.go
Due: run-go-tests, run-regexp, run-goversion

chore(*): few tweaks (#1911)
  halo/attest/keeper/keeper.go
  halo/attest/types/tx.go
Due: run-go-tests, run-regexp, run-goversion

fix(contracts/core): prefer calldata for local var (#1876)
  contracts/bindings/admin.go
  contracts/bindings/omniportal.go
  contracts/core/.gas-snapshot
  contracts/core/src/libraries/Quorum.sol
Due: run-go-tests, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$, but not: (explorer/db/ent/internal/.*)
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)
  run-goversion: any of: \.go$
