Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

Address PR comments
  sdk/src/context/omni.tsx
  sdk/src/hooks/useOmniContracts.ts
  sdk/src/hooks/useOrder.ts
  sdk/src/types/config.ts
  sdk/src/types/contracts.ts
  sdk/src/utils/getContracts.ts
Due: none

chore(solver): add sepolia wsteth
  solver/app/testdata/TestTokens.golden
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

begin refactoring order ID implementation so IDs are unique, not ordered
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/temp/E2E.t.sol
  contracts/solve/temp/inbox/Claim.t.sol
  contracts/solve/temp/inbox/Close.t.sol
  contracts/solve/temp/inbox/General.t.sol
  contracts/solve/temp/inbox/MarkFilled.t.sol
  contracts/solve/temp/inbox/Open.t.sol
  contracts/solve/temp/inbox/Reject.t.sol
  contracts/solve/temp/inbox/Resolve.t.sol
  contracts/solve/temp/inbox/Validate.t.sol
  contracts/solve/temp/outbox/Executor.t.sol
  contracts/solve/temp/outbox/Fill.t.sol
  contracts/solve/temp/outbox/Middleman.t.sol
  contracts/solve/test/TestBase.sol
Due: run-go-tests, run-golint, run-goversion

chore(e2e): add solver eoa
  e2e/app/eoa/fund.go
  e2e/app/eoa/static.go
  e2e/app/eoa/static_test.go
  e2e/app/eoa/testdata/threshold_reference.json
  e2e/app/fund.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Update SDK readme to add check for order's `isReady` value
  sdk/README.md
Due: none

refactor
  lib/cchain/queryutil/staking.go
  monitor/staking/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): add sepolia wsteth (#3340)
  solver/app/testdata/TestTokens.golden
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): add useOmniContracts hook (#3331)
  sdk/README.md
  sdk/src/context/omni.tsx
  sdk/src/errors/base.ts
  sdk/src/hooks/useDidFill.ts
  sdk/src/hooks/useGetOrder.ts
  sdk/src/hooks/useOmniContracts.ts
  sdk/src/hooks/useOrder.ts
  sdk/src/index.test.ts
  sdk/src/index.ts
  sdk/src/types/config.ts
  sdk/src/types/contracts.ts
  sdk/src/types/order.ts
  sdk/src/utils/getContracts.ts
  sdk/src/utils/withExecAndTransfer.ts
Due: none

chore(solver): remove omega holesky (#3335)
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix copy-pasted code
  monitor/supply/supply.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

updated mock inbox and tests
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetOutbox.sol
  contracts/solve/test/E2E.t.sol
  contracts/solve/test/inbox/Claim.t.sol
  contracts/solve/test/inbox/Close.t.sol
  contracts/solve/test/inbox/General.t.sol
  contracts/solve/test/inbox/MarkFilled.t.sol
  contracts/solve/test/inbox/Open.t.sol
  contracts/solve/test/inbox/Reject.t.sol
  contracts/solve/test/inbox/Resolve.t.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/outbox/Executor.t.sol
  contracts/solve/test/outbox/Fill.t.sol
  contracts/solve/test/outbox/General.t.sol
  contracts/solve/test/outbox/Middleman.t.sol
  contracts/solve/test/utils/MockSolverNetInbox.sol
Due: run-go-tests, run-golint, run-goversion

chore(sdk): bump alpha version
  sdk/package.json
Due: none

Revert "feat(monitor): token supply metrics (#3318)"
  monitor/app/app.go
  monitor/app/staking/staking.go
  monitor/app/supply/metrics.go
  monitor/app/supply/supply.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Revert "feat(monitor): pagination for metrics scraping (#3319)"
  lib/cchain/queryutil/staking.go
  monitor/app/staking/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(monitor): revert staking metrics (#3351)
  lib/cchain/queryutil/staking.go
  monitor/app/app.go
  monitor/app/staking/staking.go
  monitor/app/supply/metrics.go
  monitor/app/supply/supply.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

switch migration call to staking delegation
  contracts/core/.gas-snapshot
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

chore(sdk): bump alpha version (#3350)
  sdk/package.json
Due: none

chore(sdk): bump version add prepublish step
  sdk/package.json
  sdk/tsconfig.build.json
Due: none

chore(sdk): bump version add prepublish step (#3352)
  sdk/package.json
  sdk/tsconfig.build.json
Due: none

call staking via solvernet
  contracts/core/.gas-snapshot
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

prevent migration from accounts not in merkle tree
  contracts/core/.gas-snapshot
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

opt for chain-specific implementations for validator selection
  contracts/core/.gas-snapshot
  contracts/core/script/manual/GenesisStake.s.sol
  contracts/core/src/token/distributor/MainnetMerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/MerkleDistributor.sol
  contracts/core/src/token/distributor/MerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/OmegaMerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/StagingMerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

rename contract
  contracts/core/src/token/distributor/MainnetMerkleDistributorWithDeadline.sol
Due: none

random selection instead of round robin
  contracts/core/.gas-snapshot
  contracts/core/src/token/distributor/MainnetMerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/MerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/OmegaMerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/StagingMerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

final changes, manual script test successful
  contracts/core/.gas-snapshot
  contracts/core/script/manual/GenesisStake.s.sol
  contracts/core/src/token/distributor/MainnetMerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/MerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/OmegaMerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/StagingMerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

feat(contracts/core): migrate to staking delegation on staging (#3354)
  contracts/core/.gas-snapshot
  contracts/core/script/manual/GenesisStake.s.sol
  contracts/core/src/token/distributor/MainnetMerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/MerkleDistributor.sol
  contracts/core/src/token/distributor/MerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/OmegaMerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/StagingMerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

update go, remove latestOrderByStatus
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/E2E.t.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/Claim.t.sol
  contracts/solve/test/inbox/Close.t.sol
  contracts/solve/test/inbox/MarkFilled.t.sol
  contracts/solve/test/inbox/Open.t.sol
  contracts/solve/test/inbox/Reject.t.sol
  lib/contracts/solvernet/types.go
  solver/app/check.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add latest offset by status
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/Open.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(contracts/solve): switch to unique order IDs (#3343)
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetOutbox.sol
  contracts/solve/test/E2E.t.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/Claim.t.sol
  contracts/solve/test/inbox/Close.t.sol
  contracts/solve/test/inbox/MarkFilled.t.sol
  contracts/solve/test/inbox/Open.t.sol
  contracts/solve/test/inbox/Reject.t.sol
  contracts/solve/test/inbox/Resolve.t.sol
  contracts/solve/test/outbox/Fill.t.sol
  contracts/solve/test/outbox/General.t.sol
  contracts/solve/test/utils/MockSolverNetInbox.sol
  lib/contracts/solvernet/types.go
  solver/app/check.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts): deploy executor seperate from outbox
  contracts/Makefile
  contracts/bindings/solvernetexecutor.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/outbox/Executor.t.sol
  e2e/solve/deploy.go
  e2e/test/solve_test.go
  lib/contracts/address.go
  lib/contracts/address_test.go
  lib/contracts/solvernet/executor/deploy.go
  lib/contracts/solvernet/outbox/deploy.go
  lib/contracts/testdata/TestContractAddressReference.golden
  solver/app/handler.go
  solver/types/api.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Revert "chore(solver): remove omega holesky (#3335)"
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/solve): deploy holesky solvernet contracts
  e2e/solve/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Revert "fix(monitor): revert staking metrics (#3351)"
  lib/cchain/queryutil/staking.go
  monitor/app/app.go
  monitor/app/staking/staking.go
  monitor/app/supply/metrics.go
  monitor/app/supply/supply.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix overflows
  lib/cchain/queryutil/staking.go
  monitor/app/app.go
  monitor/staking/metrics.go
  monitor/staking/staking.go
  monitor/supply/metrics.go
  monitor/supply/supply.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

use ptrs with big ints
  lib/cchain/queryutil/staking.go
  monitor/staking/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

use ether
  monitor/staking/metrics.go
  monitor/staking/staking.go
  monitor/supply/metrics.go
  monitor/supply/supply.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor): add solver xdapp metrics (#3338)
  monitor/xmonitor/indexer/indexer.go
  monitor/xmonitor/indexer/indexer_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

refactor(solver): multiple devnet streamers (#3337)
  lib/evmchain/evmchain.go
  lib/xchain/types.go
  solver/app/app.go
  solver/app/cursor.go
  solver/app/processor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion
