Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

feat(lib/ethbackend): add fireblocks backend and wire e2e
  .secrets.baseline
  e2e/app/definition.go
  e2e/cmd/cmd.go
  e2e/cmd/flags.go
  e2e/netman/pingpong/pingpong.go
  e2e/vmcompose/provider_test.go
  lib/contracts/avs/register.go
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/ethbackend/backends.go
  lib/fireblocks/account.go
  lib/fireblocks/client.go
  lib/fireblocks/client_test.go
  lib/fireblocks/config.go
  lib/fireblocks/key.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/ethbackend): add fireblocks backend and wire e2e (#641)
  .secrets.baseline
  e2e/app/definition.go
  e2e/cmd/cmd.go
  e2e/cmd/flags.go
  e2e/netman/pingpong/pingpong.go
  e2e/vmcompose/provider_test.go
  lib/contracts/avs/register.go
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/ethbackend/backends.go
  lib/fireblocks/account.go
  lib/fireblocks/client.go
  lib/fireblocks/client_test.go
  lib/fireblocks/config.go
  lib/fireblocks/key.go
Due: run-go-tests, run-regexp, run-goversion

fix golden
  lib/log/testdata/TestSimpleLogs_cli.golden
Due: none

docs(develop): testnet doc
  docs/site/docs/develop/quickstart/install.md
  docs/site/docs/develop/quickstart/testnet.md
  docs/site/sidebars.ts
Due: none

docs(develop): testnet docs
  docs/site/docs/develop/quickstart/install.md
  docs/site/docs/develop/quickstart/testnet.md
  docs/site/docs/develop/testnet/resources.md
  docs/site/docs/develop/testnet/testnet.md
  docs/site/sidebars.ts
Due: none

docs(develop): testnet doc (#633)
  docs/site/docs/develop/testnet/resources.md
  docs/site/docs/develop/testnet/testnet.md
  docs/site/docs/operate/testnet/install.md
  docs/site/sidebars.ts
Due: none

docs(learn): add link to tutorial
  docs/site/docs/learn/omni/testnet.md
Due: none

docs(learn): unmention missions site
  docs/site/docs/learn/testnet/testnet.md
Due: none

docs(learn): add to wallet
  docs/site/docs/learn/omni/testnet.md
Due: none

docs(learn): create own testnet sidebar section
  docs/site/docs/learn/testnet/testnet.md
  docs/site/sidebars.ts
Due: none

docs(learn): add to wallet (#645)
  docs/site/docs/learn/omni/testnet.md
  docs/site/docs/learn/testnet/testnet.md
  docs/site/sidebars.ts
Due: none

docs(operate): update operator docs for holesky
  docs/site/docs/operate/testnet/client.md
  docs/site/docs/operate/testnet/introduction.md
  docs/site/docs/operate/testnet/register.md
Due: none

docs(testnet): banner styling
  docs/site/src/pages/testnet.css
  docs/site/static/img/banner-2-light.png
  docs/site/static/img/banner-2.png
  docs/site/static/img/banner-wide-light.png
  docs/site/static/img/banner-wide.png
Due: none

docs(testnet): add testnet landing page
  docs/site/package.json
  docs/site/pnpm-lock.yaml
  docs/site/src/pages/testnet.css
  docs/site/src/pages/testnet.tsx
  docs/site/static/img/banner-2-light.png
  docs/site/static/img/banner-2.png
  docs/site/static/img/logo-white.svg
Due: none

docs(testnet): highlight color
  docs/site/src/pages/testnet.css
Due: none

docs(testnet): highlight dot
  docs/site/src/pages/testnet.css
  docs/site/src/pages/testnet.tsx
Due: none

docs(testnet): pulse dot
  docs/site/src/pages/testnet.css
Due: none

docs(testnet): timeline tbd
  docs/site/src/pages/testnet.tsx
Due: none

docs(testnet): hrefs
  docs/site/src/pages/testnet.css
  docs/site/src/pages/testnet.tsx
Due: none

docs(testnet): social icons
  docs/site/src/pages/testnet.css
  docs/site/src/pages/testnet.tsx
Due: none

docs(testnet): add links
  docs/site/src/pages/testnet.css
  docs/site/src/pages/testnet.tsx
Due: none

docs(testnet): update links
  docs/site/src/pages/testnet.tsx
Due: none

docs(testnet): styles
  docs/site/src/pages/testnet.css
  docs/site/src/pages/testnet.tsx
  docs/site/static/img/logo-dark-blue.svg
Due: none

docs(operate): add section on obtaining token
  docs/site/docs/operate/testnet/client.md
  docs/site/docs/operate/testnet/testnet.md
Due: none

docs(operate): update operator docs for holesky (#646)
  docs/site/docs/operate/testnet/client.md
  docs/site/docs/operate/testnet/register.md
  docs/site/docs/operate/testnet/testnet.md
Due: none

feat(lib/contracts): deploy avs via create3
  .secrets.baseline
  e2e/app/avs.go
  e2e/app/create3.go
  e2e/app/run.go
  e2e/netman/manager.go
  e2e/netman/pingpong/pingpong.go
  halo/genutil/evm/evm.go
  halo/genutil/evm/testdata/TestMakeGenesis.golden
  lib/anvil/accounts.go
  lib/contracts/avs/avs_test.go
  lib/contracts/avs/deploy.go
  lib/contracts/create3/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/contracts/proxyadmin/deploy.go
  lib/contracts/proxyadmin/deploy_test.go
  lib/contracts/static.go
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/ethbackend/backends.go
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/contracts): deploy avs via create3 (#643)
  .secrets.baseline
  e2e/app/avs.go
  e2e/app/create3.go
  e2e/app/run.go
  e2e/netman/manager.go
  e2e/netman/pingpong/pingpong.go
  halo/genutil/evm/evm.go
  halo/genutil/evm/testdata/TestMakeGenesis.golden
  lib/anvil/accounts.go
  lib/contracts/avs/avs_test.go
  lib/contracts/avs/deploy.go
  lib/contracts/create3/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/contracts/proxyadmin/deploy.go
  lib/contracts/proxyadmin/deploy_test.go
  lib/contracts/static.go
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/ethbackend/backends.go
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

wip: test fire
  lib/fireblocks/client_test.go
Due: run-go-tests, run-goversion

wip: test fire
  .github/workflows/gotest.yml
Due: none

cleanup
  .github/workflows/gotest.yml
Due: none

cleanup
  lib/fireblocks/client_test.go
Due: run-go-tests, run-goversion

cleanup
  .github/workflows/gotest.yml
  lib/fireblocks/client_test.go
Due: run-go-tests, run-goversion

cleanup
  .github/workflows/ci-pr.yml
  .github/workflows/gotest.yml
Due: none

cleanup
  .github/workflows/ci-verifypr.yml
Due: none

cleanup
  .github/workflows/ci-pr.yml
  .github/workflows/ci-verifypr.yml
Due: none

cleanup
  .github/workflows/ci-pr.yml
Due: none

cleanup
  .github/workflows/ci-verifypr.yml
  .github/workflows/gotest.yml
  lib/fireblocks/client_test.go
Due: run-go-tests, run-goversion

Path conditions:
  run-go-tests: any of: \.go$
  run-regexp: any of: \.go$, but not: _test.go
  run-goversion: any of: \.go$
