Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

ci(e2e): improve geth config v3
  .github/workflows/pr-e2etest.yml
  .secrets.baseline
  e2e/app/geth.toml.tmpl
  e2e/app/geth/config.go
  e2e/app/geth/config_internal_test.go
  e2e/app/geth/geth-keystore.json
  e2e/app/geth/testdata/TestWriteConfigTOML_archive.golden
  e2e/app/geth/testdata/TestWriteConfigTOML_full.golden
  e2e/app/geth/types.go
  e2e/app/setup.go
  e2e/app/setup_internal_test.go
  e2e/app/test.go
  e2e/app/testdata/TestWriteGethConfigTOML.golden
  e2e/docker/docker.go
  e2e/docker/docker_internal_test.go
  e2e/docker/docker_test.go
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/manifests/simple.toml
  e2e/test/e2e_test.go
  e2e/test/geth_test.go
  e2e/types/manifest.go
  go.mod
  go.sum
  halo/genutil/evm/evm.go
  halo/genutil/evm/testdata/TestMakeGenesis.golden
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): improve geth config v3 (#732)
  .github/workflows/pr-e2etest.yml
  .secrets.baseline
  e2e/app/geth.toml.tmpl
  e2e/app/geth/config.go
  e2e/app/geth/config_internal_test.go
  e2e/app/geth/geth-keystore.json
  e2e/app/geth/testdata/TestWriteConfigTOML_archive.golden
  e2e/app/geth/testdata/TestWriteConfigTOML_full.golden
  e2e/app/geth/types.go
  e2e/app/setup.go
  e2e/app/setup_internal_test.go
  e2e/app/test.go
  e2e/app/testdata/TestWriteGethConfigTOML.golden
  e2e/docker/docker.go
  e2e/docker/docker_internal_test.go
  e2e/docker/docker_test.go
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/manifests/simple.toml
  e2e/test/e2e_test.go
  e2e/test/geth_test.go
  e2e/types/manifest.go
  go.mod
  go.sum
  halo/genutil/evm/evm.go
  halo/genutil/evm/testdata/TestMakeGenesis.golden
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): remove geth keystore
  e2e/app/geth/config.go
  e2e/app/geth/geth-keystore.json
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): remove geth keystore (#733)
  e2e/app/geth/config.go
  e2e/app/geth/geth-keystore.json
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): improve upgrade command
  e2e/vmcompose/provider.go
  monitor/loadgen/stake.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): improve upgrade command (#734)
  e2e/vmcompose/provider.go
  monitor/loadgen/stake.go
Due: run-go-tests, run-regexp, run-goversion

feat(relayer): reset worker cursors on error
  relayer/app/state.go
  relayer/app/state_internal_test.go
  relayer/app/worker.go
Due: run-go-tests, run-regexp, run-goversion

feat(relayer): reset worker cursors on error (#735)
  relayer/app/state.go
  relayer/app/state_internal_test.go
  relayer/app/worker.go
Due: run-go-tests, run-regexp, run-goversion

test(relayer): slight test improvement
  relayer/app/state_internal_test.go
Due: run-go-tests, run-goversion

test(relayer): slight test improvement (#736)
  relayer/app/state_internal_test.go
Due: run-go-tests, run-goversion

ci(e2e): harden upgrade command
  e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): harden upgrade command (#737)
  e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/contracts): update staging addrs (#731)
  halo/genutil/evm/evm.go
  halo/genutil/evm/testdata/TestMakeGenesis.golden
  lib/contracts/addrs.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): best effort support for upgrading anvil networks
  e2e/types/infra.go
  e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): best effort support for upgrading anvil networks (#739)
  e2e/types/infra.go
  e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

feat(e2e): deploy proxy admin contracts
  .secrets.baseline
  e2e/app/proxyadmin.go
  e2e/app/run.go
  lib/contracts/proxyadmin/deploy.go
Due: run-go-tests, run-regexp, run-goversion

feat(e2e): add network versions
  e2e/app/avs.go
  e2e/netman/manager.go
  lib/contracts/addrs.go
  lib/netconf/network.go
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

feat(e2e): deploy proxy admin contracts (#740)
  .secrets.baseline
  e2e/app/proxyadmin.go
  e2e/app/run.go
  lib/contracts/proxyadmin/deploy.go
Due: run-go-tests, run-regexp, run-goversion

feat(e2e): add network versions (#738)
  e2e/app/avs.go
  e2e/netman/manager.go
  lib/contracts/addrs.go
  lib/netconf/network.go
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/ethbackend): add dest chain and from addr log attrs
  lib/ethclient/ethbackend/backend.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/ethbackend): add dest chain and from addr log attrs (#741)
  lib/ethclient/ethbackend/backend.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): always fund fireblocks dev account
  e2e/app/fund.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): always fund fireblocks dev account (#742)
  e2e/app/fund.go
Due: run-go-tests, run-regexp, run-goversion

init
  .secrets.baseline
  e2e/app/run.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/types/testnet.go
  e2e/vmcompose/provider.go
  e2e/vmcompose/provider_internal_test.go
  e2e/vmcompose/provider_test.go
  e2e/vmcompose/testdata/TestSetup_127_0_0_6_compose.yaml.golden
  explorer/indexer/scripts/clean.sql
Due: run-go-tests, run-regexp, run-goversion

init
  .secrets.baseline
  e2e/app/definition.go
  e2e/app/run.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/types/testnet.go
  e2e/vmcompose/provider.go
  e2e/vmcompose/provider_internal_test.go
  e2e/vmcompose/provider_test.go
  e2e/vmcompose/testdata/TestDeploy_deploy_127_0_0_1_compose.yaml.golden
  e2e/vmcompose/testdata/TestDeploy_deploy_127_0_0_2_compose.yaml.golden
  e2e/vmcompose/testdata/TestDeploy_deploy_127_0_0_3_compose.yaml.golden
  e2e/vmcompose/testdata/TestDeploy_deploy_127_0_0_4_compose.yaml.golden
  e2e/vmcompose/testdata/TestDeploy_deploy_127_0_0_5_compose.yaml.golden
  e2e/vmcompose/testdata/TestDeploy_deploy_127_0_0_6_compose.yaml.golden
  e2e/vmcompose/testdata/TestDeploy_upgrade_127_0_0_1_compose.yaml.golden
  e2e/vmcompose/testdata/TestDeploy_upgrade_127_0_0_2_compose.yaml.golden
  e2e/vmcompose/testdata/TestDeploy_upgrade_127_0_0_3_compose.yaml.golden
  e2e/vmcompose/testdata/TestDeploy_upgrade_127_0_0_4_compose.yaml.golden
  e2e/vmcompose/testdata/TestDeploy_upgrade_127_0_0_5_compose.yaml.golden
  e2e/vmcompose/testdata/TestDeploy_upgrade_127_0_0_6_compose.yaml.golden
Due: run-go-tests, run-regexp, run-goversion

deploy explorer
  .goreleaser.yaml
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/vmcompose/provider.go
  e2e/vmcompose/testdata/TestSetup_127_0_0_6_compose.yaml.golden
Due: run-go-tests, run-regexp, run-goversion

chore(ci): deploy x explorer (#744)
  .goreleaser.yaml
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/vmcompose/provider.go
  e2e/vmcompose/testdata/TestSetup_127_0_0_6_compose.yaml.golden
Due: run-go-tests, run-regexp, run-goversion

on restart docker policy
  .secrets.baseline
  e2e/docker/compose.yaml.tmpl
Due: none

deploy explorer
  e2e/vmcompose/provider_internal_test.go
  zindexer/dockerfile
  zindexer/explorer_indexer/indexer.toml
Due: run-go-tests, run-goversion

remove explorer-ui
  e2e/docker/docker.go
Due: run-go-tests, run-regexp, run-goversion

mend
  zindexer/dockerfile
  zindexer/explorer_indexer/indexer.toml
Due: none

fix(ci): emove explorer UI (#745)
  e2e/docker/docker.go
  e2e/vmcompose/provider_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

remove explorer ui
  .goreleaser.yaml
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_6_compose.yaml.golden
Due: none

fix(ci): remove explorer ui (#746)
  .goreleaser.yaml
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_6_compose.yaml.golden
Due: none

feat(contracts): xchain registry prototype
  .solhint.json
  contracts/.gas-snapshot
  contracts/Makefile
  contracts/bindings/omniavs.go
  contracts/bindings/omniportal.go
  contracts/src/interfaces/IGlobalXRegistry.sol
  contracts/src/interfaces/IOmniPortal.sol
  contracts/src/interfaces/IXRegistry.sol
  contracts/src/libraries/ContractNames.sol
  contracts/src/libraries/Predeploys.sol
  contracts/src/protocol/GlobalXRegistry.sol
  contracts/src/protocol/OmniPortal.sol
  contracts/src/protocol/OmniPortalConstants.sol
  contracts/src/protocol/OmniPortalStorage.sol
  contracts/src/protocol/XRegistry.sol
  contracts/src/protocol/XRegistryBase.sol
  contracts/test/portal/common/Fixtures.sol
  contracts/test/portal/data/xblocks.json
  contracts/test/portal/data/xblocks_decoded.json
  contracts/test/portal/data/xsubs.json
  contracts/test/portal/data/xsubs_decoded.json
  contracts/test/utils/MockOmniPredeploys.sol
  halo/genutil/evm/predeploys/predeploys.go
  halo/genutil/evm/testdata/TestMakeGenesis.golden
  lib/contracts/portal/deploy.go
Due: run-go-tests, run-regexp, run-goversion

add testnet manifest
  .secrets.baseline
  e2e/manifests/testnet.toml
Due: none

add address monitoring
  monitor/account/account.go
  monitor/account/metrics.go
  monitor/account/monitor.go
  monitor/app/app.go
Due: run-go-tests, run-regexp, run-goversion

lints
  monitor/account/account.go
  monitor/account/metrics.go
  monitor/account/monitor.go
Due: run-go-tests, run-regexp, run-goversion

naming
  monitor/account/account.go
  monitor/account/monitor.go
Due: run-go-tests, run-regexp, run-goversion

add second seed node
  .secrets.baseline
  e2e/manifests/testnet.toml
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-regexp: any of: \.go$, but not: _test.go
  run-goversion: any of: \.go$
