Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(contracts/core): bump version
  contracts/core/package.json
Due: none

fix(e2e): avoid using delayed nodes for monitor
  e2e/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): update release docs (#1553)
  docs/release.md
Due: none

chore(contracts/core): bump version (#1558)
  contracts/core/package.json
Due: none

chore(lib/buildinfo): release branch
  .github/workflows/ci-main.yml
  .github/workflows/ci-notify.yml
  .github/workflows/ci-pr.yml
  e2e/manifests/omega.toml
  halo/config/testdata/default_halo.toml
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/buildinfo/buildinfo.go
  monitor/app/testdata/default_monitor.toml
  relayer/app/testdata/default_relayer.toml
Due: run-go-tests, run-regexp, run-goversion

chore(lib/buildinfo): release branch (#1551)
  .github/workflows/ci-main.yml
  .github/workflows/ci-notify.yml
  .github/workflows/ci-pr.yml
  e2e/manifests/omega.toml
  halo/config/testdata/default_halo.toml
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/buildinfo/buildinfo.go
  monitor/app/testdata/default_monitor.toml
  relayer/app/testdata/default_relayer.toml
Due: run-go-tests, run-regexp, run-goversion

ci(lib/anvil): swap anvil for anvilproxy
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-3-compose.yaml.golden
  lib/anvil/compose.yaml.tmpl
  lib/anvil/utils_test.go
  scripts/fix_golden_tests.sh
Due: run-go-tests, run-goversion

ci(e2e): populate p2p with advertised addrs
  e2e/app/definition.go
  e2e/app/setup.go
  halo/cmd/cometconfig.go
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
Due: run-go-tests, run-regexp, run-goversion

add test
  halo/app/pruning_test.go
  halo/app/start.go
  halo/app/start_test.go
  lib/cchain/provider/provider.go
Due: run-go-tests, run-regexp, run-goversion

fix(cchain): sanity check binary search start index
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
Due: run-go-tests, run-regexp, run-goversion

ci(github): label release branches
  .github/workflows/ci-main.yml
  .github/workflows/ci-notify.yml
  .github/workflows/ci-pr.yml
  .github/workflows/pr-label.yml
Due: none

address review
  halo/app/start.go
  lib/cchain/provider/abci.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): include DSTs when hashing leaves
  contracts/bindings/admin.go
  contracts/bindings/allocpredeploys.go
  contracts/bindings/create3.go
  contracts/bindings/feeoraclev1.go
  contracts/bindings/omni.go
  contracts/bindings/omnibridgel1.go
  contracts/bindings/omnibridgenative.go
  contracts/bindings/omniportal.go
  contracts/bindings/pingpong.go
  contracts/bindings/portalregistry.go
  contracts/bindings/proxyadmin.go
  contracts/bindings/slashing.go
  contracts/bindings/staking.go
  contracts/bindings/transparentupgradeableproxy.go
  contracts/bindings/womni.go
  contracts/core/.gas-snapshot
  contracts/core/pnpm-lock.yaml
  contracts/core/src/libraries/XBlockMerkleProof.sol
  contracts/core/test/xchain/data/xsubs.json
  contracts/core/test/xchain/data/xsubs_decoded.json
  contracts/core/test/xchain/ts/merkle.ts
  lib/merkle/core.go
  lib/xchain/merkle.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): avoid using delayed nodes for monitor (#1557)
  e2e/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): include DSTs when hashing leaves (#1545)
  contracts/bindings/admin.go
  contracts/bindings/allocpredeploys.go
  contracts/bindings/create3.go
  contracts/bindings/feeoraclev1.go
  contracts/bindings/omni.go
  contracts/bindings/omnibridgel1.go
  contracts/bindings/omnibridgenative.go
  contracts/bindings/omniportal.go
  contracts/bindings/pingpong.go
  contracts/bindings/portalregistry.go
  contracts/bindings/proxyadmin.go
  contracts/bindings/slashing.go
  contracts/bindings/staking.go
  contracts/bindings/transparentupgradeableproxy.go
  contracts/bindings/womni.go
  contracts/core/.gas-snapshot
  contracts/core/pnpm-lock.yaml
  contracts/core/src/libraries/XBlockMerkleProof.sol
  contracts/core/test/xchain/data/xsubs.json
  contracts/core/test/xchain/data/xsubs_decoded.json
  contracts/core/test/xchain/ts/merkle.ts
  lib/merkle/core.go
  lib/xchain/merkle.go
Due: run-go-tests, run-regexp, run-goversion

fix(cchain): sanity check binary search start index (#1544)
  halo/app/pruning_test.go
  halo/app/start.go
  halo/app/start_test.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
Due: run-go-tests, run-regexp, run-goversion

ci(lib/anvil): increase anvil pull timeout
  .github/workflows/gotest.yml
Due: none

ci(lib/anvil): increase anvil pull timeout (#1563)
  .github/workflows/gotest.yml
Due: none

fix(lib): HeaderByNumber might return nil
  lib/ethclient/ethclient.go
Due: run-go-tests, run-regexp, run-goversion

fix(cchain): correctly find earliest store height
  lib/cchain/provider/abci.go
Due: run-go-tests, run-regexp, run-goversion

update issue templates
  .github/ISSUE_TEMPLATE/custom.md
Due: none

chore(ci): update issue templates (#1570)
  .github/ISSUE_TEMPLATE/custom.md
Due: none

ci(e2e): populate p2p with advertised addrs (#1560)
  e2e/app/definition.go
  e2e/app/setup.go
  halo/cmd/cometconfig.go
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
Due: run-go-tests, run-regexp, run-goversion

ci(github): label release branch PRs (#1561)
  .github/workflows/ci-main.yml
  .github/workflows/ci-notify.yml
  .github/workflows/ci-pr.yml
  .github/workflows/pr-label.yml
Due: none

cleanup
  lib/cchain/provider/abci.go
Due: run-go-tests, run-regexp, run-goversion

ci(github): fix release branch matching
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
Due: none

cleanup
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  cli/cmd/develop.go
Due: run-go-tests, run-regexp, run-goversion

fix(cli): omni developer new template (#1566)
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  cli/cmd/develop.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib): endpoint HeaderByNumber might return nil (#1568)
  lib/ethclient/ethclient.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib): endpoint HeaderByNumber might return nil (#1573)
  lib/ethclient/ethclient.go
Due: run-go-tests, run-regexp, run-goversion

chore(scripts/verifypr): less strict parsing
  scripts/verifypr/verify.go
  scripts/verifypr/verify_internal_test.go
Due: run-go-tests, run-goversion

chore(scripts/verifypr): less strict parsing (#1574)
  scripts/verifypr/verify.go
  scripts/verifypr/verify_internal_test.go
Due: run-go-tests, run-goversion

ci(github): fix release branch matching (#1571)
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
Due: none

feat(halo/genserve): serve genesis files
  cli/cmd/operator.go
  e2e/app/setup.go
  halo/app/start.go
  halo/app/start_test.go
  halo/cmd/init.go
  halo/config/config.go
  halo/genutil/genserve/genserve.go
  halo/genutil/genserve/query.pb.go
  halo/genutil/genserve/query.proto
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/netconf/static.go
  scripts/buf_generate.sh
Due: run-buf, run-go-tests, run-regexp, run-goversion
