Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
      - id: run-forge-fmt
        name: run-forge-fmt
        language: script
        entry: .pre-commit/run_forge_fmt.sh
        types: [ file, solidity ]

  # TODO(corver): Add hooks for the following:
  # - Auto-fix file license headers

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]
      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]

chore(contracts/avs): remove minOpStake and maxOpCount (#444)
  contracts/.gas-snapshot
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/src/protocol/OmniAVSStorage.sol
  contracts/test/avs/OmniAVS_admin.t.sol
  contracts/test/avs/OmniAVS_allowlist.t.sol
  contracts/test/avs/OmniAVS_initialize.t.sol
  contracts/test/avs/OmniAVS_syncWithOmni.t.sol
  contracts/test/avs/common/Fixtures.sol
Due: none

add operator introduction
  docs/site/archive/programmability.md
  docs/site/archive/restaking.md
  docs/site/docs/home.md
  docs/site/docs/learn/building.md
  docs/site/docs/operate/introduction.md
  docs/site/docs/operate/requirements.md
  docs/site/docs/protocol/introduction.md
  docs/site/docs/resources/glossary.md
  docs/site/docusaurus.config.ts
  docs/site/sidebars.ts
Due: none

add blockchain background
  docs/site/docs/learn/blockchains.md
Due: none

update delegation instructions
  docs/site/docs/learn/delegate.md
Due: none

some updates
  docs/site/docs/protocol/architecture/xmsg.md
  docs/site/docs/protocol/introduction.md
Due: none

add additional evm clients
  docs/site/docs/protocol/introduction.md
Due: none

chore(docs): add operator info (#446)
  docs/site/archive/programmability.md
  docs/site/archive/restaking.md
  docs/site/docs/home.md
  docs/site/docs/learn/blockchains.md
  docs/site/docs/learn/building.md
  docs/site/docs/learn/delegate.md
  docs/site/docs/operate/introduction.md
  docs/site/docs/operate/requirements.md
  docs/site/docs/protocol/architecture/xmsg.md
  docs/site/docs/protocol/introduction.md
  docs/site/docs/resources/glossary.md
  docs/site/docusaurus.config.ts
  docs/site/sidebars.ts
Due: none

resolve review commits and change key signing
  halo/cmd/flags.go
  halo/cmd/init.go
  halo/cmd/operator.go
  halo/cmd/register_to_avs.go
  lib/netconf/netconf.go
  lib/netconf/testdata/TestSaveLoad.golden
Due: run-go-tests, run-regexp, run-goversion

tests for nextProposer
  halo/evmengine/keeper/abci_internal_test.go
  halo/evmengine/keeper/keeper_internal_test.go
Due: run-go-tests, run-goversion

chore(lib/relayer): improve relayer metrics
  lib/cchain/provider/abci.go
  lib/cchain/provider/metrics.go
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/relayer): improve relayer metrics (#449)
  lib/cchain/provider/abci.go
  lib/cchain/provider/metrics.go
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

hygiene
  halo/evmengine/keeper/abci_internal_test.go
  halo/evmengine/keeper/keeper_internal_test.go
Due: run-go-tests, run-goversion

cleanup
  halo/evmengine/keeper/abci_internal_test.go
  halo/evmengine/keeper/keeper_internal_test.go
Due: run-go-tests, run-goversion

feat(halo/cmd): register operator with AVS (#438)
  go.mod
  go.sum
  halo/cmd/cmd.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/deregister_from_avs.go
  halo/cmd/flags.go
  halo/cmd/init.go
  halo/cmd/operator.go
  halo/cmd/register_to_avs.go
  halo/cmd/testdata/TestCLIReference_operator.golden
  halo/cmd/testdata/TestCLIReference_operator_register.golden
  lib/netconf/netconf.go
  lib/netconf/testdata/TestSaveLoad.golden
Due: run-go-tests, run-regexp, run-goversion

Register operator
  halo/cmd/register_to_avs.go
Due: run-go-tests, run-regexp, run-goversion

resolve review commits and change key signing
  halo/cmd/register_to_avs.go
Due: run-go-tests, run-regexp, run-goversion

deregister operator
  halo/cmd/cmd_internal_test.go
  halo/cmd/deregister_from_avs.go
  halo/cmd/flags.go
  halo/cmd/operator.go
  halo/cmd/register_to_avs.go
  halo/cmd/testdata/TestCLIReference_operator_deregister.golden
  halo/cmd/testdata/TestCLIReference_operator_register.golden
  test/e2e/tests/eigen_data/priv_validator_key.json
Due: run-go-tests, run-regexp, run-goversion

fix tests
  halo/cmd/deregister_from_avs.go
  halo/cmd/flags.go
  halo/cmd/register_to_avs.go
  halo/cmd/testdata/TestCLIReference_operator_deregister.golden
  halo/cmd/testdata/TestCLIReference_operator_register.golden
Due: run-go-tests, run-regexp, run-goversion

remove secret file
  test/e2e/tests/eigen_data/priv_validator_key.json
Due: none

assert height in validators
  halo/evmengine/keeper/keeper_internal_test.go
Due: run-go-tests, run-goversion

test(halo/evmengine): next proposer tests (#448)
  halo/evmengine/keeper/abci_internal_test.go
  halo/evmengine/keeper/keeper_internal_test.go
Due: run-go-tests, run-goversion

chore(relayer): improve relayer metrics
  relayer/app/monitor.go
  test/e2e/app/definition.go
  test/e2e/app/test.go
  test/e2e/manifests/simple.toml
  test/e2e/tests/e2e_test.go
  test/e2e/tests/eigen_test.go
  test/e2e/types/manifest.go
Due: run-go-tests, run-regexp, run-goversion

stash to heck Mint issue
  contracts/.gas-snapshot
  contracts/Makefile
  contracts/bindings/eigenpodmanager.go
  contracts/bindings/mockerc20.go
  contracts/bindings/omniavs.go
  test/e2e/tests/e2e_test.go
  test/e2e/tests/eigen_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(relayer): improve relayer metrics (#451)
  relayer/app/monitor.go
  test/e2e/app/definition.go
  test/e2e/app/test.go
  test/e2e/manifests/simple.toml
  test/e2e/tests/e2e_test.go
  test/e2e/tests/eigen_test.go
  test/e2e/types/manifest.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): update bindings and relevant tests/imports
  contracts/bindings/examples/pingpong.go
  contracts/bindings/omniavs.go
  test/e2e/netman/avs/types.go
  test/e2e/netman/avs/xdapp.go
  test/e2e/tests/eigen_test.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): include anvil chain in staging
  test/e2e/manifests/staging.toml
Due: none

chore(contracts): update bindings and relevant tests (#445)
  contracts/bindings/examples/pingpong.go
  contracts/bindings/omniavs.go
  test/e2e/netman/avs/types.go
  test/e2e/netman/avs/xdapp.go
  test/e2e/tests/eigen_test.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): include anvil chain in staging (#454)
  test/e2e/manifests/staging.toml
Due: none

feat(halo/cmd): deregister operator with AVS (#447)
  halo/cmd/cmd_internal_test.go
  halo/cmd/deregister_from_avs.go
  halo/cmd/operator.go
  halo/cmd/register_to_avs.go
  halo/cmd/testdata/TestCLIReference_operator_deregister.golden
Due: run-go-tests, run-regexp, run-goversion

fix(test/e2e): fix avs initializer
  test/e2e/netman/avs/types.go
  test/e2e/netman/avs/xdapp.go
Due: run-go-tests, run-regexp, run-goversion

fix(test/e2e): fix avs initializer (#456)
  test/e2e/netman/avs/types.go
  test/e2e/netman/avs/xdapp.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): run single devnet1 e2e test in PRs
  .github/workflows/ci-pr.yml
  .github/workflows/pr-e2etest.yml
Due: none

ci(e2e): run single devnet1 e2e test in PRs (#455)
  .github/workflows/ci-pr.yml
  .github/workflows/pr-e2etest.yml
Due: none

chore(docs): further learn reorg and add restaking docs
  docs/site/docs/learn/omni/architecture.md
  docs/site/docs/learn/omni/cometbft.md
  docs/site/docs/learn/omni/consensus.md
  docs/site/docs/learn/omni/evm.md
  docs/site/docs/learn/omni/gas.md
  docs/site/docs/learn/omni/interoperability.md
  docs/site/docs/learn/omni/restaking.md
Due: none

chore(docs): reorganise learn section
  docs/site/docs/learn/background/blockchains.md
  docs/site/docs/learn/background/ethereum.md
  docs/site/docs/learn/background/fragmentation.md
  docs/site/docs/learn/background/interoperability.md
  docs/site/docs/learn/background/restaking.md
  docs/site/docs/learn/background/rollups.md
  docs/site/docs/learn/blockchains.md
  docs/site/docs/learn/introduction/goal.md
  docs/site/docs/learn/introduction/introduction.md
  docs/site/docs/learn/introduction/vision.md
  docs/site/docs/learn/omni/interoperability.md
  docs/site/docs/learn/omni/restaking.md
  docs/site/sidebars.ts
Due: none

chore(docs): learn omni dual chain
  docs/site/docs/learn/omni/architecture.md
Due: none

chore(docs): learn omni parallel consensus
  docs/site/docs/learn/omni/consensus.md
Due: none

chore(docs): learn omni cometbft
  docs/site/docs/learn/omni/cometbft.md
Due: none

chore(docs): learn omni evm
  docs/site/docs/learn/omni/evm.md
Due: none

chore(docs): learn omni gas abstraction
  docs/site/docs/learn/omni/gas.md
Due: none
