Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

feat: lower omni to distributor
  contracts/core/script/manual/genesis-staking/OmegaGenesisStake.s.sol
  contracts/core/script/manual/genesis-staking/StagingGenesisStake.s.sol
Due: none

chore(halo): increases consensus versions (#3813)
  halo/evmstaking/module/module.go
  octane/evmengine/module/module.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): distribution deployment (#3815)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  e2e/app/admin/upgrade.go
  e2e/cmd/admin.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): monitor usd prices
  solver/app/app.go
  solver/app/metrics.go
  solver/app/pricer.go
  solver/app/trace.go
  solver/app/worker.go
  solver/types/price.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): monitor usd prices (#3810)
  solver/app/app.go
  solver/app/metrics.go
  solver/app/pricer.go
  solver/app/trace.go
  solver/app/worker.go
  solver/types/price.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(halo/upgrade): improve drake comments
  halo/app/upgrades/drake/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e/manifest): bump protected solver to 39f21d4
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

ci(e2e/manifest): bump protected solver to 39f21d4 (#3820)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

upgrade migrations
  halo/evmstaking/module/migrations.go
  halo/evmstaking/module/module.go
  octane/evmengine/module/migrations.go
  octane/evmengine/module/module.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): unit tests for parsing logic in core
  sdk/packages/core/src/contracts/parseInboxStatus.test.ts
  sdk/packages/core/src/contracts/parseInboxStatus.ts
  sdk/packages/core/src/contracts/parseOpenEvent.test.ts
  sdk/packages/core/src/contracts/parseOpenEvent.ts
Due: none

fix(halo): add noop migration handlers (#3819)
  halo/evmstaking/module/migrations.go
  halo/evmstaking/module/module.go
  octane/evmengine/module/migrations.go
  octane/evmengine/module/module.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(lib/tokens): fix asset coingecko ids
  lib/tokens/asset.go
  lib/tokens/asset_test.go
  lib/tokens/tokens.json
  lib/tokens/tokens_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  solver/app/testdata/TestTokens.golden
Due: none

address PR comments
  sdk/packages/core/src/contracts/parseInboxStatus.test.ts
Due: none

check for explicit ParseOpenEventError to bypass error wrapper
  sdk/packages/core/src/contracts/parseOpenEvent.ts
Due: none

fix(lib/tokens): fix asset coingecko ids (#3822)
  lib/tokens/asset.go
  lib/tokens/asset_test.go
  lib/tokens/tokens.json
  lib/tokens/tokens_test.go
  solver/app/testdata/TestTokens.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): unit tests for parsing logic in core (#3821)
  sdk/packages/core/src/contracts/parseInboxStatus.test.ts
  sdk/packages/core/src/contracts/parseInboxStatus.ts
  sdk/packages/core/src/contracts/parseOpenEvent.test.ts
  sdk/packages/core/src/contracts/parseOpenEvent.ts
Due: none

Address PR comments
  sdk/packages/core/src/contracts/openOrder.test.ts
  sdk/packages/core/src/utils/encodeOrderData.test.ts
Due: none

ci(e2e/manifest): bump protected solvers to c94587a
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

ci(e2e/manifest): bump protected solvers to c94587a (#3823)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(lib/evmchain): remove all method
  e2e/app/eoa/solver_test.go
  e2e/app/eoa/static_test.go
  e2e/manifests/static.go
  e2e/types/chain_internal_test.go
  e2e/types/chain_test.go
  e2e/types/testdata/TestAttestIntervals.golden
  e2e/types/testnet_test.go
  lib/evmchain/evmchain.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): add unit tests to core package (#3812)
  sdk/packages/core/src/contracts/didFillOutbox.test.ts
  sdk/packages/core/src/contracts/getOrder.test.ts
  sdk/packages/core/src/contracts/openOrder.test.ts
  sdk/packages/core/src/utils/encodeOrderData.test.ts
  sdk/packages/test-utils/src/contracts.ts
Due: none

chore(monitor/cctpgen): send all together or none
  lib/tokens/tokenutil/util.go
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/cctpgen): send all together or none (#3826)
  lib/tokens/tokenutil/util.go
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(solver/rebalance): run integration tests in ci
  .github/workflows/ci-main.yaml
  .github/workflows/ci-pr.yaml
  .github/workflows/rebalance-test.yaml
  lib/cctp/testutil/anvil.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(solver/rebalance): run integration tests in ci (#3825)
  .github/workflows/ci-main.yaml
  .github/workflows/ci-pr.yaml
  .github/workflows/rebalance-test.yaml
  lib/cctp/testutil/anvil.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/evmchain): remove all method (#3824)
  e2e/app/eoa/solver_test.go
  e2e/app/eoa/static_test.go
  e2e/manifests/static.go
  e2e/types/chain_internal_test.go
  e2e/types/chain_test.go
  e2e/types/testdata/TestAttestIntervals.golden
  e2e/types/testnet_test.go
  lib/evmchain/evmchain.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(lib/cctp): add createdAt msg timestamp
  lib/cctp/db/db.go
  lib/cctp/db/db.pb.go
  lib/cctp/db/db.proto
  lib/cctp/db/db_test.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

feat(lib/cctp): add createdAt msg timestamp (#3828)
  lib/cctp/db/db.go
  lib/cctp/db/db.pb.go
  lib/cctp/db/db.proto
  lib/cctp/db/db_test.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

Update docs/docs/pages/guides/multistep-deposit.mdx
  docs/docs/pages/guides/multistep-deposit.mdx
Due: none

increase max spend for l1 staking
  solver/app/testdata/TestTokens.golden
  solver/app/testdata/TestTokens/tokens_response.json
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): increase max spend for l1 staking (#3829)
  solver/app/testdata/TestTokens.golden
  solver/app/testdata/TestTokens/tokens_response.json
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): add docs on multistep txns (#3785)
  docs/docs/pages/guides/multistep-deposit.mdx
  docs/docs/pages/index.mdx
  docs/vocs.config.tsx
Due: none

chore(monitor/cctpgen): use go level db
  monitor/app/app.go
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/cctpgen): use go level db (#3830)
  monitor/app/app.go
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifests): bump solver pin to 666757c
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(lib/cctp): add oldest msg metric, refactor
  lib/cctp/metrics.go
  lib/cctp/mint.go
  lib/cctp/monitor.go
  monitor/cctpgen/cctpgen.go
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifests): bump solver pin to 666757c (#3832)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
