Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(solver): copy holesky tokens to mock l1 (#2927)
  solver/app/v2/testdata/TestTokens.golden
  solver/app/v2/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): enable v2 solver in staging (#2928)
  e2e/manifests/staging.toml
Due: none

applied majority of feedback
  contracts/misc/.gas-snapshot
  contracts/misc/test/bridge/TestBase.sol
  contracts/misc/test/bridge/bridge/General.t.sol
  contracts/misc/test/bridge/bridge/ReceiveToken.t.sol
  contracts/misc/test/bridge/bridge/SendToken.t.sol
  contracts/misc/test/bridge/lockbox/Deposit.t.sol
  contracts/misc/test/bridge/lockbox/General.t.sol
  contracts/misc/test/bridge/lockbox/Withdraw.t.sol
Due: none

enforce fillDeadline
  contracts/bindings/isolvernetbindings.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNet.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetOutbox.sol
  contracts/solve/test/ERC7683/TestBase.sol
  contracts/solve/test/ERC7683/inbox/Accept.t.sol
  contracts/solve/test/ERC7683/inbox/Reject.t.sol
  contracts/solve/test/ERC7683/inbox/Validate.t.sol
  contracts/solve/test/ERC7683/outbox/Fill.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(cli/cmd): add parallel snapshot download (#2877)
  cli/cmd/initnodes.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

reduced redundant deployments
  contracts/misc/.gas-snapshot
  contracts/misc/test/bridge/TestBase.sol
  contracts/misc/test/bridge/bridge/General.t.sol
  contracts/misc/test/bridge/bridge/ReceiveToken.t.sol
  contracts/misc/test/bridge/bridge/SendToken.t.sol
  contracts/misc/test/bridge/lockbox/Deposit.t.sol
  contracts/misc/test/bridge/lockbox/General.t.sol
  contracts/misc/test/bridge/lockbox/Withdraw.t.sol
Due: none

feat(contracts/solve): enforce fillDeadline (#2929)
  contracts/bindings/isolvernetbindings.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNet.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetOutbox.sol
  contracts/solve/test/ERC7683/TestBase.sol
  contracts/solve/test/ERC7683/inbox/Accept.t.sol
  contracts/solve/test/ERC7683/inbox/Reject.t.sol
  contracts/solve/test/ERC7683/inbox/Validate.t.sol
  contracts/solve/test/ERC7683/outbox/Fill.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(cli): create delegation option (#2926)
  cli/cmd/flags.go
  cli/cmd/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

delegate
  e2e/app/test.go
  e2e/test/delegation_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(cli/cmd): add progress bar to node snapshots
  cli/cmd/download_untar_lz4.go
  cli/cmd/initnodes.go
  go.mod
  go.sum
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): add cantina full report no draft stamp (#2924)
  docs/website/static/cantina-full.pdf
Due: none

chore(e2e): enable v2 in devnetsolve manifest
  Makefile
  e2e/manifests/devnetsolve.toml
Due: none

chore(e2e): enable v2 in devnetsolve manifest (#2932)
  Makefile
  e2e/manifests/devnetsolve.toml
Due: none

chore(halo): enable unsafe CORS on ephemeral networks
  halo/config/config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(halo): enable unsafe CORS on ephemeral networks (#2933)
  halo/config/config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

extend cli test
  e2e/test/cli_test.go
  e2e/test/delegation_test.go
Due: run-go-tests, run-golint, run-goversion

chore(halo/evmstaking): improve logging
  halo/app/app_config.go
  halo/evmstaking2/keeper/helpers.go
  halo/evmstaking2/keeper/keeper.go
  octane/evmengine/keeper/msg_server.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/solve): fund solver holesky wstETH on devnet
  e2e/solve/deploy.go
  e2e/solve/fund.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(halo/evmstaking): improve logging (#2934)
  halo/app/app_config.go
  halo/evmstaking2/keeper/helpers.go
  halo/evmstaking2/keeper/keeper.go
  octane/evmengine/keeper/msg_server.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

typo
  e2e/app/test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feature flag
  e2e/test/cli_test.go
Due: run-go-tests, run-golint, run-goversion

chore(e2e/solve): fund solver holesky wstETH on devnet (#2935)
  e2e/solve/deploy.go
  e2e/solve/fund.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(contracts/misc): implemented comprehensive test suite (#2908)
  contracts/misc/.gas-snapshot
  contracts/misc/src/bridge/Bridge.sol
  contracts/misc/test/bridge/Bridge.t.sol
  contracts/misc/test/bridge/TestBase.sol
  contracts/misc/test/bridge/bridge/General.t.sol
  contracts/misc/test/bridge/bridge/ReceiveToken.t.sol
  contracts/misc/test/bridge/bridge/SendToken.t.sol
  contracts/misc/test/bridge/lockbox/Deposit.t.sol
  contracts/misc/test/bridge/lockbox/General.t.sol
  contracts/misc/test/bridge/lockbox/Withdraw.t.sol
Due: none

add multicall support to SolverNet
  contracts/bindings/isolvernetbindings.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/lcov.info
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNet.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/test/ERC7683/E2E.t.sol
  contracts/solve/test/ERC7683/TestBase.sol
  contracts/solve/test/ERC7683/inbox/Open.t.sol
  contracts/solve/test/ERC7683/inbox/Validate.t.sol
  contracts/solve/test/ERC7683/outbox/Fill.t.sol
Due: run-go-tests, run-golint, run-goversion

initial rlusd/xbridge devnet deployer
  contracts/Makefile
  contracts/bindings/bridge.go
  contracts/bindings/lockbox.go
  contracts/bindings/stablecoinproxy.go
  contracts/bindings/stablecoinupgradeable.go
  e2e/app/run.go
  e2e/app/xbridge.go
  e2e/xbridge/bridge.go
  e2e/xbridge/common.go
  e2e/xbridge/lockbox.go
  e2e/xbridge/token.go
  lib/contracts/address.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix comments and devnet0 edge case (ephemeral, no Ethereum chain)
  e2e/app/xbridge.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

reduce reliance on lib/contracts when using create3
  e2e/xbridge/bridge.go
  e2e/xbridge/lockbox.go
  e2e/xbridge/token.go
  lib/contracts/address.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fully migrate code to e2e/xbridge
  e2e/app/run.go
  e2e/xbridge/common.go
  e2e/xbridge/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

support reusing xbridge deployer for other tokens
  e2e/xbridge/bridge.go
  e2e/xbridge/deploy.go
  e2e/xbridge/lockbox.go
  e2e/xbridge/token.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add feedback, synchronize validate handling
  e2e/xbridge/bridge.go
  e2e/xbridge/lockbox.go
  e2e/xbridge/token.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

rebase and regenerate bindings
  contracts/bindings/bridge.go
Due: run-go-tests, run-golint, run-goversion

feat(e2e/xbridge): add RLUSD xbridge deployer (#2919)
  contracts/Makefile
  contracts/bindings/bridge.go
  contracts/bindings/lockbox.go
  contracts/bindings/stablecoinproxy.go
  contracts/bindings/stablecoinupgradeable.go
  e2e/app/run.go
  e2e/xbridge/bridge.go
  e2e/xbridge/common.go
  e2e/xbridge/deploy.go
  e2e/xbridge/lockbox.go
  e2e/xbridge/token.go
  lib/contracts/address.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(xchain/connect): fix typo
  lib/xchain/connect/connect.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(xchain/connect): fix typo (#2942)
  lib/xchain/connect/connect.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

review
  e2e/test/cli_test.go
Due: run-go-tests, run-golint, run-goversion

test(e2e): delegate e2e test (#2898)
  e2e/app/test.go
  e2e/test/cli_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion
