Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

remove unnecessary cast
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
Due: run-go-tests, run-golint, run-goversion

fix(github): temp remove omega full sync flow (#2868)
  .github/workflows/ci-join-manual.yaml
  .github/workflows/ci-join.yaml
Due: none

enable self-delegation
  halo/evmstaking2/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add manifest to devnet
  Makefile
Due: none

adds feature flag
  e2e/manifests/devnet2.toml
  halo/evmstaking2/keeper/keeper.go
  lib/feature/feature.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add tests
  halo/evmstaking2/keeper/keeper_internal_test.go
  lib/ethclient/enginemock.go
  lib/feature/feature.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

docs(config): add manual node snapshot restore
  docs/content/operate/config.md
Due: none

feat(contracts/solve): modify TokenExpense handling for transfers (#2860)
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
  contracts/solve/test/ERC7683/E2E.t.sol
  contracts/solve/test/ERC7683/TestBase.sol
  contracts/solve/test/ERC7683/inbox/Validate.t.sol
Due: run-go-tests, run-golint, run-goversion

Fix typos
  docs/content/operate/validator.md
Due: none

Fix typo
  docs/content/operate/config.md
Due: none

Fix operator typos (#2871)
  docs/content/operate/config.md
  docs/content/operate/validator.md
Due: none

dont run preview on external prs
  .github/workflows/ci-pr-docs.yaml
Due: none

chore(ci): dont preview docs on external prs (#2872)
  .github/workflows/ci-pr-docs.yaml
Due: none

refactored for 1:1 bridge/lockbox to token design
  contracts/misc/.gas-snapshot
  contracts/misc/foundry.toml
  contracts/misc/package.json
  contracts/misc/pnpm-lock.yaml
  contracts/misc/src/bridge/BridgeUpgradeable.sol
  contracts/misc/src/bridge/LockboxUpgradeable.sol
  contracts/misc/src/bridge/Proxy.sol
  contracts/misc/src/bridge/interfaces/IBridgeUpgradeable.sol
  contracts/misc/src/bridge/interfaces/ILockboxUpgradeable.sol
  contracts/misc/src/bridge/interfaces/IMintBurn.sol
  contracts/misc/test/bridge/Bridge.t.sol
  contracts/misc/test/bridge/TestBase.sol
Due: none

test(octane/evmengine): fuzz test proposed payload
  e2e/app/setup.go
  e2e/manifests/fuzzyhead.toml
  halo/app/start.go
  lib/ethclient/engineclient.go
  lib/feature/feature.go
  octane/evmengine/keeper/abci.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(octane/evmengine): fuzz test proposed payload (#2864)
  e2e/app/setup.go
  e2e/manifests/fuzzyhead.toml
  halo/app/start.go
  lib/ethclient/engineclient.go
  lib/feature/feature.go
  octane/evmengine/keeper/abci.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

docs(config): add additional bullets
  docs/content/operate/config.md
  docs/content/operate/faq.md
Due: none

docs(config): add manual node snapshot restore (#2870)
  docs/content/operate/config.md
  docs/content/operate/faq.md
Due: none

chore(e2e/agent): decrease prometheus scrape interval
  e2e/app/agent/prometheus.yaml.tmpl
  e2e/app/agent/testdata/TestPromGen_manifest1_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest1_update.golden
  e2e/app/agent/testdata/TestPromGen_manifest2_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest2_update.golden
  e2e/app/agent/testdata/TestPromGen_manifest3_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest3_update.golden
  e2e/app/agent/testdata/TestPromGen_manifest4_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest4_update.golden
Due: none

chore(e2e/agent): decrease prometheus scrape interval (#2873)
  e2e/app/agent/prometheus.yaml.tmpl
  e2e/app/agent/testdata/TestPromGen_manifest1_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest1_update.golden
  e2e/app/agent/testdata/TestPromGen_manifest2_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest2_update.golden
  e2e/app/agent/testdata/TestPromGen_manifest3_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest3_update.golden
  e2e/app/agent/testdata/TestPromGen_manifest4_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest4_update.golden
Due: none

refactor test
  halo/evmstaking2/keeper/keeper_internal_test.go
  lib/ethclient/enginemock.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): enable evm proto feature on staging
  e2e/manifests/staging.toml
Due: none

ci(e2e): enable evm proto feature on staging (#2874)
  e2e/manifests/staging.toml
Due: none

chore(*): fix typos found during cantina
  e2e/app/admin/planupgrade.go
  e2e/app/portalregistry.go
  halo/attest/keeper/keeper.go
  halo/attest/types/tx.proto
  halo/attest/voter/voter.go
  halo/config/config.go
  halo/evmslashing/evmslashing.go
  halo/evmupgrade/evmupgrade.go
  halo/portal/keeper/portal.pb.go
  halo/portal/keeper/portal.proto
  halo/registry/keeper/keeper.go
  halo/registry/keeper/logeventproc.go
  halo/valsync/keeper/keeper.go
  halo/valsync/keeper/query.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/xblock.go
  lib/xchain/connect/connect.go
  lib/xchain/provider/fetch.go
  octane/evmengine/types/tx.pb.go
  octane/evmengine/types/tx.proto
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(*): fix typos found during cantina (#2875)
  e2e/app/admin/planupgrade.go
  e2e/app/portalregistry.go
  halo/attest/keeper/keeper.go
  halo/attest/types/tx.proto
  halo/attest/voter/voter.go
  halo/config/config.go
  halo/evmslashing/evmslashing.go
  halo/evmupgrade/evmupgrade.go
  halo/portal/keeper/portal.pb.go
  halo/portal/keeper/portal.proto
  halo/registry/keeper/keeper.go
  halo/registry/keeper/logeventproc.go
  halo/valsync/keeper/keeper.go
  halo/valsync/keeper/query.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/xblock.go
  lib/xchain/connect/connect.go
  lib/xchain/provider/fetch.go
  octane/evmengine/types/tx.pb.go
  octane/evmengine/types/tx.proto
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

feat(cli/cmd): add parallel snapshot download
  cli/cmd/initnodes.go
  lib/netconf/network.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(cli/cmd): improve functions
  cli/cmd/initnodes.go
  lib/netconf/network.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

applied changes from feedback
  contracts/misc/.gas-snapshot
  contracts/misc/foundry.toml
  contracts/misc/src/bridge/Bridge.sol
  contracts/misc/src/bridge/Lockbox.sol
  contracts/misc/src/bridge/interfaces/IBridge.sol
  contracts/misc/src/bridge/interfaces/ILockbox.sol
  contracts/misc/src/bridge/interfaces/IMintBurn.sol
  contracts/misc/src/bridge/interfaces/ITokenOps.sol
  contracts/misc/test/bridge/TestBase.sol
Due: none

feat(contracts/misc): initial crosschain bridge implementation (#2824)
  contracts/misc/.gas-snapshot
  contracts/misc/foundry.toml
  contracts/misc/package.json
  contracts/misc/pnpm-lock.yaml
  contracts/misc/script/pledge/Pledge.s.sol
  contracts/misc/src/bridge/Bridge.sol
  contracts/misc/src/bridge/Lockbox.sol
  contracts/misc/src/bridge/interfaces/IBridge.sol
  contracts/misc/src/bridge/interfaces/ILockbox.sol
  contracts/misc/src/bridge/interfaces/ITokenOps.sol
  contracts/misc/src/pledge/Pledge.sol
  contracts/misc/test/bridge/Bridge.t.sol
  contracts/misc/test/bridge/TestBase.sol
  contracts/misc/test/pledge/Pledge.t.sol
Due: none

chore(cchain/provider): expose cosmos module query clients
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(halo): enable delegation (#2770)
  Makefile
  e2e/manifests/devnet2.toml
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/keeper/keeper_internal_test.go
  lib/ethclient/enginemock.go
  lib/feature/feature.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(cchain/provider): expose cosmos module query clients (#2883)
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/v2): add api server
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/test/solve_test.go
  solver/app/app.go
  solver/app/config.go
  solver/app/config.toml.tmpl
  solver/app/testdata/default_solver.toml
  solver/app/v2/app.go
  solver/app/v2/config.go
  solver/app/v2/metrics.go
  solver/app/v2/server.go
  solver/app/v2/testdata/default_solver.toml
  solver/cmd/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(cli/cmd): cleanup unnecassary code
  cli/cmd/initnodes.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/v2): add api server (#2897)
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/test/solve_test.go
  solver/app/app.go
  solver/app/config.go
  solver/app/config.toml.tmpl
  solver/app/testdata/default_solver.toml
  solver/app/v2/app.go
  solver/app/v2/config.go
  solver/app/v2/metrics.go
  solver/app/v2/server.go
  solver/app/v2/testdata/default_solver.toml
  solver/cmd/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(e2e): convert validator01 to archive node
  e2e/manifests/staging.toml
Due: none

ci(e2e): convert validator01 to archive node (#2901)
  e2e/manifests/staging.toml
Due: none

ci(e2e): revert validator01 to full node
  e2e/manifests/staging.toml
Due: none

ci(e2e): revert validator01 to full node (#2904)
  e2e/manifests/staging.toml
Due: none

chore(lib/tokens): merge solver tokens with lib
  e2e/app/eoa/static_test.go
  lib/tokens/coingecko/coingecko.go
  lib/tokens/coingecko/coingecko_test.go
  lib/tokens/tokens.go
  monitor/xfeemngr/contract/bound.go
  monitor/xmonitor/indexer/indexer.go
  relayer/app/pnl.go
  relayer/app/sender_internal_test.go
  solver/app/v2/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion
