Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

fix inflation
  halo/app/upgrades/uluwatu/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(halo/app): mint module integration (#2946)
  halo/app/app.go
  halo/app/app_config.go
  halo/app/start_test.go
  halo/app/upgrades.go
  halo/app/upgrades/uluwatu/upgrade.go
  lib/cchain/provider/abci.go
  lib/cchain/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

adds delegation rewards test
  e2e/test/cli_test.go
Due: run-go-tests, run-golint, run-goversion

fix test
  e2e/test/cli_test.go
  halo/app/start_test.go
Due: run-go-tests, run-golint, run-goversion

fix check quote
  solver/app/quote.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver): v1 quote api endpoint (#2967)
  solver/app/app.go
  solver/app/quote.go
  solver/app/quote_internal_test.go
  solver/app/reject.go
  solver/app/server.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(halo/app): adds delegation rewards test (#2970)
  e2e/test/cli_test.go
  halo/app/start_test.go
Due: run-go-tests, run-golint, run-goversion

account for validator rewards
  halo/app/start_test.go
  halo/app/upgrades/uluwatu/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

rename module
  halo/app/app.go
  halo/app/app_config.go
  halo/bank/depinject.go
  halo/bank/keeper.go
  halo/evmstaking/depinject.go
  halo/evmstaking/evmstaking.go
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/keeper/keeper_internal_test.go
  halo/evmstaking2/module/module.go
  halo/evmstaking2/testutil/mock_interfaces.go
  halo/evmstaking2/types/interfaces.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(github): remove join tests
  .github/workflows/ci-join-manual.yaml
  .github/workflows/ci-join.yaml
Due: none

add withdrawal table
  halo/attest/keeper/attestation.pb.go
  halo/evmstaking2/keeper/evmstaking.pb.go
  halo/portal/keeper/portal.pb.go
  halo/registry/keeper/registry.pb.go
  halo/valsync/keeper/valsync.pb.go
  monitor/xmonitor/indexer/indexer.pb.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/keeper/evmengine.cosmos_orm.go
  octane/evmengine/keeper/evmengine.pb.go
  octane/evmengine/keeper/evmengine.proto
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/metrics.go
  relayer/app/cursor/cursors.pb.go
  solver/app/solver.pb.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

implemented full solvernet test suite
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/E2E.t.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/Accept.t.sol
  contracts/solve/test/inbox/Cancel.t.sol
  contracts/solve/test/inbox/Claim.t.sol
  contracts/solve/test/inbox/MarkFilled.t.sol
  contracts/solve/test/inbox/Open.t.sol
  contracts/solve/test/inbox/Reject.t.sol
  contracts/solve/test/inbox/Resolve.t.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/outbox/Executor.t.sol
  contracts/solve/test/outbox/Fill.t.sol
Due: run-go-tests, run-golint, run-goversion

wip
  solver/solana/compose_test.go
Due: run-go-tests, run-golint, run-goversion

fix module bindings
  halo/app/app.go
  halo/app/app_config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

make wrapper binding feature flag conditional
  halo/app/app.go
  halo/app/app_config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix versions
  halo/attest/keeper/attestation.pb.go
  halo/evmstaking2/keeper/evmstaking.pb.go
  halo/portal/keeper/portal.pb.go
  halo/registry/keeper/registry.pb.go
  halo/valsync/keeper/valsync.pb.go
  monitor/xmonitor/indexer/indexer.pb.go
  octane/evmengine/keeper/evmengine.pb.go
  relayer/app/cursor/cursors.pb.go
  solver/app/solver.pb.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

review comments
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/keeper/evmengine.proto
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

feat(octane/evmengine): add withdrawal table (#2978)
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/keeper/evmengine.cosmos_orm.go
  octane/evmengine/keeper/evmengine.pb.go
  octane/evmengine/keeper/evmengine.proto
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/metrics.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  halo/app/app_config.go
  halo/bank/depinject.go
  halo/bank/keeper.go
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/module/module.go
  halo/evmstaking2/types/interfaces.go
  octane/bankwrap/depinject.go
  octane/bankwrap/wrapper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add a todo
  octane/bankwrap/wrapper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(github): remove join tests (#2977)
  .github/workflows/ci-join-manual.yaml
  .github/workflows/ci-join.yaml
Due: none

insert withdrawals
  e2e/test/cli_test.go
  halo/app/app.go
  halo/app/app_config.go
  octane/bankwrap/depinject.go
  octane/bankwrap/wrapper.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/types/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(halo/bank): adds bank module wrapper (#2976)
  halo/app/app.go
  halo/app/app_config.go
  halo/evmstaking/evmstaking.go
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/keeper/keeper_internal_test.go
  halo/evmstaking2/module/module.go
  halo/evmstaking2/testutil/mock_interfaces.go
  halo/evmstaking2/types/interfaces.go
  octane/bankwrap/depinject.go
  octane/bankwrap/wrapper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

query
  e2e/test/cli_test.go
  lib/cchain/types.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/keeper/evmengine.cosmos_orm.go
  octane/evmengine/keeper/evmengine.pb.go
  octane/evmengine/keeper/evmengine.proto
  octane/evmengine/keeper/query.go
  octane/evmengine/types/query.pb.go
  octane/evmengine/types/query.proto
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

added middleman contract and tested it
  contracts/bindings/mockerc20.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetMiddleman.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/outbox/Middleman.t.sol
  contracts/solve/test/utils/MockERC20.sol
  contracts/solve/test/utils/MockLST.sol
Due: run-go-tests, run-golint, run-goversion

chore(e2e/xbridge): refactor and test
  contracts/bindings/bridge.go
  contracts/misc/.gas-snapshot
  contracts/misc/src/bridge/Bridge.sol
  contracts/misc/test/bridge/TestBase.sol
  contracts/misc/test/bridge/bridge/SendToken.t.sol
  e2e/app/run.go
  e2e/xbridge/bridge.go
  e2e/xbridge/common.go
  e2e/xbridge/deploy.go
  e2e/xbridge/errors.go
  e2e/xbridge/lockbox.go
  e2e/xbridge/reference_test.go
  e2e/xbridge/rlusd/deploy.go
  e2e/xbridge/rlusd/deploy_token.go
  e2e/xbridge/rlusd/mint.go
  e2e/xbridge/rlusd/static.go
  e2e/xbridge/rlusd/xtoken.go
  e2e/xbridge/test.go
  e2e/xbridge/testdata/TestReference.golden
  e2e/xbridge/token.go
  e2e/xbridge/types/types.go
  e2e/xbridge/xtokens.go
  lib/contracts/address.go
  lib/contracts/proxy/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/xbridge): refactor and test (#2983)
  contracts/bindings/bridge.go
  contracts/misc/.gas-snapshot
  contracts/misc/src/bridge/Bridge.sol
  contracts/misc/test/bridge/TestBase.sol
  contracts/misc/test/bridge/bridge/SendToken.t.sol
  e2e/app/run.go
  e2e/xbridge/bridge.go
  e2e/xbridge/common.go
  e2e/xbridge/deploy.go
  e2e/xbridge/errors.go
  e2e/xbridge/lockbox.go
  e2e/xbridge/reference_test.go
  e2e/xbridge/rlusd/deploy.go
  e2e/xbridge/rlusd/deploy_token.go
  e2e/xbridge/rlusd/mint.go
  e2e/xbridge/rlusd/static.go
  e2e/xbridge/rlusd/xtoken.go
  e2e/xbridge/test.go
  e2e/xbridge/testdata/TestReference.golden
  e2e/xbridge/token.go
  e2e/xbridge/types/types.go
  e2e/xbridge/xtokens.go
  lib/contracts/address.go
  lib/contracts/proxy/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/test): increase wait time
  e2e/test/cli_test.go
Due: run-go-tests, run-golint, run-goversion

dynamic bridge gas limit
  contracts/bindings/bridge.go
  contracts/misc/.gas-snapshot
  contracts/misc/src/bridge/Bridge.sol
  contracts/misc/src/bridge/interfaces/IBridge.sol
  contracts/misc/test/bridge/TestBase.sol
  contracts/misc/test/bridge/bridge/General.t.sol
  e2e/xbridge/bridge.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/test): increase wait time (#2984)
  e2e/test/cli_test.go
Due: run-go-tests, run-golint, run-goversion

rename gas constants
  contracts/bindings/bridge.go
  contracts/misc/src/bridge/Bridge.sol
Due: run-go-tests, run-golint, run-goversion

feat(contracts/misc): bridge dynamic gas (#2985)
  contracts/bindings/bridge.go
  contracts/misc/.gas-snapshot
  contracts/misc/src/bridge/Bridge.sol
  contracts/misc/src/bridge/interfaces/IBridge.sol
  contracts/misc/test/bridge/TestBase.sol
  contracts/misc/test/bridge/bridge/General.t.sol
  e2e/xbridge/bridge.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

store script that deployed, setup, and tested genesis stake migration on staging
  contracts/core/script/manual/GenesisStake.s.sol
Due: none

test(contracts/solve): reimplemented solvernet test suite (#2979)
  contracts/bindings/mockerc20.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/SolverNetMiddleman.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/E2E.t.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/Accept.t.sol
  contracts/solve/test/inbox/Cancel.t.sol
  contracts/solve/test/inbox/Claim.t.sol
  contracts/solve/test/inbox/MarkFilled.t.sol
  contracts/solve/test/inbox/Open.t.sol
  contracts/solve/test/inbox/Reject.t.sol
  contracts/solve/test/inbox/Resolve.t.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/outbox/Executor.t.sol
  contracts/solve/test/outbox/Fill.t.sol
  contracts/solve/test/outbox/Middleman.t.sol
  contracts/solve/test/utils/MockERC20.sol
  contracts/solve/test/utils/MockLST.sol
Due: run-go-tests, run-golint, run-goversion

feat(contracts/core): test genesis stake migration on staging (#2986)
  contracts/core/script/manual/GenesisStake.s.sol
Due: none

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
