Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

ci(e2e): fix anvil chain id typo
  lib/evmchain/evmchain.go
  lib/evmchain/evmchain_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): fix anvil chain id typo (#965)
  lib/evmchain/evmchain.go
  lib/evmchain/evmchain_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/coingecko): add simple coingecko client (#958)
  lib/coingecko/coingecko.go
  lib/coingecko/coingecko_test.go
  lib/coingecko/options.go
Due: run-go-tests, run-regexp, run-goversion

attempted pagination to tables
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/lib/sourceChains.tsx
  explorer/ui/app/routes/_index.tsx
Due: none

ci(e2e): harden port selector
  e2e/vmcompose/data.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): harden port selector (#966)
  e2e/vmcompose/data.go
Due: run-go-tests, run-regexp, run-goversion

docs(develop): explain why omni for gobal state (#961)
  docs/site/docs/develop/state.md
  docs/site/sidebars.ts
Due: none

fix(readme): link (#962)
  cli/README.md
Due: none

refactor(lib/eoa): improve and refactor eoa funding
  .secrets.baseline
  e2e/app/eoa/addrs.go
  e2e/app/eoa/eoa.go
  e2e/app/eoa/fund.go
  e2e/app/eoa/helpers.go
  e2e/app/eoa/static.go
  e2e/app/eoa/static_test.go
  e2e/app/fund.go
  lib/create3/create3_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/eoa): improve and refactor eoa funding (#968)
  .secrets.baseline
  e2e/app/eoa/addrs.go
  e2e/app/eoa/eoa.go
  e2e/app/eoa/fund.go
  e2e/app/eoa/helpers.go
  e2e/app/eoa/static.go
  e2e/app/eoa/static_test.go
  e2e/app/fund.go
  lib/create3/create3_test.go
Due: run-go-tests, run-regexp, run-goversion

Small explorer refactoring
  explorer/README.md
  explorer/graphql/app/app.go
  explorer/graphql/app/graphql.go
  explorer/graphql/app/index.html
  explorer/graphql/resolvers/blocks.go
  explorer/graphql/resolvers/blocks_test.go
  explorer/graphql/resolvers/chain.go
  explorer/graphql/resolvers/messages.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/receipts.go
  explorer/graphql/resolvers/receipts_test.go
  explorer/graphql/resolvers/root.go
  explorer/graphql/resolvers/search.go
  explorer/graphql/resolvers/search_test.go
  explorer/indexer/app/app.go
  explorer/indexer/app/db.go
Due: run-go-tests, run-regexp, run-goversion

feat(e2e): deploy new fee oracle v1
  contracts/.gas-snapshot
  contracts/bindings/feeoraclev1.go
  contracts/bindings/omniportal.go
  contracts/bindings/portalregistry_storage_layout.json
  contracts/bindings/xregistry_storage_layout.json
  contracts/src/interfaces/IFeeOracleV1.sol
  contracts/src/protocol/FeeOracleV1.sol
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/FeeOracleV1.t.sol
  contracts/test/portal/OmniPortal_feeFor.t.sol
  contracts/test/portal/OmniPortal_xcall.t.sol
  e2e/netman/manager.go
  e2e/netman/pingpong/pingpong.go
  lib/contracts/feeoraclev1/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/evmchain/evmchain.go
  lib/price/coingecko/coingecko.go
  lib/price/coingecko/coingecko_test.go
  lib/price/coingecko/options.go
  lib/price/provider.go
  lib/tokens/tokens.go
  lib/xfee/manager.go
Due: run-go-tests, run-regexp, run-goversion

feat(e2e): deploy new fee oracle v1 (#969)
  contracts/.gas-snapshot
  contracts/bindings/feeoraclev1.go
  contracts/bindings/omniportal.go
  contracts/bindings/portalregistry_storage_layout.json
  contracts/bindings/xregistry_storage_layout.json
  contracts/src/interfaces/IFeeOracleV1.sol
  contracts/src/protocol/FeeOracleV1.sol
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/FeeOracleV1.t.sol
  contracts/test/portal/OmniPortal_feeFor.t.sol
  contracts/test/portal/OmniPortal_xcall.t.sol
  e2e/netman/manager.go
  e2e/netman/pingpong/pingpong.go
  lib/contracts/feeoraclev1/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/evmchain/evmchain.go
  lib/price/coingecko/coingecko.go
  lib/price/coingecko/coingecko_test.go
  lib/price/coingecko/options.go
  lib/price/provider.go
  lib/tokens/tokens.go
  lib/xfee/manager.go
Due: run-go-tests, run-regexp, run-goversion

squashed caidyn's changes
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/shared/button-legacy.tsx
  explorer/ui/app/components/shared/tag.tsx
  explorer/ui/app/lib/sourceChains.tsx
  explorer/ui/app/routes/_index.tsx
Due: none

reviewed comments
  explorer/ui/app/components/shared/filterOptions.tsx
  explorer/ui/app/routes/_index.tsx
Due: none

feat(explorer): ui overhaul (#970)
  explorer/ui/app/assets/images/BlockScan.svg
  explorer/ui/app/assets/images/Generic.svg
  explorer/ui/app/assets/images/RouteScan.svg
  explorer/ui/app/components/home/chainDropdown.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/queries/messages.tsx
  explorer/ui/app/components/shared/button-legacy.tsx
  explorer/ui/app/components/shared/button.tsx
  explorer/ui/app/components/shared/dropdown.tsx
  explorer/ui/app/components/shared/explorerDropdown.tsx
  explorer/ui/app/components/shared/filterOptions.tsx
  explorer/ui/app/components/shared/navbar.tsx
  explorer/ui/app/components/shared/search.tsx
  explorer/ui/app/components/shared/simpleTable.tsx
  explorer/ui/app/components/shared/tag.tsx
  explorer/ui/app/graphql/gql.ts
  explorer/ui/app/graphql/graphql.ts
  explorer/ui/app/lib/sourceChains.tsx
  explorer/ui/app/lib/utils.tsx
  explorer/ui/app/routes/_index.tsx
  explorer/ui/app/tailwind.css
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
Due: none

fix(test): use wait groups for flaky test
  lib/cchain/provider/provider_test.go
Due: run-go-tests, run-goversion

chore(ci): add explorer ui preview
  .github/workflows/ci-docs.yml
  .github/workflows/ci-pr-explorer-ui.yml
Due: none

chore(ci): add explorer ui preview (#972)
  .github/workflows/ci-docs.yml
  .github/workflows/ci-pr-explorer-ui.yml
Due: none

Fix schema and refactor
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/message_provider.go
  explorer/graphql/data/receipt_provider.go
  explorer/graphql/resolvers/messages.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/receipts.go
  explorer/graphql/resolvers/receipts_test.go
  explorer/graphql/resolvers/root.go
Due: run-go-tests, run-regexp, run-goversion

additional docs
  docs/site/docs/octane/octane.md
Due: none

chore(docs): halo docs (#975)
  docs/site/docs/octane/octane.md
Due: none

feat(monitor/xfeemngr): add gas price buffer
  monitor/xfeemngr/gasprice/gasprice.go
  monitor/xfeemngr/gasprice/gasprice_test.go
  monitor/xfeemngr/gasprice/options.go
  monitor/xfeemngr/ticker/mock.go
  monitor/xfeemngr/ticker/ticker.go
  monitor/xfeemngr/ticker/time.go
Due: run-go-tests, run-regexp, run-goversion

feat(monitor/xfeemngr): add gas price buffer (#976)
  monitor/xfeemngr/gasprice/gasprice.go
  monitor/xfeemngr/gasprice/gasprice_test.go
  monitor/xfeemngr/gasprice/options.go
  monitor/xfeemngr/ticker/mock.go
  monitor/xfeemngr/ticker/ticker.go
  monitor/xfeemngr/ticker/time.go
Due: run-go-tests, run-regexp, run-goversion

fix(test): use wait groups for flaky test (#973)
  lib/cchain/provider/provider_test.go
Due: run-go-tests, run-goversion

feat(monitor/xfeemngr): add token price buffer
  lib/contracts/feeoraclev1/deploy.go
  lib/price/provider.go
  lib/tokens/coingecko/coingecko.go
  lib/tokens/coingecko/coingecko_test.go
  lib/tokens/coingecko/options.go
  lib/tokens/price.go
  lib/xfee/manager.go
  monitor/xfeemngr/gasprice/buffer.go
  monitor/xfeemngr/gasprice/buffer_test.go
  monitor/xfeemngr/tokenprice/buffer.go
  monitor/xfeemngr/tokenprice/buffer_test.go
  monitor/xfeemngr/tokenprice/options.go
Due: run-go-tests, run-regexp, run-goversion

feat(monitor/xfeemngr): add token price buffer (#977)
  lib/contracts/feeoraclev1/deploy.go
  lib/price/provider.go
  lib/tokens/coingecko/coingecko.go
  lib/tokens/coingecko/coingecko_test.go
  lib/tokens/coingecko/options.go
  lib/tokens/price.go
  lib/xfee/manager.go
  monitor/xfeemngr/gasprice/buffer.go
  monitor/xfeemngr/gasprice/buffer_test.go
  monitor/xfeemngr/tokenprice/buffer.go
  monitor/xfeemngr/tokenprice/buffer_test.go
  monitor/xfeemngr/tokenprice/options.go
Due: run-go-tests, run-regexp, run-goversion

feat(docs): add dynamic code blocks component
  docs/site/package.json
  docs/site/pnpm-lock.yaml
  docs/site/src/components/CodeSnippet/CodeSnippet.css
  docs/site/src/components/CodeSnippet/CodeSnippet.tsx
  docs/site/src/css/custom.css
  docs/site/static/img/github-icon-dark.svg
  docs/site/static/img/github-icon-light.svg
Due: none

feat(docs): make line numbers in url optional
  docs/site/docs/develop/contracts.md
  docs/site/docs/develop/introduction.md
  docs/site/src/components/CodeSnippet/CodeSnippet.tsx
Due: none

feat(docs): use codesnippet comp in develop contracts
  docs/site/docs/develop/contracts.md
Due: none

feat(monitor/xfeemngr): add xfee manager
  lib/tokens/mock.go
  monitor/xfeemngr/contract/bound.go
  monitor/xfeemngr/contract/contract.go
  monitor/xfeemngr/contract/mock.go
  monitor/xfeemngr/gasprice/buffer.go
  monitor/xfeemngr/gasprice/buffer_test.go
  monitor/xfeemngr/gasprice/mock.go
  monitor/xfeemngr/oracle.go
  monitor/xfeemngr/ticker/mock.go
  monitor/xfeemngr/ticker/time.go
  monitor/xfeemngr/tokenprice/buffer.go
  monitor/xfeemngr/tokenprice/buffer_test.go
  monitor/xfeemngr/tokenprice/options.go
  monitor/xfeemngr/xfeemngr.go
  monitor/xfeemngr/xfeemngr_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(monitor/xfeemngr): add xfee manager (#978)
  lib/tokens/mock.go
  monitor/xfeemngr/contract/bound.go
  monitor/xfeemngr/contract/contract.go
  monitor/xfeemngr/contract/mock.go
  monitor/xfeemngr/gasprice/buffer.go
  monitor/xfeemngr/gasprice/buffer_test.go
  monitor/xfeemngr/gasprice/mock.go
  monitor/xfeemngr/oracle.go
  monitor/xfeemngr/ticker/mock.go
  monitor/xfeemngr/ticker/time.go
  monitor/xfeemngr/tokenprice/buffer.go
  monitor/xfeemngr/tokenprice/buffer_test.go
  monitor/xfeemngr/tokenprice/options.go
  monitor/xfeemngr/xfeemngr.go
  monitor/xfeemngr/xfeemngr_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(docs): fix component regex and develop code blocks
  docs/site/docs/develop/xapp/example.md
  docs/site/docs/develop/xapp/fees.md
  docs/site/docs/develop/xapp/gas.md
  docs/site/src/components/CodeSnippet/CodeSnippet.tsx
Due: none

feat(docs): fix xmsg snippets
  docs/site/docs/protocol/xmessages/xmsg.md
Due: none

feat(docs): fix protocol code blocks
  docs/site/docs/protocol/xmessages/components/portals.md
  docs/site/docs/protocol/xmessages/components/relayer.md
  docs/site/src/components/CodeSnippet/CodeSnippet.tsx
Due: none

refactor(explorer): explorer refactoring (#974)
  explorer/README.md
  explorer/graphql/app/app.go
  explorer/graphql/app/graphql.go
  explorer/graphql/app/index.html
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/message_provider.go
  explorer/graphql/data/receipt_provider.go
  explorer/graphql/resolvers/blocks.go
  explorer/graphql/resolvers/blocks_test.go
  explorer/graphql/resolvers/chain.go
  explorer/graphql/resolvers/messages.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/receipts.go
  explorer/graphql/resolvers/receipts_test.go
  explorer/graphql/resolvers/root.go
  explorer/graphql/resolvers/search.go
  explorer/graphql/resolvers/search_test.go
  explorer/indexer/app/app.go
  explorer/indexer/app/db.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/contracts): refactor deploy feeoraclev1
  lib/contracts/feeoraclev1/deploy.go
  lib/contracts/feeoraclev1/feeparams.go
  lib/tokens/price.go
  lib/xfee/manager.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/contracts): refactor deploy feeoraclev1 (#981)
  lib/contracts/feeoraclev1/deploy.go
  lib/contracts/feeoraclev1/feeparams.go
  lib/tokens/price.go
  lib/xfee/manager.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): fund omni pingpongs more
  e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): fund omni pingpongs more (#982)
  e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion
