Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

feat(sdk): queryOpts support in useOmniAssets (#4043)
  sdk/packages/react/src/hooks/types.ts
  sdk/packages/react/src/hooks/useDidFill.ts
  sdk/packages/react/src/hooks/useGetOrder.ts
  sdk/packages/react/src/hooks/useOmniAssets.test.ts
  sdk/packages/react/src/hooks/useOmniAssets.ts
  sdk/packages/react/src/hooks/useOmniContracts.ts
  sdk/packages/react/src/hooks/useQuote.ts
Due: none

chore(sdk): remove isNative flag and enforce
  sdk/.changeset/slick-mirrors-add.md
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/suites/react-hooks.tsx
  sdk/packages/core/src/api/getQuote.test.ts
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/core/src/contracts/sendOrder.test.ts
  sdk/packages/core/src/types/quote.ts
  sdk/packages/core/src/types/utils.ts
  sdk/packages/react/src/hooks/useQuote.test-d.ts
  sdk/packages/react/src/hooks/useQuote.test.ts
Due: none

feat(sdk): add queryOpts support to useGetOrderStatus
  sdk/packages/react/src/hooks/useGetOrderStatus.test.ts
  sdk/packages/react/src/hooks/useGetOrderStatus.ts
Due: none

chore(sdk): use prettify type util to squash types
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/core/src/types/utils.ts
Due: none

chore(sdk): squash types
  sdk/packages/core/src/api/getQuote.ts
Due: none

chore(sdk): update examples
  sdk/examples/core/src/run.ts
  sdk/examples/react/src/App.tsx
Due: none

chore(monitor): switch to lt from lte for low bal check
  monitor/account/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

support deprecated fill hash in outbox
  contracts/bindings/solvernetadmin.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/test/outbox/General.t.sol
Due: run-go-tests, run-golint, run-goversion

chore(solver): add cygnus target
  solver/targets/cygnus.go
  solver/targets/targets.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

check both fill hashes in fill method
  contracts/bindings/solvernetadmin.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/test/inbox/Close.t.sol
  contracts/solve/test/inbox/Open.t.sol
  contracts/solve/test/inbox/Reject.t.sol
  contracts/solve/test/inbox/Resolve.t.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/outbox/Fill.t.sol
Due: run-go-tests, run-golint, run-goversion

chore(monitor): switch to lt from lte for low bal check (#4057)
  monitor/account/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): add cygnus target (#4059)
  solver/targets/cygnus.go
  solver/targets/targets.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/solve): deprecated fill hash in outbox (#4058)
  contracts/bindings/solvernetadmin.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/test/inbox/Close.t.sol
  contracts/solve/test/inbox/Open.t.sol
  contracts/solve/test/inbox/Reject.t.sol
  contracts/solve/test/inbox/Resolve.t.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/outbox/Fill.t.sol
  contracts/solve/test/outbox/General.t.sol
Due: run-go-tests, run-golint, run-goversion

add mantle to mainnet HL network
  lib/contracts/solvernet/chains.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

validate mainnet routes
  e2e/solve/routing_internal_test.go
Due: run-go-tests, run-golint, run-goversion

chore(monitor): do not monitor non-hl roles on hl-only chains
  monitor/account/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add funding for mantle
  e2e/app/eoa/fund.go
  e2e/app/eoa/static_test.go
  e2e/app/eoa/testdata/threshold_reference.json
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix portal assignment in deploy
  lib/contracts/solvernet/inbox/deploy.go
  lib/contracts/solvernet/outbox/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor): do not monitor non-hl roles on hl-only chains (#4061)
  monitor/account/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(lib): fix portal assignment in deploy (#4063)
  lib/contracts/solvernet/inbox/deploy.go
  lib/contracts/solvernet/outbox/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add upgrade all command
  e2e/app/admin/upgrade.go
  e2e/cmd/admin.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

exclude
  e2e/app/eoa/fund.go
  e2e/app/eoa/testdata/threshold_reference.json
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(e2e): add upgrade all command (#4064)
  e2e/app/admin/upgrade.go
  e2e/cmd/admin.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(e2e): add funding for mantle (#4062)
  e2e/app/eoa/fund.go
  e2e/app/eoa/static_test.go
  e2e/app/eoa/testdata/threshold_reference.json
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): readd initializers for mainnet upgrade (#4050)
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(e2e): allow runHL on specific chains
  e2e/app/admin/common.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(e2e): allow runHL on specific chains (#4065)
  e2e/app/admin/common.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

better upgrade all
  contracts/bindings/solvernetadmin.go
  contracts/solve/script/admin/SolverNetAdmin.s.sol
  e2e/app/admin/common.go
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(e2e): better upgrade all (#4066)
  contracts/bindings/solvernetadmin.go
  contracts/solve/script/admin/SolverNetAdmin.s.sol
  e2e/app/admin/common.go
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix calldata
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(e2e): fix upgrade all calldata (#4067)
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

disable foundry block gas limit
  e2e/app/admin/common.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): disable foundry block gas limit (#4068)
  e2e/app/admin/common.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

upgrade gas limit
  contracts/solve/foundry.toml
  e2e/app/admin/common.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts): increase block gas limit (#4069)
  contracts/solve/foundry.toml
  e2e/app/admin/common.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix gas limit
  contracts/solve/foundry.toml
  e2e/app/admin/common.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts): fix gas limit (#4070)
  contracts/solve/foundry.toml
  e2e/app/admin/common.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

new solver and monitor pins
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(e2e): new solver and monitor pins (#4071)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(lib): add mantle to mainnet HL network (#4060)
  e2e/solve/routing_internal_test.go
  lib/contracts/solvernet/chains.go
Due: run-go-tests, run-golint, run-regexp, run-goversion
