Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

add http server metrics
  explorer/graphql/app/app.go
  explorer/graphql/app/metrics.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): remove create3 contract code check (#1136)
  lib/contracts/create3/deploy.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): harden e2e tests (#1132)
  e2e/app/run.go
  halo/evmengine/keeper/helpers.go
  lib/cchain/provider/abci.go
  lib/xchain/provider/provider.go
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

feat(e2e): add visibility to ping pongs
  contracts/.gas-snapshot
  contracts/bindings/examples/pingpong.go
  contracts/src/examples/PingPong.sol
  contracts/test/examples/PingPong.t.sol
  e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

feat(e2e): add visibility to ping pongs (#1139)
  contracts/.gas-snapshot
  contracts/bindings/examples/pingpong.go
  contracts/src/examples/PingPong.sol
  contracts/test/examples/PingPong.t.sol
  e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): increase pingpong xmsg gas limit
  contracts/bindings/examples/pingpong.go
  contracts/src/examples/PingPong.sol
Due: run-go-tests, run-goversion

chore(e2e): increase pingpong xmsg gas limit (#1141)
  contracts/bindings/examples/pingpong.go
  contracts/src/examples/PingPong.sol
Due: run-go-tests, run-goversion

ci(e2e): fix e2e msg-receipt mapping
  e2e/app/monitor.go
  e2e/app/run.go
  e2e/netman/pingpong/pingpong.go
  lib/netconf/provider.go
  lib/xchain/provider/fetch.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): fix e2e msg-receipt mapping (#1142)
  e2e/app/monitor.go
  e2e/app/run.go
  e2e/netman/pingpong/pingpong.go
  lib/netconf/provider.go
  lib/xchain/provider/fetch.go
Due: run-go-tests, run-regexp, run-goversion

refactor(halo/voter): calculate offset from finalized chain
  e2e/app/run.go
  halo/attest/voter/metrics.go
  halo/attest/voter/voter.go
  lib/cchain/provider/testdata/TestXBlock.golden
  lib/netconf/provider.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/mock.go
  lib/xchain/types.go
Due: run-go-tests, run-regexp, run-goversion

move metrics as global vars
  explorer/graphql/app/app.go
  explorer/graphql/app/metrics.go
Due: run-go-tests, run-regexp, run-goversion

feat(explorer/graphql): add http server metrics (#1137)
  explorer/graphql/app/app.go
  explorer/graphql/app/metrics.go
Due: run-go-tests, run-regexp, run-goversion

refactor(halo/voter): calculate offset from finalized chain (#1140)
  e2e/app/run.go
  halo/attest/voter/metrics.go
  halo/attest/voter/voter.go
  lib/cchain/provider/testdata/TestXBlock.golden
  lib/netconf/provider.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/mock.go
  lib/xchain/types.go
Due: run-go-tests, run-regexp, run-goversion

docs(token): tokenomics wording
  docs/site/docs/learn/omni/token/economics.md
  docs/site/docs/learn/omni/token/overview.md
  docs/site/docs/learn/omni/token/tokenomics.md
Due: none

docs(token): economics wording
  docs/site/docs/learn/omni/token/economics.md
  docs/site/docs/learn/omni/token/overview.md
  docs/site/docs/learn/omni/token/tokenomics.md
Due: none

chore(contracts): store array length in local vars
  contracts/src/xchain/OmniPortal.sol
Due: none

chore(contracts): store array length in local vars (#1143)
  contracts/src/xchain/OmniPortal.sol
Due: none

chore(halo): remove eigen operator key as cons key option
  .secrets.baseline
  halo/app/privkey.go
  halo/app/privval_internal_test.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestCLIReference_rollback.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/config/config.go
  halo/config/config.toml.tmpl
  halo/config/testdata/default_halo.toml
Due: run-go-tests, run-regexp, run-goversion

chore(halo): remove eigen operator key as cons key option (#1147)
  .secrets.baseline
  halo/app/privkey.go
  halo/app/privval_internal_test.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestCLIReference_rollback.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/config/config.go
  halo/config/config.toml.tmpl
  halo/config/testdata/default_halo.toml
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): explicitly block xcalls to portals
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/src/xchain/OmniPortal.sol
  contracts/test/xchain/OmniPortal_adversarial.t.sol
Due: run-go-tests, run-goversion

chore(relayer): merge finalized and latest streams
  lib/netconf/netconf.go
  lib/xchain/types.go
  relayer/app/cursors.go
  relayer/app/cursors_internal_test.go
  relayer/app/state.go
  relayer/app/state_internal_test.go
  relayer/app/worker.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): explicitly block xcalls to portals (#1148)
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/src/xchain/OmniPortal.sol
  contracts/test/xchain/OmniPortal_adversarial.t.sol
Due: run-go-tests, run-goversion

chore(relayer): merge finalized and latest streams (#1149)
  lib/netconf/netconf.go
  lib/xchain/types.go
  relayer/app/cursors.go
  relayer/app/cursors_internal_test.go
  relayer/app/state.go
  relayer/app/state_internal_test.go
  relayer/app/worker.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/attest): override fuzzy attestations with finalized
  e2e/app/wait.go
  e2e/netman/pingpong/pingpong.go
  halo/attest/keeper/attestation.pb.go
  halo/attest/keeper/attestation.proto
  halo/attest/keeper/cpayload.go
  halo/attest/keeper/cpayload_internal_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/query.go
  halo/attest/types/translate.go
  relayer/app/cursors.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

feat(cli): add explorer
  cli/cmd/devnet.go
  e2e/manifests/devnet0.toml
Due: run-go-tests, run-regexp, run-goversion

fix(cli): use service name in docker network
  cli/cmd/devnet.go
Due: run-go-tests, run-regexp, run-goversion

chore(goreleaser): add explorer ui to goreleaser
  .goreleaser.yaml
Due: none

feat(halo/attest): override fuzzy attestations with finalized (#1150)
  e2e/app/wait.go
  e2e/netman/pingpong/pingpong.go
  halo/attest/keeper/attestation.pb.go
  halo/attest/keeper/attestation.proto
  halo/attest/keeper/cpayload.go
  halo/attest/keeper/cpayload_internal_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/query.go
  halo/attest/types/translate.go
  relayer/app/cursors.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

fix(release): use actions for ui release
  .github/workflows/release-official.yml
  .goreleaser.yaml
Due: none

fix(release): use single line with comma seps
  .github/workflows/release-official.yml
Due: none

docs(cli): install from latest tag after checking out the repo
  docs/site/docs/tools/cli/cli.md
Due: none

ci(e2e): refactor anvilproxy with fuzzyhead support
  .github/workflows/clicommand.yml
  .github/workflows/pr-e2etest.yml
  .github/workflows/release-snapshot.yml
  .goreleaser.yaml
  Makefile
  e2e/anvilproxy/Dockerfile
  e2e/anvilproxy/app/anvil.go
  e2e/anvilproxy/app/app.go
  e2e/anvilproxy/app/config.go
  e2e/anvilproxy/app/proxy.go
  e2e/anvilproxy/app/xmsg.go
  e2e/anvilproxy/cmd/cmd.go
  e2e/anvilproxy/main.go
  e2e/app/avs.go
  e2e/app/perturb.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/forkproxy/Dockerfile
  e2e/forkproxy/app/app.go
  e2e/forkproxy/main.go
  e2e/manifests/fuzzyhead.toml
  e2e/types/manifest.go
  e2e/vmcompose/testdata/TestSetup_127-0-0-3-compose.yaml.golden
  lib/contracts/avs/deploy.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): refactor anvilproxy with fuzzyhead support (#1154)
  .github/workflows/clicommand.yml
  .github/workflows/pr-e2etest.yml
  .github/workflows/release-snapshot.yml
  .goreleaser.yaml
  Makefile
  e2e/anvilproxy/Dockerfile
  e2e/anvilproxy/app/anvil.go
  e2e/anvilproxy/app/app.go
  e2e/anvilproxy/app/config.go
  e2e/anvilproxy/app/proxy.go
  e2e/anvilproxy/app/xmsg.go
  e2e/anvilproxy/cmd/cmd.go
  e2e/anvilproxy/main.go
  e2e/app/avs.go
  e2e/app/perturb.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/forkproxy/Dockerfile
  e2e/forkproxy/app/app.go
  e2e/forkproxy/main.go
  e2e/manifests/fuzzyhead.toml
  e2e/types/manifest.go
  e2e/vmcompose/testdata/TestSetup_127-0-0-3-compose.yaml.golden
  lib/contracts/avs/deploy.go
Due: run-go-tests, run-regexp, run-goversion

refactor(relayer): skip mismatching fuzzy attestations
  .goreleaser.yaml
  e2e/anvilproxy/app/proxy.go
  e2e/app/monitor.go
  halo/app/start.go
  halo/app/start_test.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/netconf/provider.go
  relayer/app/app.go
  relayer/app/sender.go
  relayer/app/worker.go
  relayer/app/worker_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(relayer): skip mismatching fuzzy attestations (#1155)
  .goreleaser.yaml
  e2e/anvilproxy/app/proxy.go
  e2e/app/monitor.go
  halo/app/start.go
  halo/app/start_test.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/netconf/provider.go
  relayer/app/app.go
  relayer/app/sender.go
  relayer/app/worker.go
  relayer/app/worker_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

fix typo
  docs/site/docs/develop/xapp/example.md
Due: none
