Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

cleanup
  lib/fireblocks/client_test.go
Due: run-go-tests, run-goversion

cleanup
  lib/fireblocks/account.go
  lib/fireblocks/gettransaction.go
  lib/fireblocks/sign.go
  lib/fireblocks/supportedassets.go
  lib/fireblocks/types.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/attest): trim attestations after 2 weeks
  halo/app/app_config.go
  halo/app/start_test.go
  halo/attest/keeper/attestation.cosmos_orm.go
  halo/attest/keeper/attestation.pb.go
  halo/attest/keeper/attestation.proto
  halo/attest/keeper/common_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/module/module.go
  halo/attest/module/module.proto
  halo/attest/module/module.pulsar.go
Due: run-go-tests, run-regexp, run-goversion

ci(monitor/loadgen): add auto validator self-delegation
  .secrets.baseline
  e2e/app/run.go
  e2e/app/setup.go
  e2e/app/valupdates.go
  halo/genutil/evm/evm.go
  halo/genutil/evm/testdata/TestMakeGenesis.golden
  lib/k1util/k1util.go
  monitor/app/app.go
  monitor/app/config.go
  monitor/app/config_test.go
  monitor/app/monitor.toml
  monitor/app/testdata/default_monitor.toml
  monitor/cmd/cmd.go
  monitor/cmd/flags.go
  monitor/loadgen/loadgen.go
  monitor/loadgen/stake.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/attest): trim attestations after 2 weeks (#648)
  halo/app/app_config.go
  halo/app/start_test.go
  halo/attest/keeper/attestation.cosmos_orm.go
  halo/attest/keeper/attestation.pb.go
  halo/attest/keeper/attestation.proto
  halo/attest/keeper/common_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/module/module.go
  halo/attest/module/module.proto
  halo/attest/module/module.pulsar.go
Due: run-go-tests, run-regexp, run-goversion

docs(testnet): redirect and add home testnet banner
  docs/site/docs/home.md
  docs/site/docs/operate/testnet/testnet.md
  docs/site/src/components/TestnetCTA/TestnetCTA.tsx
  docs/site/src/components/TestnetCTA/testnetcta.css
Due: none

docs(testnet): add testnet landing page (#612)
  docs/site/docs/home.md
  docs/site/package.json
  docs/site/pnpm-lock.yaml
  docs/site/src/components/TestnetCTA/TestnetCTA.tsx
  docs/site/src/components/TestnetCTA/testnetcta.css
  docs/site/src/pages/testnet.css
  docs/site/src/pages/testnet.tsx
  docs/site/static/img/banner-wide-light.png
  docs/site/static/img/banner-wide.png
  docs/site/static/img/logo-dark-blue.svg
  docs/site/static/img/logo-white.svg
Due: none

ci(monitor/loadgen): add auto validator self-delegation (#649)
  .secrets.baseline
  e2e/app/run.go
  e2e/app/setup.go
  e2e/app/valupdates.go
  halo/genutil/evm/evm.go
  halo/genutil/evm/testdata/TestMakeGenesis.golden
  lib/k1util/k1util.go
  monitor/app/app.go
  monitor/app/config.go
  monitor/app/config_test.go
  monitor/app/monitor.toml
  monitor/app/testdata/default_monitor.toml
  monitor/cmd/cmd.go
  monitor/cmd/flags.go
  monitor/loadgen/loadgen.go
  monitor/loadgen/stake.go
Due: run-go-tests, run-regexp, run-goversion

docs(testnet): resources fixes and emphasize token name on operator run
  docs/site/docs/develop/testnet/resources.md
  docs/site/docs/operate/testnet/client.md
Due: none

wip
  e2e/app/valupdates.go
  lib/fireblocks/account.go
  lib/fireblocks/client.go
  lib/fireblocks/client_test.go
  lib/fireblocks/config.go
  lib/fireblocks/gettransaction.go
  lib/fireblocks/sign.go
  lib/fireblocks/supportedassets.go
  lib/fireblocks/types.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): fix regression
  e2e/app/valupdates.go
Due: run-go-tests, run-regexp, run-goversion

docs(testnet): resources fixes and token name bold (#650)
  docs/site/docs/develop/testnet/resources.md
  docs/site/docs/operate/testnet/client.md
Due: none

fix(lib/fireblocks): fix host url (#652)
  e2e/app/valupdates.go
  lib/fireblocks/account.go
  lib/fireblocks/client.go
  lib/fireblocks/client_test.go
  lib/fireblocks/config.go
  lib/fireblocks/gettransaction.go
  lib/fireblocks/sign.go
  lib/fireblocks/supportedassets.go
  lib/fireblocks/types.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): fix regression (#653)
  e2e/app/valupdates.go
Due: run-go-tests, run-regexp, run-goversion

docs(protocol): audits page
  docs/site/docs/protocol/audits.md
Due: none

docs(protocol): audits page (#654)
  docs/site/docs/protocol/audits.md
Due: none

add testnet prefunded addrs
  .secrets.baseline
  e2e/app/setup.go
  halo/genutil/evm/evm.go
  halo/genutil/evm/evm_test.go
  halo/genutil/evm/testdata/TestMakeGenesis.golden
Due: run-go-tests, run-regexp, run-goversion

docs(testnet): add countdown
  docs/site/package.json
  docs/site/pnpm-lock.yaml
  docs/site/src/components/CountdownTimer/CountdownTimer.css
  docs/site/src/components/CountdownTimer/CountdownTimer.tsx
  docs/site/src/components/TestnetCTA/TestnetCTA.tsx
  docs/site/src/pages/testnet.css
  docs/site/src/pages/testnet.tsx
Due: none

docs(testnet): rename file
  docs/site/src/components/CountdownTimer/CountdownTimer.tsx
  docs/site/src/components/TestnetCTA/TestnetCTA.old.css
  docs/site/src/components/TestnetCTA/TestnetCTA.tsx
Due: none

docs(testnet): rename file
  docs/site/src/components/TestnetCTA/TestnetCTA.css
Due: none

fund with 1m to distribute to vals
  halo/genutil/evm/evm.go
  halo/genutil/evm/testdata/TestMakeGenesis.golden
Due: run-go-tests, run-regexp, run-goversion

chore(halo): add testnet prefunded addrs (#655)
  .secrets.baseline
  e2e/app/setup.go
  halo/genutil/evm/evm.go
  halo/genutil/evm/evm_test.go
  halo/genutil/evm/testdata/TestMakeGenesis.golden
Due: run-go-tests, run-regexp, run-goversion

docs(home): add dynamic banner
  docs/site/docs/home.md
  docs/site/src/components/ThemedBanner/ThemedBanner.tsx
  docs/site/static/img/dark-banner.png
  docs/site/static/img/light-banner.png
Due: none

feat(e2e): use create3 in e2e deploy flow
  .secrets.baseline
  contracts/Makefile
  contracts/bindings/create3_more.go
  contracts/bindings/omniportal.go
  e2e/app/avs.go
  e2e/app/contract.go
  e2e/app/create3.go
  e2e/app/run.go
  e2e/app/valupdates.go
  e2e/netman/helpers.go
  e2e/netman/manager.go
  e2e/netman/pingpong/pingpong.go
  lib/anvil/accounts.go
  lib/contracts/addrs.go
  lib/contracts/avs/avs_test.go
  lib/contracts/avs/deploy.go
  lib/contracts/create3/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/contracts/proxyadmin/deploy.go
  lib/contracts/proxyadmin/deploy_test.go
  lib/contracts/static.go
  lib/create3/create3_test.go
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/ethbackend/backends.go
Due: run-go-tests, run-regexp, run-goversion

feat(e2e): use create3 in e2e deploy flow (#657)
  .secrets.baseline
  contracts/Makefile
  contracts/bindings/create3_more.go
  contracts/bindings/omniportal.go
  e2e/app/avs.go
  e2e/app/contract.go
  e2e/app/create3.go
  e2e/app/run.go
  e2e/app/valupdates.go
  e2e/netman/helpers.go
  e2e/netman/manager.go
  e2e/netman/pingpong/pingpong.go
  lib/anvil/accounts.go
  lib/contracts/addrs.go
  lib/contracts/avs/avs_test.go
  lib/contracts/avs/deploy.go
  lib/contracts/create3/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/contracts/proxyadmin/deploy.go
  lib/contracts/proxyadmin/deploy_test.go
  lib/contracts/static.go
  lib/create3/create3_test.go
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/ethbackend/backends.go
Due: run-go-tests, run-regexp, run-goversion

fix(contracts): fix infinite loop for unsupported strategies
  contracts/.gas-snapshot
  contracts/bindings/omniavs.go
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/OmniAVS_syncWithOmni.t.sol
Due: run-go-tests, run-regexp, run-goversion

fix(contracts): fix infinite loop for unsupported strategies (#659)
  contracts/.gas-snapshot
  contracts/bindings/omniavs.go
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/OmniAVS_syncWithOmni.t.sol
Due: run-go-tests, run-regexp, run-goversion

feat(lib/contracts/avs): add holesky strategy params
  lib/contracts/avs/stategies.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/contracts): add holesky strategy params (#660)
  lib/contracts/avs/stategies.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/contracts): only deploy avs if its not deployed
  e2e/app/avs.go
  lib/contracts/avs/deploy.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/contracts): only deploy avs if its not deployed (#661)
  e2e/app/avs.go
  lib/contracts/avs/deploy.go
Due: run-go-tests, run-regexp, run-goversion

fixing indexer and adding tests for graphql
  explorer/graphql/resolvers/blocks.go
  explorer/graphql/resolvers/blocks_test.go
  explorer/graphql/resolvers/messages.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/receipts.go
  explorer/graphql/resolvers/receipts_test.go
  explorer/graphql/resolvers/test_util.go
  explorer/indexer/app/app.go
Due: run-go-tests, run-regexp, run-goversion

nit
  explorer/indexer/app/app.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): fix staging deployments
  .secrets.baseline
  e2e/app/fund.go
  e2e/app/run.go
  lib/anvil/accounts.go
  lib/anvil/utils.go
  lib/contracts/avs/deploy.go
  lib/contracts/create3/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/proxyadmin/deploy.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): fix staging deployments (#663)
  .secrets.baseline
  e2e/app/fund.go
  e2e/app/run.go
  lib/anvil/accounts.go
  lib/anvil/utils.go
  lib/contracts/avs/deploy.go
  lib/contracts/create3/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/proxyadmin/deploy.go
Due: run-go-tests, run-regexp, run-goversion

docs(home): add dynamic banner (#658)
  docs/site/docs/home.md
  docs/site/src/components/ThemedBanner/ThemedBanner.tsx
  docs/site/static/img/dark-banner.png
  docs/site/static/img/light-banner.png
Due: none

fix(e2e): use different accounts for relayer & operator in devnet
  e2e/netman/manager.go
  lib/contracts/addrs.go
Due: run-go-tests, run-regexp, run-goversion

utils
  explorer/graphql/data/block_provider.go
  explorer/graphql/data/hexHelper.go
  explorer/graphql/data/message_provider.go
  explorer/graphql/data/provider_helpers.go
  explorer/graphql/data/receipt_provider.go
  explorer/graphql/resolvers/blocks_test.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/receipts_test.go
  explorer/graphql/resolvers/testutil_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): fix staging and devnet addrs (#664)
  e2e/netman/manager.go
  lib/contracts/addrs.go
Due: run-go-tests, run-regexp, run-goversion

Path conditions:
  run-go-tests: any of: \.go$
  run-regexp: any of: \.go$, but not: _test.go
  run-goversion: any of: \.go$
