Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(lib): disable sepolia hyperlane chain (#3984)
  e2e/solve/routing_internal_test.go
  lib/contracts/solvernet/chains.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifests): bump solver pin (#3985)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(anchor/inbox): add token transfers (#3972)
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  .pre-commit/run_rust_checks.sh
  anchor/Cargo.lock
  anchor/anchorinbox/accounts.go
  anchor/anchorinbox/addresses.go
  anchor/anchorinbox/claim.go
  anchor/anchorinbox/claim_test.go
  anchor/anchorinbox/close.go
  anchor/anchorinbox/close_test.go
  anchor/anchorinbox/errors.go
  anchor/anchorinbox/events.go
  anchor/anchorinbox/helper.go
  anchor/anchorinbox/helper_test.go
  anchor/anchorinbox/init.go
  anchor/anchorinbox/instructions.go
  anchor/anchorinbox/markfilled.go
  anchor/anchorinbox/open.go
  anchor/anchorinbox/types.go
  anchor/localnet/solver_inbox.json
  anchor/localnet/solver_inbox.so
  anchor/programs/solver-inbox/Cargo.toml
  anchor/programs/solver-inbox/src/error.rs
  anchor/programs/solver-inbox/src/event.rs
  anchor/programs/solver-inbox/src/lib.rs
  anchor/programs/solver-inbox/src/types.rs
  solver/solana/compose.go
  solver/solana/compose_test.go
  solver/solana/helpers.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): wrap steth asynchronously
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): wrap steth asynchronously (#3986)
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifests): bump solver pin
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(e2e/manifests): bump solver pin (#3987)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

fix inbox portal address assignment
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix outbox portal address assignment
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(e2e): fix portal address assignment (#3988)
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): remove steth wrapping
  solver/rebalance/start.go
  solver/rebalance/wsteth-abi.json
  solver/rebalance/wsteth.go
  solver/rebalance/wsteth_bindings.go
  solver/rebalance/wsteth_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

allow zero address for portal
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/lib/XAppBase.sol
Due: run-go-tests, run-golint, run-goversion

rm foot req
  scripts/verifypr/verify.go
  scripts/verifypr/verify_internal_test.go
Due: run-go-tests, run-golint, run-goversion

rm test case
  scripts/verifypr/verify_internal_test.go
Due: run-go-tests, run-golint, run-goversion

chore(solver): remove steth wrapping (#3989)
  solver/rebalance/start.go
  solver/rebalance/wsteth-abi.json
  solver/rebalance/wsteth.go
  solver/rebalance/wsteth_bindings.go
  solver/rebalance/wsteth_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(ci): remove footer requirement (#3991)
  scripts/verifypr/verify.go
  scripts/verifypr/verify_internal_test.go
Due: run-go-tests, run-golint, run-goversion

add markFilled test for no portal address edge case
  contracts/solve/.gas-snapshot
  contracts/solve/test/inbox/MarkFilled.t.sol
Due: none

fix(contracts/solve): allow zero address for portal (#3990)
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/lib/XAppBase.sol
  contracts/solve/test/inbox/MarkFilled.t.sol
Due: run-go-tests, run-golint, run-goversion

allow portal addr change when not deployed
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
Due: run-go-tests, run-golint, run-goversion

fix(contracts/core): change portal addr when not deployed (#3992)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
Due: run-go-tests, run-golint, run-goversion

fix same chain orders during outbox post upgrade script
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/SolverNetPostUpgradeTest.sol
Due: run-go-tests, run-golint, run-goversion

fix(contracts/core): proper post upgrade local order (#3993)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/SolverNetPostUpgradeTest.sol
Due: run-go-tests, run-golint, run-goversion

fix post upgrade executor test
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(e2e): fix post upgrade executor test (#3994)
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix post upgrade test
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/SolverNetPostUpgradeTest.sol
Due: run-go-tests, run-golint, run-goversion

fix(contracts/core): fix executor post upgrade test (#3995)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/SolverNetPostUpgradeTest.sol
Due: run-go-tests, run-golint, run-goversion

fix post upgrade assertion
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/SolverNetPostUpgradeTest.sol
Due: run-go-tests, run-golint, run-goversion

fix(contracts/core): fix post upgrade assertion (#3996)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/SolverNetPostUpgradeTest.sol
Due: run-go-tests, run-golint, run-goversion

chore(sdk): test changset setup
  sdk/.changeset/ripe-crabs-doubt.md
Due: none

test(sdk): add integration test for using ethers (#3971)
  sdk/integration-tests/ethers.ts
  sdk/integration-tests/package.json
  sdk/integration-tests/suites/flows.tsx
  sdk/pnpm-lock.yaml
Due: none

feat(sdk): changeset canary publishing workflow
  .github/workflows/changeset-snapshot.yml
Due: none

chore(sdk): test changset setup (#3997)
  sdk/.changeset/ripe-crabs-doubt.md
Due: none

chore(sdk): readme tweak to trigger changeset
  sdk/packages/react/README.md
Due: none

chore(sdk): readme tweak to trigger changeset (#3999)
  sdk/packages/react/README.md
Due: none

feat(sdk): add support for viem gas options
  docs/docs/pages/sdk/core/generateOrder.md
  docs/docs/pages/sdk/core/openOrder.md
  docs/docs/pages/sdk/core/sendOrder.mdx
  sdk/packages/core/src/contracts/sendOrder.test.ts
  sdk/packages/core/src/contracts/sendOrder.ts
  sdk/packages/core/src/flows/generateOrder.test.ts
  sdk/packages/core/src/flows/openOrder.test.ts
Due: none

chore(sdk): set working dir changeset directory
  .github/workflows/changeset.yaml
Due: none

chore(sdk): set working dir changeset directory (#4000)
  .github/workflows/changeset.yaml
Due: none

chore(sdk): tweak readme to trigger changeset
  sdk/packages/react/README.md
Due: none

chore(monitor): disable flowgen on mainnet
  monitor/flowgen/flowgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion
