Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

Simplify test-utils tsconfig
  sdk/integration-tests/package.json
  sdk/packages/test-utils/tsconfig.json
Due: none

chore(monitor/flowgen): retry earlier on skipped jobs (#3472)
  monitor/flowgen/flowgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor): track more token balances (#3476)
  solver/tokens/testdata/TestTokens.golden
  solver/tokens/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): remove stETH mock token from devnet (#3477)
  solver/tokens/testdata/TestTokens.golden
  solver/tokens/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

account for fees and commissions
  monitor/flowgen/bridging/bridging.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver): allow ETH for STETH
  solver/app/internal_testutils.go
  solver/app/quote.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Use test-utils package in react package
  sdk/packages/react/package.json
  sdk/packages/react/test/shared.ts
  sdk/packages/test-utils/package.json
  sdk/pnpm-lock.yaml
Due: none

feat(solver): add eigen holesky target
  solver/targets/targets.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver): allow ETH for STETH (#3479)
  solver/app/internal_testutils.go
  solver/app/quote.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver): add eigen holesky target (#3480)
  solver/targets/targets.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): update solver pin
  e2e/manifests/omega.toml
Due: none

chore(e2e): update solver pin (#3482)
  e2e/manifests/omega.toml
Due: none

bug: 🐛 Fix bn.js and node error
  sdk/packages/react/package.json
  sdk/pnpm-lock.yaml
Due: none

fix(monitor/flowgen): account for fees and commissions (#3478)
  monitor/flowgen/bridging/bridging.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

pin monitor
  e2e/manifests/omega.toml
Due: none

chore(e2e): pin monitor on omega (#3485)
  e2e/manifests/omega.toml
Due: none

chore(ethclient): implement reorg aware header db
  lib/ethclient/headerdb/headerdb.cosmos_orm.go
  lib/ethclient/headerdb/headerdb.go
  lib/ethclient/headerdb/headerdb.pb.go
  lib/ethclient/headerdb/headerdb.proto
  lib/ethclient/headerdb/headerdb_internal_test.go
  scripts/buf_generate.sh
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

ci(gomod): bump golang-jwt
  go.mod
  go.sum
Due: none

chore(cli/cmd): remove eigen commands
  cli/README.md
  cli/cmd/avs_register.go
  cli/cmd/avs_register_test.go
  cli/cmd/cmd.go
  cli/cmd/devnet.go
  cli/cmd/flags.go
  go.mod
  go.sum
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(lib/xchain): conf minX using explicit parents (#3463)
  lib/ethclient/engineclient.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  lib/ethclient/headercache.go
  lib/ethclient/headercahce_internal_test.go
  lib/ethclient/mock/mock_interfaces.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/provider.go
  lib/xchain/types.go
  lib/xchain/types_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(sdk): setup core package
  sdk/packages/core/package.json
  sdk/packages/core/src/client.ts
  sdk/packages/core/src/index.ts
  sdk/packages/core/src/schemas.ts
  sdk/packages/core/tsconfig.json
  sdk/pnpm-lock.yaml
Due: none

ci(gomod): bump golang-jwt (#3489)
  go.mod
  go.sum
Due: none

chore(cli/cmd): remove eigen commands (#3490)
  cli/README.md
  cli/cmd/avs_register.go
  cli/cmd/avs_register_test.go
  cli/cmd/cmd.go
  cli/cmd/devnet.go
  cli/cmd/flags.go
  go.mod
  go.sum
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): add steth spend bounds
  solver/tokens/testdata/TestTokens.golden
  solver/tokens/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): add steth spend bounds (#3496)
  solver/tokens/testdata/TestTokens.golden
  solver/tokens/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): update omega solver pin
  e2e/manifests/omega.toml
Due: none

chore(e2e): update omega solver pin (#3497)
  e2e/manifests/omega.toml
Due: none

pin mainnet
  e2e/manifests/mainnet.toml
Due: none

chore(e2): pin halo and monitor on mainnet (#3487)
  e2e/manifests/mainnet.toml
Due: none

chore(ethclient): implement reorg aware header db (#3488)
  lib/ethclient/headerdb/headerdb.cosmos_orm.go
  lib/ethclient/headerdb/headerdb.go
  lib/ethclient/headerdb/headerdb.pb.go
  lib/ethclient/headerdb/headerdb.proto
  lib/ethclient/headerdb/headerdb_internal_test.go
  scripts/buf_generate.sh
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/job): implement job db
  scripts/buf_generate.sh
  solver/job/db.go
  solver/job/db_test.go
  solver/job/job.cosmos_orm.go
  solver/job/job.pb.go
  solver/job/job.proto
  solver/job/types.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): extract test utils to dedicated package (#3481)
  sdk/.gitignore
  sdk/integration-tests/package.json
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/suites/hooks.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/package.json
  sdk/packages/react/package.json
  sdk/packages/react/test/shared.ts
  sdk/packages/test-utils/package.json
  sdk/packages/test-utils/src/account.ts
  sdk/packages/test-utils/src/constants.ts
  sdk/packages/test-utils/src/index.ts
  sdk/packages/test-utils/tsconfig.json
  sdk/pnpm-lock.yaml
Due: none

fix(sdk): add missing typescript dependency
  sdk/packages/test-utils/package.json
  sdk/pnpm-lock.yaml
Due: none

chore(solver/job): implement job db (#3501)
  scripts/buf_generate.sh
  solver/job/db.go
  solver/job/db_test.go
  solver/job/job.cosmos_orm.go
  solver/job/job.pb.go
  solver/job/job.proto
  solver/job/types.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): wire async job processing
  solver/app/app.go
  solver/app/metrics.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/worker.go
  solver/job/db.go
  solver/job/db_test.go
  solver/job/job.pb.go
  solver/job/job.proto
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/ethclient): wire headerdb
  lib/ethclient/engineclient.go
  lib/ethclient/ethclient.go
  lib/ethclient/headercache.go
  lib/ethclient/headercahce_internal_test.go
  lib/ethclient/headerdb/headerdb.go
  lib/ethclient/headerdb/headerdb_internal_test.go
  lib/ethclient/headerdb/headerdb_test.go
  lib/ethclient/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/ethclient): wire headerdb (#3502)
  lib/ethclient/engineclient.go
  lib/ethclient/ethclient.go
  lib/ethclient/headercache.go
  lib/ethclient/headercahce_internal_test.go
  lib/ethclient/headerdb/headerdb.go
  lib/ethclient/headerdb/headerdb_internal_test.go
  lib/ethclient/headerdb/headerdb_test.go
  lib/ethclient/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): timeout 504 after 10s
  solver/app/handler.go
  solver/app/handlers_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): timeout 504 after 10s (#3508)
  solver/app/handler.go
  solver/app/handlers_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(sdk): add missing typescript dependency (#3503)
  sdk/packages/test-utils/package.json
  sdk/pnpm-lock.yaml
Due: none
