Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

feat(contracts/xapps): addressed rlusd audit findings (#3096)
  contracts/bindings/bridge.go
  contracts/bindings/lockbox.go
  contracts/xapps/.gas-snapshot
  contracts/xapps/src/bridge/Bridge.sol
  contracts/xapps/src/bridge/Lockbox.sol
  contracts/xapps/src/bridge/interfaces/IBridge.sol
  contracts/xapps/test/bridge/TestBase.sol
  contracts/xapps/test/bridge/bridge/General.t.sol
  contracts/xapps/test/bridge/bridge/ReceiveToken.t.sol
  contracts/xapps/test/bridge/bridge/RetryTransfer.t.sol
  contracts/xapps/test/bridge/bridge/SendToken.t.sol
  contracts/xapps/test/bridge/lockbox/Deposit.t.sol
  contracts/xapps/test/bridge/lockbox/General.t.sol
  contracts/xapps/test/bridge/lockbox/Withdraw.t.sol
  e2e/xbridge/bridge.go
  e2e/xbridge/lockbox.go
  e2e/xbridge/test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/solve): better e2e solve tests (#3094)
  e2e/solve/order_tracker.go
  e2e/solve/test.go
  e2e/solve/testutil.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add a module parameter for max withdrawals per block
  halo/app/app_config.go
  octane/evmengine/module/module.proto
  octane/evmengine/module/module.pulsar.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

implement withdrawals listing by height
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/solana): deploy events program
  .golangci.yaml
  .pre-commit-config.yaml
  go.mod
  go.sum
  solver/solana/compose.go
  solver/solana/compose.yaml.tmpl
  solver/solana/compose_test.go
  solver/solana/events/accounts.go
  solver/solana/events/addresses.go
  solver/solana/events/constants.go
  solver/solana/events/errors.go
  solver/solana/events/events-keypair.json
  solver/solana/events/events.go
  solver/solana/events/events.so
  solver/solana/events/initialize.go
  solver/solana/events/initialize_test.go
  solver/solana/events/instructions.go
  solver/solana/events/testevent.go
  solver/solana/events/testevent_test.go
  solver/solana/events/testeventcpi.go
  solver/solana/events/testeventcpi_test.go
  solver/solana/events/testing_utils.go
  solver/solana/events/types.go
  solver/solana/helpers.go
  solver/solana/program.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/solana): deploy events program (#3103)
  .golangci.yaml
  .pre-commit-config.yaml
  go.mod
  go.sum
  solver/solana/compose.go
  solver/solana/compose.yaml.tmpl
  solver/solana/compose_test.go
  solver/solana/events/accounts.go
  solver/solana/events/addresses.go
  solver/solana/events/constants.go
  solver/solana/events/errors.go
  solver/solana/events/events-keypair.json
  solver/solana/events/events.go
  solver/solana/events/events.so
  solver/solana/events/initialize.go
  solver/solana/events/initialize_test.go
  solver/solana/events/instructions.go
  solver/solana/events/testevent.go
  solver/solana/events/testevent_test.go
  solver/solana/events/testeventcpi.go
  solver/solana/events/testeventcpi_test.go
  solver/solana/events/testing_utils.go
  solver/solana/events/types.go
  solver/solana/helpers.go
  solver/solana/program.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(upgrade/magellan): slashing params
  e2e/test/module_test.go
  halo/app/start_test.go
  halo/app/upgrades/magellan/upgrade.go
  halo/app/upgrades/magellan/upgrade_internal_test.go
  halo/app/upgrades/upgrades.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(upgrade/magellan): slashing params (#3104)
  e2e/test/module_test.go
  halo/app/start_test.go
  halo/app/upgrades/magellan/upgrade.go
  halo/app/upgrades/magellan/upgrade_internal_test.go
  halo/app/upgrades/upgrades.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(join): remove explicit temp home test dir deletion
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-goversion

feat(solver): replace quote with check
  e2e/solve/test.go
  e2e/solve/testutil.go
  lib/contracts/solvernet/types.go
  solver/app/app.go
  solver/app/check.go
  solver/app/check_internal_test.go
  solver/app/internal_testutils.go
  solver/app/reject.go
  solver/app/rejectreason_string.go
  solver/app/server.go
  solver/types/api.go
  solver/types/reject.go
  solver/types/rejectreason_string.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): upgrade monitor service on mainnet
  e2e/manifests/mainnet.toml
Due: none

chore(e2e): upgrade monitor service on mainnet (#3106)
  e2e/manifests/mainnet.toml
Due: none

feat(solver): replace quote with check (#3105)
  e2e/solve/test.go
  e2e/solve/testutil.go
  lib/contracts/solvernet/types.go
  solver/app/app.go
  solver/app/check.go
  solver/app/check_internal_test.go
  solver/app/internal_testutils.go
  solver/app/reject.go
  solver/app/rejectreason_string.go
  solver/app/server.go
  solver/types/api.go
  solver/types/reject.go
  solver/types/rejectreason_string.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts/solve): renamed Expense to TokenExpense
  contracts/bindings/isolvernetbindings.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
  contracts/solve/script/SolverNetStagingFixtures.sol
  contracts/solve/script/staging/InvalidRequest.s.sol
  contracts/solve/script/staging/Omni_transfer.s.sol
  contracts/solve/script/staging/Staking_delegateFor.s.sol
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetBindings.sol
  contracts/solve/src/lib/SolverNet.sol
  contracts/solve/test/E2E.t.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/Resolve.t.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/outbox/Fill.t.sol
  contracts/solve/test/utils/MockSolverNetInbox.sol
  lib/contracts/solvernet/order.go
  lib/contracts/solvernet/types.go
  sdk/src/constants/typehash.ts
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts/solve): renamed Expense to TokenExpense (#3101)
  contracts/bindings/isolvernetbindings.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
  contracts/solve/script/SolverNetStagingFixtures.sol
  contracts/solve/script/staging/InvalidRequest.s.sol
  contracts/solve/script/staging/Omni_transfer.s.sol
  contracts/solve/script/staging/Staking_delegateFor.s.sol
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetBindings.sol
  contracts/solve/src/lib/SolverNet.sol
  contracts/solve/test/E2E.t.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/Resolve.t.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/outbox/Fill.t.sol
  contracts/solve/test/utils/MockSolverNetInbox.sol
  lib/contracts/solvernet/order.go
  lib/contracts/solvernet/types.go
  sdk/src/constants/typehash.ts
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(join): link existing context to shutdownContainers
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-goversion

fix(solver): handle tokens that decrement max allowance
  solver/app/approvals.go
  solver/app/procdeps.go
  solver/app/reject.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(scripts/join): add compose tear down logic (#3107)
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-goversion

refactorings
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/keeper_internal_test.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server_internal_test.go
  octane/evmengine/module/module.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(solver): handle tokens that decrement max allowance (#3112)
  solver/app/approvals.go
  solver/app/procdeps.go
  solver/app/reject.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

remove initializer from staking upgrade script
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): remove initializer from staking upgrade script (#3113)
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e/manifest): add 2 mainnet validators
  contracts/allocs/scripts/genallocs_internal_test.go
  e2e/manifests/mainnet.toml
Due: run-go-tests, run-golint, run-goversion

ci(e2e/manifest): add 2 mainnet validators (#3117)
  contracts/allocs/scripts/genallocs_internal_test.go
  e2e/manifests/mainnet.toml
Due: run-go-tests, run-golint, run-goversion

review feedback
  octane/evmengine/keeper/db.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

bump solvernet omega version
  lib/contracts/address.go
  lib/contracts/testdata/TestContractAddressReference.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

store reject reason in order state
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/inbox/Reject.t.sol
Due: run-go-tests, run-golint, run-goversion

chore(lib/contracts): bump solvernet omega version (#3118)
  lib/contracts/address.go
  lib/contracts/testdata/TestContractAddressReference.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver): add quote endpoint
  lib/contracts/solvernet/types.go
  solver/app/app.go
  solver/app/check.go
  solver/app/check_internal_test.go
  solver/app/internal_testutils.go
  solver/app/quote.go
  solver/app/quote_internal_test.go
  solver/app/tokens.go
  solver/types/api.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver): add quote endpoint and fee (#3120)
  lib/contracts/solvernet/types.go
  solver/app/app.go
  solver/app/check.go
  solver/app/check_internal_test.go
  solver/app/internal_testutils.go
  solver/app/quote.go
  solver/app/quote_internal_test.go
  solver/app/tokens.go
  solver/types/api.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/solve): store reject reason in OrderState (#3119)
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/inbox/Reject.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(sdk): refactor and api check call
  sdk/package.json
  sdk/pnpm-lock.yaml
  sdk/src/constants/contracts.ts
  sdk/src/constants/typehash.ts
  sdk/src/hooks/useGetOpenOrder.ts
  sdk/src/hooks/useOpenOrder.ts
  sdk/src/hooks/useOrder.ts
  sdk/src/hooks/useOrderStatus.ts
  sdk/src/index.ts
  sdk/src/types/order.ts
  sdk/src/types/orderStatus.ts
  sdk/src/types/utils.ts
  sdk/src/utils/encodeOrder.ts
  sdk/tsconfig.json
Due: none

chore(sdk): trim whitespace
  sdk/tsconfig.json
Due: none

feat(octane/evmengine): fetch eligible withdrawals for block inclusion (#3099)
  halo/app/app_config.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/keeper_internal_test.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server_internal_test.go
  octane/evmengine/module/module.go
  octane/evmengine/module/module.proto
  octane/evmengine/module/module.pulsar.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): rename mutation
  sdk/src/hooks/useOrder.ts
Due: none

feat(sdk): refactor and api check call (#3124)
  sdk/package.json
  sdk/pnpm-lock.yaml
  sdk/src/constants/contracts.ts
  sdk/src/constants/typehash.ts
  sdk/src/hooks/useGetOpenOrder.ts
  sdk/src/hooks/useOpenOrder.ts
  sdk/src/hooks/useOrder.ts
  sdk/src/hooks/useOrderStatus.ts
  sdk/src/index.ts
  sdk/src/types/order.ts
  sdk/src/types/orderStatus.ts
  sdk/src/types/utils.ts
  sdk/src/utils/encodeOrder.ts
  sdk/tsconfig.json
Due: none

chore(solver): use hex big ints in json api
  e2e/solve/test.go
  lib/contracts/solvernet/types.go
  solver/app/check.go
  solver/app/internal_testutils.go
  solver/app/quote.go
  solver/app/quote_internal_test.go
  solver/types/api.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): use hex big ints in json api (#3125)
  e2e/solve/test.go
  lib/contracts/solvernet/types.go
  solver/app/check.go
  solver/app/internal_testutils.go
  solver/app/quote.go
  solver/app/quote_internal_test.go
  solver/types/api.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
