Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(api): clean up api routes and deps (#1199)
  api/api/notfound.ts
  api/package.json
  api/pnpm-lock.yaml
  api/vercel.json
Due: none

refactor(halo/attest): add block stream offsets to attest module
  .secrets.baseline
  e2e/app/definition.go
  halo/attest/keeper/attestation.cosmos_orm.go
  halo/attest/keeper/attestation.pb.go
  halo/attest/keeper/attestation.proto
  halo/attest/keeper/cpayload.go
  halo/attest/keeper/cpayload_internal_test.go
  halo/attest/keeper/helper.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/keeper/query.go
  halo/attest/types/translate.go
  halo/attest/types/tx.go
  halo/attest/types/tx.pb.go
  halo/attest/types/tx.proto
  halo/attest/voter/vote.go
  halo/attest/voter/voter.go
  halo/attest/voter/voter_test.go
  lib/cchain/provider/testdata/TestXBlock.golden
  lib/netconf/provider.go
  lib/netconf/static.go
  lib/xchain/merkle.go
  lib/xchain/provider/fetch.go
  lib/xchain/types.go
  relayer/app/types_internal_test.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

refactor(halo/valsync): rename module to epochsync
  halo/app/app.go
  halo/app/app_config.go
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/testutil/expected_interfaces.go
  halo/attest/testutil/mock_interfaces.go
  halo/epochsync/keeper/common_internal_test.go
  halo/epochsync/keeper/keeper.go
  halo/epochsync/keeper/query.go
  halo/epochsync/keeper/query_internal_test.go
  halo/epochsync/keeper/valset.cosmos_orm.go
  halo/epochsync/keeper/valset.pb.go
  halo/epochsync/keeper/valset.proto
  halo/epochsync/keeper/vatset.go
  halo/epochsync/module/module.go
  halo/epochsync/module/module.proto
  halo/epochsync/module/module.pulsar.go
  halo/epochsync/testutil/expected_interfaces.go
  halo/epochsync/testutil/mock_interfaces.go
  halo/epochsync/types/genesis.go
  halo/epochsync/types/interfaces.go
  halo/epochsync/types/keys.go
  halo/epochsync/types/query.pb.go
  halo/epochsync/types/query.proto
  halo/epochsync/types/tx.pb.go
  halo/epochsync/types/tx.proto
  halo/epochsync/types/types.go
  halo/genutil/genutil.go
  halo/genutil/testdata/TestMakeGenesis.golden
  halo/valsync/keeper/valset.pb.go
  halo/valsync/types/tx.proto
  lib/cchain/provider/abci.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

refactor(halo/valsync): rename module to epochsync (#1200)
  halo/app/app.go
  halo/app/app_config.go
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/testutil/expected_interfaces.go
  halo/attest/testutil/mock_interfaces.go
  halo/epochsync/keeper/common_internal_test.go
  halo/epochsync/keeper/keeper.go
  halo/epochsync/keeper/query.go
  halo/epochsync/keeper/query_internal_test.go
  halo/epochsync/keeper/valset.cosmos_orm.go
  halo/epochsync/keeper/valset.pb.go
  halo/epochsync/keeper/valset.proto
  halo/epochsync/keeper/vatset.go
  halo/epochsync/module/module.go
  halo/epochsync/module/module.proto
  halo/epochsync/module/module.pulsar.go
  halo/epochsync/testutil/expected_interfaces.go
  halo/epochsync/testutil/mock_interfaces.go
  halo/epochsync/types/genesis.go
  halo/epochsync/types/interfaces.go
  halo/epochsync/types/keys.go
  halo/epochsync/types/query.pb.go
  halo/epochsync/types/query.proto
  halo/epochsync/types/tx.pb.go
  halo/epochsync/types/tx.proto
  halo/epochsync/types/types.go
  halo/genutil/genutil.go
  halo/genutil/testdata/TestMakeGenesis.golden
  halo/valsync/keeper/valset.pb.go
  halo/valsync/types/tx.proto
  lib/cchain/provider/abci.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

feat(halo/epochsync): create epochs and networks
  e2e/app/geth/config.go
  halo/app/app.go
  halo/app/start.go
  halo/epochsync/keeper/common_internal_test.go
  halo/epochsync/keeper/epoch.cosmos_orm.go
  halo/epochsync/keeper/epoch.go
  halo/epochsync/keeper/epoch.pb.go
  halo/epochsync/keeper/epoch.proto
  halo/epochsync/keeper/keeper.go
  halo/epochsync/keeper/network.go
  halo/epochsync/keeper/query_internal_test.go
  halo/epochsync/keeper/valset.pb.go
  halo/epochsync/keeper/valset.proto
  halo/epochsync/module/module.go
  halo/epochsync/types/types.go
  halo/evmengine/keeper/proposal_server.go
  halo/genutil/evm/evm.go
  halo/genutil/evm/evm_test.go
  halo/genutil/evm/predeploys/predeploys.go
  halo/genutil/evm/predeploys/predeploys_test.go
  halo/portal/testutil/expected_interfaces.go
  halo/portal/types/types.go
  lib/ethclient/enginemock.go
  lib/netconf/static.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

feat(halo/epochsync): create epochs and networks (#1202)
  e2e/app/geth/config.go
  halo/app/app.go
  halo/app/start.go
  halo/epochsync/keeper/common_internal_test.go
  halo/epochsync/keeper/epoch.cosmos_orm.go
  halo/epochsync/keeper/epoch.go
  halo/epochsync/keeper/epoch.pb.go
  halo/epochsync/keeper/epoch.proto
  halo/epochsync/keeper/keeper.go
  halo/epochsync/keeper/network.go
  halo/epochsync/keeper/query_internal_test.go
  halo/epochsync/keeper/valset.pb.go
  halo/epochsync/keeper/valset.proto
  halo/epochsync/module/module.go
  halo/epochsync/types/types.go
  halo/evmengine/keeper/proposal_server.go
  halo/genutil/evm/evm.go
  halo/genutil/evm/evm_test.go
  halo/genutil/evm/predeploys/predeploys.go
  halo/genutil/evm/predeploys/predeploys_test.go
  halo/portal/testutil/expected_interfaces.go
  halo/portal/types/types.go
  lib/ethclient/enginemock.go
  lib/netconf/static.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

chore(cli): use commit hash for cli template
  cli/cmd/develop.go
  cli/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

refactor(netconf): formalize consensus chain metadata
  .secrets.baseline
  e2e/app/definition.go
  lib/netconf/provider.go
  lib/netconf/static.go
  lib/xchain/provider/fetch.go
Due: run-go-tests, run-regexp, run-goversion

refactor(netconf): formalize consensus chain metadata (#1205)
  .secrets.baseline
  e2e/app/definition.go
  lib/netconf/provider.go
  lib/netconf/static.go
  lib/xchain/provider/fetch.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): bump version
  contracts/package.json
Due: none

chore(contracts): bump version (#1206)
  contracts/package.json
Due: none

chore: update commit hash
  cli/cmd/develop.go
Due: run-go-tests, run-regexp, run-goversion

test(contracts): add OmniBridgeNative tests
  contracts/.gas-snapshot
  contracts/src/token/OmniBridgeL1.sol
  contracts/src/token/OmniBridgeNative.sol
  contracts/test/token/Omni.t.sol
  contracts/test/token/OmniBridgeNative.t.sol
  contracts/test/utils/MockPortal.sol
Due: none

test(contracts): add OmniBridgeNative tests (#1209)
  contracts/.gas-snapshot
  contracts/src/token/OmniBridgeL1.sol
  contracts/src/token/OmniBridgeNative.sol
  contracts/test/token/Omni.t.sol
  contracts/test/token/OmniBridgeNative.t.sol
  contracts/test/utils/MockPortal.sol
Due: none

cleanup
  .github/workflows/golangci-lint.yml
Due: none

cleanup
  .github/workflows/pre-commit.yml
Due: none

chore: use var for default template commit hash
  cli/cmd/develop.go
Due: run-go-tests, run-regexp, run-goversion

chore: do one depth in clone cmd
  cli/cmd/develop.go
Due: run-go-tests, run-regexp, run-goversion

chore: spacing
  cli/cmd/develop.go
Due: run-go-tests, run-regexp, run-goversion

chore: fmt go
  cli/cmd/develop.go
Due: run-go-tests, run-regexp, run-goversion

chore: lint
  cli/cmd/develop.go
Due: run-go-tests, run-regexp, run-goversion

chore: skip lint in clone cmd
  cli/cmd/develop.go
Due: run-go-tests, run-regexp, run-goversion

chore(cli): updates scaffolding to use new template (#1208)
  cli/cmd/develop.go
  cli/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/evmchain): update testnet chain id to 164
  lib/evmchain/evmchain.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/attest): gate votes by supported portals
  halo/app/app.go
  halo/app/start.go
  halo/attest/keeper/cpayload.go
  halo/attest/keeper/cpayload_internal_test.go
  halo/attest/keeper/keeper.go
  halo/registry/keeper/cache.go
  halo/registry/keeper/keeper.go
  halo/registry/keeper/logeventproc.go
  halo/registry/types/interface.go
  lib/ethclient/enginemock.go
  lib/netconf/netconf.go
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

remove secrets baseline from makefile
  Makefile
Due: none

chore(*): remove secrets baseline (#1218)
  Makefile
Due: none

feat(halo/attest): gate votes by supported portals (#1217)
  halo/app/app.go
  halo/app/start.go
  halo/attest/keeper/cpayload.go
  halo/attest/keeper/cpayload_internal_test.go
  halo/attest/keeper/keeper.go
  halo/registry/keeper/cache.go
  halo/registry/keeper/keeper.go
  halo/registry/keeper/logeventproc.go
  halo/registry/types/interface.go
  lib/ethclient/enginemock.go
  lib/netconf/netconf.go
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion
