Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

feat(lib/layerzero): init api client (#4144)
  lib/layerzero/apitypes.go
  lib/layerzero/client.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/hypercore): better err handling
  lib/hypercore/client.go
  lib/svmutil/helpers_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/hypercore): better err handling (#4149)
  lib/hypercore/client.go
  lib/svmutil/helpers_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): better reject unsupported dest
  solver/app/check.go
  solver/app/reject.go
  solver/app/testutils_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): better reject unsupported dest (#4150)
  solver/app/check.go
  solver/app/reject.go
  solver/app/testutils_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/usdt0): init db
  .pre-commit/run_buf.sh
  lib/layerzero/apitypes.go
  lib/layerzero/eids.go
  lib/usdt0/db.cosmos_orm.go
  lib/usdt0/db.go
  lib/usdt0/db.pb.go
  lib/usdt0/db.proto
  lib/usdt0/send.go
  lib/usdt0/types.go
  scripts/buf_generate.sh
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/usdt0): init db (#4151)
  .pre-commit/run_buf.sh
  lib/layerzero/apitypes.go
  lib/layerzero/eids.go
  lib/usdt0/db.cosmos_orm.go
  lib/usdt0/db.go
  lib/usdt0/db.pb.go
  lib/usdt0/db.proto
  lib/usdt0/send.go
  lib/usdt0/types.go
  scripts/buf_generate.sh
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

test(lib/layerzero): client integration test
  lib/layerzero/client_test.go
Due: run-go-tests, run-golint, run-goversion

test(lib/layerzero): client integration test (#4152)
  lib/layerzero/client_test.go
Due: run-go-tests, run-golint, run-goversion

add permit2 witness transfers
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInboxV2.sol
  contracts/solve/src/interfaces/ISolverNetInboxV2.sol
  contracts/solve/src/lib/HashLibV2.sol
  contracts/solve/test/V2/TestBase.sol
  contracts/solve/test/V2/TestStorage.sol
  contracts/solve/test/V2/inbox/Open.t.sol
  contracts/solve/test/V2/inbox/OpenFor.t.sol
  contracts/solve/test/V2/inbox/ResolveFor.t.sol
  contracts/solve/test/V2/inbox/Validate.t.sol
  contracts/solve/test/V2/inbox/ValidateFor.t.sol
  contracts/solve/test/inbox/Open.t.sol
Due: none

chore(sdk): replace dependency on eth_newFilter
  docs/docs/pages/sdk/core/watchDidFill.md
  sdk/.changeset/silly-crews-tell.md
  sdk/integration-tests/suites/react-hooks.tsx
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/core/src/api/validateOrder.ts
  sdk/packages/core/src/contracts/watchDidFill.test.ts
  sdk/packages/core/src/contracts/watchDidFill.ts
  sdk/packages/core/src/index.ts
  sdk/packages/core/src/utils/index.ts
  sdk/packages/core/src/utils/invariant.test.ts
  sdk/packages/core/src/utils/invariant.ts
  sdk/packages/react/src/hooks/useDidFill.ts
  sdk/packages/react/src/hooks/useGetOrder.ts
  sdk/packages/react/src/hooks/useWatchDidFill.test.ts
  sdk/packages/react/src/hooks/useWatchDidFill.ts
Due: none

chore(sdk): fix integration
  sdk/integration-tests/suites/react-hooks.tsx
Due: none

chore(solver): add mantle tokens
  docs/docs/pages/sdk/assets/mainnet.mdx
  e2e/app/eoa/testdata/solver_reference.json
  lib/tokens/asset.go
  lib/tokens/tokens.json
  lib/tokens/tokens_test.go
  solver/app/testdata/TestTokens.golden
  solver/app/testdata/TestTokens/tokens_response.json
  solver/app/tokens.go
  solver/app/tokens_internal_test.go
  solver/fundthresh/thresholds.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): add mantle tokens (#4154)
  docs/docs/pages/sdk/assets/mainnet.mdx
  e2e/app/eoa/testdata/solver_reference.json
  lib/tokens/asset.go
  lib/tokens/tokens.json
  lib/tokens/tokens_test.go
  solver/app/testdata/TestTokens.golden
  solver/app/testdata/TestTokens/tokens_response.json
  solver/app/tokens.go
  solver/app/tokens_internal_test.go
  solver/fundthresh/thresholds.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): update solver monitor pins to f770313
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(e2e): update solver monitor pins to f770313 (#4155)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

expand EIP-712 types for full context
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInboxV2.sol
  contracts/solve/src/lib/HashLibV2.sol
  contracts/solve/test/V2/inbox/OpenFor.t.sol
Due: none

feat(lib/usdt0): add db methods
  lib/layerzero/apitypes.go
  lib/usdt0/db.go
  lib/usdt0/db_test.go
  lib/usdt0/tokens.go
  lib/usdt0/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

refactor testing suite to test fully gasless permit flow
  contracts/bindings/mockerc20.go
  contracts/bindings/mockvault.go
  contracts/bindings/solvernetadmin.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/lib/HashLibV2.sol
  contracts/solve/test/V2/TestBase.sol
  contracts/solve/test/V2/inbox/OpenFor.t.sol
  contracts/solve/test/V2/inbox/Validate.t.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/utils/ApprovalReverterERC20.sol
  contracts/solve/test/utils/FeeOnTransferToken.sol
  contracts/solve/test/utils/MaxTransferToken.sol
  contracts/solve/test/utils/MockERC20.sol
  contracts/solve/test/utils/MockLST.sol
  contracts/solve/test/utils/MockMultiTokenVault.sol
  contracts/solve/test/utils/MockVault.sol
  contracts/solve/test/utils/Refunder.sol
  contracts/solve/test/utils/Reverter.sol
Due: run-go-tests, run-golint, run-goversion

feat(contracts/solve): add permit2 witness transfers (#4153)
  contracts/bindings/mockerc20.go
  contracts/bindings/mockvault.go
  contracts/bindings/solvernetadmin.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInboxV2.sol
  contracts/solve/src/interfaces/ISolverNetInboxV2.sol
  contracts/solve/src/lib/HashLibV2.sol
  contracts/solve/test/V2/TestBase.sol
  contracts/solve/test/V2/TestStorage.sol
  contracts/solve/test/V2/inbox/Open.t.sol
  contracts/solve/test/V2/inbox/OpenFor.t.sol
  contracts/solve/test/V2/inbox/ResolveFor.t.sol
  contracts/solve/test/V2/inbox/Validate.t.sol
  contracts/solve/test/V2/inbox/ValidateFor.t.sol
  contracts/solve/test/inbox/Open.t.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/utils/ApprovalReverterERC20.sol
  contracts/solve/test/utils/FeeOnTransferToken.sol
  contracts/solve/test/utils/MaxTransferToken.sol
  contracts/solve/test/utils/MockERC20.sol
  contracts/solve/test/utils/MockLST.sol
  contracts/solve/test/utils/MockMultiTokenVault.sol
  contracts/solve/test/utils/MockVault.sol
  contracts/solve/test/utils/Refunder.sol
  contracts/solve/test/utils/Reverter.sol
Due: run-go-tests, run-golint, run-goversion

feat(lib/usdt0): add db methods and tests (#4156)
  lib/layerzero/apitypes.go
  lib/usdt0/db.go
  lib/usdt0/db_test.go
  lib/usdt0/tokens.go
  lib/usdt0/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(lib/usdt0) add integration test
  lib/usdt0/send_test.go
Due: run-go-tests, run-golint, run-goversion

feat(lib/usdt0): monitor sends
  lib/usdt0/monitor.go
  lib/usdt0/send.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): add devnet svm container (#4145)
  Makefile
  cli/cmd/devnet.go
  e2e/app/admin/common.go
  e2e/app/chains.go
  e2e/app/definition.go
  e2e/app/fund.go
  e2e/app/run.go
  e2e/cmd/util.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/docker/docker_test.go
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/manifests/devnet1.toml
  e2e/test/e2e_test.go
  e2e/types/manifest.go
  e2e/types/testnet.go
  e2e/vmcompose/provider.go
  halo/app/lazyvoter.go
  lib/evmchain/evmchain.go
  lib/evmchain/evmchain_internal_test.go
  lib/netconf/netconf.go
  lib/tokens/tokens.go
  lib/uni/types.go
  lib/uni/types_test.go
  relayer/app/app.go
  scripts/go_tag.sh
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(halo/app): improve tx verification
  halo/app/prouter.go
  halo/app/prouter_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/netconf): regen execution seeds
  lib/netconf/omega/execution-seeds.txt
  lib/netconf/staging/execution-seeds.txt
Due: none

feat(lib/usdt0): track and monitor sends (#4157)
  lib/usdt0/monitor.go
  lib/usdt0/send.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  lib/netconf/staging/execution-seeds.txt
  monitor/flowgen/symbiotic/symbiotic.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(sdk): replace dependency on eth_newFilter
  docs/docs/pages/sdk/core/watchDidFill.md
  sdk/.changeset/silly-crews-tell.md
  sdk/integration-tests/suites/react-hooks.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/core/src/api/validateOrder.ts
  sdk/packages/core/src/constants/abis.ts
  sdk/packages/core/src/contracts/didFill.test.ts
  sdk/packages/core/src/contracts/watchDidFill.test.ts
  sdk/packages/core/src/contracts/watchDidFill.ts
  sdk/packages/core/src/flows/generateOrder.ts
  sdk/packages/core/src/index.ts
  sdk/packages/core/src/utils/computeFillHash.test.ts
  sdk/packages/core/src/utils/computeFillHash.ts
  sdk/packages/core/src/utils/index.ts
  sdk/packages/core/src/utils/invariant.test.ts
  sdk/packages/core/src/utils/invariant.ts
  sdk/packages/react/src/hooks/useDidFill.ts
  sdk/packages/react/src/hooks/useGetOrder.ts
  sdk/packages/react/src/hooks/useGetOrderStatus.ts
  sdk/packages/react/src/hooks/useWatchDidFill.test-d.ts
  sdk/packages/react/src/hooks/useWatchDidFill.test.ts
  sdk/packages/react/src/hooks/useWatchDidFill.ts
  sdk/packages/test-utils/package.json
  sdk/packages/test-utils/src/contracts.ts
  sdk/pnpm-lock.yaml
Due: none

chore(sdk): test
  sdk/packages/core/src/utils/computeFillHash.test.ts
Due: none

chore(sdk): replace dependency on eth_newFilter (#4140)
  docs/docs/pages/sdk/core/watchDidFill.md
  sdk/.changeset/silly-crews-tell.md
  sdk/integration-tests/suites/react-hooks.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/core/src/api/validateOrder.ts
  sdk/packages/core/src/constants/abis.ts
  sdk/packages/core/src/contracts/didFill.test.ts
  sdk/packages/core/src/contracts/watchDidFill.test.ts
  sdk/packages/core/src/contracts/watchDidFill.ts
  sdk/packages/core/src/flows/generateOrder.ts
  sdk/packages/core/src/index.ts
  sdk/packages/core/src/utils/computeFillHash.test.ts
  sdk/packages/core/src/utils/computeFillHash.ts
  sdk/packages/core/src/utils/index.ts
  sdk/packages/core/src/utils/invariant.test.ts
  sdk/packages/core/src/utils/invariant.ts
  sdk/packages/react/src/hooks/useDidFill.ts
  sdk/packages/react/src/hooks/useGetOrder.ts
  sdk/packages/react/src/hooks/useGetOrderStatus.ts
  sdk/packages/react/src/hooks/useWatchDidFill.test-d.ts
  sdk/packages/react/src/hooks/useWatchDidFill.test.ts
  sdk/packages/react/src/hooks/useWatchDidFill.ts
  sdk/packages/test-utils/package.json
  sdk/packages/test-utils/src/contracts.ts
  sdk/pnpm-lock.yaml
Due: none

chore(sdk): version bump
  docs/docs/pages/sdk/core/generateOrder.md
  docs/docs/pages/sdk/hooks/useOrder.mdx
  sdk/.changeset/silly-crews-tell.md
  sdk/packages/core/CHANGELOG.md
  sdk/packages/core/package.json
  sdk/packages/core/src/version.ts
  sdk/packages/react/CHANGELOG.md
  sdk/packages/react/package.json
  sdk/packages/react/src/version.ts
Due: none

test(lib/usdt0): add integration test
  lib/usdt0/monitor.go
  lib/usdt0/send.go
  lib/usdt0/send_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(lib/usdt0): add integration test (#4162)
  lib/usdt0/monitor.go
  lib/usdt0/send.go
  lib/usdt0/send_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/netconf): regen execution seeds (#4159)
  lib/netconf/omega/execution-seeds.txt
  lib/netconf/staging/execution-seeds.txt
  monitor/flowgen/symbiotic/symbiotic.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

build: update golangci-lint-action to v8
  .github/workflows/golangci-lint.yaml
Due: none

chore(halo/app): improve tx verification (#4158)
  halo/app/prouter.go
  halo/app/prouter_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): refactor tokens and chain deficits
  .github/workflows/rebalance-test.yaml
  solver/fundthresh/testdata/thresholds.json
  solver/fundthresh/threshold_test.go
  solver/fundthresh/thresholds.go
  solver/rebalance/deficit.go
  solver/rebalance/dependents.go
  solver/rebalance/dependents_test.go
  solver/rebalance/integration_test.go
  solver/rebalance/rebalance.go
  solver/rebalance/snapshot_test.go
  solver/rebalance/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): refactor tokens and chain deficits (#4163)
  .github/workflows/rebalance-test.yaml
  solver/fundthresh/testdata/thresholds.json
  solver/fundthresh/threshold_test.go
  solver/fundthresh/thresholds.go
  solver/rebalance/deficit.go
  solver/rebalance/dependents.go
  solver/rebalance/dependents_test.go
  solver/rebalance/integration_test.go
  solver/rebalance/rebalance.go
  solver/rebalance/snapshot_test.go
  solver/rebalance/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion
