Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

ci(e2e): support forking proxy (#1094)
  e2e/forkproxy/app/app.go
  e2e/forkproxy/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion

fix(goreleaser): use tags instead of version in ldflags
  .goreleaser.yaml
Due: none

chore(buildinfo): bump version number
  halo/config/testdata/default_halo.toml
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/buildinfo/buildinfo.go
  monitor/app/testdata/default_monitor.toml
  relayer/app/testdata/default_relayer.toml
Due: run-go-tests, run-regexp, run-goversion

add links to address, block, tx
  explorer/graphql/data/chains_provider.go
  explorer/graphql/data/types.go
  explorer/graphql/resolvers/chain_test.go
  explorer/graphql/resolvers/messages_test.go
Due: run-go-tests, run-regexp, run-goversion

fix external chain links
  explorer/graphql/data/chains_provider.go
  explorer/graphql/data/message_provider.go
  explorer/graphql/data/types.go
Due: run-go-tests, run-regexp, run-goversion

fix(explorer): fix explorer links (#1098)
  explorer/graphql/data/chains_provider.go
  explorer/graphql/data/message_provider.go
  explorer/graphql/data/types.go
  explorer/graphql/resolvers/chain_test.go
  explorer/graphql/resolvers/messages_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(buildinfo): bump version number (#1097)
  halo/config/testdata/default_halo.toml
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/buildinfo/buildinfo.go
  monitor/app/testdata/default_monitor.toml
  relayer/app/testdata/default_relayer.toml
Due: run-go-tests, run-regexp, run-goversion

fix(goreleaser): use tags instead of version in ldflags (#1095)
  .goreleaser.yaml
Due: none

chore(relayer): logging improvements
  e2e/forkproxy/app/app.go
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

chore(relayer): logging improvements (#1101)
  e2e/forkproxy/app/app.go
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

chore(deps): bump opentracing versions
  go.mod
  go.sum
  lib/tracer/trace.go
Due: run-go-tests, run-regexp, run-goversion

chore(deps): bump opentracing versions (#1102)
  go.mod
  go.sum
  lib/tracer/trace.go
Due: run-go-tests, run-regexp, run-goversion

chore(cli): add cmd tests
  .github/workflows/ci-main.yml
  .github/workflows/clicommand.yml
  .github/workflows/cliinstall.yml
  .secrets.baseline
Due: none

fix(devnet0): anvil block time set to one second
  lib/evmchain/evmchain.go
Due: run-go-tests, run-regexp, run-goversion

chore: chore comment no devnet cmd explanation in yml
  .github/workflows/clicommand.yml
Due: none

fix(devnet0): non sub second block times for anvil nodes
  lib/evmchain/evmchain.go
Due: run-go-tests, run-regexp, run-goversion

chore(cli): include tests for commands
  .github/workflows/ci-main.yml
  .github/workflows/clicommand.yml
  .secrets.baseline
Due: none

fix(contracts): prevent return data gas grief
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/package.json
  contracts/pnpm-lock.yaml
  contracts/src/interfaces/IOmniPortal.sol
  contracts/src/interfaces/IOmniPortalAdmin.sol
  contracts/src/xchain/OmniPortal.sol
  contracts/src/xchain/OmniPortalConstants.sol
  contracts/src/xchain/OmniPortalStorage.sol
  contracts/test/xchain/OmniPortal_exec.t.sol
  lib/contracts/portal/deploy.go
Due: run-go-tests, run-regexp, run-goversion

fix(contracts): prevent return data gas grief (#1099)
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/package.json
  contracts/pnpm-lock.yaml
  contracts/src/interfaces/IOmniPortal.sol
  contracts/src/interfaces/IOmniPortalAdmin.sol
  contracts/src/xchain/OmniPortal.sol
  contracts/src/xchain/OmniPortalConstants.sol
  contracts/src/xchain/OmniPortalStorage.sol
  contracts/test/xchain/OmniPortal_exec.t.sol
  lib/contracts/portal/deploy.go
Due: run-go-tests, run-regexp, run-goversion

fix ui bugs
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/chains_provider.go
  explorer/graphql/data/provider_helpers.go
  explorer/graphql/mockresolver/resolver.go
  explorer/graphql/resolvers/messages_test.go
  explorer/ui/app/components/details/From.tsx
  explorer/ui/app/components/details/TabList.tsx
  explorer/ui/app/components/details/To.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
Due: run-go-tests, run-regexp, run-goversion

fix(devnet0): non sub second block times for anvil nodes (#1104)
  lib/evmchain/evmchain.go
Due: run-go-tests, run-regexp, run-goversion

fix(explorer): fix ui bugs (#1106)
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/chains_provider.go
  explorer/graphql/data/provider_helpers.go
  explorer/graphql/mockresolver/resolver.go
  explorer/graphql/resolvers/messages_test.go
  explorer/ui/app/components/details/From.tsx
  explorer/ui/app/components/details/TabList.tsx
  explorer/ui/app/components/details/To.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
Due: run-go-tests, run-regexp, run-goversion

chore(cli): include tests for commands (#1105)
  .github/workflows/ci-main.yml
  .github/workflows/clicommand.yml
  .secrets.baseline
Due: none

ci(cli): rename cli workflows
  .github/workflows/ci-main.yml
  .github/workflows/cliinstall.yml
Due: none

ci(cli): rename cli workflows (#1108)
  .github/workflows/ci-main.yml
  .github/workflows/cliinstall.yml
Due: none

ci(fix): fix pr ci
  .github/workflows/ci-pr.yml
Due: none

ci(fix): include pr ci in workflow cli refactor (#1111)
  .github/workflows/ci-pr.yml
Due: none

docs(quickstart): add well done cat
  docs/site/docs/develop/quickstart/quickstart.md
  docs/site/static/img/cat.png
Due: none

docs(quickstart): add a well done cat (#1107)
  docs/site/docs/develop/quickstart/quickstart.md
  docs/site/static/img/cat.png
Due: none

fix explorer bugs
  explorer/ui/app/components/details/From.tsx
  explorer/ui/app/components/details/TabList.tsx
  explorer/ui/app/components/details/To.tsx
Due: none

fix hex details
  explorer/ui/app/components/details/TabList.tsx
  explorer/ui/app/routes/xmsg.$id/route.tsx
Due: none

explorer bug fixes
  explorer/graphql/data/types.go
  explorer/ui/app/components/details/From.tsx
  explorer/ui/app/components/details/TabList.tsx
  explorer/ui/app/components/details/To.tsx
  explorer/ui/app/routes/xmsg.$id/route.tsx
Due: run-go-tests, run-regexp, run-goversion

explorer fixes
  explorer/graphql/resolvers/messages_test.go
  explorer/ui/app/components/details/TabList.tsx
Due: run-go-tests, run-goversion

fix(explorer): fix explorer bugs (#1109)
  explorer/graphql/data/types.go
  explorer/graphql/resolvers/messages_test.go
  explorer/ui/app/components/details/From.tsx
  explorer/ui/app/components/details/TabList.tsx
  explorer/ui/app/components/details/To.tsx
  explorer/ui/app/routes/xmsg.$id/route.tsx
Due: run-go-tests, run-regexp, run-goversion

docs(octane): include lego explanation in intro
  docs/site/docs/octane/background/introduction.md
  docs/site/pnpm-lock.yaml
Due: none
