Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(*): replace MockToken with MockERC20
  contracts/Makefile
  contracts/bindings/mockerc20.go
  contracts/bindings/mocktoken.go
  contracts/solve/script/MintMockToken.s.sol
  contracts/solve/test/ERC7683/TestBase.sol
  contracts/solve/test/ERC7683/outbox/Fill.t.sol
  contracts/solve/test/InboxBase.sol
  contracts/solve/test/Outbox_fulfill.t.sol
  contracts/solve/test/utils/MockERC20.sol
  e2e/app/tokenbridge.go
  e2e/solve/devapp/deploy.go
  e2e/solve/devapp/deposits.go
  e2e/solve/devapp/devapp.go
  lib/contracts/omnitoken/deploy.go
  lib/contracts/solvernet/errors.go
  solver/app/procdeps.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(*): replace MockToken with MockERC20 (#2905)
  contracts/Makefile
  contracts/bindings/mockerc20.go
  contracts/bindings/mocktoken.go
  contracts/solve/script/MintMockToken.s.sol
  contracts/solve/test/ERC7683/TestBase.sol
  contracts/solve/test/ERC7683/outbox/Fill.t.sol
  contracts/solve/test/InboxBase.sol
  contracts/solve/test/Outbox_fulfill.t.sol
  contracts/solve/test/utils/MockERC20.sol
  e2e/app/tokenbridge.go
  e2e/solve/devapp/deploy.go
  e2e/solve/devapp/deposits.go
  e2e/solve/devapp/devapp.go
  lib/contracts/omnitoken/deploy.go
  lib/contracts/solvernet/errors.go
  solver/app/procdeps.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

implemented comprehensive test suite
  contracts/misc/.gas-snapshot
  contracts/misc/src/bridge/Bridge.sol
  contracts/misc/test/bridge/Bridge.t.sol
  contracts/misc/test/bridge/TestBase.sol
  contracts/misc/test/bridge/bridge/General.t.sol
  contracts/misc/test/bridge/bridge/ReceiveToken.t.sol
  contracts/misc/test/bridge/bridge/SendToken.t.sol
  contracts/misc/test/bridge/lockbox/Deposit.t.sol
  contracts/misc/test/bridge/lockbox/General.t.sol
  contracts/misc/test/bridge/lockbox/Withdraw.t.sol
Due: none

add support for opening orders for other users
  contracts/bindings/isolvernetbindings.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNet.sol
  contracts/solve/test/ERC7683/E2E.t.sol
  contracts/solve/test/ERC7683/TestBase.sol
  contracts/solve/test/ERC7683/inbox/Cancel.t.sol
  contracts/solve/test/ERC7683/inbox/Open.t.sol
Due: run-go-tests, run-golint, run-goversion

rename OrderData.user to OrderData.owner
  contracts/bindings/isolvernetbindings.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNet.sol
  contracts/solve/test/ERC7683/E2E.t.sol
  contracts/solve/test/ERC7683/TestBase.sol
  contracts/solve/test/ERC7683/inbox/Cancel.t.sol
  contracts/solve/test/ERC7683/inbox/Open.t.sol
  lib/contracts/solvernet/bindings_test.go
  lib/contracts/solvernet/order.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix: Fix typo in variable name Update buf_generate.sh
  scripts/buf_generate.sh
Due: none

fix: fix function name to monitorAccountForever Update monitor.go
  monitor/account/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/solve): support opening orders for other users (#2882)
  contracts/bindings/isolvernetbindings.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNet.sol
  contracts/solve/test/ERC7683/E2E.t.sol
  contracts/solve/test/ERC7683/TestBase.sol
  contracts/solve/test/ERC7683/inbox/Cancel.t.sol
  contracts/solve/test/ERC7683/inbox/Open.t.sol
  lib/contracts/solvernet/bindings_test.go
  lib/contracts/solvernet/order.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix: Fix typo in variable name Update buf_generate.sh (#2909)
  scripts/buf_generate.sh
Due: none

fix: fix function name to monitorAccountForever Update monitor.go (#2910)
  monitor/account/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): Add full cantina report
  docs/website/static/cantina-full.pdf
Due: none

fix(halo/attest): fix vote extension validation issue
  halo/attest/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(halo/attest): fix vote extension validation issue (#2912)
  halo/attest/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(deps): bump google protobuf
  go.mod
  go.sum
  halo/attest/keeper/attestation.pb.go
  halo/evmstaking2/keeper/evmstaking.pb.go
  halo/portal/keeper/portal.pb.go
  halo/registry/keeper/registry.pb.go
  halo/valsync/keeper/valsync.pb.go
  monitor/xmonitor/indexer/indexer.pb.go
  octane/evmengine/keeper/evmengine.pb.go
  relayer/app/cursor/cursors.pb.go
  solver/app/solver.pb.go
  solver/app/v2/solver.pb.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(deps): bump google protobuf (#2913)
  go.mod
  go.sum
  halo/attest/keeper/attestation.pb.go
  halo/evmstaking2/keeper/evmstaking.pb.go
  halo/portal/keeper/portal.pb.go
  halo/registry/keeper/registry.pb.go
  halo/valsync/keeper/valsync.pb.go
  monitor/xmonitor/indexer/indexer.pb.go
  octane/evmengine/keeper/evmengine.pb.go
  relayer/app/cursor/cursors.pb.go
  solver/app/solver.pb.go
  solver/app/v2/solver.pb.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/staking): add editvalidator function
  contracts/core/src/octane/Staking.sol
Due: none

chore(docs): add full cantina report (#2911)
  docs/website/static/cantina-full.pdf
Due: none

initial V3 draft concept
  contracts/pending/SolverNetOutbox.sol
  contracts/solve/src/SolverNetV3/SolverNetExecutor.sol
  contracts/solve/src/SolverNetV3/SolverNetInbox.sol
  contracts/solve/src/SolverNetV3/interfaces/IDestinationSettler.sol
  contracts/solve/src/SolverNetV3/interfaces/IERC7683.sol
  contracts/solve/src/SolverNetV3/interfaces/IOriginSettler.sol
  contracts/solve/src/SolverNetV3/interfaces/ISolverNet.sol
  contracts/solve/src/SolverNetV3/interfaces/ISolverNetBindings.sol
  contracts/solve/src/SolverNetV3/interfaces/ISolverNetExecutor.sol
  contracts/solve/src/SolverNetV3/interfaces/ISolverNetInbox.sol
  contracts/solve/src/SolverNetV3/interfaces/ISolverNetOutbox.sol
  contracts/solve/src/SolverNetV3/lib/AddrUtils.sol
Due: none

initial commits
  contracts/solve/src/SolverNetV3/SolverNetExecutor.sol
Due: none

chore(lib/tokens): merge solver tokens with lib (#2906)
  e2e/app/eoa/static_test.go
  lib/tokens/coingecko/coingecko.go
  lib/tokens/coingecko/coingecko_test.go
  lib/tokens/tokens.go
  monitor/xfeemngr/contract/bound.go
  monitor/xmonitor/indexer/indexer.go
  relayer/app/pnl.go
  relayer/app/sender_internal_test.go
  solver/app/v2/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/solve): add mock token deployments
  e2e/solve/deploy.go
  e2e/solve/mocktokens.go
  solver/app/v2/testdata/TestTokens.golden
  solver/app/v2/tokens.go
  solver/app/v2/tokens_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/solve): add mock token deployments (#2907)
  e2e/solve/deploy.go
  e2e/solve/mocktokens.go
  solver/app/v2/testdata/TestTokens.golden
  solver/app/v2/tokens.go
  solver/app/v2/tokens_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

refactor(e2e): poc extensions
  e2e/app/definition.go
  e2e/app/run.go
  e2e/ext/extension.go
  e2e/ext/flags/flags.go
  e2e/ext/gaspumps/ext.go
  e2e/ext/omnibridge/ext.go
  e2e/ext/solvernet/ext.go
  e2e/types/extension.go
  e2e/types/manifest.go
  lib/ethclient/ethbackend/backends.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Delete docs/website/static/cantina-full.pdf
  docs/website/static/cantina-full.pdf
Due: none

Add files via upload
  docs/website/static/cantina-full.pdf
Due: none

fix: panic when no error
  cli/cmd/initnodes.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver/app): require deposits match quote for expenses
  solver/app/v2/quote.go
  solver/app/v2/reject.go
  solver/app/v2/reject_internal_test.go
  solver/app/v2/rejectreason_string.go
  solver/app/v2/testdata/TestTokens.golden
  solver/app/v2/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver/app): require deposits match quote for expenses (#2922)
  solver/app/v2/quote.go
  solver/app/v2/reject.go
  solver/app/v2/reject_internal_test.go
  solver/app/v2/rejectreason_string.go
  solver/app/v2/testdata/TestTokens.golden
  solver/app/v2/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat: create delegation option
  cli/cmd/flags.go
  cli/cmd/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): copy holesky tokens to mock l1
  solver/app/v2/testdata/TestTokens.golden
  solver/app/v2/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): enable v2 solver in staging
  e2e/manifests/staging.toml
Due: none
