Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

update readme
  README.md
Due: none

docs(readme): update devnet instructions (#430)
  README.md
Due: none

chore(docs): make navbar great again
  docs/site/docusaurus.config.ts
  docs/site/src/css/custom.css
Due: none

chore(docs): spec sidebar per navbar section
  docs/site/docs/home.md
  docs/site/sidebars.ts
Due: none

chore(docs): add clarifying comment
  docs/site/docs/develop/introduction.md
Due: none

chore(docs): expand sidebars by splitting
  docs/site/docs/develop/introduction.md
  docs/site/docs/develop/xapp.md
  docs/site/docs/develop/xapp/example.md
  docs/site/docs/develop/xapp/fees.md
  docs/site/docs/develop/xapp/gas.md
  docs/site/docs/develop/xapp/installation.md
  docs/site/docs/develop/xapp/xapp.md
  docs/site/docs/learn/building.md
  docs/site/docs/learn/introduction.md
  docs/site/docs/protocol/architecture.md
  docs/site/docs/protocol/architecture/architecture.md
  docs/site/docs/protocol/architecture/components.md
  docs/site/docs/protocol/architecture/fees.md
  docs/site/docs/protocol/architecture/portal.md
  docs/site/docs/protocol/architecture/relayer.md
  docs/site/docs/protocol/architecture/xmsg.md
  docs/site/docs/protocol/overview.md
  docs/site/docs/protocol/restaking/model.md
  docs/site/docs/protocol/restaking/multi.md
  docs/site/docs/protocol/restaking/restaking.md
  docs/site/sidebars.ts
Due: none

chore(contracts): cleanup bindings, add autocomment
  contracts/Makefile
  contracts/bindings/avsdirectory.go
  contracts/bindings/eip1271signatureutils.go
  contracts/bindings/mockerc20.go
  contracts/bindings/omniavs.go
  contracts/bindings/scripts/commenttypes.go
  contracts/bindings/scripts/gen.sh
  contracts/bindings/strategymanager.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): comment bindings type conflcts (#432)
  contracts/Makefile
  contracts/bindings/avsdirectory.go
  contracts/bindings/eip1271signatureutils.go
  contracts/bindings/mockerc20.go
  contracts/bindings/omniavs.go
  contracts/bindings/scripts/commenttypes.go
  contracts/bindings/scripts/gen.sh
  contracts/bindings/strategymanager.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): add clarifying comment (#434)
  docs/site/docs/develop/introduction.md
Due: none

chore(contracts): go generate directive for bindings
  contracts/Makefile
  contracts/genbindings.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): go generate directive for bindings (#435)
  contracts/Makefile
  contracts/genbindings.go
Due: run-go-tests, run-regexp, run-goversion

move immutables and constants out of storage contract
  contracts/script/avs/StrategyParams.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/src/protocol/OmniAVSStorage.sol
  contracts/test/avs/common/Fixtures.sol
Due: none

chore(contracts): refactor avs storage
  contracts/.gas-snapshot
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/src/protocol/OmniAVSStorage.sol
  contracts/test/avs/OmniAVS_admin.t.sol
  contracts/test/avs/OmniAVS_allowlist.t.sol
  contracts/test/avs/OmniAVS_initialize.t.sol
  contracts/test/avs/OmniAVS_syncWithOmni.t.sol
  contracts/test/avs/common/Fixtures.sol
Due: none

update bindings
  contracts/bindings/omniavs.go
  test/e2e/tests/eigen_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): refactor avs storage (#433)
  contracts/.gas-snapshot
  contracts/bindings/omniavs.go
  contracts/script/avs/StrategyParams.sol
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/src/protocol/OmniAVSStorage.sol
  contracts/test/avs/OmniAVS_admin.t.sol
  contracts/test/avs/OmniAVS_allowlist.t.sol
  contracts/test/avs/OmniAVS_initialize.t.sol
  contracts/test/avs/OmniAVS_syncWithOmni.t.sol
  contracts/test/avs/common/Fixtures.sol
  test/e2e/tests/eigen_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/config): support snapshot keep recent flag
  .secrets.baseline
  halo/app/start.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/config/config.go
  halo/config/config.toml.tmpl
  halo/config/testdata/default_halo.toml
  test/e2e/app/setup.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): use navbar again (#431)
  docs/site/docs/develop/introduction.md
  docs/site/docs/develop/xapp.md
  docs/site/docs/develop/xapp/example.md
  docs/site/docs/develop/xapp/fees.md
  docs/site/docs/develop/xapp/gas.md
  docs/site/docs/develop/xapp/installation.md
  docs/site/docs/develop/xapp/xapp.md
  docs/site/docs/home.md
  docs/site/docs/learn/building.md
  docs/site/docs/learn/introduction.md
  docs/site/docs/protocol/architecture.md
  docs/site/docs/protocol/architecture/architecture.md
  docs/site/docs/protocol/architecture/components.md
  docs/site/docs/protocol/architecture/fees.md
  docs/site/docs/protocol/architecture/portal.md
  docs/site/docs/protocol/architecture/relayer.md
  docs/site/docs/protocol/architecture/xmsg.md
  docs/site/docs/protocol/overview.md
  docs/site/docs/protocol/restaking/model.md
  docs/site/docs/protocol/restaking/multi.md
  docs/site/docs/protocol/restaking/restaking.md
  docs/site/docusaurus.config.ts
  docs/site/sidebars.ts
  docs/site/src/css/custom.css
Due: none

feat(halo/config): support snapshot keep recent flag (#436)
  .secrets.baseline
  halo/app/start.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/config/config.go
  halo/config/config.toml.tmpl
  halo/config/testdata/default_halo.toml
  test/e2e/app/setup.go
Due: run-go-tests, run-regexp, run-goversion

adds rwlock
  lib/txmgr/txmgr_internal_test.go
Due: run-go-tests, run-goversion

custom fuzz
  halo/evmengine/keeper/keeper_internal_test.go
Due: run-go-tests, run-goversion

cleanup
  lib/txmgr/txmgr_internal_test.go
Due: run-go-tests, run-goversion

fix(lib/txmgr): fix data race in test (#437)
  lib/txmgr/txmgr_internal_test.go
Due: run-go-tests, run-goversion

attest keeper unit tests
  .golangci.yml
  go.mod
  go.sum
  halo/attest/keeper/common_internal_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_internal_test.go
  halo/attest/module/module.go
  halo/attest/testutil/expected_interfaces.go
  halo/attest/testutil/mock_interfaces.go
  scripts/tools.go
Due: run-go-tests, run-regexp, run-goversion

add a wantErr example
  halo/attest/keeper/keeper_internal_test.go
Due: run-go-tests, run-goversion

use require and rename cmp opts
  halo/attest/keeper/common_internal_test.go
  halo/attest/keeper/keeper_internal_test.go
Due: run-go-tests, run-goversion

reduce test code size
  halo/attest/keeper/common_internal_test.go
  halo/attest/keeper/keeper_internal_test.go
Due: run-go-tests, run-goversion

wip
  halo/evmengine/keeper/abci_internal_test.go
  halo/evmengine/keeper/keeper_internal_test.go
Due: run-go-tests, run-goversion

test(halo/attest): attest keeper unit tests (#410)
  .golangci.yml
  go.mod
  go.sum
  halo/attest/keeper/common_internal_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_internal_test.go
  halo/attest/module/module.go
  halo/attest/testutil/expected_interfaces.go
  halo/attest/testutil/mock_interfaces.go
  scripts/tools.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): increase e2e timeout to 60sec (#419)
  .secrets.baseline
  go.mod
  halo/app/app.go
  halo/app/logging.go
  halo/app/start.go
  halo/app/start_test.go
  halo/attest/keeper/common_internal_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/proposal_server.go
  halo/attest/keeper/query.go
  halo/attest/keeper/window.go
  halo/attest/module/module.go
  halo/attest/types/helpers.go
  halo/attest/types/interface.go
  halo/attest/types/query.pb.go
  halo/attest/types/query.proto
  halo/attest/voter/voter.go
  halo/attest/voter/voter_internal_test.go
  halo/attest/voter/voter_test.go
  halo/cmd/init.go
  halo/cmd/testdata/TestInitFiles.golden
  halo/comet/comet.go
  halo/config/config.go
  halo/evmengine/keeper/abci_internal_test.go
  halo/evmengine/keeper/keeper.go
  halo/evmengine/module/module.go
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/provider_test.go
  lib/xchain/provider/mock.go
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

refactor(halo/voter): harden voter (#426)
  .secrets.baseline
  go.mod
  halo/app/app.go
  halo/app/logging.go
  halo/app/start.go
  halo/app/start_test.go
  halo/attest/keeper/common_internal_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/proposal_server.go
  halo/attest/keeper/query.go
  halo/attest/keeper/window.go
  halo/attest/module/module.go
  halo/attest/types/helpers.go
  halo/attest/types/interface.go
  halo/attest/types/query.pb.go
  halo/attest/types/query.proto
  halo/attest/voter/voter.go
  halo/attest/voter/voter_internal_test.go
  halo/attest/voter/voter_test.go
  halo/cmd/init.go
  halo/cmd/testdata/TestInitFiles.golden
  halo/comet/comet.go
  halo/config/config.go
  halo/evmengine/keeper/abci_internal_test.go
  halo/evmengine/keeper/keeper.go
  halo/evmengine/module/module.go
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/provider_test.go
  lib/xchain/provider/mock.go
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

Register operator
  go.mod
  go.sum
  halo/cmd/cmd.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/deregister_from_avs.go
  halo/cmd/flags.go
  halo/cmd/operator.go
  halo/cmd/register_to_avs.go
  halo/cmd/testdata/TestCLIReference_operator.golden
  halo/cmd/testdata/TestCLIReference_operator_register.golden
Due: run-go-tests, run-regexp, run-goversion

chore(docs): revise xapp docs
  docs/site/docs/develop/xapp/example.md
  docs/site/docs/develop/xapp/fees.md
  docs/site/docs/develop/xapp/gas.md
Due: none

chore(docs): revise xapp docs (#440)
  docs/site/docs/develop/xapp/example.md
  docs/site/docs/develop/xapp/fees.md
  docs/site/docs/develop/xapp/gas.md
Due: none

chore(lib/provider): add fetch error metrics to providers
  halo/attest/voter/metrics.go
  halo/attest/voter/voter.go
  lib/cchain/provider/metrics.go
  lib/cchain/provider/provider.go
  lib/xchain/provider/metrics.go
  lib/xchain/provider/streamer.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/provider): add fetch error metrics to providers (#441)
  halo/attest/voter/metrics.go
  halo/attest/voter/voter.go
  lib/cchain/provider/metrics.go
  lib/cchain/provider/provider.go
  lib/xchain/provider/metrics.go
  lib/xchain/provider/streamer.go
Due: run-go-tests, run-regexp, run-goversion

disable gcloud prompt
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): disable gcloud prompt (#442)
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts/avs): refactor avs contract
  contracts/.gas-snapshot
  contracts/script/avs/StrategyParams.sol
  contracts/src/interfaces/IOmniAVS.sol
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/interfaces/IOmniEthRestaking.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/src/protocol/OmniAVSStorage.sol
  contracts/test/avs/OmniAVS_admin.t.sol
  contracts/test/avs/OmniAVS_allowlist.t.sol
  contracts/test/avs/OmniAVS_initialize.t.sol
  contracts/test/avs/OmniAVS_syncWithOmni.t.sol
  contracts/test/avs/common/Fixtures.sol
  contracts/test/avs/common/Utils.sol
Due: none

chore(contracts/avs): refactor avs contract (#443)
  contracts/.gas-snapshot
  contracts/script/avs/StrategyParams.sol
  contracts/src/interfaces/IOmniAVS.sol
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/interfaces/IOmniEthRestaking.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/src/protocol/OmniAVSStorage.sol
  contracts/test/avs/OmniAVS_admin.t.sol
  contracts/test/avs/OmniAVS_allowlist.t.sol
  contracts/test/avs/OmniAVS_initialize.t.sol
  contracts/test/avs/OmniAVS_syncWithOmni.t.sol
  contracts/test/avs/common/Fixtures.sol
  contracts/test/avs/common/Utils.sol
Due: none

chore(contracts): remove minOpStake and maxOpCount
  contracts/.gas-snapshot
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/src/protocol/OmniAVSStorage.sol
  contracts/test/avs/OmniAVS_admin.t.sol
  contracts/test/avs/OmniAVS_allowlist.t.sol
  contracts/test/avs/OmniAVS_initialize.t.sol
  contracts/test/avs/OmniAVS_syncWithOmni.t.sol
  contracts/test/avs/common/Fixtures.sol
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-regexp: any of: \.go$, but not: _test.go
  run-goversion: any of: \.go$
