Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(e2e/vmcompose): fix perms on start (#4463)
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/vmcompose): fix parms again
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/vmcompose): fix parms again (#4464)
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/vmcompose): fix perms again
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/vmcompose): fix perms again (#4465)
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/expbackoff): support retry sentinels
  lib/expbackoff/retry.go
  lib/expbackoff/retry_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/expbackoff): support retry sentinels
  lib/expbackoff/retry_test.go
Due: run-go-tests, run-golint, run-goversion

chore(lib/expbackoff): support retry sentinels (#4467)
  lib/expbackoff/retry.go
  lib/expbackoff/retry_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

refactor: replace sort.Slice with slices.Sort for natural ordering
  e2e/app/admin/test.go
  halo/registry/keeper/cache.go
  lib/netconf/netconf.go
  lib/netconf/network.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib): fix lint
  lib/expbackoff/retry_test.go
Due: run-go-tests, run-golint, run-goversion

chore(lib): fix lint (#4469)
  lib/expbackoff/retry_test.go
Due: run-go-tests, run-golint, run-goversion

chore(solver): add funds mover
  solver/app/app.go
  solver/app/movefunds.go
  solver/app/movefunds_internal_test.go
  solver/app/testdata/TestMoveFundsConfig.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): add funds mover (#4470)
  solver/app/app.go
  solver/app/movefunds.go
  solver/app/movefunds_internal_test.go
  solver/app/testdata/TestMoveFundsConfig.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): add move funds maxes
  solver/app/movefunds.go
  solver/app/movefunds_internal_test.go
  solver/app/testdata/TestMoveFundsConfig.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): add move funds maxes (#4471)
  solver/app/movefunds.go
  solver/app/movefunds_internal_test.go
  solver/app/testdata/TestMoveFundsConfig.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): rebalance funds to USDC on L1
  solver/app/app.go
  solver/fundthresh/testdata/thresholds.json
  solver/fundthresh/thresholds.go
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): rebalance funds to USDC on L1 (#4472)
  solver/app/app.go
  solver/fundthresh/testdata/thresholds.json
  solver/fundthresh/thresholds.go
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(solver): fix rebalance tests
  solver/fundthresh/testdata/thresholds.json
  solver/fundthresh/thresholds.go
  solver/rebalance/integration_test.go
  solver/rebalance/rebalance.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(solver): fix rebalance tests and tweak logic (#4474)
  solver/fundthresh/testdata/thresholds.json
  solver/fundthresh/thresholds.go
  solver/rebalance/integration_test.go
  solver/rebalance/rebalance.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): update golden test files
  e2e/app/eoa/testdata/solver_reference.json
Due: none

chore(e2e/eoa): update golden test files (#4476)
  e2e/app/eoa/testdata/solver_reference.json
Due: none

chore(lib/usdt0): tweak tests and logs
  lib/usdt0/monitor.go
  lib/usdt0/send_test.go
  solver/rebalance/hyperevm_integration_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/usdt0): tweak tests and logs (#4475)
  lib/usdt0/monitor.go
  lib/usdt0/send_test.go
  solver/rebalance/hyperevm_integration_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): fix test skip comment
  solver/rebalance/hyperevm_integration_internal_test.go
Due: run-go-tests, run-golint, run-goversion

chore(solver): fix test skip comment (#4477)
  solver/rebalance/hyperevm_integration_internal_test.go
Due: run-go-tests, run-golint, run-goversion

chore(solver): temp reduce max swaps and sends
  solver/fundthresh/testdata/thresholds.json
  solver/fundthresh/thresholds.go
  solver/rebalance/integration_test.go
  solver/rebalance/rebalance.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): temp reduce max swaps and sends (#4478)
  solver/fundthresh/testdata/thresholds.json
  solver/fundthresh/thresholds.go
  solver/rebalance/integration_test.go
  solver/rebalance/rebalance.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): bump solver monitor pins to fbb22c3
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(e2e): bump solver monitor pins to fbb22c3 (#4479)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(solver): move hyperevm usdt0 to ethereum
  solver/rebalance/hyperevm.go
  solver/rebalance/hyperevm_integration_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Revert "chore(solver): temp reduce max swaps and sends (#4478)"
  solver/fundthresh/testdata/thresholds.json
  solver/fundthresh/thresholds.go
  solver/rebalance/integration_test.go
  solver/rebalance/rebalance.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): revert max swap send changes (#4481)
  solver/fundthresh/testdata/thresholds.json
  solver/fundthresh/thresholds.go
  solver/rebalance/integration_test.go
  solver/rebalance/rebalance.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): move hyperevm usdt0 to ethereum (#4480)
  solver/rebalance/hyperevm.go
  solver/rebalance/hyperevm_integration_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): update solver monitor pins to 98293a8
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(solver): update solver monitor pins to 98293a8 (#4482)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(solver): move usdt0 on start
  solver/rebalance/hyperevm.go
  solver/rebalance/hyperevm_integration_internal_test.go
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): move usdt0 on start (#4483)
  solver/rebalance/hyperevm.go
  solver/rebalance/hyperevm_integration_internal_test.go
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): bump solver monitor pins to 0e3f937
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none
