Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(sdk): scripts update and react bump
  sdk/packages/core/package.json
  sdk/packages/react/package.json
  sdk/packages/react/src/version.ts
Due: none

fix(solver/rebalance): check min send after capping to surplus
  solver/rebalance/rebalance.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(e2e): handle inboxConfigs during outbox upgrade (#3947)
  contracts/Makefile
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/script/admin/SolverNetPostUpgradeTest.sol
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetOutbox.sol
  e2e/app/admin/common.go
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  anchor/anchorinbox/accounts.go
  anchor/anchorinbox/errors.go
  anchor/anchorinbox/events.go
  anchor/anchorinbox/helper.go
  anchor/anchorinbox/instructions.go
  anchor/anchorinbox/open.go
  anchor/anchorinbox/types.go
  anchor/localnet/solver_inbox.json
  anchor/localnet/solver_inbox.so
  anchor/programs/solver-inbox/src/error.rs
  anchor/programs/solver-inbox/src/event.rs
  anchor/programs/solver-inbox/src/lib.rs
  anchor/programs/solver-inbox/src/types.rs
  solver/solana/compose_test.go
  solver/solana/helpers.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(solver/rebalance): check min send after capping to surplus (#3955)
  solver/rebalance/rebalance.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  anchor/anchorinbox/init.go
  anchor/anchorinbox/init_test.go
  anchor/anchorinbox/markfilled.go
  anchor/anchorinbox/markfilled_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(solver/rebalance): fix chain deficit surplus discount
  solver/rebalance/deficit.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): remove public flag
  sdk/packages/core/package.json
  sdk/packages/react/package.json
Due: none

chore(sdk): bump versions (#3954)
  sdk/packages/core/README.md
  sdk/packages/core/package.json
  sdk/packages/core/src/version.ts
  sdk/packages/react/package.json
  sdk/packages/react/src/version.ts
Due: none

fix(solver/rebalance): fix chain deficit surplus discount (#3956)
  solver/rebalance/deficit.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  solver/solana/compose_test.go
  solver/solana/helpers.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(sdk): add example script using core
  sdk/examples/core/README.md
  sdk/examples/core/package.json
  sdk/examples/core/src/run.ts
  sdk/examples/core/tsconfig.json
  sdk/pnpm-lock.yaml
Due: none

fix(lib/anvil): fix usdt funding utils
  lib/anvil/utils.go
  lib/uniswap/swap_test.go
  solver/rebalance/integration_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/cctp): better mint err attrs
  lib/cctp/mint.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(lib/anvil): fix usdt funding utils (#3958)
  lib/anvil/utils.go
  lib/uniswap/swap_test.go
  solver/rebalance/integration_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/cctp): better mint err attrs (#3959)
  lib/cctp/mint.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): bump solver pin to aad2488
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(e2e): bump solver pin to aad2488 (#3960)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

improve solvernet post upgrade tests
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/script/admin/SolverNetPostUpgradeTest.sol
  contracts/solve/test/utils/MockERC721.sol
  e2e/app/admin/common.go
  e2e/app/admin/upgrade.go
  e2e/cmd/admin.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

update bindings
  contracts/bindings/admin.go
Due: run-go-tests, run-golint, run-goversion

feat(contracts/core): improve solvernet post upgrade tests (#3961)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/script/admin/SolverNetPostUpgradeTest.sol
  contracts/solve/test/utils/MockERC721.sol
  e2e/app/admin/common.go
  e2e/app/admin/upgrade.go
  e2e/cmd/admin.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): deprecate steth
  docs/docs/pages/guides/examples/eigenlayer.mdx
  docs/docs/pages/introduction/what-is-solvernet.md
  docs/docs/pages/sdk/assets/mainnet.mdx
  docs/docs/pages/sdk/assets/testnet.mdx
  e2e/app/eoa/solver.go
  e2e/app/eoa/testdata/solver_reference.json
  solver/app/quote.go
  solver/app/testdata/TestTokens.golden
  solver/app/testdata/TestTokens/tokens_response.json
  solver/app/testutils_internal_test.go
  solver/app/tokens.go
  solver/rebalance/integration_test.go
  solver/rebalance/start.go
  solver/rebalance/wsteth-abi.json
  solver/rebalance/wsteth.go
  solver/rebalance/wsteth_bindings.go
  solver/rebalance/wsteth_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

optimized outbox
  contracts/bindings/admin.go
  contracts/bindings/mockerc20.go
  contracts/bindings/mockvault.go
  contracts/bindings/solvernetexecutor.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetmiddleman.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/solve/.gas-snapshot
  contracts/solve/package.json
  contracts/solve/pnpm-lock.yaml
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/lib/XAppBase.sol
  contracts/solve/test/TestBase.sol
  e2e/app/admin/upgrade.go
  e2e/solve/deploy.go
  lib/contracts/solvernet/outbox/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

optimized inbox
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/script/manual/genesis-staking/MainnetGenesisStake.s.sol
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/test/TestBase.sol
  e2e/app/admin/upgrade.go
  lib/contracts/solvernet/inbox/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): update staking copy
  docs/docs/pages/introduction/omni-token.md
Due: none

feat(sdk): add example script using core (#3957)
  sdk/examples/core/README.md
  sdk/examples/core/package.json
  sdk/examples/core/src/run.ts
  sdk/examples/core/tsconfig.json
  sdk/pnpm-lock.yaml
Due: none

chore(*): init changeset and workflow
  .github/workflows/changeset.yaml
  .github/workflows/ci-main.yaml
  sdk/.changeset/README.md
  sdk/.changeset/config.json
  sdk/package.json
  sdk/packages/core/package.json
  sdk/packages/react/package.json
  sdk/pnpm-lock.yaml
Due: none

chore(sdk): revert core change
  sdk/packages/core/package.json
Due: none

fix xrecv when theres no portal
  contracts/solve/.gas-snapshot
  contracts/solve/src/lib/XAppBase.sol
Due: none

chore(docs): update staking copy (#3965)
  docs/docs/pages/introduction/omni-token.md
Due: none

added staging and omega support
  contracts/solve/script/staging/StagingManualSolverNetOrder.s.sol
Due: none

add debug messages to hyperlane contract filter
  lib/contracts/solvernet/chains.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib): add debug logs to FilterByContracts (#3967)
  lib/contracts/solvernet/chains.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

enable RPC overrides in solver
  solver/app/app.go
  solver/app/chains.go
  solver/app/config.go
  solver/cmd/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver): enable RPC overrides in solver (#3968)
  solver/app/app.go
  solver/app/chains.go
  solver/app/config.go
  solver/cmd/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

use hyperlane backends in solver
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver): use hyperlane backends in solver (#3969)
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

support Sepolia ETH in solver
  lib/tokens/tokens.json
  lib/tokens/tokens_test.go
Due: run-go-tests, run-golint, run-goversion

fix golden
  solver/app/testdata/TestClaimants.golden
  solver/app/testdata/TestTokens.golden
Due: none
