Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(sdk): changelog (#3931)
  sdk/packages/core/CHANGELOG.md
  sdk/packages/react/CHANGELOG.md
Due: none

chore(docs): fix links
  docs/vocs.config.tsx
Due: none

chore(docs): watchDidFill docs entry (#3930)
  docs/docs/pages/sdk/core/watchDidFill.md
  docs/vocs.config.tsx
Due: none

chore(docs): getting started tweaks (#3932)
  docs/docs/pages/introduction/what-is-solvernet.md
  docs/docs/pages/sdk/getting-started/basic-deposit.md
  docs/docs/pages/sdk/getting-started/template.mdx
  docs/vocs.config.tsx
Due: none

feat(sdk): replace middleman by executor
  .github/workflows/sdk-unit-test.yaml
  docs/docs/pages/sdk/core/getContracts.md
  docs/docs/pages/sdk/utils/withExecAndTransfer.mdx
  sdk/integration-tests/suites/flows.tsx
  sdk/packages/core/package.json
  sdk/packages/core/src/api/getContracts.ts
  sdk/packages/core/src/constants/abis.test.ts
  sdk/packages/core/src/constants/abis.ts
  sdk/packages/core/src/types/contracts.ts
  sdk/packages/core/src/utils/withExecAndTransfer.ts
  sdk/packages/core/test/assets/SolverNetExecutor.json
  sdk/packages/core/test/assets/SolverNetMiddleman.json
  sdk/packages/react/src/hooks/useOmniContracts.test-d.ts
  sdk/packages/react/test/shared.ts
  sdk/packages/test-utils/src/constants.ts
  sdk/packages/test-utils/src/contracts.ts
Due: none

feat(sdk): replace middleman by executor (#3934)
  .github/workflows/sdk-unit-test.yaml
  docs/docs/pages/sdk/core/getContracts.md
  docs/docs/pages/sdk/utils/withExecAndTransfer.mdx
  sdk/integration-tests/suites/flows.tsx
  sdk/packages/core/package.json
  sdk/packages/core/src/api/getContracts.ts
  sdk/packages/core/src/constants/abis.test.ts
  sdk/packages/core/src/constants/abis.ts
  sdk/packages/core/src/types/contracts.ts
  sdk/packages/core/src/utils/withExecAndTransfer.ts
  sdk/packages/core/test/assets/SolverNetExecutor.json
  sdk/packages/core/test/assets/SolverNetMiddleman.json
  sdk/packages/react/src/hooks/useOmniContracts.test-d.ts
  sdk/packages/react/test/shared.ts
  sdk/packages/test-utils/src/constants.ts
  sdk/packages/test-utils/src/contracts.ts
Due: none

feat(solver/rebalance): send by deficits (#3933)
  solver/rebalance/deficit.go
  solver/rebalance/rebalance.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(docs): keep middleman references
  docs/docs/pages/sdk/utils/withExecAndTransfer.mdx
Due: none

fix(docs): keep middleman references (#3935)
  docs/docs/pages/sdk/utils/withExecAndTransfer.mdx
Due: none

chore(solver): reduce pricer cache interval
  solver/app/pricer.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): reduce pricer cache interval (#3936)
  solver/app/pricer.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): bump version script
  sdk/examples/react/package.json
  sdk/package.json
  sdk/packages/core/src/version.ts
  sdk/packages/react/package.json
  sdk/packages/react/src/version.ts
  sdk/pnpm-lock.yaml
  sdk/scripts/bumpVersion.ts
Due: none

chore(solver/rebalance): log USD for USD amounts
  solver/rebalance/deficit.go
  solver/rebalance/rebalance.go
  solver/rebalance/usd.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): log USD for USD amounts (#3939)
  solver/rebalance/deficit.go
  solver/rebalance/rebalance.go
  solver/rebalance/usd.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix omni evm handling in setupChainHL
  e2e/app/admin/common.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(e2e): handle omni EVM in setupChainHL (#3940)
  e2e/app/admin/common.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

skip omni consensus chain
  e2e/app/admin/common.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

use EVMChains instead of condition
  e2e/app/admin/common.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(e2e): skip omni consensus chain (#3941)
  e2e/app/admin/common.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): add new tokens and thresholds
  solver/rebalance/deficit.go
  solver/rebalance/integration_test.go
  solver/rebalance/rebalance.go
  solver/rebalance/snapshot_test.go
  solver/rebalance/thresholds.go
  solver/rebalance/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): add new tokens and thresholds (#3942)
  solver/rebalance/deficit.go
  solver/rebalance/integration_test.go
  solver/rebalance/rebalance.go
  solver/rebalance/snapshot_test.go
  solver/rebalance/thresholds.go
  solver/rebalance/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(solver/rebalanace): add threshold reference test
  solver/rebalance/testdata/thresholds.json
  solver/rebalance/threshold_test.go
Due: run-go-tests, run-golint, run-goversion

chore(e2e): bump solver pins to 08b2b8d
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

remove upgrade gap from MailboxClient
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/ext/MailboxClient.sol
Due: run-go-tests, run-golint, run-goversion

feat(contracts/solve): remove upgrade gap from MailboxClient (#3945)
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/ext/MailboxClient.sol
Due: run-go-tests, run-golint, run-goversion

test(solver/rebalanace): add threshold reference test (#3943)
  solver/rebalance/testdata/thresholds.json
  solver/rebalance/threshold_test.go
Due: run-go-tests, run-golint, run-goversion

chore(e2e): bump solver pins to 08b2b8d (#3944)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(solver/rebalance): increase integration test timeout
  solver/rebalance/integration_test.go
Due: run-go-tests, run-golint, run-goversion

chore(solver/rebalance): increase integration test timeout (#3946)
  solver/rebalance/integration_test.go
Due: run-go-tests, run-golint, run-goversion

refactor to assign and verify inboxConfigs at upgrade
  contracts/Makefile
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/script/admin/SolverNetPostUpgradeTest.sol
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetOutbox.sol
  e2e/app/admin/common.go
  e2e/app/admin/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): increase integration test surplus
  solver/rebalance/integration_test.go
Due: run-go-tests, run-golint, run-goversion

chore(ci): skip rebalance test
  .github/workflows/rebalance-test.yaml
Due: none

fix(solver/rebalance): do not send usdc lt minSend
  solver/rebalance/rebalance.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(solver/rebalance): do not send usdc lt minSend (#3950)
  solver/rebalance/rebalance.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): update solver pin to 55f8dba
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

wip
  .pre-commit-config.yaml
  anchor/.gitignore
  anchor/Anchor.toml
  anchor/Cargo.lock
  anchor/Cargo.toml
  anchor/Makefile
  anchor/anchorinbox/accounts.go
  anchor/anchorinbox/addresses.go
  anchor/anchorinbox/constants.go
  anchor/anchorinbox/errors.go
  anchor/anchorinbox/events.go
  anchor/anchorinbox/helper.go
  anchor/anchorinbox/instructions.go
  anchor/anchorinbox/open.go
  anchor/anchorinbox/open_test.go
  anchor/anchorinbox/testing_utils.go
  anchor/anchorinbox/types.go
  anchor/localnet/solver_inbox-keypair.json
  anchor/localnet/solver_inbox.json
  anchor/localnet/solver_inbox.so
  anchor/localnet/static.go
  anchor/package.json
  anchor/programs/solver-inbox/Cargo.toml
  anchor/programs/solver-inbox/Xargo.toml
  anchor/programs/solver-inbox/src/error.rs
  anchor/programs/solver-inbox/src/event.rs
  anchor/programs/solver-inbox/src/helpers.rs
  anchor/programs/solver-inbox/src/lib.rs
  anchor/programs/solver-inbox/src/types.rs
  anchor/tsconfig.json
  anchor/yarn.lock
  go.mod
  go.sum
  scripts/tools.go
  solver/solana/compose_test.go
  solver/solana/program.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): use node over bun
  sdk/package.json
  sdk/pnpm-lock.yaml
  sdk/scripts/bumpVersion.ts
Due: none

chore(sdk): bump version script (#3938)
  sdk/examples/react/package.json
  sdk/package.json
  sdk/packages/core/src/version.ts
  sdk/packages/react/package.json
  sdk/packages/react/src/version.ts
  sdk/pnpm-lock.yaml
  sdk/scripts/bumpVersion.ts
Due: none

chore(docs): tweak install instructions in docs
  docs/docs/pages/concepts/single-chain-deployment.md
  docs/docs/pages/sdk/getting-started.mdx
  docs/docs/pages/sdk/getting-started/react.mdx
Due: none

chore(sdk): bump core and remove alpha comments
  sdk/packages/core/README.md
  sdk/packages/core/package.json
  sdk/packages/core/src/version.ts
Due: none
