Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(sdk): parameterize quote unit test
  sdk/src/hooks/useQuote.test.ts
Due: none

chore(solver): remove holesky from network (#3293)
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): validate order unit tests
  sdk/src/hooks/useValidateOrder.test-d.ts
  sdk/src/hooks/useValidateOrder.test.ts
  sdk/test/shared.ts
Due: none

chore(e2e): update omega solver pin
  e2e/manifests/omega.toml
Due: none

chore(e2e): update omega solver pin (#3295)
  e2e/manifests/omega.toml
Due: none

applied feedback from audit
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetmiddleman.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/src/interfaces/IOmniPortalPausable.sol
  contracts/core/test/utils/MockPortal.sol
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetExecutor.sol
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/SolverNetMiddleman.sol
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetExecutor.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/inbox/Close.t.sol
  contracts/solve/test/inbox/General.t.sol
  contracts/solve/test/inbox/Open.t.sol
  contracts/solve/test/outbox/Executor.t.sol
  contracts/solve/test/outbox/Middleman.t.sol
  contracts/solve/test/utils/ApprovalReverterERC20.sol
Due: run-go-tests, run-golint, run-goversion

feat(solver): support symbiotic wsteth collateral token
  lib/tokens/tokens.go
  solver/app/internal_testutils.go
  solver/app/quote.go
  solver/app/testdata/TestTokens.golden
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

use wall time for inflation estimation
  lib/cchain/provider.go
  lib/cchain/provider/provider.go
  lib/cchain/queryutil/rewards.go
  monitor/app/rewards.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

minor
  lib/cchain/queryutil/rewards.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(monitor): use wall time for inflation estimation (#3298)
  lib/cchain/provider.go
  lib/cchain/provider/provider.go
  lib/cchain/queryutil/rewards.go
  monitor/app/rewards.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Update expense check for quote
  sdk/integration-tests/flows.test.tsx
Due: none

chore(geth): update geth to v1-15-5
  cli/cmd/compose.yaml.tpl
  e2e/app/geth/config.go
  e2e/app/geth/config_internal_test.go
  e2e/app/geth/testdata/TestWriteConfigTOML_archive.golden
  e2e/app/geth/testdata/TestWriteConfigTOML_full.golden
  e2e/app/geth/testdata/default_config.toml
  e2e/app/geth/types.go
  e2e/docker/compose.yaml.tmpl
  e2e/test/geth_test.go
  go.mod
  go.sum
  halo/genutil/evm/evm.go
  lib/netconf/mainnet/execution-seeds.txt
  lib/netconf/netconf_test.go
  lib/netconf/omega/execution-seeds.txt
  lib/netconf/staging/execution-seeds.txt
  lib/xchain/connect/connect.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

go mod tidy
  go.mod
Due: none

rename module
  monitor/app/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

factor out instrumentation of rewards
  lib/cchain/queryutil/staking.go
  monitor/app/app.go
  monitor/app/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

rebase
  go.sum
Due: none

test(solver/app): check and quote API tests
  solver/app/check_internal_test.go
  solver/app/handler.go
  solver/app/quote_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add delegation metrics
  lib/cchain/queryutil/staking.go
  monitor/app/app.go
  monitor/app/metrics.go
  monitor/app/staking.go
  monitor/app/staking/metrics.go
  monitor/app/staking/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts): applied xbridge audit feedback (#3273)
  contracts/bindings/bridge.go
  contracts/xapps/.gas-snapshot
  contracts/xapps/src/bridge/Bridge.sol
  contracts/xapps/src/bridge/interfaces/IBridge.sol
  contracts/xapps/test/bridge/TestBase.sol
  contracts/xapps/test/bridge/bridge/General.t.sol
  e2e/xbridge/bridge.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Add SDK tests to Go E2E tests
  e2e/test/sdk_test.go
  sdk/integration-tests/test-utils.tsx
  sdk/package.json
  sdk/pnpm-lock.yaml
  sdk/vitest.config.ts
Due: run-go-tests, run-golint, run-goversion

applied review feedback
  contracts/bindings/solvernetinbox.go
  contracts/solve/src/SolverNetInbox.sol
Due: run-go-tests, run-golint, run-goversion

Check change dir error
  e2e/test/sdk_test.go
Due: run-go-tests, run-golint, run-goversion

feat(contracts): applied feedback from solvernet audit (#3296)
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetmiddleman.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/src/interfaces/IOmniPortalPausable.sol
  contracts/core/test/utils/MockPortal.sol
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetExecutor.sol
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/SolverNetMiddleman.sol
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetExecutor.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/inbox/Close.t.sol
  contracts/solve/test/inbox/General.t.sol
  contracts/solve/test/inbox/Open.t.sol
  contracts/solve/test/outbox/Executor.t.sol
  contracts/solve/test/outbox/Middleman.t.sol
  contracts/solve/test/utils/ApprovalReverterERC20.sol
Due: run-go-tests, run-golint, run-goversion

Install node and pnpm in CI workflows
  .github/workflows/e2etest.yaml
  .github/workflows/pr-e2etest.yaml
Due: none

chore(geth): downgrade geth server to v1-14-13
  cli/cmd/compose.yaml.tpl
  cli/cmd/initnodes.go
  e2e/app/geth/config.go
  e2e/app/geth/config_internal_test.go
  e2e/app/geth/testdata/TestWriteConfigTOML_archive.golden
  e2e/app/geth/testdata/TestWriteConfigTOML_full.golden
  e2e/app/geth/testdata/default_config.toml
  e2e/app/geth/types.go
  e2e/app/geth/types_test.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
  solver/app/handlers_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

change metric
  halo/evmstaking/keeper/keeper.go
  halo/evmstaking/keeper/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(geth): downgrade geth server to v1-14-13 (#3304)
  cli/cmd/compose.yaml.tpl
  cli/cmd/initnodes.go
  e2e/app/geth/config.go
  e2e/app/geth/config_internal_test.go
  e2e/app/geth/testdata/TestWriteConfigTOML_archive.golden
  e2e/app/geth/testdata/TestWriteConfigTOML_full.golden
  e2e/app/geth/testdata/default_config.toml
  e2e/app/geth/types.go
  e2e/app/geth/types_test.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
  solver/app/handlers_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(geth): downgrade geth server to v1-14-13 (#3304)
  cli/cmd/compose.yaml.tpl
  cli/cmd/initnodes.go
  e2e/app/geth/config.go
  e2e/app/geth/config_internal_test.go
  e2e/app/geth/testdata/TestWriteConfigTOML_archive.golden
  e2e/app/geth/testdata/TestWriteConfigTOML_full.golden
  e2e/app/geth/testdata/default_config.toml
  e2e/app/geth/types.go
  e2e/app/geth/types_test.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
  lib/netconf/provider.go
  solver/app/handlers_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(lib/netconf): fix issue on staging reset
  lib/netconf/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(lib/netconf): fix issue on staging reset (#3312)
  lib/netconf/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

apply various solvernetspec configs
  e2e/app/admin/solvernetspec.go
  e2e/app/admin/testdata/TestNetworkSolverNetSpec.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): re enable holesky on omega
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): re enable holesky on omega (#3314)
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

move config to staging
  e2e/app/admin/solvernetspec.go
  e2e/app/admin/testdata/TestNetworkSolverNetSpec.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): test various solvernetspec configs (#3313)
  e2e/app/admin/solvernetspec.go
  e2e/app/admin/testdata/TestNetworkSolverNetSpec.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

unpaused staging solvernet
  e2e/app/admin/solvernetspec.go
  e2e/app/admin/testdata/TestNetworkSolverNetSpec.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion
