Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

graphql schema location and nits
  explorer/Makefile
  explorer/graphql/app/graphql.go
  explorer/graphql/app/graphql.schema
  explorer/graphql/app/schema.graphql
  explorer/ui/app/graphql/fragment-masking.ts
  explorer/ui/app/graphql/gql.ts
  explorer/ui/app/graphql/graphql.ts
  explorer/ui/app/graphql/index.ts
  explorer/ui/app/graphql/schema.graphql
  explorer/ui/codegen.ts
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): add fee oracle
  contracts/package.json
  contracts/src/FeeOracleV1.sol
  contracts/src/OmniPortal.sol
  contracts/src/interfaces/IFeeOracle.sol
  contracts/src/interfaces/IFeeOracleV1.sol
  contracts/src/interfaces/IOmniPortal.sol
  contracts/src/interfaces/IOmniPortalAdmin.sol
  contracts/test/common/Fixtures.sol
  contracts/test/common/TestPortal.sol
  contracts/test/data/xblocks.json
  contracts/test/data/xblocks_decoded.json
  contracts/test/data/xsubs.json
  contracts/test/data/xsubs_decoded.json
Due: none

switch to oz Ownable
  contracts/src/FeeOracleV1.sol
  contracts/src/OmniPortal.sol
  contracts/src/interfaces/IFeeOracleV1.sol
  contracts/src/interfaces/IOmniPortalAdmin.sol
Due: none

rename admin to owner
  contracts/test/common/Fixtures.sol
  contracts/test/common/TestPortal.sol
Due: none

use owner addr in test fixtures
  contracts/test/common/Fixtures.sol
Due: none

feat(contracts): add fee oracle (#217)
  contracts/package.json
  contracts/src/FeeOracleV1.sol
  contracts/src/OmniPortal.sol
  contracts/src/interfaces/IFeeOracle.sol
  contracts/src/interfaces/IFeeOracleV1.sol
  contracts/src/interfaces/IOmniPortal.sol
  contracts/src/interfaces/IOmniPortalAdmin.sol
  contracts/test/common/Fixtures.sol
  contracts/test/common/TestPortal.sol
  contracts/test/data/xblocks.json
  contracts/test/data/xblocks_decoded.json
  contracts/test/data/xsubs.json
  contracts/test/data/xsubs_decoded.json
Due: none

test(contracts): add fee oracle and admin tests
  contracts/test/FeeOracleV1.t.sol
  contracts/test/OmniPortal_admin.t.sol
  contracts/test/OmniPortal_feeFor.t.sol
Due: none

init
  explorer/graphql/app/graphql.go
  explorer/graphql/data/provider.go
  explorer/graphql/resolvers/blocks.go
  explorer/graphql/resolvers/tests/blocks_mock.go
  explorer/graphql/resolvers/tests/blocks_test.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-goversion

working tests
  explorer/graphql/app/graphql.schema
  explorer/graphql/resolvers/tests/blocks_test.go
Due: run-go-tests, run-goversion

Update blocks_test.go
  explorer/graphql/resolvers/tests/blocks_test.go
Due: run-go-tests, run-goversion

fixing package names
  explorer/graphql/resolvers/blocks.go
  explorer/graphql/resolvers/test/blocks_mock.go
  explorer/graphql/resolvers/test/blocks_test.go
Due: run-go-tests, run-regexp, run-goversion

Update blocks_test.go
  explorer/graphql/resolvers/test/blocks_test.go
Due: run-go-tests, run-goversion

nits
  explorer/graphql/app/graphql.go
  explorer/ui/app/graphql/gql.ts
  explorer/ui/app/graphql/index.ts
Due: run-go-tests, run-regexp, run-goversion

feat(explorer/api): removing api service (#209)
  .golangci.yml
  .goreleaser.yaml
  explorer/Makefile
  explorer/api/Dockerfile
  explorer/api/Makefile
  explorer/api/app/app.go
  explorer/api/app/config.go
  explorer/api/cmd/cmd.go
  explorer/api/docs/redocly.go
  explorer/api/handlers/health_check.go
  explorer/api/handlers/health_check_test.go
  explorer/api/main.go
  explorer/api/openapi/oas_cfg_gen.go
  explorer/api/openapi/oas_client_gen.go
  explorer/api/openapi/oas_handlers_gen.go
  explorer/api/openapi/oas_json_gen.go
  explorer/api/openapi/oas_middleware_gen.go
  explorer/api/openapi/oas_request_decoders_gen.go
  explorer/api/openapi/oas_request_encoders_gen.go
  explorer/api/openapi/oas_response_decoders_gen.go
  explorer/api/openapi/oas_response_encoders_gen.go
  explorer/api/openapi/oas_router_gen.go
  explorer/api/openapi/oas_schemas_gen.go
  explorer/api/openapi/oas_server_gen.go
  explorer/api/openapi/oas_unimplemented_gen.go
  explorer/api/openapi/openapi.yaml
  explorer/api/server/api_handlers.go
  explorer/api/server/server.go
  explorer/api/server/server_test.go
  explorer/api/static/openapi.yaml
  explorer/ui/app/openapi/openapi.d.ts
  explorer/ui/app/openapi/openapi.yaml
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-goversion

nits
  explorer/graphql/app/schema.graphql
Due: none

merge fixes
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
Due: none

feat(explorer/graphql): generating graphql from schema (#210)
  explorer/Makefile
  explorer/graphql/app/graphql.go
  explorer/graphql/app/graphql.schema
  explorer/graphql/app/schema.graphql
  explorer/ui/Makefile
  explorer/ui/app/graphql/fragment-masking.ts
  explorer/ui/app/graphql/gql.ts
  explorer/ui/app/graphql/graphql.ts
  explorer/ui/app/graphql/index.ts
  explorer/ui/codegen.ts
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
Due: run-go-tests, run-regexp, run-goversion

nits
  explorer/graphql/resolvers/test/blocks_test.go
Due: run-go-tests, run-goversion

Update schema.graphql
  explorer/graphql/app/schema.graphql
Due: none

test(explorer/graphql): testing GraphQL queries (#219)
  explorer/graphql/app/graphql.go
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/provider.go
  explorer/graphql/resolvers/blocks.go
  explorer/graphql/resolvers/test/blocks_mock.go
  explorer/graphql/resolvers/test/blocks_test.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-goversion

updating workflow
  .github/workflows/goreleaser.yml
Due: none

ci(explorer/api): updating workflow api to graphql (#220)
  .github/workflows/goreleaser.yml
Due: none

lint struggle
  relayer/txmgr/config.go
  relayer/txmgr/ether.go
  relayer/txmgr/operation.go
  relayer/txmgr/price_bump_test.go
  relayer/txmgr/queue.go
  relayer/txmgr/queue_test.go
  relayer/txmgr/send_state.go
  relayer/txmgr/send_state_test.go
  relayer/txmgr/txmgr.go
  relayer/txmgr/txmgr_test.go
Due: run-go-tests, run-regexp, run-goversion

linter strangled
  relayer/txmgr/price_bump_test.go
  relayer/txmgr/txmgr_test.go
Due: run-go-tests, run-goversion

adjust test cases
  relayer/txmgr/price_bump_test.go
  relayer/txmgr/txmgr.go
  relayer/txmgr/txmgr_test.go
Due: run-go-tests, run-regexp, run-goversion

tidy
  go.mod
Due: none

adds readme for txmgr pkg
  relayer/txmgr/README.md
Due: none

linerrr
  relayer/txmgr/price_bump_test.go
  relayer/txmgr/txmgr.go
  relayer/txmgr/txmgr_test.go
Due: run-go-tests, run-regexp, run-goversion

precommit check
  relayer/txmgr/config.go
  relayer/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

log fix
  relayer/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

test fix
  relayer/txmgr/queue.go
  relayer/txmgr/queue_test.go
  relayer/txmgr/txmgr_test.go
Due: run-go-tests, run-regexp, run-goversion

ci
  relayer/txmgr/queue_test.go
Due: run-go-tests, run-goversion

tx fields
  relayer/txmgr/config.go
  relayer/txmgr/send_state.go
  relayer/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

test with skip
  relayer/txmgr/queue_test.go
Due: run-go-tests, run-goversion

log test
  relayer/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

add expectEmits
  contracts/test/FeeOracleV1.t.sol
  contracts/test/OmniPortal_admin.t.sol
  contracts/test/common/Events.sol
Due: none

test(contracts): add fee oracle and admin tests (#218)
  contracts/test/FeeOracleV1.t.sol
  contracts/test/OmniPortal_admin.t.sol
  contracts/test/OmniPortal_feeFor.t.sol
  contracts/test/common/Events.sol
Due: none

remove unused networks dir
  networks/dev/docker-compose.yml
  networks/dev/start.sh
Due: none

chore(*): remove unused networks dir (#222)
  networks/dev/docker-compose.yml
  networks/dev/start.sh
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-regexp: any of: \.go$, but not: _test.go
  run-goversion: any of: \.go$
