Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(solver/rebalance): init hyperevm rebalance loops
  solver/rebalance/hyperevm.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): init devnet svm
  anchor/anchorinbox/helper.go
  e2e/app/run.go
  e2e/app/setup.go
  e2e/app/svm.go
  lib/svmutil/compose.go
  lib/svmutil/compose.yaml.tmpl
  lib/svmutil/compose_test.go
  lib/svmutil/localsvm/main.go
  lib/svmutil/token.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): init devnet svm (#4168)
  anchor/anchorinbox/helper.go
  e2e/app/run.go
  e2e/app/setup.go
  e2e/app/svm.go
  lib/svmutil/compose.go
  lib/svmutil/compose.yaml.tmpl
  lib/svmutil/compose_test.go
  lib/svmutil/localsvm/main.go
  lib/svmutil/token.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): version bump (#4160)
  docs/docs/pages/sdk/core/generateOrder.md
  docs/docs/pages/sdk/hooks/useOrder.mdx
  sdk/.changeset/silly-crews-tell.md
  sdk/packages/core/CHANGELOG.md
  sdk/packages/core/package.json
  sdk/packages/core/src/version.ts
  sdk/packages/react/CHANGELOG.md
  sdk/packages/react/package.json
  sdk/packages/react/src/version.ts
Due: none

chore(solver/rebalance): init hyperevm rebalance loops (#4166)
  solver/rebalance/hyperevm.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

docs(e2e): document AVX support in Docker
  e2e/README.md
Due: none

docs(e2e): make AVX issue SVM-specific
  e2e/README.md
Due: none

fix(solver/app): fix trace req args
  solver/app/check.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

clean up struct types
  contracts/bindings/isolvernetbindings.go
  contracts/bindings/solvernetadmin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetBindings.sol
  contracts/solve/src/lib/HashLib.sol
  contracts/solve/src/lib/SolverNet.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/OpenFor.t.sol
  contracts/solve/test/inbox/ResolveFor.t.sol
  contracts/solve/test/inbox/ValidateFor.t.sol
  contracts/solve/test/utils/MockSolverNetInbox.sol
Due: run-go-tests, run-golint, run-goversion

fix(solver/app): fix trace req args (#4170)
  solver/app/check.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): bump sovler monitor pins to a5b598b
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

docs(e2e): more info about SVM container failure with AVX
  e2e/README.md
Due: none

feat(sdk): setup SVM package
  sdk/packages/svm/CHANGELOG.md
  sdk/packages/svm/README.md
  sdk/packages/svm/package.json
  sdk/packages/svm/src/idl/solver_inbox.json
  sdk/packages/svm/src/idl/solver_inbox.ts
  sdk/packages/svm/src/index.ts
  sdk/packages/svm/src/order.ts
  sdk/packages/svm/src/types.ts
  sdk/packages/svm/src/utils.ts
  sdk/packages/svm/src/version.ts
  sdk/packages/svm/tsconfig.build.json
  sdk/packages/svm/tsconfig.json
  sdk/packages/svm/vitest.config.ts
  sdk/pnpm-lock.yaml
Due: none

chore(solver/rebalance): include hyperevm and mantle fork clients in test
  solver/rebalance/integration_test.go
Due: run-go-tests, run-golint, run-goversion

chore(sdk): pass resolved for dest tx hash
  docs/docs/pages/sdk/hooks/useOrder.mdx
  sdk/.changeset/old-clouds-kick.md
  sdk/packages/react/src/hooks/useGetOrderStatus.test-d.ts
  sdk/packages/react/src/hooks/useGetOrderStatus.test.ts
  sdk/packages/react/src/hooks/useGetOrderStatus.ts
  sdk/packages/react/src/hooks/useOrder.test.ts
  sdk/packages/react/src/hooks/useOrder.ts
Due: none

chore(solver/rebalance): skip rebalance tests
  solver/rebalance/integration_test.go
Due: run-go-tests, run-golint, run-goversion

chore(sdk): changeset tweak
  sdk/.changeset/old-clouds-kick.md
Due: none

chore(sdk): tweak
  sdk/packages/react/src/hooks/useOrder.ts
Due: none

chore(solver/app): sream svm inbox
  anchor/anchorinbox/helper.go
  e2e/docker/compose.yaml.tmpl
  lib/contracts/solvernet/chains.go
  lib/contracts/solvernet/fillhash/abi.go
  lib/contracts/solvernet/fillhash/abi_internal_test.go
  lib/netconf/netconf.go
  lib/svmutil/abi.go
  lib/svmutil/compose_test.go
  lib/svmutil/helpers.go
  lib/svmutil/stream.go
  lib/unibackend/backend.go
  solver/app/app.go
  solver/app/cursor.go
  solver/app/svmproc.go
  solver/app/svmtypes.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): skip rebalance tests (#4174)
  solver/rebalance/integration_test.go
Due: run-go-tests, run-golint, run-goversion

chore(e2e): bump sovler monitor pins to a5b598b (#4171)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(solver/rebalance): warn and skip dependent chain errors
  solver/rebalance/deficit.go
  solver/rebalance/integration_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(sdk): add integration test for DestCallReverts with debug trace
  sdk/integration-tests/suites/react-hooks.tsx
  sdk/integration-tests/test-utils.tsx
Due: none

chore(solver/rebalance): warn and skip dependent chain errors (#4177)
  solver/rebalance/deficit.go
  solver/rebalance/integration_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

docs(e2e): document AVX support in Docker (#4169)
  e2e/README.md
Due: none

feat(solver/rebalance): rebalance hyper evm
  lib/usdt0/monitor.go
  lib/usdt0/send_test.go
  solver/rebalance/chainmu.go
  solver/rebalance/hyperevm.go
  solver/rebalance/mantle.go
  solver/rebalance/rebalance.go
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

docs(sdk): add guide page for debugging destination calls
  docs/docs/pages/guides/debugging-destination-calls.mdx
  docs/docs/pages/sdk/core/openOrder.md
  docs/docs/pages/sdk/core/validateOrder.mdx
  docs/docs/pages/sdk/hooks/useOrder.mdx
  docs/vocs.config.tsx
  sdk/integration-tests/suites/react-hooks.tsx
Due: none

feat(solver/rebalance): rebalance hyper evm (#4179)
  lib/usdt0/monitor.go
  lib/usdt0/send_test.go
  solver/rebalance/chainmu.go
  solver/rebalance/hyperevm.go
  solver/rebalance/mantle.go
  solver/rebalance/rebalance.go
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(solver/app): fix same chain checks
  solver/app/check.go
  solver/app/check_integration_internal_test.go
  solver/app/check_internal_test.go
  solver/app/handler.go
  solver/app/reject.go
  solver/app/testutils_internal_test.go
  solver/types/calltrace.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add docs landing page
  docs/docs/pages/index.mdx
  docs/docs/pages/introduction/welcome.mdx
  docs/docs/pages/resources.md
  docs/docs/public/img/Omni_Lockup_Light.png
  docs/vocs.config.tsx
Due: none

add deepwiki page to readme
  README.md
Due: none

fix(solver/app): fix same chain checks (#4181)
  solver/app/check.go
  solver/app/check_integration_internal_test.go
  solver/app/check_internal_test.go
  solver/app/handler.go
  solver/app/reject.go
  solver/app/testutils_internal_test.go
  solver/types/calltrace.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add dark lockup
  docs/docs/public/img/Omni_Lockup_Dark.png
Due: none

update logo
  docs/docs/pages/index.mdx
  docs/docs/public/img/Omni_Lockup_Dark.png
  docs/docs/public/img/Omni_Lockup_Light.png
  docs/docs/public/img/Omni_Lockup_dark.svg
  docs/docs/public/img/Omni_Lockup_light.svg
  docs/docs/styles.css
  docs/vocs.config.tsx
Due: none

update boxes
  docs/docs/pages/index.mdx
  docs/docs/styles.css
Due: none

add styling
  docs/docs/styles.css
Due: none

fix ref
  docs/docs/pages/index.mdx
Due: none

test(solver/rebalance): hyper evm integration test
  .github/workflows/rebalance-test.yaml
  lib/usdt0/ofts.go
  solver/rebalance/hyperevm_integration_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifests): update solver pin to 7112442
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none
