Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

feat(contracts): only allow xcalls to supported chains
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/src/xchain/OmniPortal.sol
  contracts/test/xchain/OmniPortal_xcall.t.sol
  contracts/test/xchain/common/Fixtures.sol
  contracts/test/xchain/common/MockXRegistryReplica.sol
  contracts/test/xchain/data/xblocks.json
  contracts/test/xchain/data/xblocks_decoded.json
  contracts/test/xchain/data/xsubs.json
  contracts/test/xchain/data/xsubs_decoded.json
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): only allow xcalls to supported chains (#1116)
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/src/xchain/OmniPortal.sol
  contracts/test/xchain/OmniPortal_xcall.t.sol
  contracts/test/xchain/common/Fixtures.sol
  contracts/test/xchain/common/MockXRegistryReplica.sol
  contracts/test/xchain/data/xblocks.json
  contracts/test/xchain/data/xblocks_decoded.json
  contracts/test/xchain/data/xsubs.json
  contracts/test/xchain/data/xsubs_decoded.json
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo): add evmslashing module
  halo/app/app.go
  halo/app/app_config.go
  halo/evmslashing/evmslashing.go
  halo/evmstaking/evmstaking.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo): add evmslashing module (#1117)
  halo/app/app.go
  halo/app/app_config.go
  halo/evmslashing/evmslashing.go
  halo/evmstaking/evmstaking.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): increase supported chain attempts
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): increase supported chain attempts (#1119)
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/xchain): support conf level when querying xprovider
  e2e/app/monitor.go
  explorer/indexer/app/app.go
  halo/attest/voter/voter.go
  halo/attest/voter/voter_test.go
  lib/netconf/netconf.go
  lib/xchain/provider.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/mock.go
  lib/xchain/provider/mock_internal_test.go
  lib/xchain/provider/provider.go
  lib/xchain/provider/provider_internal_test.go
  lib/xchain/provider/provider_test.go
  lib/xchain/types.go
  relayer/app/cursors_internal_test.go
  relayer/app/worker.go
  relayer/app/worker_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

fix pkg name
  halo/evmslashing/evmslashing.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib): fix a typo in package name (#1122)
  halo/evmslashing/evmslashing.go
Due: run-go-tests, run-regexp, run-goversion

docs(octane): include lego explanation in intro (#1114)
  docs/site/docs/octane/background/introduction.md
  docs/site/pnpm-lock.yaml
Due: none

docs(token): update token section
  docs/site/docs/learn/omni/token/economics.md
  docs/site/docs/learn/omni/token/overview.md
  docs/site/docs/learn/omni/token/token.md
  docs/site/pnpm-lock.yaml
  docs/site/sidebars.ts
Due: none

docs(token): lockfile update
  docs/site/pnpm-lock.yaml
Due: none

docs(token): separate econ and dist sections
  docs/site/docs/learn/omni/token/airdrop.md
  docs/site/docs/learn/omni/token/distribution.md
  docs/site/docs/learn/omni/token/economics.md
Due: none

docs(token): revise token section (#1118)
  docs/site/docs/learn/omni/token/airdrop.md
  docs/site/docs/learn/omni/token/distribution.md
  docs/site/docs/learn/omni/token/economics.md
  docs/site/docs/learn/omni/token/overview.md
  docs/site/pnpm-lock.yaml
  docs/site/sidebars.ts
Due: none

refactor(lib/xchain): support conf level when querying xprovider (#1120)
  e2e/app/monitor.go
  explorer/indexer/app/app.go
  halo/attest/voter/voter.go
  halo/attest/voter/voter_test.go
  lib/netconf/netconf.go
  lib/xchain/provider.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/mock.go
  lib/xchain/provider/mock_internal_test.go
  lib/xchain/provider/provider.go
  lib/xchain/provider/provider_internal_test.go
  lib/xchain/provider/provider_test.go
  lib/xchain/types.go
  relayer/app/cursors_internal_test.go
  relayer/app/worker.go
  relayer/app/worker_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e/forkproxy): improve logging
  e2e/forkproxy/app/app.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e/forkproxy): improve logging (#1123)
  e2e/forkproxy/app/app.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/xchain): introduce chain version type
  e2e/app/monitor.go
  e2e/test/attestations_test.go
  halo/app/lazyvoter.go
  halo/app/start_test.go
  halo/attest/keeper/helper.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/query.go
  halo/attest/testutil/mock_interfaces.go
  halo/attest/types/interface.go
  halo/attest/types/translate.go
  halo/attest/voter/voter.go
  halo/attest/voter/voter_internal_test.go
  halo/attest/voter/voter_test.go
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/provider_test.go
  lib/netconf/netconf.go
  lib/xchain/types.go
  relayer/app/cursors_internal_test.go
  relayer/app/monitor.go
  relayer/app/worker.go
  relayer/app/worker_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/xchain): introduce chain version type (#1124)
  e2e/app/monitor.go
  e2e/test/attestations_test.go
  halo/app/lazyvoter.go
  halo/app/start_test.go
  halo/attest/keeper/helper.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/query.go
  halo/attest/testutil/mock_interfaces.go
  halo/attest/types/interface.go
  halo/attest/types/translate.go
  halo/attest/voter/voter.go
  halo/attest/voter/voter_internal_test.go
  halo/attest/voter/voter_test.go
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/provider_test.go
  lib/netconf/netconf.go
  lib/xchain/types.go
  relayer/app/cursors_internal_test.go
  relayer/app/monitor.go
  relayer/app/worker.go
  relayer/app/worker_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo): fix evmstaking event query
  halo/evmstaking/evmstaking.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo): fix evmstaking event query (#1125)
  halo/evmstaking/evmstaking.go
Due: run-go-tests, run-regexp, run-goversion

fix(contracts): remove xmsg gas limit trim on exec
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/src/xchain/OmniPortal.sol
Due: run-go-tests, run-goversion

fix(contracts): remove xmsg gas limit trim on exec (#1126)
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/src/xchain/OmniPortal.sol
Due: run-go-tests, run-goversion

fix(e2e): default to broadcast omni evm if node unspecified
  e2e/app/definition.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): default to broadcast omni evm if node unspecified (#1127)
  e2e/app/definition.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): test val addr separate from cons pub key
  .secrets.baseline
  e2e/app/setup.go
  halo/cmd/init.go
  halo/genutil/genutil.go
  halo/genutil/genutil_test.go
  halo/genutil/testdata/TestMakeGenesis.golden
Due: run-go-tests, run-regexp, run-goversion

chore(halo/voter): attest to multiple versions
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/forkproxy/app/app.go
  e2e/forkproxy/cmd/cmd.go
  e2e/test/attestations_test.go
  e2e/vmcompose/testdata/TestSetup_127-0-0-3-compose.yaml.golden
  halo/attest/voter/voter.go
  lib/netconf/netconf.go
  lib/netconf/netconf_test.go
  lib/xchain/conflevel_string.go
  lib/xchain/types.go
  relayer/app/cursors.go
Due: run-go-tests, run-regexp, run-goversion

just generate random
  e2e/app/setup.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo/voter): attest to multiple versions (#1129)
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/forkproxy/app/app.go
  e2e/forkproxy/cmd/cmd.go
  e2e/test/attestations_test.go
  e2e/vmcompose/testdata/TestSetup_127-0-0-3-compose.yaml.golden
  halo/attest/voter/voter.go
  lib/netconf/netconf.go
  lib/netconf/netconf_test.go
  lib/xchain/conflevel_string.go
  lib/xchain/types.go
  relayer/app/cursors.go
Due: run-go-tests, run-regexp, run-goversion

gen priv key from cons pub key
  .secrets.baseline
  e2e/app/setup.go
Due: run-go-tests, run-regexp, run-goversion

chore(gomod): bump opentelemetry stdouttrace
  go.mod
  go.sum
Due: none

ci(e2e): harden e2e tests
  e2e/app/run.go
  halo/evmengine/keeper/helpers.go
  lib/cchain/provider/abci.go
  lib/xchain/provider/provider.go
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

add up gauge to explorer ui
  explorer/ui/app/routes/metrics.tsx
Due: none

use empty metrics registry
  explorer/ui/app/routes/metrics.tsx
Due: none

scrape explorer ui metrics
  .secrets.baseline
  e2e/app/agent/prometheus.go
  e2e/app/agent/prometheus_internal_test.go
  e2e/app/agent/testdata/TestPromGen_manifest1_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest1_update.golden
  e2e/app/agent/testdata/TestPromGen_manifest2_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest2_update.golden
  e2e/app/agent/testdata/TestPromGen_manifest3_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest3_update.golden
  e2e/app/agent/testdata/TestPromGen_manifest4_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest4_update.golden
Due: run-go-tests, run-regexp, run-goversion

feat(e2e): scrape explorer ui metrics (#1134)
  .secrets.baseline
  e2e/app/agent/prometheus.go
  e2e/app/agent/prometheus_internal_test.go
  e2e/app/agent/testdata/TestPromGen_manifest1_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest1_update.golden
  e2e/app/agent/testdata/TestPromGen_manifest2_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest2_update.golden
  e2e/app/agent/testdata/TestPromGen_manifest3_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest3_update.golden
  e2e/app/agent/testdata/TestPromGen_manifest4_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest4_update.golden
Due: run-go-tests, run-regexp, run-goversion

fix explorer metrics port
  e2e/app/agent/prometheus.go
  e2e/app/agent/testdata/TestPromGen_manifest1_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest2_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest2_update.golden
  e2e/app/agent/testdata/TestPromGen_manifest3_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest4_gen.golden
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): fix explorer metrics port (#1135)
  e2e/app/agent/prometheus.go
  e2e/app/agent/testdata/TestPromGen_manifest1_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest2_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest2_update.golden
  e2e/app/agent/testdata/TestPromGen_manifest3_gen.golden
  e2e/app/agent/testdata/TestPromGen_manifest4_gen.golden
Due: run-go-tests, run-regexp, run-goversion

Remove create3 contract code check
  lib/contracts/create3/deploy.go
Due: run-go-tests, run-regexp, run-goversion
