Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

ci(e2e): clean and refactor eoa
  contracts/allocs/scripts/genallocs.go
  e2e/app/contract.go
  e2e/app/eoa/eoa.go
  e2e/app/eoa/fund.go
  e2e/app/eoa/helpers.go
  e2e/app/eoa/static.go
  e2e/app/portalregistry.go
  e2e/app/run.go
  e2e/app/tokenbridge.go
  e2e/app/valupdates.go
  e2e/netman/helpers.go
  e2e/netman/manager.go
  e2e/netman/pingpong/pingpong.go
  lib/contracts/l1bridge/deploy.go
  lib/contracts/omnitoken/deploy.go
Due: run-go-tests, run-regexp, run-goversion

fix(octane/keeper): avoid division by zero (#1318)
  e2e/app/definition.go
  lib/contracts/feeoraclev1/feeparams.go
  lib/netconf/provider.go
  octane/evmengine/keeper/keeper.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib/xchain): avoid linear merkle index search (#1319)
  lib/merkle/msg_test.go
  lib/xchain/merkle.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo/voter): verify state loaded from disk (#1320)
  halo/attest/voter/voter.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib/k1util): add invalid pubkey error handling (#1321)
  lib/contracts/avs/register.go
  lib/k1util/k1util.go
  lib/k1util/k1util_test.go
  lib/netconf/netconf_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib/merkle): ensure trees have odd number of nodes (#1322)
  lib/merkle/core.go
  lib/merkle/core_test.go
Due: run-go-tests, run-regexp, run-goversion

Apply suggestions from code review
  lib/txmgr/txmgr_internal_test.go
Due: run-go-tests, run-goversion

refactor(*): review todos (#1332)
  halo/app/start.go
  halo/attest/keeper/keeper.go
  halo/cmd/init.go
  lib/ethclient/enginemock.go
  lib/k1util/k1util.go
  lib/netconf/netconf.go
  lib/netconf/provider.go
  lib/txmgr/txmgr_internal_test.go
  relayer/app/types_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): ensure nodes are synced (#1335)
  e2e/app/definition.go
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/ethbackend/backends.go
  lib/txmgr/txmgr.go
  lib/txmgr/txmgr_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib/txmgr): handle network errors while querying receipts (#1330)
  .golangci.yml
  lib/txmgr/txmgr.go
  lib/txmgr/txmgr_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): clean and refactor eoa (#1345)
  contracts/allocs/scripts/genallocs.go
  e2e/app/contract.go
  e2e/app/eoa/eoa.go
  e2e/app/eoa/fund.go
  e2e/app/eoa/helpers.go
  e2e/app/eoa/static.go
  e2e/app/portalregistry.go
  e2e/app/run.go
  e2e/app/tokenbridge.go
  e2e/app/valupdates.go
  e2e/netman/helpers.go
  e2e/netman/manager.go
  e2e/netman/pingpong/pingpong.go
  lib/contracts/l1bridge/deploy.go
  lib/contracts/omnitoken/deploy.go
Due: run-go-tests, run-regexp, run-goversion

enforce github issues instead
  .github/pull-request-template.md
  scripts/verifypr/verify.go
  scripts/verifypr/verify_internal_test.go
Due: run-go-tests, run-goversion

chore(ci): remove asana task req (#1344)
  .github/pull-request-template.md
  scripts/verifypr/verify.go
  scripts/verifypr/verify_internal_test.go
Due: run-go-tests, run-goversion

refactor(monitor): move xchain offset monitoring
  e2e/app/setup.go
  monitor/app/app.go
  monitor/app/config.go
  monitor/app/config.toml.tpl
  monitor/app/testdata/default_monitor.toml
  monitor/xmonitor/emitcursorcache.go
  monitor/xmonitor/emitcursorcache_internal_test.go
  monitor/xmonitor/metrics.go
  monitor/xmonitor/monitor.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
Due: none

refactor(monitor): introduce emit cursor cache (#1333)
  e2e/app/setup.go
  monitor/app/app.go
  monitor/app/config.go
  monitor/app/config.toml.tpl
  monitor/app/testdata/default_monitor.toml
  monitor/xmonitor/emitcursorcache.go
  monitor/xmonitor/emitcursorcache_internal_test.go
  monitor/xmonitor/metrics.go
  monitor/xmonitor/monitor.go
Due: run-go-tests, run-regexp, run-goversion

test(cchain/provider): fix flapping test
  lib/cchain/provider/provider_test.go
  lib/stream/stream.go
Due: run-go-tests, run-regexp, run-goversion

chore(deps): upgrade geth to v1.14.6
  e2e/app/geth/types.go
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-6-compose.yaml.golden
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-goversion

chore(deps): upgrade geth to v1 14 6 (#1347)
  e2e/app/geth/types.go
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-6-compose.yaml.golden
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-goversion

estimategaspending
  e2e/app/run.go
  e2e/app/start.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  lib/ethclient/mock/mock_interfaces.go
  lib/txmgr/txmgr.go
  lib/txmgr/txmgr_internal_test.go
  relayer/app/creator.go
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

test(contracts): add initial predeploy allocs tests
  contracts/.gas-snapshot
  contracts/foundry.toml
  contracts/script/avs/DeployAVS.s.sol
  contracts/script/avs/DeployProxyAdmin.s.sol
  contracts/script/genesis/AllocPredeploys.s.sol
  contracts/test/avs/common/Fixtures.sol
  contracts/test/genesis/AllocPredeploys.t.sol
  contracts/test/genesis/utils/Process.sol
Due: none

test(contracts): add initial predeploy allocs tests (#1354)
  contracts/.gas-snapshot
  contracts/foundry.toml
  contracts/script/avs/DeployAVS.s.sol
  contracts/script/avs/DeployProxyAdmin.s.sol
  contracts/script/genesis/AllocPredeploys.s.sol
  contracts/test/avs/common/Fixtures.sol
  contracts/test/genesis/AllocPredeploys.t.sol
  contracts/test/genesis/utils/Process.sol
Due: none

test(contracts): add predeploy setup tests
  contracts/.gas-snapshot
  contracts/allocs/scripts/genallocs.go
  contracts/bindings/allocpredeploys.go
  contracts/script/genesis/AllocPredeploys.s.sol
  contracts/test/genesis/AllocPredeploys.t.sol
Due: run-go-tests, run-goversion

test(contracts): add predeploy setup tests (#1355)
  contracts/.gas-snapshot
  contracts/allocs/scripts/genallocs.go
  contracts/bindings/allocpredeploys.go
  contracts/script/genesis/AllocPredeploys.s.sol
  contracts/test/genesis/AllocPredeploys.t.sol
Due: run-go-tests, run-goversion

test(contracts): test preinstalls
  contracts/.gas-snapshot
  contracts/src/octane/Preinstalls.sol
  contracts/test/genesis/AllocPredeploys.t.sol
  contracts/test/octane/Preinstalls.t.sol
Due: none

test(contracts): test preinstalls (#1356)
  contracts/.gas-snapshot
  contracts/src/octane/Preinstalls.sol
  contracts/test/genesis/AllocPredeploys.t.sol
  contracts/test/octane/Preinstalls.t.sol
Due: none

fix(txmgr): do not estimate if pending state hasn't been updated yet
  lib/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

fix(txmgr): make log actually useful
  lib/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

refactor(monitor): use eoa package to monitor accounts
  e2e/app/eoa/eoa.go
  e2e/app/fund.go
  monitor/account/account.go
  monitor/account/metrics.go
  monitor/account/monitor.go
  monitor/app/app.go
  monitor/avs/avs.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): fixes funding command
  e2e/app/eoa/fund.go
  e2e/app/eoa/static_test.go
  e2e/app/fund.go
  e2e/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion

test(cchain/provider): fix flapping test (#1346)
  lib/cchain/provider/provider_test.go
  lib/stream/stream.go
Due: run-go-tests, run-regexp, run-goversion

feat(attest): detect reorgs based on XMsg StreamOffsets
  halo/attest/voter/voter.go
Due: run-go-tests, run-regexp, run-goversion

feat(attest): detect reorgs based on XMsg StreamOffsets (#1358)
  halo/attest/voter/voter.go
Due: run-go-tests, run-regexp, run-goversion

:feat(xchain): fetch XMsgLogs and XMsgReceipts by blockhash
  lib/xchain/provider/fetch.go
Due: run-go-tests, run-regexp, run-goversion

feat(xchain): fetch XMsgLogs and XMsgReceipts by blockhash (#1357)
  lib/xchain/provider/fetch.go
Due: run-go-tests, run-regexp, run-goversion

fix(txmgr): make log actually useful (#1359)
  lib/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

chore(verifypr): allow linking issues
  scripts/verifypr/verify.go
  scripts/verifypr/verify_internal_test.go
Due: run-go-tests, run-goversion

chore(e2e/manifests): add base_sepolia to omega
  e2e/manifests/omega.toml
Due: none

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$, but not: (explorer/db/ent/internal/.*)
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)
  run-goversion: any of: \.go$
