Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

chore(monitor/cctpgen): loop per chain with retry
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add docs on swaps being live
  docs/docs/pages/sdk/faq.mdx
  docs/docs/pages/sdk/supported-assets.mdx
Due: none

fix(sdk): integration tests concurrency
  sdk/integration-tests/suites/flows.tsx
Due: none

chore(monitor/cctpgen): loop per chain with retry (#3850)
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): swaps on mainnet (#3851)
  docs/docs/pages/sdk/faq.mdx
  docs/docs/pages/sdk/supported-assets.mdx
Due: none

chore(sdk): rename did fill action and hook
  sdk/integration-tests/test-utils.tsx
  sdk/packages/core/src/contracts/didFill.test.ts
  sdk/packages/core/src/contracts/didFill.ts
  sdk/packages/core/src/index.ts
  sdk/packages/react-next/src/hooks/useDidFill.test-d.ts
  sdk/packages/react-next/src/hooks/useDidFill.test.ts
  sdk/packages/react-next/src/hooks/useDidFill.ts
  sdk/packages/react-next/src/hooks/useDidFillOutbox.test-d.ts
  sdk/packages/react-next/src/hooks/useGetOrderStatus.test.ts
  sdk/packages/react-next/src/hooks/useGetOrderStatus.ts
Due: none

chore(solver/rebalance): test to log mainnet surplus and deficit
  solver/rebalance/deficit.go
  solver/rebalance/integration_test.go
  solver/rebalance/rebalance.go
  solver/rebalance/simulate_test.go
  solver/rebalance/start.go
  solver/rebalance/surplus.go
  solver/rebalance/thresholds.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): rename did fill action and hook (#3853)
  sdk/integration-tests/test-utils.tsx
  sdk/packages/core/src/contracts/didFill.test.ts
  sdk/packages/core/src/contracts/didFill.ts
  sdk/packages/core/src/index.ts
  sdk/packages/react-next/src/hooks/useDidFill.test-d.ts
  sdk/packages/react-next/src/hooks/useDidFill.test.ts
  sdk/packages/react-next/src/hooks/useDidFill.ts
  sdk/packages/react-next/src/hooks/useDidFillOutbox.test-d.ts
  sdk/packages/react-next/src/hooks/useGetOrderStatus.test.ts
  sdk/packages/react-next/src/hooks/useGetOrderStatus.ts
Due: none

chore(solver/rebalance): test to log mainnet surplus and deficit (#3854)
  solver/rebalance/deficit.go
  solver/rebalance/integration_test.go
  solver/rebalance/rebalance.go
  solver/rebalance/simulate_test.go
  solver/rebalance/start.go
  solver/rebalance/surplus.go
  solver/rebalance/thresholds.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifests): bump monitor pin
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(e2e/manifests): bump monitor pin (#3855)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

reactivate test for ETH to native Omni transfer
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/test-utils.tsx
Due: none

chore(sdk): remove readme and direct to docs
  sdk/packages/react/README.md
Due: none

use specific account in test
  sdk/integration-tests/suites/flows.tsx
Due: none

fix(sdk): integration tests concurrency (#3852)
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/test-utils.tsx
Due: none

chore(solver/rebalance): rename simulate to snapshot
  solver/rebalance/snapshot_test.go
Due: run-go-tests, run-golint, run-goversion

chore(solver/rebalance): default threshold
  solver/rebalance/integration_test.go
  solver/rebalance/thresholds.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): remove readme and direct to docs (#3856)
  sdk/packages/react/README.md
Due: none

chore: revert GenesisStake, create GenesisStakeV2
  contracts/core/package.json
  contracts/core/pnpm-lock.yaml
  contracts/core/script/admin/GenesisStakeV2UpgradeTest.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStakeQA.s.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStakeV2.s.sol
  contracts/core/script/manual/genesis-staking/StagingGenesisStake.s.sol
  contracts/core/script/manual/genesis-staking/StagingGenesisStakeV2.s.sol
  contracts/core/script/scripts/stake.js
  contracts/core/src/interfaces/IGenesisStakeV2.sol
  contracts/core/src/token/GenesisStakeV2.sol
  contracts/core/src/token/MerkleDistributorWithoutDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
  contracts/core/test/token/MerkleDistributorWithoutDeadline.t.sol
Due: none

Revert "chore: revert GenesisStake, create GenesisStakeV2"
  contracts/core/package.json
  contracts/core/pnpm-lock.yaml
  contracts/core/script/admin/GenesisStakeUpgradeTest.sol
  contracts/core/script/admin/GenesisStakeV2UpgradeTest.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStake.s.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStakeQA.s.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStakeV2.s.sol
  contracts/core/script/manual/genesis-staking/StagingGenesisStake.s.sol
  contracts/core/script/manual/genesis-staking/StagingGenesisStakeV2.s.sol
  contracts/core/script/scripts/stake.js
  contracts/core/src/interfaces/IGenesisStake.sol
  contracts/core/src/interfaces/IGenesisStakeV2.sol
  contracts/core/src/token/GenesisStake.sol
  contracts/core/src/token/GenesisStakeV2.sol
  contracts/core/src/token/MerkleDistributorWithoutDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
  contracts/core/test/token/MerkleDistributorWithoutDeadline.t.sol
Due: none

Reapply "chore: revert GenesisStake, create GenesisStakeV2"
  contracts/core/script/admin/GenesisStakeV2UpgradeTest.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStakeQA.s.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStakeV2.s.sol
  contracts/core/script/manual/genesis-staking/StagingGenesisStake.s.sol
  contracts/core/script/manual/genesis-staking/StagingGenesisStakeV2.s.sol
  contracts/core/src/interfaces/IGenesisStakeV2.sol
  contracts/core/src/token/GenesisStakeV2.sol
  contracts/core/src/token/MerkleDistributorWithoutDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
  contracts/core/test/token/MerkleDistributorWithoutDeadline.t.sol
Due: none

chore(solver/rebalance): default threshold (#3857)
  solver/rebalance/integration_test.go
  solver/rebalance/thresholds.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): rename simulate to snapshot (#3858)
  solver/rebalance/snapshot_test.go
Due: run-go-tests, run-golint, run-goversion

chore(solver/rebalance): fix snapshot flag name
  solver/rebalance/snapshot_test.go
Due: run-go-tests, run-golint, run-goversion

add back postinstall to SDK
  sdk/package.json
Due: none

add readme to core package and update changelogs
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/core/CHANGELOG.md
  sdk/packages/core/README.md
  sdk/packages/react/CHANGELOG.md
Due: none

chore(solver/rebalance): fix snapshot flag name (#3859)
  solver/rebalance/snapshot_test.go
Due: run-go-tests, run-golint, run-goversion

chore(ci): skip rebalance tests if no secret access
  .github/workflows/rebalance-test.yaml
Due: none

feat(sdk): higher-level core APIs
  sdk/integration-tests/test-utils.tsx
  sdk/packages/core/src/api/validateOrder.ts
  sdk/packages/core/src/contracts/sendOrderTransaction.test.ts
  sdk/packages/core/src/contracts/sendOrderTransaction.ts
  sdk/packages/core/src/contracts/waitForOrderOpen.ts
  sdk/packages/core/src/contracts/waitForOrderStatus.ts
  sdk/packages/core/src/contracts/watchOrder.ts
  sdk/packages/core/src/flows/generateOrder.ts
  sdk/packages/core/src/flows/openOrder.ts
  sdk/packages/core/src/index.ts
  sdk/packages/react/src/hooks/useOrder.test.ts
  sdk/packages/react/src/hooks/useOrder.ts
Due: none

feat(sdk): use environment instead of API URLs
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/core/src/api/getContracts.ts
  sdk/packages/core/src/api/getQuote.test.ts
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/core/src/api/validateOrder.test.ts
  sdk/packages/core/src/api/validateOrder.ts
  sdk/packages/core/src/constants/apis.ts
  sdk/packages/core/src/index.ts
  sdk/packages/core/src/utils/getApiUrl.test.ts
  sdk/packages/core/src/utils/getApiUrl.ts
  sdk/packages/react/src/context/omni.tsx
  sdk/packages/react/src/hooks/useQuote.ts
  sdk/packages/react/src/hooks/useValidateOrder.ts
Due: none

chore(docs): correct withExecAndTransfer and without onBehalfOf docs
  docs/docs/pages/guides/contracts-without-onbehalfof.mdx
  docs/docs/pages/sdk/utils/withExecAndTransfer.md
  docs/docs/pages/sdk/utils/withExecAndTransfer.mdx
Due: none

chore(solver/rebalance): tweak thresholds
  solver/rebalance/thresholds.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Update docs/docs/pages/guides/contracts-without-onbehalfof.mdx
  docs/docs/pages/guides/contracts-without-onbehalfof.mdx
Due: none

Update docs/docs/pages/sdk/utils/withExecAndTransfer.mdx
  docs/docs/pages/guides/contracts-without-onbehalfof.mdx
  docs/docs/pages/sdk/utils/withExecAndTransfer.mdx
Due: none

chore(solver/rebalance): tweak thresholds (#3869)
  solver/rebalance/thresholds.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): correct execAndTransfer and onBehalfOf docs (#3865)
  docs/docs/pages/guides/contracts-without-onbehalfof.mdx
  docs/docs/pages/sdk/utils/withExecAndTransfer.md
  docs/docs/pages/sdk/utils/withExecAndTransfer.mdx
Due: none

chore(solver): enable rebalance on mainnet
  solver/app/app.go
  solver/rebalance/config.go
  solver/rebalance/integration_test.go
  solver/rebalance/options.go
  solver/rebalance/rebalance.go
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
