Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

chore(monitor): recon latest routescan cross tx
  lib/xchain/connect/connect.go
  monitor/app/app.go
  monitor/routerecon/metrics.go
  monitor/routerecon/recon.go
  monitor/routerecon/recon_internal_test.go
  monitor/routerecon/routescan.go
  monitor/routerecon/routescan_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(monitor): recon latest routescan cross tx (#1746)
  lib/xchain/connect/connect.go
  monitor/app/app.go
  monitor/routerecon/metrics.go
  monitor/routerecon/recon.go
  monitor/routerecon/recon_internal_test.go
  monitor/routerecon/routescan.go
  monitor/routerecon/routescan_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): add contract verification utils
  contracts/core/.env.example
  contracts/core/foundry.toml
  contracts/core/script/helpverify/README.md
  contracts/core/script/helpverify/creationtx.go
  contracts/core/script/helpverify/main.go
  contracts/core/script/helpverify/proxycreate3.go
  contracts/core/script/helpverify/static.go
Due: run-go-tests, run-regexp, run-goversion

feat(monitor/xfeemngr): manage fee params for chain not in network (#1706)
  e2e/types/testdata/TestAttestIntervals.golden
  lib/contracts/feeoraclev1/deploy.go
  lib/contracts/feeoraclev1/feeparams.go
  lib/evmchain/evmchain.go
  lib/netconf/netconf.go
  lib/netconf/static.go
  monitor/app/app.go
  monitor/xfeemngr/contract/bound.go
  monitor/xfeemngr/contract/contract.go
  monitor/xfeemngr/contract/mock.go
  monitor/xfeemngr/oracle.go
  monitor/xfeemngr/xfeemngr.go
  monitor/xfeemngr/xfeemngr_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): allow ephemeral network upgrades
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): allow ephemeral network upgrades (#1748)
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): add contract verification utils (#1744)
  contracts/core/.env.example
  contracts/core/foundry.toml
  contracts/core/script/helpverify/README.md
  contracts/core/script/helpverify/creationtx.go
  contracts/core/script/helpverify/main.go
  contracts/core/script/helpverify/proxycreate3.go
  contracts/core/script/helpverify/static.go
Due: run-go-tests, run-regexp, run-goversion

feat(e2e): pass all rpc overrides to xfeemngr
  e2e/app/setup.go
  monitor/app/app.go
  monitor/app/config.go
  monitor/app/config.toml.tpl
  monitor/app/testdata/default_monitor.toml
  monitor/cmd/cmd.go
  monitor/cmd/flags.go
  monitor/xfeemngr/xfeemngr.go
Due: run-go-tests, run-regexp, run-goversion

saving progress
  contracts/core/src/interfaces/IOmniExchange.sol
  contracts/core/src/pkg/XAppBase.sol
  contracts/core/src/pkg/XAppFunder.sol
  contracts/core/src/pkg/XAppUpgradeable.sol
  contracts/core/src/token/OmniExchange.sol
  contracts/core/src/token/OmniFund.sol
Due: none

Add styling
  docs/content/operate/run-full-node.md
  docs/content/operate/validator.md
  docs/website/docusaurus.config.ts
  docs/website/sidebars.ts
  docs/website/src/components/HomepageFeatures/index.tsx
  docs/website/src/components/IntroVideo/index.module.css
  docs/website/src/components/IntroVideo/index.tsx
  docs/website/src/css/custom.css
  docs/website/src/pages/index.module.css
  docs/website/src/pages/index.tsx
  docs/website/static/img/Build.svg
  docs/website/static/img/FAQ.svg
  docs/website/static/img/Learn.svg
  docs/website/static/img/docusaurus-social-card.jpg
  docs/website/static/img/docusaurus.png
  docs/website/static/img/omni-intro.png
  docs/website/static/img/undraw_docusaurus_mountain.svg
  docs/website/static/img/undraw_docusaurus_react.svg
  docs/website/static/img/undraw_docusaurus_tree.svg
Due: none

Add newline
  docs/website/static/img/Build.svg
  docs/website/static/img/FAQ.svg
  docs/website/static/img/Learn.svg
Due: none

feat(e2e): pass all rpc overrides to xfeemnger (#1749)
  e2e/app/setup.go
  monitor/app/app.go
  monitor/app/config.go
  monitor/app/config.toml.tpl
  monitor/app/testdata/default_monitor.toml
  monitor/cmd/cmd.go
  monitor/cmd/flags.go
  monitor/xfeemngr/xfeemngr.go
Due: run-go-tests, run-regexp, run-goversion

chore(monitor): improve routescan recon
  lib/netconf/netconf.go
  monitor/routerecon/metrics.go
  monitor/routerecon/recon.go
  monitor/routerecon/recon_internal_test.go
  monitor/routerecon/routescan.go
  monitor/routerecon/routescan_internal_test.go
  monitor/routerecon/types.go
Due: run-go-tests, run-regexp, run-goversion

chore(monitor): improve routescan recon (#1750)
  lib/netconf/netconf.go
  monitor/routerecon/metrics.go
  monitor/routerecon/recon.go
  monitor/routerecon/recon_internal_test.go
  monitor/routerecon/routescan.go
  monitor/routerecon/routescan_internal_test.go
  monitor/routerecon/types.go
Due: run-go-tests, run-regexp, run-goversion

Further styling and cleanups
  docs/content/build-xdapp/quickstart.md
  docs/content/build-xdapp/showcase-dapps.md
  docs/content/build-xdapp/walkthrough.md
  docs/website/docusaurus.config.ts
  docs/website/src/components/GitHubCodeBlock/GitHubCodeBlock.css
  docs/website/src/components/HomepageFeatures/index.tsx
  docs/website/src/components/IntroVideo/index.tsx
  docs/website/src/css/custom.css
  docs/website/src/pages/index.tsx
Due: none

Fix trailing
  docs/content/build-xdapp/showcase-dapps.md
Due: none

Styling update
  docs/website/src/components/IntroVideo/index.tsx
  docs/website/src/css/custom.css
Due: none

Improve sidenav collapsing
  docs/content/learn/architecture.md
  docs/website/sidebars.ts
Due: none

fix newlines
  docs/content/learn/architecture.md
Due: none

chore(monitor): add basic historical recon test
  e2e/anvilproxy/app/xmsg.go
  e2e/test/attestations_test.go
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/keeper/query.go
  halo/attest/types/query.pb.go
  halo/attest/types/query.proto
  halo/portal/keeper/portal.pb.go
  halo/portal/keeper/portal.proto
  halo/valsync/keeper/keeper.go
  halo/valsync/keeper/valsync.pb.go
  halo/valsync/keeper/valsync.proto
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/xchain/provider.go
  lib/xchain/provider/fetch.go
  lib/xchain/types.go
  monitor/routerecon/recon_internal_test.go
  monitor/routerecon/routescan.go
  monitor/routerecon/types.go
  monitor/xmonitor/metrics.go
  monitor/xmonitor/monitor.go
  relayer/app/cursors.go
  relayer/app/cursors_internal_test.go
  relayer/app/types_internal_test.go
  relayer/app/worker.go
  relayer/app/worker_internal_test.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

chore(monitor): add basic historical recon test (#1751)
  e2e/anvilproxy/app/xmsg.go
  e2e/test/attestations_test.go
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/keeper/query.go
  halo/attest/types/query.pb.go
  halo/attest/types/query.proto
  halo/portal/keeper/portal.pb.go
  halo/portal/keeper/portal.proto
  halo/valsync/keeper/keeper.go
  halo/valsync/keeper/valsync.pb.go
  halo/valsync/keeper/valsync.proto
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/xchain/provider.go
  lib/xchain/provider/fetch.go
  lib/xchain/types.go
  monitor/routerecon/recon_internal_test.go
  monitor/routerecon/routescan.go
  monitor/routerecon/types.go
  monitor/xmonitor/metrics.go
  monitor/xmonitor/monitor.go
  relayer/app/cursors.go
  relayer/app/cursors_internal_test.go
  relayer/app/types_internal_test.go
  relayer/app/worker.go
  relayer/app/worker_internal_test.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

fix(monitor/xfeemngr): handle postTo self cast
  monitor/xfeemngr/oracle.go
Due: run-go-tests, run-regexp, run-goversion

chore(xchain): support querying submission from tx
  halo/attest/voter/voter_test.go
  lib/xchain/abi.go
  lib/xchain/abi_internal_test.go
  lib/xchain/provider.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/mock.go
  relayer/app/cursors_internal_test.go
  relayer/app/sender.go
  relayer/app/types.go
  relayer/app/types_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(monitor/xfeemngr): handle postTo self case (#1752)
  monitor/xfeemngr/oracle.go
Due: run-go-tests, run-regexp, run-goversion

chore(xchain): remove unused conf level from receipt
  lib/xchain/types.go
Due: run-go-tests, run-regexp, run-goversion

chore(xchain): support querying submission from tx (#1753)
  halo/attest/voter/voter_test.go
  lib/xchain/abi.go
  lib/xchain/abi_internal_test.go
  lib/xchain/provider.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/mock.go
  relayer/app/cursors_internal_test.go
  relayer/app/sender.go
  relayer/app/types.go
  relayer/app/types_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(xchain): remove unused conf level from receipt (#1755)
  lib/xchain/types.go
Due: run-go-tests, run-regexp, run-goversion

Further cleanups
  docs/content/faq.md
  docs/content/learn/architecture.md
  docs/content/learn/what-is-omni.md
  docs/website/docusaurus.config.ts
  docs/website/src/components/IntroVideo/index.module.css
  docs/website/src/components/IntroVideo/index.tsx
  docs/website/src/pages/index.tsx
  docs/website/static/img/omni-intro.png
  docs/website/static/img/omni_1.mp4
  docs/website/static/img/omni_2.mp4
Due: none

Add FAQ headers
  docs/content/faq.md
Due: none

Remove landing page, add omega
  docs/content/build-xdapp/_category_.json
  docs/content/build-xdapp/quickstart.md
  docs/content/build-xdapp/showcase-dapps.md
  docs/content/build-xdapp/testnet-omega.md
  docs/content/build-xdapp/walkthrough.md
  docs/content/learn/_category_.json
  docs/content/operate/_category_.json
  docs/website/sidebars.ts
  docs/website/src/pages/index.module.css
  docs/website/src/pages/index.tsx
  docs/website/static/img/omni-intro.png
Due: none

Remove link out icons
  docs/website/docusaurus.config.ts
Due: none

Add hidden xmsg
  docs/content/learn/xmsg.md
Due: none

Fix trailing
  docs/content/learn/xmsg.md
Due: none

ci(e2e): add backwards compatibility test
  Makefile
  e2e/app/definition.go
  e2e/app/perturb.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/docker/docker_test.go
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/manifests/backwards.toml
  e2e/types/manifest.go
  e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): add backwards compatibility test (#1762)
  Makefile
  e2e/app/definition.go
  e2e/app/perturb.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/docker/docker_test.go
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/manifests/backwards.toml
  e2e/types/manifest.go
  e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

chore(github): build and push halovisor on release
  .github/workflows/release-official.yml
Due: none

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$, but not: (explorer/db/ent/internal/.*)
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)
  run-goversion: any of: \.go$
