Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

chore(docs): update operators roadmap
  docs/content/operate/4-roadmap.md
Due: none

chore(admin): whitelist operator Finoa
  e2e/app/admin/allowoperator.go
Due: run-go-tests, run-regexp, run-goversion

chore(admin): whitelist operator Finoa (#2298)
  e2e/app/admin/allowoperator.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): fix release link (#2296)
  docs/content/operate/1-run-full-node.md
Due: none

ci(scripts/join): improve join nightly metrics
  scripts/join/join_test.go
Due: run-go-tests, run-goversion

ci(scripts/join): improve join nightly metrics (#2299)
  scripts/join/join_test.go
Due: run-go-tests, run-goversion

ci(scripts/join): fix join nightly eta
  scripts/join/join_test.go
Due: run-go-tests, run-goversion

ci(scripts/join): fix join nightly eta (#2300)
  scripts/join/join_test.go
Due: run-go-tests, run-goversion

fix(contracts/core): remove redundant xcall fee check
  contracts/bindings/admin.go
  contracts/bindings/omnigaspump.go
  contracts/bindings/omnigasstation.go
  contracts/bindings/pingpong.go
  contracts/core/.gas-snapshot
  contracts/core/src/pkg/XAppBase.sol
Due: run-go-tests, run-goversion

fix(contracts/core): remove redundant xcall fee check (#2301)
  contracts/bindings/admin.go
  contracts/bindings/omnigaspump.go
  contracts/bindings/omnigasstation.go
  contracts/bindings/pingpong.go
  contracts/core/.gas-snapshot
  contracts/core/src/pkg/XAppBase.sol
Due: run-go-tests, run-goversion

ci(scripts/join): fix join nightly nil pointer
  scripts/join/join_test.go
Due: run-go-tests, run-goversion

ci(scripts/join): fix join nightly nil pointer (#2302)
  scripts/join/join_test.go
Due: run-go-tests, run-goversion

refactor
  monitor/app/app.go
  monitor/app/metrics.go
  monitor/app/public_rpc.go
Due: run-go-tests, run-regexp, run-goversion

refactored Fixtures to use XSubGen for XBlock and XSubmission payloads instead of TS-generated JSONs
  contracts/core/test/utils/XSubGen.sol
  contracts/core/test/xchain/OmniPortal_xsubmit.t.sol
  contracts/core/test/xchain/common/Fixtures.sol
Due: none

removed deprecated files and finished adjusting all other tests for revised Fixtures contract
  contracts/core/.gas-snapshot
  contracts/core/package.json
  contracts/core/test/templates/OmniPortal.t.sol
  contracts/core/test/xchain/OmniPortal_admin.t.sol
  contracts/core/test/xchain/OmniPortal_sys.t.sol
  contracts/core/test/xchain/OmniPortal_xsubmit_gas.t.sol
  contracts/core/test/xchain/data/xblocks.json
  contracts/core/test/xchain/data/xblocks_decoded.json
  contracts/core/test/xchain/data/xsubs.json
  contracts/core/test/xchain/data/xsubs_decoded.json
  contracts/core/test/xchain/script/WriteTestXBlocks.s.sol
  contracts/core/test/xchain/ts/abis.ts
  contracts/core/test/xchain/ts/merkle.ts
  contracts/core/test/xchain/ts/script/genxsubs/io.ts
  contracts/core/test/xchain/ts/script/genxsubs/main.ts
  contracts/core/test/xchain/ts/script/genxsubs/types.ts
  contracts/core/test/xchain/ts/script/genxsubs/utils.ts
  contracts/core/test/xchain/ts/xtypes.ts
Due: none

refactored to utilize msgFlags rather than filtering XBlock when creating XSubmission
  contracts/core/.gas-snapshot
  contracts/core/oracle.json
  contracts/core/portal.json
  contracts/core/proxy.json
  contracts/core/test/templates/OmniPortal.t.sol
  contracts/core/test/utils/XSubGen.sol
  contracts/core/test/xchain/OmniPortal_admin.t.sol
  contracts/core/test/xchain/OmniPortal_sys.t.sol
  contracts/core/test/xchain/OmniPortal_xsubmit.t.sol
  contracts/core/test/xchain/OmniPortal_xsubmit_gas.t.sol
Due: none

removed unnecessary abi files
  contracts/core/oracle.json
  contracts/core/portal.json
  contracts/core/proxy.json
Due: none

feat(monitor/app): track quicknode RPC and compare to omni node (#2288)
  monitor/app/app.go
  monitor/app/metrics.go
  monitor/app/public_rpc.go
Due: run-go-tests, run-regexp, run-goversion

add zodomo to codeowners
  .github/CODEOWNERS
Due: none

ci(lib/contracts): retry factory deploys
  contracts/bindings/create3_helper.go
  lib/contracts/gaspump/deploy.go
  lib/contracts/gasstation/deploy.go
  lib/contracts/l1bridge/deploy.go
  lib/contracts/omnitoken/deploy.go
  lib/contracts/portal/deploy.go
Due: run-go-tests, run-regexp, run-goversion

test(contracts/core): replaced TS helpers with XSubGen (#2287)
  contracts/core/.gas-snapshot
  contracts/core/package.json
  contracts/core/test/templates/OmniPortal.t.sol
  contracts/core/test/utils/XSubGen.sol
  contracts/core/test/xchain/OmniPortal_admin.t.sol
  contracts/core/test/xchain/OmniPortal_sys.t.sol
  contracts/core/test/xchain/OmniPortal_xsubmit.t.sol
  contracts/core/test/xchain/OmniPortal_xsubmit_gas.t.sol
  contracts/core/test/xchain/common/Fixtures.sol
  contracts/core/test/xchain/data/xblocks.json
  contracts/core/test/xchain/data/xblocks_decoded.json
  contracts/core/test/xchain/data/xsubs.json
  contracts/core/test/xchain/data/xsubs_decoded.json
  contracts/core/test/xchain/script/WriteTestXBlocks.s.sol
  contracts/core/test/xchain/ts/abis.ts
  contracts/core/test/xchain/ts/merkle.ts
  contracts/core/test/xchain/ts/script/genxsubs/io.ts
  contracts/core/test/xchain/ts/script/genxsubs/main.ts
  contracts/core/test/xchain/ts/script/genxsubs/types.ts
  contracts/core/test/xchain/ts/script/genxsubs/utils.ts
  contracts/core/test/xchain/ts/xtypes.ts
Due: none

ci(lib/contracts): retry factory deploys (#2308)
  contracts/bindings/create3_helper.go
  lib/contracts/gaspump/deploy.go
  lib/contracts/gasstation/deploy.go
  lib/contracts/l1bridge/deploy.go
  lib/contracts/omnitoken/deploy.go
  lib/contracts/portal/deploy.go
Due: run-go-tests, run-regexp, run-goversion

cleanup team accts
  halo/genutil/evm/evm.go
Due: run-go-tests, run-regexp, run-goversion

chore(ci): add zodomo to codeowners (#2309)
  .github/CODEOWNERS
Due: none

refactored FeeOracleV2 for better gas efficiency
  contracts/core/.gas-snapshot
  contracts/core/proxy.json
  contracts/core/src/interfaces/IConversionRateOracleV2.sol
  contracts/core/src/interfaces/IFeeOracleV2.sol
  contracts/core/src/xchain/FeeOracleV2.sol
  contracts/core/test/xchain/FeeOracleV2.t.sol
Due: none

refactored to eliminate duplicate IConversionRateOracle
  contracts/core/.gas-snapshot
  contracts/core/src/interfaces/IConversionRateOracleV2.sol
  contracts/core/src/interfaces/IFeeOracleV2.sol
  contracts/core/src/xchain/FeeOracleV2.sol
  contracts/core/test/xchain/FeeOracleV2.t.sol
Due: none

further optimize baseGasLimit and protocolFee
  contracts/core/.gas-snapshot
  contracts/core/src/interfaces/IFeeOracleV2.sol
  contracts/core/src/xchain/FeeOracleV2.sol
  contracts/core/test/xchain/FeeOracleV2.t.sol
Due: none

removed unnecessary abi file
  contracts/core/proxy.json
Due: none

refactor(contracts/core): improved variable packing to reduce gas costs (#2291)
  contracts/core/.gas-snapshot
  contracts/core/src/interfaces/IFeeOracleV2.sol
  contracts/core/src/xchain/FeeOracleV2.sol
  contracts/core/test/xchain/FeeOracleV2.t.sol
Due: none

added logic to create new valsets of any size and did gas testing with multiple sizes
  contracts/core/.gas-snapshot
  contracts/core/test/utils/XSubGen.sol
  contracts/core/test/xchain/OmniPortal_xsubmit_gas.t.sol
  contracts/core/test/xchain/common/Fixtures.sol
Due: none

fix .gas-snapshot
  contracts/core/.gas-snapshot
Due: none

test(contracts/core): test gas metrics using larger valsets (#2311)
  contracts/core/.gas-snapshot
  contracts/core/test/utils/XSubGen.sol
  contracts/core/test/xchain/OmniPortal_xsubmit_gas.t.sol
  contracts/core/test/xchain/common/Fixtures.sol
Due: none

feat(cchain/provider): add attest stream cache
  cli/cmd/initnodes.go
  cli/cmd/staking.go
  e2e/app/monitor.go
  e2e/test/attestations_test.go
  e2e/test/cli_test.go
  halo/app/pruning_test.go
  halo/app/start.go
  halo/app/start_test.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/metrics.go
  lib/cchain/provider/provider.go
  lib/stream/cache.go
  lib/stream/cache_internal_test.go
  lib/stream/cache_test.go
  lib/stream/stream.go
  lib/xchain/connect/connect.go
  lib/xchain/provider/provider.go
  monitor/app/app.go
  relayer/app/app.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/ethclient): make syncprogress safe
  halo/app/monitor.go
  lib/ethclient/enginemock.go
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  lib/ethclient/mock/mock_interfaces.go
  lib/txmgr/txmgr.go
  lib/txmgr/txmgr_internal_test.go
  monitor/app/public_rpc.go
  scripts/join/join_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/ethclient): make syncprogress safe (#2316)
  halo/app/monitor.go
  lib/ethclient/enginemock.go
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  lib/ethclient/mock/mock_interfaces.go
  lib/txmgr/txmgr.go
  lib/txmgr/txmgr_internal_test.go
  monitor/app/public_rpc.go
  scripts/join/join_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(monitor/xfeemngr): support coingecko pro
  e2e/app/definition.go
  e2e/app/setup.go
  e2e/cmd/flags.go
  lib/tokens/coingecko/coingecko.go
  lib/tokens/coingecko/coingecko_internal_test.go
  lib/tokens/coingecko/coingecko_test.go
  lib/tokens/coingecko/options.go
  monitor/app/config.toml.tpl
  monitor/app/testdata/default_monitor.toml
  monitor/cmd/flags.go
  monitor/xfeemngr/xfeemngr.go
Due: run-go-tests, run-regexp, run-goversion

feat(realyer): cache offset
  e2e/app/rpc.go
  e2e/manifests/devnet1.toml
  lib/cchain/provider/abci.go
  lib/cchain/provider/attestations.go
  lib/cchain/provider/metrics.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/provider_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(realyer): move back to func
  lib/cchain/provider/abci.go
  lib/cchain/provider/attestations.go
Due: run-go-tests, run-regexp, run-goversion

use a node as public rpc replacement
  monitor/app/public_rpc.go
Due: run-go-tests, run-regexp, run-goversion

review comments
  monitor/app/public_rpc.go
Due: run-go-tests, run-regexp, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$, but not: (explorer/db/ent/internal/.*)
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)
  run-goversion: any of: \.go$
