Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

fix
  explorer/indexer/app/db_test.go
Due: run-go-tests, run-goversion

fix(explorer/indexer): msg insert fix (#905)
  explorer/indexer/app/db.go
  explorer/indexer/app/db_test.go
Due: run-go-tests, run-regexp, run-goversion

fix
  explorer/db/ent/internal/schema.go
  explorer/db/ent/migrate/schema.go
  explorer/db/ent/msg/where.go
  explorer/db/ent/msg_create.go
  explorer/db/ent/msg_update.go
  explorer/db/ent/mutation.go
  explorer/db/ent/schema/msg.go
Due: run-go-tests, run-goversion

fix(explorer/indexer): need to make the block hash for msgs (#906)
  explorer/db/ent/internal/schema.go
  explorer/db/ent/migrate/schema.go
  explorer/db/ent/msg/where.go
  explorer/db/ent/msg_create.go
  explorer/db/ent/msg_update.go
  explorer/db/ent/mutation.go
  explorer/db/ent/schema/msg.go
Due: run-go-tests, run-goversion

ci(e2e): improve funding validator update logging
  e2e/app/valupdates.go
Due: run-go-tests, run-regexp, run-goversion

docs(fix): fix dark mode search colors
  docs/site/src/css/custom.css
Due: none

docs(fix): add tokenomics for discoverability
  docs/site/docs/learn/omni/token/token.md
  docs/site/docs/protocol/xmessages/fees/native.md
Due: none

docs(fix): style and token info discoverability (#908)
  docs/site/docs/learn/omni/token/token.md
  docs/site/docs/protocol/xmessages/fees/native.md
  docs/site/src/css/custom.css
Due: none

Added tooltips, styling improvements and a few odd changes
  explorer/ui/app/assets/images/BlockScan.svg
  explorer/ui/app/assets/images/RouteScan.svg
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/shared/dropdown.tsx
  explorer/ui/app/components/shared/explorerDropdown.tsx
  explorer/ui/app/components/shared/navbar.tsx
  explorer/ui/app/graphql/gql.ts
  explorer/ui/app/graphql/graphql.ts
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
Due: none

feat(explorer/ui): graphql query for xmsgs (#895)
  explorer/ui/app/components/queries/messages.tsx
Due: none

logs more
  e2e/app/fund.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e/fund): more logs (#911)
  e2e/app/fund.go
Due: run-go-tests, run-regexp, run-goversion

fix(contracts): simplify revert forwarding
  contracts/.gas-snapshot
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/OmniPortal_xsubmit.t.sol
  contracts/test/portal/common/PortalHarness.sol
Due: none

fix(contracts): simplify revert forwarding (#912)
  contracts/.gas-snapshot
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/OmniPortal_xsubmit.t.sol
  contracts/test/portal/common/PortalHarness.sol
Due: none

tests passing
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/message_provider.go
  explorer/graphql/data/provider_helpers.go
  explorer/graphql/data/receipt_provider.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/types.go
Due: run-go-tests, run-regexp, run-goversion

ui component update
  explorer/ui/app/components/queries/messages.tsx
Due: none

msg and receipt ids
  explorer/db/testutil.go
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/provider_helpers.go
  explorer/graphql/resolvers/messages.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/types.go
Due: run-go-tests, run-regexp, run-goversion

nit
  explorer/ui/app/components/queries/messages.tsx
Due: none

Update messages.go
  explorer/graphql/resolvers/messages.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): add error bytes to xreceipts
  contracts/.gas-snapshot
  contracts/bindings/omniavs.go
  contracts/bindings/omniportal.go
  contracts/src/interfaces/IOmniPortal.sol
  contracts/src/protocol/OmniPortal.sol
  contracts/src/protocol/OmniPortalConstants.sol
  contracts/test/portal/OmniPortal_exec.t.sol
  contracts/test/portal/OmniPortal_xsubmit.t.sol
  contracts/test/portal/common/Events.sol
  contracts/test/portal/common/Fixtures.sol
  contracts/test/portal/common/Reverter.sol
  contracts/test/portal/common/TestXTypes.sol
  contracts/test/portal/common/Utils.sol
  lib/xchain/provider/fetch.go
  lib/xchain/types.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): add error bytes to xreceipts (#916)
  contracts/.gas-snapshot
  contracts/bindings/omniavs.go
  contracts/bindings/omniportal.go
  contracts/src/interfaces/IOmniPortal.sol
  contracts/src/protocol/OmniPortal.sol
  contracts/src/protocol/OmniPortalConstants.sol
  contracts/test/portal/OmniPortal_exec.t.sol
  contracts/test/portal/OmniPortal_xsubmit.t.sol
  contracts/test/portal/common/Events.sol
  contracts/test/portal/common/Fixtures.sol
  contracts/test/portal/common/Reverter.sol
  contracts/test/portal/common/TestXTypes.sol
  contracts/test/portal/common/Utils.sol
  lib/xchain/provider/fetch.go
  lib/xchain/types.go
Due: run-go-tests, run-regexp, run-goversion

Replaced xmsgs query with paginated alternative, removed redundant filter options, added address and tx hash detection in search
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/shared/search.tsx
  explorer/ui/app/graphql/gql.ts
  explorer/ui/app/graphql/graphql.ts
  explorer/ui/app/routes/_index.tsx
Due: none

Made some filter components controlled, updated filtering params, added filter clear
  explorer/ui/app/components/home/chainDropdown.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/shared/button-legacy.tsx
  explorer/ui/app/components/shared/button.tsx
  explorer/ui/app/components/shared/filterOptions.tsx
  explorer/ui/app/components/shared/simpleTable.tsx
Due: none

ci(e2e): improve funding validator update logging (#907)
  e2e/app/valupdates.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo/evm): testnet address update
  halo/genutil/evm/evm.go
Due: run-go-tests, run-regexp, run-goversion

fix go mod
  go.mod
  go.sum
Due: none

chore(halo/evm): testnet address update (#918)
  halo/genutil/evm/evm.go
Due: run-go-tests, run-regexp, run-goversion

Added copy to clipboard util, reverted to xmsg range, tooltip styling, removed pagination from simple table
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/shared/simpleTable.tsx
  explorer/ui/app/lib/utils.tsx
  explorer/ui/app/routes/_index.tsx
Due: none

chore(halo): improve halo config
  halo/app/start.go
  halo/cmd/cometconfig.go
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/evmengine/keeper/msg_server.go
  halo/genutil/genutil.go
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): make portal xmsg params configurable
  contracts/.gas-snapshot
  contracts/bindings/omniavs.go
  contracts/bindings/omniportal.go
  contracts/src/interfaces/IOmniPortal.sol
  contracts/src/interfaces/IOmniPortalAdmin.sol
  contracts/src/pkg/XApp.sol
  contracts/src/protocol/OmniPortal.sol
  contracts/src/protocol/OmniPortalConstants.sol
  contracts/src/protocol/OmniPortalStorage.sol
  contracts/test/portal/OmniPortal_feeFor.t.sol
  contracts/test/portal/OmniPortal_xcall.t.sol
  contracts/test/portal/common/Fixtures.sol
  contracts/test/utils/MockPortal.sol
  docs/site/docs/develop/contracts.md
  docs/site/docs/protocol/xmessages/fees/fees.md
  lib/contracts/portal/deploy.go
Due: run-go-tests, run-regexp, run-goversion

Replaced generic icon, rollup search, tooltips, no data error message, search autofocus
  explorer/ui/app/assets/images/Generic.svg
  explorer/ui/app/components/home/chainDropdown.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/shared/explorerDropdown.tsx
  explorer/ui/app/components/shared/search.tsx
  explorer/ui/app/tailwind.css
Due: none

feat(contracts): make portal xmsg params configurable (#917)
  contracts/.gas-snapshot
  contracts/bindings/omniavs.go
  contracts/bindings/omniportal.go
  contracts/src/interfaces/IOmniPortal.sol
  contracts/src/interfaces/IOmniPortalAdmin.sol
  contracts/src/pkg/XApp.sol
  contracts/src/protocol/OmniPortal.sol
  contracts/src/protocol/OmniPortalConstants.sol
  contracts/src/protocol/OmniPortalStorage.sol
  contracts/test/portal/OmniPortal_feeFor.t.sol
  contracts/test/portal/OmniPortal_xcall.t.sol
  contracts/test/portal/common/Fixtures.sol
  contracts/test/utils/MockPortal.sol
  docs/site/docs/develop/contracts.md
  docs/site/docs/protocol/xmessages/fees/fees.md
  lib/contracts/portal/deploy.go
Due: run-go-tests, run-regexp, run-goversion

Updated testnet/mainnet dropdown, fixed color issues, added redirects when net is chosen
  explorer/ui/app/components/shared/dropdown.tsx
  explorer/ui/app/components/shared/navbar.tsx
Due: none

chore(halo): improve halo config (#919)
  halo/app/start.go
  halo/cmd/cometconfig.go
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/evmengine/keeper/msg_server.go
  halo/genutil/genutil.go
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

docs(protocol): deduplify
  docs/site/docs/protocol/introduction/components.md
Due: none

docs(spelling): fix spelling
  docs/site/docs/develop/introduction.md
  docs/site/docs/develop/xapp/fees.md
  docs/site/docs/develop/xapp/gas.md
  docs/site/docs/protocol/xmessages/xmsg.md
Due: none

feat(contracts): make portals pauseable
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/bindings/proxyadmin_storage_layout.json
  contracts/src/interfaces/IOmniPortalAdmin.sol
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/OmniPortal_admin.t.sol
Due: run-go-tests, run-goversion

docs(develop/protocol): nits and grammar (#921)
  docs/site/docs/develop/introduction.md
  docs/site/docs/develop/xapp/fees.md
  docs/site/docs/develop/xapp/gas.md
  docs/site/docs/protocol/introduction/components.md
  docs/site/docs/protocol/xmessages/xmsg.md
Due: none

feat(contracts): make portals pauseable (#920)
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/bindings/proxyadmin_storage_layout.json
  contracts/src/interfaces/IOmniPortalAdmin.sol
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/OmniPortal_admin.t.sol
Due: run-go-tests, run-goversion

making blockheight an optional field
  explorer/db/ent/internal/schema.go
  explorer/db/ent/migrate/schema.go
  explorer/db/ent/msg/where.go
  explorer/db/ent/msg_create.go
  explorer/db/ent/msg_update.go
  explorer/db/ent/mutation.go
  explorer/db/ent/schema/msg.go
Due: run-go-tests, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$, but not: (explorer/db/ent/internal/.*)
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)
  run-goversion: any of: \.go$
