Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

ci(e2e/anvil): infer upstream image platform
  e2e/anvilproxy/Dockerfile
Due: none

ci(e2e/anvil): infer upstream image platform (#3359)
  e2e/anvilproxy/Dockerfile
Due: none

review
  monitor/staking/staking.go
  monitor/supply/metrics.go
  monitor/supply/supply.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(monitor): staking and supply metrics (#3341)
  lib/cchain/queryutil/staking.go
  monitor/app/app.go
  monitor/app/staking/staking.go
  monitor/staking/metrics.go
  monitor/staking/staking.go
  monitor/supply/metrics.go
  monitor/supply/supply.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): tiny clean ups
  solver/app/app.go
  solver/app/check.go
  solver/app/check_internal_test.go
  solver/app/internal_testutils.go
  solver/app/procdeps.go
  solver/app/processor_internal_test.go
  solver/app/quote.go
  solver/app/reject.go
  solver/types/reject_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix npe
  monitor/staking/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): tiny clean ups (#3361)
  solver/app/app.go
  solver/app/check.go
  solver/app/check_internal_test.go
  solver/app/internal_testutils.go
  solver/app/procdeps.go
  solver/app/processor_internal_test.go
  solver/app/quote.go
  solver/app/reject.go
  solver/types/reject_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): enable holesky again
  lib/evmchain/evmchain.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(monitor): fix NPE (#3362)
  monitor/staking/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): detect service panics
  e2e/app/monitor.go
  e2e/app/run.go
  e2e/docker/docker.go
  e2e/types/infra.go
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): enable holesky again (#3363)
  lib/evmchain/evmchain.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): enable holesky on omega monitor
  e2e/manifests/omega.toml
Due: none

ci(e2e): detect service panics (#3364)
  e2e/app/monitor.go
  e2e/app/run.go
  e2e/docker/docker.go
  e2e/types/infra.go
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): enable holesky on omega monitor (#3365)
  e2e/manifests/omega.toml
Due: none

chore(monitor): tiny logging fix
  monitor/app/public_rpc.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver): restrict call targets
  lib/contracts/solvernet/bindings.go
  solver/app/app.go
  solver/app/check.go
  solver/app/check_internal_test.go
  solver/app/internal_testutils.go
  solver/app/reject.go
  solver/app/reject_internal_test.go
  solver/app/targets.go
  solver/app/targets_internal_test.go
  solver/types/reject.go
  solver/types/rejectreason_string.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor): tiny logging fix (#3366)
  monitor/app/public_rpc.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  lib/contracts/solvernet/bindings.go
  solver/app/app.go
  solver/app/check.go
  solver/app/internal_testutils.go
  solver/app/reject.go
  solver/app/targets.go
  solver/targets/targets.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts): deploy executor seperate from outbox (#3356)
  contracts/Makefile
  contracts/bindings/solvernetexecutor.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/outbox/Executor.t.sol
  e2e/solve/deploy.go
  e2e/test/solve_test.go
  lib/contracts/address.go
  lib/contracts/address_test.go
  lib/contracts/solvernet/executor/deploy.go
  lib/contracts/solvernet/outbox/deploy.go
  lib/contracts/testdata/TestContractAddressReference.golden
  solver/app/handler.go
  solver/types/api.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

switch migration to manually selected validators
  contracts/core/.gas-snapshot
  contracts/core/script/manual/GenesisStake.s.sol
  contracts/core/src/token/MerkleDistributor.sol
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/MainnetMerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/OmegaMerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/StagingMerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

chore(e2e): add mainnet solver eoa and fund thresh (#3339)
  e2e/app/eoa/fund.go
  e2e/app/eoa/static.go
  e2e/app/eoa/static_test.go
  e2e/app/eoa/testdata/threshold_reference.json
  e2e/app/fund.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts/solve): remove latest offset by status
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/TestBase.sol
Due: run-go-tests, run-golint, run-goversion

feat(solver): restrict call targets (#3348)
  lib/contracts/solvernet/bindings.go
  solver/app/app.go
  solver/app/check.go
  solver/app/check_internal_test.go
  solver/app/internal_testutils.go
  solver/app/reject.go
  solver/app/reject_internal_test.go
  solver/app/targets.go
  solver/app/targets_internal_test.go
  solver/targets/targets.go
  solver/types/reject.go
  solver/types/rejectreason_string.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/contracts): update omega solvernet salt version
  lib/contracts/address.go
  lib/contracts/testdata/TestContractAddressReference.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/core): migrate to specific validators (#3368)
  contracts/core/.gas-snapshot
  contracts/core/script/manual/GenesisStake.s.sol
  contracts/core/src/token/MerkleDistributor.sol
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/MainnetMerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/OmegaMerkleDistributorWithDeadline.sol
  contracts/core/src/token/distributor/StagingMerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

chore(contracts/solve): remove latest offset by status (#3369)
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/TestBase.sol
Due: run-go-tests, run-golint, run-goversion

chore(lib/contracts): update omega solvernet salt version (#3355)
  lib/contracts/address.go
  lib/contracts/testdata/TestContractAddressReference.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): update assertions
  sdk/src/hooks/useQuote.test.ts
Due: none

fixes
  lib/cchain/queryutil/staking.go
  monitor/staking/staking.go
  monitor/supply/supply.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): validate order unit tests (#3294)
  sdk/src/hooks/useValidateOrder.test-d.ts
  sdk/src/hooks/useValidateOrder.test.ts
  sdk/test/shared.ts
Due: none

chore(sdk): use quote unit tests (#3292)
  sdk/src/hooks/useQuote.test-d.ts
  sdk/src/hooks/useQuote.test.ts
  sdk/src/hooks/useQuote.ts
  sdk/src/hooks/useValidateOrder.test-d.ts
  sdk/src/hooks/useValidateOrder.test.ts
  sdk/test/shared.ts
Due: none

exclude unbonded
  lib/cchain/queryutil/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): units and require generic on mock (#3291)
  sdk/.gitignore
  sdk/src/hooks/useDidFill.test.ts
  sdk/src/hooks/useGetOrder.test.ts
  sdk/src/hooks/useInboxStatus.test-d.ts
  sdk/src/hooks/useInboxStatus.test.ts
  sdk/src/hooks/useInboxStatus.ts
  sdk/src/hooks/useParseOpenEvent.test-d.ts
  sdk/src/hooks/useQuote.test-d.ts
  sdk/src/hooks/useQuote.test.ts
  sdk/src/hooks/useQuote.ts
  sdk/src/hooks/useValidateOrder.test-d.ts
  sdk/src/hooks/useValidateOrder.test.ts
  sdk/test/mocks.ts
  sdk/test/shared.ts
Due: none

fix(monitor): fix avg staking rewards query (#3367)
  lib/cchain/queryutil/staking.go
  monitor/staking/staking.go
  monitor/supply/supply.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): disable staging xbridge
  e2e/xbridge/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): disable staging xbridge (#3371)
  e2e/xbridge/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): upgrade omega pin
  e2e/manifests/omega.toml
Due: none

chore(e2e): upgrade omega pin (#3373)
  e2e/manifests/omega.toml
Due: none

chore(e2e): enable holesky on staging
  e2e/manifests/staging.toml
  lib/netconf/netconf.go
  solver/app/testdata/TestTokens.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): enable holesky on staging (#3374)
  e2e/manifests/staging.toml
  lib/netconf/netconf.go
  solver/app/testdata/TestTokens.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
