Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

chore(docs): add usdt to docs (#3759)
  docs/docs/pages/sdk/supported-assets.mdx
Due: none

chore(lib/txmgr): over estimate gas limit
  lib/txmgr/txmgr.go
  lib/txmgr/txmgr_internal_test.go
  monitor/xmonitor/indexer/indexer.go
  solver/app/helpers.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/txmgr): over estimate gas limit (#3758)
  lib/txmgr/txmgr.go
  lib/txmgr/txmgr_internal_test.go
  monitor/xmonitor/indexer/indexer.go
  solver/app/helpers.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(lib/cttp): single send integration test (#3755)
  lib/anvil/anvil.go
  lib/anvil/compose.yaml.tmpl
  lib/anvil/utils.go
  lib/cctp/audit.go
  lib/cctp/contracts.go
  lib/cctp/devclient.go
  lib/cctp/domains.go
  lib/cctp/integration_test.go
  lib/cctp/mint.go
  lib/cctp/send.go
  lib/lib_test.go
  lib/tokens/tokenutil/util.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/uniswap): add usdt swap route
  lib/anvil/utils.go
  lib/uniswap/swap.go
  lib/uniswap/swap_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/uniswap): add usdt swap route (#3756)
  lib/anvil/utils.go
  lib/uniswap/swap.go
  lib/uniswap/swap_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add snippets for supported assets
  docs/docs/pages/sdk/assets/mainnet.mdx
  docs/docs/pages/sdk/assets/testnet.mdx
  docs/docs/pages/sdk/supported-assets.mdx
Due: none

chore(docs): add snippets for supported assets (#3762)
  docs/docs/pages/sdk/assets/mainnet.mdx
  docs/docs/pages/sdk/assets/testnet.mdx
  docs/docs/pages/sdk/supported-assets.mdx
Due: none

chore(solver/app): handle rpc timeouts better
  lib/ethclient/ethbackend/backend.go
  solver/app/procdeps.go
  solver/app/processor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): handle rpc timeouts better (#3761)
  lib/ethclient/ethbackend/backend.go
  solver/app/procdeps.go
  solver/app/processor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): tweaks from PLs branch
  sdk/integration-tests/suites/flows.tsx
  sdk/packages/core/src/contracts/didFillOutbox.ts
  sdk/packages/core/src/contracts/getOrder.ts
  sdk/packages/react-next/src/hooks/useQuote.test.ts
  sdk/packages/react-next/src/hooks/useValidateOrder.test.ts
Due: none

chore(docs/sdk): generate support tokens
  docs/docs/pages/sdk/assets/mainnet.mdx
  docs/docs/pages/sdk/assets/testnet.mdx
  e2e/manifests/static.go
  e2e/types/manifest.go
  lib/evmchain/evmchain.go
  solver/app/tokens.go
  solver/app/tokens_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  docs/docs/pages/sdk/assets/mainnet.mdx
  docs/docs/pages/sdk/assets/testnet.mdx
  solver/app/tokens_internal_test.go
Due: run-go-tests, run-golint, run-goversion

chore(docs/sdk): generate support tokens (#3767)
  docs/docs/pages/sdk/assets/mainnet.mdx
  docs/docs/pages/sdk/assets/testnet.mdx
  e2e/manifests/static.go
  e2e/types/manifest.go
  lib/evmchain/evmchain.go
  solver/app/tokens.go
  solver/app/tokens_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): async didfill
  sdk/packages/core/src/contracts/didFillOutbox.ts
Due: none

ci(e2e/manifest): bump protected off-chain services to 2abbc90
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

ci(e2e/manifest): bump protected off-chain services to 2abbc90 (#3772)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

fix(lib/backend): bump pre-estimate tx gas as well
  lib/ethclient/ethbackend/backend.go
  lib/txmgr/txmgr.go
  relayer/app/sender_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(lib/cctp): integration tests and fixes
  lib/anvil/anvil.go
  lib/cctp/audit.go
  lib/cctp/audit_internal_test.go
  lib/cctp/client.go
  lib/cctp/contracts.go
  lib/cctp/db/db.go
  lib/cctp/devclient.go
  lib/cctp/domains.go
  lib/cctp/integration_test.go
  lib/cctp/mint.go
  lib/cctp/send.go
  lib/ethclient/ethbackend/backends.go
  lib/tutil/require.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(lib/backend): bump pre-estimated tx gas as well (#3774)
  lib/ethclient/ethbackend/backend.go
  lib/txmgr/txmgr.go
  relayer/app/sender_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e/manifest): bump off-chain services to 531924c
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

test(lib/cctp): integration tests and fixes (#3766)
  lib/anvil/anvil.go
  lib/cctp/audit.go
  lib/cctp/audit_internal_test.go
  lib/cctp/client.go
  lib/cctp/contracts.go
  lib/cctp/db/db.go
  lib/cctp/devclient.go
  lib/cctp/domains.go
  lib/cctp/integration_test.go
  lib/cctp/mint.go
  lib/cctp/send.go
  lib/ethclient/ethbackend/backends.go
  lib/tutil/require.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e/manifest): bump off-chain services to 531924c (#3775)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(solver): reduce testnet max wsteth spend
  solver/app/testdata/TestTokens.golden
  solver/app/testutils_internal_test.go
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): reduce testnet max wsteth spend (#3776)
  solver/app/testdata/TestTokens.golden
  solver/app/testutils_internal_test.go
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(lib/cctp): add is confirmed util
  lib/cctp/integration_test.go
  lib/cctp/mint.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(lib/cctp): add is confirmed util (#3777)
  lib/cctp/integration_test.go
  lib/cctp/mint.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/txmgr): double gas limits but cap
  lib/txmgr/txmgr.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(lib/cctp): purge confirmed mints
  lib/cctp/audit.go
  lib/cctp/integration_test.go
  lib/cctp/mint.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/txmgr): double gas limits but cap (#3778)
  lib/txmgr/txmgr.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): update service pins
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(sdk): tweaks from PLs branch (#3768)
  sdk/integration-tests/suites/flows.tsx
  sdk/packages/core/src/contracts/didFillOutbox.ts
  sdk/packages/core/src/contracts/getOrder.ts
  sdk/packages/react-next/src/hooks/useQuote.test.ts
  sdk/packages/react-next/src/hooks/useValidateOrder.test.ts
Due: none

feat(sdk): add openOrder action to core
  sdk/packages/core/src/contracts/openOrder.ts
  sdk/packages/core/src/errors/base.ts
  sdk/packages/core/src/index.ts
Due: none

chore(e2e): update service pins (#3780)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

feat(lib/cctp): purge confirmed mints (#3779)
  lib/cctp/audit.go
  lib/cctp/integration_test.go
  lib/cctp/mint.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/cctp): add metrics
  lib/cctp/audit.go
  lib/cctp/audit_internal_test.go
  lib/cctp/metrics.go
  lib/cctp/mint.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/cctp): add metrics (#3781)
  lib/cctp/audit.go
  lib/cctp/audit_internal_test.go
  lib/cctp/metrics.go
  lib/cctp/mint.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(monitor): periodic cctp sends
  monitor/app/app.go
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add sdk faq
  docs/docs/pages/sdk/faq.mdx
  docs/vocs.config.tsx
Due: none

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
