Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

chore(solver/solana): implement streaming of txs
  solver/solana/compose.go
  solver/solana/compose_test.go
  solver/solana/stream.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): group unknown targets
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): bump to 9.12.1
  sdk/package.json
  sdk/packages/core/package.json
  sdk/packages/react/package.json
  sdk/packages/test-utils/package.json
Due: none

chore(solver/app): group unknown targets (#3898)
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

first version of core docs
  docs/docs/pages/sdk/core/generateOrder.md
  docs/docs/pages/sdk/core/openOrder.md
  docs/docs/pages/sdk/core/sendOrder.md
  docs/docs/pages/sdk/core/sendOrder.mdx
  docs/docs/pages/sdk/core/validateOrder.md
  docs/docs/pages/sdk/core/waitForOrderClose.md
  docs/docs/pages/sdk/core/waitForOrderOpen.md
  docs/docs/pages/sdk/getting-started.mdx
  docs/vocs.config.tsx
  sdk/integration-tests/suites/flows.tsx
  sdk/packages/core/src/flows/generateOrder.ts
Due: none

chore(sdk): formatting
  sdk/package.json
  sdk/packages/core/package.json
  sdk/packages/react/package.json
  sdk/packages/test-utils/package.json
Due: none

chore(sdk): bump pnpm version (#3896)
  sdk/package.json
  sdk/packages/core/package.json
  sdk/packages/react/package.json
  sdk/packages/test-utils/package.json
Due: none

chore(lib/tokenpricer): observe and improve
  lib/tokenpricer/coingecko/coingecko.go
  lib/tokenpricer/coingecko/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/solve): migrate middleman into executor (#3891)
  contracts/bindings/admin.go
  contracts/bindings/solvernetexecutor.go
  contracts/bindings/solvernetmiddleman.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetExecutor.sol
  contracts/solve/src/SolverNetMiddleman.sol
  contracts/solve/src/interfaces/ISolverNetExecutor.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/outbox/Executor.t.sol
  contracts/solve/test/outbox/Middleman.t.sol
Due: run-go-tests, run-golint, run-goversion

chore(lib/tokenpricer): observe and improve (#3904)
  lib/tokenpricer/coingecko/coingecko.go
  lib/tokenpricer/coingecko/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/solana): implement streaming of txs (#3897)
  solver/solana/compose.go
  solver/solana/compose_test.go
  solver/solana/stream.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

final changes and deployed
  contracts/core/gsi.json
  contracts/core/mdi.json
  contracts/core/proxy.json
  contracts/core/script/manual/genesis-staking/MainnetGenesisStake.s.sol
Due: none

remove JSONs
  contracts/core/gsi.json
  contracts/core/mdi.json
  contracts/core/proxy.json
Due: none

chore(contracts/core): update genesis stake scripts (#3905)
  contracts/core/.gas-snapshot
  contracts/core/script/manual/genesis-staking/MainnetGenesisStake.s.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStakeV2.s.sol
Due: none

chore(sdk): add react example to package
  sdk/examples/react/.gitignore
  sdk/examples/react/README.md
  sdk/examples/react/index.html
  sdk/examples/react/package.json
  sdk/examples/react/src/App.tsx
  sdk/examples/react/src/index.css
  sdk/examples/react/src/main.tsx
  sdk/examples/react/src/providers.tsx
  sdk/examples/react/src/vite-env.d.ts
  sdk/examples/react/tsconfig.json
  sdk/examples/react/tsconfig.node.json
  sdk/examples/react/vite.config.ts
  sdk/integration-tests/README.md
  sdk/pnpm-lock.yaml
Due: none

initial attempt at setting all routes
  e2e/app/solvernetrouting.go
  e2e/cmd/cmd.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add ability to disable routes
  e2e/app/solvernetrouting.go
  lib/contracts/solvernet/chains.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

disable all routes on disabled chains
  e2e/app/solvernetrouting.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

direct calls to address(0) back towards Executor contract
  contracts/bindings/admin.go
  contracts/bindings/solvernetexecutor.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetExecutor.sol
  contracts/solve/test/outbox/Executor.t.sol
Due: run-go-tests, run-golint, run-goversion

set provider to none if chain disabled
  e2e/app/solvernetrouting.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

clean up
  e2e/app/solvernetrouting.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(sdk): use Result type
  sdk/packages/core/package.json
  sdk/packages/core/src/api/getContracts.test.ts
  sdk/packages/core/src/api/getContracts.ts
  sdk/packages/core/src/api/getQuote.test.ts
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/core/src/api/validateOrder.test.ts
  sdk/packages/core/src/api/validateOrder.ts
  sdk/packages/core/src/internal/api.ts
  sdk/packages/core/src/internal/validation.ts
  sdk/packages/core/src/types/contracts.ts
  sdk/pnpm-lock.yaml
Due: none

chore(sdk): use single argument for public core functions
  docs/docs/pages/sdk/core/generateOrder.md
  docs/docs/pages/sdk/core/getContracts.md
  docs/docs/pages/sdk/core/getQuote.md
  docs/docs/pages/sdk/core/openOrder.md
  docs/docs/pages/sdk/core/sendOrder.mdx
  docs/docs/pages/sdk/core/validateOrder.md
  docs/docs/pages/sdk/core/waitForOrderClose.md
  docs/docs/pages/sdk/core/waitForOrderOpen.md
  sdk/packages/core/src/api/getContracts.test.ts
  sdk/packages/core/src/api/getContracts.ts
  sdk/packages/core/src/api/getQuote.test.ts
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/core/src/api/validateOrder.test.ts
  sdk/packages/core/src/api/validateOrder.ts
  sdk/packages/core/src/contracts/didFill.ts
  sdk/packages/core/src/flows/generateOrder.ts
  sdk/packages/core/src/flows/openOrder.ts
  sdk/packages/core/src/utils/withExecAndTransfer.ts
  sdk/packages/react/src/hooks/useQuote.ts
  sdk/packages/react/src/hooks/useValidateOrder.ts
  sdk/packages/react/src/utils/getContracts.ts
Due: none

feat(contracts/solve): redirect zero address to executor (#3909)
  contracts/bindings/admin.go
  contracts/bindings/solvernetexecutor.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetExecutor.sol
  contracts/solve/test/outbox/Executor.t.sol
Due: run-go-tests, run-golint, run-goversion

move routing functions and implement feedback
  e2e/app/solvernetrouting.go
  e2e/cmd/cmd.go
  e2e/solve/routing.go
  lib/contracts/solvernet/chains.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

no conditional assignment in getRoutes
  e2e/solve/routing.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

flip disabled condition
  e2e/solve/routing.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(e2e): configure solvernet routes (#3908)
  e2e/cmd/cmd.go
  e2e/solve/routing.go
  lib/contracts/solvernet/chains.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

implement local orders
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/E2E.t.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/outbox/Fill.t.sol
  contracts/solve/test/outbox/General.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(lib/uniswap): switch to swap exact output
  lib/uniswap/quoter.go
  lib/uniswap/swap.go
  lib/uniswap/swap_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): rebalance list of supported tokens
  solver/app/app.go
  solver/rebalance/integration_test.go
  solver/rebalance/rebalance.go
  solver/rebalance/start.go
  solver/rebalance/thresholds.go
  solver/rebalance/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

capture loop variables
  e2e/solve/routing.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

skip invalid routes
  e2e/solve/routing.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): rebalance list of supported tokens (#3914)
  solver/app/app.go
  solver/rebalance/integration_test.go
  solver/rebalance/rebalance.go
  solver/rebalance/start.go
  solver/rebalance/thresholds.go
  solver/rebalance/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

skip fill buffer on local orders
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/test/E2E.t.sol
Due: run-go-tests, run-golint, run-goversion

add local order closure test
  contracts/solve/.gas-snapshot
  contracts/solve/test/inbox/Close.t.sol
Due: none

cleanup
  e2e/solve/routing.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/solve): implement local orders (#3913)
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/E2E.t.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/Close.t.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/outbox/Fill.t.sol
  contracts/solve/test/outbox/General.t.sol
Due: run-go-tests, run-golint, run-goversion

refactor loop var handling
  e2e/solve/routing.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

use hyperlane for all routes on hyperlane chains instead of skipping
  e2e/solve/routing.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
