Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

merge fixes
  explorer/db/ent/internal/schema.go
Due: run-goversion

fix(explorer/indexer): unique chain ids (#904)
  explorer/db/ent/internal/schema.go
  explorer/db/ent/migrate/schema.go
  explorer/db/ent/schema/xproviders_cursor.go
Due: run-go-tests, run-goversion

test(contracts): add Quorum library tests
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/bindings/portalregistry_storage_layout.json
  contracts/bindings/xregistry_storage_layout.json
  contracts/src/libraries/Quorum.sol
  contracts/test/libraries/Quorum.t.sol
  contracts/test/libraries/utils/QuorumVerifier.sol
  contracts/test/portal/OmniPortal_xsubmit.t.sol
  contracts/test/portal/common/Fixtures.sol
Due: run-go-tests, run-goversion

test(contracts): add Quorum library tests (#923)
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/bindings/portalregistry_storage_layout.json
  contracts/bindings/xregistry_storage_layout.json
  contracts/src/libraries/Quorum.sol
  contracts/test/libraries/Quorum.t.sol
  contracts/test/libraries/utils/QuorumVerifier.sol
  contracts/test/portal/OmniPortal_xsubmit.t.sol
  contracts/test/portal/common/Fixtures.sol
Due: run-go-tests, run-goversion

random range cap
  monitor/loadgen/stake.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): make portal.chainId() dynamic
  contracts/.gas-snapshot
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/OmniPortal_admin.t.sol
  contracts/test/portal/OmniPortal_exec.t.sol
  contracts/test/portal/OmniPortal_xsubmit.t.sol
  contracts/test/portal/OmniPortal_xsubmit_gas.t.sol
  contracts/test/portal/common/Fixtures.sol
Due: none

feat(contracts): make portal chainId dynamic (#926)
  contracts/.gas-snapshot
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/OmniPortal_admin.t.sol
  contracts/test/portal/OmniPortal_exec.t.sol
  contracts/test/portal/OmniPortal_xsubmit.t.sol
  contracts/test/portal/OmniPortal_xsubmit_gas.t.sol
  contracts/test/portal/common/Fixtures.sol
Due: none

chore(contracts): move ping pong tests to xapp folder
  contracts/test/xapp/PingPong.t.sol
Due: none

chore(contracts): move ping pong tests to xapp folder (#927)
  contracts/test/xapp/PingPong.t.sol
Due: none

ci(e2e): add more debug logging for flapping test
  e2e/app/valupdates.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): add more debug logging for flapping test (#928)
  e2e/app/valupdates.go
Due: run-go-tests, run-regexp, run-goversion

move cleanup later
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

renaming
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/provider_helpers.go
  explorer/graphql/resolvers/types.go
Due: run-go-tests, run-regexp, run-goversion

chore(explorer/db): making blockheight an optional field (#922)
  explorer/db/ent/migrate/schema.go
  explorer/db/ent/msg/where.go
  explorer/db/ent/msg_create.go
  explorer/db/ent/msg_update.go
  explorer/db/ent/mutation.go
  explorer/db/ent/schema/msg.go
Due: run-go-tests, run-goversion

chore(deps): upgrade geth to v1.14.0
  e2e/app/geth/config.go
  e2e/app/geth/testdata/TestWriteConfigTOML_archive.golden
  e2e/app/geth/testdata/TestWriteConfigTOML_full.golden
  e2e/app/geth/types.go
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_1_compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_2_compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_4_compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_5_compose.yaml.golden
  go.mod
  go.sum
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/fuzz.go
Due: run-go-tests, run-regexp, run-goversion

chore(deps): upgrade geth to v1_14_0 (#937)
  e2e/app/geth/config.go
  e2e/app/geth/testdata/TestWriteConfigTOML_archive.golden
  e2e/app/geth/testdata/TestWriteConfigTOML_full.golden
  e2e/app/geth/types.go
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_1_compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_2_compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_4_compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_5_compose.yaml.golden
  go.mod
  go.sum
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/fuzz.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  halo/evmengine/keeper/proposal_server.go
  halo/evmengine/keeper/proposal_server_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo/attest): decrease genesis trim lag
  halo/app/app_config.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo/attest): decrease genesis trim lag (#929)
  halo/app/app_config.go
  halo/evmengine/keeper/proposal_server.go
  halo/evmengine/keeper/proposal_server_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo): decrease default prune options
  halo/app/app_config.go
  halo/app/start.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo): decrease default prune options (#930)
  halo/app/app_config.go
  halo/app/start.go
Due: run-go-tests, run-regexp, run-goversion

naming
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/provider_helpers.go
  explorer/graphql/resolvers/types.go
Due: run-go-tests, run-regexp, run-goversion

feat(explorer/graphql): xmsg field updates (#913)
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/message_provider.go
  explorer/graphql/data/provider_helpers.go
  explorer/graphql/data/receipt_provider.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/types.go
  explorer/ui/app/components/queries/messages.tsx
Due: run-go-tests, run-regexp, run-goversion

defaulting limit to 25
  explorer/graphql/data/message_provider.go
  explorer/graphql/resolvers/messages.go
  explorer/graphql/resolvers/messages_test.go
Due: run-go-tests, run-regexp, run-goversion

test(contracts): add adversarial xcall tests
  contracts/.gas-snapshot
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/OmniPortal_adversarial.t.sol
Due: none

fixing cursors
  explorer/db/testutil.go
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/message_provider.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/types.go
Due: run-go-tests, run-regexp, run-goversion

remove db ids
  explorer/graphql/data/message_provider.go
Due: run-go-tests, run-regexp, run-goversion

remove db ids
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/provider_helpers.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/types.go
Due: run-go-tests, run-regexp, run-goversion

working
  explorer/graphql/data/message_provider.go
Due: run-go-tests, run-regexp, run-goversion

using cursor instead of id
  explorer/graphql/data/message_provider.go
Due: run-go-tests, run-regexp, run-goversion

chore(explorer/graphql): cap the amount of msgs returned for pagination (#915)
  explorer/graphql/data/message_provider.go
  explorer/graphql/resolvers/messages.go
  explorer/graphql/resolvers/messages_test.go
Due: run-go-tests, run-regexp, run-goversion

comment
  explorer/db/testutil.go
Due: run-go-tests, run-regexp, run-goversion

nit
  explorer/db/testutil.go
Due: run-go-tests, run-regexp, run-goversion

fix(explorer/graphql): fixing cursors (#939)
  explorer/db/testutil.go
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/message_provider.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/types.go
Due: run-go-tests, run-regexp, run-goversion

wip, need to encode cursors
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/message_provider.go
  explorer/graphql/resolvers/messages.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/root.go
  explorer/graphql/utils/hexutilsBigHelper.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): fix flapping e2e test
  e2e/app/definition.go
Due: run-go-tests, run-regexp, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$, but not: (explorer/db/ent/internal/.*)
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)
  run-goversion: any of: \.go$
