Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

tune volume params
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/bridging/config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add docs for token support in sdk
  sdk/packages/react/README.md
Due: none

rm sepolia
  sdk/packages/react/README.md
Due: none

update supported assets
  sdk/packages/react/README.md
Due: none

fix
  sdk/packages/react/README.md
Due: none

add mock wsteth note
  sdk/packages/react/README.md
Due: none

chore(sdk): add docs for token support (#3515)
  sdk/packages/react/README.md
Due: none

chore(solver): eigen mainnet tokens and target
  sdk/packages/react/README.md
  solver/targets/targets.go
  solver/tokens/testdata/TestTokens.golden
  solver/tokens/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): eigen mainnet tokens and target (#3516)
  sdk/packages/react/README.md
  solver/targets/targets.go
  solver/tokens/testdata/TestTokens.golden
  solver/tokens/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): bump react package ver
  sdk/packages/react/package.json
Due: none

chore(sdk): bump react package ver (#3518)
  sdk/packages/react/package.json
Due: none

chore(solver): add dynamic symbiotic mainnet targets
  solver/app/app.go
  solver/app/targets_internal_test.go
  solver/targets/eigen.go
  solver/targets/staking.go
  solver/targets/symbiotic.go
  solver/targets/targets.go
  solver/targets/targets_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  solver/app/app.go
  solver/app/targets_internal_test.go
  solver/targets/symbiotic.go
  solver/targets/targets.go
  solver/targets/targets_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): wire async job processing (#3505)
  solver/app/app.go
  solver/app/metrics.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/worker.go
  solver/job/db.go
  solver/job/db_test.go
  solver/job/job.pb.go
  solver/job/job.proto
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): add dynamic symbiotic mainnet targets (#3519)
  solver/app/app.go
  solver/app/targets_internal_test.go
  solver/targets/eigen.go
  solver/targets/staking.go
  solver/targets/symbiotic.go
  solver/targets/targets.go
  solver/targets/targets_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

improve logging and use solver's bounds
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/bridging/config.go
  monitor/flowgen/flowgen.go
  monitor/flowgen/symbiotic/symbiotic.go
  monitor/flowgen/types/types.go
  solver/tokens/testdata/TestTokens.golden
  solver/tokens/tokens.go
  solver/tokens/tokens_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

review
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/flowgen.go
  monitor/flowgen/symbiotic/symbiotic.go
  monitor/flowgen/types/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(deps): bump geth and proto
  e2e/app/geth/config.go
  e2e/app/geth/types.go
  go.mod
  go.sum
  halo/attest/keeper/attestation.pb.go
  halo/evmstaking/keeper/evmstaking.pb.go
  halo/portal/keeper/portal.pb.go
  halo/registry/keeper/registry.pb.go
  halo/valsync/keeper/valsync.pb.go
  lib/ethclient/headerdb/headerdb.pb.go
  monitor/xmonitor/indexer/indexer.pb.go
  octane/evmengine/keeper/evmengine.pb.go
  relayer/app/cursor/cursors.pb.go
  solver/app/solver.pb.go
  solver/job/job.pb.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(deps): bump geth and proto (#3521)
  e2e/app/geth/config.go
  e2e/app/geth/types.go
  go.mod
  go.sum
  halo/attest/keeper/attestation.pb.go
  halo/evmstaking/keeper/evmstaking.pb.go
  halo/portal/keeper/portal.pb.go
  halo/registry/keeper/registry.pb.go
  halo/valsync/keeper/valsync.pb.go
  lib/ethclient/headerdb/headerdb.pb.go
  monitor/xmonitor/indexer/indexer.pb.go
  octane/evmengine/keeper/evmengine.pb.go
  relayer/app/cursor/cursors.pb.go
  solver/app/solver.pb.go
  solver/job/job.pb.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): improve worker logs and metrics
  solver/app/app.go
  solver/app/metrics.go
  solver/app/server.go
  solver/app/worker.go
  solver/job/db.go
  solver/job/db_test.go
  solver/job/job.pb.go
  solver/job/job.proto
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

fix tests
  sdk/integration-tests/suites/flows.tsx
Due: none

chore(monitor/flowgen): tune volume params (#3510)
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/bridging/config.go
  monitor/flowgen/flowgen.go
  monitor/flowgen/symbiotic/symbiotic.go
  monitor/flowgen/types/types.go
  sdk/integration-tests/suites/flows.tsx
  solver/tokens/testdata/TestTokens.golden
  solver/tokens/tokens.go
  solver/tokens/tokens_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/expbackoff): add support for interrupting backoff
  lib/expbackoff/expbackoff.go
  lib/expbackoff/expbackoff_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/ethclient): add websockets to header cache
  lib/ethclient/headercache.go
  lib/ethclient/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): improve worker logs and metrics (#3522)
  solver/app/app.go
  solver/app/metrics.go
  solver/app/server.go
  solver/app/worker.go
  solver/job/db.go
  solver/job/db_test.go
  solver/job/job.pb.go
  solver/job/job.proto
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/ethclient): improve reorg metric
  lib/ethclient/headercache.go
  lib/ethclient/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/expbackoff): add support for interrupting backoff (#3523)
  lib/expbackoff/expbackoff.go
  lib/expbackoff/expbackoff_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/ethclient): add websockets to header cache (#3524)
  lib/ethclient/headercache.go
  lib/ethclient/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/ethclient): improve reorg metric (#3525)
  lib/ethclient/headercache.go
  lib/ethclient/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): open testnet targets
  solver/app/targets_internal_test.go
  solver/targets/targets.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ping monitor on omega and mainnet
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(solver): open testnet targets (#3517)
  solver/app/targets_internal_test.go
  solver/targets/targets.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): ping monitor on omega and mainnet (#3526)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

pin solver
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(sdk): improve readme docs
  sdk/packages/react/README.md
Due: none

chore(sdk): improve readme docs (#3529)
  sdk/packages/react/README.md
Due: none

chore(scripts): add solver loadgen util script
  scripts/loadsolver/main.go
Due: run-go-tests, run-golint, run-goversion

fix(sdk): patch api error handling
  sdk/packages/react/src/internal/api.ts
Due: none

chore(e2e): pin solver on omega and mainnet (#3527)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none
