Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(cli/cmd): delay message on staking cmds (#3026)
  cli/cmd/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(sdk): optional fill deadline
  sdk/src/hooks/useOpenOrder.ts
Due: none

ci(github): switch main binar to magellan
  .github/workflows/release-official.yaml
  .github/workflows/release-snapshot.yaml
Due: none

ci(github): switch main binar to magellan (#3029)
  .github/workflows/release-official.yaml
  .github/workflows/release-snapshot.yaml
Due: none

chore(monitor): monitor all upgrades
  monitor/app/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor): monitor all upgrades (#3030)
  monitor/app/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(sdk): optional fill deadline (#3028)
  sdk/src/hooks/useOpenOrder.ts
Due: none

chore(halo/ugprade): add magellan feature to godoc
  halo/app/upgrades/magellan/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e/manifests): remove legacy feature flags from staging
  e2e/manifests/staging.toml
Due: none

ci(e2e/manifests): remove legacy feature flags from staging (#3034)
  e2e/manifests/staging.toml
Due: none

chore(halo/ugprade): add magellan feature to godoc (#3032)
  halo/app/upgrades/magellan/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(sdk): withExecAndTransfer call constructor
  sdk/src/constants/contracts.ts
  sdk/src/types/order.ts
  sdk/src/utils/withExecAndTransfer.ts
Due: none

chore(sdk): update naming
  sdk/src/utils/withExecAndTransfer.ts
Due: none

chore(sdk): tidy
  sdk/src/utils/withExecAndTransfer.ts
Due: none

chore(sdk): export withExecAndTransfer
  sdk/src/index.ts
Due: none

Update mainnet.md - add quicknode
  docs/content/core/mainnet.md
Due: none

Update omega.md - add quicknode omega rpc
  docs/content/core/omega.md
Due: none

feat(sdk): withExecAndTransfer call constructor (#3033)
  sdk/src/constants/contracts.ts
  sdk/src/index.ts
  sdk/src/types/order.ts
  sdk/src/utils/withExecAndTransfer.ts
Due: none

update solady to 0.1.7
  contracts/bindings/admin.go
  contracts/bindings/bridge.go
  contracts/bindings/lockbox.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetmiddleman.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/package.json
  contracts/core/pnpm-lock.yaml
  contracts/solve/package.json
  contracts/solve/pnpm-lock.yaml
  contracts/xapps/package.json
  contracts/xapps/pnpm-lock.yaml
Due: run-go-tests, run-golint, run-goversion

chore(solver): maintain allowances
  e2e/solve/test.go
  e2e/test/solve_test.go
  lib/contracts/utils.go
  solver/app/app.go
  solver/app/approvals.go
  solver/app/quote.go
  solver/app/reject.go
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): maintain allowances (#3039)
  e2e/solve/test.go
  e2e/test/solve_test.go
  lib/contracts/utils.go
  solver/app/app.go
  solver/app/approvals.go
  solver/app/quote.go
  solver/app/reject.go
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts): update solady (#3040)
  contracts/bindings/admin.go
  contracts/bindings/bridge.go
  contracts/bindings/lockbox.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetmiddleman.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/package.json
  contracts/core/pnpm-lock.yaml
  contracts/solve/package.json
  contracts/solve/pnpm-lock.yaml
  contracts/xapps/package.json
  contracts/xapps/pnpm-lock.yaml
Due: run-go-tests, run-golint, run-goversion

add foundry script that delegates to staging validators via solvernet
  contracts/core/src/interfaces/IStaking.sol
  contracts/solve/foundry.toml
  contracts/solve/script/staging/OmniDelegateFor.s.sol
  scripts/stagingaddrs/main.go
Due: run-go-tests, run-golint, run-goversion

fix solvernet call params
  contracts/solve/script/staging/OmniDelegateFor.s.sol
Due: none

fix selector
  contracts/solve/script/staging/OmniDelegateFor.s.sol
Due: none

rebuild solvernet order initiator scripts
  contracts/solve/script/SolverNetStagingFixtures.sol
  contracts/solve/script/staging/InvalidRequest.s.sol
  contracts/solve/script/staging/OmniDelegateFor.s.sol
  contracts/solve/script/staging/Omni_transfer.s.sol
  contracts/solve/script/staging/Staking_delegateFor.s.sol
Due: none

feat(contracts/solve): delegateFor via SolverNet staging script (#2999)
  contracts/core/src/interfaces/IStaking.sol
  contracts/solve/foundry.toml
  contracts/solve/script/SolverNetStagingFixtures.sol
  contracts/solve/script/staging/InvalidRequest.s.sol
  contracts/solve/script/staging/Omni_transfer.s.sol
  contracts/solve/script/staging/Staking_delegateFor.s.sol
  scripts/stagingaddrs/main.go
Due: run-go-tests, run-golint, run-goversion

chore(solver): match quote with reject
  solver/app/app.go
  solver/app/approvals.go
  solver/app/internal_testutils.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/quote.go
  solver/app/quote_internal_test.go
  solver/app/reject.go
  solver/app/reject_internal_test.go
  solver/app/rejectreason_string.go
  solver/app/server.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor): add inflation monitoring and tests
  e2e/test/rewards_test.go
  halo/app/start_test.go
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/queryutil/rewards.go
  lib/cchain/types.go
  monitor/app/app.go
  monitor/app/metrics.go
  monitor/app/rewards.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor): add inflation monitoring and tests (#3042)
  e2e/test/rewards_test.go
  halo/app/start_test.go
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/queryutil/rewards.go
  lib/cchain/types.go
  monitor/app/app.go
  monitor/app/metrics.go
  monitor/app/rewards.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e/test): simplify mint params test
  e2e/test/rewards_test.go
  halo/app/upgrades/magellan/upgrade.go
  halo/app/upgrades/magellan/upgrade_internal_test.go
  scripts/halovisor/build.sh
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e/test): simplify mint params test (#3048)
  e2e/test/rewards_test.go
  halo/app/upgrades/magellan/upgrade.go
  halo/app/upgrades/magellan/upgrade_internal_test.go
  scripts/halovisor/build.sh
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(halovisor): bump cosmovisor
  scripts/halovisor/Dockerfile
Due: none

pin
  .github/workflows/check-sol-artifacts.yaml
  .github/workflows/ci-verifypr.yaml
  .github/workflows/clicommand.yaml
  .github/workflows/e2etest.yaml
  .github/workflows/e2etestadmin.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/gotest.yaml
  .github/workflows/pr-e2etest.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/release-official.yaml
  .github/workflows/release-snapshot.yaml
Due: none

ci(halovisor): bump cosmovisor (#3049)
  .github/workflows/check-sol-artifacts.yaml
  .github/workflows/ci-verifypr.yaml
  .github/workflows/clicommand.yaml
  .github/workflows/e2etest.yaml
  .github/workflows/e2etestadmin.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/gotest.yaml
  .github/workflows/pr-e2etest.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/release-official.yaml
  .github/workflows/release-snapshot.yaml
  scripts/halovisor/Dockerfile
Due: none

chore(monitor): flowgen skeleton
  go.mod
  go.sum
  lib/tokens/tokens.go
  monitor/flowgen/flowgen.go
  monitor/flowgen/job.go
  monitor/flowgen/logger.go
  monitor/flowgen/symbiotic.go
  monitor/flowgen/util.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add migration sponsorship with EIP-712
  contracts/core/.gas-snapshot
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

ci(e2e/test): improve cli and mint tests
  Makefile
  e2e/app/run.go
  e2e/app/test.go
  e2e/cmd/cmd.go
  e2e/cmd/flags.go
  e2e/test/cli_test.go
  e2e/test/e2e_test.go
  e2e/test/module_test.go
  e2e/test/rewards_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e/test): improve cli and mint tests (#3052)
  Makefile
  e2e/app/run.go
  e2e/app/test.go
  e2e/cmd/cmd.go
  e2e/cmd/flags.go
  e2e/test/cli_test.go
  e2e/test/e2e_test.go
  e2e/test/module_test.go
  e2e/test/rewards_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor): add routescan api key
  monitor/app/app.go
  monitor/app/config.go
  monitor/app/config.toml.tpl
  monitor/app/config_test.go
  monitor/app/testdata/default_monitor.toml
  monitor/cmd/flags.go
  monitor/routerecon/recon.go
  monitor/routerecon/recon_internal_test.go
  monitor/routerecon/routescan.go
  monitor/routerecon/routescan_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion
