Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

test(solver): add ephemeral load gen
  contracts/allocs/scripts/genallocs_internal_test.go
  e2e/app/setup.go
  e2e/solve/devapp/deposits.go
  e2e/solve/devapp/target.go
  e2e/solve/symbiotic/target.go
  halo/genutil/genutil.go
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/ethclient/ethbackend/backends.go
  solver/app/app.go
  solver/app/bindings.go
  solver/app/config.go
  solver/app/config.toml.tpl
  solver/app/config_test.go
  solver/app/ephemeral.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/testdata/default_solver.toml
  solver/cmd/flags.go
  solver/types/target.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/avs): added manual deployer for avs impl (#2652)
  contracts/avs/package.json
  contracts/avs/pnpm-lock.yaml
  contracts/avs/script/avs/DeployAVS.s.sol
  contracts/bindings/avsdirectory.go
  contracts/bindings/delegationmanager.go
  contracts/bindings/mockerc20.go
  contracts/bindings/omniavs.go
  contracts/bindings/strategybase.go
  contracts/bindings/strategymanager.go
Due: run-go-tests, run-golint, run-goversion

fix: feature flags
  halo/app/start.go
  lib/feature/feature.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

remove status history
  contracts/bindings/avsdirectory.go
  contracts/bindings/delegationmanager.go
  contracts/bindings/mockerc20.go
  contracts/bindings/omniavs.go
  contracts/bindings/solveinbox.go
  contracts/bindings/solveoutbox.go
  contracts/bindings/strategybase.go
  contracts/bindings/strategymanager.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/Solve.sol
  contracts/solve/src/SolveInbox.sol
  contracts/solve/src/interfaces/ISolveInbox.sol
  contracts/solve/test/Inbox_accept.t.sol
  contracts/solve/test/Inbox_cancel.t.sol
  contracts/solve/test/Inbox_claim.t.sol
  contracts/solve/test/Inbox_markFulfilled.t.sol
  contracts/solve/test/Inbox_reject.t.sol
  contracts/solve/test/Inbox_request.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(contracts/solve): most recent request per status (#2675)
  contracts/bindings/solveinbox.go
  contracts/bindings/solveoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/Solve.sol
  contracts/solve/src/SolveInbox.sol
  contracts/solve/src/SolveOutbox.sol
  contracts/solve/src/interfaces/ISolveInbox.sol
  contracts/solve/test/Inbox_accept.t.sol
  contracts/solve/test/Inbox_cancel.t.sol
  contracts/solve/test/Inbox_claim.t.sol
  contracts/solve/test/Inbox_markFulfilled.t.sol
  contracts/solve/test/Inbox_reject.t.sol
  contracts/solve/test/Inbox_request.t.sol
Due: run-go-tests, run-golint, run-goversion

added more gas tiers above 200 gwei
  monitor/xfeemngr/gasprice/tiers.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(solver): add ephemeral load gen (#2676)
  contracts/allocs/scripts/genallocs_internal_test.go
  e2e/app/setup.go
  e2e/solve/devapp/deposits.go
  e2e/solve/devapp/target.go
  e2e/solve/symbiotic/target.go
  halo/genutil/genutil.go
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/ethclient/ethbackend/backends.go
  solver/app/app.go
  solver/app/bindings.go
  solver/app/config.go
  solver/app/config.toml.tpl
  solver/app/config_test.go
  solver/app/ephemeral.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/testdata/default_solver.toml
  solver/cmd/flags.go
  solver/types/target.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix: potential races
  lib/feature/feature.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(halo/evmstaking): return error on unexpected code path (#2673)
  Makefile
  halo/app/start.go
  halo/evmstaking/evmstaking.go
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/keeper/keeper_internal_test.go
  lib/feature/feature.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): fix upgrading solver
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): fix upgrading solver (#2682)
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): log target app metadata
  e2e/solve/devapp/target.go
  e2e/solve/symbiotic/target.go
  solver/app/app.go
  solver/types/target.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): log target app metadata (#2683)
  e2e/solve/devapp/target.go
  e2e/solve/symbiotic/target.go
  solver/app/app.go
  solver/types/target.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/devapp): refactor for consistency
  e2e/solve/devapp/deposits.go
  solver/app/app.go
  solver/app/ephemeral.go
  solver/app/targets.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/devapp): refactor for consistency (#2684)
  e2e/solve/devapp/deposits.go
  solver/app/app.go
  solver/app/ephemeral.go
  solver/app/targets.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(monitor/xfeemngr): added gas tiers above 200 gwei (#2680)
  monitor/xfeemngr/gasprice/tiers.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): fix staging solver addresses
  e2e/solve/devapp/target.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): fix staging solver addresses (#2685)
  e2e/solve/devapp/target.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat: add omega vals to allow list
  e2e/app/admin/allowoperator.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): fix solver typo
  cli/cmd/flags.go
  cli/cmd/staking.go
  solver/app/targets.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore: add mainnet
  e2e/app/admin/allowoperator.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): fix solver typo (#2687)
  cli/cmd/flags.go
  cli/cmd/staking.go
  solver/app/targets.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/app): add validators on protected networks to allow list (#2688)
  e2e/app/admin/allowoperator.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

added GenesisStake/Claim contracts
  contracts/core/.gas-snapshot
  contracts/core/package.json
  contracts/core/pnpm-lock.yaml
  contracts/core/src/interfaces/IGenesisStake.sol
  contracts/core/src/token/GenesisClaim.sol
  contracts/core/src/token/GenesisStake.sol
Due: none

chore(contracts/core): migrate genesis contracts to monorepo (#2689)
  contracts/core/.gas-snapshot
  contracts/core/package.json
  contracts/core/pnpm-lock.yaml
  contracts/core/src/interfaces/IGenesisStake.sol
  contracts/core/src/token/GenesisClaim.sol
  contracts/core/src/token/GenesisStake.sol
Due: none

add skeleton
  e2e/loadgen/app/app.go
  e2e/loadgen/app/config.go
  e2e/loadgen/cmd/cmd.go
  e2e/loadgen/main.go
  lib/evmchain/evmchain.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix: joint-test
  cli/cmd/initnodes.go
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): attempt to fix rejections
  e2e/run-multiple.sh
  e2e/solve/devapp/deposits.go
  e2e/solve/devapp/target.go
  e2e/solve/symbiotic/target.go
  lib/xchain/provider/streamlogs.go
  solver/app/bindings.go
  solver/app/ephemeral.go
  solver/app/helpers.go
  solver/app/metrics.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/reject.go
  solver/app/rejectreason_string.go
  solver/app/targets.go
  solver/types/target.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

e2e(manifest): bump monitor in protected networks
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

e2e(manifest): bump monitor in protected networks (#2696)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

fix: upgrading
  cli/cmd/compose.yaml.tpl
  cli/cmd/initnodes.go
  halo/app/upgrades.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix: don't set upgrade version on an archive
  cli/cmd/initnodes.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix: use manifest
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-goversion

fix: manifest parsing
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-goversion

fix(cli/cmd): add feature flags to the joint-test (#2693)
  cli/cmd/compose.yaml.tpl
  cli/cmd/initnodes.go
  halo/app/upgrades.go
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

provide halo tag so cmd can be run without installing the cli
  cli/cmd/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

bind feature flags to init nodes cli cmd
  cli/cmd/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

pretty close to initial draft of ERC-7683 compliant settlement system
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
  contracts/solve/src/ERC7683/interfaces/IDestinationSettler.sol
  contracts/solve/src/ERC7683/interfaces/IERC7683.sol
  contracts/solve/src/ERC7683/interfaces/IOriginSettler.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNet.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetOutbox.sol
Due: none

fix(cli/cmd): update operator init-nodes cmd (#2703)
  cli/cmd/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

use proprietary data structures instead of abusing the spec
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
  contracts/solve/src/ERC7683/interfaces/IDestinationSettler.sol
  contracts/solve/src/ERC7683/interfaces/IOriginSettler.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNet.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetOutbox.sol
Due: none
