Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

tests
  e2e/test/cli_test.go
  lib/cchain/provider/abci.go
  octane/evmengine/keeper/query.go
  octane/evmengine/types/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/solana): add more test cases
  solver/solana/compose_test.go
Due: run-go-tests, run-golint, run-goversion

test improvements
  e2e/test/cli_test.go
  halo/app/app_config.go
  octane/bankwrap/depinject.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

extend smoke test
  halo/app/start_test.go
  lib/cchain/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(halo/app): account for validator rewards (#2971)
  halo/app/start_test.go
  halo/app/upgrades/uluwatu/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/solana): add more test cases (#2987)
  solver/solana/compose_test.go
Due: run-go-tests, run-golint, run-goversion

minor
  octane/bankwrap/depinject.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(scripts): enable logging on init-nodes
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-goversion

fix(scripts): enable logging on init-nodes (#2988)
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-goversion

review comments
  e2e/test/cli_test.go
  lib/cchain/provider/abci.go
  octane/bankwrap/depinject.go
  octane/bankwrap/types.go
  octane/bankwrap/wrapper.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/keeper/evmengine.proto
  octane/evmengine/keeper/query.go
  octane/evmengine/types/types.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): clear dir and formatter changes
  .gitignore
  contracts/solve/inbox.json
  contracts/solve/outbox.json
  sdk/.gitignore
  sdk/.vscode/extensions.json
  sdk/.vscode/settings.json
  sdk/package.json
  sdk/src/abi/index.ts
  sdk/src/abi/omniPortal.ts
  sdk/src/chains/index.ts
  sdk/src/config.ts
  sdk/src/index.ts
  sdk/src/types/chain.ts
  sdk/src/types/nativeCurrency.ts
  sdk/src/types/xMsg.ts
  sdk/src/types/xReceipt.ts
  sdk/src/utils/checkXMsgStatus.ts
  sdk/src/utils/index.ts
  sdk/tsconfig.build.json
  sdk/tsconfig.json
Due: none

chore(sdk): newline
  sdk/.gitignore
Due: none

chore(sdk): clear dir and formatter changes (#2989)
  .gitignore
  contracts/solve/inbox.json
  contracts/solve/outbox.json
  sdk/.gitignore
  sdk/.vscode/extensions.json
  sdk/.vscode/settings.json
  sdk/package.json
  sdk/src/abi/index.ts
  sdk/src/abi/omniPortal.ts
  sdk/src/chains/index.ts
  sdk/src/config.ts
  sdk/src/index.ts
  sdk/src/types/chain.ts
  sdk/src/types/nativeCurrency.ts
  sdk/src/types/xMsg.ts
  sdk/src/types/xReceipt.ts
  sdk/src/utils/checkXMsgStatus.ts
  sdk/src/utils/index.ts
  sdk/tsconfig.build.json
  sdk/tsconfig.json
Due: none

chore(lib/contracts): add solvernet middleman
  contracts/Makefile
  contracts/bindings/solvernetmiddleman.go
  e2e/solve/deploy.go
  lib/contracts/address.go
  lib/contracts/address_test.go
  lib/contracts/solvernet/inbox/deploy.go
  lib/contracts/solvernet/middleman/deploy.go
  lib/contracts/solvernet/outbox/deploy.go
  lib/contracts/testdata/TestContractAddressReference.golden
  lib/contracts/utils.go
  scripts/stagingaddrs/main.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

money type
  e2e/test/cli_test.go
  octane/bankwrap/types.go
  octane/bankwrap/wrapper.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/keeper/evmengine.proto
  octane/evmengine/keeper/query.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/contracts): add solvernet middleman (#2990)
  contracts/Makefile
  contracts/bindings/solvernetmiddleman.go
  e2e/solve/deploy.go
  lib/contracts/address.go
  lib/contracts/address_test.go
  lib/contracts/solvernet/inbox/deploy.go
  lib/contracts/solvernet/middleman/deploy.go
  lib/contracts/solvernet/outbox/deploy.go
  lib/contracts/testdata/TestContractAddressReference.golden
  lib/contracts/utils.go
  scripts/stagingaddrs/main.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): test publish pkg
  sdk/package.json
  sdk/pnpm-lock.yaml
  sdk/src/index.ts
Due: none

add support for migrating to staking delegation
  contracts/core/.gas-snapshot
  contracts/core/script/manual/GenesisStake.s.sol
  contracts/core/src/interfaces/IStaking.sol
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

chore(sdk): sdk config tweaks
  sdk/.vscode/settings.json
  sdk/README.md
  sdk/biome.json
  sdk/package.json
  sdk/pnpm-lock.yaml
  sdk/tsconfig.json
Due: none

chore(sdk): update readme
  sdk/README.md
Due: none

chore(sdk): sdk config tweaks (#2994)
  sdk/.vscode/settings.json
  sdk/README.md
  sdk/biome.json
  sdk/package.json
  sdk/pnpm-lock.yaml
  sdk/tsconfig.json
Due: none

feat(solvernet): intial order sdk logic
  sdk/package.json
  sdk/src/constants/contracts.ts
  sdk/src/constants/typehash.ts
  sdk/src/index.ts
  sdk/src/types/order.ts
  sdk/tsconfig.build.json
Due: none

feat(sdk): intial order sdk logic (#2995)
  sdk/package.json
  sdk/src/constants/contracts.ts
  sdk/src/constants/typehash.ts
  sdk/src/index.ts
  sdk/src/types/order.ts
  sdk/tsconfig.build.json
Due: none

chore(sdk): update types
  sdk/src/hooks/useOrderStatus.ts
Due: none

feat(sdk): order hooks
  sdk/src/hooks/useOpenOrder.ts
  sdk/src/hooks/useOrderStatus.ts
  sdk/src/index.ts
  sdk/src/types/orderStatus.ts
  sdk/src/utils/encodeOrder.ts
Due: none

chore(sdk): make naming consistent
  sdk/src/hooks/useOpenOrder.ts
  sdk/src/hooks/useOrderStatus.ts
  sdk/src/types/order.ts
Due: none

rename contracts/misc to contracts/xapps
  contracts/Makefile
  contracts/xapps/.gas-snapshot
  contracts/xapps/.gitignore
  contracts/xapps/foundry.toml
  contracts/xapps/package.json
  contracts/xapps/pnpm-lock.yaml
  contracts/xapps/script/pledge/Pledge.s.sol
  contracts/xapps/src/bridge/Bridge.sol
  contracts/xapps/src/bridge/Lockbox.sol
  contracts/xapps/src/bridge/interfaces/IBridge.sol
  contracts/xapps/src/bridge/interfaces/ILockbox.sol
  contracts/xapps/src/bridge/interfaces/ITokenOps.sol
  contracts/xapps/src/pledge/Pledge.sol
  contracts/xapps/test/bridge/TestBase.sol
  contracts/xapps/test/bridge/bridge/General.t.sol
  contracts/xapps/test/bridge/bridge/ReceiveToken.t.sol
  contracts/xapps/test/bridge/bridge/SendToken.t.sol
  contracts/xapps/test/bridge/lockbox/Deposit.t.sol
  contracts/xapps/test/bridge/lockbox/General.t.sol
  contracts/xapps/test/bridge/lockbox/Withdraw.t.sol
  contracts/xapps/test/pledge/Pledge.t.sol
Due: none

chore(sdk): address comments
  sdk/src/hooks/useGetOpenOrder.ts
  sdk/src/hooks/useOpenOrder.ts
  sdk/src/hooks/useOrderStatus.ts
Due: none

chore(sdk): fix param
  sdk/src/hooks/useGetOpenOrder.ts
Due: none

feat(sdk): order hooks (#2996)
  sdk/src/hooks/useGetOpenOrder.ts
  sdk/src/hooks/useOpenOrder.ts
  sdk/src/hooks/useOrderStatus.ts
  sdk/src/index.ts
  sdk/src/types/order.ts
  sdk/src/types/orderStatus.ts
  sdk/src/utils/encodeOrder.ts
Due: none

chore(contracts): rename misc to xapps (#2997)
  contracts/Makefile
  contracts/xapps/.gas-snapshot
  contracts/xapps/.gitignore
  contracts/xapps/foundry.toml
  contracts/xapps/package.json
  contracts/xapps/pnpm-lock.yaml
  contracts/xapps/script/pledge/Pledge.s.sol
  contracts/xapps/src/bridge/Bridge.sol
  contracts/xapps/src/bridge/Lockbox.sol
  contracts/xapps/src/bridge/interfaces/IBridge.sol
  contracts/xapps/src/bridge/interfaces/ILockbox.sol
  contracts/xapps/src/bridge/interfaces/ITokenOps.sol
  contracts/xapps/src/pledge/Pledge.sol
  contracts/xapps/test/bridge/TestBase.sol
  contracts/xapps/test/bridge/bridge/General.t.sol
  contracts/xapps/test/bridge/bridge/ReceiveToken.t.sol
  contracts/xapps/test/bridge/bridge/SendToken.t.sol
  contracts/xapps/test/bridge/lockbox/Deposit.t.sol
  contracts/xapps/test/bridge/lockbox/General.t.sol
  contracts/xapps/test/bridge/lockbox/Withdraw.t.sol
  contracts/xapps/test/pledge/Pledge.t.sol
Due: none

feat(sdk): encode call data internally
  sdk/src/types/order.ts
  sdk/src/utils/encodeOrder.ts
Due: none

chore(sdk): rename param
  sdk/src/types/order.ts
Due: none

chore(sdk): rename param
  sdk/src/utils/encodeOrder.ts
Due: none

feat(sdk): encode call data internally (#2998)
  sdk/src/types/order.ts
  sdk/src/utils/encodeOrder.ts
Due: none

cleanup
  e2e/test/cli_test.go
  halo/app/app.go
  halo/app/app_config.go
  octane/bankwrap/depinject.go
  octane/bankwrap/metrics.go
  octane/bankwrap/types.go
  octane/bankwrap/wrapper.go
  octane/bankwrap/wrapper_internal_test.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/keeper/evmengine.proto
  octane/evmengine/keeper/metrics.go
  octane/evmengine/keeper/query.go
  octane/evmengine/types/query.pb.go
  octane/evmengine/types/query.proto
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

fix(octane/evmengine): fix proposing invalid blobs
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/msg_server.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(octane/wrapper): withdrawal request persistence (#2980)
  e2e/test/cli_test.go
  halo/app/app.go
  halo/app/app_config.go
  halo/app/start_test.go
  lib/cchain/provider/abci.go
  lib/cchain/types.go
  octane/bankwrap/depinject.go
  octane/bankwrap/metrics.go
  octane/bankwrap/types.go
  octane/bankwrap/wrapper.go
  octane/bankwrap/wrapper_internal_test.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/keeper/evmengine.cosmos_orm.go
  octane/evmengine/keeper/evmengine.pb.go
  octane/evmengine/keeper/evmengine.proto
  octane/evmengine/keeper/metrics.go
  octane/evmengine/keeper/query.go
  octane/evmengine/module/module.go
  octane/evmengine/types/query.pb.go
  octane/evmengine/types/query.proto
  octane/evmengine/types/types.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

fix(octane/evmengine): fix proposing invalid blobs (#3000)
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/msg_server.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): fix encoded data slicing
  sdk/src/utils/encodeOrder.ts
Due: none
