Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

lint
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

remove proof validation
  relayer/app/creator_test.go
Due: run-go-tests, run-goversion

fix(app/relayer): creator test (#138)
  relayer/app/creator_test.go
Due: run-go-tests, run-goversion

chore(contracts): update contract lint rules
  .solhint.json
  .solhintignore
  contracts/foundry.toml
  contracts/src/OmniPortal.sol
  contracts/src/interfaces/IOmniPortal.sol
  contracts/src/libraries/XChain.sol
  contracts/test/OmniPortal.t.sol
  contracts/test/common/Events.sol
Due: none

Update go.sum
  go.sum
Due: none

test(halo/cmd): fix flapping toml test
  halo/cmd/cmd_internal_test.go
Due: run-go-tests, run-goversion

chore(contracts): update contract lint rules (#137)
  .solhint.json
  .solhintignore
  contracts/foundry.toml
  contracts/src/OmniPortal.sol
  contracts/src/interfaces/IOmniPortal.sol
  contracts/src/libraries/XChain.sol
  contracts/test/OmniPortal.t.sol
  contracts/test/common/Events.sol
Due: none

feat(explorer/api): self hosting documentation (#122)
  explorer/api/app/app.go
  explorer/api/docs/redocly.go
  explorer/api/openapi/openapi.yaml
  explorer/api/static/openapi.yaml
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-goversion

test(halo/cmd): fix flapping toml test (#140)
  halo/cmd/cmd_internal_test.go
Due: run-go-tests, run-goversion

test(contracts): refactor test XMsgs
  contracts/test/OmniPortal.t.sol
  contracts/test/common/CommonTest.sol
  contracts/test/common/Counter.sol
Due: none

test(e2e): implement basic e2e framework
  .golangci.yml
  go.mod
  go.sum
  halo/Dockerfile
  halo/cmd/cometconfig.go
  halo/cmd/flags.go
  halo/cmd/init.go
  halo/cmd/init_internal_test.go
  test/e2e/.gitignore
  test/e2e/README.md
  test/e2e/networks/simple.toml
  test/e2e/networks/single.toml
  test/e2e/runner/cleanup.go
  test/e2e/runner/docker.go
  test/e2e/runner/docker/compose.yaml.tmpl
  test/e2e/runner/docker/docker.go
  test/e2e/runner/main.go
  test/e2e/runner/rpc.go
  test/e2e/runner/setup.go
  test/e2e/runner/start.go
  test/e2e/runner/wait.go
  test/tutil/golden.go
  test/tutil/require.go
Due: run-go-tests, run-regexp, run-goversion

test(contracts): refactor test XMsgs (#141)
  contracts/test/OmniPortal.t.sol
  contracts/test/common/CommonTest.sol
  contracts/test/common/Counter.sol
Due: none

feat(contracts): execute xmsgs on submission
  contracts/src/OmniPortal.sol
  contracts/src/interfaces/IOmniPortal.sol
  contracts/test/OmniPortal.t.sol
  contracts/test/common/CommonTest.sol
  contracts/test/common/Events.sol
  contracts/test/common/Reverter.sol
Due: none

remove unused console import
  contracts/test/OmniPortal.t.sol
Due: none

format slack notification
  .github/workflows/slack.yml
Due: none

use consistent formatting
  .github/workflows/slack.yml
Due: none

add exec unit tests, do not reference otherChainId in tests
  contracts/test/OmniPortal.t.sol
  contracts/test/common/CommonTest.sol
  contracts/test/common/TestPortal.sol
Due: none

cleanup
  contracts/test/OmniPortal.t.sol
Due: none

ci(*): format slack notification (#143)
  .github/workflows/slack.yml
Due: none

fix fuzz
  relayer/app/creator_test.go
Due: run-go-tests, run-goversion

linter
  relayer/app/creator_test.go
Due: run-go-tests, run-goversion

fix(app/relayer): fuzzer for creator (#144)
  relayer/app/creator_test.go
Due: run-go-tests, run-goversion

update comments, enfore max gas limit
  contracts/src/OmniPortal.sol
  contracts/src/interfaces/IOmniPortal.sol
Due: none

move utils and fixtures to CommonTest
  contracts/test/common/CommonTest.sol
Due: none

split tests into separate files by function
  contracts/test/OmniPortal.t.sol
  contracts/test/OmniPortal_exec.t.sol
  contracts/test/OmniPortal_xcall.t.sol
  contracts/test/OmniPortal_xsubmit.t.sol
Due: none

feat(contracts): execute xmsgs on submission (#142)
  contracts/src/OmniPortal.sol
  contracts/src/interfaces/IOmniPortal.sol
  contracts/test/OmniPortal_exec.t.sol
  contracts/test/OmniPortal_xcall.t.sol
  contracts/test/OmniPortal_xsubmit.t.sol
  contracts/test/common/CommonTest.sol
  contracts/test/common/Events.sol
  contracts/test/common/Reverter.sol
  contracts/test/common/TestPortal.sol
Due: none

init
  Makefile
  explorer/Makefile
  explorer/README.md
  explorer/ui/Makefile
  explorer/ui/app/openapi/openapi.d.ts
  explorer/ui/app/openapi/openapi.yaml
  explorer/ui/package-lock.json
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
Due: none

init
  explorer/ui/.dockerignore
  explorer/ui/Dockerfile
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
  explorer/ui/remix.config.js
Due: none

working
  explorer/ui/.npmrc
  explorer/ui/Dockerfile
Due: none

chore(deps): upgrade cometbft to 0-38-4
  go.mod
  go.sum
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
Due: none

cleanup pr
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

feat(app/relayer): sender refactor (#136)
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): implement basic e2e framework (#135)
  .golangci.yml
  go.mod
  go.sum
  halo/Dockerfile
  halo/cmd/cometconfig.go
  halo/cmd/flags.go
  halo/cmd/init.go
  halo/cmd/init_internal_test.go
  test/e2e/.gitignore
  test/e2e/README.md
  test/e2e/networks/simple.toml
  test/e2e/networks/single.toml
  test/e2e/runner/cleanup.go
  test/e2e/runner/docker.go
  test/e2e/runner/docker/compose.yaml.tmpl
  test/e2e/runner/docker/docker.go
  test/e2e/runner/main.go
  test/e2e/runner/rpc.go
  test/e2e/runner/setup.go
  test/e2e/runner/start.go
  test/e2e/runner/wait.go
  test/tutil/golden.go
  test/tutil/require.go
Due: run-go-tests, run-regexp, run-goversion

chore(deps): upgrade cometbft to 0-38-4 (#147)
  go.mod
  go.sum
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
Due: none

test(e2e): fixes for simple e2e test
  halo/app/cmtlog.go
  lib/engine/fuzz.go
  lib/engine/fuzz_test.go
  lib/engine/mock.go
  lib/log/log.go
  lib/log/log_test.go
  lib/log/logger.go
  lib/log/testdata/TestSimpleLogs_console.golden
  test/e2e/runner/setup.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo): add make halo-simnet command
  Makefile
  halo/cmd/flags.go
  halo/cmd/init.go
  halo/cmd/testdata/TestCLIReference_init.golden
Due: run-go-tests, run-regexp, run-goversion

test(e2e): fixes for simple e2e test (#148)
  halo/app/cmtlog.go
  lib/engine/fuzz.go
  lib/engine/fuzz_test.go
  lib/engine/mock.go
  lib/log/log.go
  lib/log/log_test.go
  lib/log/logger.go
  lib/log/testdata/TestSimpleLogs_console.golden
  test/e2e/runner/setup.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo): add make halo-simnet command (#149)
  Makefile
  halo/cmd/flags.go
  halo/cmd/init.go
  halo/cmd/testdata/TestCLIReference_init.golden
Due: run-go-tests, run-regexp, run-goversion

cleanup
  lib/log/logger.go
  lib/log/testdata/TestSimpleLogs_console.golden
Due: run-go-tests, run-regexp, run-goversion

feat(halo/comet): add protobuf types for abci query
  .pre-commit-config.yaml
  .pre-commit/run_buf.sh
  Makefile
  buf.gen.yaml
  buf.yaml
  go.mod
  go.sum
  halo/halopb/v1/query.pb.go
  halo/halopb/v1/query.proto
  halo/halopb/v1/query_grpc.pb.go
  halo/halopb/v1/xchain.pb.go
  halo/halopb/v1/xchain.proto
  scripts/dummy.go
  scripts/tools.go
Due: run-go-tests, run-regexp, run-goversion

Path conditions:
  run-go-tests: any of: \.go$
  run-regexp: any of: \.go$, but not: _test.go
  run-goversion: any of: \.go$
