Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

chore(sdk): check value exists and remove type
  sdk/src/hooks/useDidFill.ts
Due: none

chore(sdk): remove type
  sdk/src/types/order.ts
Due: none

chore(sdk): remove import
  sdk/src/types/order.ts
Due: none

wrapped up manual scripts to deploy genesis stake to testnet
  contracts/core/.gas-snapshot
  contracts/core/script/manual/OmegaGenesisStake.s.sol
  contracts/core/script/manual/StagingGenesisStake.s.sol
  contracts/core/script/manual/merkleTree.json
Due: none

feat(sdk): return complete resolved order (#3253)
  sdk/src/hooks/useDidFill.ts
  sdk/src/hooks/useOrder.ts
  sdk/src/hooks/useParseOpenEvent.test.ts
  sdk/src/hooks/useParseOpenEvent.ts
Due: none

fix(e2e/anvilproxy): install wget
  e2e/anvilproxy/Dockerfile
Due: none

fix(e2e/anvilproxy): install wget (#3255)
  e2e/anvilproxy/Dockerfile
Due: none

split staking cmd into deploy and upgrade separately
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  e2e/app/admin/upgrade.go
  e2e/cmd/admin.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(e2e/solve): fix remarks
  e2e/solve/fund.go
  e2e/solve/test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(solver): enable tracing on solver
  e2e/app/setup.go
  e2e/solve/order_tracker.go
  e2e/solve/test.go
  lib/contracts/solvernet/bindings.go
  solver/app/app.go
  solver/app/config.go
  solver/app/config.toml.tmpl
  solver/app/config_test.go
  solver/app/testdata/default_solver.toml
  solver/cmd/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(e2e/solve): simplify testCheckAPI
  e2e/solve/fund.go
  e2e/solve/test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(solver): enable tracing on solver (#3243)
  e2e/app/setup.go
  e2e/solve/order_tracker.go
  e2e/solve/test.go
  lib/contracts/solvernet/bindings.go
  solver/app/app.go
  solver/app/config.go
  solver/app/config.toml.tmpl
  solver/app/config_test.go
  solver/app/testdata/default_solver.toml
  solver/cmd/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): update operators roadmap
  docs/content/operate/roadmap.md
Due: none

Setup SDK test for successful order
  sdk/integration-tests/flows.test.ts
  sdk/integration-tests/flows.test.tsx
  sdk/integration-tests/test-utils.tsx
Due: none

fix expenses
  monitor/flowgen/bridging/bridging.go
  solver/app/quote.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add omega jobs
  monitor/flowgen/flowgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

review
  monitor/flowgen/bridging/bridging.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(e2e/solve): simplify setSolverAccountNativeBalance
  e2e/solve/fund.go
  e2e/solve/test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(flowgen): fix deposit amounts and add omega (#3258)
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/flowgen.go
  solver/app/quote.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/netconf): disable holesky
  lib/evmchain/evmchain.go
  lib/netconf/provider.go
  monitor/xmonitor/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/netconf): disable holesky (#3259)
  lib/evmchain/evmchain.go
  lib/netconf/provider.go
  monitor/xmonitor/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): bump omega to disable holesky
  e2e/manifests/omega.toml
Due: none

ci(e2e): bump omega to disable holesky (#3260)
  e2e/manifests/omega.toml
Due: none

test(e2e/solve): add InsufficientInventory test (#3231)
  e2e/solve/deploy.go
  e2e/solve/fund.go
  e2e/solve/test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/netconf): fix omega relayer/monitor
  lib/netconf/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/netconf): fix omega relayer/monitor (#3262)
  lib/netconf/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): bump omega to fix holesky disable
  e2e/manifests/omega.toml
Due: none

ci(e2e): bump omega to fix holesky disable (#3263)
  e2e/manifests/omega.toml
Due: none

refactor(contracts/solvernet): remove slice types
  e2e/solve/test.go
  e2e/solve/testutil.go
  lib/contracts/solvernet/types.go
  lib/contracts/solvernet/types_test.go
  monitor/flowgen/bridging/bridging.go
  solver/app/check.go
  solver/types/api.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

refactor(contracts/solvernet): remove slice types (#3264)
  e2e/solve/test.go
  e2e/solve/testutil.go
  lib/contracts/solvernet/types.go
  lib/contracts/solvernet/types_test.go
  monitor/flowgen/bridging/bridging.go
  solver/app/check.go
  solver/types/api.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/app): increase go test timeout to 2m
  e2e/app/test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

set cadence to 1/2 hour
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/flowgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/app): increase go test timeout to 2m (#3266)
  e2e/app/test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(flowgen): set bridging cadence to 30 minutes (#3265)
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/flowgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

don't fund disabled chains
  e2e/app/fund.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(e2e/fund): dont fund disabled chains (#3267)
  e2e/app/fund.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

swapped mock OMNI tokens out for verified versions
  solver/app/testdata/TestTokens.golden
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): replace mock OMNI tokens (#3269)
  solver/app/testdata/TestTokens.golden
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add docs
  contracts/solve/.gas-snapshot
  contracts/solve/src/lib/SolverNet.sol
Due: none

natpsec and content
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/src/lib/SolverNet.sol
Due: run-go-tests, run-golint, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
