Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

feat(halo): reenable grpc cprovider (#2251)
  .gitignore
  go.mod
  go.sum
  halo/app/start.go
  halo/app/start_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): fix renaming funder and safe (#2250)
  e2e/app/eoa/eoa.go
  e2e/app/fund.go
  e2e/cmd/cmd.go
  halo/genutil/evm/evm.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): retry deploying feeoracle
  e2e/netman/manager.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): retry deploying feeoracle (#2253)
  e2e/netman/manager.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): review comments update
  e2e/app/fund.go
  halo/genutil/evm/evm.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): allow mainnet deploy
  e2e/app/fund.go
  e2e/app/run.go
  e2e/manifests/mainnet.toml
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): allow mainnet deploy (#2255)
  e2e/app/fund.go
  e2e/app/run.go
  e2e/manifests/mainnet.toml
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): add chain names
  e2e/types/chain.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): add chain names (#2256)
  e2e/types/chain.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): skip funding omni on mainnet
  e2e/app/fund.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): skip funding omni on mainnet (#2258)
  e2e/app/fund.go
Due: run-go-tests, run-regexp, run-goversion

ci(contracts): add mainnet allocs
  contracts/allocs/allocs.go
Due: run-go-tests, run-regexp, run-goversion

ci(contracts): add mainnet allocs (#2259)
  contracts/allocs/allocs.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/contracts): bump mainnet salt version
  lib/contracts/address.go
  lib/contracts/testdata/TestContractAddressReference.golden
Due: run-go-tests, run-regexp, run-goversion

chore(lib/contracts): bump mainnet salt version (#2260)
  lib/contracts/address.go
  lib/contracts/testdata/TestContractAddressReference.golden
Due: run-go-tests, run-regexp, run-goversion

fix(*): add mainnet checks
  monitor/avs/avs.go
  monitor/routerecon/recon.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): skip mainnet vm deploys
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): skip mainnet vm deploys (#2262)
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): retry deploying portal proxy
  lib/contracts/portal/deploy.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): retry deploying portal proxy (#2263)
  lib/contracts/portal/deploy.go
Due: run-go-tests, run-regexp, run-goversion

ci(netconf): add mainnet p2p
  lib/netconf/mainnet/consensus-archives.txt
  lib/netconf/mainnet/consensus-seeds.txt
  lib/netconf/mainnet/execution-seeds.txt
  lib/netconf/netconf_test.go
Due: run-go-tests, run-goversion

ci(netconf): add mainnet p2p (#2265)
  lib/netconf/mainnet/consensus-archives.txt
  lib/netconf/mainnet/consensus-seeds.txt
  lib/netconf/mainnet/execution-seeds.txt
  lib/netconf/netconf_test.go
Due: run-go-tests, run-goversion

chore(xchain/connect): improve xconnector rpcs
  e2e/types/chain.go
  lib/cmd/flags.go
  lib/xchain/connect/connect.go
  lib/xchain/flags.go
  monitor/routerecon/recon_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(xchain/connect): improve xconnector rpcs (#2267)
  e2e/types/chain.go
  lib/cmd/flags.go
  lib/xchain/connect/connect.go
  lib/xchain/flags.go
  monitor/routerecon/recon_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

ci(scripts/join): improve nighly join test
  .github/workflows/ci-join.yml
  .gitignore
  cli/cmd/flags.go
  cli/cmd/initnodes.go
  e2e/types/chain_internal_test.go
  scripts/join/join_test.go
Due: run-go-tests, run-regexp, run-goversion

ci(halo/app): disable race for cosmos
  .github/workflows/gotest.yml
  .pre-commit/run_go_tests.sh
  Makefile
  halo/app/pruning_test.go
  halo/app/start_test.go
Due: run-go-tests, run-goversion

ci(scripts/join): improve nightly join test (#2268)
  .github/workflows/ci-join.yml
  .gitignore
  cli/cmd/flags.go
  cli/cmd/initnodes.go
  e2e/types/chain_internal_test.go
  scripts/join/join_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(monitor): increase gas price threshold
  monitor/xfeemngr/xfeemngr.go
Due: run-go-tests, run-regexp, run-goversion

update for clarity
  docs/content/operate/2-validator.md
Due: none

ci(scripts/join): fail if too fast
  scripts/join/join_test.go
Due: run-go-tests, run-goversion

ci(e2e): disable mainnet deploy
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): update nomenclature (#2270)
  docs/content/operate/2-validator.md
Due: none

fix(monitor): increase gas price threshold (#2271)
  monitor/xfeemngr/xfeemngr.go
Due: run-go-tests, run-regexp, run-goversion

ci(halo/app): disable race for cosmos (#2269)
  .github/workflows/gotest.yml
  .pre-commit/run_go_tests.sh
  Makefile
  halo/app/pruning_test.go
  halo/app/start_test.go
Due: run-go-tests, run-goversion

ci(e2e): disable mainnet deploy (#2274)
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$, but not: (explorer/db/ent/internal/.*)
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)
  run-goversion: any of: \.go$
