Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

test(sdk): react next unit test tweaks
  sdk/packages/react-next/src/hooks/useDidFillOutbox.test.ts
  sdk/packages/react-next/src/hooks/useGetOrder.test.ts
  sdk/packages/react-next/src/hooks/useGetOrderStatus.test.ts
  sdk/packages/react-next/src/hooks/useInboxStatus.test.ts
  sdk/packages/react-next/src/hooks/useOmniContracts.test.ts
  sdk/packages/react-next/src/hooks/useParseOpenEvent.test.ts
  sdk/packages/react-next/src/hooks/useQuote.test.ts
  sdk/packages/react-next/src/hooks/useValidateOrder.test.ts
  sdk/packages/react-next/test/index.ts
  sdk/packages/react-next/test/shared.ts
Due: none

feat: update rewards distributor with unstaking
  contracts/core/src/interfaces/IGenesisStake.sol
  contracts/core/src/token/GenesisStake.sol
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
Due: none

feat: test
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

feat: remove unstaking from genesisstake contract
  contracts/core/src/interfaces/IGenesisStake.sol
  contracts/core/src/token/GenesisStake.sol
Due: none

test(sdk): react next unit test tweaks (#3795)
  sdk/packages/react-next/src/hooks/useDidFillOutbox.test.ts
  sdk/packages/react-next/src/hooks/useGetOrder.test.ts
  sdk/packages/react-next/src/hooks/useGetOrderStatus.test.ts
  sdk/packages/react-next/src/hooks/useInboxStatus.test.ts
  sdk/packages/react-next/src/hooks/useOmniContracts.test.ts
  sdk/packages/react-next/src/hooks/useParseOpenEvent.test.ts
  sdk/packages/react-next/src/hooks/useQuote.test.ts
  sdk/packages/react-next/src/hooks/useValidateOrder.test.ts
  sdk/packages/react-next/test/index.ts
  sdk/packages/react-next/test/shared.ts
Due: none

add swaps docs
  docs/docs/pages/sdk/supported-assets.mdx
  docs/docs/pages/sdk/swaps.mdx
  docs/vocs.config.tsx
Due: none

feat(lib/uniswap): swap from usdc
  lib/uniswap/addrs.go
  lib/uniswap/genbindings.go
  lib/uniswap/swap.go
  lib/uniswap/swap_test.go
  lib/uniswap/weth9.json
  lib/uniswap/weth9_bindings.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat: update unstake to migratestake and transfer. remove unbonding withdraw and unstake from genesisstake
  contracts/core/script/admin/GenesisStakeUpgradeTest.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStake.s.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStakeQA.s.sol
  contracts/core/script/manual/genesis-staking/StagingGenesisStake.s.sol
  contracts/core/src/interfaces/IGenesisStake.sol
  contracts/core/src/token/GenesisStake.sol
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

feat(lib/uniswap): swap from usdc (#3798)
  lib/uniswap/addrs.go
  lib/uniswap/genbindings.go
  lib/uniswap/swap.go
  lib/uniswap/swap_test.go
  lib/uniswap/weth9.json
  lib/uniswap/weth9_bindings.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): init thresholds
  solver/rebalance/thresholds.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add react-query note
  docs/docs/pages/sdk/swaps.mdx
Due: none

chore(solver/rebalance): init thresholds (#3799)
  solver/rebalance/thresholds.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): optional queryOpts param
  sdk/packages/react/src/hooks/useQuote.ts
  sdk/packages/react/src/hooks/useValidateOrder.ts
Due: none

chore(sdk): biome
  sdk/packages/react/src/hooks/useQuote.ts
  sdk/packages/react/src/hooks/useValidateOrder.ts
Due: none

chore(docs): add info about query opts
  docs/docs/pages/sdk/hooks/useQuote.md
  docs/docs/pages/sdk/swaps.mdx
Due: none

chore(sdk): revert validate opts
  sdk/packages/react/src/hooks/useValidateOrder.ts
Due: none

chore(sdk): biome
  sdk/packages/react/src/hooks/useValidateOrder.ts
Due: none

chore(docs): add swaps docs (#3797)
  docs/docs/pages/sdk/hooks/useQuote.md
  docs/docs/pages/sdk/supported-assets.mdx
  docs/docs/pages/sdk/swaps.mdx
  docs/vocs.config.tsx
Due: none

test(sdk): useOrder react next units
  sdk/packages/react-next/src/hooks/useOrder.test-d.ts
  sdk/packages/react-next/src/hooks/useOrder.test.ts
  sdk/packages/react-next/src/hooks/useOrder.ts
  sdk/packages/react-next/test/mocks.ts
Due: none

chore(sdk): biome script
  sdk/packages/react-next/package.json
Due: none

chore(sdk): rm comment
  sdk/packages/react-next/src/hooks/useOrder.test.ts
Due: none

chore(solver/rebalance): init rebalance start boilerplate
  lib/cctp/audit.go
  lib/cctp/domains.go
  lib/cctp/mint.go
  solver/app/app.go
  solver/app/rebalance.go
  solver/rebalance/rebalance.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts): merkle distributor without deadline
  contracts/core/src/token/MerkleDistributorWithoutDeadline.sol
  contracts/core/test/token/MerkleDistributorWithoutDeadline.t.sol
Due: none

feat: undo changes to mdwithdeadline
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

feat: undo changes
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
Due: none

chore(solver/rebalance): rebalance start boilerplate (#3803)
  lib/cctp/audit.go
  lib/cctp/domains.go
  lib/cctp/mint.go
  solver/app/app.go
  solver/app/rebalance.go
  solver/rebalance/rebalance.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): scaffold loops
  solver/rebalance/config.go
  solver/rebalance/rebalance.go
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/rebalance): scaffold loops (#3804)
  solver/rebalance/config.go
  solver/rebalance/rebalance.go
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): enable swaps on mainnet (#3794)
  solver/app/app.go
  solver/app/pricer.go
  solver/app/pricer_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): trace orders (#3792)
  lib/ethclient/ethbackend/backend.go
  solver/app/procdeps.go
  solver/app/reject.go
  solver/app/trace.go
  solver/app/worker.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts/solvernet): support hyperlane chains
  e2e/solve/deploy.go
  lib/contracts/solvernet/chains.go
  lib/contracts/solvernet/chains_test.go
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/flowgen): delay flowgen swaps more
  monitor/flowgen/bridging/bridging.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/flowgen): delay flowgen swaps more (#3807)
  monitor/flowgen/bridging/bridging.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix tests
  e2e/test/distribution_test.go
  halo/evmdistribution/evmdistribution.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix addresses
  halo/evmdistribution/evmdistribution.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

more tests
  e2e/test/distribution_test.go
Due: run-go-tests, run-golint, run-goversion

chore(sdk): move query opts
  sdk/packages/react/src/hooks/useQuote.ts
Due: none

chore(sdk): bump vers
  sdk/packages/react/package.json
Due: none

chore(sdk): optional queryOpts param (#3801)
  sdk/packages/react/package.json
  sdk/packages/react/src/hooks/useQuote.ts
Due: none

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
