Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(*): few tiny chores (#2556)
  halo/app/prouter.go
  halo/attest/keeper/keeper.go
  halo/attest/voter/voter.go
  lib/chaos/chaos.go
  lib/chaos/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat: integrate delegation delivery code
  halo/evmstaking2/keeper/helpers.go
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/keeper/keeper_internal_test.go
  halo/evmstaking2/module/module.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(halo/app): fix readiness deadlock
  halo/app/ready.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(halo/app): fix readiness deadlock (#2558)
  halo/app/ready.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix: handle errs and panics equalliy
  halo/evmstaking2/keeper/helpers.go
  halo/evmstaking2/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(halo/evmstaking2): integrate delegation delivery code (#2557)
  halo/evmstaking2/keeper/helpers.go
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/keeper/keeper_internal_test.go
  halo/evmstaking2/module/module.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/ethclient): remove backend clone
  e2e/solve/devapp/deposit.go
  lib/ethclient/ethbackend/backend.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat: integrate validator creation event delivery
  halo/evmstaking2/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/ethclient): remove backend clone (#2559)
  e2e/solve/devapp/deposit.go
  lib/ethclient/ethbackend/backend.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): wire event streamers (#2555)
  e2e/app/definition.go
  e2e/app/setup.go
  lib/ethclient/ethbackend/backends.go
  solver/app/app.go
  solver/app/bindings.go
  solver/app/cursor.go
  solver/app/definition.go
  solver/app/deps.go
  solver/app/helpers.go
  solver/app/targets.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

finish contract refactor and fix go bindings/integration
  contracts/bindings/admin.go
  contracts/bindings/feeoraclev2.go
  contracts/core/.gas-snapshot
  contracts/core/src/interfaces/IFeeOracleV2.sol
  contracts/core/src/xchain/FeeOracleV2.sol
  contracts/core/test/xchain/FeeOracleV2.t.sol
  lib/contracts/feeoraclev2/deploy.go
  lib/contracts/feeoraclev2/feeparams.go
  lib/evmchain/evmchain.go
  lib/tokens/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

migrated fee oracle-specific values to its package
  lib/contracts/feeoraclev2/config.go
  lib/contracts/feeoraclev2/feeparams.go
  lib/contracts/feeoraclev2/gastokens.go
  lib/evmchain/evmchain.go
  lib/tokens/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): devnet e2e solving
  cli/cmd/register_test.go
  e2e/app/anvil.go
  e2e/app/eoa/eoa.go
  e2e/app/run.go
  e2e/manifests/devnet1.toml
  e2e/solve/deploy.go
  e2e/solve/devapp/deposit.go
  e2e/solve/devapp/target.go
  e2e/test/e2e_test.go
  e2e/test/solve_test.go
  lib/anvil/anvil.go
  lib/anvil/utils.go
  lib/anvil/utils_test.go
  lib/contracts/portal/deploy_test.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  lib/ethclient/mock/mock_interfaces.go
  solver/app/app.go
  solver/app/definition.go
  solver/app/deps.go
  solver/app/helpers.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/reject.go
  solver/app/rejectreason_string.go
  solver/app/targets.go
  solver/types/target.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): devnet e2e solving (#2560)
  cli/cmd/register_test.go
  e2e/app/anvil.go
  e2e/app/eoa/eoa.go
  e2e/app/run.go
  e2e/manifests/devnet1.toml
  e2e/solve/deploy.go
  e2e/solve/devapp/deposit.go
  e2e/solve/devapp/target.go
  e2e/test/e2e_test.go
  e2e/test/solve_test.go
  lib/anvil/anvil.go
  lib/anvil/utils.go
  lib/anvil/utils_test.go
  lib/contracts/portal/deploy_test.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  lib/ethclient/mock/mock_interfaces.go
  solver/app/app.go
  solver/app/definition.go
  solver/app/deps.go
  solver/app/helpers.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/reject.go
  solver/app/rejectreason_string.go
  solver/app/targets.go
  solver/types/target.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): fix solver deploy key
  e2e/app/setup.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): fix solver deploy key (#2570)
  e2e/app/setup.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(halo/evmstaking2): integrate validator creation event (#2563)
  halo/evmstaking2/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/log): add InfoErr and DebugErr
  e2e/app/rpc.go
  e2e/app/test.go
  halo/attest/keeper/keeper.go
  halo/evmstaking2/keeper/keeper.go
  lib/contracts/feeoraclev1/feeparams.go
  lib/contracts/feeoraclev2/feeparams.go
  lib/log/log.go
  lib/log/log_test.go
  lib/log/testdata/TestSimpleLogs_cli.golden
  lib/log/testdata/TestSimpleLogs_console.golden
  lib/log/testdata/TestSimpleLogs_json.golden
  lib/log/testdata/TestSimpleLogs_logfmt.golden
  lib/netconf/provider.go
  lib/p2putil/disc_test.go
  lib/txmgr/config.go
  lib/txmgr/ether.go
  lib/txmgr/txmgr.go
  monitor/app/public_rpc.go
  monitor/routerecon/recon_internal_test.go
  relayer/app/worker.go
  scripts/golint/logattrs.go
  scripts/golint/logattrs_internal_test.go
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/log): add InfoErr and DebugErr (#2569)
  e2e/app/rpc.go
  e2e/app/test.go
  halo/attest/keeper/keeper.go
  halo/evmstaking2/keeper/keeper.go
  lib/contracts/feeoraclev1/feeparams.go
  lib/contracts/feeoraclev2/feeparams.go
  lib/log/log.go
  lib/log/log_test.go
  lib/log/testdata/TestSimpleLogs_cli.golden
  lib/log/testdata/TestSimpleLogs_console.golden
  lib/log/testdata/TestSimpleLogs_json.golden
  lib/log/testdata/TestSimpleLogs_logfmt.golden
  lib/netconf/provider.go
  lib/p2putil/disc_test.go
  lib/txmgr/config.go
  lib/txmgr/ether.go
  lib/txmgr/txmgr.go
  monitor/app/public_rpc.go
  monitor/routerecon/recon_internal_test.go
  relayer/app/worker.go
  scripts/golint/logattrs.go
  scripts/golint/logattrs_internal_test.go
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix gas station balance thresholds
  lib/contracts/contracts.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/contracts): reduce gas station balance thresholds (#2574)
  lib/contracts/contracts.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test: more unit tests
  halo/evmstaking2/keeper/keeper_internal_test.go
Due: run-go-tests, run-golint, run-goversion

test: deliver delegate events
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/keeper/keeper_internal_test.go
  halo/evmstaking2/module/module.go
  halo/evmstaking2/types/interfaces.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/bindings): custom error utils
  contracts/bindings/custom_errors.go
Due: run-go-tests, run-golint, run-goversion

enabled deregistration in AVS
  contracts/avs/.gas-snapshot
  contracts/avs/src/OmniAVS.sol
  contracts/avs/src/interfaces/IOmniAVS.sol
  contracts/avs/test/OmniAVS_registration.t.sol
  contracts/avs/test/common/Utils.sol
  contracts/bindings/omniavs.go
Due: run-go-tests, run-golint, run-goversion

feat(contracts/avs): enabled operator deregistration (#2577)
  contracts/avs/.gas-snapshot
  contracts/avs/src/OmniAVS.sol
  contracts/avs/src/interfaces/IOmniAVS.sol
  contracts/avs/test/OmniAVS_registration.t.sol
  contracts/avs/test/common/Utils.sol
  contracts/bindings/omniavs.go
Due: run-go-tests, run-golint, run-goversion

added AVS operator deregistration to CLI
  cli/cmd/cmd.go
  cli/cmd/register.go
  cli/cmd/register_test.go
  lib/contracts/avs/register.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(e2e): increase rpc fee cap
  e2e/app/geth/config.go
  e2e/app/geth/testdata/TestWriteConfigTOML_archive.golden
  e2e/app/geth/testdata/TestWriteConfigTOML_full.golden
  e2e/app/geth/testdata/default_config.toml
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(e2e): increase rpc fee cap (#2579)
  e2e/app/geth/config.go
  e2e/app/geth/testdata/TestWriteConfigTOML_archive.golden
  e2e/app/geth/testdata/TestWriteConfigTOML_full.golden
  e2e/app/geth/testdata/default_config.toml
Due: run-go-tests, run-golint, run-regexp, run-goversion

add AVS upgrade tests
  contracts/avs/.gas-snapshot
  contracts/avs/test/OmniAVS_upgrade.t.sol
Due: none

chore(relayer): update omega cursors
  relayer/app/bootstrap.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(relayer): update omega cursors (#2581)
  relayer/app/bootstrap.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

it complies
  docs/content/1-learn/1-welcome.md
  docs/content/1-learn/2-why.md
  docs/content/1-learn/3-what.md
  docs/content/1-learn/4-core.md
  docs/content/1-learn/5-solvernet.md
  docs/content/1-learn/6-token.md
  docs/content/1-learn/7-whitepaper.md
  docs/content/1-learn/8-vision.md
  docs/content/1-learn/_category_.json
  docs/content/1-learn/portals.md
  docs/content/1-learn/resources.md
  docs/content/1-learn/xmsg.md
  docs/content/2-core/1-intro.md
  docs/content/2-core/2-start.md
  docs/content/2-core/3-xchain.md
  docs/content/2-core/4-evm.md
  docs/content/2-core/5-omega.md
  docs/content/2-core/6-mainnet.md
  docs/content/3-solvernet/intro.md
  docs/content/4-operate/_category_.json
  docs/content/4-operate/config.md
  docs/content/4-operate/faq.md
  docs/content/4-operate/roadmap.md
  docs/content/4-operate/run-full-node.md
  docs/content/4-operate/uluwatu.md
  docs/content/4-operate/validator.md
  docs/content/faq.md
  docs/content/learn/architecture.md
  docs/content/learn/what-is-omni.md
  docs/website/sidebars.ts
Due: none

return first archive node
  e2e/types/testnet.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): use first archive
  e2e/types/testnet.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): use first archive node (#2582)
  e2e/types/testnet.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

learn done
  docs/content/1-learn/1-welcome.md
  docs/content/1-learn/2-why.md
  docs/content/1-learn/3-what.md
  docs/content/1-learn/4-core.md
  docs/content/1-learn/5-solvernet.md
  docs/content/1-learn/_category_.json
  docs/content/2-core/_category_.json
  docs/content/3-solvernet/_category_.json
  docs/content/3-solvernet/intro.md
  docs/content/4-operate/_category_.json
  docs/content/faq.md
Due: none

add more about solvernet
  docs/content/1-learn/1-welcome.md
  docs/content/2-core/1-intro.md
  docs/content/2-core/2-start.md
  docs/content/2-core/2-xchain.md
  docs/content/2-core/3-evm.md
  docs/content/2-core/3-xchain.md
  docs/content/2-core/4-evm.md
  docs/content/2-core/4-omega.md
  docs/content/2-core/5-mainnet.md
  docs/content/3-solvernet/intro.md
  docs/content/faq.md
  docs/website/sidebars.ts
Due: none

remove fluff
  docs/content/1-learn/1-welcome.md
  docs/content/1-learn/8-vision.md
  docs/website/sidebars.ts
Due: none

remove numbers
  docs/content/core/_category_.json
  docs/content/core/evm.md
  docs/content/core/intro.md
  docs/content/core/mainnet.md
  docs/content/core/omega.md
  docs/content/core/xchain.md
  docs/content/learn/_category_.json
  docs/content/learn/core.md
  docs/content/learn/portals.md
  docs/content/learn/resources.md
  docs/content/learn/solvernet.md
  docs/content/learn/token.md
  docs/content/learn/welcome.md
  docs/content/learn/what.md
  docs/content/learn/whitepaper.md
  docs/content/learn/why.md
  docs/content/learn/xmsg.md
  docs/content/operate/_category_.json
  docs/content/operate/config.md
  docs/content/operate/faq.md
  docs/content/operate/roadmap.md
  docs/content/operate/run-full-node.md
  docs/content/operate/uluwatu.md
  docs/content/operate/validator.md
  docs/content/solvernet/_category_.json
  docs/content/solvernet/intro.md
Due: none
