Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

feat(monitor): periodic cctp sends (#3782)
  monitor/app/app.go
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): add sdk faq (#3783)
  docs/docs/pages/sdk/faq.mdx
  docs/vocs.config.tsx
Due: none

fix(lib/cctp): fix client response json
  lib/cctp/client.go
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(lib/cctp): fix client response json (#3784)
  lib/cctp/client.go
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

multistep docs
  docs/docs/pages/guides/multistep-deposit.mdx
  docs/docs/pages/index.mdx
  docs/vocs.config.tsx
Due: none

fix(lib/cctp): only parse attestation when complete
  lib/cctp/client.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/cctp): require dest chain id is in-network
  lib/cctp/audit_internal_test.go
  lib/cctp/domains.go
  lib/cctp/integration_test.go
  lib/cctp/send.go
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(lib/cctp): only parse attestation when complete (#3786)
  lib/cctp/client.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

executor not middleman
  docs/docs/pages/guides/multistep-deposit.mdx
Due: none

fix tests
  e2e/manifests/ci.toml
  e2e/test/undelegation_test.go
Due: run-go-tests, run-golint, run-goversion

fix concerrency issue
  lib/ethclient/ethbackend/backend.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/targets): add missing symbiotic vaults
  solver/app/app.go
  solver/targets/symbiotic.go
  solver/targets/targets.go
  solver/targets/targets_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): enable undelegation tests on perturbed networks (#3788)
  e2e/manifests/ci.toml
  e2e/test/undelegation_test.go
  lib/ethclient/ethbackend/backend.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/targets): add missing symbiotic vaults (#3789)
  solver/app/app.go
  solver/targets/symbiotic.go
  solver/targets/targets.go
  solver/targets/targets_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): inbox status action and next hook
  sdk/packages/core/src/contracts/getInboxStatus.ts
  sdk/packages/react-next/src/hooks/useInboxStatus.ts
Due: none

chore(sdk): move to parse inbox status
  sdk/packages/core/src/contracts/getInboxStatus.ts
  sdk/packages/core/src/contracts/parseInboxStatus.ts
  sdk/packages/react-next/src/hooks/useInboxStatus.test-d.ts
  sdk/packages/react-next/src/hooks/useInboxStatus.test.ts
  sdk/packages/react-next/src/hooks/useInboxStatus.ts
Due: none

feat(sdk): add openOrder action to core
  sdk/packages/core/src/contracts/openOrder.ts
  sdk/packages/core/src/errors/base.ts
  sdk/packages/core/src/index.ts
Due: none

chore(sdk): export
  sdk/packages/core/src/index.ts
Due: none

chore(sdk): parse inbox status action and next hook (#3770)
  sdk/packages/core/src/contracts/openOrder.ts
  sdk/packages/core/src/contracts/parseInboxStatus.ts
  sdk/packages/core/src/errors/base.ts
  sdk/packages/core/src/index.ts
  sdk/packages/react-next/src/hooks/useInboxStatus.test-d.ts
  sdk/packages/react-next/src/hooks/useInboxStatus.test.ts
  sdk/packages/react-next/src/hooks/useInboxStatus.ts
Due: none

feat(sdk): get order status react next
  sdk/packages/react-next/src/hooks/useGetOrderStatus.test-d.ts
  sdk/packages/react-next/src/hooks/useGetOrderStatus.test.ts
  sdk/packages/react-next/src/hooks/useGetOrderStatus.ts
Due: none

feat(sdk): get order status react next (#3771)
  sdk/packages/react-next/src/hooks/useGetOrderStatus.test-d.ts
  sdk/packages/react-next/src/hooks/useGetOrderStatus.test.ts
  sdk/packages/react-next/src/hooks/useGetOrderStatus.ts
Due: none

chore(sdk): inbox status action and next hook
  sdk/packages/core/src/contracts/getInboxStatus.ts
Due: none

chore(sdk): move to parse inbox status
  sdk/packages/core/src/contracts/getInboxStatus.ts
Due: none

feat(sdk): useOrder react next
  sdk/packages/core/src/contracts/getOrder.ts
  sdk/packages/react-next/src/errors/index.ts
  sdk/packages/react-next/src/hooks/useOrder.test-d.ts
  sdk/packages/react-next/src/hooks/useOrder.ts
Due: none

adds evmdistribution event proc
  halo/app/app.go
  halo/evmdistribution/depinject.go
  halo/evmdistribution/evmdistribution.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/flowgen): delay swaps on staging
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/bridging/config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(sdk): useOrder react next (#3773)
  sdk/packages/core/src/contracts/getOrder.ts
  sdk/packages/react-next/src/errors/index.ts
  sdk/packages/react-next/src/hooks/useOrder.test-d.ts
  sdk/packages/react-next/src/hooks/useOrder.ts
Due: none

distribution tests
  e2e/test/distribution_test.go
Due: run-go-tests, run-golint, run-goversion

chore(monitor/flowgen): delay swaps on staging (#3790)
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/bridging/config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/cctp): require dest chain id is in-network (#3787)
  lib/cctp/audit_internal_test.go
  lib/cctp/domains.go
  lib/cctp/integration_test.go
  lib/cctp/send.go
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(monitor/cctpgen): keep sending
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): trace orders
  lib/ethclient/ethbackend/backend.go
  solver/app/procdeps.go
  solver/app/reject.go
  solver/app/trace.go
  solver/app/worker.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(monitor/cctpgen): keep sending (#3791)
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): enable swaps on mainnet
  solver/app/app.go
  solver/app/pricer.go
  solver/app/pricer_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion
