Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

test(contracts/core): fix predeploy num alloc tests (#2150)
  contracts/core/test/script/AllocPredeploys.t.sol
Due: none

refactor(e2e): merge portal deploy flow (#2149)
  e2e/app/create3.go
  e2e/app/definition.go
  e2e/app/fund.go
  e2e/app/gaspump.go
  e2e/app/portalregistry.go
  e2e/app/run.go
  e2e/app/start.go
  e2e/app/tokenbridge.go
  e2e/netman/manager.go
  e2e/types/testnet.go
Due: run-go-tests, run-regexp, run-goversion

fix: move signature verification to attestation
  lib/xchain/abi.go
  lib/xchain/abi_internal_test.go
  lib/xchain/types.go
  lib/xchain/types_internal_test.go
  relayer/app/worker.go
Due: run-go-tests, run-regexp, run-goversion

Update fixtures.go
  lib/tutil/fixtures.go
Due: run-go-tests, run-regexp, run-goversion

fix: remove error return
  lib/xchain/abi.go
  lib/xchain/abi_internal_test.go
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

fix: reduce changes
  lib/xchain/abi_internal_test.go
Due: run-go-tests, run-goversion

feat(*): non zero system addresses
  contracts/bindings/admin.go
  contracts/bindings/omniportal.go
  contracts/core/.gas-snapshot
  contracts/core/src/xchain/OmniPortalConstants.sol
  contracts/core/test/xchain/common/Fixtures.sol
  contracts/core/test/xchain/data/xblocks.json
  contracts/core/test/xchain/data/xblocks_decoded.json
  contracts/core/test/xchain/data/xsubs.json
  contracts/core/test/xchain/data/xsubs_decoded.json
  lib/cchain/provider/testdata/TestXBlock.golden
  lib/cchain/provider/xblock.go
  lib/xchain/types.go
Due: run-go-tests, run-regexp, run-goversion

fix: add size check to ConsensusPublicKey func
  lib/cchain/types.go
Due: run-go-tests, run-regexp, run-goversion

fix: concise error message
  lib/cchain/types.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib): validate inputs before locking (#2148)
  lib/contracts/address.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib/anvil): lock docker image
  e2e/app/static/el-anvil-state.json
Due: none

fix(e2e): update devnet anvil static json (#2157)
  e2e/app/static/el-anvil-state.json
Due: none

chore(monitor/routerecon): reduce rate limit issues
  monitor/routerecon/recon.go
Due: run-go-tests, run-regexp, run-goversion

chore(xchain/provider): combine fetching msg and receipt logs
  lib/xchain/provider/fetch.go
Due: run-go-tests, run-regexp, run-goversion

chore(monitor): remove emitcache
  monitor/app/app.go
  monitor/xmonitor/emitcache/emitcursor.cosmos_orm.go
  monitor/xmonitor/emitcache/emitcursor.pb.go
  monitor/xmonitor/emitcache/emitcursor.proto
  monitor/xmonitor/emitcache/emitcursorcache.go
  monitor/xmonitor/emitcache/emitcursorcache_internal_test.go
  monitor/xmonitor/emitcache/metrics.go
  monitor/xmonitor/monitor.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

docs(operate): add slashing params change to uluwatu docs
  docs/content/operate/3-uluwatu.md
Due: none

chore(monitor/routerecon): reduce rate limit issues (#2161)
  monitor/routerecon/recon.go
Due: run-go-tests, run-regexp, run-goversion

chore(github): update codeowners
  .github/CODEOWNERS
Due: none

chore(monitor): remove emitcache (#2159)
  monitor/app/app.go
  monitor/xmonitor/emitcache/emitcursor.cosmos_orm.go
  monitor/xmonitor/emitcache/emitcursor.pb.go
  monitor/xmonitor/emitcache/emitcursor.proto
  monitor/xmonitor/emitcache/emitcursorcache.go
  monitor/xmonitor/emitcache/emitcursorcache_internal_test.go
  monitor/xmonitor/emitcache/metrics.go
  monitor/xmonitor/monitor.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

docs(operate): add slashing params change to uluwatu docs (#2158)
  docs/content/operate/3-uluwatu.md
Due: none

chore(github): update codeowners (#2169)
  .github/CODEOWNERS
Due: none

chore(xchain/provider): combine fetching msg and receipt logs (#2160)
  lib/xchain/provider/fetch.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/cmd): redact rpc url tokens
  lib/cmd/flags.go
  lib/cmd/flags_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(*): confirm xmsgs ordered by log index
  contracts/core/.gas-snapshot
  contracts/core/test/utils/XSubGen.sol
  contracts/core/test/xchain/data/xsubs.json
  contracts/core/test/xchain/data/xsubs_decoded.json
  contracts/core/test/xchain/ts/merkle.ts
  lib/xchain/provider/fetch.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/cmd): redact rpc url tokens (#2170)
  lib/cmd/flags.go
  lib/cmd/flags_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs/website): update deps
  docs/website/package.json
  docs/website/pnpm-lock.yaml
Due: none

chore(contracts/core): update dev dependencies
  contracts/core/package.json
  contracts/core/pnpm-lock.yaml
Due: none

add LogIndex to msgs and assert ordering
  halo/attest/voter/vote_test.go
  halo/attest/voter/voter_test.go
  lib/cchain/provider/testdata/TestXBlock.golden
  lib/cchain/provider/xblock.go
  lib/cchain/provider/xblock_internal_test.go
  lib/merkle/msg_test.go
  lib/xchain/abi_internal_test.go
  lib/xchain/merkle.go
  lib/xchain/merkle_test.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/mock.go
  lib/xchain/types.go
  relayer/app/creator_test.go
  relayer/app/worker_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(*): confirm xmsgs ordered by log index (#2156)
  contracts/core/.gas-snapshot
  contracts/core/test/utils/XSubGen.sol
  contracts/core/test/xchain/data/xsubs.json
  contracts/core/test/xchain/data/xsubs_decoded.json
  contracts/core/test/xchain/ts/merkle.ts
  halo/attest/voter/vote_test.go
  halo/attest/voter/voter_test.go
  lib/cchain/provider/testdata/TestXBlock.golden
  lib/cchain/provider/xblock.go
  lib/cchain/provider/xblock_internal_test.go
  lib/merkle/msg_test.go
  lib/xchain/abi_internal_test.go
  lib/xchain/merkle.go
  lib/xchain/merkle_test.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/mock.go
  lib/xchain/types.go
  relayer/app/creator_test.go
  relayer/app/worker_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts/core): enforce strict auth on syscalls
  contracts/bindings/admin.go
  contracts/bindings/omniportal.go
  contracts/core/.gas-snapshot
  contracts/core/src/xchain/OmniPortal.sol
  contracts/core/test/templates/fixtures/OmniPortalFixtures.sol
  contracts/core/test/utils/XSubGen.sol
  contracts/core/test/xchain/OmniPortal_sys.t.sol
Due: run-go-tests, run-goversion

test(e2e): add test for cli commands
  e2e/test/cli_test.go
Due: run-go-tests, run-goversion

feat(cli): add new self delegate command
  cli/cmd/cmd.go
  cli/cmd/flags.go
  cli/cmd/staking.go
  halo/genutil/genutil.go
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib): only for devnet
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

refactor(e2e): no need for custom consensus rpc
  cli/cmd/flags.go
  cli/cmd/staking.go
  e2e/test/cli_test.go
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

fix: add check for empty msgs
  lib/cchain/provider/xblock.go
Due: run-go-tests, run-regexp, run-goversion

fix(cli): address review comments
  cli/cmd/flags.go
  cli/cmd/staking.go
  e2e/test/cli_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(test): add missing flag
  e2e/test/cli_test.go
Due: run-go-tests, run-goversion

chore: add omni healthcheck to cli template
  cli/cmd/compose.yml.tpl
Due: none

fix(test): address review comments
  cli/cmd/flags.go
  cli/cmd/staking.go
  e2e/test/cli_test.go
  halo/genutil/genutil.go
Due: run-go-tests, run-regexp, run-goversion

fix(cli): rename
  cli/cmd/staking.go
Due: run-go-tests, run-regexp, run-goversion
