Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

initial nomina token
  .github/workflows/soltest.yaml
  contracts/nomina/.gas-snapshot
  contracts/nomina/.gitignore
  contracts/nomina/foundry.toml
  contracts/nomina/package.json
  contracts/nomina/pnpm-lock.yaml
  contracts/nomina/src/Nomina.sol
  contracts/nomina/test/Nomina.t.sol
  contracts/nomina/test/utils/MockOmni.sol
Due: none

feat(contracts): initial nomina token (#4301)
  .github/workflows/soltest.yaml
  contracts/nomina/.gas-snapshot
  contracts/nomina/.gitignore
  contracts/nomina/foundry.toml
  contracts/nomina/package.json
  contracts/nomina/pnpm-lock.yaml
  contracts/nomina/src/Nomina.sol
  contracts/nomina/test/Nomina.t.sol
  contracts/nomina/test/utils/MockOmni.sol
Due: none

finish nomina token
  contracts/Makefile
  contracts/bindings/nomina.go
  contracts/nomina/.gas-snapshot
  contracts/nomina/src/Nomina.sol
  contracts/nomina/src/token/Nomina.sol
  contracts/nomina/test/Nomina.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(contracts): finish nomina contract (#4309)
  contracts/Makefile
  contracts/bindings/nomina.go
  contracts/nomina/.gas-snapshot
  contracts/nomina/src/Nomina.sol
  contracts/nomina/src/token/Nomina.sol
  contracts/nomina/test/Nomina.t.sol
Due: run-go-tests, run-golint, run-goversion

update bridges and their dependencies
  contracts/Makefile
  contracts/bindings/nomina.go
  contracts/bindings/nominabridgel1.go
  contracts/bindings/nominabridgenative.go
  contracts/nomina/.gas-snapshot
  contracts/nomina/package.json
  contracts/nomina/pnpm-lock.yaml
  contracts/nomina/src/interfaces/IFeeOracle.sol
  contracts/nomina/src/interfaces/INomina.sol
  contracts/nomina/src/interfaces/INominaPortal.sol
  contracts/nomina/src/libraries/ConfLevel.sol
  contracts/nomina/src/libraries/Predeploys.sol
  contracts/nomina/src/libraries/XTypes.sol
  contracts/nomina/src/token/Nomina.sol
  contracts/nomina/src/token/NominaBridgeCommon.sol
  contracts/nomina/src/token/NominaBridgeL1.sol
  contracts/nomina/src/token/NominaBridgeNative.sol
  contracts/nomina/src/utils/PausableUpgradeable.sol
  contracts/nomina/src/xchain/NominaPortalConstants.sol
  contracts/nomina/test/token/Nomina.t.sol
  contracts/nomina/test/token/NominaBridgeL1.t.sol
  contracts/nomina/test/token/NominaBridgeNative.t.sol
  contracts/nomina/test/utils/MockFeeOracle.sol
  contracts/nomina/test/utils/MockOmni.sol
  contracts/nomina/test/utils/MockPortal.sol
  contracts/nomina/test/utils/NoReceive.sol
Due: run-go-tests, run-golint, run-goversion

feat(contracts): update bridges and dependencies (#4311)
  contracts/Makefile
  contracts/bindings/nomina.go
  contracts/bindings/nominabridgel1.go
  contracts/bindings/nominabridgenative.go
  contracts/nomina/.gas-snapshot
  contracts/nomina/package.json
  contracts/nomina/pnpm-lock.yaml
  contracts/nomina/src/interfaces/IFeeOracle.sol
  contracts/nomina/src/interfaces/INomina.sol
  contracts/nomina/src/interfaces/INominaPortal.sol
  contracts/nomina/src/libraries/ConfLevel.sol
  contracts/nomina/src/libraries/Predeploys.sol
  contracts/nomina/src/libraries/XTypes.sol
  contracts/nomina/src/token/Nomina.sol
  contracts/nomina/src/token/NominaBridgeCommon.sol
  contracts/nomina/src/token/NominaBridgeL1.sol
  contracts/nomina/src/token/NominaBridgeNative.sol
  contracts/nomina/src/utils/PausableUpgradeable.sol
  contracts/nomina/src/xchain/NominaPortalConstants.sol
  contracts/nomina/test/token/Nomina.t.sol
  contracts/nomina/test/token/NominaBridgeL1.t.sol
  contracts/nomina/test/token/NominaBridgeNative.t.sol
  contracts/nomina/test/utils/MockFeeOracle.sol
  contracts/nomina/test/utils/MockOmni.sol
  contracts/nomina/test/utils/MockPortal.sol
  contracts/nomina/test/utils/NoReceive.sol
Due: run-go-tests, run-golint, run-goversion

update portal and deps
  contracts/Makefile
  contracts/bindings/nomina.go
  contracts/bindings/nominabridgel1.go
  contracts/bindings/nominabridgenative.go
  contracts/bindings/nominaportal.go
  contracts/nomina/.gas-snapshot
  contracts/nomina/package.json
  contracts/nomina/pnpm-lock.yaml
  contracts/nomina/src/interfaces/IConversionRateOracle.sol
  contracts/nomina/src/interfaces/IFeeOracleV1.sol
  contracts/nomina/src/interfaces/INominaPortalAdmin.sol
  contracts/nomina/src/interfaces/INominaPortalPausable.sol
  contracts/nomina/src/interfaces/INominaPortalSys.sol
  contracts/nomina/src/libraries/Quorum.sol
  contracts/nomina/src/libraries/XBlockMerkleProof.sol
  contracts/nomina/src/xchain/FeeOracleV1.sol
  contracts/nomina/src/xchain/NominaPortal.sol
  contracts/nomina/src/xchain/NominaPortalStorage.sol
  contracts/nomina/test/templates/fixtures/NominaPortalFixtures.sol
  contracts/nomina/test/utils/XSubGen.sol
  contracts/nomina/test/xchain/NominaPortal_admin.t.sol
  contracts/nomina/test/xchain/NominaPortal_adversarial.t.sol
  contracts/nomina/test/xchain/NominaPortal_exec.t.sol
  contracts/nomina/test/xchain/NominaPortal_feeFor.t.sol
  contracts/nomina/test/xchain/NominaPortal_sys.t.sol
  contracts/nomina/test/xchain/NominaPortal_xcall.t.sol
  contracts/nomina/test/xchain/NominaPortal_xsubmit.t.sol
  contracts/nomina/test/xchain/NominaPortal_xsubmit_gas.t.sol
  contracts/nomina/test/xchain/common/Base.sol
  contracts/nomina/test/xchain/common/Counter.sol
  contracts/nomina/test/xchain/common/Events.sol
  contracts/nomina/test/xchain/common/Fixtures.sol
  contracts/nomina/test/xchain/common/GasGuzzler.sol
  contracts/nomina/test/xchain/common/PortalHarness.sol
  contracts/nomina/test/xchain/common/Reverter.sol
  contracts/nomina/test/xchain/common/TestXTypes.sol
  contracts/nomina/test/xchain/common/Utils.sol
  contracts/nomina/test/xchain/common/XSubmitter.sol
Due: run-go-tests, run-golint, run-goversion

clean up token and add wrapper
  contracts/Makefile
  contracts/bindings/nomina.go
  contracts/bindings/wnomina.go
  contracts/nomina/.gas-snapshot
  contracts/nomina/src/token/Nomina.sol
  contracts/nomina/src/token/WNomina.sol
  contracts/nomina/test/token/WNomina.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(contracts): clean up token and add wrapper (#4314)
  contracts/Makefile
  contracts/bindings/nomina.go
  contracts/bindings/wnomina.go
  contracts/nomina/.gas-snapshot
  contracts/nomina/src/token/Nomina.sol
  contracts/nomina/src/token/WNomina.sol
  contracts/nomina/test/token/WNomina.t.sol
Due: run-go-tests, run-golint, run-goversion

pause bridge and solvernet
  e2e/app/admin/bridgespec.go
  e2e/app/admin/solvernetspec.go
  e2e/app/admin/testdata/TestNetworkBridgeSpec.golden
  e2e/app/admin/testdata/TestNetworkSolverNetSpec.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

add gas app spec and cmd
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  e2e/app/admin/gasappspec.go
  e2e/app/admin/gasappspec_internal_test.go
  e2e/app/admin/pausegasapp.go
  e2e/app/admin/testdata/TestNetworkGasAppSpec.golden
  e2e/cmd/admin.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix minor error in message
  monitor/app/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  Makefile
Due: none

cleanup
  e2e/manifests/devnet1.toml
Due: none

cleanup
  e2e/app/definition.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  e2e/app/definition.go
  e2e/types/testnet.go
  monitor/staking/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  e2e/app/run.go
  e2e/manifests/devnet1.toml
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  e2e/app/run.go
  e2e/test/cli_test.go
  e2e/test/testupgrade/earhart.go
  e2e/test/testupgrade/preupgrade.go
  halo/app/start.go
  halo/evmredenom/convert.go
  halo/evmredenom/convert_test.go
  halo/evmredenom/keeper/helpers_internal_test.go
  halo/evmredenom/keeper/keeper.go
  halo/evmstaking/keeper/keeper.go
  halo/evmstaking/keeper/keeper_internal_test.go
  halo/withdraw/wrapper_internal_test.go
  lib/ethclient/enginemock.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  e2e/test/testupgrade/earhart.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  e2e/test/testupgrade/earhart.go
  octane/evmengine/keeper/db.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  e2e/test/testupgrade/earhart.go
  e2e/types/testnet.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  Makefile
  e2e/test/testupgrade/earhart.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/app): fix ci validator updates
  e2e/app/valupdates.go
  e2e/manifests/ci.toml
  lib/cchain/queryutil/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/app): fix ci validator updates (#4319)
  e2e/app/valupdates.go
  e2e/manifests/ci.toml
  lib/cchain/queryutil/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add NOM pricing to xfeemngr and oracles
  lib/tokenpricer/coingecko/coingecko.go
  lib/tokenpricer/coingecko/coingecko_test.go
  lib/tokens/asset.go
  monitor/xfeemngr/oracle.go
  monitor/xfeemngr/xfeemngr.go
  monitor/xfeemngr/xfeemngr_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/loadgen): staging dos staking events
  e2e/app/valupdates.go
  monitor/loadgen/dos.go
  monitor/loadgen/loadgen.go
  monitor/loadgen/stake.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  monitor/loadgen/dos.go
  monitor/loadgen/loadgen.go
  monitor/loadgen/stake.go
Due: run-go-tests, run-golint, run-regexp, run-goversion
