Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

chore(e2e/manifests): add base_sepolia to omega (#1364)
  e2e/manifests/omega.toml
Due: none

fix(relayer): fix arb gas estimation
  e2e/app/avs.go
  e2e/netman/manager.go
  lib/fireblocks/sign.go
  lib/txmgr/txmgr.go
  relayer/app/creator.go
  relayer/app/creator_internal_test.go
  relayer/app/gas.go
  relayer/app/gas_internal_test.go
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

fix(relayer): fix arb gas estimation (#1365)
  e2e/app/avs.go
  e2e/netman/manager.go
  lib/fireblocks/sign.go
  lib/txmgr/txmgr.go
  relayer/app/creator.go
  relayer/app/creator_internal_test.go
  relayer/app/gas.go
  relayer/app/gas_internal_test.go
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

chore(verifypr): allow linking issues (#1363)
  scripts/verifypr/verify.go
  scripts/verifypr/verify_internal_test.go
Due: run-go-tests, run-goversion

ci(e2e): fixes funding command (#1362)
  e2e/app/eoa/fund.go
  e2e/app/eoa/static_test.go
  e2e/app/fund.go
  e2e/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion

refactor(monitor): use eoa package to monitor accounts (#1361)
  e2e/app/eoa/eoa.go
  e2e/app/fund.go
  monitor/account/account.go
  monitor/account/metrics.go
  monitor/account/monitor.go
  monitor/app/app.go
  monitor/avs/avs.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): enable arb_sepolia on staging
  e2e/app/run.go
  e2e/app/start.go
  e2e/manifests/staging.toml
  e2e/netman/pingpong/pingpong.go
  lib/contracts/avs/deploy.go
  lib/contracts/create3/deploy.go
  lib/contracts/proxyadmin/deploy.go
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/ethbackend/wait.go
  lib/ethclient/helper.go
  lib/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): enable arb_sepolia on staging (#1366)
  e2e/app/run.go
  e2e/app/start.go
  e2e/manifests/staging.toml
  e2e/netman/pingpong/pingpong.go
  lib/contracts/avs/deploy.go
  lib/contracts/create3/deploy.go
  lib/contracts/proxyadmin/deploy.go
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/ethbackend/wait.go
  lib/ethclient/helper.go
  lib/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

Bumps Omega version to support a new deployment
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/netconf): bumps omega version to support a new deployment (#1367)
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

chore(ci): bump pnpm setup action ver
  .github/workflows/ci-api.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-pr-api.yml
  .github/workflows/ci-pr-docs.yml
  .github/workflows/soltest.yml
Due: none

chore(ci): bump pnpm setup action ver (#1368)
  .github/workflows/ci-api.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-pr-api.yml
  .github/workflows/ci-pr-docs.yml
  .github/workflows/soltest.yml
Due: none

ci(e2e): add arbtirum to omega
  e2e/manifests/omega.toml
Due: none

ci(e2e): add arbtirum to omega (#1369)
  e2e/manifests/omega.toml
Due: none

refactor(relayer): remove monitoring
  e2e/netman/pingpong/pingpong.go
  relayer/app/app.go
  relayer/app/metrics.go
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

refactor(relayer): remove monitoring (#1370)
  e2e/netman/pingpong/pingpong.go
  relayer/app/app.go
  relayer/app/metrics.go
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): add halu url flag to monitor
  monitor/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): add halu url flag to monitor (#1371)
  monitor/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

docs(develop): update for conf levels (#1249)
  docs/site/docs/develop/introduction.md
  docs/site/docs/develop/testnet/resources.md
  docs/site/docs/develop/testnet/testnet.md
  docs/site/docs/develop/xapp/example.md
  docs/site/docs/develop/xapp/fees.md
  docs/site/docs/develop/xapp/gas.md
Due: none

fix(xchain/provider): fix concurrent offset tracker issue
  lib/xchain/provider/provider.go
  lib/xchain/provider/provider_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(xchain/provider): fix concurrent offset tracker issue (#1377)
  lib/xchain/provider/provider.go
  lib/xchain/provider/provider_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

update codeowners
  .github/CODEOWNERS
Due: none

chore(ci): update codeowners (#1378)
  .github/CODEOWNERS
Due: none

fix(e2e): lower parallelization when deploying contracts
  e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo/voter): improve reorg detection logs and metrics
  halo/app/abci.go
  halo/attest/voter/voter.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo): disable optimistic exectution
  halo/app/start.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo/voter): improve reorg detection logs and metrics (#1385)
  halo/app/abci.go
  halo/attest/voter/voter.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo): disable optimistic exectution (#1386)
  halo/app/start.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e/eoa): decrease large threshold within sane max
  e2e/app/eoa/fund.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): lower parallelization when starting contracts (#1383)
  e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e/eoa): decrease large threshold within sane max (#1387)
  e2e/app/eoa/fund.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts/libraries): improve readability
  contracts/src/libraries/Quorum.sol
Due: none

chore(halo/genutil): disable cometBFT max block bytes
  halo/genutil/defaults.go
  halo/genutil/genutil_internal_test.go
  halo/genutil/testdata/TestMakeGenesis.golden
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/abci_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts/libraries): improve readability (#1388)
  contracts/src/libraries/Quorum.sol
Due: none

refactor(monitor): use emit cursor cache for offset monitor
  halo/attest/voter/voter_test.go
  lib/ethclient/ethbackend/backend.go
  lib/txmgr/txmgr.go
  lib/xchain/provider.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/mock.go
  monitor/xmonitor/monitor.go
  relayer/app/cursors_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(monitor): use emit cursor cache for offset monitor (#1395)
  halo/attest/voter/voter_test.go
  lib/ethclient/ethbackend/backend.go
  lib/txmgr/txmgr.go
  lib/xchain/provider.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/mock.go
  monitor/xmonitor/monitor.go
  relayer/app/cursors_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): add make all
  contracts/Makefile
  contracts/bindings/omniportal.go
Due: run-go-tests, run-goversion

chore(contracts): add make all (#1400)
  contracts/Makefile
  contracts/bindings/omniportal.go
Due: run-go-tests, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$, but not: (explorer/db/ent/internal/.*)
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)
  run-goversion: any of: \.go$
