Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

feat(contracts/core): add and use InitializableHelperSolady (#3386)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/script/utils/InitializableHelperSolady.sol
Due: run-go-tests, run-golint, run-goversion

properly apply bit shift
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/utils/InitializableHelperSolady.sol
Due: run-go-tests, run-golint, run-goversion

fix comment
  contracts/bindings/admin.go
  contracts/core/script/utils/InitializableHelperSolady.sol
Due: run-go-tests, run-golint, run-goversion

fix(contracts/core): right shift solady initializer version (#3388)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/utils/InitializableHelperSolady.sol
Due: run-go-tests, run-golint, run-goversion

update pin
  e2e/manifests/omega.toml
Due: none

refactor(solver/app): refactor pnl
  solver/app/app.go
  solver/app/metrics.go
  solver/app/pnl.go
  solver/app/procdeps.go
  solver/app/targets.go
  solver/targets/targets.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): update monitor pin on omega (#3389)
  e2e/manifests/omega.toml
Due: none

refactor(solver/app): refactor pnl (#3390)
  solver/app/app.go
  solver/app/metrics.go
  solver/app/pnl.go
  solver/app/procdeps.go
  solver/app/targets.go
  solver/targets/targets.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

refactor(solver/app): refactor age cache
  solver/app/age.go
  solver/app/app.go
  solver/app/metrics.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): use RPC endpoints from environment variables in E2E tests
  e2e/test/sdk_test.go
  sdk/integration-tests/test-utils.tsx
  sdk/package.json
  sdk/pnpm-lock.yaml
Due: run-go-tests, run-golint, run-goversion

chore(sdk): use RPC endpoints from environment (#3392)
  e2e/test/sdk_test.go
  sdk/integration-tests/test-utils.tsx
  sdk/package.json
  sdk/pnpm-lock.yaml
Due: run-go-tests, run-golint, run-goversion

symbiotic deposit
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/flowgen.go
  monitor/flowgen/symbiotic/symbiotic.go
  solver/app/testdata/TestTokens.golden
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

refactoring
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/flowgen.go
  monitor/flowgen/symbiotic/symbiotic.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

refactoring
  monitor/flowgen/flowgen.go
  monitor/flowgen/symbiotic/symbiotic.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

token approval
  monitor/flowgen/flowgen.go
  monitor/flowgen/symbiotic/symbiotic.go
  monitor/flowgen/util/util.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

refactor(solver/app): refactor age cache (#3391)
  solver/app/age.go
  solver/app/app.go
  solver/app/metrics.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): small log trace improvements
  solver/app/processor.go
  solver/app/server.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

review
  monitor/flowgen/flowgen.go
  monitor/flowgen/symbiotic/symbiotic.go
  monitor/flowgen/symbiotic/symbiotic_abi.json
  monitor/flowgen/util/util.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(gomod): bump buf
  go.mod
  go.sum
  halo/attest/keeper/attestation.pb.go
  halo/evmstaking/keeper/evmstaking.pb.go
  halo/portal/keeper/portal.pb.go
  halo/registry/keeper/registry.pb.go
  halo/valsync/keeper/valsync.pb.go
  monitor/xmonitor/indexer/indexer.pb.go
  octane/evmengine/keeper/evmengine.pb.go
  relayer/app/cursor/cursors.pb.go
  solver/app/solver.pb.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): small log trace improvements (#3393)
  solver/app/processor.go
  solver/app/server.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

review comments
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/flowgen.go
  monitor/flowgen/symbiotic/config.go
  monitor/flowgen/symbiotic/symbiotic.go
  monitor/flowgen/types/types.go
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix require statements
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
Due: run-go-tests, run-golint, run-goversion

fix(contracts/core): fix upgrade require statements (#3395)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
Due: run-go-tests, run-golint, run-goversion

ci(gomod): bump buf (#3394)
  go.mod
  go.sum
  halo/attest/keeper/attestation.pb.go
  halo/evmstaking/keeper/evmstaking.pb.go
  halo/portal/keeper/portal.pb.go
  halo/registry/keeper/registry.pb.go
  halo/valsync/keeper/valsync.pb.go
  monitor/xmonitor/indexer/indexer.pb.go
  octane/evmengine/keeper/evmengine.pb.go
  relayer/app/cursor/cursors.pb.go
  solver/app/solver.pb.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

change migration typehash to upgrade
  contracts/core/script/manual/genesis-staking/DebugMerkleDistributorWithDeadline.sol
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
Due: none

chore(e2e): remove OMNI thresholds for flowgen
  e2e/app/eoa/fund.go
  e2e/app/eoa/static_test.go
  e2e/app/eoa/testdata/threshold_reference.json
Due: run-go-tests, run-golint, run-regexp, run-goversion

switch migrate to upgrade
  contracts/core/.gas-snapshot
  contracts/core/script/manual/genesis-staking/DebugMerkleDistributorWithDeadline.sol
  contracts/core/script/manual/genesis-staking/MainnetGenesisStake.s.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStake.s.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStakeQA.s.sol
  contracts/core/script/manual/genesis-staking/StagingGenesisStake.s.sol
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

chore(e2e): remove OMNI thresholds for flowgen (#3397)
  e2e/app/eoa/fund.go
  e2e/app/eoa/static_test.go
  e2e/app/eoa/testdata/threshold_reference.json
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts/core): change migration to upgrade (#3396)
  contracts/core/.gas-snapshot
  contracts/core/script/manual/genesis-staking/DebugMerkleDistributorWithDeadline.sol
  contracts/core/script/manual/genesis-staking/MainnetGenesisStake.s.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStake.s.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStakeQA.s.sol
  contracts/core/script/manual/genesis-staking/StagingGenesisStake.s.sol
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

disable deployedAt check
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
Due: run-go-tests, run-golint, run-goversion

fix(contracts/core): disable deployedAt check (#3398)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
Due: run-go-tests, run-golint, run-goversion

chore(sdk): add integration tests for native orders
  sdk/integration-tests/flows.test.tsx
  sdk/integration-tests/test-utils.tsx
Due: none

chore(e2e): update mainnet solver pin
  e2e/manifests/mainnet.toml
Due: none

chore(e2e): update mainnet solver pin (#3400)
  e2e/manifests/mainnet.toml
Due: none

enable flowgen on mainnet
  monitor/flowgen/flowgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor): enable flowgen on mainnet (#3401)
  monitor/flowgen/flowgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): enable mainnet
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): enable mainnet (#3403)
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

pin monitor on mainnet
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(e2e): pin monitor on mainnet (#3402)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none
