Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

fix(solver): fix rebalance test flap (#4340)
  solver/rebalance/deficit.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add nom to stagingaddrs
  scripts/stagingaddrs/main.go
Due: run-go-tests, run-golint, run-goversion

chore(e2e/eoa): add protected redenom eoas
  e2e/app/eoa/static.go
  e2e/app/eoa/testdata/threshold_reference.json
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/eoa): add protected redenom eoas (#4344)
  e2e/app/eoa/static.go
  e2e/app/eoa/testdata/threshold_reference.json
Due: run-go-tests, run-golint, run-regexp, run-goversion

add nomina salt
  contracts/nomina/script/CreateXHelper.sol
  docs/docs/pages/sdk/assets/mainnet.mdx
  lib/contracts/address.go
  lib/contracts/testdata/TestContractAddressReference.golden
  lib/tokens/tokens.json
  solver/app/testdata/TestTokens.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(lib): add nomina salt (#4345)
  contracts/nomina/script/CreateXHelper.sol
  docs/docs/pages/sdk/assets/mainnet.mdx
  lib/contracts/address.go
  lib/contracts/testdata/TestContractAddressReference.golden
  lib/tokens/tokens.json
  solver/app/testdata/TestTokens.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

remove pause requirement
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
Due: run-go-tests, run-golint, run-goversion

fix(contracts): undo pause requirement (#4348)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
Due: run-go-tests, run-golint, run-goversion

restore omniportal calls
  contracts/bindings/admin.go
  contracts/bindings/nominabridgel1.go
  contracts/bindings/nominabridgenative.go
  contracts/core/.gas-snapshot
  contracts/core/src/token/nomina/NominaBridgeL1.sol
  contracts/core/src/token/nomina/NominaBridgeNative.sol
  contracts/core/test/token/nomina/NominaBridgeL1.t.sol
  contracts/core/test/token/nomina/NominaBridgeNative.t.sol
Due: run-go-tests, run-golint, run-goversion

add disabled chain functionality to solver and disable omni EVM
  e2e/app/setup.go
  solver/app/app.go
  solver/app/check.go
  solver/app/check_integration_internal_test.go
  solver/app/check_internal_test.go
  solver/app/config.go
  solver/app/config.toml.tmpl
  solver/app/reject.go
  solver/app/reject_internal_test.go
  solver/app/testdata/default_solver.toml
  solver/types/reject.go
  solver/types/rejectreason_string.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(contracts): restore omniportal calls (#4349)
  contracts/bindings/admin.go
  contracts/bindings/nominabridgel1.go
  contracts/bindings/nominabridgenative.go
  contracts/core/.gas-snapshot
  contracts/core/src/token/nomina/NominaBridgeL1.sol
  contracts/core/src/token/nomina/NominaBridgeNative.sol
  contracts/core/test/token/nomina/NominaBridgeL1.t.sol
  contracts/core/test/token/nomina/NominaBridgeNative.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(scripts): add nom to stagingaddrs (#4342)
  scripts/stagingaddrs/main.go
Due: run-go-tests, run-golint, run-goversion

switch post-upgrade tests to use nomina
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/BridgeL1PostUpgradeTest.sol
Due: run-go-tests, run-golint, run-goversion

fix(contracts): use NOM in postupgrade tests (#4351)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/BridgeL1PostUpgradeTest.sol
Due: run-go-tests, run-golint, run-goversion

reject all orders to or from omni
  solver/app/check.go
  solver/app/check_internal_test.go
  solver/app/reject.go
  solver/app/reject_internal_test.go
  solver/app/testdata/TestCheck/sufficient_ERC20_balance/resp_body.json
  solver/app/testdata/TestCheck/sufficient_native_balance/resp_body.json
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver): temp reject omni orders (#4352)
  solver/app/check.go
  solver/app/check_internal_test.go
  solver/app/reject.go
  solver/app/reject_internal_test.go
  solver/app/testdata/TestCheck/sufficient_ERC20_balance/resp_body.json
  solver/app/testdata/TestCheck/sufficient_native_balance/resp_body.json
Due: run-go-tests, run-golint, run-regexp, run-goversion

remove deprecated reference
  contracts/bindings/admin.go
  contracts/core/script/admin/Admin.s.sol
Due: run-go-tests, run-golint, run-goversion

feat(contracts): remove old admin reference (#4356)
  contracts/bindings/admin.go
  contracts/core/script/admin/Admin.s.sol
Due: run-go-tests, run-golint, run-goversion

unpause bridging on staging
  e2e/app/admin/bridgespec.go
  e2e/app/admin/testdata/TestNetworkBridgeSpec.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): unpause staging bridge (#4357)
  e2e/app/admin/bridgespec.go
  e2e/app/admin/testdata/TestNetworkBridgeSpec.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

debug native bridge setup
  e2e/bridge/tokenbridge.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): debug native bridge setup (#4358)
  e2e/bridge/tokenbridge.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): bump protected monitor tags
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

ci(e2e): bump protected monitor tags (#4359)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

handle post redenom bridge balance
  e2e/bridge/tokenbridge.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(e2e): post redenom bridge balance (#4361)
  e2e/bridge/tokenbridge.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): block bridge deploy on protected networks
  e2e/bridge/tokenbridge.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): block bridge deploy on protected networks (#4362)
  e2e/bridge/tokenbridge.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(*): few tiny fixes
  .goreleaser-official.yaml
  e2e/app/fund.go
  go.mod
  go.sum
  halo/attest/keeper/attestation.pb.go
  halo/evmredenom/keeper/evmredenom.pb.go
  halo/evmstaking/keeper/evmstaking.pb.go
  halo/portal/keeper/portal.pb.go
  halo/registry/keeper/registry.pb.go
  halo/valsync/keeper/valsync.pb.go
  lib/cctp/db/db.pb.go
  lib/ethclient/headerdb/headerdb.pb.go
  lib/usdt0/db.pb.go
  monitor/xmonitor/indexer/indexer.pb.go
  octane/evmengine/keeper/evmengine.pb.go
  relayer/app/cursor/cursors.pb.go
  solver/app/solver.pb.go
  solver/job/job.pb.go
  solver/jobprev/job.pb.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifests): bump protected network halos to v17
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(e2e/manifests): bump protected network halos to v17 (#4365)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

ci(e2e/admin): prep omega upgrade action
  e2e/app/admin/planupgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e/admin): prep omega upgrade action (#4366)
  e2e/app/admin/planupgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

omnb-01, 04, and 06
  contracts/bindings/admin.go
  contracts/bindings/nominabridgel1.go
  contracts/bindings/nominabridgenative.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/script/admin/BridgeL1PostUpgradeTest.sol
  contracts/core/src/token/nomina/NominaBridgeL1.sol
  contracts/core/src/token/nomina/NominaBridgeNative.sol
Due: run-go-tests, run-golint, run-goversion
