Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

fix(explorer): fix a flapping test (#1073)
  explorer/graphql/data/chains_provider.go
Due: run-go-tests, run-regexp, run-goversion

fix explorer network config
  .secrets.baseline
  e2e/app/setup.go
  explorer/graphql/app/config.go
  explorer/graphql/app/config_test.go
  explorer/graphql/app/testdata/testnet_explorer_graphql.toml
  explorer/graphql/data/chains_provider.go
  explorer/graphql/data/provider.go
  explorer/graphql/resolvers/blocks_test.go
  explorer/graphql/resolvers/chain_test.go
  explorer/graphql/resolvers/messages_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(explorer): fix explorer network config (#1076)
  .secrets.baseline
  e2e/app/setup.go
  explorer/graphql/app/config.go
  explorer/graphql/app/config_test.go
  explorer/graphql/app/testdata/testnet_explorer_graphql.toml
  explorer/graphql/data/chains_provider.go
  explorer/graphql/data/provider.go
  explorer/graphql/resolvers/blocks_test.go
  explorer/graphql/resolvers/chain_test.go
  explorer/graphql/resolvers/messages_test.go
Due: run-go-tests, run-regexp, run-goversion

docs(quickstart): add quickstart doc
  docs/site/docs/develop/quickstart/quickstart.md
  docs/site/sidebars.ts
Due: none

fix supported chains and add tests
  explorer/db/testutil/testutil.go
  explorer/graphql/cmd/cmd.go
  explorer/graphql/data/chains_provider.go
  explorer/graphql/resolvers/chain_test.go
  explorer/graphql/resolvers/messages_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(explorer): fix supported chains and add tests (#1079)
  explorer/db/testutil/testutil.go
  explorer/graphql/cmd/cmd.go
  explorer/graphql/data/chains_provider.go
  explorer/graphql/resolvers/chain_test.go
  explorer/graphql/resolvers/messages_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(cli): add hello world template
  cli/cmd/develop.go
  cli/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): add reentrancy guard to xsubmit
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/OmniPortal_xsubmit.t.sol
  contracts/test/portal/common/Fixtures.sol
  contracts/test/portal/common/XSubmitter.sol
  contracts/test/portal/data/xblocks.json
  contracts/test/portal/data/xblocks_decoded.json
  contracts/test/portal/data/xsubs.json
  contracts/test/portal/data/xsubs_decoded.json
Due: run-go-tests, run-goversion

docs(quickstart): introduce quickstart section
  docs/site/docs/develop/quickstart/quickstart.md
  docs/site/sidebars.ts
Due: none

docs(quickstart): use .env file naming
  docs/site/docs/develop/quickstart/quickstart.md
Due: none

fix network flag
  explorer/graphql/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): add reentrancy guard to xsubmit (#1074)
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/OmniPortal_xsubmit.t.sol
  contracts/test/portal/common/Fixtures.sol
  contracts/test/portal/common/XSubmitter.sol
  contracts/test/portal/data/xblocks.json
  contracts/test/portal/data/xblocks_decoded.json
  contracts/test/portal/data/xsubs.json
  contracts/test/portal/data/xsubs_decoded.json
Due: run-go-tests, run-goversion

fix(explorer/graphql): fix network flag (#1081)
  explorer/graphql/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion

Revert "feat(contracts): allow operators to register independent val keys (#1…"
  contracts/.gas-snapshot
  contracts/src/interfaces/IOmniAVS.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/src/protocol/OmniAVSStorage.sol
  contracts/test/avs/OmniAVS_admin.t.sol
  contracts/test/avs/OmniAVS_allowlist.t.sol
  contracts/test/avs/OmniAVS_pause.t.sol
  contracts/test/avs/OmniAVS_registration.t.sol
  contracts/test/avs/OmniAVS_serviceManager.t.sol
  contracts/test/avs/OmniAVS_syncWithOmni.t.sol
  contracts/test/avs/common/Utils.sol
Due: none

feat(cli): use url for templating
  cli/cmd/develop.go
  cli/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

fix: description in cli developer new cmd
  cli/cmd/develop.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): revert avs key separation (#1075)
  contracts/.gas-snapshot
  contracts/src/interfaces/IOmniAVS.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/src/protocol/OmniAVSStorage.sol
  contracts/test/avs/OmniAVS_admin.t.sol
  contracts/test/avs/OmniAVS_allowlist.t.sol
  contracts/test/avs/OmniAVS_pause.t.sol
  contracts/test/avs/OmniAVS_registration.t.sol
  contracts/test/avs/OmniAVS_serviceManager.t.sol
  contracts/test/avs/OmniAVS_syncWithOmni.t.sol
  contracts/test/avs/common/Utils.sol
Due: none

fix(docs): use anvil pkey 2
  docs/site/docs/develop/quickstart/quickstart.md
Due: none

fix: address fix
  docs/site/docs/develop/quickstart/quickstart.md
Due: none

fix: passing template name
  cli/cmd/develop.go
  cli/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

feat(cli/docs): introduce devnet quickstart guide (#1080)
  cli/cmd/develop.go
  cli/cmd/flags.go
  docs/site/docs/develop/quickstart/quickstart.md
  docs/site/sidebars.ts
Due: run-go-tests, run-regexp, run-goversion

chore(lib/buildinfo): bump two patch versions higher
  lib/buildinfo/buildinfo.go
Due: run-go-tests, run-regexp, run-goversion

fix: golden
  halo/config/testdata/default_halo.toml
  halo/genutil/testdata/TestMakeGenesis.golden
  monitor/app/testdata/default_monitor.toml
  relayer/app/testdata/default_relayer.toml
Due: none

docs(protocol): create execution section
  docs/site/docs/protocol/evmengine/execution/diversity.md
  docs/site/docs/protocol/evmengine/execution/equivalence.md
  docs/site/pnpm-lock.yaml
  docs/site/sidebars.ts
  docs/site/src/css/custom.css
Due: none

chore(lib/buildinfo): bump two patch versions higher (#1084)
  halo/config/testdata/default_halo.toml
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/buildinfo/buildinfo.go
  monitor/app/testdata/default_monitor.toml
  relayer/app/testdata/default_relayer.toml
Due: run-go-tests, run-regexp, run-goversion

chore: use strict docusaurus versions
  docs/site/package.json
  docs/site/pnpm-lock.yaml
Due: none

docs(protocol): create execution section (#1086)
  docs/site/docs/protocol/evmengine/execution/diversity.md
  docs/site/docs/protocol/evmengine/execution/equivalence.md
  docs/site/package.json
  docs/site/pnpm-lock.yaml
  docs/site/sidebars.ts
  docs/site/src/css/custom.css
Due: none

feat(contracts): add cosmos module sibling contracts
  contracts/.gas-snapshot
  contracts/src/protocol/OmniStake.sol
  contracts/src/protocol/Slashing.sol
  contracts/src/protocol/Staking.sol
  contracts/test/cosmos/Slashing.t.sol
  contracts/test/cosmos/Staking.t.sol
Due: none

feat(contracts): add cosmos module sibling contracts (#1083)
  contracts/.gas-snapshot
  contracts/src/protocol/OmniStake.sol
  contracts/src/protocol/Slashing.sol
  contracts/src/protocol/Staking.sol
  contracts/test/cosmos/Slashing.t.sol
  contracts/test/cosmos/Staking.t.sol
Due: none

feat(contracts): fix xsubmit provided gas check
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/OmniPortal_exec.t.sol
  contracts/test/portal/common/PortalHarness.sol
Due: run-go-tests, run-goversion

feat(contracts): fix xsubmit provided gas check (#1082)
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/OmniPortal_exec.t.sol
  contracts/test/portal/common/PortalHarness.sol
Due: run-go-tests, run-goversion

ci(e2e): implement forkproxy
  .goreleaser.yaml
  Makefile
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/forkproxy/Dockerfile
  e2e/forkproxy/app/app.go
  e2e/forkproxy/cmd/cmd.go
  e2e/forkproxy/main.go
  e2e/vmcompose/testdata/TestSetup_127-0-0-3-compose.yaml.golden
  scripts/build_docker.sh
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): implement forkproxy (#1087)
  .goreleaser.yaml
  Makefile
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/forkproxy/Dockerfile
  e2e/forkproxy/app/app.go
  e2e/forkproxy/cmd/cmd.go
  e2e/forkproxy/main.go
  e2e/vmcompose/testdata/TestSetup_127-0-0-3-compose.yaml.golden
  scripts/build_docker.sh
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): support forking proxy
  e2e/forkproxy/app/app.go
  e2e/forkproxy/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion
