Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

feat(sdk): rename validateDebug to debugValidation
  sdk/.changeset/grumpy-tigers-shake.md
  sdk/packages/react/src/hooks/useOrder.test.ts
  sdk/packages/react/src/hooks/useOrder.ts
Due: none

feat(sdk): support debug flag in validation endpoint (#4125)
  sdk/.changeset/grumpy-tigers-shake.md
  sdk/packages/core/src/api/validateOrder.test.ts
  sdk/packages/core/src/api/validateOrder.ts
  sdk/packages/react/src/hooks/useOrder.test.ts
  sdk/packages/react/src/hooks/useOrder.ts
  sdk/packages/react/src/hooks/useValidateOrder.test.ts
  sdk/packages/react/src/hooks/useValidateOrder.ts
Due: none

chore(e2e/eoa): solana keys and addresses
  e2e/app/eoa/eoa.go
  e2e/app/eoa/svm.go
  e2e/app/eoa/svm_internal_test.go
  e2e/app/eoa/svmaddrs.toml
  e2e/app/fund.go
  lib/contracts/solvernet/chains.go
  lib/netconf/network.go
  lib/svmutil/helpers.go
  lib/svmutil/helpers_test.go
  lib/svmutil/stream.go
  monitor/account/monitor.go
  solver/app/svmproc.go
  solver/app/svmtypes.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts): create DebugMerkleDistributorWithoutDeadline (#4092)
  contracts/core/.gas-snapshot
  contracts/core/script/manual/genesis-staking/DebugMerkleDistributorWithoutDeadline.sol
Due: none

add trusted route to outbox
  contracts/bindings/solvernetadmin.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetOutbox.sol
  contracts/solve/test/outbox/Fill.t.sol
  contracts/solve/test/outbox/RetryMarkFilled.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(sdk): add integration tests for debug flag
  sdk/integration-tests/suites/react-hooks.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/react/src/hooks/useValidateOrder.ts
Due: none

chore(e2e): bump solver monitor pins
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(e2e): bump solver monitor pins to cdbfa4b (#4132)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

feat(sdk): default trace to undefined in hooks
  sdk/packages/react/src/hooks/useValidateOrder.ts
Due: none

feat(sdk): add integration tests for debug flag (#4131)
  sdk/integration-tests/suites/react-hooks.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/react/src/hooks/useValidateOrder.ts
Due: none

feat(contracts): add debug genesis distributor contract
  contracts/core/script/manual/genesis-staking/DebugMerkleDistributorWithoutDeadline.sol
  contracts/core/script/manual/genesis-staking/OmegaGenesisStakeV2Debug.s.sol
Due: none

chore(sdk): prepare new version
  docs/docs/pages/sdk/core/validateOrder.md
  docs/docs/pages/sdk/hooks/useOrder.mdx
  sdk/.changeset/grumpy-tigers-shake.md
  sdk/packages/core/CHANGELOG.md
  sdk/packages/core/package.json
  sdk/packages/core/src/version.ts
  sdk/packages/react/CHANGELOG.md
  sdk/packages/react/package.json
  sdk/packages/react/src/version.ts
Due: none

chore(sdk): prepare new version (#4134)
  docs/docs/pages/sdk/core/validateOrder.md
  docs/docs/pages/sdk/hooks/useOrder.mdx
  sdk/.changeset/grumpy-tigers-shake.md
  sdk/packages/core/CHANGELOG.md
  sdk/packages/core/package.json
  sdk/packages/core/src/version.ts
  sdk/packages/react/CHANGELOG.md
  sdk/packages/react/package.json
  sdk/packages/react/src/version.ts
Due: none

docs: fix link to supported Assets (#4126)
  docs/docs/pages/sdk/faq.mdx
Due: none

restart gasless order implementation
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInboxV2.sol
  contracts/solve/src/interfaces/IMockSolverNetInbox.sol
  contracts/solve/test/V2/E2E.t.sol
  contracts/solve/test/V2/TestBase.sol
  contracts/solve/test/V2/inbox/Claim.t.sol
  contracts/solve/test/V2/inbox/Close.t.sol
  contracts/solve/test/V2/inbox/General.t.sol
  contracts/solve/test/V2/inbox/Handle.t.sol
  contracts/solve/test/V2/inbox/MarkFilled.t.sol
  contracts/solve/test/V2/inbox/Open.t.sol
  contracts/solve/test/V2/inbox/Reject.t.sol
  contracts/solve/test/V2/inbox/Resolve.t.sol
  contracts/solve/test/V2/inbox/Validate.t.sol
  contracts/solve/test/V2/outbox/Executor.t.sol
  contracts/solve/test/V2/outbox/Fill.t.sol
  contracts/solve/test/V2/outbox/General.t.sol
  contracts/solve/test/V2/outbox/RetryMarkFilled.t.sol
  contracts/solve/test/utils/MockSolverNetInbox.sol
Due: none

separate test naming
  contracts/solve/.gas-snapshot
  contracts/solve/test/V2/E2E.t.sol
  contracts/solve/test/V2/inbox/Claim.t.sol
  contracts/solve/test/V2/inbox/Close.t.sol
  contracts/solve/test/V2/inbox/General.t.sol
  contracts/solve/test/V2/inbox/Handle.t.sol
  contracts/solve/test/V2/inbox/MarkFilled.t.sol
  contracts/solve/test/V2/inbox/Open.t.sol
  contracts/solve/test/V2/inbox/Reject.t.sol
  contracts/solve/test/V2/inbox/Resolve.t.sol
  contracts/solve/test/V2/inbox/Validate.t.sol
  contracts/solve/test/V2/outbox/Executor.t.sol
  contracts/solve/test/V2/outbox/Fill.t.sol
  contracts/solve/test/V2/outbox/General.t.sol
  contracts/solve/test/V2/outbox/RetryMarkFilled.t.sol
Due: none

chore(svmutil/localsvm): local svm
  Makefile
  lib/svmutil/compose.go
  lib/svmutil/compose_test.go
  lib/svmutil/localsvm/main.go
  lib/svmutil/token.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/eoa): solana keys and addresses (#4128)
  e2e/app/eoa/eoa.go
  e2e/app/eoa/svm.go
  e2e/app/eoa/svm_internal_test.go
  e2e/app/eoa/svmaddrs.toml
  e2e/app/fund.go
  lib/contracts/solvernet/chains.go
  lib/netconf/network.go
  lib/svmutil/helpers.go
  lib/svmutil/helpers_test.go
  lib/svmutil/stream.go
  monitor/account/monitor.go
  solver/app/svmproc.go
  solver/app/svmtypes.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  Makefile
  lib/lib_test.go
Due: run-go-tests, run-golint, run-goversion

chore(contracts/solvernet): add trusted chains
  e2e/app/admin/common.go
  e2e/app/chains.go
  e2e/app/setup.go
  lib/contracts/solvernet/chains.go
  lib/contracts/solvernet/chains_test.go
  lib/contracts/solvernet/config.go
  lib/netconf/netconf.go
  lib/svmutil/stream.go
  monitor/account/monitor.go
  monitor/app/app.go
  solver/app/app.go
  solver/app/tokens_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  anchor/Makefile
Due: none

cleanup
  anchor/localnet/solver_inbox.ts
Due: none

chore(contracts/solvernet): add trusted chains (#4136)
  e2e/app/admin/common.go
  e2e/app/chains.go
  e2e/app/setup.go
  lib/contracts/solvernet/chains.go
  lib/contracts/solvernet/chains_test.go
  lib/contracts/solvernet/config.go
  lib/netconf/netconf.go
  lib/svmutil/stream.go
  monitor/account/monitor.go
  monitor/app/app.go
  solver/app/app.go
  solver/app/tokens_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(lib/hypercore): first action UseBigBlocks
  go.mod
  go.sum
  lib/hypercore/client.go
  lib/hypercore/client_test.go
  lib/hypercore/evm_user_modify.go
  lib/hypercore/signer.go
  lib/hypercore/signing_utils.go
  lib/hypercore/signing_utils_internal_test.go
  lib/hypercore/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(lib/hypercore): first action UseBigBlocks (#4139)
  go.mod
  go.sum
  lib/hypercore/client.go
  lib/hypercore/client_test.go
  lib/hypercore/evm_user_modify.go
  lib/hypercore/signer.go
  lib/hypercore/signing_utils.go
  lib/hypercore/signing_utils_internal_test.go
  lib/hypercore/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

remove unnecessary view func
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInboxV2.sol
  contracts/solve/src/interfaces/ISolverNetInboxV2.sol
Due: none

feat(lib/hypercore): add fireblocks signer
  lib/hypercore/signer.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts/solve): restart gasless order impl (#4137)
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInboxV2.sol
  contracts/solve/src/interfaces/IMockSolverNetInbox.sol
  contracts/solve/test/V2/E2E.t.sol
  contracts/solve/test/V2/TestBase.sol
  contracts/solve/test/V2/inbox/Claim.t.sol
  contracts/solve/test/V2/inbox/Close.t.sol
  contracts/solve/test/V2/inbox/General.t.sol
  contracts/solve/test/V2/inbox/Handle.t.sol
  contracts/solve/test/V2/inbox/MarkFilled.t.sol
  contracts/solve/test/V2/inbox/Open.t.sol
  contracts/solve/test/V2/inbox/Reject.t.sol
  contracts/solve/test/V2/inbox/Resolve.t.sol
  contracts/solve/test/V2/inbox/Validate.t.sol
  contracts/solve/test/V2/outbox/Executor.t.sol
  contracts/solve/test/V2/outbox/Fill.t.sol
  contracts/solve/test/V2/outbox/General.t.sol
  contracts/solve/test/V2/outbox/RetryMarkFilled.t.sol
  contracts/solve/test/utils/MockSolverNetInbox.sol
Due: none

feat(lib/hypercore): add fireblocks signer (#4141)
  lib/hypercore/signer.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add trusted route to outbox
  contracts/bindings/solvernetadmin.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetOutbox.sol
  contracts/solve/test/V2/outbox/Fill.t.sol
  contracts/solve/test/V2/outbox/RetryMarkFilled.t.sol
  contracts/solve/test/outbox/Fill.t.sol
  contracts/solve/test/outbox/RetryMarkFilled.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(e2e): add hl use big blocks command
  e2e/app/hyperliquid.go
  e2e/cmd/cmd.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/solve): add trusted route to outbox (#4129)
  contracts/bindings/solvernetadmin.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetOutbox.sol
  contracts/solve/test/V2/outbox/Fill.t.sol
  contracts/solve/test/V2/outbox/RetryMarkFilled.t.sol
  contracts/solve/test/outbox/Fill.t.sol
  contracts/solve/test/outbox/RetryMarkFilled.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(e2e): add hl use big blocks command (#4142)
  e2e/app/hyperliquid.go
  e2e/cmd/cmd.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): skip full def for hyperliquid cmd
  e2e/cmd/cmd.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): skip full def for hyperliquid cmd (#4143)
  e2e/cmd/cmd.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(svmutil): improve event streaming
  anchor/anchorinbox/helper.go
  lib/svmutil/helpers.go
  lib/svmutil/helpers_test.go
  lib/svmutil/stream.go
  solver/app/svmproc.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(svmutil/localsvm): local svm (#4138)
  Makefile
  anchor/Makefile
  anchor/localnet/solver_inbox.ts
  lib/lib_test.go
  lib/svmutil/compose.go
  lib/svmutil/compose_test.go
  lib/svmutil/localsvm/main.go
  lib/svmutil/token.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(svmutil): improve event streaming (#4135)
  anchor/anchorinbox/helper.go
  lib/svmutil/helpers.go
  lib/svmutil/helpers_test.go
  lib/svmutil/stream.go
  solver/app/svmproc.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): add devnet svm container
  Makefile
  cli/cmd/devnet.go
  e2e/app/admin/common.go
  e2e/app/chains.go
  e2e/app/definition.go
  e2e/app/fund.go
  e2e/app/run.go
  e2e/cmd/util.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/docker/docker_test.go
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/manifests/devnet1.toml
  e2e/test/e2e_test.go
  e2e/types/manifest.go
  e2e/types/testnet.go
  e2e/vmcompose/provider.go
  halo/app/lazyvoter.go
  lib/evmchain/evmchain.go
  lib/evmchain/evmchain_internal_test.go
  lib/netconf/netconf.go
  lib/svmutil/helpers_test.go
  lib/tokens/tokens.go
  lib/uni/types.go
  lib/uni/types_test.go
  relayer/app/app.go
  scripts/go_tag.sh
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(lib/layerzero): init client
  lib/layerzero/apitypes.go
  lib/layerzero/client.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
