Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(sdk): fix type
  sdk/src/types/order.ts
Due: none

chore(halo/withdraw): refactor bankwrap to halo
  e2e/test/invariant_test.go
  halo/app/app_config.go
  halo/withdraw/depinject.go
  halo/withdraw/metrics.go
  halo/withdraw/types.go
  halo/withdraw/wrapper.go
  halo/withdraw/wrapper_internal_test.go
  octane/bankwrap/depinject.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): fix encoded data slicing (#3002)
  sdk/src/types/order.ts
  sdk/src/utils/encodeOrder.ts
Due: none

Update monitor.go
  monitor/contract/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Update OmniGasPump.t.sol
  contracts/core/test/token/OmniGasPump.t.sol
Due: none

Update Omni.t.sol
  contracts/core/test/token/Omni.t.sol
Due: none

Update OmniBridgeL1.t.sol
  contracts/core/test/token/OmniBridgeL1.t.sol
Due: none

chore(halo/withdraw): refactor bankwrap to halo (#3003)
  e2e/test/invariant_test.go
  halo/app/app_config.go
  halo/withdraw/depinject.go
  halo/withdraw/metrics.go
  halo/withdraw/types.go
  halo/withdraw/wrapper.go
  halo/withdraw/wrapper_internal_test.go
  octane/bankwrap/depinject.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): log middleman contracts
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver): serve contract addrs
  e2e/test/solve_test.go
  solver/app/app.go
  solver/app/quote.go
  solver/app/server.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver): serve contract addrs (#3013)
  e2e/test/solve_test.go
  solver/app/app.go
  solver/app/quote.go
  solver/app/server.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solve): maybe reject before fill
  solver/app/processor.go
  solver/app/processor_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(halo/upgrade): megallan network upgrade
  e2e/test/cli_test.go
  e2e/test/invariant_test.go
  halo/app/app.go
  halo/app/app_config.go
  halo/app/start_test.go
  halo/app/upgrades.go
  halo/app/upgrades/magellan/upgrade.go
  halo/app/upgrades/uluwatu/upgrade.go
  halo/evmstaking/depinject.go
  halo/evmstaking/evmstaking.go
  halo/evmstaking/keeper/evmstaking.cosmos_orm.go
  halo/evmstaking/keeper/evmstaking.pb.go
  halo/evmstaking/keeper/evmstaking.proto
  halo/evmstaking/keeper/helpers.go
  halo/evmstaking/keeper/keeper.go
  halo/evmstaking/keeper/keeper_internal_test.go
  halo/evmstaking/keeper/metrics.go
  halo/evmstaking/module/module.go
  halo/evmstaking/module/module.proto
  halo/evmstaking/module/module.pulsar.go
  halo/evmstaking/testutil/mock_interfaces.go
  halo/evmstaking/types/interfaces.go
  halo/evmstaking/types/keys.go
  halo/evmstaking2/keeper/evmstaking.pb.go
  lib/ethclient/enginemock.go
  lib/feature/feature.go
  lib/feature/feature_test.go
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/events.go
  octane/evmengine/keeper/events_test.go
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/msg_server.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server.go
  octane/evmengine/keeper/proposal_server_internal_test.go
  octane/evmengine/types/tx.pb.go
  octane/evmengine/types/tx.proto
  scripts/halovisor/Dockerfile
  scripts/halovisor/build.sh
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(halo/app): fix main build
  halo/app/app_config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add deploy-xbridge e2e cmd
  e2e/cmd/cmd.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solve): maybe reject before fill (#3014)
  solver/app/processor.go
  solver/app/processor_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(solve): reject if dest call reverts
  solver/app/bindings.go
  solver/app/processor.go
  solver/app/reject.go
  solver/app/reject_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(solve): reject if dest call reverts (#3021)
  solver/app/bindings.go
  solver/app/processor.go
  solver/app/reject.go
  solver/app/reject_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(e2e/cmd): add deploy xbridge e2e cmd (#3019)
  e2e/cmd/cmd.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add deploy solvernet e2e cmd
  e2e/cmd/cmd.go
  e2e/solve/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(e2e/cmd): add deploy solvernet e2e cmd (#3020)
  e2e/cmd/cmd.go
  e2e/solve/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(solver): approve outbox spend before checking revert
  solver/app/reject.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add native token support to middleman
  contracts/bindings/solvernetmiddleman.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetMiddleman.sol
  contracts/solve/test/outbox/Middleman.t.sol
Due: run-go-tests, run-golint, run-goversion

fix(solver): approve outbox spend before checking revert (#3022)
  solver/app/reject.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/solve): native token support in middleman (#3023)
  contracts/bindings/solvernetmiddleman.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetMiddleman.sol
  contracts/solve/test/outbox/Middleman.t.sol
Due: run-go-tests, run-golint, run-goversion

chore(halo/app): fix backwards e2e test (#3017)
  halo/app/app_config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(halo/upgrade): megallan network upgrade
  e2e/test/cli_test.go
  e2e/test/invariant_test.go
  halo/app/app.go
  halo/app/app_config.go
  halo/app/start_test.go
  halo/app/upgrades.go
  halo/app/upgrades/magellan/upgrade.go
  halo/app/upgrades/uluwatu/upgrade.go
  halo/evmstaking/depinject.go
  halo/evmstaking/evmstaking.go
  halo/evmstaking2/keeper/evmstaking.cosmos_orm.go
  halo/evmstaking2/keeper/evmstaking.pb.go
  halo/evmstaking2/keeper/evmstaking.proto
  halo/evmstaking2/keeper/helpers.go
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/keeper/keeper_internal_test.go
  halo/evmstaking2/keeper/metrics.go
  halo/evmstaking2/module/module.go
  halo/evmstaking2/module/module.proto
  halo/evmstaking2/module/module.pulsar.go
  halo/evmstaking2/testutil/mock_interfaces.go
  halo/evmstaking2/types/interfaces.go
  halo/evmstaking2/types/keys.go
  lib/ethclient/enginemock.go
  lib/feature/feature.go
  lib/feature/feature_test.go
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/events.go
  octane/evmengine/keeper/events_test.go
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/msg_server.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server.go
  octane/evmengine/keeper/proposal_server_internal_test.go
  octane/evmengine/types/tx.pb.go
  octane/evmengine/types/tx.proto
  scripts/halovisor/Dockerfile
  scripts/halovisor/build.sh
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

improve upgrade comments add missing evmstaking module
  halo/evmstaking/keeper/evmstaking.cosmos_orm.go
  halo/evmstaking/keeper/evmstaking.pb.go
  halo/evmstaking/keeper/evmstaking.proto
  halo/evmstaking/keeper/helpers.go
  halo/evmstaking/keeper/keeper.go
  halo/evmstaking/keeper/keeper_internal_test.go
  halo/evmstaking/keeper/metrics.go
  halo/evmstaking/module/module.go
  halo/evmstaking/module/module.proto
  halo/evmstaking/module/module.pulsar.go
  halo/evmstaking/testutil/mock_interfaces.go
  halo/evmstaking/types/interfaces.go
  halo/evmstaking/types/keys.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

e2e network upgrades
  .github/workflows/clicommand.yaml
  .github/workflows/pr-e2etest.yaml
  e2e/app/admin/planupgrade.go
  e2e/app/run.go
  e2e/app/setup.go
  e2e/manifests/devnet0.toml
  e2e/manifests/devnet1.toml
  e2e/manifests/devnet2.toml
  e2e/manifests/staging.toml
  halo/app/app_config.go
  halo/app/upgrades.go
  halo/genutil/genutil.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(e2e/test): fix invariant test
  e2e/test/invariant_test.go
Due: run-go-tests, run-golint, run-goversion

test(e2e/test): fix invariant test (#3025)
  e2e/test/invariant_test.go
Due: run-go-tests, run-golint, run-goversion

detect unexpected calls to UndelegateCoinsFromModuleToAccount
  e2e/test/invariant_test.go
  halo/withdraw/depinject.go
  halo/withdraw/wrapper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

allow uluwatu-to-magellan genesis upgrade
  halo/genutil/genutil.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(cli/cmd): delay message on stacking cmdss
  cli/cmd/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(cli/cmd): simplify message
  cli/cmd/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

remaining issues
  Makefile
  e2e/app/run.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/manifests/backwards.toml
  e2e/manifests/ci.toml
  halo/app/app_config.go
  halo/app/upgrades/magellan/upgrade.go
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/proposal_server.go
  octane/evmengine/types/tx.pb.go
  octane/evmengine/types/tx.proto
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

support legacy event sorting
  octane/evmengine/keeper/events.go
  octane/evmengine/keeper/proposal_server.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor): include normal delegation in loadgen
  monitor/loadgen/loadgen.go
  monitor/loadgen/stake.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/loadgen): include normal delegations (#3027)
  monitor/loadgen/loadgen.go
  monitor/loadgen/stake.go
Due: run-go-tests, run-golint, run-regexp, run-goversion
