Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

ci(e2e): build and use halovisor (#1662)
  .github/workflows/clicommand.yml
  .github/workflows/pr-e2etest.yml
  .github/workflows/release-snapshot.yml
  Makefile
  e2e/app/definition.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-3-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
  scripts/halovisor/Dockerfile
  scripts/halovisor/build.sh
Due: run-go-tests, run-regexp, run-goversion

feat(monitor/xfeemngr): sync a chains fee params with itself (#1659)
  lib/contracts/feeoraclev1/feeparams.go
  monitor/xfeemngr/oracle.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): fix build
  .github/workflows/pr-e2etest.yml
  e2e/app/perturb.go
  lib/netconf/provider.go
  scripts/halovisor/build.sh
Due: run-go-tests, run-regexp, run-goversion

WIP
  .github/workflows/pr-e2etest.yml
Due: none

chore(e2e): fix build
  .github/workflows/pr-e2etest.yml
  .github/workflows/release-snapshot.yml
  e2e/app/perturb.go
  lib/netconf/provider.go
  scripts/halovisor/build.sh
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): fix build (#1663)
  .github/workflows/pr-e2etest.yml
  .github/workflows/release-snapshot.yml
  e2e/app/perturb.go
  lib/netconf/provider.go
  scripts/halovisor/build.sh
Due: run-go-tests, run-regexp, run-goversion

chore(e2e/manifests): removes slow l1 on staging and introduces holesky
  e2e/app/testdata/TestManifestServiceReference.golden
  e2e/manifests/staging.toml
Due: none

chore(e2e/manifests): removes slow l1 on staging and introduces holesky (#1671)
  e2e/app/testdata/TestManifestServiceReference.golden
  e2e/manifests/staging.toml
Due: none

chore(scripts): add check network script
  scripts/check_network.sh
Due: none

chore(scripts): add check network script (#1672)
  scripts/check_network.sh
Due: none

chore(cli): allow easy metrics
  cli/cmd/compose.yml.tpl
  cli/cmd/operator.go
  halo/cmd/init.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  halo/attest/types/query.pb.go
  halo/attest/types/tx.pb.go
  halo/genutil/genserve/query.pb.go
  halo/portal/types/query.pb.go
  halo/registry/types/query.pb.go
  halo/valsync/types/query.pb.go
  octane/evmengine/types/tx.pb.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): fix broken links
  README.md
  contracts/core/README.md
  scripts/verifypr/README.md
Due: none

chore(docs): fix broken links (#1678)
  README.md
  contracts/core/README.md
  scripts/verifypr/README.md
Due: none

chore(halo): tiny logging improvement
  halo/app/start.go
  scripts/halovisor/Dockerfile
Due: run-go-tests, run-regexp, run-goversion

chore(docs): draft structure
  docs/site/docs/home.md
  docs/site/docs/learn/introduction/introduction.md
  docs/site/docusaurus.config.ts
  docs/site/static/img/omni-overview.png
Due: none

feat(contracts): add an XAppUpgradeable contract
  contracts/bindings/pingpong.go
  contracts/core/.gas-snapshot
  contracts/core/src/pkg/XApp.sol
  contracts/core/src/pkg/XAppBase.sol
  contracts/core/src/pkg/XAppUpgradeable.sol
  contracts/core/test/pkg/XApp.t.sol
  contracts/core/test/pkg/XAppUpgradeable.t.sol
  contracts/core/test/pkg/common/XAppTester.sol
  contracts/core/test/pkg/common/XAppTests.sol
  contracts/core/test/utils/MockPortal.sol
Due: run-go-tests, run-goversion

feat(contracts): add an XAppUpgradeable contract (#1679)
  contracts/bindings/pingpong.go
  contracts/core/.gas-snapshot
  contracts/core/src/pkg/XApp.sol
  contracts/core/src/pkg/XAppBase.sol
  contracts/core/src/pkg/XAppUpgradeable.sol
  contracts/core/test/pkg/XApp.t.sol
  contracts/core/test/pkg/XAppUpgradeable.t.sol
  contracts/core/test/pkg/common/XAppTester.sol
  contracts/core/test/pkg/common/XAppTests.sol
  contracts/core/test/utils/MockPortal.sol
Due: run-go-tests, run-goversion

feat(contracts): add XApp omniChainId internal view
  contracts/bindings/pingpong.go
  contracts/core/.gas-snapshot
  contracts/core/src/pkg/XAppBase.sol
  contracts/core/test/pkg/common/XAppTester.sol
  contracts/core/test/pkg/common/XAppTests.sol
Due: run-go-tests, run-goversion

chore(halo): fix plan upgrade authority
  .golangci.yml
  halo/app/app_config.go
  halo/app/pruning_test.go
  halo/app/start.go
  halo/app/start_test.go
  halo/evmupgrade/evmupgrade.go
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/ethclient/enginemock.go
  lib/netconf/provider.go
Due: run-go-tests, run-regexp, run-goversion

chore(cli): allow easy metrics (#1677)
  cli/cmd/compose.yml.tpl
  cli/cmd/operator.go
  halo/cmd/init.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): add XApp omniChainId internal view (#1689)
  contracts/bindings/pingpong.go
  contracts/core/.gas-snapshot
  contracts/core/src/pkg/XAppBase.sol
  contracts/core/test/pkg/common/XAppTester.sol
  contracts/core/test/pkg/common/XAppTests.sol
Due: run-go-tests, run-goversion

saving progress
  contracts/core/src/token/OmniExchange.sol
  contracts/core/src/token/OmniFund.sol
Due: none

feat(contracts): pov xchain omni exchange
  contracts/core/src/token/OmniExchange.sol
  contracts/core/src/token/OmniFund.sol
Due: none

chore(halo): tiny logging improvement (#1681)
  halo/app/start.go
  scripts/halovisor/Dockerfile
Due: run-go-tests, run-regexp, run-goversion

cleanup
  .golangci.yml
  halo/app/app.go
  halo/app/app_config.go
  halo/app/pruning_test.go
  halo/app/rollback.go
  halo/app/start.go
  halo/app/start_test.go
  halo/attest/module/module.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestCLIReference_rollback.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/config/config.go
  halo/config/config.toml.tmpl
  halo/config/config_test.go
  halo/config/testdata/default_halo.toml
  halo/evmupgrade/evmupgrade.go
  halo/genutil/genutil.go
  halo/genutil/testdata/TestMakeGenesis.golden
  halo/portal/module/module.go
  halo/registry/module/module.go
  halo/valsync/module/module.go
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cmd/cmd.go
  lib/cmd/flags.go
  lib/ethclient/enginemock.go
  lib/netconf/provider.go
  octane/evmengine/keeper/db.go
  octane/evmengine/module/module.go
Due: run-go-tests, run-regexp, run-goversion

v2
  e2e/app/portalregistry.go
  e2e/app/run.go
  halo/app/app.go
  halo/app/lazyvoter.go
  halo/app/rollback.go
  halo/app/upgrades.go
  halo/app/upgrades/v2/constants.go
  halo/app/upgrades/v2/upgrades.go
  halo/evmupgrade/evmupgrade.go
  halo/valsync/module/module.go
  lib/cmd/flags.go
  scripts/halovisor/Dockerfile
  scripts/halovisor/build.sh
Due: run-go-tests, run-regexp, run-goversion

simplify contributor docs
  docs/branching.md
  docs/contributing.md
Due: none

small cleanup
  README.md
  docs/website/docusaurus.config.ts
  docs/website/package.json
  docs/website/pnpm-lock.yaml
Due: none

update paths
  docs/website/docusaurus.config.ts
Due: none

update paths
  .github/workflows/ci-docs.yml
  .github/workflows/ci-pr-docs.yml
Due: none

move archive too
  docs/content/archive/finality.md
  docs/content/archive/permissionless.md
  docs/content/archive/programmability.md
  docs/content/archive/restaking/architecture.md
  docs/content/archive/restaking/overview.md
  docs/content/archive/restaking/restaking.md
  docs/content/archive/xdapps/native.md
  docs/content/archive/xdapps/upgrade.md
  docs/content/archive/xdapps/xerc20.md
Due: none

remove archive
  docs/content/archive/finality.md
  docs/content/archive/permissionless.md
  docs/content/archive/programmability.md
  docs/content/archive/restaking/architecture.md
  docs/content/archive/restaking/overview.md
  docs/content/archive/restaking/restaking.md
  docs/content/archive/xdapps/native.md
  docs/content/archive/xdapps/upgrade.md
  docs/content/archive/xdapps/xerc20.md
Due: none

v3
  e2e/app/portalregistry.go
  halo/app/upgrades.go
  halo/app/upgrades/v3/constants.go
  halo/app/upgrades/v3/upgrades.go
  halo/attest/keeper/keeper.go
  halo/attest/migrations/v2/attestation.cosmos_orm.go
  halo/attest/migrations/v2/attestation.pb.go
  halo/attest/migrations/v2/attestation.proto
  halo/attest/migrations/v3/migrations.go
  halo/attest/module/migrations.go
  halo/attest/module/module.go
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  scripts/buf_generate.sh
  scripts/halovisor/Dockerfile
  scripts/halovisor/build.sh
Due: run-buf, run-go-tests, run-regexp, run-goversion
