Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

feat(lib/netconf): deterministic staging network version
  cli/cmd/initnodes.go
  e2e/app/run.go
  e2e/app/setup.go
  e2e/cmd/cmd.go
  lib/netconf/genesis/genesis.go
  lib/netconf/network.go
  lib/netconf/static.go
  lib/tracer/rooted.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): fix logs
  e2e/app/admin/pausexsubmit.go
  e2e/app/admin/unpausexsubmit.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts/core): cleanup tests
  contracts/core/.gas-snapshot
  contracts/core/test/xchain/common/Fixtures.sol
  contracts/core/test/xchain/data/xblocks.json
  contracts/core/test/xchain/data/xblocks_decoded.json
  contracts/core/test/xchain/data/xsubs.json
  contracts/core/test/xchain/data/xsubs_decoded.json
Due: none

chore(contracts/core): cleanup tests (#1961)
  contracts/core/.gas-snapshot
  contracts/core/test/xchain/common/Fixtures.sol
  contracts/core/test/xchain/data/xblocks.json
  contracts/core/test/xchain/data/xblocks_decoded.json
  contracts/core/test/xchain/data/xsubs.json
  contracts/core/test/xchain/data/xsubs_decoded.json
Due: none

chore(e2e): fix logs (#1960)
  e2e/app/admin/pausexsubmit.go
  e2e/app/admin/unpausexsubmit.go
Due: run-go-tests, run-regexp, run-goversion

chore(monitor/validator): fix uptime metric (#1955)
  lib/cchain/provider/abci.go
  lib/cchain/types.go
Due: run-go-tests, run-regexp, run-goversion

test(lib/p2putil): add naive discv4 debug test (#1956)
  lib/p2putil/disc_test.go
Due: run-go-tests, run-goversion

allow staging rpc override
  e2e/app/run.go
  lib/contracts/address.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/contracts): consistent staging addrs
  cli/cmd/register_test.go
  e2e/app/admin/upgrade.go
  e2e/app/definition.go
  e2e/app/erc20faucet.go
  e2e/app/fund.go
  e2e/app/gaspump.go
  e2e/app/run.go
  e2e/app/tokenbridge.go
  e2e/netman/manager.go
  e2e/test/bridge_test.go
  lib/contracts/address.go
  lib/contracts/address_test.go
  lib/contracts/create3/deploy.go
  lib/contracts/fund.go
  lib/contracts/gaspump/deploy.go
  lib/contracts/gasstation/deploy.go
  lib/contracts/l1bridge/deploy.go
  lib/contracts/omnitoken/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/netconf/netconf_test.go
  lib/netconf/network.go
  lib/netconf/static.go
  lib/tracer/rooted.go
  monitor/app/app.go
  monitor/contract/monitor.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/contracts): consistent staging addrs (#1963)
  cli/cmd/register_test.go
  e2e/app/admin/upgrade.go
  e2e/app/definition.go
  e2e/app/erc20faucet.go
  e2e/app/fund.go
  e2e/app/gaspump.go
  e2e/app/run.go
  e2e/app/tokenbridge.go
  e2e/netman/manager.go
  e2e/test/bridge_test.go
  lib/contracts/address.go
  lib/contracts/address_test.go
  lib/contracts/create3/deploy.go
  lib/contracts/fund.go
  lib/contracts/gaspump/deploy.go
  lib/contracts/gasstation/deploy.go
  lib/contracts/l1bridge/deploy.go
  lib/contracts/omnitoken/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/netconf/netconf_test.go
  lib/netconf/network.go
  lib/netconf/static.go
  lib/tracer/rooted.go
  monitor/app/app.go
  monitor/contract/monitor.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): allow funding staging contracts
  e2e/app/fund.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): allow admin test on staging
  e2e/cmd/admin.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo/app): dump upgrade info if binary too old
  halo/app/app.go
  halo/app/app_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo/app): dump upgrade info if binary too old (#1968)
  halo/app/app.go
  halo/app/app_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e/netman): do not initialize private portal addrs
  e2e/app/definition.go
  e2e/netman/manager.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e/netman): do not initialize private portal addrs (#1969)
  e2e/app/definition.go
  e2e/netman/manager.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): allow admin test on staging (#1966)
  e2e/cmd/admin.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): do not deploy staging in admin test
  e2e/cmd/admin.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): do not deploy staging in admin test (#1972)
  e2e/cmd/admin.go
Due: run-go-tests, run-regexp, run-goversion

test(contracts): add post upgrade bridge tests
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/script/admin/BridgeL1PostUpgradeTest.sol
  contracts/core/script/admin/BridgeNativePostUpgradeTest.sol
  contracts/core/test/token/OmniBridgeNative.t.sol
  contracts/core/test/utils/NoReceive.sol
Due: run-go-tests, run-goversion

fix(halo/app): dump old height
  halo/app/app.go
  halo/app/app_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo/app): dump old height (#1976)
  halo/app/app.go
  halo/app/app_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

ci(halovisor): swap to omni cosmovisor fork
  cli/cmd/compose.yml.tpl
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
  scripts/halovisor/Dockerfile
  scripts/halovisor/build.sh
Due: none

cleanup
  e2e/manifests/backwards.toml
Due: none

ci(halovisor): swap to omni cosmovisor fork (#1977)
  cli/cmd/compose.yml.tpl
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/manifests/backwards.toml
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
  scripts/halovisor/Dockerfile
  scripts/halovisor/build.sh
Due: none

ci(github): fix release
  .github/workflows/release-official.yml
  .github/workflows/release-snapshot.yml
Due: none

ci(github): fix release (#1978)
  .github/workflows/release-official.yml
  .github/workflows/release-snapshot.yml
Due: none

ci(github): fix failing release action
  .github/workflows/release-official.yml
Due: none

ci(github): fix failing release action (#1979)
  .github/workflows/release-official.yml
Due: none

ci(github): fix failing release action again
  .github/workflows/release-official.yml
Due: none

ci(github): fix failing release action again (#1980)
  .github/workflows/release-official.yml
Due: none

feat(monitor): add xcall revenue metrics
  lib/cchain/provider/testdata/TestXBlock.golden
  lib/xchain/abi_internal_test.go
  lib/xchain/provider/fetch.go
  lib/xchain/types.go
  monitor/xmonitor/indexer/indexer.go
  monitor/xmonitor/indexer/indexer_internal_test.go
  monitor/xmonitor/indexer/metrics.go
Due: run-go-tests, run-regexp, run-goversion

test(contracts): add post upgrade bridge tests (#1973)
  contracts/bindings/admin.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/script/admin/BridgeL1PostUpgradeTest.sol
  contracts/core/script/admin/BridgeNativePostUpgradeTest.sol
  contracts/core/test/token/OmniBridgeNative.t.sol
  contracts/core/test/utils/NoReceive.sol
Due: run-go-tests, run-goversion

feat(metrics): add relayer and monitor spend metrics
  monitor/xfeemngr/contract/bound.go
  monitor/xfeemngr/contract/metrics.go
  relayer/app/metrics.go
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

feat(monitor): add xcall revenue metrics (#1975)
  lib/cchain/provider/testdata/TestXBlock.golden
  lib/xchain/abi_internal_test.go
  lib/xchain/provider/fetch.go
  lib/xchain/types.go
  monitor/xmonitor/indexer/indexer.go
  monitor/xmonitor/indexer/indexer_internal_test.go
  monitor/xmonitor/indexer/metrics.go
Due: run-go-tests, run-regexp, run-goversion

feat(metrics): add relayer and monitor spend metrics (#1974)
  monitor/xfeemngr/contract/bound.go
  monitor/xfeemngr/contract/metrics.go
  relayer/app/metrics.go
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/attest): only delete after vote window (#1949)
  halo/app/app.go
  halo/app/app_config.go
  halo/app/app_config_internal_test.go
  halo/app/pruning_test.go
  halo/attest/keeper/common_test.go
  halo/attest/keeper/keeper.go
Due: run-go-tests, run-regexp, run-goversion

refactor(halo/attest): split vote window up and down (#1957)
  halo/app/app_config.go
  halo/app/app_config_internal_test.go
  halo/app/pruning_test.go
  halo/attest/keeper/common_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_internal_test.go
  halo/attest/keeper/keeper_test.go
  halo/attest/module/module.go
  halo/attest/module/module.proto
  halo/attest/module/module.pulsar.go
Due: run-buf, run-go-tests, run-regexp, run-goversion
