Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

test(e2e): remove arb sepolia (#1299)
  e2e/manifests/omega.toml
Due: none

remove base from omega manifest
  e2e/manifests/omega.toml
Due: none

test(e2e): remove base from omega manifest (#1300)
  e2e/manifests/omega.toml
Due: none

test arb_sepolia on staging
  e2e/manifests/staging.toml
Due: none

feat(txmgr): additional logic to debug omega
  lib/fireblocks/sign.go
  lib/netconf/static.go
  lib/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

feat(txmgr): additional logic to debug omega (#1305)
  lib/fireblocks/sign.go
  lib/netconf/static.go
  lib/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

add arb sepolia
  e2e/manifests/omega.toml
Due: none

chore(e2e): add arb sepolia (#1306)
  e2e/manifests/omega.toml
Due: none

feat(lib/netconf): bump network version
  e2e/manifests/omega.toml
  e2e/manifests/staging.toml
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/netconf): bump network version (#1307)
  e2e/manifests/omega.toml
  e2e/manifests/staging.toml
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): rename testnet to omega (#1298)
  lib/contracts/address.go
  lib/contracts/avs/deploy.go
  lib/contracts/create3/deploy.go
  lib/contracts/feeoraclev1/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/proxyadmin/deploy.go
  lib/netconf/netconf_test.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
Due: none

fix(octane/keeper): avoid division by zero
  e2e/app/definition.go
  lib/contracts/feeoraclev1/feeparams.go
  lib/netconf/provider.go
  octane/evmengine/keeper/keeper.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib/xchain): avoid linear merkle index search
  lib/merkle/msg_test.go
  lib/xchain/merkle.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo/voter): verify state loaded from disk
  halo/attest/voter/voter.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib/k1util): add invalid pubkey error hanlding
  lib/contracts/avs/register.go
  lib/k1util/k1util.go
  lib/k1util/k1util_test.go
  lib/netconf/netconf_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib/merkle): ensure trees have odd number of nodes
  lib/merkle/core.go
  lib/merkle/core_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(e2e): swap over arb_sepolia with base_sepolia
  e2e/manifests/staging.toml
Due: none

feat(e2e): swap over arb_sepolia with base_sepolia (#1324)
  e2e/manifests/staging.toml
Due: none

chore(e2e): add arb_sepolia to staging
  e2e/manifests/staging.toml
Due: none

chore(e2e): add arb_sepolia to staging (#1325)
  e2e/manifests/staging.toml
Due: none

test(e2e): remove arb_sepolia from staging
  e2e/manifests/staging.toml
Due: none

test(e2e): remove arb_sepolia from staging (#1326)
  e2e/manifests/staging.toml
Due: none

chore: mention discussions in issue page
  .github/ISSUE_TEMPLATE/config.yml
Due: none

feat(attest): log blockhash when overriding entries
  halo/attest/keeper/keeper.go
Due: run-go-tests, run-regexp, run-goversion

feat(attest): log blockhash when overriding entries (#1291)
  halo/attest/keeper/keeper.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib/txmgr): handle network errors while querying receipts
  .golangci.yml
  lib/txmgr/txmgr.go
  lib/txmgr/txmgr_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(*): review todos
  halo/app/start.go
  halo/attest/keeper/keeper.go
  halo/cmd/init.go
  lib/ethclient/enginemock.go
  lib/k1util/k1util.go
  lib/netconf/netconf.go
  lib/netconf/provider.go
  lib/txmgr/txmgr_internal_test.go
  relayer/app/types_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): ensure nodes are synced
  e2e/app/definition.go
  lib/ethclient/ethbackend/backend.go
  lib/ethclient/ethbackend/backends.go
  lib/txmgr/txmgr.go
  lib/txmgr/txmgr_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(cchain): provider walks back in history when fetching if necessary
  e2e/test/attestations_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/query.go
  halo/attest/types/query.pb.go
  halo/attest/types/query.proto
  lib/cchain/provider/abci.go
  lib/cchain/provider/metrics.go
  lib/cchain/provider/provider.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

chore(docs): update ws dep
  docs/site/pnpm-lock.yaml
Due: none

chore(api): update dependencies
  api/package.json
  api/pnpm-lock.yaml
Due: none

feat(cprovider): query historical state for attestations (#1289)
  e2e/test/attestations_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/query.go
  halo/attest/types/query.pb.go
  halo/attest/types/query.proto
  lib/cchain/provider/abci.go
  lib/cchain/provider/metrics.go
  lib/cchain/provider/provider.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

chore(docs): update ws dep (#1338)
  docs/site/pnpm-lock.yaml
Due: none

chore(api): update dependencies (#1339)
  api/package.json
  api/pnpm-lock.yaml
Due: none

feat(attest): detect reorgs based on BlockOffset
  halo/attest/voter/voter.go
Due: run-go-tests, run-regexp, run-goversion

remove asana task req
  .github/pull-request-template.md
  scripts/verifypr/verify.go
Due: run-go-tests, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$, but not: (explorer/db/ent/internal/.*)
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)
  run-goversion: any of: \.go$
