Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

feat(halo/attest): only delete after vote window (#1949)
  .github/workflows/release-official.yml
  .github/workflows/release-snapshot.yml
  e2e/app/run.go
  e2e/app/setup.go
  e2e/manifests/backwards.toml
  e2e/manifests/ci.toml
  e2e/types/manifest.go
  halo/app/app.go
  halo/app/start_test.go
  halo/app/upgrades.go
  halo/app/upgrades/uluwatu/upgrade.go
  halo/attest/module/migrations.go
  halo/attest/module/module.go
  halo/cmd/init.go
  halo/genutil/genutil.go
  halo/genutil/genutil_test.go
  halo/genutil/testdata/TestMakeGenesis.golden
  scripts/halovisor/Dockerfile
  scripts/halovisor/build.sh
Due: run-go-tests, run-regexp, run-goversion

chore(halo): add uluwatu network upgrade (#1964)
  .github/workflows/release-official.yml
  .github/workflows/release-snapshot.yml
  e2e/app/run.go
  e2e/app/setup.go
  e2e/manifests/backwards.toml
  e2e/manifests/ci.toml
  e2e/types/manifest.go
  halo/app/app.go
  halo/app/start_test.go
  halo/app/upgrades.go
  halo/app/upgrades/uluwatu/upgrade.go
  halo/attest/module/migrations.go
  halo/attest/module/module.go
  halo/cmd/init.go
  halo/genutil/genutil.go
  halo/genutil/genutil_test.go
  halo/genutil/testdata/TestMakeGenesis.golden
  scripts/halovisor/Dockerfile
  scripts/halovisor/build.sh
Due: run-go-tests, run-regexp, run-goversion

feat(halo): uluwatu network upgrade (#1983)
  .github/workflows/release-official.yml
  .github/workflows/release-snapshot.yml
  e2e/app/run.go
  e2e/app/setup.go
  e2e/manifests/backwards.toml
  e2e/manifests/ci.toml
  e2e/types/manifest.go
  halo/app/app.go
  halo/app/app_config.go
  halo/app/start_test.go
  halo/app/upgrades.go
  halo/app/upgrades/uluwatu/upgrade.go
  halo/attest/keeper/common_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_internal_test.go
  halo/attest/keeper/keeper_test.go
  halo/attest/module/migrations.go
  halo/attest/module/module.go
  halo/attest/module/module.proto
  halo/attest/module/module.pulsar.go
  halo/cmd/init.go
  halo/genutil/genutil.go
  halo/genutil/genutil_test.go
  halo/genutil/testdata/TestMakeGenesis.golden
  scripts/halovisor/Dockerfile
  scripts/halovisor/build.sh
Due: run-buf, run-go-tests, run-regexp, run-goversion

chore(e2e): wait for post-genesis-upgrade
  e2e/app/start.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): wait for post-genesis-upgrade (#1985)
  e2e/app/start.go
Due: run-go-tests, run-regexp, run-goversion

chore(monitor): workaround fee manager failure
  monitor/app/app.go
Due: run-go-tests, run-regexp, run-goversion

chore(monitor): workaround fee manager failure (#1986)
  monitor/app/app.go
Due: run-go-tests, run-regexp, run-goversion

fix(monitor/xfeemngr): lazy bind fee oracle contracts
  monitor/xfeemngr/contract/bound.go
  monitor/xfeemngr/oracle.go
  monitor/xfeemngr/xfeemngr.go
  monitor/xfeemngr/xfeemngr_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(monitor/xfeemngr): lazy bind fee oracle contracts (#1987)
  monitor/xfeemngr/contract/bound.go
  monitor/xfeemngr/oracle.go
  monitor/xfeemngr/xfeemngr.go
  monitor/xfeemngr/xfeemngr_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

Update docs/content/faq.md
  docs/content/faq.md
Due: none

chore(docs): update validator doc (#1932)
  docs/content/operate/validator.md
Due: none

chore(docs): add conf info to faq (#1930)
  docs/content/faq.md
Due: none

add uluwatu docs
  docs/content/build/omega.md
  docs/content/build/quickstart.md
  docs/content/build/walkthrough.md
  docs/content/learn/architecture.md
  docs/content/learn/portals.md
  docs/content/learn/token.md
  docs/content/learn/what-is-omni.md
  docs/content/learn/whitepaper.md
  docs/content/learn/xmsg.md
  docs/content/operate/1-run-full-node.md
  docs/content/operate/2-validator.md
  docs/content/operate/3-uluwatu.md
  docs/content/operate/4-faq.md
  docs/website/pnpm-lock.yaml
  docs/website/sidebars.ts
Due: none

chore(e2e): allow funding staging contracts (#1965)
  e2e/app/fund.go
Due: run-go-tests, run-regexp, run-goversion

add numbers for clarity
  docs/content/build/1-quickstart.md
  docs/content/build/2-walkthrough.md
  docs/content/build/3-omega.md
Due: none

feat(contracts/core): add fee oracle v2
  contracts/bindings/admin.go
  contracts/bindings/feeoraclev1.go
  contracts/bindings/omniportal.go
  contracts/core/.gas-snapshot
  contracts/core/src/interfaces/IFeeOracle.sol
  contracts/core/src/interfaces/IFeeOracleV2.sol
  contracts/core/src/xchain/FeeOracleV2.sol
  contracts/core/test/utils/MockFeeOracle.sol
  contracts/core/test/xchain/FeeOracleV2.t.sol
Due: run-go-tests, run-goversion

feat(contracts/core): add fee oracle v2 (#1952)
  contracts/bindings/admin.go
  contracts/bindings/feeoraclev1.go
  contracts/bindings/omniportal.go
  contracts/core/.gas-snapshot
  contracts/core/src/interfaces/IFeeOracle.sol
  contracts/core/src/interfaces/IFeeOracleV2.sol
  contracts/core/src/xchain/FeeOracleV2.sol
  contracts/core/test/utils/MockFeeOracle.sol
  contracts/core/test/xchain/FeeOracleV2.t.sol
Due: run-go-tests, run-goversion

add learn/numbers
  docs/content/learn/1-what-is-omni.md
  docs/content/learn/2-architecture.md
  docs/content/learn/3-token.md
  docs/content/learn/4-whitepaper.md
Due: none

chore(docs): add uluwatu network upgrade details (#1988)
  docs/content/build/1-quickstart.md
  docs/content/build/2-walkthrough.md
  docs/content/build/3-omega.md
  docs/content/learn/1-what-is-omni.md
  docs/content/learn/2-architecture.md
  docs/content/learn/3-token.md
  docs/content/learn/4-whitepaper.md
  docs/content/learn/portals.md
  docs/content/learn/xmsg.md
  docs/content/operate/1-run-full-node.md
  docs/content/operate/2-validator.md
  docs/content/operate/3-uluwatu.md
  docs/content/operate/4-faq.md
  docs/website/pnpm-lock.yaml
  docs/website/sidebars.ts
Due: none

chore(docs): update dependencies
  docs/website/package.json
  docs/website/pnpm-lock.yaml
Due: none

chore(docs): update dependencies (#1992)
  docs/website/package.json
  docs/website/pnpm-lock.yaml
Due: none

feat(e2e): ensure portal spec command
  e2e/app/admin/config.go
  e2e/app/admin/pauseportal.go
  e2e/app/admin/pausexcall.go
  e2e/app/admin/pausexsubmit.go
  e2e/app/admin/portalspec.go
  e2e/app/admin/portalspec_internal_test.go
  e2e/app/admin/test.go
  e2e/app/admin/testdata/TestNetworkPortalSpec.golden
  e2e/app/admin/unpauseportal.go
  e2e/app/admin/unpausexcall.go
  e2e/app/admin/unpausexsubmit.go
  e2e/cmd/admin.go
  e2e/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

feat(e2e): ensure portal spec command (#1982)
  e2e/app/admin/config.go
  e2e/app/admin/pauseportal.go
  e2e/app/admin/pausexcall.go
  e2e/app/admin/pausexsubmit.go
  e2e/app/admin/portalspec.go
  e2e/app/admin/portalspec_internal_test.go
  e2e/app/admin/test.go
  e2e/app/admin/testdata/TestNetworkPortalSpec.golden
  e2e/app/admin/unpauseportal.go
  e2e/app/admin/unpausexcall.go
  e2e/app/admin/unpausexsubmit.go
  e2e/cmd/admin.go
  e2e/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

add a short readme with useful info on docs content
  docs/content/README.md
Due: none

fix
  docs/content/README.md
Due: none

add operator factsheet from notion
  docs/content/operate/2-validator.md
  docs/content/operate/4-roadmap.md
  docs/content/operate/5-faq.md
  docs/website/sidebars.ts
Due: none

chore(docs): add short readme for docs content (#1994)
  docs/content/README.md
Due: none

chore(docs): add operator roadmap (#1995)
  docs/content/operate/2-validator.md
  docs/content/operate/4-roadmap.md
  docs/content/operate/5-faq.md
  docs/website/sidebars.ts
Due: none

chore(halo/app): smooth cosmovisor upgrades
  halo/app/app.go
  halo/app/app_internal_test.go
  halo/app/rollback.go
  halo/app/start.go
  lib/errors/errors.go
  monitor/xmonitor/monitor.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo/app): smooth cosmovisor upgrades (#1996)
  halo/app/app.go
  halo/app/app_internal_test.go
  halo/app/rollback.go
  halo/app/start.go
  lib/errors/errors.go
  monitor/xmonitor/monitor.go
Due: run-go-tests, run-regexp, run-goversion

simplify readme, less is more
  README.md
Due: none

fix grammar
  README.md
Due: none

chore(docs): fix broken links and simplify readme (#1997)
  README.md
Due: none

feat(e2e): add --broadcast flag to admin commands
  e2e/app/admin/allowoperator.go
  e2e/app/admin/common.go
  e2e/app/admin/config.go
  e2e/app/admin/pauseportal.go
  e2e/app/admin/pausexcall.go
  e2e/app/admin/pausexsubmit.go
  e2e/app/admin/portalspec.go
  e2e/app/admin/test.go
  e2e/app/admin/upgrade.go
  e2e/cmd/admin.go
  e2e/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

feat(e2e): add --broadcast flag to admin commands (#1971)
  e2e/app/admin/allowoperator.go
  e2e/app/admin/common.go
  e2e/app/admin/config.go
  e2e/app/admin/pauseportal.go
  e2e/app/admin/pausexcall.go
  e2e/app/admin/pausexsubmit.go
  e2e/app/admin/portalspec.go
  e2e/app/admin/test.go
  e2e/app/admin/upgrade.go
  e2e/cmd/admin.go
  e2e/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo/voter): abort voter if persistence fails
  halo/app/app.go
  halo/app/lazyvoter.go
  halo/app/start.go
  halo/attest/voter/voter.go
  halo/attest/voter/voter_internal_test.go
  halo/attest/voter/voter_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(halovisor): skip backups
  docs/content/operate/3-uluwatu.md
  scripts/halovisor/Dockerfile
Due: none

fix(e2e): fix admin commands
  e2e/app/admin/test.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e/fbproxy): forward req and resp headers
  e2e/app/admin/common.go
  e2e/fbproxy/app/proxy.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e/fbproxy): forward req and resp headers (#2001)
  e2e/app/admin/common.go
  e2e/fbproxy/app/proxy.go
Due: run-go-tests, run-regexp, run-goversion
