Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

feat(halo/cmd): wire halo config flags
  halo/app/app.go
  halo/app/config.go
  halo/cmd/cmd.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/cmd/testinput/input1/config/halo.toml
  halo/cmd/testinput/input2/config/halo.json
  lib/cmd/cmd.go
  lib/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

check for finalised blocks before creating the xBlock
  lib/ethclient/ethclient.go
  lib/xchain/provider/provider.go
  lib/xchain/provider/streamer.go
Due: run-go-tests, run-regexp, run-goversion

fix review comments
  lib/ethclient/ethclient.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/ethc): check for finalised blocks (#81)
  lib/ethclient/ethclient.go
  lib/xchain/provider/provider.go
  lib/xchain/provider/streamer.go
Due: run-go-tests, run-regexp, run-goversion

lints
  relayer/app/relayer.go
  relayer/app/relayer_test.go
  relayer/app/types.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/errors): support error stack traces
  lib/errors/errors.go
  lib/errors/structured.go
  lib/log/log.go
  lib/log/testdata/TestSimpleLogs_console.golden
Due: run-go-tests, run-regexp, run-goversion

Create pnpm-lock.yaml
  explorer/ui/pnpm-lock.yaml
Due: none

pr comments amend
  relayer/app/relayer.go
  relayer/app/relayer_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(explorer/ui): explorer ui initalization (#72)
  explorer/ui/.eslintrc.cjs
  explorer/ui/.gitignore
  explorer/ui/README.md
  explorer/ui/app/entry.client.tsx
  explorer/ui/app/entry.server.tsx
  explorer/ui/app/root.tsx
  explorer/ui/app/routes/_index.tsx
  explorer/ui/package-lock.json
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
  explorer/ui/public/favicon.ico
  explorer/ui/remix.config.js
  explorer/ui/remix.env.d.ts
  explorer/ui/tsconfig.json
Due: none

feat(relayer/app): relayer start routine (#83)
  relayer/app/relayer.go
  relayer/app/relayer_test.go
  relayer/app/types.go
Due: run-go-tests, run-regexp, run-goversion

ci(*): fix foundry install in forge pre-commit hooks
  .pre-commit-config.yaml
  scripts/install_foundry.sh
Due: none

return, don't exit
  scripts/install_foundry.sh
Due: none

fix(contracts): prefix require string with contract name
  contracts/src/OmniPortal.sol
Due: none

ci(*): fix foundry install in forge pre-commit hooks (#85)
  .pre-commit-config.yaml
  scripts/install_foundry.sh
Due: none

use inclusive gas limits
  contracts/src/OmniPortal.sol
Due: none

fix(contracts): prefix require string with contract name (#86)
  contracts/src/OmniPortal.sol
Due: none

ent import and db setup
  .gitattributes
  .pre-commit-config.yaml
  Makefile
  go.mod
  go.sum
  lib/db/ent/client.go
  lib/db/ent/ent.go
  lib/db/ent/enttest/enttest.go
  lib/db/ent/generate.go
  lib/db/ent/hook/hook.go
  lib/db/ent/migrate/migrate.go
  lib/db/ent/migrate/schema.go
  lib/db/ent/mutation.go
  lib/db/ent/predicate/predicate.go
  lib/db/ent/runtime.go
  lib/db/ent/runtime/runtime.go
  lib/db/ent/schema/xblock.go
  lib/db/ent/tx.go
  lib/db/ent/xblock.go
  lib/db/ent/xblock/where.go
  lib/db/ent/xblock/xblock.go
  lib/db/ent/xblock_create.go
  lib/db/ent/xblock_delete.go
  lib/db/ent/xblock_query.go
  lib/db/ent/xblock_update.go
  lib/db/ent_client.go
  lib/db/ent_test.go
Due: run-go-tests, run-regexp, run-goversion

go mod tidy
  go.mod
  go.sum
Due: none

nit
  lib/db/ent_client.go
Due: run-go-tests, run-regexp, run-goversion

wip create submission
  relayer/app/creator.go
  relayer/app/creator_test.go
Due: run-go-tests, run-regexp, run-goversion

open api generation
  .gitattributes
  Makefile
  explorer/api/Makefile
  explorer/api/openapi/oas_cfg_gen.go
  explorer/api/openapi/oas_client_gen.go
  explorer/api/openapi/oas_handlers_gen.go
  explorer/api/openapi/oas_json_gen.go
  explorer/api/openapi/oas_middleware_gen.go
  explorer/api/openapi/oas_request_decoders_gen.go
  explorer/api/openapi/oas_request_encoders_gen.go
  explorer/api/openapi/oas_response_decoders_gen.go
  explorer/api/openapi/oas_response_encoders_gen.go
  explorer/api/openapi/oas_router_gen.go
  explorer/api/openapi/oas_schemas_gen.go
  explorer/api/openapi/oas_server_gen.go
  explorer/api/openapi/oas_unimplemented_gen.go
  explorer/api/openapi/openapi.yaml
  explorer/api/static/openapi.yaml
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-goversion

health-check-api
  explorer/api/api_functions/health_check.go
  explorer/api/api_functions/health_check_test.go
  explorer/api/server/api_function_handler.go
  explorer/api/server/server.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  lib/errors/structured.go
  lib/log/testdata/TestSimpleLogs_console.golden
Due: run-go-tests, run-regexp, run-goversion

cleanup
  go.mod
Due: none

feat(halo/cmd): wire halo config flags (#82)
  halo/app/app.go
  halo/app/config.go
  halo/cmd/cmd.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/cmd/testinput/input1/config/halo.toml
  halo/cmd/testinput/input2/config/halo.json
  lib/cmd/cmd.go
  lib/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/errors): support error stack traces (#84)
  go.mod
  lib/errors/errors.go
  lib/errors/structured.go
  lib/log/log.go
  lib/log/testdata/TestSimpleLogs_console.golden
Due: run-go-tests, run-regexp, run-goversion

refactor(relayer/app): slightly improve test
  .golangci.yml
  relayer/app/relayer_test.go
Due: run-go-tests, run-goversion

adds submission test
  relayer/app/creator_test.go
Due: run-go-tests, run-goversion

more assertions
  relayer/app/creator_test.go
Due: run-go-tests, run-goversion

refactor(relayer/app): slightly improve test (#93)
  .golangci.yml
  relayer/app/relayer_test.go
Due: run-go-tests, run-goversion

wip refactor creator
  relayer/app/creator.go
  relayer/app/relayer.go
  relayer/app/types.go
Due: run-go-tests, run-regexp, run-goversion

refactor to createFunc
  relayer/app/creator.go
  relayer/app/creator_test.go
  relayer/app/relayer_test.go
Due: run-go-tests, run-regexp, run-goversion

test cleanup
  relayer/app/creator_test.go
Due: run-go-tests, run-goversion

feat(halo/cmd): wire comet config
  halo/cmd/cmd.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/cometconfig.go
  halo/cmd/testdata/TestCLIReference_halo.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/cmd/testinput/input1/config/config.toml
Due: run-go-tests, run-regexp, run-goversion

cleanup
  halo/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion

feat(app/relayer): submission creation (#94)
  relayer/app/creator.go
  relayer/app/creator_test.go
  relayer/app/relayer.go
  relayer/app/relayer_test.go
  relayer/app/types.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/cmd): wire comet config (#95)
  halo/cmd/cmd.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/cometconfig.go
  halo/cmd/testdata/TestCLIReference_halo.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/cmd/testinput/input1/config/config.toml
Due: run-go-tests, run-regexp, run-goversion

fix review comments
  lib/ethclient/ethclient.go
  lib/ethclient/interface.go
  lib/xchain/provider/provider.go
  lib/xchain/provider/streamer.go
Due: run-go-tests, run-regexp, run-goversion

add exponential backoff when streaming blocks
  lib/ethclient/ethclient.go
  lib/ethclient/interface.go
  lib/xchain/provider/provider.go
  lib/xchain/provider/streamer.go
Due: run-go-tests, run-regexp, run-goversion

Path conditions:
  run-go-tests: any of: \.go$
  run-regexp: any of: \.go$, but not: _test.go
  run-goversion: any of: \.go$
