Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

rename var
  relayer/txmgr/config.go
Due: run-go-tests, run-regexp, run-goversion

nits
  test/e2e/types/chain.go
  test/e2e/types/testnet.go
Due: run-go-tests, run-regexp, run-goversion

nits
  relayer/app/opsender.go
Due: run-go-tests, run-regexp, run-goversion

chore(relayer/txmgr): custom receipt query interval per chain (#312)
  lib/netconf/netconf.go
  lib/netconf/testdata/TestSaveLoad.golden
  relayer/app/opsender.go
  relayer/txmgr/config.go
  test/e2e/app/definition.go
  test/e2e/types/chain.go
  test/e2e/types/testnet.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib/netconf) format period as string
  lib/netconf/netconf.go
  lib/netconf/testdata/TestSaveLoad.golden
Due: run-go-tests, run-regexp, run-goversion

fix(lib/netconf): format period as string (#314)
  lib/netconf/netconf.go
  lib/netconf/testdata/TestSaveLoad.golden
Due: run-go-tests, run-regexp, run-goversion

logs for cursors
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

chore(relayer/app): debug logs for cursor monitor (#315)
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo2): add attest module skeleton
  halo2/app/app.go
  halo2/app/app_config.go
  halo2/app/run_test.go
  halo2/attest/keeper/aggregate.cosmos_orm.go
  halo2/attest/keeper/aggregate.pb.go
  halo2/attest/keeper/aggregate.proto
  halo2/attest/keeper/keeper.go
  halo2/attest/keeper/msg_server.go
  halo2/attest/keeper/protocp.go
  halo2/attest/keeper/query.go
  halo2/attest/module/module.go
  halo2/attest/module/module.proto
  halo2/attest/module/module.pulsar.go
  halo2/attest/types/codec.go
  halo2/attest/types/keys.go
  halo2/attest/types/query.pb.go
  halo2/attest/types/query.proto
  halo2/attest/types/translate.go
  halo2/attest/types/tx.pb.go
  halo2/attest/types/tx.proto
  halo2/evmengine/keeper/msg_server.go
  lib/cchain/provider/abci2.go
  scripts/buf.gen.gogo.yaml
  scripts/buf_generate.sh
Due: run-go-tests, run-regexp, run-goversion

feat(halo2): add attest module skeleton (#313)
  halo2/app/app.go
  halo2/app/app_config.go
  halo2/app/run_test.go
  halo2/attest/keeper/aggregate.cosmos_orm.go
  halo2/attest/keeper/aggregate.pb.go
  halo2/attest/keeper/aggregate.proto
  halo2/attest/keeper/keeper.go
  halo2/attest/keeper/msg_server.go
  halo2/attest/keeper/protocp.go
  halo2/attest/keeper/query.go
  halo2/attest/module/module.go
  halo2/attest/module/module.proto
  halo2/attest/module/module.pulsar.go
  halo2/attest/types/codec.go
  halo2/attest/types/keys.go
  halo2/attest/types/query.pb.go
  halo2/attest/types/query.proto
  halo2/attest/types/translate.go
  halo2/attest/types/tx.pb.go
  halo2/attest/types/tx.proto
  halo2/evmengine/keeper/msg_server.go
  lib/cchain/provider/abci2.go
  scripts/buf.gen.gogo.yaml
  scripts/buf_generate.sh
Due: run-go-tests, run-regexp, run-goversion

chore(lib/cprovider): improve error logs
  halo/app/simnet.go
  halo2/app/run_test.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/abci2.go
  lib/cchain/provider/provider.go
  relayer/app/app.go
  test/e2e/app/monitor.go
  test/e2e/tests/attestations_test.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/cprovider): improve error logs (#316)
  halo/app/simnet.go
  halo2/app/run_test.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/abci2.go
  lib/cchain/provider/provider.go
  relayer/app/app.go
  test/e2e/app/monitor.go
  test/e2e/tests/attestations_test.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): remove eigen middleware
  contracts/.gas-snapshot
  contracts/package.json
  contracts/pnpm-lock.yaml
  contracts/src/interfaces/IOmniAVS.sol
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/AVSBase.sol
  contracts/test/avs/AVSUtils.sol
  contracts/test/avs/OmniAVS.t.sol
  contracts/test/avs/OmniAVSHarness.sol
Due: none

rename
  contracts/src/protocol/OmniAVS.sol
Due: none

remove console, fix comment
  contracts/.gas-snapshot
  contracts/test/avs/MockPortal.sol
  contracts/test/avs/OmniAVS.t.sol
Due: none

refactor, cleanup, update tests
  contracts/.gas-snapshot
  contracts/src/interfaces/IOmniAVS.sol
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/AVSBase.sol
  contracts/test/avs/AVSUtils.sol
  contracts/test/avs/MockPortal.sol
  contracts/test/avs/OmniAVS.t.sol
  contracts/test/avs/OmniAVSHarness.sol
Due: none

add base xcall gas limit, decrease per val limit
  contracts/src/protocol/OmniAVS.sol
Due: none

add events, and match IServiceManager
  contracts/package.json
  contracts/pnpm-lock.yaml
  contracts/src/interfaces/IOmniAVS.sol
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/AVSUtils.sol
Due: none

increase fuzz tolerance
  .github/workflows/soltest.yml
Due: none

ignore fuzz tests in snapshots
  .github/workflows/soltest.yml
  .pre-commit/run_forge_tests.sh
  contracts/.gas-snapshot
Due: none

feat(e2e): support upgrading vmcompose networks
  test/e2e/cmd/cmd.go
  test/e2e/docker/docker.go
  test/e2e/types/infra.go
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e/test): fetch all aggregates even if more than limit
  test/e2e/tests/attestations_test.go
Due: run-go-tests, run-goversion

feat(e2e): support upgrading vmcompose networks (#317)
  test/e2e/cmd/cmd.go
  test/e2e/docker/docker.go
  test/e2e/types/infra.go
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

add more admin controlled state, shorten param names
  contracts/.gas-snapshot
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/OmniAVSHarness.sol
Due: none

chore(contracts): update to eigen m2 fixes
  contracts/package.json
  contracts/pnpm-lock.yaml
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/AVSBase.sol
  contracts/test/avs/OmniAVSHarness.sol
  contracts/test/avs/eigen/AVSDirectoryMock.sol
  contracts/test/avs/eigen/DelegationManagerMock.sol
  contracts/test/avs/eigen/EigenLayerDeployer.t.sol
  contracts/test/avs/eigen/EigenLayerTestHelper.t.sol
  contracts/test/avs/eigen/README.md
Due: none

remove eigen test data
  contracts/test/data/eigen/M1_deployment_goerli_2023_3_23.json
Due: none

chore(contracts): remove eigen middleware (#308)
  .github/workflows/soltest.yml
  .pre-commit/run_forge_tests.sh
  contracts/.gas-snapshot
  contracts/src/interfaces/IOmniAVS.sol
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/AVSBase.sol
  contracts/test/avs/AVSUtils.sol
  contracts/test/avs/MockPortal.sol
  contracts/test/avs/OmniAVS.t.sol
  contracts/test/avs/OmniAVSHarness.sol
Due: none

fix(e2e/test): fetch all aggregates even if more than limit (#318)
  test/e2e/tests/attestations_test.go
Due: run-go-tests, run-goversion

chore(contracts): update to eigen m2 fixes (#311)
  contracts/package.json
  contracts/pnpm-lock.yaml
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/AVSBase.sol
  contracts/test/avs/OmniAVSHarness.sol
  contracts/test/avs/eigen/AVSDirectoryMock.sol
  contracts/test/avs/eigen/DelegationManagerMock.sol
  contracts/test/avs/eigen/EigenLayerDeployer.t.sol
  contracts/test/avs/eigen/EigenLayerTestHelper.t.sol
  contracts/test/avs/eigen/README.md
  contracts/test/data/eigen/M1_deployment_goerli_2023_3_23.json
Due: none

chore(contracts): update eigen dep branches
  contracts/package.json
  contracts/pnpm-lock.yaml
Due: none

chore(contracts): refactor avs contract
  contracts/src/protocol/OmniAVS.sol
Due: none

chore(ci): add docs ci
  .github/workflows/ci-docs.yml
  .github/workflows/ci-pr-docs.yml
  docs/site/.gitkeep
Due: none

chore(ci): add docs pr and deploy ci (#305)
  .github/workflows/ci-docs.yml
  .github/workflows/ci-pr-docs.yml
  docs/site/.gitkeep
Due: none

fix(ci): disable docs deploy ci
  .github/workflows/ci-docs.yml
Due: none

fix(ci): disable docs deploy ci (#321)
  .github/workflows/ci-docs.yml
Due: none

chore(contracts): refactor avs contract (#320)
  contracts/src/protocol/OmniAVS.sol
Due: none

chore(contracts): update eigen dep branches (#319)
  contracts/package.json
  contracts/pnpm-lock.yaml
Due: none

adds more txmgr metrics
  relayer/txmgr/metrics.go
  relayer/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

fix
  relayer/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

remove core import
  contracts/.gas-snapshot
  contracts/src/interfaces/IDelegationManager.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/AVSBase.sol
  contracts/test/avs/OmniAVSHarness.sol
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-regexp: any of: \.go$, but not: _test.go
  run-goversion: any of: \.go$
