Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

ci(tutil): add xconnector
  lib/netconf/network.go
  lib/xchain/connect/connect.go
Due: run-go-tests, run-regexp, run-goversion

ci(tutil): add xconnector (#1219)
  lib/netconf/network.go
  lib/xchain/connect/connect.go
Due: run-go-tests, run-regexp, run-goversion

chore(relayer): improve debug logging
  halo/attest/keeper/keeper.go
  halo/attest/voter/voter.go
  lib/xchain/provider.go
  relayer/app/cursors.go
  relayer/app/worker.go
Due: run-go-tests, run-regexp, run-goversion

chore(relayer): improve debug logging (#1220)
  halo/attest/keeper/keeper.go
  halo/attest/voter/voter.go
  lib/xchain/provider.go
  relayer/app/cursors.go
  relayer/app/worker.go
Due: run-go-tests, run-regexp, run-goversion

ci(snapshot): explorer ui docker images
  .github/workflows/release-snapshot.yml
Due: none

ci(snapshot): explorer ui images multi platform and arch (#1215)
  .github/workflows/release-snapshot.yml
Due: none

chore(buildinfo): bump version
  halo/config/testdata/default_halo.toml
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/buildinfo/buildinfo.go
  monitor/app/testdata/default_monitor.toml
  relayer/app/testdata/default_relayer.toml
Due: run-go-tests, run-regexp, run-goversion

chore(buildinfo): bump version (#1214)
  halo/config/testdata/default_halo.toml
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/buildinfo/buildinfo.go
  monitor/app/testdata/default_monitor.toml
  relayer/app/testdata/default_relayer.toml
Due: run-go-tests, run-regexp, run-goversion

chore(e2e/ci): use linux images for compose template
  .github/workflows/release-official.yml
  .github/workflows/release-snapshot.yml
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
Due: run-go-tests, run-regexp, run-goversion

chore: style
  .github/workflows/release-official.yml
Due: none

chore: golden files
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-3-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-6-compose.yaml.golden
Due: none

refactor: simplify platform decl
  e2e/docker/docker.go
Due: run-go-tests, run-regexp, run-goversion

fix: golden files
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-3-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-6-compose.yaml.golden
Due: none

chore(ci/e2e): set explorer ui platform
  .github/workflows/release-official.yml
  .github/workflows/release-snapshot.yml
  e2e/docker/compose.yaml.tmpl
Due: none

fix: golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-6-compose.yaml.golden
Due: none

fix: naming for ap var in ci
  .github/workflows/release-snapshot.yml
Due: none

chore(ci/e2e): set explorer ui image platform (#1222)
  .github/workflows/release-official.yml
  .github/workflows/release-snapshot.yml
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-6-compose.yaml.golden
Due: none

chore(buildinfo): bump minor version
  halo/config/testdata/default_halo.toml
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/buildinfo/buildinfo.go
  monitor/app/testdata/default_monitor.toml
  relayer/app/testdata/default_relayer.toml
Due: run-go-tests, run-regexp, run-goversion

chore(halo): improve debug logging
  halo/app/prouter.go
  halo/attest/keeper/keeper.go
Due: run-go-tests, run-regexp, run-goversion

fix(ci): use ref name in tag releases
  .github/workflows/release-official.yml
Due: none

chore(halo): improve debug logging (#1224)
  halo/app/prouter.go
  halo/attest/keeper/keeper.go
Due: run-go-tests, run-regexp, run-goversion

refactor octane to top level
  contracts/.gas-snapshot
  docs/site/docs/octane/development.md
  docs/site/docs/protocol/evmengine/execution/equivalence.md
  docs/site/docs/protocol/evmengine/lifecycle.md
  halo/app/app.go
  halo/app/app_config.go
  halo/attest/keeper/cpayload.go
  halo/evmslashing/evmslashing.go
  halo/evmstaking/evmstaking.go
  halo/genutil/genutil.go
  halo/genutil/genutil_internal_test.go
  halo/registry/keeper/logeventproc.go
  octane/README.md
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/evmmsgs.go
  octane/evmengine/keeper/helpers.go
  octane/evmengine/keeper/hooks.go
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/keeper_internal_test.go
  octane/evmengine/keeper/msg_server.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server.go
  octane/evmengine/keeper/proposal_server_internal_test.go
  octane/evmengine/module/module.go
  octane/evmengine/module/module.proto
  octane/evmengine/module/module.pulsar.go
  octane/evmengine/types/codec.go
  octane/evmengine/types/cpayload.go
  octane/evmengine/types/keys.go
  octane/evmengine/types/tx.go
  octane/evmengine/types/tx.pb.go
  octane/evmengine/types/tx.proto
  octane/evmengine/types/types.go
  scripts/buf_generate.sh
Due: run-buf, run-go-tests, run-regexp, run-goversion

small fixes
  docs/site/docs/protocol/evmengine/execution/equivalence.md
  docs/site/docs/protocol/evmengine/lifecycle.md
Due: none

use main gas snapshot
  contracts/.gas-snapshot
Due: none

readme updates
  octane/README.md
Due: none

feat(halo/evmengine): burn evm fees
  halo/evmengine/keeper/abci.go
  halo/evmengine/keeper/abci_internal_test.go
  halo/evmengine/keeper/keeper.go
Due: run-go-tests, run-regexp, run-goversion

refactor(octane): decouple halo and octane (#1228)
  docs/site/docs/octane/development.md
  halo/app/app.go
  halo/app/app_config.go
  halo/attest/keeper/cpayload.go
  halo/evmslashing/evmslashing.go
  halo/evmstaking/evmstaking.go
  halo/genutil/genutil.go
  halo/genutil/genutil_internal_test.go
  halo/registry/keeper/logeventproc.go
  octane/README.md
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/evmmsgs.go
  octane/evmengine/keeper/helpers.go
  octane/evmengine/keeper/hooks.go
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/keeper_internal_test.go
  octane/evmengine/keeper/msg_server.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server.go
  octane/evmengine/keeper/proposal_server_internal_test.go
  octane/evmengine/module/module.go
  octane/evmengine/module/module.proto
  octane/evmengine/module/module.pulsar.go
  octane/evmengine/types/codec.go
  octane/evmengine/types/cpayload.go
  octane/evmengine/types/keys.go
  octane/evmengine/types/tx.go
  octane/evmengine/types/tx.pb.go
  octane/evmengine/types/tx.proto
  octane/evmengine/types/types.go
  scripts/buf_generate.sh
Due: run-buf, run-go-tests, run-regexp, run-goversion

feat(octane): support custom fee recipient
  halo/app/app.go
  halo/app/rollback.go
  halo/app/start.go
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/keeper_internal_test.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server.go
  octane/evmengine/keeper/proposal_server_internal_test.go
  octane/evmengine/module/module.go
  octane/evmengine/types/types.go
Due: run-go-tests, run-regexp, run-goversion

feat(xchain): attest empty block once per interval
  e2e/app/definition.go
  e2e/types/chain.go
  e2e/types/testnet.go
  halo/attest/voter/voter.go
  lib/netconf/netconf.go
  lib/netconf/network.go
  lib/netconf/provider.go
  lib/netconf/static.go
  lib/xchain/connect/connect.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/mock.go
  lib/xchain/provider/mock_internal_test.go
  lib/xchain/provider/provider.go
  lib/xchain/provider/provider_test.go
  lib/xchain/types.go
  relayer/app/worker.go
Due: run-go-tests, run-regexp, run-goversion

feat(xchain): attest at constant interval even if empty (#1227)
  e2e/app/definition.go
  e2e/types/chain.go
  e2e/types/testnet.go
  halo/attest/voter/voter.go
  lib/netconf/netconf.go
  lib/netconf/network.go
  lib/netconf/provider.go
  lib/netconf/static.go
  lib/xchain/connect/connect.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/mock.go
  lib/xchain/provider/mock_internal_test.go
  lib/xchain/provider/provider.go
  lib/xchain/provider/provider_test.go
  lib/xchain/types.go
  relayer/app/worker.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/registry): emit network updates to portals
  halo/portal/keeper/keeper.go
  halo/portal/keeper/keeper_internal_test.go
  halo/portal/testutil/mock_interfaces.go
  halo/portal/types/types.go
  halo/registry/keeper/keeper.go
  halo/registry/keeper/logeventproc.go
  halo/registry/keeper/query.go
  halo/registry/module/module.go
  halo/registry/types/query.pb.go
  halo/registry/types/query.proto
  halo/valsync/keeper/keeper.go
  halo/valsync/keeper/query_internal_test.go
  halo/valsync/keeper/valsync.pb.go
  halo/valsync/keeper/valsync.proto
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/xblock.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

feat(octane): support custom fee recipient (#1230)
  halo/app/app.go
  halo/app/rollback.go
  halo/app/start.go
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/keeper_internal_test.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server.go
  octane/evmengine/keeper/proposal_server_internal_test.go
  octane/evmengine/module/module.go
  octane/evmengine/types/types.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/registry): emit network updates to portals
  halo/app/start_test.go
  halo/portal/types/msgtype_string.go
Due: run-go-tests, run-regexp, run-goversion

fix(ci): use ref name in tag releases (#1225)
  .github/workflows/release-official.yml
Due: none

feat(halo/registry): emit network updates to portals (#1231)
  halo/app/start_test.go
  halo/portal/keeper/keeper.go
  halo/portal/keeper/keeper_internal_test.go
  halo/portal/testutil/mock_interfaces.go
  halo/portal/types/msgtype_string.go
  halo/portal/types/types.go
  halo/registry/keeper/keeper.go
  halo/registry/keeper/logeventproc.go
  halo/registry/keeper/query.go
  halo/registry/module/module.go
  halo/registry/types/query.pb.go
  halo/registry/types/query.proto
  halo/valsync/keeper/keeper.go
  halo/valsync/keeper/query_internal_test.go
  halo/valsync/keeper/valsync.pb.go
  halo/valsync/keeper/valsync.proto
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/xblock.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$, but not: (explorer/db/ent/internal/.*)
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)
  run-goversion: any of: \.go$
