Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

test(sdk): increase integration test coverage (#3704)
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/suites/hooks.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/test-utils/src/account.ts
  sdk/packages/test-utils/src/constants.ts
Due: none

test(sdk): middleman integration test
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/test-utils.tsx
Due: none

feat(lib/cctp): add block height to msg
  lib/cctp/db/db.go
  lib/cctp/db/db.pb.go
  lib/cctp/db/db.proto
  lib/cctp/send.go
  lib/cctp/stream.go
  lib/cctp/stream_internal_test.go
  lib/cctp/testutil/testutil.go
  lib/cctp/types/types.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): maintain min safe eth balance (#3718)
  solver/app/internal_testutils.go
  solver/app/reject.go
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(lib/cctp): add block height to msg (#3721)
  lib/cctp/db/db.go
  lib/cctp/db/db.pb.go
  lib/cctp/db/db.proto
  lib/cctp/send.go
  lib/cctp/stream.go
  lib/cctp/stream_internal_test.go
  lib/cctp/testutil/testutil.go
  lib/cctp/types/types.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

Update app_internal_test.go
  halo/app/app_internal_test.go
Due: run-go-tests, run-golint, run-goversion

feat(lib/cctp): audit db with finalized messages
  lib/cctp/audit.go
  lib/cctp/audit_internal_test.go
  lib/cctp/mint.go
  lib/cctp/types/types.go
  lib/cctp/types/types_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(lib/cctp): audit db with finalized messages (#3722)
  lib/cctp/audit.go
  lib/cctp/audit_internal_test.go
  lib/cctp/mint.go
  lib/cctp/types/types.go
  lib/cctp/types/types_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(README): fix logo link
  README.md
Due: none

chore(README): fix logo link (#3724)
  README.md
Due: none

add usdt support
  lib/tokens/asset.go
  lib/tokens/asset_test.go
  lib/tokens/tokens.json
  lib/tokens/tokens_test.go
  solver/app/testdata/TestTokens.golden
  solver/app/testdata/TestTokens/tokens_response.json
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add a code snippet template
  docs/docs/pages/guides/template.mdx
  docs/vocs.config.mts
Due: none

fix
  docs/docs/pages/guides/template.mdx
Due: none

implement layerzero alternative messaging
  contracts/bindings/mockerc20.go
  contracts/bindings/mockvault.go
  contracts/bindings/solvernetexecutor.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetmiddleman.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/package.json
  contracts/solve/pnpm-lock.yaml
  contracts/solve/src/SolverNetInboxLZ.sol
  contracts/solve/src/SolverNetOutboxLZ.sol
  contracts/solve/src/ext/layerzero/interfaces/IOAppCore.sol
  contracts/solve/src/ext/layerzero/interfaces/IOAppReceiver.sol
  contracts/solve/src/ext/layerzero/libs/OptionsBuilder.sol
  contracts/solve/src/ext/layerzero/oapp/OAppCore.sol
  contracts/solve/src/ext/layerzero/oapp/OAppReceiver.sol
  contracts/solve/src/ext/layerzero/oapp/OAppSender.sol
  contracts/solve/src/interfaces/ISolverNetInboxLZ.sol
  contracts/solve/src/interfaces/ISolverNetOutboxLZ.sol
Due: run-go-tests, run-golint, run-goversion

feat(docs): add code snippet template (#3726)
  docs/docs/pages/guides/template.mdx
  docs/vocs.config.mts
Due: none

feat(solver): add usdt support (#3725)
  lib/tokens/asset.go
  lib/tokens/asset_test.go
  lib/tokens/tokens.json
  lib/tokens/tokens_test.go
  solver/app/testdata/TestTokens.golden
  solver/app/testdata/TestTokens/tokens_response.json
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

refactor(solver): introduce proper price
  e2e/manifests/ci.toml
  e2e/solve/test.go
  lib/bi/big.go
  lib/bi/unit.go
  lib/tokenpricer/coingecko/coingecko.go
  lib/tokenpricer/coingecko/coingecko_internal_test.go
  lib/tokenpricer/coingecko/coingecko_test.go
  lib/tokenpricer/mock.go
  lib/tokenpricer/mock_internal_test.go
  lib/tokenpricer/tokenpricer.go
  lib/tokens/asset.go
  monitor/flowgen/bridging/bridging.go
  sdk/integration-tests/suites/hooks.tsx
  solver/app/check.go
  solver/app/handler.go
  solver/app/pricer.go
  solver/app/pricer_internal_test.go
  solver/app/quote.go
  solver/app/quote_internal_test.go
  solver/app/reject.go
  solver/app/testdata/TestQuote/invalid_deposit_(chain_mismatch)/resp_body.json
  solver/app/testutils_internal_test.go
  solver/app/tokens.go
  solver/client/client.go
  solver/types/api.go
  solver/types/price.go
  solver/types/price_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

refactor(solver): no more float64 prices (#3719)
  e2e/manifests/ci.toml
  e2e/solve/test.go
  lib/bi/big.go
  lib/bi/unit.go
  lib/tokenpricer/coingecko/coingecko.go
  lib/tokenpricer/coingecko/coingecko_internal_test.go
  lib/tokenpricer/coingecko/coingecko_test.go
  lib/tokenpricer/mock.go
  lib/tokenpricer/mock_internal_test.go
  lib/tokenpricer/tokenpricer.go
  lib/tokens/asset.go
  monitor/flowgen/bridging/bridging.go
  sdk/integration-tests/suites/hooks.tsx
  solver/app/check.go
  solver/app/handler.go
  solver/app/pricer.go
  solver/app/pricer_internal_test.go
  solver/app/quote.go
  solver/app/quote_internal_test.go
  solver/app/reject.go
  solver/app/testdata/TestQuote/invalid_deposit_(chain_mismatch)/resp_body.json
  solver/app/testutils_internal_test.go
  solver/app/tokens.go
  solver/client/client.go
  solver/types/api.go
  solver/types/price.go
  solver/types/price_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

(lib/cctp): nit clean ups
  e2e/gasstation/gaspump.go
  e2e/test/bridge_test.go
  e2e/test/cli_test.go
  e2e/test/solve_test.go
  lib/bi/big.go
  lib/cctp/audit.go
  lib/cctp/mint.go
  lib/cctp/types/types.go
  lib/ethclient/enginemock.go
  lib/tutil/require.go
  lib/uniswap/quoter.go
  lib/uniswap/swap_test.go
  monitor/flowgen/bridging/bridging.go
  monitor/xfeemngr/gasprice/buffer_test.go
  solver/app/check.go
  solver/app/tokens_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): disable all-e2e-tests in ci toml
  e2e/manifests/ci.toml
Due: none

ci(e2e): disable all-e2e-tests in ci toml (#3730)
  e2e/manifests/ci.toml
Due: none

chore(docs): another quick docs lick
  docs/docs/pages/concepts/single-chain-deployment.md
  docs/docs/pages/concepts/the-problem.md
  docs/docs/pages/concepts/the-solution.md
  docs/docs/pages/index.mdx
  docs/docs/pages/sdk/getting-started.mdx
  docs/vocs.config.tsx
Due: none

chore(docs): small tweak
  docs/docs/pages/introduction/omni-overview.md
  docs/docs/pages/introduction/what-is-solvernet.md
Due: none

chore(solver/app): enable swaps on omega
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): enable swaps on omega (#3732)
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e/manifest): bump protected network web2 services
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

ci(e2e/manifest): bump protected network off-chain services (#3733)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(monitor/flowgen): fix omega bridging config
  monitor/flowgen/bridging/config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/flowgen): fix omega bridging config (#3734)
  monitor/flowgen/bridging/config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e/manifest): bump protected network off-chain services
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

ci(e2e/manifest): bump protected network off-chain services (#3735)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(monitor/flowgen): disable mainnet swap gen
  monitor/flowgen/bridging/config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/flowgen): disable mainnet swap gen (#3736)
  monitor/flowgen/bridging/config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e/manifest): dump mainnet off-chain services
  e2e/manifests/mainnet.toml
Due: none

ci(e2e/manifest): dump mainnet off-chain services (#3737)
  e2e/manifests/mainnet.toml
Due: none

chore(sdk): update addresses of middleman test
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/test-utils.tsx
Due: none

chore(sdk): add addrs
  sdk/packages/test-utils/src/constants.ts
Due: none

test(sdk): middleman integration test (#3720)
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/test-utils/src/constants.ts
Due: none

chore(lib/cctp): nit clean ups (#3728)
  e2e/gasstation/gaspump.go
  e2e/test/bridge_test.go
  e2e/test/cli_test.go
  e2e/test/solve_test.go
  lib/bi/big.go
  lib/cctp/audit.go
  lib/cctp/mint.go
  lib/cctp/types/types.go
  lib/ethclient/enginemock.go
  lib/tutil/require.go
  lib/uniswap/quoter.go
  lib/uniswap/swap_test.go
  monitor/flowgen/bridging/bridging.go
  monitor/xfeemngr/gasprice/buffer_test.go
  solver/app/check.go
  solver/app/tokens_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/log): add test logger for e2e tests
  e2e/test/e2e_test.go
  lib/log/log_test.go
  lib/log/logger.go
  lib/log/t.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
