Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
      - id: run-forge-fmt
        name: run-forge-fmt
        language: script
        entry: .pre-commit/run_forge_fmt.sh
        types: [ file, solidity ]

  # TODO(corver): Add hooks for the following:
  # - Auto-fix file license headers

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]
      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]

fix e2e upgrade command
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): upgrade command (#548)
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

refactor
  cli/cmd/cmd.go
  cli/cmd/errors.go
  cli/cmd/omni/main.go
  cli/cmd/register.go
  lib/avs/avs_test.go
  lib/cmd/cmd.go
  lib/errors/errors.go
  lib/log/config.go
  lib/log/logger.go
  lib/log/testdata/TestSimpleLogs_cli.golden
Due: run-go-tests, run-regexp, run-goversion

feat(halo/attest): support inconsistent attestation root
  halo/attest/keeper/attestation.cosmos_orm.go
  halo/attest/keeper/attestation.pb.go
  halo/attest/keeper/attestation.proto
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/common_test.go
  halo/attest/keeper/cpayload.go
  halo/attest/keeper/cpayload_internal_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/types/translate.go
  halo/attest/types/tx.go
  halo/attest/types/tx.pb.go
  halo/attest/types/tx.proto
  halo/attest/voter/vote.go
  lib/xchain/types.go
  relayer/app/creator.go
  relayer/app/creator_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/attest): support inconsistent attestation root (#549)
  halo/attest/keeper/attestation.cosmos_orm.go
  halo/attest/keeper/attestation.pb.go
  halo/attest/keeper/attestation.proto
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/common_test.go
  halo/attest/keeper/cpayload.go
  halo/attest/keeper/cpayload_internal_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/types/translate.go
  halo/attest/types/tx.go
  halo/attest/types/tx.pb.go
  halo/attest/types/tx.proto
  halo/attest/voter/vote.go
  lib/xchain/types.go
  relayer/app/creator.go
  relayer/app/creator_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): add deploy avs output and verification (#543)
  contracts/.env.example
  contracts/.gitignore
  contracts/Makefile
  contracts/broadcast/.gitignore
  contracts/foundry.toml
  contracts/script/avs/DeployGoerliAVS.s.sol
  contracts/script/avs/deploy-goerli-avs.sh
  contracts/script/avs/output/deploy-goerli-avs.json
  contracts/script/avs/verify-goerli-avs.sh
  contracts/test/avs/common/Fixtures.sol
Due: none

feat(cli): improve cli error messages (#546)
  .golangci.yml
  cli/cmd/cmd.go
  cli/cmd/errors.go
  cli/cmd/omni/main.go
  cli/cmd/register.go
  lib/avs/avs.go
  lib/avs/avs_test.go
  lib/cmd/cmd.go
  lib/errors/errors.go
  lib/log/config.go
  lib/log/logger.go
  lib/log/testdata/TestSimpleLogs_cli.golden
Due: run-go-tests, run-regexp, run-goversion

fix(halo/attest): drop votes for previously approved attestations
  halo/attest/keeper/common_test.go
  halo/attest/keeper/keeper.go
  halo/attest/testutil/mock_interfaces.go
Due: run-go-tests, run-regexp, run-goversion

update wp
  docs/site/static/whitepaper.pdf
Due: none

chore(docs): update wp (#551)
  docs/site/static/whitepaper.pdf
Due: none

fix $ compilation
  docs/site/static/whitepaper.pdf
Due: none

fix(docs): fix whitepaper formatting (#552)
  docs/site/static/whitepaper.pdf
Due: none

debug upgrade command
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

clean code
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

debug script file
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

remove cat
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

use scp
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

remove success output
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): fix upgrade command (#553)
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

feat(monitor/avs): add more metrics
  monitor/avs/avs.go
  monitor/avs/metrics.go
  monitor/avs/monitor.go
Due: run-go-tests, run-regexp, run-goversion

add timeout to each monitorOnce call
  monitor/avs/monitor.go
Due: run-go-tests, run-regexp, run-goversion

chore(ci): remove arb goerli from staging
  test/e2e/manifests/staging.toml
Due: none

chore(ci): remove arb goerli from staging (#555)
  test/e2e/manifests/staging.toml
Due: none

add keeper approve tests
  .golangci.yml
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/common_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/testutil/mock_interfaces.go
Due: run-go-tests, run-regexp, run-goversion

test(halo/attest): add attestation keeper approve tests (#556)
  .golangci.yml
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/common_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/testutil/mock_interfaces.go
Due: run-go-tests, run-regexp, run-goversion

feat(monitor/avs): add more metrics (#554)
  monitor/avs/avs.go
  monitor/avs/metrics.go
  monitor/avs/monitor.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo/attest): drop votes for previously approved attestations (#550)
  halo/attest/keeper/common_test.go
  halo/attest/keeper/keeper.go
Due: run-go-tests, run-regexp, run-goversion

test(halo/attest): fix failing tests
  halo/attest/keeper/keeper_test.go
Due: run-go-tests, run-goversion

test(halo/attest): fix failing tests (#558)
  halo/attest/keeper/keeper_test.go
Due: run-go-tests, run-goversion

test(lib/k1util): ensure cometBFT privval compatible with web3signer
  .secrets.baseline
  lib/k1util/k1util.go
  lib/k1util/k1util_test.go
  test/tutil/random.go
Due: run-go-tests, run-regexp, run-goversion

test(lib/k1util): ensure cometBFT privval compatible with web3signer (#557)
  .secrets.baseline
  lib/k1util/k1util.go
  lib/k1util/k1util_test.go
  test/tutil/random.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/evmengine): poc evm logs to cosmos msgs
  halo/app/app.go
  halo/attest/keeper/cpayload.go
  halo/evmengine/keeper/abci.go
  halo/evmengine/keeper/abci_internal_test.go
  halo/evmengine/keeper/evmmsgs.go
  halo/evmengine/keeper/keeper.go
  halo/evmengine/keeper/logmsgprovider.go
  halo/evmengine/keeper/msg_server.go
  halo/evmengine/keeper/msg_server_internal_test.go
  halo/evmengine/keeper/proposal_server.go
  halo/evmengine/keeper/proposal_server_internal_test.go
  halo/evmengine/types/cpayload.go
  halo/evmengine/types/tx.go
  halo/evmengine/types/tx.pb.go
  halo/evmengine/types/tx.proto
  lib/ethclient/enginemock.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/evmengine): add evm logs to execution payload (#559)
  halo/app/app.go
  halo/attest/keeper/cpayload.go
  halo/evmengine/keeper/abci.go
  halo/evmengine/keeper/abci_internal_test.go
  halo/evmengine/keeper/evmmsgs.go
  halo/evmengine/keeper/keeper.go
  halo/evmengine/keeper/logmsgprovider.go
  halo/evmengine/keeper/msg_server.go
  halo/evmengine/keeper/msg_server_internal_test.go
  halo/evmengine/keeper/proposal_server.go
  halo/evmengine/keeper/proposal_server_internal_test.go
  halo/evmengine/types/cpayload.go
  halo/evmengine/types/tx.go
  halo/evmengine/types/tx.pb.go
  halo/evmengine/types/tx.proto
  lib/ethclient/enginemock.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): protocol new intro section
  docs/site/docs/protocol/introduction/contents.md
  docs/site/docs/protocol/introduction/introduction.md
Due: none

chore(docs): protocol intro
  docs/site/docs/protocol/architecture/contents.md
  docs/site/docs/protocol/introduction/introduction.md
  docs/site/sidebars.ts
Due: none

chore(docs): moved protocol intro to intro dir
  docs/site/docs/home.md
  docs/site/docs/learn/building.md
  docs/site/docs/learn/omni/consensus.md
  docs/site/docs/protocol/introduction/introduction.md
  docs/site/sidebars.ts
Due: none

chore(docs): fix links
  docs/site/docs/learn/building.md
  docs/site/docs/protocol/introduction/components.md
  docs/site/docs/protocol/xmessages/components/components.md
  docs/site/docs/protocol/xmessages/components/relayer.md
  docs/site/docs/protocol/xmessages/components/validator/cometbft.md
  docs/site/docs/protocol/xmessages/components/validator/halo.md
  docs/site/docs/protocol/xmessages/finality.md
  docs/site/docs/protocol/xmessages/overview.md
Due: none

chore(docs): full protocol reorg
  docs/site/docs/protocol/evmengine/abci.md
  docs/site/docs/protocol/evmengine/diversity.md
  docs/site/docs/protocol/evmengine/dual.md
  docs/site/docs/protocol/evmengine/engine.md
  docs/site/docs/protocol/evmengine/equivalence.md
  docs/site/docs/protocol/evmengine/lifecycle.md
  docs/site/docs/protocol/restaking/architecture.md
  docs/site/docs/protocol/restaking/overview.md
  docs/site/docs/protocol/restaking/restaking.md
  docs/site/docs/protocol/xmessages/finality.md
  docs/site/sidebars.ts
Due: none

chore(docs): restructure protocol
  docs/site/docs/protocol/architecture/architecture.md
  docs/site/docs/protocol/architecture/contents.md
  docs/site/docs/protocol/xmessages/components/components.md
  docs/site/docs/protocol/xmessages/components/fees.md
  docs/site/docs/protocol/xmessages/components/portal.md
  docs/site/docs/protocol/xmessages/components/relayer.md
  docs/site/docs/protocol/xmessages/components/validator/abci.md
  docs/site/docs/protocol/xmessages/components/validator/cometbft.md
  docs/site/docs/protocol/xmessages/components/validator/halo.md
  docs/site/docs/protocol/xmessages/components/validator/xblocks.md
  docs/site/docs/protocol/xmessages/finality.md
  docs/site/docs/protocol/xmessages/overview.md
  docs/site/docs/protocol/xmessages/xmsg.md
  docs/site/sidebars.ts
Due: none

chore(docs): reorganizing files
  docs/site/docs/protocol/evmengine/dual.md
  docs/site/docs/protocol/evmengine/engine.md
  docs/site/docs/protocol/evmengine/equivalence.md
  docs/site/docs/protocol/xmessages/components/portal-receive.md
  docs/site/docs/protocol/xmessages/components/portal-send.md
  docs/site/docs/protocol/xmessages/components/portal.md
  docs/site/docs/protocol/xmessages/components/relayer.md
  docs/site/docs/protocol/xmessages/components/validator/cometbft.md
  docs/site/docs/protocol/xmessages/components/validator/components.md
  docs/site/docs/protocol/xmessages/fees.md
  docs/site/docs/protocol/xmessages/finality.md
  docs/site/docs/protocol/xmessages/overview.md
  docs/site/sidebars.ts
Due: none
