Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

chore(e2e): setup bridge post network deploy (#2241)
  e2e/app/tokenbridge.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  e2e/app/eoa/testdata/TestDynamicThresholds.golden
Due: none

use different chain ids for forks
  e2e/app/definition.go
  e2e/app/tokenbridge.go
  e2e/manifests/stagingfork.toml
  e2e/types/chain.go
  e2e/types/testdata/TestAttestIntervals.golden
  lib/evmchain/evmchain.go
  lib/netconf/netconf.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): disable pingpongs on mainnet
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  e2e/app/eoa/static_test.go
  e2e/app/eoa/testdata/TestDynamicThresholds.golden
  e2e/app/eoa/testdata/threshold_reference.json
Due: run-go-tests, run-goversion

feat(lib): add mainnet chain ids
  lib/evmchain/evmchain.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): add a new FAQ question (#2234)
  docs/content/operate/5-faq.md
Due: none

ci(e2e/vmcompose): prune docker regularly (#2242)
  e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib): add rpcs
  e2e/types/chain.go
  e2e/types/testdata/TestAttestIntervals.golden
Due: run-go-tests, run-regexp, run-goversion

feat(lib): add mainnet chain ids (#2245)
  e2e/types/chain.go
  e2e/types/testdata/TestAttestIntervals.golden
  lib/evmchain/evmchain.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): disable pingpongs on mainnet (#2244)
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts/core): added CreateX preinstall and included a simple smoke test to ensure it executes
  contracts/core/.gas-snapshot
  contracts/core/script/genesis/AllocPredeploys.s.sol
  contracts/core/src/octane/Preinstalls.sol
  contracts/core/test/octane/Preinstalls.t.sol
  contracts/core/test/script/AllocPredeploys.t.sol
Due: none

cleanup
  e2e/app/eoa/static_test.go
  e2e/app/eoa/testdata/threshold_reference.json
Due: run-go-tests, run-goversion

refactor(contracts/core): updated test to include new CreateX preinstall
  contracts/core/.gas-snapshot
  contracts/core/test/script/AllocPredeploys.t.sol
Due: none

fix(eoa): review updates
  e2e/app/eoa/fund.go
  e2e/app/eoa/static.go
  e2e/app/eoa/static_test.go
  e2e/app/fund.go
  lib/contracts/feeoraclev1/deploy.go
  lib/contracts/gaspump/deploy.go
  lib/contracts/gasstation/deploy.go
  lib/contracts/l1bridge/deploy.go
  lib/contracts/omnitoken/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/utils.go
Due: run-go-tests, run-regexp, run-goversion

add zellic audit
  docs/website/static/sigma-prime-chain-2.pdf
  docs/website/static/zellic-chain.pdf
Due: none

chore(docs): add zellic audit (#2248)
  docs/website/static/sigma-prime-chain-2.pdf
  docs/website/static/zellic-chain.pdf
Due: none

test(contracts/core): added a handful of preinstall tests, leveraging multicall contracts to test others
  contracts/core/pnpm-lock.yaml
  contracts/core/test/octane/Preinstalls.t.sol
Due: none

revert(contracts/core): fixed incorrect local pnpm version, reverted lockfile
  contracts/core/pnpm-lock.yaml
Due: none

chore(contracts/core): cleaned up tests, added comments, and fixed the BeaconBlockRoots test with Kevin's help
  contracts/core/.gas-snapshot
  contracts/core/foundry.toml
  contracts/core/test/octane/PreinstallInterfaces.sol
  contracts/core/test/octane/Preinstalls.t.sol
Due: none

refactor(contracts/core): corrected deterministic proxy preinstall test calldata
  contracts/core/.gas-snapshot
  contracts/core/test/octane/Preinstalls.t.sol
Due: none

test(contracts/core): finished smoke testing remaining preinstalls, except BeaconBlockRoots
  contracts/core/.gas-snapshot
  contracts/core/test/octane/Preinstalls.t.sol
Due: none

chore(contracts): remove evm_version, comment out BeaconBlockRoots test, reset formatting on pnpm-lock.yaml
  contracts/core/.gas-snapshot
  contracts/core/foundry.toml
  contracts/core/pnpm-lock.yaml
  contracts/core/test/octane/Preinstalls.t.sol
Due: none

chore(contracts/core): removed console2 import from test
  contracts/core/test/octane/Preinstalls.t.sol
Due: none

test(contracts/core): added basic smoke tests for preinstalls (#2243)
  contracts/core/.gas-snapshot
  contracts/core/test/octane/PreinstallInterfaces.sol
  contracts/core/test/octane/Preinstalls.t.sol
Due: none

feat(halo): reenable grpc cprovider
  .gitignore
  go.mod
  go.sum
  halo/app/start.go
  halo/app/start_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): fix renaming funder and safe
  e2e/app/eoa/eoa.go
  e2e/app/fund.go
  e2e/cmd/cmd.go
  halo/genutil/evm/evm.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): fix renaming funder and safe
  halo/genutil/evm/evm.go
Due: run-go-tests, run-regexp, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$, but not: (explorer/db/ent/internal/.*)
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)
  run-goversion: any of: \.go$
