Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

chore(monitor/xfeemngr): add sane maxes (#1012)
  monitor/xfeemngr/oracle.go
  monitor/xfeemngr/xfeemngr.go
  monitor/xfeemngr/xfeemngr_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): public octane
  docs/site/docs/octane/architecture/architecture.md
  docs/site/docs/octane/architecture/blocks.md
  docs/site/docs/octane/architecture/comet.md
  docs/site/docs/octane/background/evolution.md
  docs/site/docs/octane/background/goals.md
  docs/site/docs/octane/background/introduction.md
  docs/site/docs/octane/background/uses.md
  docs/site/docs/octane/development.md
  docs/site/docs/octane/octane.md
  docs/site/docs/octane/purpose.md
  docs/site/docusaurus.config.ts
  docs/site/sidebars.ts
Due: none

feat(explorer/ui) table hookup style updates
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/queries/chains.tsx
  explorer/ui/app/components/queries/messages.tsx
  explorer/ui/app/components/shared/simpleTable.tsx
  explorer/ui/app/routes/_index.tsx
  explorer/ui/app/routes/xmsg.$id/route.tsx
Due: none

test(e2e/app): fix geth version test
  e2e/app/geth/config_internal_test.go
Due: run-go-tests, run-goversion

test(e2e/app): fix geth version test (#1019)
  e2e/app/geth/config_internal_test.go
Due: run-go-tests, run-goversion

chore(docs): public octane (#1015)
  docs/site/docs/octane/architecture/architecture.md
  docs/site/docs/octane/architecture/blocks.md
  docs/site/docs/octane/architecture/comet.md
  docs/site/docs/octane/background/evolution.md
  docs/site/docs/octane/background/goals.md
  docs/site/docs/octane/background/introduction.md
  docs/site/docs/octane/background/uses.md
  docs/site/docs/octane/development.md
  docs/site/docs/octane/octane.md
  docs/site/docs/octane/purpose.md
  docs/site/docusaurus.config.ts
  docs/site/sidebars.ts
Due: none

feat(explorer/ui) xmsg view with hookup to BE
  explorer/ui/app/components/details/From.tsx
  explorer/ui/app/components/details/TabList.tsx
  explorer/ui/app/components/details/To.tsx
  explorer/ui/app/components/details/date.service.ts
Due: none

Improve mock data
  explorer/graphql/app/schema.graphql
  explorer/graphql/mockresolver/resolver.go
Due: run-go-tests, run-regexp, run-goversion

chore(explorer/graphql): improve mock data (#1020)
  explorer/graphql/app/schema.graphql
  explorer/graphql/mockresolver/resolver.go
Due: run-go-tests, run-regexp, run-goversion

fix(explorer/ui) review fixes
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/queries/messages.tsx
Due: none

fix(explorer/ui) review fixes
  explorer/ui/app/components/home/messageDataTable.tsx
Due: none

feat(explorer/ui): be table hookup and mobile styling (#1021)
  explorer/ui/app/components/details/From.tsx
  explorer/ui/app/components/details/TabList.tsx
  explorer/ui/app/components/details/To.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/queries/chains.tsx
  explorer/ui/app/components/queries/messages.tsx
  explorer/ui/app/components/shared/simpleTable.tsx
  explorer/ui/app/components/shared/tag.tsx
  explorer/ui/app/root.tsx
  explorer/ui/app/routes/_index.tsx
  explorer/ui/app/routes/xmsg.$id/route.tsx
Due: none

feat(halo/evmengine): harden engine api
  e2e/app/definition.go
  e2e/app/perturb.go
  e2e/app/run.go
  e2e/manifests/ci.toml
  e2e/types/manifest.go
  e2e/types/testnet.go
  halo/evmengine/keeper/abci.go
  halo/evmengine/keeper/abci_internal_test.go
  halo/evmengine/keeper/helpers.go
  halo/evmengine/keeper/keeper_internal_test.go
  halo/evmengine/keeper/msg_server_internal_test.go
  halo/evmengine/keeper/proposal_server.go
  halo/evmengine/keeper/proposal_server_internal_test.go
  lib/ethclient/enginemock.go
Due: run-go-tests, run-regexp, run-goversion

fix(explorer/ui) review fixes and other fixes
  explorer/ui/app/components/details/TabList.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/shared/rollupIcon.tsx
  explorer/ui/app/routes/_index.tsx
  explorer/ui/app/routes/xmsg.$id/route.tsx
Due: none

feat(explorer/ui): xmsg view (#1022)
  explorer/ui/app/components/details/From.tsx
  explorer/ui/app/components/details/TabList.tsx
  explorer/ui/app/components/details/To.tsx
  explorer/ui/app/components/details/date.service.ts
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/shared/rollupIcon.tsx
  explorer/ui/app/routes/_index.tsx
  explorer/ui/app/routes/xmsg.$id/route.tsx
Due: none

feat(halo/evmengine): harden engine api (#1018)
  e2e/app/definition.go
  e2e/app/perturb.go
  e2e/app/run.go
  e2e/manifests/ci.toml
  e2e/types/manifest.go
  e2e/types/testnet.go
  halo/evmengine/keeper/abci.go
  halo/evmengine/keeper/abci_internal_test.go
  halo/evmengine/keeper/helpers.go
  halo/evmengine/keeper/keeper_internal_test.go
  halo/evmengine/keeper/msg_server_internal_test.go
  halo/evmengine/keeper/proposal_server.go
  halo/evmengine/keeper/proposal_server_internal_test.go
  lib/ethclient/enginemock.go
Due: run-go-tests, run-regexp, run-goversion

test(xfeemgr): disable flapping test
  monitor/xfeemngr/xfeemngr_internal_test.go
Due: run-go-tests, run-goversion

test(xfeemgr): disable flapping test (#1024)
  monitor/xfeemngr/xfeemngr_internal_test.go
Due: run-go-tests, run-goversion

add mock chain info
  explorer/graphql/app/schema.graphql
  explorer/graphql/mockresolver/resolver.go
Due: run-go-tests, run-regexp, run-goversion

fix(explorer/ui) pageination
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/queries/messages.tsx
  explorer/ui/app/routes/_index.tsx
Due: none

fix(explorer/ui) pageination and view
  explorer/ui/app/components/details/From.tsx
  explorer/ui/app/components/details/To.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/queries/messages.tsx
  explorer/ui/app/components/shared/tag.tsx
  explorer/ui/app/routes/_index.tsx
Due: none

feat(explorer/graphql): add mock chain info (#1025)
  explorer/graphql/app/schema.graphql
  explorer/graphql/mockresolver/resolver.go
Due: run-go-tests, run-regexp, run-goversion

Add stats and improve mock data
  explorer/graphql/app/schema.graphql
  explorer/graphql/mockresolver/resolver.go
Due: run-go-tests, run-regexp, run-goversion

feat(explorer/graphql): add stats and improve mock data (#1028)
  explorer/graphql/app/schema.graphql
  explorer/graphql/mockresolver/resolver.go
Due: run-go-tests, run-regexp, run-goversion

feat(explorer/ui) search filter status
  explorer/ui/app/components/details/From.tsx
  explorer/ui/app/components/details/TabList.tsx
  explorer/ui/app/components/details/To.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/home/overview.tsx
  explorer/ui/app/components/queries/chains.tsx
  explorer/ui/app/components/queries/messages.tsx
  explorer/ui/app/routes/_index.tsx
  explorer/ui/app/routes/xmsg.$id/route.tsx
Due: none

fix(monitor/xfeemngr): fix flapping tests
  monitor/xfeemngr/oracle.go
  monitor/xfeemngr/xfeemngr_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(monitor/xfeemngr): fix flapping tests (#1029)
  monitor/xfeemngr/oracle.go
  monitor/xfeemngr/xfeemngr_internal_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(explorer/ui): pagination and view and status search (#1027)
  explorer/ui/app/components/details/From.tsx
  explorer/ui/app/components/details/TabList.tsx
  explorer/ui/app/components/details/To.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/home/overview.tsx
  explorer/ui/app/components/queries/chains.tsx
  explorer/ui/app/components/queries/messages.tsx
  explorer/ui/app/components/shared/tag.tsx
  explorer/ui/app/routes/_index.tsx
  explorer/ui/app/routes/xmsg.$id/route.tsx
Due: none

always write to one slot
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/bindings/portalregistry_storage_layout.json
  contracts/bindings/xregistry_storage_layout.json
  contracts/src/protocol/OmniPortal.sol
  contracts/src/protocol/OmniPortalStorage.sol
  contracts/test/portal/OmniPortal_lastXCallID.t.sol
  e2e/app/contract.go
  e2e/app/xregistry.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_3_compose.yaml.golden
  lib/ethclient/ethbackend/backend.go
Due: run-go-tests, run-regexp, run-goversion

equal gas
  contracts/.gas-snapshot
  contracts/bindings/omniportal.go
  contracts/bindings/portalregistry_storage_layout.json
  contracts/bindings/xregistry_storage_layout.json
  contracts/src/protocol/OmniPortal.sol
Due: run-go-tests, run-goversion

fix(explorer/ui): prev page fix
  explorer/ui/app/components/home/messageDataTable.tsx
Due: none

Use mock timestamps in the past to fix UI
  explorer/graphql/app/schema.graphql
  explorer/graphql/mockresolver/resolver.go
Due: run-go-tests, run-regexp, run-goversion

fix(explorer/graphql): use mock timestamps in the past (#1033)
  explorer/graphql/app/schema.graphql
  explorer/graphql/mockresolver/resolver.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e): tmp fix for foundry mX machines
  e2e/docker/compose.yaml.tmpl
Due: none

chore(e2e): golden files
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_3_compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_6_compose.yaml.golden
Due: none

fix(e2e): tmp docker compose fix for apple chip machines (#1034)
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit_no_explorer.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_main_explorer.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_3_compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127_0_0_6_compose.yaml.golden
Due: none

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$, but not: (explorer/db/ent/internal/.*)
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)
  run-goversion: any of: \.go$
