Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
      - id: run-forge-fmt
        name: run-forge-fmt
        language: script
        entry: .pre-commit/run_forge_fmt.sh
        types: [ file, solidity ]

  # TODO(corver): Add hooks for the following:
  # - Auto-fix file license headers

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]
      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]

sol formatting
  contracts/.gas-snapshot
  contracts/src/protocol/OmniAVS.sol
  contracts/src/protocol/OmniPortal.sol
Due: none

fix formatting
  contracts/src/protocol/OmniAVS.sol
  contracts/src/protocol/OmniPortal.sol
Due: none

refactor(contracts): remove eigen-core import (#323)
  contracts/.gas-snapshot
  contracts/src/interfaces/IDelegationManager.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/AVSBase.sol
  contracts/test/avs/OmniAVSHarness.sol
Due: none

test(e2e): poc e2e eigen layer avs tests
  Makefile
  contracts/Makefile
  contracts/bindings/feeoraclev1.go
  contracts/bindings/omniavs.go
  contracts/bindings/omniportal.go
  contracts/bindings/proxyadmin.go
  contracts/bindings/transparentupgradeableproxy.go
  contracts/broadcast/DeployEigenLayer.s.sol/31337/run-latest.json
  contracts/foundry.toml
  contracts/script/eigen/DeployEigenLayer.s.sol
  contracts/script/eigen/deploy-eigenlayer-save-anvil-state.sh
  contracts/script/eigen/output/anvil-state.json
  contracts/script/eigen/output/deployments.json
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/eigen/EigenLayerDeployer.t.sol
  test/e2e/app/definition.go
  test/e2e/app/run.go
  test/e2e/cmd/flags.go
  test/e2e/docker/compose.yaml.tmpl
  test/e2e/manifests/devnet1.toml
  test/e2e/manifests/simple.toml
  test/e2e/manifests/staging.toml
  test/e2e/netman/helpers.go
  test/e2e/netman/manager.go
  test/e2e/tests/e2e_test.go
  test/e2e/types/eigen.go
  test/e2e/types/manifest.go
  test/e2e/types/testnet.go
Due: run-go-tests, run-regexp, run-goversion

fix var name
  contracts/script/eigen/DeployEigenLayer.s.sol
Due: none

revert comment
  test/e2e/netman/manager.go
Due: run-go-tests, run-regexp, run-goversion

shorten names
  test/e2e/app/definition.go
Due: run-go-tests, run-regexp, run-goversion

shorten names
  test/e2e/netman/helpers.go
Due: run-go-tests, run-regexp, run-goversion

add checks and comments
  test/e2e/netman/manager.go
Due: run-go-tests, run-regexp, run-goversion

adds hist, pr comments
  relayer/txmgr/metrics.go
  relayer/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

lint
  relayer/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

feat(relayer/txmgr): additional txmgr metrics (#322)
  relayer/txmgr/metrics.go
  relayer/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

decouple avs xdapp from netman
  test/e2e/app/avs.go
  test/e2e/app/definition.go
  test/e2e/app/run.go
  test/e2e/cmd/cmd.go
  test/e2e/cmd/flags.go
  test/e2e/manifests/devnet1.toml
  test/e2e/manifests/simple.toml
  test/e2e/netman/avs/types.go
  test/e2e/netman/avs/xdapp.go
  test/e2e/netman/helpers.go
  test/e2e/netman/manager.go
  test/e2e/pingpong/pingpong.go
  test/e2e/tests/e2e_test.go
  test/e2e/types/manifest.go
  test/e2e/types/testnet.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): introduce deployinfo for tests of contracts
  test/e2e/app/avs.go
  test/e2e/app/run.go
  test/e2e/app/test.go
  test/e2e/cmd/cmd.go
  test/e2e/netman/avs/xdapp.go
  test/e2e/pingpong/pingpong.go
  test/e2e/tests/app_test.go
  test/e2e/tests/attestations_test.go
  test/e2e/tests/block_test.go
  test/e2e/tests/e2e_test.go
  test/e2e/tests/portals_test.go
  test/e2e/types/deployinfo.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/gitinfo): Add git info metrics to all apps
  .golangci.yml
  explorer/graphql/app/app.go
  explorer/indexer/app/app.go
  halo/app/app.go
  halo/attest/metrics.go
  halo/comet/metrics.go
  halo2/app/start.go
  halo2/attest/attester/metrics.go
  lib/cchain/provider/metrics.go
  lib/gitinfo/gitinfo.go
  lib/gitinfo/metrics.go
  lib/log/metrics.go
  lib/xchain/provider/metrics.go
  relayer/app/app.go
  relayer/app/metrics.go
  relayer/txmgr/metrics.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/gitinfo): add git info metrics to all apps (#328)
  .golangci.yml
  explorer/graphql/app/app.go
  explorer/indexer/app/app.go
  halo/app/app.go
  halo/attest/metrics.go
  halo/comet/metrics.go
  halo2/app/start.go
  halo2/attest/attester/metrics.go
  lib/cchain/provider/metrics.go
  lib/gitinfo/gitinfo.go
  lib/gitinfo/metrics.go
  lib/log/metrics.go
  lib/xchain/provider/metrics.go
  relayer/app/app.go
  relayer/app/metrics.go
  relayer/txmgr/metrics.go
Due: run-go-tests, run-regexp, run-goversion

tick tok ⏰
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

fix(relayer/app): use tickers (#330)
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo2): fixes to get haloe2e working
  .secrets.baseline
  halo/app/config.go
  halo/cmd/cmd.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/testdata/TestCLIReference_halo.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo2/app/app.go
  halo2/app/app_config.go
  halo2/app/logging.go
  halo2/app/start.go
  halo2/app/start_test.go
  halo2/attest/attester/attester.go
  halo2/attest/attester/attester_test.go
  halo2/attest/keeper/keeper.go
  halo2/attest/keeper/msg_server.go
  halo2/attest/types/tx.go
  halo2/evmengine/keeper/abci.go
  halo2/genutil/genutil.go
  halo2/genutil/genutil_test.go
  lib/cchain/provider/abci2.go
  relayer/app/app.go
  test/e2e/app/setup.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo2): fixes to get halo e2e working (#329)
  .secrets.baseline
  halo/app/config.go
  halo/cmd/cmd.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/testdata/TestCLIReference_halo.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo2/app/app.go
  halo2/app/app_config.go
  halo2/app/logging.go
  halo2/app/start.go
  halo2/app/start_test.go
  halo2/attest/attester/attester.go
  halo2/attest/attester/attester_test.go
  halo2/attest/keeper/keeper.go
  halo2/attest/keeper/msg_server.go
  halo2/attest/types/tx.go
  halo2/evmengine/keeper/abci.go
  halo2/genutil/genutil.go
  halo2/genutil/genutil_test.go
  lib/cchain/provider/abci2.go
  relayer/app/app.go
  test/e2e/app/setup.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo2/db): fix goleveldb dependency
  .golangci.yml
  go.mod
  go.sum
  halo/app/config.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo2/app/start_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo2/db): fix goleveldb dependency (#331)
  .golangci.yml
  go.mod
  go.sum
  halo/app/config.go
  halo/cmd/cmd_internal_test.go
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo2/app/start_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e/tests): use halo2 cprovider
  halo2/app/logging.go
  test/e2e/tests/attestations_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e/tests): use halo2 cprovider (#332)
  halo2/app/logging.go
  test/e2e/tests/attestations_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e/tests): use halo2 cprovider again
  test/e2e/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e/tests): use halo2 cprovider again (#333)
  test/e2e/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): improve readability (#324)
  contracts/src/protocol/OmniAVS.sol
  contracts/src/protocol/OmniPortal.sol
Due: none

test(e2e): introduce deployinfo for tests of contracts (#327)
  contracts/Makefile
  contracts/bindings/examples/pingpong.go
  contracts/bindings/gen.sh
  test/e2e/app/avs.go
  test/e2e/app/run.go
  test/e2e/app/test.go
  test/e2e/cmd/cmd.go
  test/e2e/netman/avs/xdapp.go
  test/e2e/pingpong/pingpong.go
  test/e2e/tests/app_test.go
  test/e2e/tests/attestations_test.go
  test/e2e/tests/block_test.go
  test/e2e/tests/e2e_test.go
  test/e2e/tests/portals_test.go
  test/e2e/types/deployinfo.go
Due: run-go-tests, run-regexp, run-goversion

udpate golden snapshots
  test/e2e/docker/testdata/TestComposeTemplate_image_tag_7d1ae53.golden
  test/e2e/docker/testdata/TestComposeTemplate_image_tag_main.golden
  test/e2e/vmcompose/testdata/TestSetup_127_0_0_3_compose.yaml.golden
Due: none

update flags, use DeployConfig in e2e run
  Makefile
  test/e2e/app/run.go
  test/e2e/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion

add LoadState to anvil tests
  test/e2e/docker/docker_test.go
  test/e2e/docker/testdata/TestComposeTemplate_image_tag_7d1ae53.golden
  test/e2e/docker/testdata/TestComposeTemplate_image_tag_main.golden
Due: run-go-tests, run-goversion
