Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
      - id: run-forge-fmt
        name: run-forge-fmt
        language: script
        entry: .pre-commit/run_forge_fmt.sh
        types: [ file, solidity ]

  # TODO(corver): Add hooks for the following:
  # - Auto-fix file license headers

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]
      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]

working around case sensitivity for imports
  test/e2e/app/run.go
  test/e2e/txSender/tx_sender.go
  test/e2e/txSender/tx_sender_manager.go
Due: run-go-tests, run-regexp, run-goversion

calling in e2e runs
  test/e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

pushing to share
  .secrets.baseline
  test/e2e/app/contract.go
  test/e2e/app/run.go
  test/e2e/netman/manager.go
  test/e2e/pingpong/pingpong.go
  test/e2e/txsenders/tx_sender.go
  test/e2e/txsenders/tx_sender_manager.go
  test/e2e/txsenders/types.go
Due: run-go-tests, run-regexp, run-goversion

add comment
  contracts/test/avs/eigen/EigenLayerTestHelper.t.sol
Due: none

make unsupportedStrat work on local and forks
  contracts/script/eigen/DeployEigenLayer.s.sol
  contracts/test/avs/AVSUtils.sol
  contracts/test/avs/OmniAVS.t.sol
  contracts/test/avs/eigen/EigenLayerDeployer.t.sol
Due: none

refactor
  contracts/script/avs/DeployGoerliAVS.s.sol
  contracts/script/avs/StrategyParams.sol
  contracts/script/eigen/DeployEigenLayer.s.sol
  contracts/test/avs/AVSBase.sol
  contracts/test/avs/eigen/EigenLayerDeployer.t.sol
  contracts/test/avs/eigen/EigenLayerTestHelper.t.sol
  contracts/test/avs/eigen/deploy/EigenLayerGoerli.sol
  contracts/test/avs/eigen/deploy/EigenLayerLocal.sol
  contracts/test/avs/eigen/deploy/EigenM2GoerliDeployments.sol
  contracts/test/avs/eigen/deploy/IEigenDeployer.sol
Due: none

test(contracts): support avs deployment fork test
  contracts/.gas-snapshot
  contracts/script/avs/AVSDeploy.sol
  contracts/script/avs/DeployGoerliAVS.s.sol
  contracts/script/avs/StrategyParams.sol
  contracts/script/eigen/DeployEigenLayer.s.sol
  contracts/src/interfaces/IOmniAVS.sol
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/AVSBase.sol
  contracts/test/avs/AVSUtils.sol
  contracts/test/avs/OmniAVS.t.sol
  contracts/test/avs/OmniAVSHarness.sol
  contracts/test/avs/eigen/EigenLayerDeployer.t.sol
  contracts/test/avs/eigen/EigenLayerTestHelper.t.sol
  contracts/test/avs/eigen/EigenM2GoerliDeployments.sol
  contracts/test/common/Empty.sol
Due: none

remove AVSDeploy.sol
  contracts/script/avs/AVSDeploy.sol
Due: none

add comments
  contracts/script/avs/DeployGoerliAVS.s.sol
  contracts/script/avs/StrategyParams.sol
  contracts/test/avs/eigen/deploy/EigenLayerGoerli.sol
  contracts/test/avs/eigen/deploy/EigenLayerLocal.sol
  contracts/test/avs/eigen/deploy/IEigenDeployer.sol
Due: none

fix local eign deploy script, refactor output
  contracts/broadcast/DeployEigenLayer.s.sol/31337/run-latest.json
  contracts/script/eigen/DeployEigenLayer.s.sol
  contracts/test/avs/eigen/deploy/EigenLayerGoerli.sol
  contracts/test/avs/eigen/deploy/EigenLayerLocal.sol
  test/e2e/app/static/el-anvil-state.json
  test/e2e/app/static/el-deployments.json
  test/e2e/netman/avs/types.go
Due: run-go-tests, run-regexp, run-goversion

test(contracts): support avs deployment fork test (#360)
  contracts/.gas-snapshot
  contracts/broadcast/DeployEigenLayer.s.sol/31337/run-latest.json
  contracts/script/avs/DeployGoerliAVS.s.sol
  contracts/script/avs/StrategyParams.sol
  contracts/script/eigen/DeployEigenLayer.s.sol
  contracts/src/interfaces/IOmniAVS.sol
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/AVSBase.sol
  contracts/test/avs/AVSUtils.sol
  contracts/test/avs/OmniAVS.t.sol
  contracts/test/avs/OmniAVSHarness.sol
  contracts/test/avs/eigen/EigenLayerDeployer.t.sol
  contracts/test/avs/eigen/EigenLayerTestHelper.t.sol
  contracts/test/avs/eigen/deploy/EigenLayerGoerli.sol
  contracts/test/avs/eigen/deploy/EigenLayerLocal.sol
  contracts/test/avs/eigen/deploy/EigenM2GoerliDeployments.sol
  contracts/test/avs/eigen/deploy/IEigenDeployer.sol
  contracts/test/common/Empty.sol
  test/e2e/app/static/el-anvil-state.json
  test/e2e/app/static/el-deployments.json
  test/e2e/netman/avs/types.go
Due: run-go-tests, run-regexp, run-goversion

updating types and folder naming
  .secrets.baseline
  test/e2e/app/contract.go
  test/e2e/app/run.go
  test/e2e/netman/manager.go
  test/e2e/pingpong/pingpong.go
  test/e2e/txsenders/types.go
  test/e2e/xtx/manager.go
  test/e2e/xtx/sender.go
Due: run-go-tests, run-regexp, run-goversion

stop requiring hard line length limit
  .golangci.yml
  halo/app/logging.go
  halo/cmd/flags.go
  lib/log/config.go
  relayer/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

fix(readability): stop requiring hard line length limit (#359)
  .golangci.yml
  halo/app/logging.go
  halo/cmd/flags.go
  lib/log/config.go
  relayer/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

updating txmanager declaration point
  test/e2e/app/contract.go
  test/e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

xcalls working, need to figure out fee estimation
  test/e2e/app/contract.go
  test/e2e/xtx/manager.go
  test/e2e/xtx/sender.go
Due: run-go-tests, run-regexp, run-goversion

setting gas limits
  test/e2e/app/contract.go
  test/e2e/xtx/sender.go
Due: run-go-tests, run-regexp, run-goversion

cleanup and fixes
  test/e2e/app/contract.go
  test/e2e/netman/manager.go
  test/e2e/xtx/manager.go
  test/e2e/xtx/sender.go
Due: run-go-tests, run-regexp, run-goversion

refactor(halo/attest): implement validator set hash and rename types
  .secrets.baseline
  halo/app/app.go
  halo/app/logging.go
  halo/app/start.go
  halo/app/start_test.go
  halo/attest/keeper/aggregate.cosmos_orm.go
  halo/attest/keeper/aggregate.pb.go
  halo/attest/keeper/attestation.cosmos_orm.go
  halo/attest/keeper/attestation.pb.go
  halo/attest/keeper/attestation.proto
  halo/attest/keeper/cpayload.go
  halo/attest/keeper/cpayload_internal_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/msg_server.go
  halo/attest/keeper/proposal_server.go
  halo/attest/keeper/query.go
  halo/attest/module/module.go
  halo/attest/types/interface.go
  halo/attest/types/query.pb.go
  halo/attest/types/query.proto
  halo/attest/types/translate.go
  halo/attest/types/tx.go
  halo/attest/types/tx.pb.go
  halo/attest/types/tx.proto
  halo/attest/voter/metrics.go
  halo/attest/voter/vote.go
  halo/attest/voter/vote_test.go
  halo/attest/voter/voter.go
  halo/attest/voter/voter_test.go
  halo/cmd/init.go
  halo/comet/comet.go
  halo/evmengine/keeper/keeper.go
  halo/evmengine/keeper/proposal_server.go
  halo/genutil/genutil_internal_test.go
  lib/cchain/provider/abci.go
  lib/xchain/types.go
  relayer/app/creator.go
  relayer/app/creator_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(halo/attest): implement validator set hash and rename types (#369)
  .secrets.baseline
  halo/app/app.go
  halo/app/logging.go
  halo/app/start.go
  halo/app/start_test.go
  halo/attest/keeper/aggregate.cosmos_orm.go
  halo/attest/keeper/aggregate.pb.go
  halo/attest/keeper/attestation.cosmos_orm.go
  halo/attest/keeper/attestation.pb.go
  halo/attest/keeper/attestation.proto
  halo/attest/keeper/cpayload.go
  halo/attest/keeper/cpayload_internal_test.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/msg_server.go
  halo/attest/keeper/proposal_server.go
  halo/attest/keeper/query.go
  halo/attest/module/module.go
  halo/attest/types/interface.go
  halo/attest/types/query.pb.go
  halo/attest/types/query.proto
  halo/attest/types/translate.go
  halo/attest/types/tx.go
  halo/attest/types/tx.pb.go
  halo/attest/types/tx.proto
  halo/attest/voter/metrics.go
  halo/attest/voter/vote.go
  halo/attest/voter/vote_test.go
  halo/attest/voter/voter.go
  halo/attest/voter/voter_test.go
  halo/cmd/init.go
  halo/comet/comet.go
  halo/evmengine/keeper/keeper.go
  halo/evmengine/keeper/proposal_server.go
  halo/genutil/genutil_internal_test.go
  lib/cchain/provider/abci.go
  lib/xchain/types.go
  relayer/app/creator.go
  relayer/app/creator_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/xchain): rename xtypes to align with attest module
  halo/app/start_test.go
  halo/attest/keeper/cpayload.go
  halo/attest/keeper/cpayload_internal_test.go
  halo/attest/types/translate.go
  halo/attest/types/tx.go
  halo/attest/types/tx.pb.go
  halo/attest/types/tx.proto
  halo/attest/voter/vote.go
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/provider_test.go
  lib/xchain/types.go
  relayer/app/creator.go
  relayer/app/creator_test.go
  relayer/app/types.go
  relayer/app/types_test.go
  relayer/app/worker.go
  relayer/app/worker_test.go
  test/e2e/app/monitor.go
  test/e2e/tests/attestations_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/xchain): rename xtypes to align with attest module (#370)
  halo/app/start_test.go
  halo/attest/keeper/cpayload.go
  halo/attest/keeper/cpayload_internal_test.go
  halo/attest/types/translate.go
  halo/attest/types/tx.go
  halo/attest/types/tx.pb.go
  halo/attest/types/tx.proto
  halo/attest/voter/vote.go
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/provider_test.go
  lib/xchain/types.go
  relayer/app/creator.go
  relayer/app/creator_test.go
  relayer/app/types.go
  relayer/app/types_test.go
  relayer/app/worker.go
  relayer/app/worker_test.go
  test/e2e/app/monitor.go
  test/e2e/tests/attestations_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/evmengine): trigger optimistic build on finalise
  .golangci.yml
  halo/app/start.go
  halo/app/start_test.go
  halo/attest/keeper/keeper.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/comet/comet.go
  halo/config/config.go
  halo/config/config.toml.tmpl
  halo/config/testdata/default_halo.toml
  halo/evmengine/keeper/abci.go
  halo/evmengine/keeper/keeper.go
  halo/evmengine/keeper/msg_server.go
  halo/evmengine/keeper/proposal_server.go
  halo/evmengine/module/module.go
  halo/evmengine/types/types.go
  lib/engine/mock.go
Due: run-go-tests, run-regexp, run-goversion

chore(relayer): add head monitoring
  relayer/app/metrics.go
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/evmengine): trigger optimistic build on finalise
  .golangci.yml
  go.mod
  go.sum
  halo/app/start.go
  halo/app/start_test.go
  halo/attest/keeper/keeper.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/comet/comet.go
  halo/config/config.go
  halo/config/config.toml.tmpl
  halo/config/testdata/default_halo.toml
  halo/evmengine/keeper/abci.go
  halo/evmengine/keeper/keeper.go
  halo/evmengine/keeper/msg_server.go
  halo/evmengine/keeper/proposal_server.go
  halo/evmengine/module/module.go
  halo/evmengine/types/types.go
  lib/engine/mock.go
Due: run-go-tests, run-regexp, run-goversion

chore(relayer): add head monitoring (#372)
  relayer/app/metrics.go
  relayer/app/monitor.go
Due: run-go-tests, run-regexp, run-goversion

implement mocks
  halo/evmengine/keeper/abci_test.go
Due: run-go-tests, run-goversion

feat(halo/evmengine): trigger optimistic build on finalise (#371)
  .golangci.yml
  go.mod
  go.sum
  halo/app/start.go
  halo/app/start_test.go
  halo/attest/keeper/keeper.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/comet/comet.go
  halo/config/config.go
  halo/config/config.toml.tmpl
  halo/config/testdata/default_halo.toml
  halo/evmengine/keeper/abci.go
  halo/evmengine/keeper/keeper.go
  halo/evmengine/keeper/msg_server.go
  halo/evmengine/keeper/proposal_server.go
  halo/evmengine/module/module.go
  halo/evmengine/types/types.go
  lib/engine/mock.go
Due: run-go-tests, run-regexp, run-goversion

wip
  halo/evmengine/keeper/abci_test.go
Due: run-go-tests, run-goversion

logging
  test/e2e/app/contract.go
  test/e2e/xtx/sender.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo/attest): fix approve bug and add metrics
  halo/app/app.go
  halo/app/start.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/metrics.go
  halo/attest/module/module.go
  halo/attest/types/types.go
  halo/attest/voter/metrics.go
  lib/netconf/netconf.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): update readme banner
  README.md
  docs/images/omni_banner.jpg
  docs/images/omni_banner.png
Due: none

chore(docs): update readme banner (#375)
  README.md
  docs/images/omni_banner.jpg
  docs/images/omni_banner.png
Due: none

code improvements
  test/e2e/app/contract.go
  test/e2e/app/run.go
  test/e2e/netman/pingpong/pingpong.go
  test/e2e/send/manager.go
  test/e2e/send/sender.go
  test/e2e/xtx/manager.go
Due: run-go-tests, run-regexp, run-goversion

nit
  test/e2e/send/sender.go
Due: run-go-tests, run-regexp, run-goversion

creating internal math lib
  lib/math/sum.go
  test/e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

moving pingpong trigger to deploy config
  test/e2e/app/run.go
  test/e2e/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion

simplifying edge generation
  test/e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

fix(contracts/test): fix goerli fork tests
  contracts/.env.example
  contracts/.gitignore
  contracts/Makefile
  contracts/foundry.toml
  contracts/script/avs/DeployGoerliAVS.s.sol
  contracts/script/avs/StrategyParams.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/AVSBase.sol
  contracts/test/avs/AVSUtils.sol
  contracts/test/avs/OmniAVS.t.sol
  contracts/test/avs/eigen/EigenLayerDeployer.t.sol
  contracts/test/avs/eigen/EigenLayerTestHelper.t.sol
  contracts/test/avs/eigen/deploy/EigenLayerGoerli.sol
  contracts/test/avs/eigen/deploy/EigenM2GoerliDeployments.sol
Due: none

add TODOs
  contracts/src/protocol/OmniAVS.sol
Due: none
