Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

fix: minor improvement
  cli/cmd/initnodes.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(cli/cmd): add support for snapshot sync (#2782)
  cli/cmd/download_untar_lz4.go
  cli/cmd/flags.go
  cli/cmd/initnodes.go
  go.mod
  go.sum
Due: run-go-tests, run-golint, run-regexp, run-goversion

rename fromPortal -> srcPortal
  monitor/loadgen/xcall.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifests): simplify manifests
  cli/cmd/devnet.go
  cli/cmd/initnodes.go
  contracts/allocs/scripts/genallocs.go
  e2e/manifests/static.go
  lib/netconf/netconf_test.go
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver/app): add v2 fill procdep
  solver/app/v2/app.go
  solver/app/v2/bindings.go
  solver/app/v2/bindings_internal_test.go
  solver/app/v2/procdeps.go
  solver/app/v2/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(monitor): add xcall loadgen to the monitor app (#2723)
  e2e/app/setup.go
  monitor/app/app.go
  monitor/app/config.toml.tpl
  monitor/app/config_test.go
  monitor/app/testdata/default_monitor.toml
  monitor/cmd/flags.go
  monitor/loadgen/loadgen.go
  monitor/loadgen/stake.go
  monitor/loadgen/xcall.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver/app): add v2 filler (#2795)
  solver/app/v2/app.go
  solver/app/v2/bindings.go
  solver/app/v2/bindings_internal_test.go
  solver/app/v2/procdeps.go
  solver/app/v2/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/contracts): static staging token addr
  lib/contracts/address.go
  lib/contracts/testdata/TestContractAddressReference.golden
  lib/netconf/static.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/contracts): static staging token addr (#2799)
  lib/contracts/address.go
  lib/contracts/testdata/TestContractAddressReference.golden
  lib/netconf/static.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fully tested ERC7683 SolverNet contracts with 100% coverage
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetBindings.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetOutbox.sol
  contracts/solve/test/ERC7683/E2E.t.sol
  contracts/solve/test/ERC7683/TestBase.sol
  contracts/solve/test/ERC7683/inbox/Accept.t.sol
  contracts/solve/test/ERC7683/inbox/Cancel.t.sol
  contracts/solve/test/ERC7683/inbox/Claim.t.sol
  contracts/solve/test/ERC7683/inbox/MarkFulfilled.t.sol
  contracts/solve/test/ERC7683/inbox/Open.t.sol
  contracts/solve/test/ERC7683/inbox/Reject.t.sol
  contracts/solve/test/ERC7683/inbox/Resolve.t.sol
  contracts/solve/test/ERC7683/inbox/Validate.t.sol
  contracts/solve/test/ERC7683/outbox/Executor.t.sol
  contracts/solve/test/ERC7683/outbox/Fill.t.sol
  contracts/solve/test/utils/Refunder.sol
  contracts/solve/test/utils/Reverter.sol
Due: run-go-tests, run-golint, run-goversion

ci(scripts/join): add join test for snapshot sync
  .github/workflows/ci-join.yaml
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-goversion

fix: change --from-latest-snapshot flag to --node-snapshot
  .github/workflows/ci-join.yaml
  cli/cmd/flags.go
  cli/cmd/initnodes.go
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat: add support for nightly job to run omega and mainnet networks and add a manual trigger workflow for the same tests
  .github/workflows/ci-join-manual.yaml
  .github/workflows/ci-join.yaml
Due: none

ci(scripts/join): add join test for node snapshots (#2804)
  .github/workflows/ci-join-manual.yaml
  .github/workflows/ci-join.yaml
  cli/cmd/flags.go
  cli/cmd/initnodes.go
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

wip
  halo/app/app_config.go
  halo/mybank/depinject.go
  halo/mybank/mybank.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

added FAQ question for AVS deregistration
  docs/content/operate/faq.md
Due: none

improved assertions by checking the intent against the stored resolved order instead of the output of the resolve function and what was stored
  contracts/bindings/solvernetinbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/test/ERC7683/TestBase.sol
  contracts/solve/test/ERC7683/inbox/Accept.t.sol
  contracts/solve/test/ERC7683/inbox/Cancel.t.sol
  contracts/solve/test/ERC7683/inbox/Claim.t.sol
  contracts/solve/test/ERC7683/inbox/MarkFulfilled.t.sol
  contracts/solve/test/ERC7683/inbox/Open.t.sol
  contracts/solve/test/ERC7683/inbox/Reject.t.sol
  contracts/solve/test/ERC7683/inbox/Resolve.t.sol
  contracts/solve/test/ERC7683/inbox/Validate.t.sol
Due: run-go-tests, run-golint, run-goversion

applied changes from feedback, fixed bug in maxSpent where native payment was not included
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/test/ERC7683/TestBase.sol
  contracts/solve/test/ERC7683/inbox/Accept.t.sol
  contracts/solve/test/ERC7683/inbox/Cancel.t.sol
  contracts/solve/test/ERC7683/inbox/Claim.t.sol
  contracts/solve/test/ERC7683/inbox/MarkFulfilled.t.sol
  contracts/solve/test/ERC7683/inbox/Open.t.sol
  contracts/solve/test/ERC7683/inbox/Reject.t.sol
  contracts/solve/test/ERC7683/inbox/Resolve.t.sol
Due: run-go-tests, run-golint, run-goversion

test(contracts/solve): comprehensive ERC7683 SolverNet tests (#2800)
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetBindings.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetOutbox.sol
  contracts/solve/test/ERC7683/E2E.t.sol
  contracts/solve/test/ERC7683/TestBase.sol
  contracts/solve/test/ERC7683/inbox/Accept.t.sol
  contracts/solve/test/ERC7683/inbox/Cancel.t.sol
  contracts/solve/test/ERC7683/inbox/Claim.t.sol
  contracts/solve/test/ERC7683/inbox/MarkFulfilled.t.sol
  contracts/solve/test/ERC7683/inbox/Open.t.sol
  contracts/solve/test/ERC7683/inbox/Reject.t.sol
  contracts/solve/test/ERC7683/inbox/Resolve.t.sol
  contracts/solve/test/ERC7683/inbox/Validate.t.sol
  contracts/solve/test/ERC7683/outbox/Executor.t.sol
  contracts/solve/test/ERC7683/outbox/Fill.t.sol
  contracts/solve/test/utils/Refunder.sol
  contracts/solve/test/utils/Reverter.sol
Due: run-go-tests, run-golint, run-goversion

refund on rejection
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/test/ERC7683/inbox/Cancel.t.sol
  contracts/solve/test/ERC7683/inbox/Reject.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(app/solver): v2 solve by liquidity
  lib/cast/cast.go
  lib/ethclient/ethbackend/backends.go
  lib/netconf/netconf.go
  solver/app/v2/app.go
  solver/app/v2/metrics.go
  solver/app/v2/procdeps.go
  solver/app/v2/processor.go
  solver/app/v2/processor_internal_test.go
  solver/app/v2/reject.go
  solver/app/v2/reject_internal_test.go
  solver/app/v2/rejectreason_string.go
  solver/app/v2/tokens.go
  solver/app/v2/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

enforced fillDeadline and allow fulfillment without accept
  contracts/bindings/solveoutbox.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/src/libraries/TypeMax.sol
  contracts/solve/.gas-snapshot
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/SolverNetOutbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetOutbox.sol
  contracts/solve/test/ERC7683/E2E.t.sol
  contracts/solve/test/ERC7683/inbox/Cancel.t.sol
  contracts/solve/test/ERC7683/inbox/Claim.t.sol
  contracts/solve/test/ERC7683/inbox/MarkFulfilled.t.sol
  contracts/solve/test/ERC7683/inbox/Resolve.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(contracts/solve): refund on rejection (#2810)
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/ERC7683/SolverNetInbox.sol
  contracts/solve/src/ERC7683/interfaces/ISolverNetInbox.sol
  contracts/solve/test/ERC7683/inbox/Cancel.t.sol
  contracts/solve/test/ERC7683/inbox/Reject.t.sol
Due: run-go-tests, run-golint, run-goversion

fix(halo/app): dedup lazy voter header caches
  halo/app/lazyvoter.go
  halo/attest/types/interface.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

wip
  halo/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(halo/app): dedup lazy voter header caches (#2813)
  halo/app/lazyvoter.go
  halo/attest/types/interface.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(app/solver): v2 solve by liquidity (#2801)
  lib/cast/cast.go
  lib/ethclient/ethbackend/backends.go
  lib/netconf/netconf.go
  solver/app/v2/app.go
  solver/app/v2/metrics.go
  solver/app/v2/procdeps.go
  solver/app/v2/processor.go
  solver/app/v2/processor_internal_test.go
  solver/app/v2/reject.go
  solver/app/v2/reject_internal_test.go
  solver/app/v2/rejectreason_string.go
  solver/app/v2/tokens.go
  solver/app/v2/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(app/solver): v2 cleanpup
  solver/app/v2/metrics.go
  solver/app/v2/processor.go
  solver/app/v2/reject.go
  solver/app/v2/reject_internal_test.go
  solver/app/v2/tokens.go
  solver/app/v2/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(app/solver): v2 cleanpup (#2815)
  solver/app/v2/metrics.go
  solver/app/v2/processor.go
  solver/app/v2/reject.go
  solver/app/v2/reject_internal_test.go
  solver/app/v2/tokens.go
  solver/app/v2/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(cli/cmd): fix rel to abs snapshot download path
  .github/workflows/ci-join-manual.yaml
  .github/workflows/ci-join.yaml
  cli/cmd/initnodes.go
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix: add maximize-build-space github action
  .github/workflows/ci-join-manual.yaml
Due: none

chore(e2e/solve): deploy v2 solvernet boxes
  e2e/solve/deploy.go
  lib/contracts/address.go
  lib/contracts/address_test.go
  lib/contracts/solvernet/inbox/deploy.go
  lib/contracts/solvernet/outbox/deploy.go
  lib/contracts/testdata/TestContractAddressReference.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/solve): deploy v2 solvernet boxes (#2817)
  e2e/solve/deploy.go
  lib/contracts/address.go
  lib/contracts/address_test.go
  lib/contracts/solvernet/inbox/deploy.go
  lib/contracts/solvernet/outbox/deploy.go
  lib/contracts/testdata/TestContractAddressReference.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

wip
  halo/evmstaking/depinject.go
  halo/evmstaking/evmstaking.go
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/module/module.go
  halo/evmstaking2/types/interfaces.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

dont crash monitor app if loadgen cannot be started
  monitor/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(ci): install locked foundry version in go test
  .github/actions/setup-foundry/action.yaml
  .github/workflows/gotest.yaml
Due: none

wip
  halo/app/app.go
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/keeper/keeper_internal_test.go
  halo/evmstaking2/testutil/mock_interfaces.go
  halo/evmstaking2/types/interfaces.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(monitor): dont crash monitor app (#2818)
  monitor/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(ci): install locked foundry version in go test (#2819)
  .github/actions/setup-foundry/action.yaml
  .github/workflows/gotest.yaml
Due: none

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
