Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

chore(lib/netconf): support non-portal chains
  e2e/app/definition.go
  lib/netconf/netconf.go
  lib/netconf/provider.go
  lib/netconf/static.go
  lib/xchain/provider/fetch.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): setup tests for API calls
  sdk/packages/core/package.json
  sdk/packages/core/src/api/getContracts.test.ts
  sdk/packages/core/src/api/getContracts.ts
  sdk/packages/core/src/api/getQuote.test.ts
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/core/src/api/validateOrder.test.ts
  sdk/packages/core/src/api/validateOrder.ts
  sdk/packages/core/src/index.ts
  sdk/packages/core/vitest.config.ts
  sdk/packages/react-next/src/hooks/useOmniContracts.test.ts
  sdk/packages/react-next/src/hooks/useQuote.test-d.ts
  sdk/packages/react-next/src/hooks/useQuote.test.ts
  sdk/packages/react-next/src/hooks/useQuote.ts
  sdk/packages/react-next/src/hooks/useValidateOrder.test.ts
  sdk/packages/react-next/src/hooks/useValidateOrder.ts
  sdk/packages/react-next/test/shared.ts
  sdk/packages/test-utils/src/contracts.ts
  sdk/packages/test-utils/src/index.ts
  sdk/packages/test-utils/src/order.ts
  sdk/packages/test-utils/src/quote.ts
  sdk/pnpm-lock.yaml
Due: none

Add parseOpenEvent() function to core
  sdk/packages/core/src/contracts/getOrder.ts
  sdk/packages/core/src/contracts/parseOpenEvent.ts
  sdk/packages/core/src/index.ts
  sdk/packages/react-next/src/hooks/useParseOpenEvent.test-d.ts
  sdk/packages/react-next/src/hooks/useParseOpenEvent.test.ts
  sdk/packages/react-next/src/hooks/useParseOpenEvent.ts
  sdk/packages/react-next/src/hooks/useQuote.test-d.ts
Due: none

Remove unnecessary imports
  sdk/packages/react-next/src/hooks/useOmniContracts.test.ts
Due: none

Add didFillOutbox() function
  sdk/packages/core/src/contracts/didFillOutbox.ts
  sdk/packages/core/src/contracts/getOrder.ts
  sdk/packages/core/src/index.ts
  sdk/packages/react-next/src/hooks/useDidFillOutbox.test-d.ts
  sdk/packages/react-next/src/hooks/useDidFillOutbox.test.ts
  sdk/packages/react-next/src/hooks/useDidFillOutbox.ts
Due: none

Add invariant function to assert conditions
  sdk/packages/react-next/src/hooks/useDidFillOutbox.ts
  sdk/packages/react-next/src/hooks/useGetOrder.ts
  sdk/packages/react-next/src/utils/invariant.ts
Due: none

Address PR comments
  sdk/integration-tests/suites/flows.tsx
  sdk/packages/core/src/api/getQuote.test.ts
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/core/src/api/validateOrder.ts
  sdk/packages/core/src/contracts/didFillOutbox.ts
  sdk/packages/core/src/contracts/parseOpenEvent.ts
  sdk/packages/core/src/index.ts
  sdk/packages/core/src/utils/encodeOrder.ts
  sdk/packages/core/src/utils/encodeOrderData.ts
  sdk/packages/react-next/src/hooks/useDidFillOutbox.test-d.ts
  sdk/packages/react-next/src/hooks/useDidFillOutbox.ts
  sdk/packages/react-next/src/hooks/useGetOrder.ts
  sdk/packages/react-next/src/hooks/useParseOpenEvent.test-d.ts
  sdk/packages/react-next/src/hooks/useParseOpenEvent.ts
  sdk/packages/react-next/src/hooks/useQuote.test.ts
  sdk/packages/react-next/src/hooks/useQuote.ts
  sdk/packages/react-next/src/hooks/useValidateOrder.test.ts
  sdk/packages/react-next/src/hooks/useValidateOrder.ts
  sdk/packages/test-utils/src/account.ts
Due: none

Fix linting
  sdk/packages/core/src/utils/encodeOrderData.ts
  sdk/packages/react-next/src/hooks/useParseOpenEvent.test.ts
Due: none

chore(sdk): hash query key func and clean up
  sdk/integration-tests/suites/hooks.tsx
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/core/src/api/validateOrder.ts
  sdk/packages/react-next/src/hooks/useQuote.ts
  sdk/packages/react-next/src/hooks/useValidateOrder.ts
  sdk/packages/react-next/src/utils/query.ts
Due: none

chore(lib/anvil): flag opts
  lib/anvil/anvil.go
  lib/anvil/compose.yaml.tmpl
  lib/uniswap/swap_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/anvil): flag opts (#3740)
  lib/anvil/anvil.go
  lib/anvil/compose.yaml.tmpl
  lib/uniswap/swap_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/cctp): scaffold integration test
  lib/cctp/addrs.go
  lib/cctp/devclient.go
  lib/cctp/integration_test.go
  lib/uniswap/swap_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): another quick docs lick (#3731)
  docs/docs/pages/concepts/single-chain-deployment.md
  docs/docs/pages/concepts/the-problem.md
  docs/docs/pages/concepts/the-solution.md
  docs/docs/pages/index.mdx
  docs/docs/pages/introduction/omni-overview.md
  docs/docs/pages/introduction/what-is-solvernet.md
  docs/docs/pages/sdk/getting-started.mdx
  docs/vocs.config.tsx
Due: none

exploratory hyperlane integration
  contracts/bindings/mockerc20.go
  contracts/bindings/solvernetexecutor.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetmiddleman.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/package.json
  contracts/solve/pnpm-lock.yaml
  contracts/solve/src/SolverNetInboxHL.sol
  contracts/solve/src/SolverNetOutboxHL.sol
  contracts/solve/src/ext/MailboxClient.sol
  contracts/solve/src/interfaces/ISolverNetInboxHL.sol
  contracts/solve/src/interfaces/ISolverNetOutboxHL.sol
Due: run-go-tests, run-golint, run-goversion

cleaned up
  contracts/solve/src/SolverNetInboxHL.sol
  contracts/solve/src/SolverNetOutboxHL.sol
  contracts/solve/src/ext/MailboxClient.sol
  contracts/solve/src/interfaces/ISolverNetInboxHL.sol
Due: none

fix dispatch params
  contracts/solve/src/SolverNetOutboxHL.sol
Due: none

rebase
  contracts/bindings/mockvault.go
Due: run-go-tests, run-golint, run-goversion

chore(sdk): revert test assertion
  sdk/integration-tests/suites/hooks.tsx
Due: none

chore(sdk): unit test hashFn
  sdk/packages/react-next/src/utils/query.test.ts
Due: none

chore(lib/netconf): support non-portal chains
  e2e/app/definition.go
  lib/netconf/netconf.go
  lib/netconf/provider.go
  lib/netconf/static.go
  lib/xchain/provider/fetch.go
  relayer/app/worker_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(solver/app): retry on invalid transitions
  e2e/app/eoa/fund.go
  e2e/app/eoa/testdata/threshold_reference.json
  lib/contracts/solvernet/helpers.go
  lib/contracts/solvernet/helpers_internal_test.go
  lib/xchain/connect/connect.go
  monitor/flowgen/bridging/bridging.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/util_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/cctp): scaffold integration test (#3745)
  lib/cctp/addrs.go
  lib/cctp/devclient.go
  lib/cctp/integration_test.go
  lib/uniswap/swap_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(solver/app): retry on invalid transitions (#3748)
  e2e/app/eoa/fund.go
  e2e/app/eoa/testdata/threshold_reference.json
  lib/contracts/solvernet/helpers.go
  lib/contracts/solvernet/helpers_internal_test.go
  lib/xchain/connect/connect.go
  monitor/flowgen/bridging/bridging.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/util_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/log): add test logger for e2e tests (#3738)
  e2e/test/e2e_test.go
  lib/log/log_test.go
  lib/log/logger.go
  lib/log/t.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): debug bad request bodies
  solver/app/handler.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  solver/app/handler.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): debug bad request bodies (#3749)
  solver/app/handler.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): update omega tags
  e2e/manifests/omega.toml
Due: none

chore(e2e): update omega tags (#3750)
  e2e/manifests/omega.toml
Due: none

chore(e2e): update omega pins
  e2e/manifests/omega.toml
Due: none

chore(e2e): update omega pins (#3753)
  e2e/manifests/omega.toml
Due: none

test(lib/cttp): single send integration test
  lib/anvil/anvil.go
  lib/anvil/compose.yaml.tmpl
  lib/anvil/utils.go
  lib/cctp/audit.go
  lib/cctp/contracts.go
  lib/cctp/devclient.go
  lib/cctp/domains.go
  lib/cctp/integration_test.go
  lib/cctp/mint.go
  lib/cctp/send.go
  lib/lib_test.go
  lib/tokens/tokenutil/util.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): setup tests for API calls (#3666)
  sdk/integration-tests/suites/flows.tsx
  sdk/packages/core/package.json
  sdk/packages/core/src/api/getContracts.test.ts
  sdk/packages/core/src/api/getContracts.ts
  sdk/packages/core/src/api/getQuote.test.ts
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/core/src/api/validateOrder.test.ts
  sdk/packages/core/src/api/validateOrder.ts
  sdk/packages/core/src/contracts/didFillOutbox.ts
  sdk/packages/core/src/contracts/getOrder.ts
  sdk/packages/core/src/contracts/parseOpenEvent.ts
  sdk/packages/core/src/index.ts
  sdk/packages/core/src/utils/encodeOrderData.ts
  sdk/packages/core/vitest.config.ts
  sdk/packages/react-next/src/hooks/useDidFillOutbox.test-d.ts
  sdk/packages/react-next/src/hooks/useDidFillOutbox.test.ts
  sdk/packages/react-next/src/hooks/useDidFillOutbox.ts
  sdk/packages/react-next/src/hooks/useGetOrder.ts
  sdk/packages/react-next/src/hooks/useOmniContracts.test.ts
  sdk/packages/react-next/src/hooks/useParseOpenEvent.test-d.ts
  sdk/packages/react-next/src/hooks/useParseOpenEvent.test.ts
  sdk/packages/react-next/src/hooks/useParseOpenEvent.ts
  sdk/packages/react-next/src/hooks/useQuote.test-d.ts
  sdk/packages/react-next/src/hooks/useQuote.test.ts
  sdk/packages/react-next/src/hooks/useQuote.ts
  sdk/packages/react-next/src/hooks/useValidateOrder.test.ts
  sdk/packages/react-next/src/hooks/useValidateOrder.ts
  sdk/packages/react-next/src/utils/invariant.ts
  sdk/packages/react-next/src/utils/query.test.ts
  sdk/packages/react-next/src/utils/query.ts
  sdk/packages/react-next/test/shared.ts
  sdk/packages/test-utils/src/account.ts
  sdk/packages/test-utils/src/contracts.ts
  sdk/packages/test-utils/src/index.ts
  sdk/packages/test-utils/src/order.ts
  sdk/packages/test-utils/src/quote.ts
  sdk/pnpm-lock.yaml
Due: none

chore(solver): allow hex and base 10 json string numbers
  solver/app/tokens.go
  solver/types/api.go
  solver/types/api_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): encode bigint prior to stringify
  sdk/packages/core/src/utils/toJSON.test.ts
  sdk/packages/core/src/utils/toJSON.ts
  sdk/packages/react/package.json
  sdk/packages/react/src/hooks/util.test.ts
  sdk/packages/react/src/hooks/util.ts
Due: none

chore(sdk): rename unit tests
  sdk/packages/core/src/utils/toJSON.test.ts
  sdk/packages/react/src/hooks/util.test.ts
Due: none

chore(sdk): address comment
  sdk/packages/core/src/utils/toJSON.ts
  sdk/packages/react/src/hooks/util.ts
Due: none

chore(lib/netconf): support non-portal chains (#3739)
  e2e/app/definition.go
  lib/netconf/netconf.go
  lib/netconf/provider.go
  lib/netconf/static.go
  lib/xchain/provider/fetch.go
  relayer/app/worker_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): encode bigint prior to stringify (#3757)
  sdk/packages/core/src/utils/toJSON.test.ts
  sdk/packages/core/src/utils/toJSON.ts
  sdk/packages/react/package.json
  sdk/packages/react/src/hooks/util.test.ts
  sdk/packages/react/src/hooks/util.ts
Due: none

add usdt to docs
  docs/docs/pages/sdk/supported-assets.mdx
Due: none
