Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

gas limits specified in constructor and transfers cached when mint fails
  contracts/bindings/bridge.go
  contracts/xapps/.gas-snapshot
  contracts/xapps/src/bridge/Bridge.sol
  contracts/xapps/src/bridge/interfaces/IBridge.sol
  contracts/xapps/test/bridge/TestBase.sol
  contracts/xapps/test/bridge/bridge/General.t.sol
  contracts/xapps/test/bridge/bridge/ReceiveToken.t.sol
  contracts/xapps/test/bridge/bridge/RetryTransfer.t.sol
  contracts/xapps/test/bridge/bridge/SendToken.t.sol
  e2e/xbridge/bridge.go
  e2e/xbridge/rlusd/static.go
  e2e/xbridge/rlusd/xtoken.go
  e2e/xbridge/types/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

move event back where it was
  contracts/bindings/bridge.go
  contracts/xapps/.gas-snapshot
  contracts/xapps/src/bridge/Bridge.sol
Due: run-go-tests, run-golint, run-goversion

fix(solver): ignore did fill err
  solver/app/processor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(solver): ignore did fill err (#3075)
  solver/app/processor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifests): upgrade omega solver pin
  e2e/manifests/omega.toml
Due: none

applied feedback
  contracts/bindings/bridge.go
  contracts/xapps/.gas-snapshot
  contracts/xapps/src/bridge/Bridge.sol
  contracts/xapps/src/bridge/interfaces/IBridge.sol
  contracts/xapps/test/bridge/TestBase.sol
  contracts/xapps/test/bridge/bridge/RetryTransfer.t.sol
Due: run-go-tests, run-golint, run-goversion

feat(contracts/core): sponsor migration with EIP712 (#3051)
  contracts/core/.gas-snapshot
  contracts/core/src/token/MerkleDistributorWithDeadline.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
Due: none

feat(contracts/xapps): add custom gas limits and transfer cache (#3074)
  contracts/bindings/bridge.go
  contracts/xapps/.gas-snapshot
  contracts/xapps/src/bridge/Bridge.sol
  contracts/xapps/src/bridge/interfaces/IBridge.sol
  contracts/xapps/test/bridge/TestBase.sol
  contracts/xapps/test/bridge/bridge/General.t.sol
  contracts/xapps/test/bridge/bridge/ReceiveToken.t.sol
  contracts/xapps/test/bridge/bridge/RetryTransfer.t.sol
  contracts/xapps/test/bridge/bridge/SendToken.t.sol
  e2e/xbridge/bridge.go
  e2e/xbridge/rlusd/static.go
  e2e/xbridge/rlusd/xtoken.go
  e2e/xbridge/types/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifests): upgrade omega solver pin (#3076)
  e2e/manifests/omega.toml
Due: none

chore(scripts/join): fix local docker images
  lib/cchain/queryutil/upgrade.go
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(scripts/join): fix local docker images (#3077)
  lib/cchain/queryutil/upgrade.go
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

begin gasless implementation
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
Due: none

chore(cli/cmd): add sig verify to createValidator
  cli/cmd/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(scripts): add container cleanup to join test
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-goversion

chore(e2e): update monitor omega git tag
  e2e/manifests/omega.toml
Due: none

remove accept and refactor cancel into close, enforce valid fillDeadline
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/inbox.json
  contracts/solve/outbox.json
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/E2E.t.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/Accept.t.sol
  contracts/solve/test/inbox/Close.t.sol
  contracts/solve/test/inbox/MarkFilled.t.sol
  contracts/solve/test/inbox/Reject.t.sol
  contracts/solve/test/inbox/Resolve.t.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/outbox/Fill.t.sol
  solver/app/app.go
  solver/app/bindings.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): update monitor omega git tag (#3086)
  e2e/manifests/omega.toml
Due: none

chore(cli/cmd): add sig verify to createValidator (#3085)
  cli/cmd/staking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(scripts): temp disable join test logic
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-goversion

chore(scripts): re-enable join test logic
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-goversion

feat(contracts/solve): remove accept from inbox (#3088)
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/inbox.json
  contracts/solve/outbox.json
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/SolverNetOutbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/E2E.t.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/Accept.t.sol
  contracts/solve/test/inbox/Close.t.sol
  contracts/solve/test/inbox/MarkFilled.t.sol
  contracts/solve/test/inbox/Reject.t.sol
  contracts/solve/test/inbox/Resolve.t.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/outbox/Fill.t.sol
  solver/app/app.go
  solver/app/bindings.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add close buffer and pausable logic
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/Close.t.sol
  contracts/solve/test/inbox/Open.t.sol
Due: run-go-tests, run-golint, run-goversion

addressed all relevant audit findings
  contracts/bindings/bridge.go
  contracts/bindings/lockbox.go
  contracts/xapps/.gas-snapshot
  contracts/xapps/src/bridge/Bridge.sol
  contracts/xapps/src/bridge/Lockbox.sol
  contracts/xapps/src/bridge/interfaces/IBridge.sol
  contracts/xapps/test/bridge/TestBase.sol
  contracts/xapps/test/bridge/bridge/General.t.sol
  contracts/xapps/test/bridge/bridge/ReceiveToken.t.sol
  contracts/xapps/test/bridge/bridge/RetryTransfer.t.sol
  contracts/xapps/test/bridge/bridge/SendToken.t.sol
  contracts/xapps/test/bridge/lockbox/Deposit.t.sol
  contracts/xapps/test/bridge/lockbox/General.t.sol
  contracts/xapps/test/bridge/lockbox/Withdraw.t.sol
  e2e/xbridge/bridge.go
  e2e/xbridge/lockbox.go
  e2e/xbridge/test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

addressed feedback
  contracts/bindings/solvernetinbox.go
  contracts/solve/src/SolverNetInbox.sol
Due: run-go-tests, run-golint, run-goversion

feat(contracts/solve): add close buffer and pausable logic (#3090)
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/Close.t.sol
  contracts/solve/test/inbox/Open.t.sol
Due: run-go-tests, run-golint, run-goversion

Fix typos in docs/content/learn/why.md
  docs/content/learn/why.md
Due: none

Fix typos in docs/content/solvernet/problem.md
  docs/content/solvernet/problem.md
Due: none

Fix typos in monitor/contract/monitor.go
  monitor/contract/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Fix typos in monitor/app/metrics.go
  monitor/app/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Fix typos in monitor/xfeemngr/xfeemngr.go
  monitor/xfeemngr/xfeemngr.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Fix typos in monitor/xfeemngr/xfeemngr_internal_test.go
  monitor/xfeemngr/xfeemngr_internal_test.go
Due: run-go-tests, run-golint, run-goversion

Fix typos in monitor/xfeemngr/oracle.go
  monitor/xfeemngr/oracle.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): move bindings to lib
  e2e/solve/test.go
  lib/contracts/solvernet/bindings.go
  lib/contracts/solvernet/order.go
  lib/contracts/solvernet/types.go
  solver/app/app.go
  solver/app/bindings.go
  solver/app/internal_testutils.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/reject.go
  solver/app/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/contracts): move bindings to lib (#3093)
  e2e/solve/test.go
  lib/contracts/solvernet/bindings.go
  lib/contracts/solvernet/order.go
  lib/contracts/solvernet/types.go
  solver/app/app.go
  solver/app/bindings.go
  solver/app/internal_testutils.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/reject.go
  solver/app/types.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/solve): better e2e solve tests
  e2e/solve/order_tracker.go
  e2e/solve/test.go
  e2e/solve/testutil.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

implement withdrawals listing by height
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion
