Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

optimize logic
  lib/contracts/contracts.go
  monitor/contract/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(contracts/misc): v0 pledge contract (#2515)
  contracts/misc/.gas-snapshot
  contracts/misc/.gitignore
  contracts/misc/foundry.toml
  contracts/misc/package.json
  contracts/misc/pnpm-lock.yaml
  contracts/misc/src/pledge/Pledge.sol
  contracts/misc/test/Pledge.t.sol
Due: none

rename contracts.All to contracts.ToMonitor
  lib/contracts/contracts.go
  monitor/contract/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix comment
  lib/contracts/contracts.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

remove mainnet check
  lib/contracts/contracts.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(monitor): add support for monitoring additional contracts (#2493)
  e2e/app/fund.go
  lib/contracts/contracts.go
  lib/contracts/fund.go
  monitor/contract/metrics.go
  monitor/contract/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(lib/chaos): add chaos errors to relayer workers (#2509)
  lib/chaos/chaos.go
  lib/chaos/chaos_test.go
  lib/errors/errors.go
  lib/errors/errors_test.go
  relayer/app/buffer.go
  relayer/app/worker.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(octane/evmengine): graceful post finalize errors (#2508)
  octane/evmengine/keeper/abci.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore: comments
  halo/valsync/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(lib/chaos): enable chaos errors in staging
  lib/chaos/chaos.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(lib/chaos): enable chaos errors in staging (#2518)
  lib/chaos/chaos.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(octane/evmengine): support blob txs
  e2e/app/perturb.go
  e2e/test/geth_test.go
  go.mod
  lib/cast/cast.go
  lib/ethclient/enginemock.go
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/evmengine.proto
  octane/evmengine/keeper/helpers.go
  octane/evmengine/keeper/msg_server.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server.go
  octane/evmengine/types/tx.pb.go
  octane/evmengine/types/tx.proto
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

feat(octane/evmengine): support blob txs (#2498)
  e2e/app/perturb.go
  e2e/test/geth_test.go
  go.mod
  lib/cast/cast.go
  lib/ethclient/enginemock.go
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/evmengine.proto
  octane/evmengine/keeper/helpers.go
  octane/evmengine/keeper/msg_server.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server.go
  octane/evmengine/types/tx.pb.go
  octane/evmengine/types/tx.proto
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

fix(e2e/solve): fix token salt
  e2e/solve/devapp/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feature(lib/feature): add support for feature flags
  e2e/app/setup.go
  e2e/types/manifest.go
  halo/app/start.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestCLIReference_rollback.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/cmd/testinput/input1/config/halo.toml
  halo/config/config.go
  halo/config/config.toml.tmpl
  halo/config/config_test.go
  halo/config/testdata/test_halo.toml
  halo/evmstaking/evmstaking.go
  lib/feature/feature.go
  lib/feature/feature_test.go
  lib/feature/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(lib/feature): add support for feature flags (#2519)
  e2e/app/setup.go
  e2e/types/manifest.go
  halo/app/start.go
  halo/cmd/flags.go
  halo/cmd/testdata/TestCLIReference_rollback.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/cmd/testinput/input1/config/halo.toml
  halo/config/config.go
  halo/config/config.toml.tmpl
  halo/config/config_test.go
  halo/config/testdata/test_halo.toml
  halo/evmstaking/evmstaking.go
  lib/feature/feature.go
  lib/feature/feature_test.go
  lib/feature/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(octane/evmengine): fix next proposer algo
  halo/app/lazyvoter.go
  halo/app/start.go
  halo/comet/comet.go
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/keeper_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(halo/attest): dont insert attestations without sigs
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(octane/evmengine): reject payloads with deposits
  octane/evmengine/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(halo/app): ensure first proposal is empty
  halo/app/prouter.go
  halo/app/prouter_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(halo/cmd): fix flapping test
  halo/cmd/cmd_internal_test.go
Due: run-go-tests, run-golint, run-goversion

test(halo/cmd): fix flapping test (#2530)
  halo/cmd/cmd_internal_test.go
Due: run-go-tests, run-golint, run-goversion

fix(e2e/solve): fix token salt (#2523)
  e2e/solve/devapp/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(octane/evmengine): fix next proposer algo (#2526)
  halo/app/lazyvoter.go
  halo/app/start.go
  halo/comet/comet.go
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/keeper_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat: add evmstkaing2 module boilerplate
  halo/evmstaking2/keeper/evmstaking2.cosmos_orm.go
  halo/evmstaking2/keeper/evmstaking2.pb.go
  halo/evmstaking2/keeper/evmstaking2.proto
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/module/module.go
  halo/evmstaking2/module/module.proto
  halo/evmstaking2/module/module.pulsar.go
  halo/evmstaking2/types/keys.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

refactored FeeOracleV2 for better update efficiency
  contracts/bindings/admin.go
  contracts/bindings/feeoraclev2.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/src/interfaces/IConversionRateOracleV2.sol
  contracts/core/src/interfaces/IFeeOracleV2.sol
  contracts/core/src/xchain/FeeOracleV2.sol
  contracts/core/test/xchain/FeeOracleV2.t.sol
Due: run-go-tests, run-golint, run-goversion

remove duplicate field
  contracts/core/.gas-snapshot
  contracts/core/src/interfaces/IFeeOracleV2.sol
  contracts/core/src/xchain/FeeOracleV2.sol
Due: none

feat(e2e): allow forking public chains
  e2e/anvilproxy/app/anvil.go
  e2e/anvilproxy/app/config.go
  e2e/anvilproxy/cmd/cmd.go
  e2e/app/definition.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/manifests/devnetsolve.toml
  e2e/types/manifest.go
  e2e/types/testnet.go
  e2e/vmcompose/testdata/TestSetup_127-0-0-3-compose.yaml.golden
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(halo/attest): delete empty attestations on double-sign detection
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

futher refactored FeeOracleV2, tests need fixing
  contracts/core/src/interfaces/IConversionRateOracleV2.sol
  contracts/core/src/interfaces/IFeeOracleV2.sol
  contracts/core/src/xchain/FeeOracleV2.sol
Due: none

fix(halo/attest): delete empty attestations on double-sign detection (#2524)
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(halo/app): ensure proposal tx count (#2529)
  halo/app/prouter.go
  halo/app/prouter_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(octane/evmengine): reject payloads with deposits (#2528)
  octane/evmengine/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(octane/evmengine): prevent json data injection
  octane/evmengine/keeper/helpers.go
  octane/evmengine/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix: module name
  halo/evmstaking2/types/keys.go
Due: run-go-tests, run-golint, run-regexp, run-goversion
