Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

chore(lib/cctp): add oldest msg metric (#3831)
  lib/cctp/metrics.go
  lib/cctp/mint.go
  lib/cctp/monitor.go
  monitor/cctpgen/cctpgen.go
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/cctp): reduce public interface
  lib/cctp/audit.go
  lib/cctp/cctp.go
  lib/cctp/integration_test.go
  lib/cctp/mint.go
  lib/cctp/monitor.go
  lib/cctp/options.go
  monitor/cctpgen/cctpgen.go
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/cctp): reduce public interface (#3834)
  lib/cctp/audit.go
  lib/cctp/cctp.go
  lib/cctp/integration_test.go
  lib/cctp/mint.go
  lib/cctp/monitor.go
  lib/cctp/options.go
  monitor/cctpgen/cctpgen.go
  solver/rebalance/start.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): reduce OMNI max spend to 450k
  solver/app/testdata/TestTokens.golden
  solver/app/testdata/TestTokens/tokens_response.json
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): reduce OMNI max spend to 450k (#3835)
  solver/app/testdata/TestTokens.golden
  solver/app/testdata/TestTokens/tokens_response.json
  solver/app/tokens.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifests): bump solver pins
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

fix(monitor/cctpgen): trim network to supported cctp chains
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(monitor/cctpgen): trim network to supported cctp chains (#3837)
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/manifests): bump solver pins (#3836)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(contracts/solvernet): filter HL chains
  e2e/solve/deploy.go
  lib/contracts/solvernet/chains.go
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  lib/contracts/solvernet/chains_test.go
Due: run-go-tests, run-golint, run-goversion

chore(sdk): add integration tests for core package
  sdk/integration-tests/package.json
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/suites/react-hooks.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/test-utils/src/account.ts
  sdk/pnpm-lock.yaml
Due: none

chore(contracts/solvernet): filter HL chains (#3838)
  e2e/solve/deploy.go
  lib/contracts/solvernet/chains.go
  lib/contracts/solvernet/chains_test.go
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/flowgen): enable mainnet swaps
  monitor/flowgen/bridging/config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/flowgen): enable mainnet swaps (#3840)
  monitor/flowgen/bridging/config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e/manifest): bump mainnet solver to 33faf3b
  e2e/manifests/mainnet.toml
Due: none

cleanup
  e2e/manifests/mainnet.toml
Due: none

ci(e2e/manifest): bump mainnet monitor to 33faf3b (#3841)
  e2e/manifests/mainnet.toml
Due: none

increase funding for manager role
  e2e/app/eoa/fund.go
  e2e/app/eoa/testdata/threshold_reference.json
  e2e/app/fund.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(ci): increase funding for manager role (#3839)
  e2e/app/eoa/fund.go
  e2e/app/eoa/testdata/threshold_reference.json
  e2e/app/fund.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Update integration test flows setup to run concurrently
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/suites/react-hooks.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/test-utils/src/account.ts
Due: none

chore(docs): add docs on native and erc20 transfers
  docs/docs/pages/guides/contracts-without-onbehalfof.mdx
  docs/docs/pages/guides/multistep-deposit.mdx
  docs/docs/pages/guides/template.mdx
  docs/docs/pages/guides/transfers.mdx
  docs/vocs.config.tsx
Due: none

chore(docs): add docs on native and erc20 transfers (#3842)
  docs/docs/pages/guides/contracts-without-onbehalfof.mdx
  docs/docs/pages/guides/multistep-deposit.mdx
  docs/docs/pages/guides/template.mdx
  docs/docs/pages/guides/transfers.mdx
  docs/vocs.config.tsx
Due: none

chore(sdk): sync react package and run unit tests in CI
  .github/workflows/sdk-unit-test.yaml
  sdk/package.json
  sdk/packages/core/src/constants/abis.test.ts
  sdk/packages/core/test/assets/SolverNetInbox.json
  sdk/packages/core/test/assets/SolverNetMiddleman.json
  sdk/packages/core/test/assets/SolverNetOutbox.json
  sdk/packages/react-next/src/hooks/useQuote.ts
Due: none

chore(*): fix biome precommit
  .pre-commit/run_sdk_checks.sh
Due: none

chore(sdk): core integration tests (#3843)
  sdk/integration-tests/package.json
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/suites/react-hooks.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/core/src/api/getQuote.ts
  sdk/packages/test-utils/src/account.ts
  sdk/pnpm-lock.yaml
Due: none

chore(lib/cctp): fix metric namespace
  lib/cctp/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(*): update cmd
  .pre-commit/run_sdk_checks.sh
Due: none

chore(*): enable sdk check in pc config
  .pre-commit-config.yaml
Due: none

chore(lib/cctp): fix metric namespace (#3846)
  lib/cctp/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(*): fix biome precommit (#3845)
  .pre-commit-config.yaml
  .pre-commit/run_sdk_checks.sh
Due: none

chore(monitor/cctpgen): enable mainnet
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/cctpgen): enable mainnet (#3847)
  monitor/cctpgen/cctpgen.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): sync react package (#3844)
  .github/workflows/sdk-unit-test.yaml
  sdk/package.json
  sdk/packages/core/src/constants/abis.test.ts
  sdk/packages/core/test/assets/SolverNetInbox.json
  sdk/packages/core/test/assets/SolverNetMiddleman.json
  sdk/packages/core/test/assets/SolverNetOutbox.json
  sdk/packages/react-next/src/hooks/useQuote.ts
Due: none

configure hyperlane chains
  lib/contracts/solvernet/chains.go
  lib/evmchain/evmchain.go
  lib/tokens/asset.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix golden
  e2e/types/testdata/TestAttestIntervals.golden
Due: none

use evmchain constants
  lib/contracts/solvernet/chains.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

rebase
  e2e/types/testdata/TestAttestIntervals.golden
Due: none

feat(lib): configure hyperlane chains (#3818)
  lib/contracts/solvernet/chains.go
  lib/evmchain/evmchain.go
  lib/tokens/asset.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
