Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

ci(e2e): enable deploying omega testnet
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): enable deploying omega testnet (#1258)
  e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

docs(contracts): fix typos (#1254)
  contracts/script/DeployAVS.sol
  contracts/src/token/OmniBridgeNative.sol
  contracts/src/xchain/OmniPortal.sol
  contracts/test/avs/OmniAVS_syncWithOmni.t.sol
Due: none

fix(octane): explicit execution head state
  e2e/app/geth/config.go
  e2e/app/setup.go
  halo/app/abci.go
  halo/app/app_config.go
  halo/app/start.go
  halo/app/start_test.go
  halo/cmd/init.go
  halo/genutil/genutil.go
  halo/genutil/genutil_test.go
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/ethclient/enginemock.go
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/evmengine.cosmos_orm.go
  octane/evmengine/keeper/evmengine.pb.go
  octane/evmengine/keeper/evmengine.proto
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/keeper_internal_test.go
  octane/evmengine/keeper/msg_server.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server_internal_test.go
  octane/evmengine/module/module.go
  octane/evmengine/types/genesis.go
  octane/evmengine/types/tx.pb.go
  octane/evmengine/types/tx.proto
Due: run-buf, run-go-tests, run-regexp, run-goversion

fix(octane): explicit execution head state (#1260)
  e2e/app/geth/config.go
  e2e/app/setup.go
  halo/app/abci.go
  halo/app/app_config.go
  halo/app/start.go
  halo/app/start_test.go
  halo/cmd/init.go
  halo/genutil/genutil.go
  halo/genutil/genutil_test.go
  halo/genutil/testdata/TestMakeGenesis.golden
  lib/ethclient/enginemock.go
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/abci_internal_test.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/evmengine.cosmos_orm.go
  octane/evmengine/keeper/evmengine.pb.go
  octane/evmengine/keeper/evmengine.proto
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/keeper_internal_test.go
  octane/evmengine/keeper/msg_server.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server_internal_test.go
  octane/evmengine/module/module.go
  octane/evmengine/types/genesis.go
  octane/evmengine/types/tx.pb.go
  octane/evmengine/types/tx.proto
Due: run-buf, run-go-tests, run-regexp, run-goversion

refactor(*): refactor nested attestation root
  halo/attest/keeper/attestation.cosmos_orm.go
  halo/attest/keeper/attestation.pb.go
  halo/attest/keeper/attestation.proto
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/cpayload.go
  halo/attest/keeper/cpayload_internal_test.go
  halo/attest/keeper/helper.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/keeper/msg_server.go
  halo/attest/types/translate.go
  halo/attest/types/tx.go
  halo/attest/types/tx.pb.go
  halo/attest/types/tx.proto
  halo/attest/voter/vote.go
  lib/merkle/msg_test.go
  lib/xchain/merkle.go
  lib/xchain/merkle_test.go
  lib/xchain/types.go
  relayer/app/creator.go
  relayer/app/creator_test.go
  relayer/app/types.go
  relayer/app/worker.go
  relayer/app/worker_internal_test.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

update portal xsubmit proof verification
  contracts/.gas-snapshot
  contracts/bindings/omnibridgel1.go
  contracts/bindings/omnibridgenative.go
  contracts/bindings/omnibridgenative_more.go
  contracts/bindings/omnibridgenative_storage_layout.json
  contracts/bindings/omniportal.go
  contracts/bindings/portalregistry_storage_layout.json
  contracts/bindings/staking_storage_layout.json
  contracts/src/libraries/XBlockMerkleProof.sol
  contracts/test/xchain/data/xsubs.json
  contracts/test/xchain/data/xsubs_decoded.json
  contracts/test/xchain/ts/merkle.ts
  contracts/test/xchain/ts/script/genxsubs/main.ts
  e2e/app/tokenbridge.go
Due: run-go-tests, run-regexp, run-goversion

docs(learn/protocol): links and testnet name update (#1256)
  docs/site/docs/learn/testnet/testnet.md
  docs/site/docs/protocol/xmessages/components/portals.md
Due: none

add pavel's address
  halo/genutil/evm/evm.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo/genutil): add pavels address (#1261)
  halo/genutil/evm/evm.go
Due: run-go-tests, run-regexp, run-goversion

chore(github): add aayush to code owners
  .github/CODEOWNERS
Due: none

refactor(halo/attest): improve vote extension verification
  halo/attest/keeper/cpayload.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/valaddr.go
  halo/attest/keeper/valcache.go
  lib/xchain/provider.go
Due: run-go-tests, run-regexp, run-goversion

refactor(halo/attest): improve vote extension verification (#1262)
  halo/attest/keeper/cpayload.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/valaddr.go
  halo/attest/keeper/valcache.go
  lib/xchain/provider.go
Due: run-go-tests, run-regexp, run-goversion

chore(github): add aayush to code owners (#1263)
  .github/CODEOWNERS
Due: none

feat(contracts): add granular pausing to portals
  contracts/.gas-snapshot
  contracts/bindings/omnibridgenative_storage_layout.json
  contracts/bindings/omniportal.go
  contracts/bindings/portalregistry_storage_layout.json
  contracts/bindings/proxyadmin_storage_layout.json
  contracts/src/interfaces/IOmniPortalAdmin.sol
  contracts/src/utils/Pausable.sol
  contracts/src/xchain/OmniPortal.sol
  contracts/src/xchain/OmniPortalConstants.sol
  contracts/test/utils/MockPortal.sol
  contracts/test/xchain/OmniPortal_admin.t.sol
  contracts/test/xchain/OmniPortal_xsubmit.t.sol
Due: run-go-tests, run-goversion

fix(halo/registry): add tests and fix issues
  .golangci.yml
  e2e/app/portalregistry.go
  e2e/app/run.go
  e2e/app/setup.go
  e2e/test/e2e_test.go
  halo/registry/keeper/helper.go
  halo/registry/keeper/keeper.go
  halo/registry/keeper/logeventproc.go
  halo/registry/keeper/logeventproc_internal_test.go
  lib/fireblocks/client_test.go
  lib/tracer/trace_test.go
  lib/tutil/random.go
  relayer/app/creator_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo/registry): add tests and fix issues (#1265)
  .golangci.yml
  e2e/app/portalregistry.go
  e2e/app/run.go
  e2e/app/setup.go
  e2e/test/e2e_test.go
  halo/registry/keeper/helper.go
  halo/registry/keeper/keeper.go
  halo/registry/keeper/logeventproc.go
  halo/registry/keeper/logeventproc_internal_test.go
  lib/fireblocks/client_test.go
  lib/tracer/trace_test.go
  lib/tutil/random.go
  relayer/app/creator_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(contracts): add granular pausing to portals (#1264)
  contracts/.gas-snapshot
  contracts/bindings/omnibridgenative_storage_layout.json
  contracts/bindings/omniportal.go
  contracts/bindings/portalregistry_storage_layout.json
  contracts/bindings/proxyadmin_storage_layout.json
  contracts/src/interfaces/IOmniPortalAdmin.sol
  contracts/src/utils/Pausable.sol
  contracts/src/xchain/OmniPortal.sol
  contracts/src/xchain/OmniPortalConstants.sol
  contracts/test/utils/MockPortal.sol
  contracts/test/xchain/OmniPortal_admin.t.sol
  contracts/test/xchain/OmniPortal_xsubmit.t.sol
Due: run-go-tests, run-goversion

docs(quickstart): simplify command deps
  docs/site/docs/develop/quickstart/quickstart.md
Due: none

docs(quickstart): simplify command deps (#1268)
  docs/site/docs/develop/quickstart/quickstart.md
Due: none

docs(quickstart): add deployment env vars
  docs/site/docs/develop/quickstart/quickstart.md
Due: none

docs(quickstart): add deployment env vars (#1269)
  docs/site/docs/develop/quickstart/quickstart.md
Due: none

fix(halo/relayer): increase gas limit of consensus chain submissions
  lib/netconf/provider.go
  relayer/app/app.go
  relayer/app/creator.go
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo/relayer): increase gas limit of consensus chain submissions (#1270)
  lib/netconf/provider.go
  relayer/app/app.go
  relayer/app/creator.go
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

fix consensus rpc
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

increase network version
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/netconf): increase network version (#1272)
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

fix link
  cli/README.md
Due: none

update cli readme
  cli/README.md
Due: none

chore(cli): update cli readme (#1275)
  cli/README.md
Due: none

docs(cli): mention explorer in cli
  docs/site/docs/tools/cli/developer.md
Due: none

docs(cli): mention explorer in cli (#1276)
  docs/site/docs/tools/cli/developer.md
Due: none

use single admin account
  e2e/app/eoa/eoa.go
  e2e/app/eoa/fund.go
  e2e/app/eoa/helpers.go
  e2e/app/eoa/static.go
  e2e/app/fund.go
  lib/contracts/avs/avs_test.go
  lib/contracts/avs/deploy.go
  lib/contracts/feeoraclev1/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/contracts/proxyadmin/deploy.go
  lib/contracts/proxyadmin/deploy_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib/netconf): fix consensus rpc (#1271)
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion
