Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

feat(solver): reject quotes outside spend boundaries
  lib/bi/unit.go
  lib/bi/unit_test.go
  lib/tokens/tokens.go
  solver/app/check.go
  solver/app/handler.go
  solver/app/pnl.go
  solver/app/pnl_internal_test.go
  solver/app/quote.go
  solver/app/quote_internal_test.go
  solver/app/testdata/TestQuote/expense_over_max/req_body.json
  solver/app/testdata/TestQuote/expense_over_max/resp_body.json
  solver/app/testdata/TestQuote/expense_under_min/req_body.json
  solver/app/testdata/TestQuote/expense_under_min/resp_body.json
  solver/app/testdata/TestQuote/quote_deposit_1_eth_expense/resp_body.json
  solver/app/testdata/TestQuote/quote_expense_1_OMNI_deposit/resp_body.json
  solver/types/api.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver): reject quotes outside spend boundaries (#3577)
  lib/bi/unit.go
  lib/bi/unit_test.go
  lib/tokens/tokens.go
  solver/app/check.go
  solver/app/handler.go
  solver/app/pnl.go
  solver/app/pnl_internal_test.go
  solver/app/quote.go
  solver/app/quote_internal_test.go
  solver/app/testdata/TestQuote/expense_over_max/req_body.json
  solver/app/testdata/TestQuote/expense_over_max/resp_body.json
  solver/app/testdata/TestQuote/expense_under_min/req_body.json
  solver/app/testdata/TestQuote/expense_under_min/resp_body.json
  solver/app/testdata/TestQuote/quote_deposit_1_eth_expense/resp_body.json
  solver/app/testdata/TestQuote/quote_expense_1_OMNI_deposit/resp_body.json
  solver/types/api.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix mock engine
  lib/ethclient/enginemock.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): add withExecAndTransfer docs
  sdk/packages/react/README.md
Due: none

chore(sdk): add withExecAndTransfer docs (#3582)
  sdk/packages/react/README.md
Due: none

chore(e2e): bump solver monitor pins
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(e2e): bump solver monitor pins (#3583)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(halo): fix pending blocks attest metric
  halo/attest/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

wip
  halo/evmstaking/keeper/keeper.go
  halo/evmstaking/types/interfaces.go
  halo/withdraw/wrapper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

review
  octane/evmengine/keeper/abci.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/keeper/keeper.go
  octane/evmengine/keeper/keeper_internal_test.go
  octane/evmengine/keeper/msg_server.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

undelegate bindings
  contracts/bindings/admin.go
  contracts/bindings/allocpredeploys.go
  contracts/bindings/staking.go
  contracts/core/.gas-snapshot
  contracts/core/src/octane/Staking.sol
Due: run-go-tests, run-golint, run-goversion

chore(lib/ethclient): close idle connections periodically
  cli/cmd/devnet.go
  cli/cmd/staking.go
  e2e/anvilproxy/app/anvil.go
  e2e/anvilproxy/app/xmsg.go
  e2e/app/admin/bridgespec.go
  e2e/app/admin/portalspec.go
  e2e/app/admin/solvernetspec.go
  e2e/app/admin/upgrade.go
  e2e/app/definition.go
  e2e/app/valupdates.go
  e2e/cmd/util.go
  e2e/solve/test.go
  e2e/xbridge/test.go
  halo/app/lazyvoter.go
  halo/app/monitor.go
  lib/anvil/anvil.go
  lib/contracts/address.go
  lib/ethclient/ethbackend/backends.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  lib/ethclient/mock/mock_interfaces.go
  lib/xchain/connect/connect.go
  monitor/app/app.go
  monitor/app/public_rpc.go
  monitor/flowgen/flowgen.go
  monitor/loadgen/loadgen.go
  monitor/xfeemngr/xfeemngr.go
  relayer/app/app.go
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(eoa): remove flowgen solvernet thresholds
  e2e/app/eoa/solver.go
  e2e/app/eoa/solver_test.go
  e2e/app/eoa/testdata/flowgen_reference.json
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(eoa): remove flowgen solvernet thresholds (#3591)
  e2e/app/eoa/solver.go
  e2e/app/eoa/solver_test.go
  e2e/app/eoa/testdata/flowgen_reference.json
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/ethclient): close idle connections periodically (#3590)
  cli/cmd/devnet.go
  cli/cmd/staking.go
  e2e/anvilproxy/app/anvil.go
  e2e/anvilproxy/app/xmsg.go
  e2e/app/admin/bridgespec.go
  e2e/app/admin/portalspec.go
  e2e/app/admin/solvernetspec.go
  e2e/app/admin/upgrade.go
  e2e/app/definition.go
  e2e/app/valupdates.go
  e2e/cmd/util.go
  e2e/solve/test.go
  e2e/xbridge/test.go
  halo/app/lazyvoter.go
  halo/app/monitor.go
  lib/anvil/anvil.go
  lib/contracts/address.go
  lib/ethclient/ethbackend/backends.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  lib/ethclient/mock/mock_interfaces.go
  lib/xchain/connect/connect.go
  monitor/app/app.go
  monitor/app/public_rpc.go
  monitor/flowgen/flowgen.go
  monitor/loadgen/loadgen.go
  monitor/xfeemngr/xfeemngr.go
  relayer/app/app.go
  solver/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

upgrade omega
  e2e/manifests/omega.toml
Due: none

chore(solver/api): standardise structured errors
  e2e/app/eoa/solver_test.go
  e2e/app/eoa/static_test.go
  e2e/app/eoa/testdata/solver_reference.json
  e2e/app/eoa/testdata/threshold_reference.json
  lib/errors/errors_test.go
  lib/errors/structured.go
  lib/tokens/tokens.go
  monitor/account/monitor.go
  sdk/integration-tests/suites/hooks.tsx
  solver/app/check.go
  solver/app/handler.go
  solver/app/quote.go
  solver/app/quote_internal_test.go
  solver/app/reject.go
  solver/app/testdata/TestCheck/insufficient_deposit/resp_body.json
  solver/app/testdata/TestCheck/insufficient_native_balance/resp_body.json
  solver/app/testdata/TestQuote/expense_over_max/resp_body.json
  solver/app/testdata/TestQuote/expense_under_min/resp_body.json
  solver/app/types.go
  solver/tokens/testdata/TestTokens.golden
  solver/tokens/tokens_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): prepare omega upgrade (#3592)
  e2e/manifests/omega.toml
Due: none

chore(solver/api): standardise structured errors (#3587)
  e2e/app/eoa/solver_test.go
  e2e/app/eoa/static_test.go
  e2e/app/eoa/testdata/solver_reference.json
  e2e/app/eoa/testdata/threshold_reference.json
  lib/errors/errors_test.go
  lib/errors/structured.go
  lib/tokens/tokens.go
  monitor/account/monitor.go
  sdk/integration-tests/suites/hooks.tsx
  solver/app/check.go
  solver/app/handler.go
  solver/app/quote.go
  solver/app/quote_internal_test.go
  solver/app/reject.go
  solver/app/testdata/TestCheck/insufficient_deposit/resp_body.json
  solver/app/testdata/TestCheck/insufficient_native_balance/resp_body.json
  solver/app/testdata/TestQuote/expense_over_max/resp_body.json
  solver/app/testdata/TestQuote/expense_under_min/resp_body.json
  solver/app/types.go
  solver/tokens/testdata/TestTokens.golden
  solver/tokens/tokens_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(sdk): get order status
  sdk/packages/react/src/hooks/useGetOrderStatus.test-d.ts
  sdk/packages/react/src/hooks/useGetOrderStatus.test.ts
Due: none

chore(sdk): add integration tests for contracts
  e2e/test/sdk_test.go
  sdk/integration-tests/assets/SolverNetInbox.json
  sdk/integration-tests/assets/SolverNetMiddleman.json
  sdk/integration-tests/assets/SolverNetOutbox.json
  sdk/integration-tests/suites/contracts.ts
  sdk/packages/react/src/constants/abis.ts
  sdk/packages/react/src/hooks/useGetOrder.test.ts
  sdk/packages/react/src/hooks/useInboxStatus.test.ts
Due: run-go-tests, run-golint, run-goversion

test(sdk): get order status (#3597)
  sdk/packages/react/src/hooks/useGetOrderStatus.test-d.ts
  sdk/packages/react/src/hooks/useGetOrderStatus.test.ts
Due: none

refactor(monitor/flowgen): split bridge orders
  lib/contracts/solvernet/types.go
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/bridging/bridging_internal_test.go
  monitor/flowgen/bridging/config.go
  monitor/flowgen/flowgen.go
  monitor/flowgen/symbiotic/symbiotic.go
  monitor/flowgen/types/types.go
  solver/types/api.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Add foundry to E2E tests workflows
  .github/workflows/e2etest.yaml
  .github/workflows/pr-e2etest.yaml
Due: none

test(sdk): useOmniContracts units
  sdk/packages/react/src/hooks/useOmniContracts.test-d.ts
  sdk/packages/react/src/hooks/useOmniContracts.test.ts
  sdk/packages/react/src/hooks/useOmniContracts.ts
  sdk/packages/react/test/mocks.ts
  sdk/packages/react/test/react.ts
Due: none

test(sdk): remove redundant asserts
  sdk/packages/react/src/hooks/useOmniContracts.test.ts
Due: none

test(sdk): useOmniContracts units (#3602)
  sdk/packages/react/src/hooks/useOmniContracts.test-d.ts
  sdk/packages/react/src/hooks/useOmniContracts.test.ts
  sdk/packages/react/src/hooks/useOmniContracts.ts
  sdk/packages/react/test/mocks.ts
  sdk/packages/react/test/react.ts
Due: none

chore(sdk): add integration tests for contracts (#3598)
  .github/workflows/e2etest.yaml
  .github/workflows/pr-e2etest.yaml
  e2e/test/sdk_test.go
  sdk/integration-tests/assets/SolverNetInbox.json
  sdk/integration-tests/assets/SolverNetMiddleman.json
  sdk/integration-tests/assets/SolverNetOutbox.json
  sdk/integration-tests/suites/contracts.ts
  sdk/packages/react/src/constants/abis.ts
  sdk/packages/react/src/hooks/useGetOrder.test.ts
  sdk/packages/react/src/hooks/useInboxStatus.test.ts
Due: run-go-tests, run-golint, run-goversion

adds empty drake upgrade
  halo/app/upgrades/drake/upgrade.go
  halo/app/upgrades/upgrades.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(sdk): fix open log parsing
  sdk/integration-tests/test-utils.tsx
  sdk/integration-tests/vitest.config.ts
  sdk/packages/react/src/hooks/useParseOpenEvent.ts
  sdk/packages/test-utils/src/constants.ts
Due: none

fix(sdk): fix open log parsing (#3607)
  sdk/integration-tests/test-utils.tsx
  sdk/integration-tests/vitest.config.ts
  sdk/packages/react/src/hooks/useParseOpenEvent.ts
  sdk/packages/test-utils/src/constants.ts
Due: none

chore(sdk): bump react sdk version
  sdk/packages/react/package.json
Due: none

add unbonding time param upgrade
  halo/app/app.go
  halo/app/upgrades/drake/upgrade.go
  halo/app/upgrades/drake/upgrade_internal_test.go
  halo/app/upgrades/upgrades.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): bump react sdk version (#3608)
  sdk/packages/react/package.json
Due: none

chore(sdk): prefer return error over throw
  sdk/packages/react/src/hooks/useParseOpenEvent.ts
Due: none

flipped open events
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
Due: run-go-tests, run-golint, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
