Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

chore(contracts/solve): flipped open events (#3611)
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
Due: run-go-tests, run-golint, run-goversion

implemented gasless orders
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/SolverNetPostUpgradeTest.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/erc7683/IOriginSettler.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/MarkFilled.t.sol
  contracts/solve/test/inbox/Open.t.sol
  contracts/solve/test/inbox/Resolve.t.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/outbox/Fill.t.sol
  contracts/solve/test/utils/MockSolverNetInbox.sol
Due: run-go-tests, run-golint, run-goversion

implemented permit2 into gasless flow
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/ext/IPermit2.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/utils/MockSolverNetInbox.sol
Due: run-go-tests, run-golint, run-goversion

adjusted typehash and rebased
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/test/utils/MockSolverNetInbox.sol
Due: run-go-tests, run-golint, run-goversion

feat(contracts/solve): implemented gasless orders (#3605)
  contracts/bindings/admin.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/SolverNetPostUpgradeTest.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/erc7683/IOriginSettler.sol
  contracts/solve/src/ext/IPermit2.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/inbox/MarkFilled.t.sol
  contracts/solve/test/inbox/Open.t.sol
  contracts/solve/test/inbox/Resolve.t.sol
  contracts/solve/test/inbox/Validate.t.sol
  contracts/solve/test/outbox/Fill.t.sol
  contracts/solve/test/utils/MockSolverNetInbox.sol
Due: run-go-tests, run-golint, run-goversion

implemented orders with onchain fee sponsorship
  contracts/bindings/admin.go
  contracts/bindings/isolvernetbindings.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/script/admin/Admin.s.sol
  contracts/core/script/manual/genesis-staking/MainnetGenesisStake.s.sol
  contracts/core/test/token/MerkleDistributorWithDeadline.t.sol
  contracts/solve/.gas-snapshot
  contracts/solve/src/SolverNetInbox.sol
  contracts/solve/src/ext/IWETH.sol
  contracts/solve/src/interfaces/ISolverNetInbox.sol
  contracts/solve/src/lib/SolverNet.sol
  contracts/solve/test/TestBase.sol
  contracts/solve/test/utils/MockSolverNetInbox.sol
Due: run-go-tests, run-golint, run-goversion

adds empty drake upgrade
  halo/app/upgrades/drake/upgrade.go
  halo/app/upgrades/upgrades.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add unbonding time param upgrade
  halo/app/app.go
  halo/app/upgrades/drake/upgrade.go
  halo/app/upgrades/drake/upgrade_internal_test.go
  halo/app/upgrades/upgrades.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix ephemeral genesis
  e2e/test/module_test.go
  halo/app/upgrades/drake/upgrade.go
  halo/app/upgrades/drake/upgrade_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

refactoring
  e2e/test/module_test.go
  halo/app/upgrades/drake/upgrade.go
  halo/app/upgrades/drake/upgrade_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix tests
  halo/app/upgrades/drake/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(halo): adds empty drake upgrade (#3606)
  e2e/test/module_test.go
  halo/app/app.go
  halo/app/upgrades/drake/upgrade.go
  halo/app/upgrades/upgrades.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(ethclient/headerdb): prevent deadlock
  lib/ethclient/headerdb/headerdb.go
  lib/ethclient/headerdb/headerdb_internal_test.go
  lib/ethclient/headerdb/headerdb_test.go
  monitor/xmonitor/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Revert "chore(halo): adds empty drake upgrade (#3606)"
  e2e/test/module_test.go
  halo/app/app.go
  halo/app/upgrades/drake/upgrade.go
  halo/app/upgrades/upgrades.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(halo): revert drake upgrade (#3614)
  e2e/test/module_test.go
  halo/app/app.go
  halo/app/upgrades/drake/upgrade.go
  halo/app/upgrades/upgrades.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/solvernet): fix parsing of events in OpenOrder
  lib/contracts/solvernet/order.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(ethclient/headerdb): prevent deadlock (#3615)
  lib/ethclient/headerdb/headerdb.go
  lib/ethclient/headerdb/headerdb_internal_test.go
  lib/ethclient/headerdb/headerdb_test.go
  monitor/xmonitor/monitor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): POC action used by React package
  sdk/packages/core/src/actions/getOrder.ts
  sdk/packages/core/src/index.ts
  sdk/packages/react/src/hooks/useGetOrder.ts
Due: none

chore(lib/solvernet): fix parsing of events in OpenOrder (#3616)
  lib/contracts/solvernet/order.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

update OZ and solady deps
  contracts/bindings/admin.go
  contracts/bindings/mockerc20.go
  contracts/bindings/mockvault.go
  contracts/bindings/solvernetexecutor.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetmiddleman.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/package.json
  contracts/core/pnpm-lock.yaml
  contracts/solve/package.json
  contracts/solve/pnpm-lock.yaml
Due: run-go-tests, run-golint, run-goversion

chore(contracts): update OZ and solady deps (#3627)
  contracts/bindings/admin.go
  contracts/bindings/mockerc20.go
  contracts/bindings/mockvault.go
  contracts/bindings/solvernetexecutor.go
  contracts/bindings/solvernetinbox.go
  contracts/bindings/solvernetmiddleman.go
  contracts/bindings/solvernetoutbox.go
  contracts/core/package.json
  contracts/core/pnpm-lock.yaml
  contracts/solve/package.json
  contracts/solve/pnpm-lock.yaml
Due: run-go-tests, run-golint, run-goversion

chore(sdk): increase integration test timeout
  sdk/integration-tests/suites/flows.tsx
Due: none

refactor(monitor/flowgen): split bridge orders (#3599)
  lib/contracts/solvernet/types.go
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/bridging/bridging_internal_test.go
  monitor/flowgen/bridging/config.go
  monitor/flowgen/flowgen.go
  monitor/flowgen/symbiotic/symbiotic.go
  monitor/flowgen/types/types.go
  solver/types/api.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): increase integration test timeout (#3629)
  sdk/integration-tests/suites/flows.tsx
Due: none

chore(solver/client): support quote endpoint
  solver/app/quote_internal_test.go
  solver/client/client.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/client): support quote endpoint (#3630)
  solver/app/quote_internal_test.go
  solver/client/client.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/flowgen): use solver quote endpoint
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/flowgen.go
  monitor/flowgen/symbiotic/config.go
  monitor/flowgen/symbiotic/symbiotic.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/flowgen): use solver quote endpoint (#3631)
  monitor/flowgen/bridging/bridging.go
  monitor/flowgen/flowgen.go
  monitor/flowgen/symbiotic/config.go
  monitor/flowgen/symbiotic/symbiotic.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

test(sdk): initial useOrder test and useQuote fixes
  sdk/packages/react/src/hooks/useOrder.test-d.ts
  sdk/packages/react/src/hooks/useOrder.test.ts
  sdk/packages/react/src/hooks/useOrder.ts
  sdk/packages/react/src/hooks/useQuote.test.ts
  sdk/packages/react/test/mocks.ts
  sdk/packages/react/test/shared.ts
Due: none

test(sdk): use falsy and truthy asserts
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/suites/hooks.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/react/src/hooks/useOmniContracts.test.ts
Due: none

test(sdk): update to stricter boolean check
  sdk/integration-tests/suites/flows.tsx
  sdk/integration-tests/suites/hooks.tsx
  sdk/integration-tests/test-utils.tsx
  sdk/packages/react/src/hooks/useDidFillOutbox.test.ts
  sdk/packages/react/src/hooks/useGetOrder.test.ts
  sdk/packages/react/src/hooks/useOmniContracts.test.ts
  sdk/packages/react/src/hooks/useQuote.test.ts
Due: none

test(sdk): replace promise.all
  sdk/packages/react/src/hooks/useOrder.test.ts
  sdk/packages/react/src/hooks/useQuote.test.ts
Due: none

test(sdk): initial useOrder tests and useQuote fixes (#3633)
  sdk/packages/react/src/hooks/useOrder.test-d.ts
  sdk/packages/react/src/hooks/useOrder.test.ts
  sdk/packages/react/src/hooks/useOrder.ts
  sdk/packages/react/src/hooks/useQuote.test.ts
  sdk/packages/react/test/mocks.ts
  sdk/packages/react/test/shared.ts
Due: none

test(sdk): use falsy and truthy asserts (#3634)
  sdk/integration-tests/suites/hooks.tsx
  sdk/packages/react/src/hooks/useDidFillOutbox.test.ts
  sdk/packages/react/src/hooks/useGetOrder.test.ts
  sdk/packages/react/src/hooks/useQuote.test.ts
Due: none

refactor(solver/app): extract price function interface
  e2e/solve/order_tracker.go
  e2e/solve/test.go
  e2e/test/sdk_test.go
  lib/bi/big.go
  lib/bi/unit_test.go
  solver/app/app.go
  solver/app/check.go
  solver/app/check_internal_test.go
  solver/app/pricer.go
  solver/app/quote.go
  solver/app/quote_internal_test.go
  solver/app/reject.go
  solver/app/reject_internal_test.go
  solver/job/db.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(sdk): dedicated CI workflow
  .github/workflows/ci-main.yaml
  .github/workflows/ci-pr.yaml
  .github/workflows/sdk-unit-test.yaml
  sdk/integration-tests/suites/contracts.ts
  sdk/packages/react/src/constants/abis.test.ts
  sdk/packages/react/test/assets/SolverNetInbox.json
  sdk/packages/react/test/assets/SolverNetMiddleman.json
  sdk/packages/react/test/assets/SolverNetOutbox.json
Due: none

refactor(solver/app): extract price function interface (#3632)
  e2e/solve/order_tracker.go
  e2e/solve/test.go
  e2e/test/sdk_test.go
  lib/bi/big.go
  lib/bi/unit_test.go
  solver/app/app.go
  solver/app/check.go
  solver/app/check_internal_test.go
  solver/app/pricer.go
  solver/app/quote.go
  solver/app/quote_internal_test.go
  solver/app/reject.go
  solver/app/reject_internal_test.go
  solver/job/db.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Add checkout action to SDK workflow
  .github/workflows/sdk-unit-test.yaml
  sdk/packages/react/src/constants/abis.test.ts
  sdk/packages/react/src/hooks/useParseOpenEvent.ts
Due: none

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
