Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

final fix
  halo/app/app.go
  halo/app/app_config.go
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/keeper/keeper_internal_test.go
  halo/evmstaking2/keeper/metrics.go
  halo/evmstaking2/module/module.go
  halo/evmstaking2/module/module.proto
  halo/evmstaking2/module/module.pulsar.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chores
  e2e/manifests/backwards.toml
  halo/evmstaking2/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): format mainnet URLs
  docs/content/core/mainnet.md
Due: none

review
  e2e/manifests/backwards.toml
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/keeper/metrics.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(falo/evmstaking2): integrate evmstaking2 if feature enabled (#2592)
  e2e/manifests/devnet2.toml
  halo/app/app.go
  halo/app/app_config.go
  halo/app/rollback.go
  halo/app/start.go
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/keeper/metrics.go
  halo/evmstaking2/module/module.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): support custom genesis upgrade
  e2e/app/run.go
  e2e/app/setup.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/docker/docker_test.go
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/types/manifest.go
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
  halo/app/upgrades.go
  scripts/halovisor/Dockerfile
Due: run-go-tests, run-golint, run-regexp, run-goversion

enable buffering feature on staging
  e2e/manifests/staging.toml
Due: none

feat(e2e/manisfests): enable buffering feature on staging (#2647)
  e2e/manifests/staging.toml
Due: none

chore(monitor/routerecon): support mainnet
  monitor/routerecon/recon.go
  monitor/routerecon/recon_internal_test.go
  monitor/routerecon/routescan.go
  monitor/routerecon/routescan_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

added avs impl deployer
  e2e/app/omniavs.go
  e2e/cmd/cmd.go
  lib/contracts/avs/deploy.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): update spelling errors
  docs/content/learn/core.md
Due: none

added manual foundry deployer for avs impl
  contracts/avs/package.json
  contracts/avs/pnpm-lock.yaml
  contracts/avs/script/avs/DeployAVS.s.sol
  contracts/bindings/avsdirectory.go
  contracts/bindings/delegationmanager.go
  contracts/bindings/mockerc20.go
  contracts/bindings/omniavs.go
  contracts/bindings/strategybase.go
  contracts/bindings/strategymanager.go
Due: run-go-tests, run-golint, run-goversion

Update evmstaking.go
  halo/evmstaking/evmstaking.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): support custom genesis upgrade (#2646)
  e2e/app/run.go
  e2e/app/setup.go
  e2e/docker/compose.yaml.tmpl
  e2e/docker/docker.go
  e2e/docker/docker_test.go
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network_upgrade.golden
  e2e/types/manifest.go
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
  halo/app/upgrades.go
  scripts/halovisor/Dockerfile
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix: improve metric
  halo/evmstaking2/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): update spelling errors (#2651)
  docs/content/learn/core.md
Due: none

fix: increase interval for staging
  halo/app/app_config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(halo/evmstaking2): improve delivered events metric (#2655)
  halo/app/app_config.go
  halo/evmstaking2/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor/routerecon): support mainnet (#2648)
  monitor/routerecon/recon.go
  monitor/routerecon/recon_internal_test.go
  monitor/routerecon/routescan.go
  monitor/routerecon/routescan_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/vmcompose): fix retry check logic
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/vmcompose): fix retry check logic (#2656)
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix: event stealing
  halo/app/app.go
  halo/app/app_config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(halo/evmstaking2): fix EVM event hijacking (#2664)
  halo/app/app.go
  halo/app/app_config.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): instrument inbox processed offset
  solver/app/app.go
  solver/app/helpers.go
  solver/app/metrics.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): instrument inbox processed offset (#2665)
  solver/app/app.go
  solver/app/helpers.go
  solver/app/metrics.go
  solver/app/procdeps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): event counter metric
  solver/app/metrics.go
  solver/app/processor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix: error on duplicate event processors
  octane/evmengine/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

return all create3 contracts
  scripts/stagingaddrs/main.go
Due: run-go-tests, run-golint, run-goversion

chore(solver/app): event counter metric (#2669)
  solver/app/metrics.go
  solver/app/processor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix deployedAt block number when on Arbitrum
  contracts/bindings/solveinbox.go
  contracts/bindings/solveoutbox.go
  contracts/solve/src/SolveInbox.sol
  contracts/solve/src/SolveOutbox.sol
  contracts/solve/src/interfaces/IArbSys.sol
Due: run-go-tests, run-golint, run-goversion

fix(contracts/solve): fix deployedAt on Arbitrum chains (#2672)
  contracts/bindings/solveinbox.go
  contracts/bindings/solveoutbox.go
  contracts/solve/src/SolveInbox.sol
  contracts/solve/src/SolveOutbox.sol
  contracts/solve/src/interfaces/IArbSys.sol
Due: run-go-tests, run-golint, run-goversion

fix: review comments
  octane/evmengine/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(octane/evmengine): error on duplicate event processors (#2670)
  octane/evmengine/keeper/keeper.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore: return error on unexpected code path
  Makefile
  halo/evmstaking/evmstaking.go
  halo/evmstaking2/keeper/keeper.go
  halo/evmstaking2/keeper/keeper_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(scripts): return all create3 contracts (#2671)
  scripts/stagingaddrs/main.go
Due: run-go-tests, run-golint, run-goversion

added sigma prime feeoraclev2 audit
  docs/website/static/sigma-prime-feeoraclev2.pdf
Due: none

chore(docs): added sigma prime feeoraclev2 audit (#2674)
  docs/website/static/sigma-prime-feeoraclev2.pdf
Due: none

added more context about state updates
  contracts/bindings/solveinbox.go
  contracts/bindings/solveoutbox.go
  contracts/solve/.gas-snapshot
  contracts/solve/src/Solve.sol
  contracts/solve/src/SolveInbox.sol
  contracts/solve/src/SolveOutbox.sol
  contracts/solve/src/interfaces/ISolveInbox.sol
  contracts/solve/test/Inbox_accept.t.sol
  contracts/solve/test/Inbox_cancel.t.sol
  contracts/solve/test/Inbox_claim.t.sol
  contracts/solve/test/Inbox_markFulfilled.t.sol
  contracts/solve/test/Inbox_reject.t.sol
  contracts/solve/test/Inbox_request.t.sol
Due: run-go-tests, run-golint, run-goversion

chore(docs): fix typo
  docs/content/solvernet/intro.md
Due: none

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
