Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
      - id: run-forge-fmt
        name: run-forge-fmt
        language: script
        entry: .pre-commit/run_forge_fmt.sh
        types: [ file, solidity ]

  # TODO(corver): Add hooks for the following:
  # - Auto-fix file license headers

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]
      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]

add solidity actions
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  .github/workflows/pre-commit.yml
  .github/workflows/soltest.yml
Due: none

add pnpm install
  .github/workflows/soltest.yml
Due: none

use contracts/package.json
  .github/workflows/soltest.yml
Due: none

add gas snapshot
  contracts/.gas-snapshot
Due: none

fix snapshot
  .pre-commit-config.yaml
  contracts/.gas-snapshot
Due: none

remove dummy workflow
  .github/workflows/soltest.yml
Due: none

cleanup
  .github/workflows/soltest.yml
Due: none

better visual output
  .github/workflows/soltest.yml
Due: none

run install
  .github/workflows/soltest.yml
Due: none

gs
  .github/workflows/soltest.yml
Due: none

revert
  .github/workflows/soltest.yml
Due: none

add snapshot to pre-commit
  .pre-commit/run_forge_tests.sh
Due: none

test(e2e): refactor e2e app flow
  .golangci.yml
  test/e2e/app/definition.go
  test/e2e/app/manifest.go
  test/e2e/app/monitor.go
  test/e2e/app/run.go
  test/e2e/app/setup.go
  test/e2e/app/start.go
  test/e2e/app/test.go
  test/e2e/cmd/cmd.go
  test/e2e/docker/data.go
  test/e2e/docker/docker.go
  test/e2e/docker/docker_test.go
  test/e2e/docker/testdata/TestComposeTemplate.golden
  test/e2e/manifests/devnet1.toml
  test/e2e/manifests/simple.toml
  test/e2e/manifests/staging.toml
  test/e2e/netman/devnet.go
  test/e2e/netman/helpers.go
  test/e2e/netman/manager.go
  test/e2e/netman/staging.go
  test/e2e/types/chain.go
  test/e2e/types/infra.go
  test/e2e/types/manifest.go
  test/e2e/types/testnet.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): refactor e2e app flow (#225)
  .golangci.yml
  test/e2e/app/definition.go
  test/e2e/app/manifest.go
  test/e2e/app/monitor.go
  test/e2e/app/run.go
  test/e2e/app/setup.go
  test/e2e/app/start.go
  test/e2e/app/test.go
  test/e2e/cmd/cmd.go
  test/e2e/docker/data.go
  test/e2e/docker/docker.go
  test/e2e/docker/docker_test.go
  test/e2e/docker/testdata/TestComposeTemplate.golden
  test/e2e/manifests/devnet1.toml
  test/e2e/manifests/simple.toml
  test/e2e/manifests/staging.toml
  test/e2e/netman/devnet.go
  test/e2e/netman/helpers.go
  test/e2e/netman/manager.go
  test/e2e/netman/staging.go
  test/e2e/types/chain.go
  test/e2e/types/infra.go
  test/e2e/types/manifest.go
  test/e2e/types/testnet.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): support geth p2p cluster
  lib/netconf/network.go
  test/e2e/app/definition.go
  test/e2e/app/monitor.go
  test/e2e/app/run.go
  test/e2e/app/setup.go
  test/e2e/docker/compose.yaml.tmpl
  test/e2e/docker/docker.go
  test/e2e/docker/docker_test.go
  test/e2e/docker/testdata/TestComposeTemplate.golden
  test/e2e/manifests/staging.toml
  test/e2e/types/testnet.go
Due: run-go-tests, run-regexp, run-goversion

tests
  relayer/txmgr/config.go
  relayer/txmgr/queue_test.go
  relayer/txmgr/txmgr.go
  relayer/txmgr/txmgr_test.go
Due: run-go-tests, run-regexp, run-goversion

lint
  relayer/txmgr/txmgr_test.go
Due: run-go-tests, run-goversion

snake
  relayer/txmgr/config.go
  relayer/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

pavel comments
  relayer/txmgr/queue_test.go
  relayer/txmgr/send_state.go
  relayer/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): support geth p2p cluster (#226)
  lib/netconf/network.go
  test/e2e/app/definition.go
  test/e2e/app/monitor.go
  test/e2e/app/run.go
  test/e2e/app/setup.go
  test/e2e/docker/compose.yaml.tmpl
  test/e2e/docker/docker.go
  test/e2e/docker/docker_test.go
  test/e2e/docker/testdata/TestComposeTemplate.golden
  test/e2e/manifests/staging.toml
  test/e2e/types/testnet.go
Due: run-go-tests, run-regexp, run-goversion

feat(relayer/txmgr): adds op txmgr (#221)
  go.mod
  relayer/txmgr/README.md
  relayer/txmgr/config.go
  relayer/txmgr/ether.go
  relayer/txmgr/operation.go
  relayer/txmgr/price_bump_test.go
  relayer/txmgr/queue.go
  relayer/txmgr/queue_test.go
  relayer/txmgr/send_state.go
  relayer/txmgr/send_state_test.go
  relayer/txmgr/txmgr.go
  relayer/txmgr/txmgr_test.go
Due: run-go-tests, run-regexp, run-goversion

adjuct to txmgr in relayer pkg
  relayer/app/ethlog.go
  relayer/app/opsender.go
  relayer/txmgr/config.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  relayer/app/opsender.go
  relayer/txmgr/config.go
Due: run-go-tests, run-regexp, run-goversion

init
  explorer/db/ent_client.go
  explorer/graphql/resolvers/blocks_test.go
  explorer/graphql/resolvers/test/blocks_mock.go
  explorer/graphql/resolvers/test_util.go
  go.mod
  go.sum
Due: run-go-tests, run-regexp, run-goversion

Update compose.yaml.tmpl
  test/e2e/docker/compose.yaml.tmpl
Due: none

test fix
  test/e2e/docker/testdata/TestComposeTemplate.golden
Due: none

test(ci): fix omni evm mappings
  test/e2e/README.md
  test/e2e/app/contract.go
  test/e2e/app/definition.go
  test/e2e/app/monitor.go
  test/e2e/app/run.go
  test/e2e/app/setup.go
  test/e2e/app/test.go
  test/e2e/types/testnet.go
Due: run-go-tests, run-regexp, run-goversion

test(ci): fix omni evm mappings (#230)
  test/e2e/README.md
  test/e2e/app/contract.go
  test/e2e/app/definition.go
  test/e2e/app/monitor.go
  test/e2e/app/run.go
  test/e2e/app/setup.go
  test/e2e/app/test.go
  test/e2e/types/testnet.go
Due: run-go-tests, run-regexp, run-goversion

use op sender
  relayer/app/app.go
  relayer/app/opsender.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  relayer/app/opsender.go
Due: run-go-tests, run-regexp, run-goversion

comments
  relayer/app/opsender.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): add support for vm infra provider
  test/e2e/app/definition.go
  test/e2e/docker/compose.yaml.tmpl
  test/e2e/docker/data.go
  test/e2e/docker/docker.go
  test/e2e/docker/testdata/TestComposeTemplate.golden
  test/e2e/types/infra.go
  test/e2e/vmcompose/data.go
  test/e2e/vmcompose/provider.go
  test/e2e/vmcompose/provider_internal_test.go
  test/e2e/vmcompose/provider_test.go
  test/e2e/vmcompose/testdata/TestSetup_127_0_0_1_compose.yaml.golden
  test/e2e/vmcompose/testdata/TestSetup_127_0_0_2_compose.yaml.golden
  test/e2e/vmcompose/testdata/TestSetup_127_0_0_3_compose.yaml.golden
Due: run-go-tests, run-regexp, run-goversion

feat(relayer/app): use light op sender (#231)
  relayer/app/app.go
  relayer/app/ethlog.go
  relayer/app/opsender.go
  relayer/txmgr/config.go
Due: run-go-tests, run-regexp, run-goversion

nil fix
  relayer/txmgr/config.go
Due: run-go-tests, run-regexp, run-goversion

config change
  relayer/txmgr/config.go
  relayer/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

nitting
  relayer/txmgr/config.go
Due: run-go-tests, run-regexp, run-goversion

fix(relayer/txmgr): fixes default config values (#235)
  relayer/txmgr/config.go
  relayer/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

add .transfer comment
  contracts/src/OmniPortal.sol
Due: none

feat(contracts): charge fees for xcalls
  contracts/Makefile
  contracts/bindings/feeoraclev1.go
  contracts/bindings/omniportal.go
  contracts/src/OmniPortal.sol
  contracts/src/interfaces/IOmniPortalAdmin.sol
  contracts/test/OmniPortal_xcall.t.sol
  contracts/test/common/Fixtures.sol
  test/e2e/app/contract.go
  test/e2e/netman/helpers.go
  test/e2e/netman/manager.go
  test/e2e/tests/portals_test.go
Due: run-go-tests, run-regexp, run-goversion

move fee charge to _xcall
  contracts/bindings/omniportal.go
  contracts/src/OmniPortal.sol
Due: run-go-tests, run-regexp, run-goversion
