Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-golint:
  name: run-golint
  language: script
  require_serial: true
  entry: .pre-commit/run_golint.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

chore(e2e/manifest): fix staging (#4278)
  e2e/manifests/staging.toml
Due: none

chore(e2e): debug ephemeral genesis
  e2e/app/definition.go
  e2e/docker/docker.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): debug ephemeral genesis (#4279)
  e2e/app/definition.go
  e2e/docker/docker.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/vmcompose): wire ephemeral genesis (#4280)
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(docs): add token info for wallets
  docs/docs/public/tokenlist.json
Due: none

Update tokenlist.json
  docs/docs/public/tokenlist.json
Due: none

chore(docs): add tokenlist file (#4281)
  docs/docs/public/tokenlist.json
Due: none

cleanup
  go.mod
  go.sum
  lib/tracer/trace.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(gomod): update otel dependency (#4282)
  go.mod
  go.sum
  lib/tracer/trace.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(halo): prevent array out of bounds
  halo/app/sdklog.go
  halo/comet/cmtlog.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): re bootstrap hyper evm cursor
  solver/app/cursor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): re bootstrap hyper evm cursor (#4284)
  solver/app/cursor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): bump solver pins to 6cedc51
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

fix(halo): prevent array out of bounds (#4283)
  halo/app/sdklog.go
  halo/comet/cmtlog.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): bump solver pins to 6cedc51 (#4285)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(solver): bump hyper cursor
  solver/app/cursor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver): bump hyper cursor (#4286)
  solver/app/cursor.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): bump solver pins to a917e50
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(e2e): bump solver pins to a917e50 (#4287)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(lib/ethp2p): implement geth p2p client
  lib/ethp2p/client.go
  lib/ethp2p/client_test.go
  lib/ethp2p/helper.go
  lib/ethp2p/protocol.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  lib/ethp2p/client.go
  lib/ethp2p/client_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/ethp2p): implement geth p2p client (#4294)
  lib/ethp2p/client.go
  lib/ethp2p/client_test.go
  lib/ethp2p/helper.go
  lib/ethp2p/protocol.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

refactor(octane): prep for redenom module
  halo/evmredenom/convert.go
  halo/evmredenom/convert_test.go
  halo/evmstaking/keeper/keeper.go
  halo/withdraw/metrics.go
  halo/withdraw/types.go
  halo/withdraw/wrapper.go
  halo/withdraw/wrapper_internal_test.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/keeper/helpers.go
  octane/evmengine/keeper/metrics.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  halo/withdraw/wrapper.go
  halo/withdraw/wrapper_internal_test.go
  octane/evmengine/keeper/helpers_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

refactor(octane): prep for redenom module (#4295)
  halo/evmredenom/convert.go
  halo/evmredenom/convert_test.go
  halo/evmstaking/keeper/keeper.go
  halo/withdraw/metrics.go
  halo/withdraw/types.go
  halo/withdraw/wrapper.go
  halo/withdraw/wrapper_internal_test.go
  octane/evmengine/keeper/db.go
  octane/evmengine/keeper/db_internal_test.go
  octane/evmengine/keeper/helpers.go
  octane/evmengine/keeper/helpers_internal_test.go
  octane/evmengine/keeper/metrics.go
  octane/evmengine/keeper/msg_server_internal_test.go
  octane/evmengine/keeper/proposal_server_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(halo/evmredenom): implement module
  contracts/Makefile
  contracts/bindings/redenom.go
  contracts/core/.gas-snapshot
  contracts/core/src/octane/Redenom.sol
  halo/evmredenom/keeper/evmredenom.cosmos_orm.go
  halo/evmredenom/keeper/evmredenom.pb.go
  halo/evmredenom/keeper/evmredenom.proto
  halo/evmredenom/keeper/helpers.go
  halo/evmredenom/keeper/helpers_internal_test.go
  halo/evmredenom/keeper/keeper.go
  halo/evmredenom/module/module.go
  halo/evmredenom/module/module.proto
  halo/evmredenom/module/module.pulsar.go
  halo/evmredenom/types/interfaces.go
  halo/evmredenom/types/keys.go
  halo/genutil/evm/predeploys/predeploys.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  contracts/bindings/redenom.go
Due: run-go-tests, run-golint, run-goversion

feat(halo/evmredenom): implement module (#4296)
  contracts/Makefile
  contracts/bindings/redenom.go
  contracts/core/.gas-snapshot
  contracts/core/src/octane/Redenom.sol
  halo/evmredenom/keeper/evmredenom.cosmos_orm.go
  halo/evmredenom/keeper/evmredenom.pb.go
  halo/evmredenom/keeper/evmredenom.proto
  halo/evmredenom/keeper/helpers.go
  halo/evmredenom/keeper/helpers_internal_test.go
  halo/evmredenom/keeper/keeper.go
  halo/evmredenom/module/module.go
  halo/evmredenom/module/module.proto
  halo/evmredenom/module/module.pulsar.go
  halo/evmredenom/types/interfaces.go
  halo/evmredenom/types/keys.go
  halo/genutil/evm/predeploys/predeploys.go
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(hub/evmredenom): inplement submission
  halo/evmredenom/submit/config.go
  halo/evmredenom/submit/submit.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  lib/ethclient/mock/mock_interfaces.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  halo/app/upgrades/earhart/upgrade.go
  halo/evmredenom/submit/config.go
  halo/evmredenom/submit/submit.go
  octane/evmengine/keeper/db.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

cleanup
  halo/app/upgrades/earhart/upgrade.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

last update
  contracts/avs/script/DeployPermit2.s.sol
  contracts/avs/script/eigen/deploy-eigenlayer-save-anvil-state.sh
  e2e/app/setup.go
  e2e/app/static/devnet-anvil-state.json
  e2e/app/static/devnet-deployments.json
  e2e/app/static/el-anvil-state.json
  e2e/app/static/el-deployments.json
  e2e/app/static/static.go
  e2e/docker/compose.yaml.tmpl
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor): disable flowgen
  monitor/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(monitor): disable flowgen (#4299)
  monitor/app/app.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e): bump monitor pins to 5489d71
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(e2e): bump monitor pins to 5489d71 (#4300)
  e2e/manifests/mainnet.toml
  e2e/manifests/omega.toml
Due: none

chore(hub/evmredenom): implement submission (#4297)
  halo/app/upgrades/earhart/upgrade.go
  halo/evmredenom/submit/config.go
  halo/evmredenom/submit/submit.go
  lib/ethclient/ethclient.go
  lib/ethclient/ethclient_gen.go
  lib/ethclient/genwrap/genwrap.go
  lib/ethclient/mock/mock_interfaces.go
  octane/evmengine/keeper/db.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$
  run-golint: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/)
  run-goversion: any of: \.go$
