Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

remove console imports
  contracts/test/avs/AVSUtils.sol
  contracts/test/avs/MockPortal.sol
  contracts/test/avs/OmniAVS.t.sol
  contracts/test/avs/eigen/EigenLayerDeployer.t.sol
  contracts/test/avs/eigen/EigenLayerTestHelper.t.sol
Due: none

nit
  test/e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

we shouldn't be recalcuating edges after XDapp is deployed
  test/e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): simplifying edge generation (#378)
  test/e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

only do 10 fuzz runs for fork tests
  contracts/Makefile
  contracts/foundry.toml
Due: none

fix(contracts/test): fix goerli fork tests (#379)
  contracts/.env.example
  contracts/.gitignore
  contracts/Makefile
  contracts/script/avs/DeployGoerliAVS.s.sol
  contracts/script/avs/StrategyParams.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/AVSBase.sol
  contracts/test/avs/AVSUtils.sol
  contracts/test/avs/MockPortal.sol
  contracts/test/avs/OmniAVS.t.sol
  contracts/test/avs/eigen/EigenLayerTestHelper.t.sol
  contracts/test/avs/eigen/deploy/EigenLayerGoerli.sol
  contracts/test/avs/eigen/deploy/EigenM2GoerliDeployments.sol
Due: none

moving
  test/e2e/app/math.go
  test/e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): creating internal math lib (#376)
  test/e2e/app/math.go
  test/e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo/attest): fix approve bug and add metric (#374)
  halo/app/app.go
  halo/app/start.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/metrics.go
  halo/attest/module/module.go
  halo/attest/types/types.go
  halo/attest/voter/metrics.go
  lib/netconf/netconf.go
Due: run-go-tests, run-regexp, run-goversion

nits
  test/e2e/app/math.go
  test/e2e/app/run.go
  test/e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): e2e test nits (#380)
  test/e2e/app/math.go
  test/e2e/app/run.go
  test/e2e/netman/pingpong/pingpong.go
Due: run-go-tests, run-regexp, run-goversion

adds err tests
  halo/evmengine/keeper/abci_test.go
Due: run-go-tests, run-goversion

lint
  halo/evmengine/keeper/abci_internal_test.go
Due: run-go-tests, run-goversion

refactor(e2e): ues txmgr as bindings txopts and backends
  .secrets.baseline
  lib/errors/errors.go
  lib/txmgr/config.go
  lib/txmgr/txmgr.go
  lib/txmgr/txmgr_internal_test.go
  relayer/app/app.go
  relayer/app/opsender.go
  test/e2e/app/avs.go
  test/e2e/app/contract.go
  test/e2e/app/definition.go
  test/e2e/app/run.go
  test/e2e/netman/avs/xdapp.go
  test/e2e/netman/helpers.go
  test/e2e/netman/manager.go
  test/e2e/netman/pingpong/pingpong.go
  test/e2e/send/backend.go
  test/e2e/send/sender.go
Due: run-go-tests, run-regexp, run-goversion

refactor(e2e): ues txmgr as bindings txopts and backends (#381)
  .secrets.baseline
  lib/errors/errors.go
  lib/txmgr/config.go
  lib/txmgr/txmgr.go
  lib/txmgr/txmgr_internal_test.go
  relayer/app/app.go
  relayer/app/opsender.go
  test/e2e/app/avs.go
  test/e2e/app/contract.go
  test/e2e/app/definition.go
  test/e2e/app/run.go
  test/e2e/netman/avs/xdapp.go
  test/e2e/netman/helpers.go
  test/e2e/netman/manager.go
  test/e2e/netman/pingpong/pingpong.go
  test/e2e/send/backend.go
  test/e2e/send/sender.go
Due: run-go-tests, run-regexp, run-goversion

remove mock txconfig
  halo/evmengine/keeper/abci_internal_test.go
Due: run-go-tests, run-goversion

chore(e2e): debug failing e2e
  lib/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): debug failing e2e
  lib/txmgr/txmgr.go
  test/e2e/docker/compose.yaml.tmpl
Due: run-go-tests, run-regexp, run-goversion

cleanup
  lib/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  lib/txmgr/txmgr.go
  test/e2e/docker/compose.yaml.tmpl
Due: run-go-tests, run-regexp, run-goversion

fix(lib/txmgr): handle wait mine edge case (#382)
  lib/txmgr/txmgr.go
Due: run-go-tests, run-regexp, run-goversion

test(contracts): test beacon eth deposits
  contracts/.gas-snapshot
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/AVSUtils.sol
  contracts/test/avs/OmniAVS.t.sol
  contracts/test/avs/eigen/EigenLayerDeployer.t.sol
  contracts/test/avs/eigen/EigenPodManagerHarness.sol
  contracts/test/avs/eigen/deploy/EigenLayerLocal.sol
Due: none

support beacon eth in fork tests
  contracts/script/avs/StrategyParams.sol
  contracts/test/avs/AVSBase.sol
  contracts/test/avs/AVSUtils.sol
  contracts/test/avs/eigen/deploy/EigenLayerGoerli.sol
Due: none

fixes
  explorer/graphql/app/app.go
  explorer/indexer/app/db.go
  explorer/ui/.dockerignore
  explorer/ui/Dockerfile
  explorer/ui/app/components/shared/themebutton.tsx
  explorer/ui/app/root.tsx
  explorer/ui/pnpm-lock.yaml
  explorer/ui/tailwind.config.ts
Due: run-go-tests, run-regexp, run-goversion

Update app.go
  explorer/graphql/app/app.go
Due: run-go-tests, run-regexp, run-goversion

go.mod
  go.mod
Due: none

chore(ci): pr comment perms
  .github/workflows/ci-pr-docs.yml
Due: none

nits and ordering
  explorer/graphql/data/block_provider.go
  explorer/graphql/data/provider_helpers.go
Due: run-go-tests, run-regexp, run-goversion

fixing ordering
  explorer/graphql/data/block_provider.go
  explorer/indexer/app/db.go
Due: run-go-tests, run-regexp, run-goversion

nits
  explorer/graphql/data/provider_helpers.go
Due: run-go-tests, run-regexp, run-goversion

removing comment
  explorer/graphql/data/block_provider.go
Due: run-go-tests, run-regexp, run-goversion

using cmd
  test/e2e/app/run.go
  test/e2e/cmd/cmd.go
  test/e2e/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

nits
  explorer/graphql/data/block_provider.go
  explorer/graphql/data/message_provider.go
  explorer/graphql/data/receipt_provider.go
  explorer/graphql/resolvers/blocks.go
Due: run-go-tests, run-regexp, run-goversion

test(contracts): test beacon eth deposits (#368)
  contracts/.gas-snapshot
  contracts/script/avs/StrategyParams.sol
  contracts/src/protocol/OmniAVS.sol
  contracts/test/avs/AVSBase.sol
  contracts/test/avs/AVSUtils.sol
  contracts/test/avs/OmniAVS.t.sol
  contracts/test/avs/eigen/EigenLayerDeployer.t.sol
  contracts/test/avs/eigen/EigenPodManagerHarness.sol
  contracts/test/avs/eigen/deploy/EigenLayerGoerli.sol
  contracts/test/avs/eigen/deploy/EigenLayerLocal.sol
Due: none

feat(contracts): add XApp utility contract
  contracts/package.json
  contracts/src/pkg/XApp.sol
Due: none

feat(contracts): add XApp utility contract (#385)
  contracts/package.json
  contracts/src/pkg/XApp.sol
Due: none

docs updates
  docs/site/docs/home.md
  docs/site/docs/operate/run.md
  docs/site/docs/use/overview.md
  docs/site/docs/use/protocol.md
Due: none

docs(home): update some initial docs (#386)
  docs/site/docs/home.md
  docs/site/docs/operate/run.md
  docs/site/docs/use/overview.md
  docs/site/docs/use/protocol.md
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-regexp: any of: \.go$, but not: _test.go
  run-goversion: any of: \.go$
