Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

run-buf:
  name: run-buf
  language: script
  entry: .pre-commit/run_buf.sh
  pass_filenames: false

run-go-tests:
  name: run-go-tests
  language: script
  require_serial: true
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

chore(omni/cli): add create-consensus-key command
  cli/cmd/cmd.go
  cli/cmd/key.go
  halo/cmd/init.go
Due: run-go-tests, run-regexp, run-goversion

chore(omni/cli): add create-consensus-key command (#1840)
  cli/cmd/cmd.go
  cli/cmd/key.go
  halo/cmd/init.go
Due: run-go-tests, run-regexp, run-goversion

chore(*): improve few random logs (#1847)
  lib/cchain/provider/abci.go
  monitor/xfeemngr/gasprice/buffer.go
  monitor/xfeemngr/tokenprice/buffer.go
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

chore(goreleaser): only include external binaries in release
  .goreleaser.yaml
Due: none

test(contracts): improve unit and e2e gas pump tests (#1817)
  contracts/bindings/omnigaspump.go
  contracts/core/.gas-snapshot
  contracts/core/src/token/OmniGasPump.sol
  contracts/core/test/token/OmniGasPump.t.sol
  e2e/app/gaspump.go
  e2e/test/gaspump_test.go
  lib/contracts/gaspump/deploy.go
Due: run-go-tests, run-regexp, run-goversion

cli/cmd: idempotent init-nodes
  cli/cmd/initnodes.go
  cli/cmd/key.go
  halo/cmd/init.go
Due: run-go-tests, run-regexp, run-goversion

chore(goreleaser): only include external binaries in release (#1850)
  .goreleaser.yaml
Due: none

feat(cli/cmd): idempotent init-nodes (#1851)
  cli/cmd/initnodes.go
  cli/cmd/key.go
  halo/cmd/init.go
Due: run-go-tests, run-regexp, run-goversion

chore(hlao/app): improve logging
  halo/app/lazyvoter.go
  halo/app/monitor.go
  halo/app/start.go
Due: run-go-tests, run-regexp, run-goversion

chore(github): push latest halovisor on official release
  .github/workflows/release-official.yml
Due: none

chore(hlao/app): improve logging (#1858)
  halo/app/lazyvoter.go
  halo/app/monitor.go
  halo/app/start.go
Due: run-go-tests, run-regexp, run-goversion

chore(github): push latest halovisor on official release (#1859)
  .github/workflows/release-official.yml
Due: none

forge install: openzeppelin-contracts
  .gitmodules
Due: none

forge install: forge-std
  .gitmodules
Due: none

feat(docs): Cookbook Onboard (AI Assistant) integration
  docs/website/docusaurus.config.ts
  docs/website/src/client-modules/ask-cookbook.ts
Due: none

ci(e2e): add p2p keys to all omega nodes
  e2e/manifests/omega.toml
  monitor/xmonitor/emitcache/emitcursorcache.go
  relayer/app/worker.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): add p2p keys to all omega nodes (#1866)
  e2e/manifests/omega.toml
  monitor/xmonitor/emitcache/emitcursorcache.go
  relayer/app/worker.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): update bindings
  contracts/bindings/omnigaspump.go
Due: run-go-tests, run-goversion

chore(contracts): cleanup
  .gitmodules
Due: none

chore(docs): add portals
  docs/content/learn/portals.md
Due: none

chore(contracts): tidy up typos
  contracts/bindings/omnigaspump.go
  contracts/core/src/pkg/XGasPump.sol
  contracts/core/src/token/OmniGasPump.sol
Due: run-go-tests, run-goversion

ci(e2e): add 2 operators to allow list
  e2e/app/admin/allowoperator.go
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): tidy up typos (#1870)
  contracts/bindings/omnigaspump.go
  contracts/core/src/pkg/XGasPump.sol
  contracts/core/src/token/OmniGasPump.sol
Due: run-go-tests, run-goversion

ci(e2e): add 2 operators to allow list (#1871)
  e2e/app/admin/allowoperator.go
Due: run-go-tests, run-regexp, run-goversion

chore(halo/attest): improve xchain vote metrics
  halo/attest/keeper/helper.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/metrics.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): Remove code blocks
  docs/content/learn/portals.md
Due: none

chore(halo/attest): improve xchain vote metrics (#1872)
  halo/attest/keeper/helper.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/metrics.go
Due: run-go-tests, run-regexp, run-goversion

Update ci-pr-docs.yml
  .github/workflows/ci-pr-docs.yml
Due: none

chore(ci): use full docs dir for vercel trigger (#1873)
  .github/workflows/ci-pr-docs.yml
Due: none

chore(contracts): update elliptic
  contracts/avs/pnpm-lock.yaml
  contracts/core/package.json
  contracts/core/pnpm-lock.yaml
Due: none

fix(contracts/core): prefer calldata for local var
  contracts/bindings/admin.go
  contracts/bindings/omniportal.go
  contracts/core/.gas-snapshot
  contracts/core/src/libraries/Quorum.sol
Due: run-go-tests, run-goversion

chore(contracts): update elliptic (#1874)
  contracts/avs/pnpm-lock.yaml
  contracts/core/package.json
  contracts/core/pnpm-lock.yaml
Due: none

fix(contracts/core): prefer calldata for local var (#1876)
  contracts/bindings/admin.go
  contracts/bindings/omniportal.go
  contracts/core/.gas-snapshot
  contracts/core/src/libraries/Quorum.sol
Due: run-go-tests, run-goversion

fix(contracts/core): avoid division in quorum check
  contracts/bindings/admin.go
  contracts/bindings/omniportal.go
  contracts/core/.gas-snapshot
  contracts/core/src/libraries/Quorum.sol
Due: run-go-tests, run-goversion

fix(contracts/core): avoid division in quorum check (#1877)
  contracts/bindings/admin.go
  contracts/bindings/omniportal.go
  contracts/core/.gas-snapshot
  contracts/core/src/libraries/Quorum.sol
Due: run-go-tests, run-goversion

fix(contracts/core): reduce multiplication in feeFor calc
  contracts/bindings/feeoraclev1.go
  contracts/core/.gas-snapshot
  contracts/core/src/xchain/FeeOracleV1.sol
Due: run-go-tests, run-goversion

fix(contracts/core): reduce multiplication in feeFor calc (#1878)
  contracts/bindings/feeoraclev1.go
  contracts/core/.gas-snapshot
  contracts/core/src/xchain/FeeOracleV1.sol
Due: run-go-tests, run-goversion

fix(contracts/core): avoid var name shadowing
  contracts/bindings/admin.go
  contracts/bindings/omniportal.go
  contracts/core/src/xchain/OmniPortal.sol
Due: run-go-tests, run-goversion

fix(contracts/core): avoid var name shadowing (#1879)
  contracts/bindings/admin.go
  contracts/bindings/omniportal.go
  contracts/core/src/xchain/OmniPortal.sol
Due: run-go-tests, run-goversion

Path conditions:
  run-buf: any of: \.proto$
  run-go-tests: any of: \.go$, but not: (explorer/db/ent/internal/.*)
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)
  run-goversion: any of: \.go$
