Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
      - id: run-forge-fmt
        name: run-forge-fmt
        language: script
        entry: .pre-commit/run_forge_fmt.sh
        types: [ file, solidity ]

  # TODO(corver): Add hooks for the following:
  # - Auto-fix file license headers

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]
      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]

ci(e2e): decrease staging anvil block period
  monitor/avs/avs.go
  test/e2e/app/definition.go
  test/e2e/docker/compose.yaml.tmpl
  test/e2e/docker/docker.go
  test/e2e/docker/docker_test.go
  test/e2e/docker/testdata/TestComposeTemplate_image_tag_7d1ae53.golden
  test/e2e/docker/testdata/TestComposeTemplate_image_tag_main.golden
  test/e2e/vmcompose/testdata/TestSetup_127_0_0_3_compose.yaml.golden
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): decrease staging anvil block period (#527)
  monitor/avs/avs.go
  test/e2e/app/definition.go
  test/e2e/docker/compose.yaml.tmpl
  test/e2e/docker/docker.go
  test/e2e/docker/docker_test.go
  test/e2e/docker/testdata/TestComposeTemplate_image_tag_7d1ae53.golden
  test/e2e/docker/testdata/TestComposeTemplate_image_tag_main.golden
  test/e2e/vmcompose/testdata/TestSetup_127_0_0_3_compose.yaml.golden
Due: run-go-tests, run-regexp, run-goversion

test(halo/evmengine): increase test coverage (#529)
  halo/evmengine/keeper/abci_internal_test.go
  halo/evmengine/keeper/keeper_internal_test.go
  halo/evmengine/keeper/msg_server_internal_test.go
  halo/evmengine/keeper/proposal_server_internal_test.go
Due: run-go-tests, run-goversion

Revert "ci(go-releaser): auto-publish releases (#521)"
  .goreleaser.yaml
Due: none

ci(release): revert auto-publish releases (#532)
  .goreleaser.yaml
Due: none

refactor keeper unit tests
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/common_test.go
  halo/attest/keeper/keeper_internal_test.go
  halo/attest/keeper/keeper_test.go
Due: run-go-tests, run-goversion

test(halo/attest): refactor keeper unit tests (#518)
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/common_test.go
  halo/attest/keeper/keeper_internal_test.go
  halo/attest/keeper/keeper_test.go
Due: run-go-tests, run-goversion

chore(config): add version to config toml
  .secrets.baseline
  halo/config/config.go
  halo/config/config.toml.tmpl
  lib/buildinfo/buildinfo.go
  relayer/app/config.go
  relayer/app/config.toml.tmpl
Due: run-go-tests, run-regexp, run-goversion

chore(config): add version to config toml (#534)
  .secrets.baseline
  halo/config/config.go
  halo/config/config.toml.tmpl
  lib/buildinfo/buildinfo.go
  relayer/app/config.go
  relayer/app/config.toml.tmpl
Due: run-go-tests, run-regexp, run-goversion

fix(lib/backend) fix bug in wait mained
  lib/ethclient/ethbackend/backend.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib/backend): fix bug in wait mained (#535)
  lib/ethclient/ethbackend/backend.go
Due: run-go-tests, run-regexp, run-goversion

chore(config): add version to config toml (#534)
  .secrets.baseline
  test/e2e/app/perturb.go
  test/e2e/app/run.go
  test/e2e/app/setup.go
  test/e2e/app/start.go
  test/e2e/manifests/ci.toml
Due: run-go-tests, run-regexp, run-goversion

test(e2e): add restarted full node to ci manifest (#533)
  .secrets.baseline
  test/e2e/app/perturb.go
  test/e2e/app/run.go
  test/e2e/app/setup.go
  test/e2e/app/start.go
  test/e2e/manifests/ci.toml
Due: run-go-tests, run-regexp, run-goversion

chore(contracts): add events for admin setters (#525)
  contracts/.gas-snapshot
  contracts/src/interfaces/IOmniAVSAdmin.sol
  contracts/src/protocol/OmniAVS.sol
Due: none

chore(contracts): add goerli avs deployment script
  contracts/.env.example
  contracts/.gas-snapshot
  contracts/Makefile
  contracts/script/avs/DeployGoerliAVS.s.sol
  contracts/script/avs/StrategyParams.sol
  contracts/script/create3/DeployCreate3Factory.s.sol
  contracts/script/proxy-admin/DeployProxyAdmin.s.sol
  contracts/test/avs/OmniAVS_allowlist.t.sol
  contracts/test/avs/OmniAVS_canRegister.t.sol
  contracts/test/avs/OmniAVS_syncWithOmni.t.sol
  contracts/test/avs/common/Fixtures.sol
  contracts/test/avs/common/Utils.sol
  contracts/test/avs/common/eigen/EigenLayerGoerli.sol
  contracts/test/avs/common/eigen/EigenM2GoerliDeployments.sol
Due: none

add known goerli avs addr
  monitor/avs/avs.go
Due: run-go-tests, run-regexp, run-goversion

remove consoles
  contracts/test/avs/common/Fixtures.sol
  contracts/test/avs/common/Utils.sol
Due: none

update comment
  contracts/test/avs/common/Fixtures.sol
Due: none

fix spelling
  contracts/script/proxy-admin/DeployProxyAdmin.s.sol
Due: none

chore(contracts): add goerli avs deployment script (#524)
  contracts/.env.example
  contracts/.gas-snapshot
  contracts/Makefile
  contracts/script/avs/DeployGoerliAVS.s.sol
  contracts/script/avs/StrategyParams.sol
  contracts/script/create3/DeployCreate3Factory.s.sol
  contracts/script/proxy-admin/DeployProxyAdmin.s.sol
  contracts/test/avs/OmniAVS_allowlist.t.sol
  contracts/test/avs/OmniAVS_canRegister.t.sol
  contracts/test/avs/OmniAVS_syncWithOmni.t.sol
  contracts/test/avs/common/Fixtures.sol
  contracts/test/avs/common/Utils.sol
  contracts/test/avs/common/eigen/EigenLayerGoerli.sol
  contracts/test/avs/common/eigen/EigenM2GoerliDeployments.sol
  monitor/avs/avs.go
Due: run-go-tests, run-regexp, run-goversion

add whitepaper
  docs/site/docs/learn/introduction/whitepaper.md
  docs/site/static/whitepaper.pdf
Due: none

feat(docs): add whitepaper (#539)
  docs/site/docs/learn/introduction/whitepaper.md
  docs/site/static/whitepaper.pdf
Due: none

add avs address to cli
  cli/cmd/register.go
Due: run-go-tests, run-regexp, run-goversion

chore(cli): add goerli avs address (#540)
  cli/cmd/register.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): add avs goerli address
  docs/site/docs/operate/testnet/register.md
Due: none

chore(docs): rename command name
  docs/site/docs/operate/testnet/register.md
Due: none

Update docs/site/docs/operate/testnet/register.md
  docs/site/docs/operate/testnet/register.md
Due: none

chore(docs): update avs operator register (#541)
  docs/site/docs/operate/testnet/register.md
Due: none

docs fixes
  docs/site/docs/operate/testnet/install.md
  docs/site/docs/operate/testnet/introduction.md
  docs/site/docs/operate/testnet/register.md
Due: none

update
  docs/site/docs/operate/testnet/introduction.md
Due: none

chore(docs): operator updates (#542)
  docs/site/docs/operate/testnet/install.md
  docs/site/docs/operate/testnet/introduction.md
  docs/site/docs/operate/testnet/register.md
Due: none

fix reference operator.yaml
  docs/site/docs/operate/testnet/register.md
Due: none

additional language
  docs/site/docs/operate/testnet/register.md
Due: none

chore(docs): add google analytics
  docs/site/docusaurus.config.ts
Due: none

fix(docs): update reference operator yaml (#544)
  docs/site/docs/operate/testnet/register.md
Due: none

chore(docs): add google analytics (#545)
  docs/site/docusaurus.config.ts
Due: none

chore(contracts): add deploy avs output and verification
  contracts/.env.example
  contracts/.gitignore
  contracts/Makefile
  contracts/broadcast/.gitignore
  contracts/foundry.toml
  contracts/script/avs/DeployGoerliAVS.s.sol
  contracts/script/avs/deploy-goerli-avs.sh
  contracts/script/avs/output/deploy-goerli-avs.json
  contracts/script/avs/verify-goerli-avs.sh
  contracts/test/avs/common/Fixtures.sol
Due: none

feat(cli): improve cli error messages
  .golangci.yml
  cli/cmd/cmd.go
  cli/cmd/errors.go
  cli/cmd/omni/main.go
  cli/cmd/register.go
  lib/avs/avs.go
  lib/avs/avs_test.go
  lib/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion

update whitepaper
  docs/site/static/whitepaper.pdf
Due: none

chore(docs): update whitepaper (#547)
  docs/site/static/whitepaper.pdf
Due: none
