Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "testdata"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
      - id: run-forge-fmt
        name: run-forge-fmt
        language: script
        entry: .pre-commit/run_forge_fmt.sh
        types: [ file, solidity ]

  # TODO(corver): Add hooks for the following:
  # - Auto-fix file license headers

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-go-tests
        name: run-go-tests
        language: script
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true
      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "_test.go"
      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]
      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]

adds run method
  relayer/app/app.go
  relayer/app/config.go
  relayer/app/sender.go
  relayer/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/log): pad console logger messages (#150)
  lib/log/logger.go
  lib/log/testdata/TestSimpleLogs_console.golden
Due: run-go-tests, run-regexp, run-goversion

feat(halo/comet): add protobuf types for abci query (#151)
  .pre-commit-config.yaml
  .pre-commit/run_buf.sh
  Makefile
  buf.gen.yaml
  buf.yaml
  go.mod
  go.sum
  halo/halopb/v1/query.pb.go
  halo/halopb/v1/query.proto
  halo/halopb/v1/query_grpc.pb.go
  halo/halopb/v1/xchain.pb.go
  halo/halopb/v1/xchain.proto
  scripts/dummy.go
  scripts/tools.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/cchain): improve abci fetcher
  halo/app/simnet.go
  halo/comet/abci.go
  halo/comet/app.go
  halo/comet/state.go
  halo/halopb/v1/query.pb.go
  halo/halopb/v1/query.proto
  halo/halopb/v1/translate.go
  halo/halopb/v1/translate_test.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/abci_test.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/provider_test.go
  test/smoke/smoke_test.go
  test/tutil/rpctest.go
  test/tutil/testdata/genesis.json
  test/tutil/testdata/priv_validator_key.json
  test/tutil/testdata/priv_validator_state.json
Due: run-go-tests, run-regexp, run-goversion

cleanup
  relayer/app/app.go
  relayer/app/config.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): start anvil and deploy portal
  test/e2e/runner/contract.go
  test/e2e/runner/docker/compose.yaml.tmpl
  test/e2e/runner/docker/docker.go
  test/e2e/runner/main.go
Due: run-go-tests, run-regexp, run-goversion

fix translate sub test, gen bindings
  contracts/bindings/omniportal.go
  relayer/app/types.go
  relayer/app/types_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/cchain): implement abci query (#152)
  halo/app/simnet.go
  halo/comet/abci.go
  halo/comet/app.go
  halo/comet/state.go
  halo/halopb/v1/query.pb.go
  halo/halopb/v1/query.proto
  halo/halopb/v1/translate.go
  halo/halopb/v1/translate_test.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/abci_test.go
  lib/cchain/provider/provider.go
  lib/cchain/provider/provider_test.go
  test/smoke/smoke_test.go
  test/tutil/rpctest.go
  test/tutil/testdata/genesis.json
  test/tutil/testdata/priv_validator_key.json
  test/tutil/testdata/priv_validator_state.json
Due: run-go-tests, run-regexp, run-goversion

cleanup
  lib/ethclient/ethclient.go
Due: run-go-tests, run-regexp, run-goversion

nit
  relayer/app/types_test.go
Due: run-go-tests, run-goversion

test(e2e): start anvil and deploy portal (#155)
  test/e2e/runner/contract.go
  test/e2e/runner/docker/compose.yaml.tmpl
  test/e2e/runner/docker/docker.go
  test/e2e/runner/main.go
Due: run-go-tests, run-regexp, run-goversion

fix author info
  .github/workflows/slack.yml
Due: none

nits, removes txhash field
  lib/ethclient/ethclient.go
  lib/xchain/provider/mock.go
  lib/xchain/types.go
  relayer/app/types.go
  relayer/app/types_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(app/relayer): fixes translate submissions test (#156)
  contracts/bindings/omniportal.go
  lib/ethclient/ethclient.go
  lib/xchain/provider/mock.go
  lib/xchain/types.go
  relayer/app/types.go
  relayer/app/types_test.go
Due: run-go-tests, run-regexp, run-goversion

remove pack-lock.json
  explorer/ui/package-lock.json
Due: none

feat(explorer): open api bindings for ui (#145)
  Makefile
  explorer/Makefile
  explorer/README.md
  explorer/ui/Makefile
  explorer/ui/app/openapi/openapi.d.ts
  explorer/ui/app/openapi/openapi.yaml
  explorer/ui/package-lock.json
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
Due: none

removing publish dir
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
Due: none

Update Dockerfile
  explorer/ui/Dockerfile
Due: none

fix(ci): use author field (#157)
  .github/workflows/slack.yml
Due: none

feat(explorer/ui): dockerize remix app (#146)
  explorer/ui/.dockerignore
  explorer/ui/.npmrc
  explorer/ui/Dockerfile
  explorer/ui/remix.config.js
Due: none

entc
  explorer/db/ent/entc.go
Due: run-go-tests, run-regexp, run-goversion

features
  explorer/db/ent/entc.go
Due: run-go-tests, run-regexp, run-goversion

all the Xs and Os
  explorer/db/ent/schema/xblock.go
  explorer/db/ent/schema/xblock_msgs.go
  explorer/db/ent/schema/xblock_receipt.go
  explorer/db/ent/schema/xmsg.go
  explorer/db/ent/schema/xreceipt.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/app): refactor and use real xprovider
  halo/app/app.go
  halo/app/simnet.go
  halo/attest/attester_test.go
  lib/ethclient/interface.go
  lib/netconf/netconf.go
  lib/xchain/provider.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/mock.go
  lib/xchain/provider/provider.go
  lib/xchain/provider/streamer.go
  lib/xchain/types.go
  relayer/app/relayer.go
  relayer/app/relayer_test.go
  relayer/app/types.go
  relayer/app/types_test.go
  test/e2e/runner/contract.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/app): refactor and use real xprovider (#159)
  halo/app/app.go
  halo/app/simnet.go
  halo/attest/attester_test.go
  lib/ethclient/interface.go
  lib/netconf/netconf.go
  lib/xchain/provider.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/mock.go
  lib/xchain/provider/provider.go
  lib/xchain/provider/streamer.go
  lib/xchain/types.go
  relayer/app/relayer.go
  relayer/app/relayer_test.go
  relayer/app/types.go
  relayer/app/types_test.go
  test/e2e/runner/contract.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): connect halo xprovider to anvil
  Makefile
  halo/app/app.go
  halo/app/simnet.go
  lib/cchain/provider/abci.go
  lib/netconf/network.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/provider.go
  relayer/app/relayer.go
  test/e2e/manifests/simple.toml
  test/e2e/manifests/single.toml
  test/e2e/runner/contract.go
  test/e2e/runner/docker/compose.yaml.tmpl
  test/e2e/runner/main.go
  test/e2e/runner/setup.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): connect halo xprovider to anvil (#160)
  Makefile
  halo/app/app.go
  halo/app/simnet.go
  lib/cchain/provider/abci.go
  lib/netconf/network.go
  lib/xchain/provider/fetch.go
  lib/xchain/provider/provider.go
  relayer/app/relayer.go
  test/e2e/manifests/simple.toml
  test/e2e/manifests/single.toml
  test/e2e/runner/contract.go
  test/e2e/runner/docker/compose.yaml.tmpl
  test/e2e/runner/main.go
  test/e2e/runner/setup.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

uses abci provider
  relayer/app/app.go
  relayer/app/config.go
Due: run-go-tests, run-regexp, run-goversion

use real xprovider
  relayer/app/app.go
Due: run-go-tests, run-regexp, run-goversion

fixes import cycle, use real xprovider
  lib/xchain/provider/mock.go
  relayer/app/app.go
  relayer/app/relayer.go
  relayer/app/relayer_test.go
  relayer/app/types.go
Due: run-go-tests, run-regexp, run-goversion

lint
  relayer/app/relayer_test.go
Due: run-go-tests, run-goversion

load pk from config
  relayer/app/app.go
  relayer/app/config.go
Due: run-go-tests, run-regexp, run-goversion

cfg flags
  relayer/app/config.go
  relayer/cmd/cmd.go
  relayer/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

nits
  relayer/app/app.go
  relayer/app/config.go
  relayer/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

feat(app/relayer): run command for relayer (#161)
  lib/xchain/provider/mock.go
  relayer/app/app.go
  relayer/app/config.go
  relayer/app/relayer.go
  relayer/app/relayer_test.go
  relayer/app/sender.go
  relayer/app/types.go
  relayer/cmd/cmd.go
  relayer/cmd/flags.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): integrate real geth omni evm
  go.mod
  halo/app/app.go
  halo/cmd/init.go
  lib/cchain/provider.go
  lib/cchain/provider/provider.go
  lib/netconf/netconf.go
  lib/netconf/testdata/TestSaveLoad.golden
  lib/xchain/provider/fetch.go
  relayer/app/relayer_test.go
  test/e2e/runner/contract.go
  test/e2e/runner/docker/compose.yaml.tmpl
  test/e2e/runner/main.go
  test/e2e/runner/monitor.go
  test/e2e/runner/setup.go
  test/e2e/runner/static/geth_genesis.json
  test/e2e/runner/static/geth_keystore.json
Due: run-go-tests, run-regexp, run-goversion

test(e2e): integrate real geth omni evm (#162)
  go.mod
  halo/app/app.go
  halo/cmd/init.go
  lib/cchain/provider.go
  lib/cchain/provider/provider.go
  lib/netconf/netconf.go
  lib/netconf/testdata/TestSaveLoad.golden
  lib/xchain/provider/fetch.go
  relayer/app/relayer_test.go
  test/e2e/runner/contract.go
  test/e2e/runner/docker/compose.yaml.tmpl
  test/e2e/runner/main.go
  test/e2e/runner/monitor.go
  test/e2e/runner/setup.go
  test/e2e/runner/static/geth_genesis.json
  test/e2e/runner/static/geth_keystore.json
Due: run-go-tests, run-regexp, run-goversion

adding edges
  explorer/db/ent/schema/xblock.go
  explorer/db/ent/schema/xblock_msgs.go
  explorer/db/ent/schema/xblock_receipt.go
Due: run-go-tests, run-regexp, run-goversion

fixing edges, removing tables
  explorer/db/ent/schema/xblock.go
  explorer/db/ent/schema/xblock_msgs.go
  explorer/db/ent/schema/xblock_receipt.go
  explorer/db/ent/schema/xmsg.go
Due: run-go-tests, run-regexp, run-goversion
