Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

refactor(lib/xchain): refactor sigtuple validator pubkey to address
  halo/attest/attest.go
  halo/attest/attest_test.go
  halo/attest/attester.go
  halo/attest/interface.go
  halo/comet/abci.go
  halo/comet/helpers.go
  halo/comet/helpers_internal_test.go
  halo/halopb/v1/translate.go
  halo/halopb/v1/xchain.pb.go
  halo/halopb/v1/xchain.proto
  lib/k1util/k1util.go
  lib/k1util/k1util_test.go
  lib/xchain/types.go
  relayer/app/creator_test.go
  relayer/app/opsender.go
  relayer/app/sender.go
  relayer/app/types.go
  relayer/app/types_test.go
  test/e2e/app/contract.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

refactor(lib/xchain): refactor sigtuple validator pubkey to address (#247)
  halo/attest/attest.go
  halo/attest/attest_test.go
  halo/attest/attester.go
  halo/attest/interface.go
  halo/comet/abci.go
  halo/comet/helpers.go
  halo/comet/helpers_internal_test.go
  halo/halopb/v1/translate.go
  halo/halopb/v1/xchain.pb.go
  halo/halopb/v1/xchain.proto
  lib/k1util/k1util.go
  lib/k1util/k1util_test.go
  lib/xchain/types.go
  relayer/app/creator_test.go
  relayer/app/opsender.go
  relayer/app/sender.go
  relayer/app/types.go
  relayer/app/types_test.go
  test/e2e/app/contract.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(*): remove loop var workarounds
  .golangci.yml
  halo/cmd/cmd_internal_test.go
  halo/comet/abci.go
  lib/log/log_internal_test.go
  lib/log/log_test.go
  lib/log/logger.go
  lib/log/testdata/TestSimpleLogs_console.golden
  relayer/app/creator_test.go
  relayer/app/relayer_test.go
  relayer/app/types.go
  relayer/txmgr/price_bump_test.go
  relayer/txmgr/queue_test.go
  relayer/txmgr/txmgr_test.go
  test/e2e/tests/e2e_test.go
  test/e2e/vmcompose/provider_test.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(explorer/indexer): read and write cursors when streaming xprovider
  explorer/db/ent/entql.go
  explorer/db/ent/internal/schema.go
  explorer/db/ent/migrate/schema.go
  explorer/db/ent/mutation.go
  explorer/db/ent/schema/xproviders_cursor.go
  explorer/db/ent/xprovidercursor.go
  explorer/db/ent/xprovidercursor/where.go
  explorer/db/ent/xprovidercursor/xprovidercursor.go
  explorer/db/ent/xprovidercursor_create.go
  explorer/db/ent/xprovidercursor_update.go
  explorer/indexer/app/app.go
  explorer/indexer/app/db.go
Due: run-go-tests, run-regexp, run-goversion

chore(*): remove loop var workarounds (#248)
  .golangci.yml
  halo/cmd/cmd_internal_test.go
  halo/comet/abci.go
  lib/log/log_internal_test.go
  lib/log/log_test.go
  lib/log/logger.go
  lib/log/testdata/TestSimpleLogs_console.golden
  relayer/app/creator_test.go
  relayer/app/relayer_test.go
  relayer/app/types.go
  relayer/txmgr/price_bump_test.go
  relayer/txmgr/queue_test.go
  relayer/txmgr/txmgr_test.go
  test/e2e/tests/e2e_test.go
  test/e2e/vmcompose/provider_test.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/cmd): make fatal errors more visible
  lib/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion

fixes deadlock and race
  relayer/txmgr/queue.go
  relayer/txmgr/queue_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(relayer/app): introduce worker and active buffer
  go.mod
  halo/app/simnet.go
  relayer/app/app.go
  relayer/app/buffer.go
  relayer/app/metrics.go
  relayer/app/opsender.go
  relayer/app/relayer.go
  relayer/app/relayer_test.go
  relayer/app/sender.go
  relayer/app/types.go
  relayer/app/worker.go
  relayer/txmgr/queue.go
  relayer/txmgr/queue_test.go
  relayer/txmgr/txmgr.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(relayer/app): introduce worker and active buffer (#253)
  go.mod
  halo/app/simnet.go
  relayer/app/app.go
  relayer/app/buffer.go
  relayer/app/metrics.go
  relayer/app/opsender.go
  relayer/app/relayer.go
  relayer/app/relayer_test.go
  relayer/app/sender.go
  relayer/app/types.go
  relayer/app/worker.go
  relayer/txmgr/queue.go
  relayer/txmgr/queue_test.go
  relayer/txmgr/txmgr.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

cleanup opsender
  relayer/app/app.go
  relayer/app/opsender.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/cmd): make fatal errors more visible (#250)
  lib/cmd/cmd.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  relayer/app/opsender.go
Due: run-go-tests, run-regexp, run-goversion

feat(relayer/app): cleanup sender (#254)
  relayer/app/app.go
  relayer/app/opsender.go
Due: run-go-tests, run-regexp, run-goversion

Update db.go
  explorer/indexer/app/db.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): switch staging to goerli
  test/e2e/app/contract.go
  test/e2e/app/definition.go
  test/e2e/cmd/flags.go
  test/e2e/manifests/staging.toml
  test/e2e/netman/manager.go
  test/e2e/types/chain.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): switch staging to goerli (#256)
  test/e2e/app/contract.go
  test/e2e/app/definition.go
  test/e2e/cmd/flags.go
  test/e2e/manifests/staging.toml
  test/e2e/netman/manager.go
  test/e2e/types/chain.go
Due: run-go-tests, run-regexp, run-goversion

chore(*): add some important metrics
  halo/app/app.go
  halo/attest/attester.go
  halo/attest/attester_test.go
  halo/attest/metrics.go
  halo/comet/abci.go
  halo/comet/metrics.go
  halo/comet/state.go
  lib/cchain/provider/abci_test.go
  lib/cchain/provider/metrics.go
  lib/cchain/provider/provider.go
  lib/log/config.go
  lib/log/log.go
  lib/log/logger.go
  lib/log/metrics.go
  lib/netconf/netconf.go
  lib/xchain/provider/metrics.go
  lib/xchain/provider/provider.go
  lib/xchain/provider/streamer.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(explorer/indexer): read and write cursors when streaming xprovider (#249)
  explorer/db/ent/entql.go
  explorer/db/ent/internal/schema.go
  explorer/db/ent/migrate/schema.go
  explorer/db/ent/mutation.go
  explorer/db/ent/schema/xproviders_cursor.go
  explorer/db/ent/xprovidercursor.go
  explorer/db/ent/xprovidercursor/where.go
  explorer/db/ent/xprovidercursor/xprovidercursor.go
  explorer/db/ent/xprovidercursor_create.go
  explorer/db/ent/xprovidercursor_update.go
  explorer/indexer/app/app.go
  explorer/indexer/app/db.go
Due: run-go-tests, run-regexp, run-goversion

chore(*): add some important metrics (#252)
  halo/app/app.go
  halo/attest/attester.go
  halo/attest/attester_test.go
  halo/attest/metrics.go
  halo/comet/abci.go
  halo/comet/metrics.go
  halo/comet/state.go
  lib/cchain/provider/abci_test.go
  lib/cchain/provider/metrics.go
  lib/cchain/provider/provider.go
  lib/log/config.go
  lib/log/log.go
  lib/log/logger.go
  lib/log/metrics.go
  lib/netconf/netconf.go
  lib/xchain/provider/metrics.go
  lib/xchain/provider/provider.go
  lib/xchain/provider/streamer.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

packages
  explorer/ui/.prettierignore
  explorer/ui/.prettierrc
  explorer/ui/app/entry.client.tsx
  explorer/ui/app/tailwind.css
  explorer/ui/codegen.ts
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
  explorer/ui/postcss.config.js
  explorer/ui/tailwind.config.ts
  explorer/ui/tsconfig.json
Due: none

Update entry.server.tsx
  explorer/ui/app/entry.server.tsx
Due: none

init
  explorer/ui/app/components/home/blockDataTable.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/shared/footer.tsx
  explorer/ui/app/components/shared/navbar.tsx
  explorer/ui/app/components/shared/search.tsx
  explorer/ui/app/components/shared/themebutton.tsx
  explorer/ui/app/components/ui/Horizontal_Word Black_Symbol Black.png
  explorer/ui/app/components/ui/Symbol Black.png
  explorer/ui/app/components/ui/Symbol White.png
  explorer/ui/app/root.tsx
  explorer/ui/app/routes/_index.tsx
  explorer/ui/app/tailwind.css
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
  explorer/ui/tailwind.config.ts
Due: none

Update entry.client.tsx
  explorer/ui/app/entry.client.tsx
Due: none

wip: cosmos modules
  go.mod
  go.sum
  halo/cosmos/cosmos.go
Due: run-go-tests, run-regexp, run-goversion

wip: cosmos modules
  go.mod
  go.sum
  halo/comet/abci.go
  halo/comet/app.go
  halo/comet/helpers.go
  halo/comet/staking.go
  halo/cosmos/cosmos.go
Due: run-go-tests, run-regexp, run-goversion

feat(relayer): add valsetid to submission and fix creator
  lib/xchain/types.go
  relayer/app/creator.go
  relayer/app/creator_test.go
  relayer/app/types.go
  relayer/app/types_test.go
  relayer/app/worker.go
Due: run-go-tests, run-regexp, run-goversion

fix creator test
  relayer/app/creator_test.go
  relayer/app/types.go
Due: run-go-tests, run-regexp, run-goversion

test(e2e): fix vmcompose for staging
  test/e2e/app/cleanup.go
  test/e2e/app/definition.go
  test/e2e/app/setup.go
  test/e2e/docker/compose.yaml.tmpl
  test/e2e/docker/docker.go
  test/e2e/docker/testdata/TestComposeTemplate.golden
  test/e2e/types/infra.go
  test/e2e/vmcompose/data.go
  test/e2e/vmcompose/provider.go
  test/e2e/vmcompose/testdata/TestSetup_127_0_0_1_compose.yaml.golden
  test/e2e/vmcompose/testdata/TestSetup_127_0_0_2_compose.yaml.golden
  test/e2e/vmcompose/testdata/TestSetup_127_0_0_3_compose.yaml.golden
Due: run-go-tests, run-regexp, run-goversion

cleanup
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

tests creator in callback test
  relayer/app/relayer_test.go
Due: run-go-tests, run-goversion

feat(relayer): add valsetid to submission and fix creator (#263)
  lib/xchain/types.go
  relayer/app/creator.go
  relayer/app/creator_test.go
  relayer/app/relayer_test.go
  relayer/app/types.go
  relayer/app/types_test.go
  relayer/app/worker.go
Due: run-go-tests, run-regexp, run-goversion

wip docker compose
  test/e2e/manifests/staging.json
  test/e2e/manifests/staging.toml
  test/e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

removing duplicate packages, pure tailwind now
  explorer/ui/app/components/home/blockDataTable.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/shared/navbar.tsx
  explorer/ui/app/entry.client.tsx
  explorer/ui/app/routes/_index.tsx
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
  explorer/ui/tailwind.config.ts
Due: none

cleanup
  test/e2e/app/definition.go
  test/e2e/app/setup.go
  test/e2e/docker/compose.yaml.tmpl
  test/e2e/manifests/staging.json
  test/e2e/vmcompose/provider.go
  test/e2e/vmcompose/testdata/TestSetup_127_0_0_1_compose.yaml.golden
  test/e2e/vmcompose/testdata/TestSetup_127_0_0_2_compose.yaml.golden
Due: run-go-tests, run-regexp, run-goversion

cleanup
  test/e2e/docker/testdata/TestComposeTemplate.golden
Due: none

prettier and fixing hydrate
  explorer/ui/.eslintrc.cjs
  explorer/ui/.prettierignore
  explorer/ui/.prettierrc
  explorer/ui/app/components/home/blockDataTable.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/shared/footer.tsx
  explorer/ui/app/components/shared/navbar.tsx
  explorer/ui/app/components/shared/search.tsx
  explorer/ui/app/components/shared/themebutton.tsx
  explorer/ui/app/entry.client.tsx
  explorer/ui/app/entry.server.tsx
  explorer/ui/app/root.tsx
  explorer/ui/app/routes/_index.tsx
  explorer/ui/app/tailwind.css
  explorer/ui/codegen.ts
  explorer/ui/remix.config.js
  explorer/ui/tailwind.config.ts
  explorer/ui/tsconfig.json
Due: none

feat(contracts): verify validator signatures on xsubmit
  contracts/.gas-snapshot
  contracts/bindings/feeoraclev1.go
  contracts/bindings/omniportal.go
  contracts/bindings/renames.go
  contracts/src/interfaces/IOmniPortal.sol
  contracts/src/libraries/Validators.sol
  contracts/src/libraries/XTypes.sol
  contracts/src/protocol/OmniPortal.sol
  contracts/test/OmniPortal_xsubmit.t.sol
  contracts/test/common/Fixtures.sol
  contracts/test/common/TestPortal.sol
  relayer/app/types.go
  relayer/app/types_test.go
  test/e2e/app/run.go
  test/e2e/netman/helpers.go
  test/e2e/netman/manager.go
Due: run-go-tests, run-regexp, run-goversion

return error
  test/e2e/app/run.go
Due: run-go-tests, run-regexp, run-goversion

update comment
  contracts/.gas-snapshot
  contracts/test/OmniPortal_xsubmit.t.sol
Due: none

Path conditions:
  run-go-tests: any of: \.go$
  run-regexp: any of: \.go$, but not: _test.go
  run-goversion: any of: \.go$
