Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # No large files
        exclude: "(lib/netconf/.*/.*|contracts/allocs/.*)"
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|lib/netconf/.*/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yaml for config
    rev: v1.60.3
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]

      - id: run-golint
        name: run-golint
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_golint.sh
        types: [ file, go ]

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

remove ephemeral network check on bridge deploy cmd
  e2e/cmd/cmd.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(e2e/cmd): remove ephemeral network check on bridge deploy (#2391)
  e2e/cmd/cmd.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(contracts/core): disable intializers
  contracts/core/.gas-snapshot
  contracts/core/src/solve/Inbox.sol
  contracts/core/src/solve/Outbox.sol
  contracts/core/test/solve/InboxBase.sol
  contracts/core/test/solve/Inbox_accept.t.sol
  contracts/core/test/solve/Inbox_cancel.t.sol
  contracts/core/test/solve/Inbox_reject.t.sol
  contracts/core/test/solve/Inbox_request.t.sol
  contracts/core/test/solve/Outbox_fulfill.t.sol
Due: none

chore(contracts/core): disable intializers (#2392)
  contracts/core/.gas-snapshot
  contracts/core/src/solve/Inbox.sol
  contracts/core/src/solve/Outbox.sol
  contracts/core/test/solve/InboxBase.sol
  contracts/core/test/solve/Inbox_accept.t.sol
  contracts/core/test/solve/Inbox_cancel.t.sol
  contracts/core/test/solve/Inbox_reject.t.sol
  contracts/core/test/solve/Inbox_request.t.sol
  contracts/core/test/solve/Outbox_fulfill.t.sol
Due: none

chore(contracts/core): cleanup
  contracts/core/.gas-snapshot
  contracts/core/src/libraries/TypeMax.sol
  contracts/core/src/solve/Outbox.sol
Due: none

fix(README): fix badge links
  README.md
Due: none

chore(contracts/core): cleanup (#2393)
  contracts/core/.gas-snapshot
  contracts/core/src/libraries/TypeMax.sol
  contracts/core/src/solve/Outbox.sol
Due: none

chore(contracts/core): fillout inbox interface
  contracts/core/src/solve/Inbox.sol
  contracts/core/src/solve/interfaces/IInbox.sol
  contracts/core/test/solve/Outbox_fulfill.t.sol
Due: none

fix(README): fix badge links (#2394)
  README.md
Due: none

chore(contracts/core): fillout inbox interface (#2395)
  contracts/core/src/solve/Inbox.sol
  contracts/core/src/solve/interfaces/IInbox.sol
  contracts/core/test/solve/Outbox_fulfill.t.sol
Due: none

chore(contracts): add solve bindings
  contracts/Makefile
  contracts/bindings/solveinbox.go
  contracts/bindings/solveoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/src/solve/SolveInbox.sol
  contracts/core/src/solve/SolveOutbox.sol
  contracts/core/src/solve/interfaces/ISolveInbox.sol
  contracts/core/test/solve/InboxBase.sol
  contracts/core/test/solve/Inbox_accept.t.sol
  contracts/core/test/solve/Inbox_cancel.t.sol
  contracts/core/test/solve/Inbox_reject.t.sol
  contracts/core/test/solve/Inbox_request.t.sol
  contracts/core/test/solve/Outbox_fulfill.t.sol
Due: run-go-tests, run-golint, run-goversion

Update README.md
  README.md
Due: none

chore(readme): update readme (#2398)
  README.md
Due: none

chore(scripts/join): avoid building images
  .github/workflows/ci-join.yaml
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-goversion

chore(scripts/join): avoid building images (#2388)
  .github/workflows/ci-join.yaml
  scripts/join/join_test.go
Due: run-go-tests, run-golint, run-goversion

chore(contracts): add solve bindings (#2397)
  contracts/Makefile
  contracts/bindings/solveinbox.go
  contracts/bindings/solveoutbox.go
  contracts/core/.gas-snapshot
  contracts/core/src/solve/SolveInbox.sol
  contracts/core/src/solve/SolveOutbox.sol
  contracts/core/src/solve/interfaces/ISolveInbox.sol
  contracts/core/test/solve/InboxBase.sol
  contracts/core/test/solve/Inbox_accept.t.sol
  contracts/core/test/solve/Inbox_cancel.t.sol
  contracts/core/test/solve/Inbox_reject.t.sol
  contracts/core/test/solve/Inbox_request.t.sol
  contracts/core/test/solve/Outbox_fulfill.t.sol
Due: run-go-tests, run-golint, run-goversion

chore(solver): basic architecture
  solver/app/bindings.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver/app): basic event processor (#2386)
  solver/app/bindings.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): add some wiring
  solver/app/app.go
  solver/app/bindings.go
  solver/app/definition.go
  solver/app/deps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix: omega RPC url
  monitor/app/public_rpc.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(monitor/app): fix omega RPC url (#2400)
  monitor/app/public_rpc.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

add staging to IsEthereumChain
  lib/netconf/netconf.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

checking if change broke go-tests workflow
  lib/netconf/netconf.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(*): update anvil state dump
  e2e/app/static/el-anvil-state.json
Due: none

chore(*): update anvil state dump (#2405)
  e2e/app/static/el-anvil-state.json
Due: none

fix(e2e): copy prom config on upgrade
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

reapply change now that anvil state dump is updated
  lib/netconf/netconf.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(lib/netconf): add staging to ethereum chain config return (#2403)
  lib/netconf/netconf.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): copy prometheus config on upgrade
  e2e/app/run.go
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): copy prometheus config on upgrade (#2407)
  e2e/app/run.go
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): fix gcp backup on upgrade
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

ci(e2e): fix gcp backup on upgrade (#2408)
  e2e/vmcompose/provider.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

chore(solver/app): add some wiring (#2399)
  solver/app/app.go
  solver/app/bindings.go
  solver/app/definition.go
  solver/app/deps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(monitor/cmd): rename coingecko flag
  monitor/app/config_test.go
  monitor/app/testdata/default_monitor.toml
  monitor/cmd/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

fix(monitor/cmd): rename coingecko flag (#2409)
  monitor/app/config_test.go
  monitor/app/testdata/default_monitor.toml
  monitor/cmd/flags.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver/app): add cursor db
  lib/xchain/provider/fetch.go
  scripts/buf_generate.sh
  solver/app/app.go
  solver/app/bindings.go
  solver/app/config.go
  solver/app/config_test.go
  solver/app/cursor.go
  solver/app/definition.go
  solver/app/deps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/solver.cosmos_orm.go
  solver/app/solver.pb.go
  solver/app/solver.proto
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

feat(cchain/provider): disable historical caching
  lib/cchain/provider/provider.go
  lib/cchain/provider/provider_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(cchain/provider): disable historical caching (#2411)
  lib/cchain/provider/provider.go
  lib/cchain/provider/provider_test.go
Due: run-go-tests, run-golint, run-regexp, run-goversion

feat(solver/app): add cursor db (#2410)
  lib/xchain/provider/fetch.go
  scripts/buf_generate.sh
  solver/app/app.go
  solver/app/bindings.go
  solver/app/config.go
  solver/app/config_test.go
  solver/app/cursor.go
  solver/app/definition.go
  solver/app/deps.go
  solver/app/processor.go
  solver/app/processor_internal_test.go
  solver/app/solver.cosmos_orm.go
  solver/app/solver.pb.go
  solver/app/solver.proto
Due: run-buf, run-go-tests, run-golint, run-regexp, run-goversion

chore(ci): org foundry version
  .github/actions/goreleaser-snapshot/action.yaml
  .github/actions/setup-foundry/action.yaml
  .github/workflows/check-sol-artifacts.yaml
  .github/workflows/clicommand.yaml
  .github/workflows/e2etestadmin.yaml
  .github/workflows/pr-e2etest.yaml
  .github/workflows/release-snapshot.yaml
  .github/workflows/soltest.yaml
  .goreleaser-snapshot.yaml
  Makefile
  e2e/anvilproxy/Dockerfile
  lib/anvil/anvil.go
  lib/anvil/compose.yaml.tmpl
  scripts/foundry_version.go
  scripts/foundry_version.txt
  scripts/install_foundry.sh
Due: run-go-tests, run-golint, run-regexp, run-goversion
