Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

cleanup
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
Due: none

cleanup
  e2e/app/geth/config.go
  e2e/app/geth/testdata/TestWriteConfigTOML_archive.golden
  e2e/app/geth/testdata/TestWriteConfigTOML_full.golden
Due: run-go-tests, run-regexp, run-goversion

feat(e2e/docker): add port 8546 mapping for Docker Compose template (#1517)
  e2e/app/geth/config.go
  e2e/app/geth/testdata/TestWriteConfigTOML_archive.golden
  e2e/app/geth/testdata/TestWriteConfigTOML_full.golden
  e2e/docker/compose.yaml.tmpl
  e2e/docker/testdata/TestComposeTemplate_commit.golden
  e2e/docker/testdata/TestComposeTemplate_empheral_network.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-1-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-2-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-4-compose.yaml.golden
  e2e/vmcompose/testdata/TestSetup_127-0-0-5-compose.yaml.golden
Due: run-go-tests, run-regexp, run-goversion

cleanup
  cli/cmd/register_test.go
  e2e/app/tokenbridge.go
  e2e/netman/manager.go
  e2e/test/bridge_test.go
  lib/contracts/address.go
  lib/contracts/create3/deploy.go
  lib/contracts/feeoraclev1/deploy.go
  lib/contracts/l1bridge/deploy.go
  lib/contracts/omnitoken/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/netconf/netconf_test.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  lib/contracts/address_test.go
  lib/contracts/testdata/TestContractAddressReference.golden
Due: run-go-tests, run-goversion

chore(lib/contracts): cleanup deployment configs (#1522)
  cli/cmd/register_test.go
  e2e/app/tokenbridge.go
  e2e/netman/manager.go
  e2e/test/bridge_test.go
  lib/contracts/address.go
  lib/contracts/address_test.go
  lib/contracts/create3/deploy.go
  lib/contracts/feeoraclev1/deploy.go
  lib/contracts/l1bridge/deploy.go
  lib/contracts/omnitoken/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/contracts/testdata/TestContractAddressReference.golden
  lib/netconf/netconf_test.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): add attest interval golden file (#1523)
  e2e/types/testdata/TestAttestIntervals.golden
  e2e/types/testnet_test.go
  halo/evmstaking/evmstaking.go
  lib/evmchain/evmchain.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): support restarts
  .golangci.yml
  e2e/app/definition_test.go
  e2e/app/run.go
  e2e/app/testdata/TestManifestServiceReference.golden
  e2e/cmd/cmd.go
  e2e/cmd/flags.go
  e2e/docker/docker.go
  e2e/types/infra.go
  e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

chore(monitor/emitcache): fetch cursors in parallel
  monitor/xmonitor/emitcache/emitcursorcache.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/cchain): expose cprovider comet rpc clienty
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
Due: run-go-tests, run-regexp, run-goversion

chore(lib/cchain): expose cprovider comet rpc client (#1529)
  lib/cchain/provider.go
  lib/cchain/provider/abci.go
  lib/cchain/provider/provider.go
Due: run-go-tests, run-regexp, run-goversion

pr comments
  docs/site/docs/develop/state.md
  docs/site/docs/develop/testnet/resources.md
  docs/site/docs/develop/xchain-messaging.md
  docs/site/docs/protocol/xmessages/xmsg.md
Due: none

chore(lib): set mainnet chain ID to 166
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): update evm and xcall docs (#1520)
  docs/site/docs/develop/contracts.md
  docs/site/docs/develop/introduction.md
  docs/site/docs/develop/omni-evm.md
  docs/site/docs/develop/state.md
  docs/site/docs/develop/testnet/resources.md
  docs/site/docs/develop/xchain-messaging.md
  docs/site/docs/learn/building.md
  docs/site/docs/protocol/xmessages/components/portals.md
  docs/site/docs/protocol/xmessages/xmsg.md
  docs/site/docs/tools/cli/developer.md
  docs/site/docs/tools/contracts/contracts.md
  docs/site/sidebars.ts
Due: none

fix(e2e/admin): return error on any failures
  e2e/app/admin/common.go
Due: run-go-tests, run-regexp, run-goversion

fix(e2e/admin): return error on any failures (#1533)
  e2e/app/admin/common.go
Due: run-go-tests, run-regexp, run-goversion

ci(e2e): support restarts (#1527)
  .golangci.yml
  e2e/app/definition_test.go
  e2e/app/run.go
  e2e/app/testdata/TestManifestServiceReference.golden
  e2e/cmd/cmd.go
  e2e/cmd/flags.go
  e2e/docker/docker.go
  e2e/types/infra.go
  e2e/vmcompose/provider.go
Due: run-go-tests, run-regexp, run-goversion

feat(cli/init): populate address book to bootstrap peers (#1525)
  cli/cmd/operator.go
  halo/cmd/init.go
Due: run-go-tests, run-regexp, run-goversion

chore(monitor/emitcache): fetch cursors in parallel (#1528)
  monitor/xmonitor/emitcache/emitcursorcache.go
Due: run-go-tests, run-regexp, run-goversion

refactor(halo/attest): dont delete dependant attestations
  halo/app/app_config.go
  halo/attest/keeper/common_test.go
  halo/attest/keeper/helper.go
  halo/attest/keeper/keeper.go
  halo/attest/module/module.go
  halo/attest/module/module.proto
  halo/attest/module/module.pulsar.go
  halo/registry/keeper/cache.go
  halo/registry/types/interface.go
  lib/xchain/conflevel_string.go
  lib/xchain/provider/fetch.go
  lib/xchain/types.go
  lib/xchain/types_internal_test.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

fix boolean logic, fix test
  halo/attest/keeper/common_test.go
  halo/attest/keeper/keeper.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/netconf): update omega version, and enable deployment
  e2e/app/run.go
  lib/contracts/testdata/TestContractAddressReference.golden
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

feat(lib/netconf): update omega version (#1534)
  e2e/app/run.go
  lib/contracts/testdata/TestContractAddressReference.golden
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e/manifests): unpin halo version
  e2e/manifests/omega.toml
Due: none

chore(e2e/manifests): unpin halo version (#1535)
  e2e/manifests/omega.toml
Due: none

chore(lib): set mainnet chain ID to 166 (#1530)
  lib/netconf/static.go
Due: run-go-tests, run-regexp, run-goversion

add tests
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/common_test.go
  halo/attest/keeper/helper.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/testutil/expected_interfaces.go
  halo/attest/testutil/mock_interfaces.go
Due: run-go-tests, run-regexp, run-goversion

refactor(halo/attest): dont delete dependant attestations (#1531)
  halo/app/app_config.go
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/common_test.go
  halo/attest/keeper/helper.go
  halo/attest/keeper/keeper.go
  halo/attest/keeper/keeper_test.go
  halo/attest/module/module.go
  halo/attest/module/module.proto
  halo/attest/module/module.pulsar.go
  halo/attest/testutil/expected_interfaces.go
  halo/attest/testutil/mock_interfaces.go
  halo/registry/keeper/cache.go
  halo/registry/types/interface.go
  lib/xchain/conflevel_string.go
  lib/xchain/provider/fetch.go
  lib/xchain/types.go
  lib/xchain/types_internal_test.go
Due: run-buf, run-go-tests, run-regexp, run-goversion

feat(attest): only store the most recent attestations
  halo/app/app_config.go
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/keeper_test.go
Due: run-go-tests, run-regexp, run-goversion

feat(attest): only store the most recent attestations in state (#1404)
  halo/app/app_config.go
  halo/attest/keeper/builder_test.go
  halo/attest/keeper/keeper_test.go
Due: run-go-tests, run-regexp, run-goversion

fix template commit
  cli/cmd/develop.go
Due: run-go-tests, run-regexp, run-goversion

fix quickstart docs with new template update
  docs/site/docs/develop/quickstart/quickstart.md
Due: none

fix(cli): template commit (#1547)
  cli/cmd/develop.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): update quickstart docs with new template update (#1548)
  docs/site/docs/develop/quickstart/quickstart.md
Due: none

update release docs
  docs/release.md
Due: none

remove docs/images subdir
  README.md
  static/omni_banner.png
Due: none

chore(docs): cleanup statics (#1555)
  README.md
  static/omni_banner.png
Due: none
