Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-go-tests, run-regexp, run-goversion

run-go-tests:
  name: run-go-tests
  language: script
  entry: .pre-commit/run_go_tests.sh

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

refactor(halo/comet): rename app receiver (#117)
  halo/comet/abci.go
  halo/comet/app.go
Due: run-go-tests, run-regexp, run-goversion

ci(refactor): no-parallel pre-commit for golangcilint and gotests
  .pre-commit-config.yaml
Due: none

feat(halo/cmd): improve init command
  halo/app/config.go
  halo/cmd/init.go
  halo/cmd/init_internal_test.go
  halo/cmd/testdata/TestCLIReference_halo.golden
  halo/cmd/testdata/TestCLIReference_init.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
Due: run-go-tests, run-regexp, run-goversion

linter happy
  relayer/app/creator.go
  relayer/app/sender.go
  relayer/app/types.go
  relayer/app/types_test.go
Due: run-go-tests, run-regexp, run-goversion

comm
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  relayer/app/creator.go
  relayer/app/creator_test.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  relayer/app/creator_test.go
Due: run-go-tests, run-goversion

add slack notify
  .github/workflows/slack.yml
Due: none

ci(*): notify slack on ci failures (#128)
  .github/workflows/slack.yml
Due: none

fix recursive runs
  .github/workflows/slack.yml
Due: none

add metadata to notification
  .github/workflows/slack.yml
Due: none

fix(ci): update slack notify workflow (#129)
  .github/workflows/slack.yml
Due: none

use native slack notifier
  .github/workflows/slack.yml
Due: none

naming
  .github/workflows/goreleaser.yml
  .goreleaser.yaml
Due: none

fix(ci): use native slack action (#130)
  .github/workflows/slack.yml
Due: none

feat(halo/cmd): improve init command (#125)
  halo/app/config.go
  halo/cmd/init.go
  halo/cmd/init_internal_test.go
  halo/cmd/testdata/TestCLIReference_halo.golden
  halo/cmd/testdata/TestCLIReference_init.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
Due: run-go-tests, run-regexp, run-goversion

ci(refactor): no-parallel for golangcilint and gotests (#124)
  .pre-commit-config.yaml
Due: none

fix(halo/comet): fix aggregation bug
  .golangci.yml
  .pre-commit-config.yaml
  halo/comet/helpers.go
  halo/comet/helpers_internal_test.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(halo/comet): fix aggregation bug
  .pre-commit-config.yaml
  halo/comet/helpers_internal_test.go
Due: run-go-tests, run-goversion

cleanup
  halo/comet/helpers_internal_test.go
Due: run-go-tests, run-goversion

fix(xchain/provider): support restarting simnet
  halo/comet/abci.go
  lib/log/attrs.go
  lib/xchain/provider/mock.go
  lib/xchain/provider/mock_internal_test.go
  relayer/app/relayer.go
Due: run-go-tests, run-regexp, run-goversion

ci(goreleaser): github workflow fixing image names (#123)
  .github/workflows/goreleaser.yml
  .goreleaser.yaml
Due: none

fix(halo/comet): fix aggregation bug (#131)
  .golangci.yml
  halo/comet/helpers.go
  halo/comet/helpers_internal_test.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

fix(xchain/provider): support restarting simnet (#132)
  halo/comet/abci.go
  lib/log/attrs.go
  lib/xchain/provider/mock.go
  lib/xchain/provider/mock_internal_test.go
  relayer/app/relayer.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/app): run halo simnet
  halo/app/app.go
  halo/app/cmtlog.go
  halo/app/config.go
  halo/app/simnet.go
  halo/cmd/cmd.go
  halo/cmd/cometconfig.go
  halo/cmd/flags.go
  halo/cmd/init.go
  halo/cmd/init_internal_test.go
  halo/cmd/testdata/TestCLIReference_init.golden
  halo/cmd/testdata/TestInitFiles.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/comet/abci.go
  lib/netconf/netconf.go
  lib/netconf/network.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/app): run halo simnet (#126)
  halo/app/app.go
  halo/app/cmtlog.go
  halo/app/config.go
  halo/app/simnet.go
  halo/cmd/cmd.go
  halo/cmd/cometconfig.go
  halo/cmd/flags.go
  halo/cmd/init.go
  halo/cmd/init_internal_test.go
  halo/cmd/testdata/TestCLIReference_init.golden
  halo/cmd/testdata/TestInitFiles.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/comet/abci.go
  lib/netconf/netconf.go
  lib/netconf/network.go
Due: run-go-tests, run-regexp, run-goversion

feat(halo/attest): fix attester design
  .golangci.yml
  halo/app/app.go
  halo/attest/attester.go
  halo/attest/attester_internal_test.go
  halo/attest/attester_test.go
  halo/attest/interface.go
  halo/attest/statefile.go
  halo/attest/statefile_internal_test.go
  halo/comet/abci.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

cleanup and DI
  lib/xchain/types.go
  relayer/app/creator.go
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

feat(app/relayer): sender impl (#127)
  lib/xchain/types.go
  relayer/app/creator.go
  relayer/app/creator_test.go
  relayer/app/sender.go
  relayer/app/types.go
  relayer/app/types_test.go
Due: run-go-tests, run-regexp, run-goversion

tests grouping by chain id for multiple subs
  relayer/app/creator.go
  relayer/app/creator_test.go
Due: run-go-tests, run-regexp, run-goversion

linter happy
  relayer/app/creator_test.go
Due: run-go-tests, run-goversion

feat(halo/attest): fix attester design (#133)
  .golangci.yml
  halo/app/app.go
  halo/attest/attester.go
  halo/attest/attester_internal_test.go
  halo/attest/attester_test.go
  halo/attest/interface.go
  halo/attest/statefile.go
  halo/attest/statefile_internal_test.go
  halo/comet/abci.go
  test/smoke/smoke_test.go
Due: run-go-tests, run-regexp, run-goversion

ref name
  relayer/app/sender.go
Due: run-go-tests, run-regexp, run-goversion

additional assertion
  relayer/app/creator_test.go
Due: run-go-tests, run-goversion

linter
  relayer/app/creator_test.go
Due: run-go-tests, run-goversion

fuzz chance
  relayer/app/creator_test.go
Due: run-go-tests, run-goversion

feat(app/relayer): creator test improv (#134)
  relayer/app/creator.go
  relayer/app/creator_test.go
Due: run-go-tests, run-regexp, run-goversion

Path conditions:
  run-go-tests: any of: \.go$
  run-regexp: any of: \.go$, but not: _test.go
  run-goversion: any of: \.go$
