Repository omni-network/omni: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-buf, run-go-tests, run-regexp, run-goversion

.pre-commit-config.yaml:

repos:
  # First check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: "(pnpm-lock.yaml|testdata|static|config.json)"

  # Then run code formatters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files # No large files
      - id: trailing-whitespace # trims trailing whitespace
        exclude: "testdata"
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline
        exclude_types: ["proto"]
        exclude: "(testdata|.gas-snapshot|buf.gen.yaml|explorer/ui/app/graphql/.*)"
      - id: mixed-line-ending # ensures that a file doesn't contain a mix of LF and CRLF
      - id: no-commit-to-branch # Protect specific branches (default: main/master) from direct checkins

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy # Run go mod tidy when go.mod changes
        files: go.mod
      - id: go-fmt
        args: [ -w, -s ] # simplify code and write result to (source) file instead of stdout

  - repo: local
    hooks:
     - id: run-forge-fmt
       name: run-forge-fmt
       language: script
       entry: .pre-commit/run_forge_fmt.sh
       types: [ file, solidity ]
       require_serial: true

  # Then run code validators (on the formatted code)

  - repo: https://github.com/golangci/golangci-lint # See .golangci.yml for config
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        require_serial: true # Don't run this in parallel
        # Lint all go files in the repo, since this aligns with github actions.
        entry: golangci-lint run --fix

  - repo: local
    hooks:
      - id: run-buf
        name: run-buf
        language: script
        entry: .pre-commit/run_buf.sh
        types: [ file, proto ]
        pass_filenames: false

      - id: run-go-tests
        name: run-go-tests
        language: script
        require_serial: true # Don't run this in parallel
        entry: .pre-commit/run_go_tests.sh
        types: [ file, go ]
        exclude: "(explorer/db/ent/internal/.*)"

      - id: run-forge-tests
        name: run-forge-tests
        language: script
        entry: .pre-commit/run_forge_tests.sh
        types: [ file, solidity ]
        require_serial: true

      - id: run-regexp
        name: run-regexp
        language: script
        entry: .pre-commit/run_regexp.sh
        types: [ file, go ]
        exclude: "(_test.go|contracts/bindings/.*|explorer/db/ent|scripts/)"

      - id: run-goversion
        name: run-goversion
        language: script
        entry: .pre-commit/run_goversion.sh
        pass_filenames: false
        types: [ file, go ]

      - id: run-solhint
        name: run-solhint
        language: script
        entry: .pre-commit/run_solhint.sh
        types: [ file, solidity ]
        require_serial: true

fix(scripts): fix uluwatu image tag
  scripts/halovisor/build.sh
Due: none

chore(monitor): use gwei in fee total metrics (#2011)
  monitor/xmonitor/indexer/metrics.go
Due: run-go-tests, run-regexp, run-goversion

fix(test): require non zero rand price
  lib/tokens/coingecko/coingecko_test.go
Due: run-go-tests, run-goversion

fix(test): require non zero rand price (#2025)
  lib/tokens/coingecko/coingecko_test.go
Due: run-go-tests, run-goversion

fix typo
  docs/content/operate/1-run-full-node.md
Due: none

fix
  docs/content/operate/1-run-full-node.md
Due: none

chore(readme): add dev env setup instructions
  README.md
Due: none

chore(readme): add dev env setup instructions (#2030)
  README.md
Due: none

chore(readme): improve dev env setup instructions
  README.md
Due: none

chore(readme): improve dev env setup instructions (#2031)
  README.md
Due: none

chore(docs): fix typo (#2029)
  docs/content/operate/1-run-full-node.md
Due: none

ci(halo): enable RPCs for docker
  halo/app/start.go
  halo/cmd/cometconfig.go
  halo/cmd/testdata/TestCLIReference_rollback.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/config/config.go
  halo/config/testdata/default_halo.toml
Due: run-go-tests, run-regexp, run-goversion

cleanup
  halo/app/start_test.go
  halo/app/upgrades.go
  halo/app/upgrades/uluwatu/upgrade.go
Due: run-go-tests, run-regexp, run-goversion

cleanup
  e2e/app/admin/allowoperator.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e/admin): add galaxy to validator allow list (#2037)
  e2e/app/admin/allowoperator.go
Due: run-go-tests, run-regexp, run-goversion

chore(docs): quick fix
  docs/content/operate/4-roadmap.md
Due: none

Update docs/content/faq.md
  docs/content/faq.md
Due: none

ci(halo): enable RPCs for docker (#2036)
  halo/app/start.go
  halo/cmd/cometconfig.go
  halo/cmd/testdata/TestCLIReference_rollback.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/config/config.go
  halo/config/testdata/default_halo.toml
Due: run-go-tests, run-regexp, run-goversion

feat(halo/uluwatu): update slashing params (#2024)
  halo/app/start_test.go
  halo/app/upgrades.go
  halo/app/upgrades/uluwatu/upgrade.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): add plan upgrade admin action
  e2e/app/admin/allowoperator.go
  e2e/app/admin/planupgrade.go
  e2e/cmd/admin.go
  e2e/manifests/staging.toml
Due: run-go-tests, run-regexp, run-goversion

chore(halo): start RPCs before comet (#2039)
  halo/app/start.go
  halo/cmd/cometconfig.go
  halo/cmd/testdata/TestCLIReference_rollback.golden
  halo/cmd/testdata/TestCLIReference_run.golden
  halo/cmd/testdata/TestRunCmd_defaults.golden
  halo/cmd/testdata/TestRunCmd_flags.golden
  halo/cmd/testdata/TestRunCmd_json_files.golden
  halo/cmd/testdata/TestRunCmd_toml_files.golden
  halo/config/config.go
  halo/config/testdata/default_halo.toml
Due: run-go-tests, run-regexp, run-goversion

cleanup
  halo/attest/keeper/attestation.pb.go
  halo/portal/keeper/portal.pb.go
  halo/registry/keeper/registry.pb.go
  halo/valsync/keeper/valsync.pb.go
  monitor/xmonitor/emitcache/emitcursor.pb.go
  monitor/xmonitor/indexer/indexer.pb.go
  octane/evmengine/keeper/evmengine.pb.go
Due: run-go-tests, run-regexp, run-goversion

chore(e2e): add plan upgrade admin action (#2040)
  e2e/app/admin/allowoperator.go
  e2e/app/admin/planupgrade.go
  e2e/cmd/admin.go
  e2e/manifests/staging.toml
Due: run-go-tests, run-regexp, run-goversion

cleanup
  .github/workflows/check-sol-artifacts.yml
Due: none

test(e2e): pin foundary image (#2041)
  .github/workflows/check-sol-artifacts.yml
Due: none

chore(docs): add pre-EIP155 faq (#2017)
  docs/content/faq.md
Due: none

chore(docs): fix token display (#2038)
  docs/content/operate/4-roadmap.md
Due: none

fix(monitor): do not exit on failed staging connection
  monitor/app/app.go
  monitor/contract/monitor.go
Due: run-go-tests, run-regexp, run-goversion

fix(monitor): do not exit on failed staging connection (#2034)
  monitor/app/app.go
  monitor/contract/monitor.go
Due: run-go-tests, run-regexp, run-goversion

docs(operator): add rollback faq
  docs/content/operate/5-faq.md
Due: none

docs(operator): add rollback faq (#2042)
  docs/content/operate/5-faq.md
Due: none

fix(lib) execute latency metric in offset history
  lib/cchain/provider/abci.go
Due: run-go-tests, run-regexp, run-goversion

fix(lib): execute latency metric in offset history
  lib/cchain/provider/abci.go
Due: run-go-tests, run-regexp, run-goversion

chore(monitor): instrument planned upgrades
  halo/app/start_test.go
  lib/cchain/provider.go
  lib/cchain/provider/provider.go
  monitor/app/app.go
  monitor/app/metrics.go
  monitor/app/upgrade.go
Due: run-go-tests, run-regexp, run-goversion

update docs
  README.md
  docs/content/build/1-quickstart.md
Due: none

chore(docs): update readme (#2048)
  README.md
  docs/content/build/1-quickstart.md
Due: none

simplify setup process
  Makefile
  README.md
Due: none
